[2016-05-30 07:50] MarcMueltin opened #5348 "Link image to a document"
How can I easily link an image to an uploaded file?

I can either insert an image via the bootstrap image plugin or a file (Filer plugin). But there is no filed which lets me choose to optionally link that image to a file.
A "hack" would be to do both, copy the link from the file in the source code and then add a link tag around the image with the link to the file. There must be a better way, righ

[2016-05-30 08:38] FinalAngel commented on #5348
@MarcMueltin please place your question in Mailing List, IRC or the Divio Academy HipChat channel: https://www.django-cms.org/en/support/

To answer your question: just simply create a link plugin and nest it with an image:
http://d.pr/v/15lVH

[2016-05-30 08:50] MarcMueltin commented on #5348
Oh, I think I was not expressing myself clear enough: I want to do this within the Generic text plugin, because there I can access the other plugins as well. Or is that not possible? Thanks for the screencast by the way.

[2016-05-30 09:03] retailify opened #5349 ""Create Page" not translated on djangoCMS 3.3.0"
Please look at the Screenshot.

![bildschirmfoto 2016-05-30 um 11 00 13](https://cloud.githubusercontent.com/assets/5236353/15644954/232f2c40-2656-11e6-97e4-3d0a97c99042.png)

[2016-05-30 09:10] FinalAngel commented on #5348
@MarcMueltin we do not have yet the mechanic there to allow further nesting inside the text plugin. You can propose a feature request in: https://github.com/divio/djangocms-text-ckeditor. You can use the filer image plugin for this: http://d.pr/v/17Pf4

[2016-05-30 09:14] FinalAngel commented on #5349
@mkoistinen the string "Create Page" is now showing on Transifex. Am I missing something?

[2016-05-30 11:01] kartikdanidhariya opened #5350 "how we access language_code (current language) in cms_plugin.py in django_cms"
hi,
my django_cms == 3.2.3
django == 1.8.10

my cms_plugins.py is

from .models import *
from cms.utils import get_language_from_request
from django.contrib import admin

class FaqPlugin(CMSPluginBase):

    name = _("Faq Plugin")
    render_template = "faq/faq_list.html"

    def render(self, context, instance, placeholder):

	faqs = Faq.objects.language('fr').filter(status="published")
        l

[2016-05-30 11:52] yakky commented on #5350
Please, do not post support question, but refer to IRC channel / mailing list etc (see https://www.django-cms.org/en/support/)

[2016-05-30 11:52] #5350 closed

[2016-05-30 13:57] razisayyed opened #5351 "multi site menu conflict"
Hi,

I am testing multisite installation using django-cms 3.0

I have two sites:
  - eng.example.com
  - law.example.com

everything works fine, I can login and add pages/plugins for each site. The problem is when I switch between the sites like following:

  1. I am in site law.example.com
  2. I expand the pages tree
  3. I change the page tree to eng.example.com.
  4. I collapse the admin panel

[2016-05-30 14:23] mkoistinen commented on #5346
Also, I should clarify that all menu items need to be part of the same "tree", meaning that they're all connected in a graph. So, if you wish to add some nodes that aren't pages, this is fine, but they need to be the children of some page, even if it is your root page.

[2016-05-30 14:25] FinalAngel commented on #5346
@Eraldo ist that sufficient for you?

[2016-05-30 15:26] czpython commented on #5351
Thanks for reporting.
This is known bug https://github.com/divio/django-cms/issues/5310

[2016-05-30 15:26] #5351 closed

[2016-05-30 21:16] czpython commented on #5348
Closing as it's not a CMS issue. Please re-open in djangocms-text-ckeditor.

[2016-05-30 21:16] #5348 closed

[2016-05-31 07:39] retailify opened #5352 "Translation missing"
Hi everybody,

if the CMS contains no pages, there are missing german translations.
See Screenshot 1:
a) Page Tree
b) Main Navigation
c) There is no page around yet.
d) + Add page now.
e) "New" Seite (Button on the right side)

![bildschirmfoto 2016-05-31 um 09 30 42](https://cloud.githubusercontent.com/assets/5236353/15666747/c31bb770-2712-11e6-9ea4-433398500ac6.png)
Screenshot 1

f) "Restore del

[2016-05-31 08:02] retailify opened #5353 "German translation issues in "static placeholders" djangoCMS 3.3.0"
Hi everybody,

there are translation issues in the static placeholder modul. See screenshot.
a) erstellungs_methode
b) Bei Code
c) Bei Vorlage
d) Nach site

![bildschirmfoto 2016-05-31 um 09 57 52](https://cloud.githubusercontent.com/assets/5236353/15667421/705d2bc8-2716-11e6-8a01-fd3f32bb5a7c.png)

[2016-05-31 08:17] retailify opened #5354 "German Translation missing in page tree -> legend djangoCMS 3.3.0"
Hi everybody,

there are missing translations in the page tree (Legend). see screenshot 1.

![bildschirmfoto 2016-05-31 um 10 12 03](https://cloud.githubusercontent.com/assets/5236353/15667814/7543ac64-2718-11e6-88da-0db1400dbb56.png)
Screenshot 1

Please translate "Menu" => "Menü" also (see screenshot 2)
![bildschirmfoto 2016-05-31 um 10 15 52](https://cloud.githubusercontent.com/assets/5236353/1

[2016-05-31 15:44] macolo commented on #5085
Thanks, saved my life for the second time now.

[2016-05-31 15:57] leesolway commented on #5344
Same issues, fixed as above

[2016-06-01 01:37] czpython commented on #5353
Closed in favor of https://github.com/divio/django-cms/issues/5352

[2016-06-01 01:37] #5353 closed

[2016-06-01 01:37] czpython commented on #5354
Closed in favor of https://github.com/divio/django-cms/issues/5352

[2016-06-01 01:37] #5354 closed

[2016-06-01 06:08] FinalAngel commented on #5349
Closing in favour of #5352

[2016-06-01 06:08] #5349 closed

[2016-06-01 10:45] Eraldo opened #5357 "apphook not respecting app_name in defined urls.py"
## Summary

I have an `app` that comes with it's own `namespace` baked into the app.
That works nicely on it's own.
I tried to convert that app into an apphook app.
I ended up getting an error that the namespace was not registered.

## What I did

I included the apps urls into my apphook:
[code]

[code]
Reference: https://docs.djangoproject.com/en/1.9/topics/http/urls/#url-namespaces-and-included-

[2016-06-01 11:26] yakky commented on #5357
You need to integrate the ``app_name`` attribute in the apphook class. See `class FaqApp(CMSConfigApp):`` in http://django-cms.readthedocs.io/en/release-3.3.x/how_to/namespaced_apphooks.html

[2016-06-01 18:38] #5357 closed

[2016-06-02 06:56] Eraldo commented on #5357
Yes @yakky as I wrote in my conclusion section.. I do know that part:

Can you please comment on what I wrote, so I understand it better?

[2016-06-02 07:23] macolo opened #5358 "Set .cms-toolbar-expanded on html element before the toolbar is animated"
Currently it seems not possible to animate any page content simultaneously with the show/hide animation of the DjangoCMS toolbar. Currently, first the DjangoCMS toolbar closes and then the page content is animated.

Expected behaviour: First the `cms-toolbar-expanded ` class is set or removed from `html` and then the DjangoCMS toolbar is expanded or retracted.

Example: The following overwrites ar

[2016-06-02 07:52] vxsx commented on #5358
http://docs.django-cms.org/en/release-3.3.x/how_to/toolbar.html#frontend

We have `cms-toolbar-expanding` and `cms-toolbar-collapsing` classes for that.

It should be possible to use them to achieve desired effect.

[2016-06-02 08:28] vxsx commented on #3028
Should be fixed by #5360

[2016-06-02 08:28] vxsx commented on #3748
Should be fixed by #5360

[2016-06-02 08:42] macolo commented on #5358
Awesome - thanks for the hint. For further references, the following works:

[code]

[2016-06-02 09:02] yakky commented on #5357
``app_name`` on apphook class is the only supported way to handle namespaced apps, thus you are required to define and instance name on the advanced settings

[2016-06-02 09:14] #5358 closed

[2016-06-02 14:01] Eraldo opened #5361 "How to write unit-tests for apphooked apps."
## What I did

I upgraded my `users` app to be a cms apphooked app and removed it from the main `urls.py` file.
[code]

[code]

On my staging server I created a new cms page and added the new apphook.
It works nicely on the front end side of things.
It finds the namespace and loads the write views.

## Challenge

Now when I run my tests it does not find the namespace 'users' because the apphook is

[2016-06-02 15:00] sephii opened #5362 "Make it possible to put more than 1 plugin in the clipboard"
At the moment when you copy a plugin or create an alias, it is put into the clipboard. However it seems the clipboard only contains the most recently copied/aliased plugin: every time you put something into the clipboard, it is first cleared. I'm not sure whether it's a bug or an expected behaviour, but in the latter case it would be nice to allow more than 1 plugin in the clipboard.

I could repr

[2016-06-02 15:19] jrief commented on #5362
This relates to #5257
The problem with more than one clipboard is, that you need an extra select button for choosing the correct clipboard. This adds a lot of complexity to the usability of the CMS. Unless you have real power users, I personally would advise against such a feature.

[2016-06-02 15:24] FinalAngel commented on #5362
The clipboard is based on "ctr + c" and "ctr + v"" philosophy where you can always have only one item stored. While it might be technically possible, it can create confusion about order and usability as @jrief mentioned. Until further demand and/or a good usable solution, this feature is not planned.

[2016-06-02 15:40] petrklus opened #5363 "[question] Specifying cache parameters"
In one of our projects, we are serving different content based on user agent. As such, we had to disable caching of the plugin.

Is there any way to specify caching variables in a similar way as Django's template tag for cache works?

    {% cache 500 sidebar request.user.username %}

[2016-06-02 17:25] mkoistinen commented on #5361
Hi, I have a couple of things for you that may help.

1. Some time ago, I put together a "dummy" app that includes translations, reversions and apphook-ability and it has 100% (or near that) test coverage, the repo is here: https://github.com/aldryn/things and this may provide some immediate help;
2. We often use the very useful package `djangocms-helper` made by @yakky (one of the core developers

[2016-06-02 18:08] mkoistinen commented on #5362
@sephii I also find myself wishing to have this ability and the truth is, we actually had this in CMS 3.0! However, as pointed out by others, some found this confusing and we've since removed the feature in favor of simplicity. What I do now is to put the one's I wish to copy inside another. Then, copy the parent, and it will copy all of them. This is actually an advantage over what we had before,

[2016-06-02 18:15] mkoistinen commented on #5363
@petrklus In version 3.3, you can now specify VARY headers on a per-plugin basis. Here's a reference to the docs on this: http://docs.django-cms.org/en/release-3.3.x/reference/api_references.html#cms.plugin_base.CMSPluginBase.get_vary_cache_on

The easiest way to try this out on a CMS 3.3 project is to use this plugin in your project to "wrap" some of your content: https://github.com/divio/cmsplug

[2016-06-02 19:35] sephii commented on #5362
@jrief why would you need an extra select button for choosing the correct clipboard? The clipboard already contains what looks like a list of plugins that we can drag'n'drop, we could just add additional plugins to the list:

![2016-06-02-212950_431x145_scrot](https://cloud.githubusercontent.com/assets/754333/15758154/87f74b34-2909-11e6-862f-58e60546d27c.png)

Also if it's not possible to copy mul

[2016-06-02 21:10] Eraldo commented on #5361
I will take a look at these examples.
Sounds good.. and I feel better now that I have a starting point. =)
Thank you Martin.

[2016-06-03 04:55] retailify commented on #5361
Hi Martin,
djangocms-helper is marked for django CMS: 3.0 to 3.2.
What about 3.3.x?

[2016-06-03 06:23] FinalAngel commented on #5363
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

[2016-06-03 06:23] #5363 closed

[2016-06-03 06:24] #5361 closed

[2016-06-03 06:27] FinalAngel commented on #5362
I'd welcome the idea to select multiple plugins and copy / paste them at once @mkoistinen /cc @vxsx . But modifying the clipboard to show more than one plugin (a history of what was copied) caused a lot of confusion and this is what I'm against.

[2016-06-03 07:24] vxsx commented on #5362
Selecting multiple plugins to copy into different place is troublesome since each plugin can have different parent / child restrictions (+ placeholder conf and per plugin restrictions), so copying multiple ones at once is not a guarantee that they can be pasted in a different place (even at the same nesting level), and it can get pretty complex real quick. We wanted at some point to introduce the

[2016-06-03 08:56] jrief commented on #5362
@sephii actually, in djangocms-cascade you can persist the clipboard's content in the database and give it different names. Later you can restore it to the clipboard and paste it wherever you want. This even works across different instances of django-cms, hence you can paste a subtree of plugins from one site to another.
This however is a separate functionality which only works, because cascade ke

[2016-06-03 09:03] Eraldo commented on #5357
I see no advantage from using `app_name` in the `apphook class` over my `current workaround`.
The real challenge is testing my project, since the namespaces are not registered either way in the `testing database`.

Still.. Thank you for your perspective, @yakky. :)

[2016-06-03 10:11] Eraldo commented on #5346
@FinalAngel Yes it is.
I added it as an outcome to my list and will probably continue working on it next month.
In case I run into some issues I will open a new ticket and reference this one.
Thanks!

[2016-06-03 12:10] FinalAngel commented on #5346
You are very welcome, and thanks for all your feedback @Eraldo !

[2016-06-03 12:10] #5346 closed

[2016-06-03 20:20] mkoistinen commented on #5352
This is addressed. We now only need the translations (for any language, but including DE). Please go to here: https://www.transifex.com/divio/django-cms/ and provide any of the missing translations you're able to do.  I will periodically update the release/3.3.x branch with any new translations.

[2016-06-04 01:06] mkoistinen commented on #5362
@FinalAngel, @vxsx understood, and agreed.

[2016-06-05 23:41] impala2 commented on #5344
I have a requirement to leave `INTERNAL_IPS` as is, but according to [the release notes](https://docs.django-cms.org/en/release-3.3.x/upgrade/3.3.html#what-s-new-in-3-3) there's a new setting `CMS_INTERNAL_IPS`. Setting it to `[]` fixed the issue. Looks like the default value for `CMS_INTERNAL_IPS` is incorrect.

[2016-06-06 00:00] jsma commented on #5344
The way this was implemented/documented in #5173 is backwards incompatible IMO.

The CHANGELOG clearly states that this is a completely NEW setting, suggesting that if it's not set that the behavior would be the same as < 3.3.0.

It's very unexpected to do an upgrade and suddenly have no way of editing content. I think this CMS_INTERNAL_IPS should default to an empty list rather than Django's INTE

[2016-06-06 03:48] impala2 commented on #5344
@jsma Yea, that's what I meant by "default value is incorrect".

The documentation clearly states

But the actual code uses `INTERNAL_IPS` by default.

I strongly lean towards setting it to `[]` rather than changing the documentation - principle of least surprise.

[2016-06-06 06:13] FinalAngel commented on #5344
@mkoistinen or @czpython something you can have a look at?

[2016-06-06 06:58] k-funk opened #5369 "djangocms-installer parent of subpage not navigable via menu"
Just started out using django-cms. To reproduce my issue:

1. Go though Tutorials->Installing Django CMS (all default install options, except bootstrap=yes), and all of Using Django CMS.
2. Create a page called Books with content.
3. Create a subpage to Books called Book1 with content.
4. Publish both.
5. Click in menu to try to navigate to parent of Book1 (what I made in step2), but only get a dr

[2016-06-06 08:04] FinalAngel commented on #5369
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

The issue you are mentioning is a bootstrap 3 behavi

[2016-06-06 08:04] #5369 closed

[2016-06-06 08:04] #5362 closed

[2016-06-06 09:41] piotrjakimiak opened #5371 "parent_classes in CMSPlugin"
I found possible problem in aldryn_segmentation but IMHO it's a bug in CMS.

Aldryn Segmentation plugins have parent_classes property set.

1. Create parent plugin (SegmentLimitPlugin)
2. `render_plugin` for instance is called with placeholder passed as argument.
3. Child plugins are computed (https://github.com/divio/django-cms/blob/854a4c245d77f7cf26f167409c292cca5d78fcd3/cms/models/pluginmodel.

[2016-06-06 10:05] philippze opened #5372 "Wrong default frontend_edit_template in doc"
The docs say the default value for the frontend_edit_template was **"cms/toolbar/placeholder_wrapper.html"**, here: https://github.com/divio/django-cms/blob/develop/docs/reference/plugins.rst#frontend_edit_template

However, the proper default value is **"cms/toolbar/plugin.html"**. It is defined here: https://github.com/divio/django-cms/blob/develop/cms/plugin_base.py#L105

[2016-06-06 12:02] FinalAngel commented on #5372
@philippze would you be able to open a PR for that fix?

[2016-06-06 12:03] philippze commented on #5372
@FinalAngel Yes. I will.

[2016-06-06 12:16] FinalAngel commented on #5372
thats awesome @philippze ! Thank you

[2016-06-06 12:54] czpython commented on #5344
I can confirm this is indeed an oversight in our side.
The default should be `[]` as noted by @impala2 and @jsma.
Django's `INTERNAL_IPS` does not serve to block access to the admin, the assumption was that it did and so anyone that defined this would automatically benefit from the limit on the toolbar ips.

[2016-06-06 13:44] #5330 closed

[2016-06-06 15:52] vxsx commented on #3491
Might be fixed by https://github.com/divio/django-cms/pull/5360 but i need more info on how would I test it

[2016-06-06 17:14] czpython commented on #5371
@piotrjakimiak
Thanks for the report.
I can confirm this is a regression introduced in 3.3.

The fix for this is to not pass the `slot` and `page` arguments to `get_all_plugins()` in [here](https://github.com/divio/django-cms/blob/develop/cms/plugin_base.py#L502).
By default, `get_child_plugin_candidates` should operate on all registered plugins and then let the plugin itself handle the filtering.

[2016-06-06 18:07] orlax opened #5377 "template edit gets blocked when youtube autoplay iframe is added"
i create a custom plugin to add an iframe to a page in different placeholders it just has a charfield where i put the iframe code wicht gets rendered on the template with a {{ instance.iframe |safe }} tag.

it works as intended, but if the youtube url has the &autoplay=1 attribute the pages fails to load most of the others plugins and can no longer edit, the toolbar toggle button gets disabled.

o

[2016-06-06 18:40] czpython commented on #5377
@orlax
Please provide some code samples for us to try and reproduce the problem.
Specifically what plugin are you using for this youtube/iframe?

Also are there any errors on the browser console?

[2016-06-06 18:46] diegoponciano commented on #4798
@mvid How did you fix it?
I have the same issue using multiple databases, only difference being I'm not using routers.

[2016-06-06 19:29] piotrjakimiak commented on #5371
@czpython Fixed

[2016-06-06 20:23] orlax commented on #5377
here: https://github.com/orlax/youtubeIframeDjangocms

-started a new django cms project with the django-installer tool
-used bootstrap and sample data
-added an iframe element with autoplay from youtube to the "feature.html" templates.
-it fails to load other plugins besides the video and edit mode is no longer accesible.

[2016-06-06 20:55] #5371 closed

[2016-06-06 21:53] mvid commented on #4798
@diegoponciano My solution was to update the routers to use the new syntax for `allow_migrate`. If you aren't using routers, I don't know what to do if you aren't using routers. How is it even possible to use multiple databases without routers?

[2016-06-07 01:27] SomeEarthling opened #5380 "[Q] Does it support RTL languages?"
Hello,

Seems like a great project.
I'd love to explore building a website with this, but I've been reading the documentation and it doesn't anywhere (that I could find) say that it supports RTL languages correctly (Right-To-Left); mainly Arabic for me.

It says it's "multilingual" but I've been bitten by that before. Also, there are a couple of issues here of people saying that RTL is actually ca

[2016-06-07 06:24] vxsx commented on #5377
Hi @orlax, in the example you provided I see markup like this
[code]
The reason nothing else is rendering is because iframe is not a self-closing tag, so everything that comes after this line is treated as contents of the iframe. Correct way to write this would be
[code]

[2016-06-07 06:24] #5377 closed

[2016-06-07 06:28] vxsx commented on #5371
@czpython do we need a changelog entry?

[2016-06-07 06:52] FinalAngel commented on #4798
@divio/django-cms-core @mkoistinen anything we still can do here?

[2016-06-07 07:07] FinalAngel commented on #5380
The toolbar / CMS UI does not yet support RTL so things might look awkward. The toolbar is specifically aligned to ``dir="ltr"``. Your frontend though can be totally independent of the CMS and can fully support RTL alignment.

You are very welcome to submit further PRs to improve RTL support. The editing experience though is not much affected.

[2016-06-07 07:07] #5380 closed

[2016-06-07 07:09] FinalAngel commented on #5328
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

[2016-06-07 07:10] FinalAngel commented on #5283
Please submit this error to the https://github.com/nephila/djangocms-installer repository. @divio/django-cms-core any further info here?

[2016-06-07 07:10] #5283 closed

[2016-06-07 07:10] #2916 closed

[2016-06-07 07:17] vxsx commented on #3783
Is this still relevant @yakky @evildmp ?

[2016-06-07 07:19] FinalAngel commented on #3773
@Moini this feature might be a bit to specific. We rather implement a shift+click capability where you can drag items together out than another prompt to move them.

[2016-06-07 07:19] #3773 closed

[2016-06-07 07:19] vxsx commented on #3455
Fixed in 3.3

[2016-06-07 07:19] #3455 closed

[2016-06-07 07:23] #2209 closed

[2016-06-07 07:24] #2364 closed

[2016-06-07 07:24] #2199 closed

[2016-06-07 07:25] #4952 closed

[2016-06-07 07:27] #3254 closed

[2016-06-07 12:06] czpython commented on #5371
@vxsx yes I plan to do once I backport

[2016-06-07 12:31] FinalAngel commented on #5352
@retailify translations added to the german page: https://www.transifex.com/divio/django-cms/translate/#de/core please review and add comments, as this will be merged within 3.3.1

[2016-06-07 12:42] retailify commented on #5352
Please reopen!
I had not the time to translate all!

[2016-06-07 13:00] mkoistinen commented on #5257
The CMS used to support multiple clipboards. It should only support one now. Do you have a set of steps that can reproduce this issue?

[2016-06-07 13:35] Moini commented on #3773
Okay, thanks for mulling it over!

[2016-06-07 15:01] FinalAngel commented on #5352
@retailify no worries, no release scheduled yet. But in case, I'll leave it open.

[2016-06-08 11:20] graingert opened #5381 "Support Content-Security-Policy without "script-src unsafe-inline""
Django 1.10 lands support for running the admin with a Content-Security-Policy without "script-src unsafe-inline" applied.

Django CMS should follow suit and remove all inline JavaScript. Replacing large blocks of JS with `<script src={% static 'path/to/old_inlines/eg.js' %}></script>` and `<script>var foo = {{bar}}></script>` with:
[code]
[code]

[2016-06-08 11:53] vxsx commented on #5381
Thanks for the report, we'll take care of it.
It would also require changes in some of the essential addons though, e.g. djangocms-text-ckeditor etc.

[2016-06-08 12:32] yakky commented on #5381
I think that this should undergo a deprecation period. Django 1.10 just removed its own inline javascript to allow enabling "Content-Security-Policy", it does not enforce it.
I think that django CMS 3.4 can adopt the same behavior, and then let addons adapt to it by providing a "suggested timeframe"

[2016-06-08 14:14] petrklus opened #5382 "Contextual menu not working when alias present on the same page"
Hi,

I am having issue when using alias to the content on the same page as the content itself.

The overview of the content structure is following:

Tabs container
 - tab1
   - alias to contentrow2
   - alias to contentrow3
 - tab2
   - contentrow2
 - tab3
  - contentrow3

However, as soon as I create the aliases, I can no longer expand/collapse the content row via the arrow (the expand all option

[2016-06-08 15:46] evildmp opened #5383 "django CMS breaks Django's language fallback handling"
# Django's language fallback handling

If you have a Django site that supports `en` and `en-gb`  then even if you don't have any `en-gb` content, it will fall back to serving the `en` content. See [How Django discovers language preference](https://docs.djangoproject.com/en/dev/topics/i18n/translation/#how-django-discovers-language-preference) for information on how it does this.

To support them b

[2016-06-08 17:20] czpython commented on #3979
@vxsx can you have a look?

[2016-06-08 17:22] #4713 closed

[2016-06-08 17:50] czpython commented on #5382
@petrklus
Thanks for reporting.
I believe this is a known issue with the Alias plugin /cc @vxsx
We're planning to refactor this plugin because of this and other issues.

[2016-06-08 18:06] bartmika commented on #5185
This is a great idea! What is the status of this?

[2016-06-08 18:24] FinalAngel commented on #5185
@bartmika I'm not sure if anyone is currently working on it. @stefanfoulis how does it look on your end?

[2016-06-08 18:28] rodolfomartinez commented on #5185
@bartmika @FinalAngel I have a great interest in this. I think this would be a godsend considering that my WordPress multisites seem to break anytime there is a major WP update, theme update, or when it just plain feels like it. Massive +1

[2016-06-08 18:32] yakky commented on #5185
Based on preliminary work from Stefan we have a live website using django muktisite, I think I can take care of this

[2016-06-08 18:37] bartmika commented on #5185
Thank you @yakky @stefanfoulis @FinalAngel, this could provide a tremendous benefit for Django-CMS users who already manage a couple Django-CMS sites looking to centralize all the separate prod servers into a single prod server.

[2016-06-08 18:39] stefanfoulis commented on #5185
@yakky that would be awesome :-) Let me know if you need any info from me about the workaround.

[2016-06-08 19:11] czpython opened #5386 "Include a note in plugin docs about ordering"
We should mention in the custom plugin docs that overriding plugin ordering is not possible.
Related #5001

[2016-06-08 19:12] #5001 closed

[2016-06-08 19:38] czpython commented on #5280
@lunanoko
I believe this was fixed on 3.3

[2016-06-08 19:38] #5280 closed

[2016-06-08 20:47] czpython commented on #4983
@Moini
Hello,

Sorry for the delayed response.. we've been quite busy with the 3.3 release.

There's a link in the ticket description to your settings, have they been updated since the posting of this ticket? If so can you provide us with the settings at the time of the issue?

I'm a bit confused about the steps to reproduce, can you clarify a bit more?
Here's what I've tried:

1. Created english

[2016-06-08 20:48] czpython commented on #4599
Fixed by #5385

[2016-06-08 20:48] #4599 closed

[2016-06-09 06:24] vxsx commented on #5382
It is a known issue sadly. This happens because the "Content row" plugin is initialized twice on the same page, and so it has 2 click handlers that toggle it, so first one opens it and second one closes. I can provide a small patch for this specific issue for 3.3.1 (as i've sorted it out while working on something else), but all the other problems with it (like when you try to move it when alias p

[2016-06-09 06:42] vxsx commented on #3979
Cannot really reproduce, would appreciate more information, maybe source of the page where it's happening.

My gut feeling is that it comes from here https://github.com/divio/django-cms/blob/854a4c245d77f7cf26f167409c292cca5d78fcd3/cms/forms/widgets.py#L254-L266

the variable declaration is not rendered properly or not at all, while the script that uses it is loaded.

[2016-06-09 07:00] FinalAngel commented on #5382
@petrklus are you eventually able to help us out there?

[2016-06-09 08:03] petrklus commented on #5382
@FinalAngel I am happy to test / evaluate a fix, however, I am not yet at 3.3 and it may take a week or two to upgrade.

[2016-06-09 08:10] retailify opened #5391 "CSS Error"
Hi everybody, there is a css error in the current 3.3.0 release (see screenshot).
-> "Veröffentlichung aufheben" container size is to small

![bildschirmfoto 2016-06-09 um 10 08 16](https://cloud.githubusercontent.com/assets/5236353/15922859/3c3bc618-2e2a-11e6-81ed-87df7f4d81b3.png)

[2016-06-09 08:45] FinalAngel commented on #5382
@petrklus helping on testing/evaluating will definitely be a big plus. Also general improvements on the frontend would be very welcome.

[2016-06-09 09:44] bnisevic commented on #5084
Why is this closed when it is still present there?

[2016-06-09 09:47] noranana commented on #5084
user who has just installed django-cms using the installer wizard and expecting that there will be no warnings there on this stage? I don't see any references of 'my_test_app_view' in django-cms except in this file.????

[2016-06-09 15:56] czpython commented on #2564
@vxsx anything to add?

[2016-06-09 16:47] czpython commented on #2785
I'm not sure the complexity behind point 2 is worth it.
I don't see many use cases for it.
Closing. Feel free to create a new ticket for point 2 with the use cases.

[2016-06-09 16:47] #2785 closed

[2016-06-09 17:01] czpython commented on #3492
@yakky
I don't think documentation is necessary here.
I'm planning a fix for the root issue using the same logic Django uses on the admin to limit the fields being processed by the form (modelform_factory).

[2016-06-09 17:01] #3492 closed

[2016-06-10 06:31] FinalAngel commented on #5391
any chance of a PR @retailify 🙏  ?

[2016-06-10 09:57] bharling commented on #5344
Confirmed - setting CMS_INTERNAL_IPS = [] fixed the problem, should definitely be documented somewhere!!

[2016-06-10 16:10] jTiKey opened #5392 "cms_wizard_create error"
After adding django-cms to an existing project, when I go to the root url I get this:

django.core.urlresolvers.NoReverseMatch: Reverse for 'cms_wizard_create' with arguments '()' and keyword arguments '{}' not found. 1 pattern(s) tried: ['$cms_wizard/create/$']

If I create a page via the django admin, the error dissapears, and I get the base.html, without any toolbars and buttons.

[2016-06-10 18:44] czpython commented on #5392
@jTiKey
Hello,
Can you provide us with the following information?:

- Django version
- Django CMS version
- Python version

Also please post your Django settings.

[2016-06-10 18:51] jTiKey commented on #5392
django 1.8.5
django cms 3.3.0
python 3.5

`from __future__ import absolute_import, unicode_literals
from django.utils.translation import ugettext_lazy as _

from datetime import datetime

import environ
import pytz
import os

ROOT_DIR = environ.Path(__file__) - 3  # (/a/b/myfile.py - 3 = /)
APPS_DIR = ROOT_DIR.path('yovaweb')

env = environ.Env()
environ.Env.read_env(str(ROOT_DIR.path('.env')))

g

[2016-06-10 21:33] jTiKey commented on #5392
Full logs:
[code]

[2016-06-10 23:37] mkoistinen commented on #3251
I think we can close this. The issue was opened when I was working on Aldryn Segmentation, some time ago.

[2016-06-10 23:37] #3251 closed

[2016-06-12 12:02] piotrjakimiak commented on #5392
@jTiKey Could You paste Your urls.py file? I think you have `$` instead of `^` in urls .

[2016-06-12 15:40] Nemecle opened #5398 "Proper usage string for djangocms"
Hi,
I am trying to write a dockerfile for my raspberry pi, which implies that I fully automate the command use: after struggling a bit at trying to make the link between each required information of the basic install with each argument, I am still stuck on the "--db" argument: It keeps asking for a user input for it even if I put *--db "sqlite://file///home/djangocms/website/djangocms.db'* (which

[2016-06-12 16:14] yakky commented on #5398
@Nemecle use ``-q`` argument (see http://djangocms-installer.readthedocs.io/en/latest/usage.html#batch-mode )

[2016-06-12 19:02] Nemecle commented on #5398
Yeah I fell on it and i'm using it, but I still think that the command needs a proper help string (at least displayed with "djangocms --help"

[2016-06-12 19:16] yakky commented on #5398
@Nemecle what would you suggest?

[2016-06-12 19:40] Nemecle commented on #5398
It would be great to give some example values such as "_en_" and "_fr_" for **--languages** or "_Europe/Paris_" for **--timezone** (found those by poking around and using default values) and/or a link or an extended help (through **djangocms --help** for instance) which links every (at least major) possible values or syntaxes

[2016-06-13 06:18] FinalAngel commented on #5398
@divio/django-cms-core is thos something we should add? @yakky if yes something you can integrate?

[2016-06-13 06:21] yakky commented on #5398
@FinalAngel definitely
@Nemecle thanks for the suggestions. Closing here, tracking at nephila/djangocms-installer#258

[2016-06-13 06:21] #5398 closed

[2016-06-13 11:02] Nemecle commented on #5398
thank you very much !

[2016-06-13 12:04] czpython commented on #5392
@jTiKey
I've reproduced the issue using @piotrjakimiak's suggestion.
Make sure to include the cms urls ``url(r'^', include('cms.urls')),`` with the ``^`` only.

[2016-06-13 12:04] #5392 closed

[2016-06-13 13:01] czpython commented on #3491
I can confirm that the modal is no longer closed.

[2016-06-13 13:01] #3491 closed

[2016-06-13 13:06] ursomniac opened #5400 "Django CMS error - "You do not have permission to edit/add/etc. a plugin""
I get this intermittently.

I'm logged into the admin, the account is a super user. There's no back-end code that would in any way limit access to the plugin. It seems to just be "Django CMS has decided this is the case and there's no way around it..."

SOMETIMES if I: 1) log out of the admin, 2) clear my browser cache, 3) restart the server, and 4) reboot the entire machine, the problem MIGHT go

[2016-06-13 13:17] yakky commented on #5400
@ursomniac does this happen on pages attached to apphooks?

[2016-06-13 13:31] jTiKey commented on #5392
Yes, you were right! Thanks for the help.

[2016-06-13 13:49] ursomniac commented on #5400
Yes, but only ONE of the apphooks.  All the other ones work fine, and if I put the plugin (which has no fields) on any of the other instances it works fine.

This is a site that was recently upgraded from Django CMS 2.4 to 3.2 (and Django 1.5 to 1.8 with all THAT implies), but this new app/plugin was written after the upgrade.

I've checked the auth_* tables in the database and the permissions app

[2016-06-13 13:52] czpython commented on #5400
@ursomniac
Starting with CMS 3.0, `{% placeholder %}` tags were no longer allowed in templates rendered by apphooks.

Please check if you're inheriting a template with a  `{% placeholder %} `tag in your apphook page.
It's likely that this is the placeholder that's incorrectly giving you the permission errors.

[2016-06-13 13:52] ursomniac commented on #5400
I tried creating a new user/superuser - same problem with the new user.   But the permissions ARE in auth_user_user_permissions.

[2016-06-13 13:53] ursomniac commented on #5400
@czpython --- AH that's likely the problem --- can you point me to docs that would show what the workaround would be?

[2016-06-13 13:54] yakky commented on #5400
@ursomniac the solution is to just use ``{% static_placeholder "foo bla" %}`` in apphooks instead of ``{% placeholder %}``

[2016-06-13 14:01] czpython commented on #2307
I think the implementation would be more complex than what it solves because it's just target publishing
and messages come through various actions.

[2016-06-13 14:01] #2307 closed

[2016-06-13 14:18] ursomniac commented on #5400
YOU ROCK.   Thanks.

[2016-06-13 14:19] ursomniac commented on #5400
Nope - permission error persists.

[2016-06-13 15:04] vakorol opened #5401 "RemovedInDjango110Warning"
It seems that not all deprecations have been fixed in Django CMS 3.3. I get the following:

[code]

I created a similar ticket #4886 in January, 2016. In our development environment, deprecation warnings are turned into errors, so this issue is actually blocking us from using Django CMS in our project. I could've ignored the warning using `warnings.filterwarnings`, but since it's raised in django

[2016-06-13 15:14] czpython commented on #5400
@ursomniac
So you've removed the {% placeholder %} tag from your app and are now using static placeholder?

[2016-06-13 15:42] ursomniac commented on #5400
Yes but that creates ANOTHER problem.
The app is "newsletter" --- the plugins are for managing content within EACH newsletter.
It appears that static_placeholder only holds one set of content for the entire app; i.e., if I create two newsletter records and edit one to add placeholder content, it changes the content for the other record.

I need each record to have it's own unique content.

[2016-06-13 15:45] yakky commented on #5400
@ursomniac you can either user static placeholders with name generated from context variables or add a placeholderfield to your model http://django-cms.readthedocs.io/en/release-3.3.x/how_to/placeholders.html

[2016-06-13 15:45] ursomniac commented on #5400
I do have a placeholder field in my model.

[2016-06-13 15:57] czpython commented on #5400
@ursomniac Can you post your model and template code that renders it?

[2016-06-13 16:01] ursomniac commented on #5400
Got it...  (Duh)

[2016-06-13 16:06] #5400 closed

[2016-06-13 16:23] macolo opened #5402 "Copy & Paste Alias Plugin from/into the same placeholder causes infinite loop"
... and this seems to make the edit page inaccessible which makes it impossible to fix the thing.

The only solution I found is removing the plugin entry directly on the database level.

On Aldryn it's even more severe because there the db needs to be copied to stage and then to local, then  manually fixing, and then the full round-trip back to production.

I'm not saying copying / pasting an alia

[2016-06-13 16:43] FinalAngel commented on #5402
thank you for reporting @macolo, this has been confirmed, will be patching the Alias plugin soon enough.

[2016-06-13 17:26] czpython commented on #4937
This is fixed on 3.3
Please run ``./manage.py cms fix-tree`` before upgrading.

[2016-06-13 17:26] #4937 closed

[2016-06-13 17:29] czpython commented on #5069
@KeithCu
Hello, the permissions you're describing are standard Django permission labels which Django generates for all installed apps.

Django CMS extends Django's permission handling to allow per page permission control but we don't plan on overriding Django's permissions entirely.

[2016-06-13 17:29] #5069 closed

[2016-06-13 17:47] czpython commented on #4434
@schneck
Hi there,
Please open a new thread for this (and any other new features) in the [django-cms-developers](https://groups.google.com/forum/#!newtopic/django-cms-developers) group.

[2016-06-13 17:47] #4434 closed

[2016-06-13 17:50] sunfirester opened #5403 "Alias plugin is always cached"
I have been using the alias plugin to duplicate two different headers across pages on my site. I have user specific data in the header itself, which means I can't cache the header placeholder. It seems that when I create an alias to my header placeholder, all the user data is cached.

I can confirm this is happening on pages with the alias plugin, and not on pages with original placeholders.

Than

[2016-06-13 17:56] sunfirester commented on #5403
I created a PR for this: #5404

[2016-06-13 18:06] czpython commented on #5328
@FinalAngel
This is a bug.

[2016-06-13 18:13] czpython commented on #3532
I've opened a public discussion on the developer's list in order to come up with a solution that addresses the underlying problem (using current thread to store user).

https://groups.google.com/forum/#!topic/django-cms-developers/T9OtsDl8qcQ

[2016-06-13 18:13] czpython commented on #3863
I've opened a public discussion on the developer's list in order to come up with a solution that addresses the underlying problem (using current thread to store user).

https://groups.google.com/forum/#!topic/django-cms-developers/T9OtsDl8qcQ

[2016-06-13 18:24] sunfirester opened #5405 "CMSPlugin reduce function breaks in django 1.8"
I have been working with pickling/caching models on my site recently. I am forced to work with django 1.8 since it is the TLS version. It seems that "model_unpickle" was changed in django 1.9, and djangocms changed to reflect that change. The problem is that pickling models now breaks with django 1.8. I have overwritten the "__reduce__" function in my models, but perhaps a better solution is neede

[2016-06-13 18:28] rodolfomartinez commented on #5185
@stefanfoulis any updates? I would love to see this come together, and I know that I'm not the only one :-)

[2016-06-13 18:58] Eraldo commented on #5328
I see. Thank you for the reply.

I took a closer look and am a little confused now. My question of how to do what I asked is answered by your reply. However I am confused about the intent of User Pages in general.
I thought user pages where there so that cms users could create other users.
I might have misunderstood the concept.
Now I think it is there to create agents which are able to do stuff i

[2016-06-13 19:30] czpython commented on #4928
Confirmed. Will need to be backported to 3.1

[2016-06-13 19:49] czpython commented on #5071
When `CMS_PERMISSIONS` is set to `True`, it's required to give each user global or individual permissions to a page, either by modifying the page specific permissions or setting a global permission for the user.

[2016-06-13 19:49] #5071 closed

[2016-06-13 19:51] czpython commented on #5053
@timur-orudzhov @Unysova Can you verify that the page in question does not have any apphook attached to it? There's a known issue where using a `{% placeholder %}` tag inside an apphook rendered template will throw the misleading permission error when trying to add a plugin to it.

Apphook rendered templates are not allowed to have `{% placeholder %}` tags as of 3.0.0

[2016-06-13 19:53] yakky commented on #5185
@rodolfomartinez I should be able to push the middleware with a working setup and some rough docs in the next couple of days

[2016-06-14 07:14] FinalAngel commented on #5403
@divio/django-cms-core is this okay to merge?

[2016-06-14 07:31] yakky commented on #5403
I think there might be a way to "inherit" caching setting from contained plugins, as a more general solution

[2016-06-14 08:05] yakky commented on #5185
@rodolfomartinez have a look at this https://github.com/nephila/djangocms-multisite (repo, packaging etc it's still totally to be defined)
@stefanfoulis @divio/django-cms-core do you think should stay as an addon?

[2016-06-14 09:31] petrklus commented on #5363
@FinalAngel noted and my apologies! Will make sure I use a proper channel next time.

[2016-06-14 09:42] FinalAngel commented on #5363
no worries, thank you @petrklus

[2016-06-14 14:53] czpython commented on #5178
I believe this is both a validation and documentation problem.
I can reproduce the issue only if the admin class for the object that has the `PlaceholderField` does not subclass from `PlaceholderAdminMixin`.

Will open a new ticket for the documentation issue and close this one for https://github.com/divio/django-cms/issues/3734

[2016-06-14 14:53] #5178 closed

[2016-06-14 14:55] czpython opened #5410 "PlaceholderAdminMixin is required for placeholders outside of CMS"
When implementing placeholders outside the CMS using a `PlaceholderField`, it's required for the model with the `PlaceholderField` to have a registered admin class that subclasses from `PlaceholderAdminMixin`.

The documentation mentions `PlaceholderAdminMixin` but does not emphasize that it's required.

Original report comes from https://github.com/divio/django-cms/issues/5178

[2016-06-14 15:01] czpython commented on #4095
This is a won't fix in my opinion.
It's a very specific edge case and solving it would require a big frontend effort.

[2016-06-14 15:01] #4095 closed

[2016-06-14 15:08] czpython opened #5411 "Get rid of thread user"
Public discussion https://groups.google.com/forum/#!topic/django-cms-developers/T9OtsDl8qcQ

Related tickets:

https://github.com/divio/django-cms/issues/5328
https://github.com/divio/django-cms/issues/3532
https://github.com/divio/django-cms/issues/3863

[2016-06-14 15:09] czpython commented on #3863
Closing in favor of https://github.com/divio/django-cms/issues/5411.

[2016-06-14 15:09] #3863 closed

[2016-06-14 15:09] czpython commented on #3532
Closing in favor of https://github.com/divio/django-cms/issues/5411.

[2016-06-14 15:09] #3532 closed

[2016-06-14 15:25] bartmika commented on #5185
Great job yakky!! I'll take a look at this now.

[2016-06-14 15:39] agconti commented on #5344
Confirmed as well. Should we make this more prominent in the release notes?

[2016-06-14 15:43] czpython commented on #5344
Fixed by #5409

[2016-06-14 15:43] #5344 closed

[2016-06-14 15:59] FinalAngel commented on #5185
@yakky if it can be separate, then yes. The less in core the better :)

[2016-06-14 16:34] yakky commented on #5185
@FinalAngel agree

[2016-06-14 16:43] yakky commented on #5410
Just as we are at this, we can document the fact that if the model with ``PlaceholderField`` uses ``django-polymorphic`` the parent model must be registered for ``PlaceholderAdminMixin`` to work

[2016-06-15 04:27] mkoistinen commented on #5410
I agree. It isn't entirely clear *anywhere* what the purpose of the PlacholderAdminMixin is (short of reading code), so thanks for making this into an Issue.

[2016-06-15 04:33] mkoistinen commented on #5403
@sunfirester I'm delighted that you're providing a proposed fix for your issue! Thank you! However, please note that 3.2.5 introduced the get_cache_expiration() method that works along side the cache attribute (which was retained for convenience and backwards compatibility. I've made a similar note on your PR, but perhaps we can work together to find the best solution here. I was planning to do so

[2016-06-15 06:02] FinalAngel commented on #5185
closing this as we'll continue on djangocms-multisite

[2016-06-15 06:02] #5185 closed

[2016-06-15 11:05] petrklus opened #5414 "Ability to invalidate cache on page publishing"
In our use-case, we use django's template cache blocks.

Would there be a merit of adding a config variable that would invalidate specific cache keys after post is changed / new content is added?

Is there any way to "hook" post-publish method and run custom code?

[2016-06-15 11:06] petrklus commented on #5414
Wrong tab, sorry!

[2016-06-15 11:06] #5414 closed

[2016-06-15 12:45] petrklus opened #5415 "Text editor plugin parsing issue"
I am seeing and issue when Text editor's child plugin name/label contain > character.

I have also reproduced the issue on the Aldryn demo site:

Works fine in "Edit" mode:

![image](https://cloud.githubusercontent.com/assets/1115667/16080110/7666fa74-3307-11e6-84bf-39c0110529fd.png)

However, published page does not work properly:

![image](https://cloud.githubusercontent.com/assets/1115667/16080

[2016-06-15 15:47] agconti opened #5416 "Toolbar doesn't render after upgrading to 3.3.3"
After upgrading to django-cms version `3.3.3` the django no longer templates the toolbar on page. This is true even for logged in super users.

I upgraded to version `3.3.3` by pip installing and running:
[code]

My requirements file now looks like:
[code]
My index.html:
[code]

#### When rendered, where django should template the toolbar with `{% cms_toolbar %}`, simply nothing is templated.

My

[2016-06-15 15:55] czpython commented on #5416
Closing as duplicate of https://github.com/divio/django-cms/issues/5344

Please set ``CMS_INTERNAL_IPS = []`` in your settings.

[2016-06-15 15:55] #5416 closed

[2016-06-15 17:11] evildmp opened #5417 "We're still using the removed SEND_BROKEN_LINK_EMAILS settings."
In our code: https://github.com/divio/django-cms/search?utf8=✓&q=SEND_BROKEN_LINK_EMAILS

But, `SEND_BROKEN_LINK_EMAILS` was [removed in Django 1.8](https://docs.djangoproject.com/en/1.9/internals/deprecation/#deprecation-removed-in-1-8).

Instead, developers should add `django.middleware.common.BrokenLinkEmailsMiddleware` to the `MIDDLEWARE_CLASSES` setting.

[2016-06-15 17:12] czpython opened #5418 "Clearing placeholder does not check plugin permissions"
Currently a user can clear a placeholder as long as the user has page permissions, regardless of the plugin permissions.

[2016-06-15 17:14] evildmp commented on #5417
When this is resolved, an updated note needs to be added to https://github.com/divio/django-cms/blob/develop/docs/reference/templatetags.rst#page_url

[2016-06-15 18:33] Eraldo opened #5419 "Outdated comparison grid information about django-cms."
On the `django packages` `cms comparison grid` it says:

Source: https://www.djangopackages.com/grids/g/cms/

<img width="381" alt="screen shot 2016-06-15 at 20 26 26" src="https://cloud.githubusercontent.com/assets/73378/16092319/a018b2c4-3337-11e6-9e2b-1b82197a8c93.png">

According to my knowledge this is not accurate anymore since it uses `django-treebeard`, right?

(That might tip the felt sca

[2016-06-16 07:35] FinalAngel commented on #5419
@evildmp how can we change this? :D

[2016-06-16 08:02] FinalAngel commented on #5415
Actually, the edit mode behaves correctly as https://github.com/aldryn/aldryn-bootstrap3/blob/master/aldryn_bootstrap3/templates/aldryn_bootstrap3/plugins/button.html#L23 is not being escaped. You'd have to add the appropriate template tag to ``{{ instance.label }}`` like ``{{ instance.label| escape }}``.

I'm wondering what the structure board does, are strings there automatically escabed @divio/

[2016-06-16 08:54] petrklus commented on #5415
@FinalAngel I do not think there is an issue at all on the plugin side. The difference seems to be in the way the placeholder is generated in Text plugin's body.

For example, the placeholder looks like this when viewing in "Edit" mode:

    <img id="plugin_obj_2767" alt="Link Button" title="Link Button - asdf &amp;gt; test" src="/static/cms/img/icons/plugins/link.png">

But when looking at publis

[2016-06-16 09:30] macolo commented on #255
I can reproduce this on DjangoCMS 3.3 when an AliasPlugin is created and this is then reverted:

This is what's happening:

![image](https://cloud.githubusercontent.com/assets/4056979/16111997/8fd76260-33b5-11e6-9d4e-627008804dc4.png)

![image](https://cloud.githubusercontent.com/assets/4056979/16112006/a1593d42-33b5-11e6-8b40-478230b9ac47.png)

[2016-06-16 09:31] macolo commented on #255
@christianbertschy please reopen or should we open a new issue for this?

[2016-06-16 09:43] macolo commented on #5402
@mkoistinen I just found out another facet of this:

DjangoCMS allows the editor to create an alias on the placeholder level. This alias can then be placed inside the very same placeholder on another language, which also triggers the infinite loop.

So we have two scenarios:

1. the editor creates an alias of an element inside a placeholder and pastes it on the same language/page combination (same

[2016-06-16 11:55] czpython commented on #255
@macolo I've opened a new ticket. Thanks!

[2016-06-16 11:55] czpython opened #5421 "Unable to revert Alias plugin"
Reported by @macolo

![image](https://cloud.githubusercontent.com/assets/4056979/16111997/8fd76260-33b5-11e6-9d4e-627008804dc4.png)

![image](https://cloud.githubusercontent.com/assets/4056979/16112006/a1593d42-33b5-11e6-8b40-478230b9ac47.png)

[2016-06-16 13:02] czpython commented on #5419
@Eraldo @FinalAngel It's still accurate https://tabo.pe/projects/django-treebeard/docs/2.0/mp_tree.html#treebeard.mp_tree.MP_Node.path.

Basically we're limited by 255 characters that represent the path to a page,
if we increase that number then we risk serious performance issues.

[2016-06-16 13:05] Eraldo commented on #5419
Okay. Thanks @czpython .. so I will not change it until asked otherwise. :)

[2016-06-16 13:08] czpython commented on #5419
@Eraldo If you're able to change it, then please do so as we no longer use django-mptt.
Although maybe @evildmp has some input on the text.

[2016-06-16 13:14] Eraldo commented on #5419
I changed it to "Database limited using django-treebeard" for now -- Until the difference to why wagtail (also using django-treebeard) states "unlimited" is investigated.

[2016-06-16 13:39] evildmp commented on #5419
I think that this can be safely closed for now, thanks for spotting and fixing it @Eraldo.

[2016-06-16 13:39] #5419 closed

[2016-06-16 15:15] czpython opened #5422 "Deleting page translation does not check plugin permissions"
Currently it's possible for a user without plugin delete permissions (delete_text, delete_link, etc..) to delete a page translation containing these plugins.

[2016-06-16 15:52] itbabu commented on #5391
@FinalAngel Do you need an integration test? Otherwise the PR is a [one line change](https://github.com/itbabu/django-cms/commit/8c4a0259b979d2e8aa6e25f1272ff0d3214b7193).

I'm trying to setup the frontend test enviroment and write an integration test (casperjs is new to me).
but the gulp task fails randomly after some tests.

I'll try again this weekend.

[code]

[2016-06-17 06:34] FinalAngel commented on #5391
@itbabu for now, its alright just to commit the single line PR. What worries me more is that you cannot setup the test infrastructure. The problem with integration tests are always the timeouts. @vxsx will/can provide additional information.

[2016-06-17 07:41] vstoykov commented on #1546
If this issue is related to this https://github.com/divio/django-cms/issues/3504 (which is already fixed)?

[2016-06-17 07:52] FinalAngel commented on #1546
very much likely @vstoykov /cc @divio/django-cms-core

[2016-06-17 08:36] vxsx commented on #5391
@itbabu hi, the tests assume that they are being run on the clean database. could you try to run them with `gulp tests:integration --clean` command? what happens here is that we expect the wizard modal to appear when there are no pages, but if there is already some state (e.g. a page exists) that modal won't show up and tests will fail.

[2016-06-17 11:26] itbabu commented on #5391
@vxsx Ok

I've run the test suite 3 times and now it stops on the same test.
This weekend I'll try with an other laptop.

Here my shell output

[code]

[code]

[2016-06-17 11:33] itbabu opened #5424 "Frontend integration tests use port 8000 when it's not available"
I was trying to run the frontend integration tests for  #5391

Before I was working on an other project and I forgot a ```runserver``` on port 8000
and then I run the integration tests.
The test server was up and it was using an other port (my guess), but the tests were still using 8000 and so they failed.

Here my shell output:

[code]

[code]

[2016-06-17 17:45] #5418 closed

[2016-06-17 17:45] czpython commented on #3414
Fixed by 79d707b706b72e1cd9e653a2161c5cb7764c66a1

[2016-06-17 17:45] #3414 closed

[2016-06-17 21:35] czpython commented on #5422
Fixed by #5428

[2016-06-17 21:35] #5422 closed

[2016-06-17 23:36] evildmp opened #5431 "Miscellaneous documentation issues and questions"
- [ ] http://docs.django-cms.org/en/release-3.3.x/reference/api_references.html suggests importing `cms.api` functions inside the functions that call them, but the examples elsewhere in the documentation don't do this. Is there any reason to believe that they are still prone to circular import errors?

[2016-06-18 16:03] czpython opened #5432 "Invalid permissions required to paste from the clipboard"
Pasting plugins from the clipboard requires users to have `change_placeholderreference` permissions.

[2016-06-18 17:36] yakky commented on #4979
Fixed by #5412
To implement blacklist, add the plugin to be blacklisted in ``CMS_PLACEHOLDER_CONF[None]['excluded_plugins']`` list

[2016-06-18 17:36] yakky commented on #5000
Fixed by #5412
To implement blacklist, add the plugin to be blacklisted in ``CMS_PLACEHOLDER_CONF[None]['excluded_plugins']`` list

[2016-06-19 16:35] itbabu commented on #5391
New laptop with ubuntu 16.04 (the other was with ubuntu 14.04)

first try:
https://gist.github.com/itbabu/61ec73c9188e3eef1665b069b3a484bc

Then the 2nd and 3rd time I had the same error:
[code]

[2016-06-19 18:21] jtiki commented on #5178
@czpython I just checked this solution in my code and that was the problem. Once I added PlaceholderAdminMixin everything started working! Thanks for the fix!

[2016-06-20 08:14] marcosguedes commented on #4979
Thank you

[2016-06-20 08:14] #4979 closed

[2016-06-20 08:27] marcosguedes commented on #5000
Started from #5000, now we here :) Updated stackoverflow answer above

[2016-06-20 08:40] yakky commented on #5000
@marcosguedes awesome!

[2016-06-20 12:42] czpython commented on #5405
@sunfirester
Thanks for reporting. I'll investigate further.

[2016-06-20 12:43] czpython commented on #5401
Thanks for reporting. There's an ongoing effort to fix these warnings in #5434

[2016-06-20 15:43] #5000 closed

[2016-06-20 15:51] #5405 closed

[2016-06-21 02:17] amadornimbis commented on #5079
I was going to open an issue to raise this same bug, but then I discovered this one. I have created a test project to demonstrate this bug [here](https://github.com/amadornimbis/django-test-project/tree/database-cache-bug). Attempting to do a `python manage.py createcachetable` raises the following exception:

[code]

Removing `cms` from `INSTALLED_APPS` causes the problem to disappear.

[2016-06-21 07:12] FinalAngel commented on #5079
@mkoistinen any insight from your end?

[2016-06-21 12:30] czpython commented on #4928
I'm currently working on a fix for this on 3.3.x

[2016-06-21 16:07] mkoistinen opened #5440 "Create a replacement test for test_plugins.PluginsTestCase.test_inheritplugin_media"
This test has been disabled due to changes in the djangocms-google-maps plugin. This test needs to be re-created using a plugin it controls, to reduce the chances of this sort of thing happening again in the future.

[2016-06-21 17:24] exploide opened #5441 "Compatibility with django-reversion 2.0"
It seems the new version of [django-reversion ](https://github.com/etianen/django-reversion)(since 2.0) breaks django-cms while calling migrate:
[code]
According to their release notes, this signal got removed.

My first idea was to suggest adding version pinning to setup.py until compatibility is achieved, but it seems django-reversion isn't a hard dependency at all. Though, having the user deal

[2016-06-21 19:16] bartmika commented on #5441
Hello, I am having this exact same error. Can we have this fixed?

[2016-06-21 19:47] rodolfomartinez opened #5442 "Duplicator style plugin"
Summary:
I am migrating about 20 wordpress sites to Django CMS, and one of the WP plugins that I use the most is duplicator. It creates a .zipand .php that I upload to a server and by running the php I restore an exact copy of my site. Its very handy, and a similar function would make life a lot easier for the non technical user such as myself. You can see more on duplicator here:
https://en-ca.wo

[2016-06-21 19:48] rodolfomartinez opened #5443 "Wordpress XML Import"
Summary:

Currently Wordpress allows me to create an xml dump which I can transfer to a new site, and it imports my posts, pages, comments etc and downloads relevant media (such as images) from the old site. Could there be a wordpress migration tool that supports these XML files down the road?

[2016-06-21 19:50] rodolfomartinez commented on #5441
+1 :-)

[2016-06-21 19:54] bartmika commented on #5443
+1

[2016-06-21 19:54] bartmika commented on #5442
+1

[2016-06-21 20:01] czpython commented on #5441
Hello,
We're aware of the issue, unfortunately it caught us at an unfortunate time as we're doing multiple refactors of the codebase in preparation for 3.4 and 3.5 and so are currently maxed out.
That said, any PR that fixes is welcome and will be given priority.

[2016-06-21 20:03] czpython commented on #5442
Hello,
Please use the google groups list https://groups.google.com/forum/#!forum/django-cms-developers
to propose new features.

[2016-06-21 20:03] #5442 closed

[2016-06-21 20:06] czpython commented on #5443
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

In this case, I believe your question is best in the

[2016-06-21 20:06] #5443 closed

[2016-06-21 20:15] bartmika commented on #5443
thank you @czpython

[2016-06-22 07:11] jsma opened #5445 "Contributing documentation issues"
There are currently some significant issues with following the "Contributing documentation" guide.

I've fixed a couple in #5444 but there are others that have less obvious solutions.

For example, most of the `make` commands fail unless the virtualenv is in docs/env (I happen to use `pyenv` to manage my virtualenvs).

I realize that the existing hard-coded paths make some of the magic `make` comm

[2016-06-22 08:00] driesdesmet opened #5446 "ToolbarMiddleware renders request.data empty when requesting multipart form data (with Django Rest Framework)"
This is an issue reported by @fsto in #3367 but I think it deserves it's own ticket. I ran into it using django-cms==3.2.5 and Django==1.8.13

It seems like 'cms.middleware.toolbar.ToolbarMiddleware' removes any uploaded file (sent via a multipart form request) in request.data which then is just an empty QueryDict. When commenting out 'cms.middleware.toolbar.ToolbarMiddleware' everything works lik

[2016-06-22 08:25] FinalAngel commented on #5445
Thanks for the report @jsma Is this something you can checkout @evildmp ? Or @jsma would you be able to open a PR to address those issues?

[2016-06-22 08:50] driesdesmet commented on #5446
Quite possibly, the problem lies upstream: the related DRF issue: https://github.com/tomchristie/django-rest-framework/issues/3951

[2016-06-22 13:31] czpython commented on #5446
@driesdesmet
I've tried reproducing the issue without DRF, here's the results:

[code]

As you can see files and field data is available, request.body throws error because of the middleware but this is caused by the same code in https://github.com/divio/django-cms/issues/3367.

I'll close this as the reported issue is in DRF.
Will open a new ticket for ``request.body``

[2016-06-22 13:31] #5446 closed

[2016-06-22 13:33] czpython opened #5447 "Accessing request.body throws error"
`cms.middleware.toolbar.ToolbarMiddleware` accesses request.POST on every request,
causing django to process the data and prevent us from accessing the `request.body`.

[code]

This is related to https://github.com/divio/django-cms/issues/3367 but a different issue.

[2016-06-22 14:45] nikosgpet commented on #5084
Why is this closed? I have the same issue, and it makes no sense to see a warning unless there is something to fix.

[2016-06-22 14:49] czpython opened #5448 "Use logging for apphook reload"
There are some places in the apphooks reload module that use print statements instead of logging.
https://github.com/divio/django-cms/blob/develop/cms/utils/apphook_reload.py#L96
These should use logging instead.

Related to https://github.com/divio/django-cms/issues/5084

[2016-06-22 14:50] czpython commented on #5084
The original question was solved. I've created a ticket to track the issue https://github.com/divio/django-cms/issues/5448

[2016-06-22 16:15] bartTC opened #5449 "Django CMS 3.3: Page tree burger icon has no effect if your page permissions are restricted"
If your user is restricted to edit only a subset of pages, the burger icon has no effect on click. The 'Legend" icon too.

![screen shot 2016-06-22 at 18 11 02](https://cloud.githubusercontent.com/assets/1896/16274245/105aadea-38a5-11e6-84e4-b42060301919.png)

I can see the HTML in the source code related to this, it's rendered there, it just doesn't pop up.

The icon works fine if I have permissi

[2016-06-22 16:19] bartTC opened #5450 "Django CMS 3.3: Advanced Permissions popup is just empty if the user has no permission to edit them"
I gave my users access to a subset of pages to edit, but I didn't gave an explicit permission to edit 'advanced settings'.

The menu item for this is disabled (ok)

![](http://d.pr/i/9Qas+)

However the user is still able to access that screen by the bottom of the regular settings

![](http://d.pr/i/7XYk+)

Or by Shift+Click on the settings icon in the page tree.

In both cases the user will just

[2016-06-22 16:25] bartTC opened #5451 "Can't "Add" a subpage even though I gave users permission to."
*I am not sure if this is misconfiguration on my side or missing functionality.*

I gave my users 'Add/Edit/Delete' permission to a sub-page of the page tree, in this case the "New York" page.

![screen shot on 2016-06-22 at 18_05_55](https://cloud.githubusercontent.com/assets/1896/16274550/61bf1b16-38a6-11e6-921e-4bd7cf87d788.png)

My understanding is that the user can add pages below the "New Yo

[2016-06-22 16:26] bartTC commented on #5451
Note that the user can also click the menu item "Create page > New page" which would create a page of at the same page level, which is not allowed. This results in a popup with a response '403 Forbidden' which is correct behavior. However I'd propose to disable that "New page" button since the user has no permission to do so in first place.

[2016-06-22 17:45] czpython commented on #5449
Thanks for the report.
I noticed this as well but missed to create ticket 👍

[2016-06-22 20:25] jsma commented on #5445
I realize this isn't a very focused issue. I'm looking for feedback/guidance on the preferred path forward on the following items:

- Should the Makefile shortcuts assume responsibility for creating the virtualenv? Or can we merely document this as the first step so users can manage virtual environments using their preferred tools?
- How do we go about testing that the documentation builds on supp

[2016-06-22 20:51] rodolfomartinez commented on #5441
Hi what do you mesn by any PR that fixes is welcome and will be given
priority?

On Tuesday, 21 June 2016, Paulo <notifications@github.com> wrote:

--
Sincerely,
Rodolfo Martinez
(519)521-3135 / (281)674-5103
Skype: rodolfo-reimar
CEO The Shooting Star Press inc.
www.LuchaComics.com

Be sure to follow @LuchaComics !

[2016-06-22 21:23] yakky commented on #5441
@czpython is this a blocker for 3.3.1?

[2016-06-22 21:25] rodolfomartinez commented on #5441
@bartmika had this issue w the latest release i believe

On Wednesday, 22 June 2016, Iacopo Spalletti <notifications@github.com>
wrote:

--
Sincerely,
Rodolfo Martinez
(519)521-3135 / (281)674-5103
Skype: rodolfo-reimar
CEO The Shooting Star Press inc.
www.LuchaComics.com

Be sure to follow @LuchaComics !

[2016-06-22 21:31] yakky commented on #5441
@rodolfomartinez @bartmika @exploide we can't commit on any ETA for reversion 2.0, but you can just install reversion <2.0 in the meantime

[2016-06-23 07:54] kalombos commented on #3748
I have  the same error in chromium when i use S3 as storage for media files. I created simple plugin with ImageField and tried to view the image in edit mode and got the error. Does any solution exists?

[2016-06-23 13:10] czpython commented on #5451
@bartTC
Thanks for reporting.
We're currently working in a cleanup of our permissions system for 3.4
I'll keep this open in the meantime.

[2016-06-23 13:10] czpython commented on #5450
@bartTC
Thanks for reporting.
We're currently working in a cleanup of our permissions system for 3.4
I'll keep this open in the meantime.

[2016-06-23 19:49] jsma commented on #5445
FYI, sphinxcontrib-spelling is [now fixed](https://bitbucket.org/dhellmann/sphinxcontrib-spelling/pull-requests/5/use-https-with-pypipythonorg/diff#comment-20174001) but no official PyPI release yet.

[2016-06-24 00:52] harrywallace commented on #5033
This is happening because there are many places in django-cms source code where the `reverse()` method is called, but the namespace that @Said007 is trying to define of `cms_website` is obviously not used for that call. e.g. https://github.com/divio/django-cms/blob/release/3.3.x/cms/models/pagemodel.py#L180

I can see the difficulty in supporting user-defined namespaces, such as `cms_website`, but

[2016-06-24 12:21] itbabu opened #5454 "Compatibility with Django compressor?"
I'm using django-compressor with sekizai:
[code]
After this commit https://github.com/divio/django-cms/commit/4f2ec2361b0fef3c7e84d553ca86819c23debd43 a script with type ```text/cms-template```  was moved  inside an addtoblock "js" block.

Django-compressor doesn't know how to handle it and it raises an error.
 So when I try to edit a page I get:
[code]
Here the file: [cms/templates/cms/toolbar/pl

[2016-06-24 12:34] czpython commented on #5454
@itbabu
Thanks for the report.
@vxsx let's discuss.

[2016-06-24 13:16] alexeykuz commented on #5441
@yakky you cant install reversion < 2.0 with Django >= 1.9

[2016-06-24 13:28] czpython commented on #5441
@yakky The above would make it a blocker for 3.3.1.

@aleray Can you post the error? or a link to the docs that states reversion < 2.0 is not 1.9 compatible?

[2016-06-24 14:06] yakky commented on #5441
@alexeykuz @czpython django-reversion 1.10+ supports django 1.9 just fine ( https://django-reversion.readthedocs.io/en/stable/changelog.html#id12 + running it in production)

[2016-06-25 01:26] bxm156 opened #5456 "manage.py cms check crashes"
Not sure whats going on, but  when I tried to run cms check, i got...

[code]

Django==1.9.6
django-cms==3.2.5

[2016-06-25 14:49] czpython commented on #5456
@bxm156
Hi there,
Do you have djangocms-link installed? If so can you comment it out in `INSTALLED_APPS` and run the command again?

[2016-06-25 14:54] yakky commented on #5456
@czpython @bxm156 see https://github.com/divio/djangocms-attributes-field/issues/7

[2016-06-26 13:58] vxsx commented on #5454
@czpython separate sekizai block?

[2016-06-26 15:54] czpython commented on #5456
Closing in favor of https://github.com/divio/djangocms-attributes-field/issues/7

[2016-06-26 15:54] #5456 closed

[2016-06-26 16:44] vxsx commented on #5391
@itbabu very weird. could you try without screenshots? I will look into this in more detail, so far couldn't reproduce

thanks for the report!

[2016-06-26 16:49] vxsx commented on #5424
i don't think i will be able to easily detect other servers running on the same port, but as a fix we could use less common port by default (e.g. 6789 or smth) and provide a possibility to specify it via `--port`

do you think that would be sufficient @itbabu ?

[2016-06-26 22:31] Moini commented on #4983
@czpython : Sorry for the late reply (I've been busy, too ;-) ), and thank you for taking a look into this!

Settings at the time of the issue (but it still happens just like before):
http://bazaar.launchpad.net/~inkscape-webadmin/inkscape-web/inkscape-web/view/1065/inkscape/settings.py

So this is what I do:

- Go to a page in a different language (say, French this time)
- Select to edit the page

[2016-06-26 23:13] naush commented on #5093
Same problem here.

We have a test database that we use `--database=test` to select based on [instruction](https://docs.djangoproject.com/en/1.7/topics/db/multi-db/#synchronizing-your-databases) from official docs. However, 0005 picks up default database instead. And because 0006 (which removes the `level` column) was ran on the default database already, 0005 errors out when referencing the remove

[2016-06-26 23:18] naush commented on #4798
See: https://github.com/divio/django-cms/issues/4798

Could be the same problem. Not sure if the bug affects router as well.

[2016-06-27 09:09] LaurensBER opened #5459 "DjangoCMS now requires djangocms-admin-style>=1.0"
In previous releases this was still >=0.2.

I maintain an product where we integrated the styling when it was still in the 0.2 series (that was the most recent styling available at that moment). I would strongly prefer not to upgrade the admin styling at this moment (the difference between the 0.2 and 1.0 version is quite big) due to how confusing new styling can be for users.

If I manually insta

[2016-06-27 09:35] FinalAngel commented on #5459
@LaurensBER since django CMS 3.2 djangocms-admin-style >= 1.0 is highly recommended. We do not test older versions (< 1.0) for 3.2+ releases anymore. So functionality actually might break.

If you still want to use 0.2 - at your own risk - please install it manually. Any remarks @yakky otherwise closing?

[2016-06-27 12:26] bharling opened #5460 "Cannot create any plugins inside Text plugin"
For some reason, every time I attempt to add a plugin as a child of a Text plugin now I get a bad request response.

I've tracked it down to here:

https://github.com/divio/django-cms/blob/a238849952032fa8a42d0a4d4c8cfdd405927867/cms/admin/placeholderadmin.py#L247

The placeholderadmin is expecting the plugin_type parameter to be passed in the GET section of the request, but it seems ( at least on

[2016-06-27 12:31] czpython commented on #5460
@bharling
Hello,
Please use the latest djangocms-text-ckeditor.
The compatibility "table" is in the [readme](https://github.com/divio/djangocms-text-ckeditor)

[2016-06-27 12:31] #5460 closed

[2016-06-27 12:59] bharling commented on #5460
I am I think >

[code]

[2016-06-27 13:00] bharling commented on #5460
This does not manifest on our staging server but does in production, I'm thinking this may be at the server setup level ( we're using apache / mod_proxy for the moment ).

[2016-06-28 08:30] vxsx commented on #5449
@bartTC could you please check if https://github.com/divio/django-cms/pull/5461 fixes this for you?

[2016-06-28 13:52] #5449 closed

[2016-06-28 15:27] vxsx commented on #5454
Should be fixed by #5463

[2016-06-28 18:33] jsma commented on #5448
Was just about to open a ticket for this. I agree it should use logging as well, but I'd also like to improve *what* is logged so it's as useful as possible. For instance, it's very unclear why I see this kind of output or what I'm supposed to do with this information:

    New revision!!!! RELOAD!
       074c568c-1ce0-49fe-afe2-1027ddcaff0b (<class 'str'>)
    -> None (<class 'NoneType'>)

Or:

[2016-06-28 18:48] jsma opened #5464 "Git merge conflict?"
I just tried to do the usual `git fetch upstream && git merge upstream/develop` to re-sync my fork but I get a merge conflict. I work on branches in my fork and haven't committed directly to the `develop` branch. Did someone force push a change or is my git-fu weak? If the latter (which is likely), how do I get my fork back in sync without adding a spurious commit to the develop branch?

    $ git

[2016-06-28 18:55] czpython commented on #5464
@jsma
Hi there,
We force pushed the develop branch to be in sync with the 3.3.x branch.
All prs should target the release/3.3.x branch unless they've been approved for 3.4.x (develop).

[2016-06-28 18:59] jsma commented on #5464
Ah, so I shouldn't even be sync-ing the develop branch anymore then? I'll have to unlearn that old habit.

[2016-06-28 18:59] #5464 closed

[2016-06-28 20:17] avoine opened #5465 "The BACKEND key is missing from the TEMPLATES setting in the documentation"
In http://docs.django-cms.org/en/develop/how_to/install.html#configuring-your-project-for-django-cms
It shows how to configure the templates with django > 1.8 but it's missing the BACKEND key.
It should be:

<pre>
 TEMPLATES = [
     {
          'BACKEND': 'django.template.backends.django.DjangoTemplates',
...
    }
]
</pre>

[2016-06-28 20:46] itbabu commented on #5424
Maybe a verbose message when starting the server?
Like ```Starting a server on port 6789``` or ```Port 6789 already in use. Starting the server on port 6797``
The port change was not obvious to me while looking at the tests logs

[2016-06-28 21:02] itbabu commented on #5391
first attempt same error:
[code]
2nd try .. a new error
[code]
3rd and 4th attempts
[code]

[2016-06-29 06:54] FinalAngel commented on #5465
Thanks for the report @avoine, would you be able to submit a PR for this?

[2016-06-29 13:37] czpython commented on #5448
In the hopes someone can tackle this, here's the explanation:

When an apphook is attached to a page, if the project has the `ApphookReloadMiddleware` middleware installed, the cms will trigger a reload of the configured url conf module.  This allows the content manager to continue to use the page with the apphook urls already applied.

Without the `ApphookReloadMiddleware` middleware installed, c

[2016-06-29 21:17] nolsto opened #5470 "Languages in tabs of change form from PageAdmin's add_view come from request rather than Page site ID"
In `update_language_tab_context`, called from `add_view`, the `obj` is always `None`, and does not exist for languages to be determined by a `site_id`. Instead the tabs are populated from the languages of the site the request is from:

[code]

This is causing form validation errors without displayed messages when trying to create a page for a site that does not share any languages with the site or

[2016-06-30 01:09] doctormo opened #5471 "Migration 0010 imports ContentType directly"
ContentType model should be gotten via get_model (no models should be used directly in data migrations)

[2016-06-30 10:26] V1ce opened #5476 "Jquery error in admin when I use PageSmartLinkField in my models"
Hi,

Before upgrade django-cms to 3.3 from 3.2.5 i was able to re-use the PageSmartiLinkField in my own models, but since the upgrade i now get jquery errors when i go to the model edition in the admin.

This looks like a conflict with my other js files. i got this :

- select2.js : L22, $ is undefined
- forms.pagesmartlinkwidget.js : L19, $ is not a function
- In the js part of admin "add" page :

[2016-06-30 11:34] #5471 closed

[2016-06-30 11:39] vxsx commented on #5476
Hi, I haven't seen this kind of error before. It would be helpful if you could provide the minimal example to replicate the issue.

Also, could you try reproducing the issue on latest `release/3.3.x` branch?

[2016-06-30 13:23] V1ce commented on #5476
Django 1.9.7
python 3.4.2
django-cms 3.3.0

Here my current use of PageSmartLinkField in my "news" app for the project "bgl".

**bgl/forms.py** : global PageSmartLinkField form extended by my apps

[code]
honnestly i don't understand these lines... i was able to re-use this with help from this page :
http://vivazzi.ru/it/page-smart-link-widget-error/
because i got errors with language field when i

[2016-06-30 14:00] ursomniac opened #5477 "Deleting plugin never completes"
django-cms==3.2.5;  Django==1.8.13

If I have a page with plugins and I attempt to delete one from the page (either through the "Structure" UI or double-clicking on the plugin on the "Content" view of the page,  it never completes (just spins forever).

It appears to happen to any plugin (custom-built ones but also the "native" text, etc. plugins).

Any ideas?   The site is using MySQL==5.6.17, bu

[2016-06-30 14:03] vxsx commented on #5477
Any chance it is a duplicate of https://github.com/divio/django-cms/issues/4376 ?
tl;dr the can happen if you use firefox with 1password/lastpass extensions enabled

If it's not the case then I'd love to hear more details. OS / Browser / any javascript errors in the browser console?

[2016-06-30 14:04] piotrjakimiak commented on #5477
Does it and with 500 error?
It is ajax request. Use developer tools in Your browser and check request result .

[2016-06-30 14:18] ursomniac commented on #5477
vxsx ---- OMG - I think you've hit it.   I AM using Firefox and just recently installed that extension.  Lemme check to see if that is the culprit.

[2016-06-30 14:21] ursomniac commented on #5477
YES - that's the problem.

[2016-06-30 14:21] #5477 closed

[2016-06-30 15:12] vxsx commented on #4376
@bennierex @furiousdave would you mind checking if the problem is fixed for you on latest `release/3.3.x`? I can no longer reproduce.

[2016-06-30 16:06] alamasfu10 opened #5482 "Caching CustomPlugin depending on the Placeholder it is placed"
I was wondering if is there any workaround to not cache plugins in specific placeholders.
Let's say I have a CustomPlugin, and I want this plugin to be cached everywhere except if it is inside a `{% static_placeholder 'special_placeholder' %}`
The `cache = False` flag in the definition of my CustomPlugin does not do what I want (I want this plugin to be cached or not depending on the placeholder i

[2016-06-30 20:49] bartTC commented on #5449
@vxsx this fixed the bug, thank you all!

[2016-06-30 23:05] czpython commented on #3949
@timgraham @yakky
I'm currently refactoring parts of the permissions code, I've come across several checks like `getattr(request, 'user', None)`. The CMS requires the authentication middleware which sets the user attribute so is it safe to assume then that the request has a user object? and so going forward we should only check if user is authenticated?

[2016-06-30 23:13] timgraham commented on #3949
Yes, I think it's okay. I had a test that used `@override_settings(MIDDLEWARE_CLASSES=('...',)` but didn't include that middleware. I've since fixed that to include the required middleware.

[2016-06-30 23:39] czpython commented on #5482
@alamasfu10
Hello there,
Please post support related questions to the google groups or other support channel.
You can see all the available channels [here](https://www.django-cms.org/en/support/)

[2016-06-30 23:39] #5482 closed

[2016-07-01 11:20] vxsx commented on #5382
@petrklus could you please check if #5486 fixes things for you?

[2016-07-01 13:42] czpython opened #5488 "Invalid permissions required to copy into clipboard"
A non superuser can't copy plugins from a model which uses a `PlaceholderField` into the clipboard unless he has **change** permissions on the model and change permissions on the `UserSettings` model.

[2016-07-01 21:44] philippeowagner opened #5490 "UnicodeDecodeError when using publisher-publish."
Publishing using `python manage.py cms publisher-publish` raises an unicode decode error using cms==3.3.0 and Django==1.8.x.

    Traceback (most recent call last):
      File "manage.py", line 10, in <module>
        execute_from_command_line(sys.argv)
      File "/.../www/lib/python2.7/site-packages/django/core/management/__init__.py", line 354, in execute_from_command_line
        utility.execu

[2016-07-01 22:56] czpython commented on #5490
Hello @philippeowagner,
I believe your system python's encoding is not utf8, try running the command like so:

`PYTHONIOENCODING=utf8 python manage.py cms publisher-publish`

[2016-07-01 23:12] philippeowagner commented on #5490
Thanks @czpython for your reply. The issue persists.

[2016-07-02 13:26] ivjuris commented on #4882
Try following this steps. This works for me.

[code]

[2016-07-04 08:30] TheDeadOne opened #5492 "Option 'name' in CMS_PLACEHOLDER_CONF ignored"
Option 'name' is ignored If template name specified before placeholder name

[code]

The first work, but the second is not.

[2016-07-04 08:32] yakky commented on #5492
@TheDeadOne why django CMS version are you using?

[2016-07-04 08:34] TheDeadOne commented on #5492
@yakky 3.3.0

[2016-07-04 11:33] vstoykov opened #5493 "Register Page and Title extensions into the pool with decorator."
I think that will be more convenient instead of using

    class MyPageExtension(PageExtension):
        my_field = models.CharField()

    extension_pool.register(MyPageExtension)

Registering to happen with decorator

    @extension_pool.register
    class MyPageExtension(PageExtension):
        my_field = models.CharField()

The easiest way to achieve this is by adding returning the object in `

[2016-07-04 11:37] czpython commented on #5493
Personally, I like to put all registrations at the bottom of the file (plugins, admin classes, etc.)
That said, I don't see an issue with supporting both as we do with plugins.

[2016-07-04 13:00] czpython commented on #5490
@philippeowagner
I can reproduce the issue. Got a patching in the works.

[2016-07-04 13:55] vstoykov opened #5494 "Make it possible to use multi-table (concrete) inheritance for Page and Title extensions"
I just realized that when I have multi-table inheritance for TitleExtension (I guess is the same for PageExtension) and try to publish the page django-cms fails to copy the extension instance and instead save the same instance.

The reason behind this is because `BaseExtension.copy_to_public` method (https://github.com/divio/django-cms/blob/release/3.3.x/cms/extensions/models.py#L64-L87) does not

[2016-07-04 15:00] yakky commented on #5492
@czpython I'll take this myself, as I want to check what the new placeholderconf changed in this respect

[2016-07-04 16:43] yakky commented on #5493
I like the decorator style

[2016-07-05 10:31] jedie opened #5502 "del _thread_locals.user -> AttributeError: user"
Get a strange error, while usage of **cms.api.create_page()** in a management command e.g.:
[code]

The Problem is:
[code]
importlib.import_module() will be import **djangocms_blog** and this will remove  "user" from "_thread_locals".

[2016-07-06 08:33] igorpejic opened #5512 "Find visible plugins with multiple templates and static placeholders"
Hi,

is there any way to check if a Plugin is visible (published) anywhere in a page?
I have multiple pages with different templates each.
These templates have different static placeholders which have different plugins.

The problem is some plugins are present on templates which are not activated and therefore I don't want to get those in my query.

Is there a method to show only the plugins which

[2016-07-06 11:20] czpython commented on #5512
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

[2016-07-06 11:20] #5512 closed

[2016-07-06 20:24] philippeowagner opened #5513 "Documentation for `cms.api.add_plugin`is wrong."
* position (string) – Position to add this plugin to the placeholder, must be a valid django-mptt position

django-mptt

[2016-07-07 08:30] bartTC commented on #3774
Hi, we stumbled over this issue as well and I can see the complexity to integrate this well on page/transaction level.

What about drastically simplifying this, do not lock a page, and make it much more high level. I could imagine a notification  "User xx is currently editing this page too." which then is discarded in cache once the page was published, edit mode is closed, a timeout ran out.

[2016-07-07 12:00] #5459 closed

[2016-07-07 17:26] Frigory33 commented on #3599
Hello,
I'm another contributor of the Inkscape website.

Here are two videos:
* https://files.cloud.orange.fr/cloudUpDown/V06.00.08/UpDownCloud/downloadFileAnonymous?fileId=__upload%2Fdjango-cms-undo-bug-long.ogv&shareToken=SjMxQKt86u1077019c7c
* https://files.cloud.orange.fr/cloudUpDown/V06.00.08/UpDownCloud/downloadFileAnonymous?fileId=__upload%2Fdjango-cms-undo-bug.ogv&shareToken=SjMxQKt86u1077

[2016-07-07 23:48] #5490 closed

[2016-07-08 00:15] czpython commented on #5513
Thanks for the report.

@evildmp Is it ok for you if we trim that line to say "Position to add this plugin to the placeholder".

[2016-07-08 00:17] czpython commented on #4983
@Moini
Thanks for the update.
I've been quite busy with permissions, will try to get to this no later than next week.

[2016-07-08 11:04] vstoykov commented on #3367
@fsto This is because django-rest-framework is using `request.body` directly to construct `request.data` because django-rest-framework supports not only `application/x-www-form-urlencoded` and `multipart/form-data` but allso `application/json' and `application/xml`.

For reference: https://github.com/tomchristie/django-rest-framework/blob/master/rest_framework/request.py#L271

[2016-07-08 12:43] czpython commented on #5454
Fixed by https://github.com/divio/django-cms/pull/5463

[2016-07-08 12:43] #5454 closed

[2016-07-08 12:59] czpython commented on #5382
Fixed by https://github.com/divio/django-cms/pull/5486

[2016-07-08 12:59] #5382 closed

[2016-07-08 13:03] czpython opened #5517 "Refactor PageUser and PageUserGroup"

[2016-07-08 13:04] czpython commented on #4225
Closing in favor of https://github.com/divio/django-cms/issues/5517

[2016-07-08 13:04] #4225 closed

[2016-07-08 13:07] czpython commented on #3748
Fixed by https://github.com/divio/django-cms/pull/5360

[2016-07-08 13:07] #3748 closed

[2016-07-08 13:08] czpython commented on #3349
Fixed by https://github.com/divio/django-cms/pull/5355

[2016-07-08 13:08] #3349 closed

[2016-07-08 15:03] itbabu opened #5518 "Swipe up or down starting from a disabled menu voice doesn't scroll the menu"
A swipe down should scroll the menu up. This doesn't happen if the swipe starts from a disabled menu.
This is very noticeable if there are a lot of disabled menu voices.

![swipe](https://cloud.githubusercontent.com/assets/650691/16691158/be3154f4-452b-11e6-994f-c8b080ab36d3.png)

I can reproduce this on:
- my android phone with Chrome and Firefox
- my laptop with chrome-devtools and the device to

[2016-07-08 15:05] vxsx commented on #5085
Fixed by #5375

[2016-07-08 15:05] #5085 closed

[2016-07-08 15:06] vxsx commented on #4376
Fixed by #5367

[2016-07-08 15:06] #4376 closed

[2016-07-08 15:06] #3028 closed

[2016-07-08 15:07] vxsx opened #5519 "Frontend integration tests are failing locally"
originally reported here https://github.com/divio/django-cms/issues/5391

[2016-07-08 15:08] vxsx commented on #5391
Closing, as the original issue was resolved, opened https://github.com/divio/django-cms/issues/5519 to track the integration tests issue

[2016-07-08 15:08] #5391 closed

[2016-07-08 15:55] leesolway opened #5520 "Feature Request: Site Configs"
It would be helpful to have some in-built CMS supported method that would allow a user to define settings for a specific site..

Settings could include items such as: Google Analytics Id, Theme, Logo and Template paths to name a few.

The CMS already provides ways to do page settings but a site settings framework that was cached and possibly dynamic would support a multi-site or even a reusable se

[2016-07-08 15:57] yakky commented on #5520
I think this is way better handled in a separate app

[2016-07-08 15:58] czpython commented on #5520
Hello, please make sure to submit questions or feature requests within the appropriate channels.
You can find additional information on our [support](django-cms.org/support) page.

In this case, I believe your question is best in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-07-08 15:58] #5520 closed

[2016-07-08 17:33] czpython opened #5522 "Corrupted context in render_plugin_toolbar_config tag"
Reported by @Air-Mark in https://github.com/divio/django-cms/pull/5384

[2016-07-10 18:11] HerHde opened #5526 "Allow href="tel:...""
Ahoi guys,
although I couldn't find any official definition, it would be helpful to allow *tel:*-values in `href` attributes like [this](http://stackoverflow.com/questions/17219688/href-tel-and-mobile-numbers).
At the moment such telephone numbers disappear when I'm saving the site, even if I've added them in the HTML-Code of a text structure.

Greetings
HerHde

[2016-07-10 18:23] yakky commented on #5526
Check djangocms-link plugin https://github.com/divio/djangocms-link that supports "tel:" prefix. Or you can configure text plugin to keep during sanitization (check https://github.com/divio/djangocms-text-ckeditor documentation)

[2016-07-10 18:23] #5526 closed

[2016-07-11 00:59] rasca opened #5527 "Add a management command for enabling permissions"
When enabling permissions in an existing project that had them turned off there are no users (page) and no user groups (page).

It would be nice to have a management command that creates all the necessary PageUser and PageUserGroup models.

[2016-07-11 11:17] #5522 closed

[2016-07-11 11:44] philippeowagner commented on #4432
We had the same issue on a machine lately. We use _nginx_ in combination with _fastcgi_pass_.
Setting `fastcgi_param  HTTPS on;` in the location explicitly did the trick for us.

[2016-07-11 11:45] philippeowagner commented on #4215
For reference only: https://github.com/divio/django-cms/issues/4432#issuecomment-231711675

[2016-07-11 12:09] czpython commented on #5492
@yakky Are you able to look into this today? We'll be releasing soon, otherwise we can push it for 3.3.2

[2016-07-11 15:53] yakky commented on #5492
Confirmed. I'll send a PR later

[2016-07-12 09:03] stefanfoulis opened #5535 "Figure out better German translation for sites vs pages"
Currently both `Page` and `Site` are translated as `Seite` in German.
This can be very confusing in admin as well as the toolbar, where the same word is used for different things:
![screen shot 2016-07-12 at 10 52 17](https://cloud.githubusercontent.com/assets/14330/16761051/c64b9c80-481e-11e6-9835-24d465794735.png)

The first `Seiten...` is for Pages. The second "Seiten >" is for Sites (`django.c

[2016-07-12 14:28] #5492 closed

[2016-07-13 09:04] FabrizioA commented on #5448
I have the same "problem"...
How can I hide this annoying message??

"""
 New revision!!!! RELOAD!
      8b8be4b3-1fce-469a-bb04-bca63091de22 (<type 'unicode'>)
   -> None (<type 'NoneType'>)
"""

[2016-07-13 18:38] jgoettsch opened #5538 "MIgration 0016_auto_20160608_1535 of 3.3.1 results in IndexError: list index out of range"
Django 1.8.13, Django-CMS 3.3.1, PostgreSQL.

This is the output:

[code]

This is what I have installed:

[code]

[2016-07-13 18:50] czpython commented on #5538
@jgoettsch
Hi there,

This one is quite strange.
Are you upgrading an existing project? or fresh install?
Also what PostgreSQL version are you running?

[2016-07-13 19:05] jgoettsch commented on #5538
Fresh install of 3.3 yesterday went fine. Tried to update to 3.3.1 today. The migration was fine on my dev box, but failed on my staging server. Both are running identical software, the database contents are identical.

PostgreSQL is 9.2 from the CentOS 6 Software Collections Library.

[2016-07-13 19:12] czpython commented on #5538
@jgoettsch
This looks like an issue with your postgres install on the staging server.
Have a look at https://code.djangoproject.com/ticket/25476

[2016-07-13 19:36] jgoettsch commented on #5538
That looks to be the case.

Thanks for the quick help and sorry for the extra noise.

[2016-07-13 19:39] #5538 closed

[2016-07-14 10:34] jedie opened #5540 ""Duplicate entry '3' for key 'publisher_public_id'""
1. create a new page
2. publish the new page, but a internal error [1] raised.
3. try to publish the page again will result in: **"Duplicate entry '3' for key 'publisher_public_id'"**

[1] Error in plugin called from cms here:
[code]

So the publish part is not under a atomic transaction?!?

Maybe related to #5246 ?!?

EDIT: CMS 3.3.1 with MySQL
This will also happen if **ATOMIC_REQUESTS= True**

[2016-07-14 11:19] czpython commented on #5540
@jedie
Hello please provide the following info:

Is this a fresh install?
Is this an upgrade?
Did you try restoring a page or undoing a change?
Output of pip freeze
Installed apps

[2016-07-14 11:20] #5246 closed

[2016-07-14 12:52] vxsx commented on #5352
3.3.1 was released yesterday with updated translations.

[2016-07-14 12:52] #5352 closed

[2016-07-14 12:53] jedie commented on #5540
I have tested this with a fresh database.
No restore/undo used.
[code]
[code]

Maybe i should try to reproduce it with a minimal installation.

[2016-07-14 13:59] vxsx commented on #5476
It seems like this is a regression that started in 3.3.0 and worsened in 3.3.1 in this [commit](https://github.com/divio/django-cms/commit/a44cf25d6d5fd63cd2e9bd2ad1b5e14ae15c7d7b)

We no longer load the admin bundle in widgets, which causes the error on non-cms pages

Temporary fix would be to add this to the class that uses the widget:

[code]

[2016-07-14 14:18] petrklus commented on #5271
I would like to add further piece of information - even if the main content is present, it needs to be published first. When I published only the ES language, the page disappeared from the site tree. I still had the actual URL in my browser, thus I was able to switch to main language and publish the main page.

I am afraid this one is too low level for me @FinalAngel to propose a patch without nee

[2016-07-14 14:22] czpython commented on #5540
@jedie
Thanks, in the description you mentioned an internal error when publishing the page prior to the Duplicate entry error, can you provide a traceback?

[2016-07-14 14:27] vxsx commented on #5424
Should be fixed in `release/3.3.x`

[2016-07-14 14:27] #5424 closed

[2016-07-14 14:55] macolo commented on #5476
I also see another script failing:

`dropzone.init.js:106 Uncaught ReferenceError: jQuery is not defined`

[2016-07-14 15:01] vxsx commented on #5476
@macolo is looks like a AdminFileWidget from django-filer's widget
weird, they depend on django.jQuery there, not on the CMS one

[2016-07-14 15:38] jedie commented on #5540
The Problem is, that the error message will only popup via JavaScript.

[2016-07-14 17:18] jedie commented on #5540
I have tried to reproduce the problem with a minimal setup created in a fresh virtualenv.
I tested with SQLite and MySQL and insert a 'raise'-toggle in **cms.utils.copy_plugins.copy_plugins_to()**:
[code]

But the "duplicate" error doesn't appears.

pip freeze:
[code]
I also try with a downgrade to **django-cms==3.3.0**

So i close this here...

[2016-07-14 17:18] #5540 closed

[2016-07-15 11:35] evildmp opened #5545 "cms.toolbar_base.CMSToolbar lacks reference documentation"
Much of the information needing to be provided already exists in the documentation, so it's mostly a case of gathering it together.

[2016-07-19 07:03] jsma opened #5550 "New related_name triggering migrations for all plugins"
It appears that [this commit](https://github.com/divio/django-cms/commit/871a16433f713249ee20b52574803f51941ac20c) changed how the related_name is calculated per CMSPlugin subclass. If I do `./manage.py makemigrations`, it attempts to create migrations for any installed app which subclasses CMSPlugin:

[code]

As far as I can tell, the only thing these migrations do is add the related_name attribu

[2016-07-19 08:59] V1ce commented on #5476
Thanks for your answer.

After add the media class in my forms the js file is loaded in the model edition but i got new jquery error :

- select2.js : L22, $ is undefined
- forms.pagesmartlinkwidget.js : L19, $ is not a function
- **In the js part of admin "add" page : L355, CMS.PageSmartLinkWidget is not a constructor**

**bgl/forms.py**

[code]

[2016-07-19 09:02] vxsx commented on #5476
@V1ce could you please try this branch https://github.com/divio/django-cms/pull/5546 ?

[2016-07-19 09:33] V1ce commented on #5476
After install this branch, remove static files and re-collect i got same error :

https://github.com/divio/django-cms/tree/f527425d1b7a06d782f96b55a25df75a2de54732

[2016-07-19 12:53] czpython commented on #5550
@jsma
Hello,
Thanks for reporting.

This is a known issue, we've been discussing internally how to address it without too much effort on project developers.

So far we think the best approach is to create the migration for apps that support 3.3.0 and up meaning Django 1.8+ (cmsplugin-filer is an example). For apps that still support Django 1.6 and 1.7, we're planning to either drop 1.6 & 1.7 suppo

[2016-07-19 15:05] vxsx commented on #5476
Hmm, this is weird, could you try following steps @V1ce ?

[code]

and then restart the server and refresh the page with clearing cache

[2016-07-19 16:55] ps91 opened #5554 "NoReverseMatch when using render_model"
I'm trying to use `render_model` in my html template but I'm getting this error:

[code]

In my html I have:

[code]

Do you know what's wrong?

[2016-07-19 21:40] pdbethke opened #5555 "Make note of need for migrations in plugin tutorial"
Just a suggestion from a user working to develop a new CMS plugin that uses a model -- it may seem intuitive to some django programmers but you might want to add a line in the http://docs.django-cms.org/en/release-3.3.x/how_to/custom_plugins.html#storing-configuration tutorial noting that you should run **manage.py makemigrations** and **manage.py migrate** following your model creation to properl

[2016-07-19 22:33] czpython commented on #5554
Closing as this was addressed on a different chat.

[2016-07-19 22:33] #5554 closed

[2016-07-20 07:15] V1ce commented on #5476
It now works !! Thanks for your time

[2016-07-20 09:28] #5476 closed

[2016-07-20 10:25] ps91 commented on #5554
@czpython  I didn't understand why you closed this issue. I still couldn't figure out what the problem is. Thank you :)

[2016-07-20 14:13] doctormo opened #5556 "Diff of History"
The inkscape project has worked on a diff feature of django-cms, it's currently a separate app in our repository, but I'm brining it to django-cms project's attention to see if it's useful for other users.

See screenshots for examples. It follows the wikia diff form pattern and uses reversion with diff_match_patch to produce colour diff output.

![01-history](https://cloud.githubusercontent.com/a

[2016-07-20 14:14] jedie commented on #5079
run into the same Problem :(

[2016-07-20 14:28] hoerin opened #5557 "render_placeholder tag raise exception"
I created an simple app with Apphook.
However I got the following exception.

/cms/templatetags/cms_tags.py in _get_value

[code]

The "placeholder" variable has this tuple.
`(<cms.models.fields.PlaceholderField>,)`

I think the variable should be an instance of Placeholder model.
Could someone help me?

My simple app is like this.

models.py
[code]

admin.py
[code]

views.py
[code]

template.html

[2016-07-20 14:29] czpython commented on #5556
@doctormo
This looks amazing!
Would you mind posting on the [django-cms-developers group](https://groups.google.com/forum/#!forum/django-cms-developers).

Thanks!

[2016-07-20 14:29] #5556 closed

[2016-07-20 14:40] czpython commented on #5557
@hoerin Hi there, is that a typo on your `News` model?

[2016-07-20 16:51] hoerin commented on #5557
@czpython OMG you are correct! I removed the typo and run again. it completly works!!
Thanks so much. I was suffering all day today :'-D

[2016-07-20 16:52] #5557 closed

[2016-07-21 06:52] mikedingjan opened #5559 "2.4.x branch - HTML5LIB"
Html5lib has dropped the Sanitizer module in their latest version. Since django-cms doesn't have any version pinned, builds will fail.

Fixed it by manually installing version `0.9999999` maybe this can be defined in the setup.py?

[2016-07-22 09:23] chdeleuze opened #5561 ""Missing Flash" error with djangocms-video, Django-cms 3.3.x, django 1.8.xx"
Hello,

The plugin djangocms-video always raised :"missing flash" error with Django-cms 3.3.x (test on 3.3.0 and 3.3.1) and django 1.8.xx (test on 1.8.13 and 1.8.14) on fresh install.

When I try the same with django-cms 3.2.5 the videos are well displayed.

Regards,
c deleuze

[2016-07-22 10:10] chdeleuze commented on #5561
Missing folder and files into 3.3:
static\cms\swf\expressInstall.swf
static\cms\swf\player.swf
static\cms\js\libs\swfobject.min.js

[2016-07-22 11:59] czpython commented on #5561
Hello @chdeleuze,
Flash support was officially deprecated by Adobe.
There's a ticket open on djangocms-video to no longer use a flash player but it's still in early stages.

[2016-07-22 11:59] #5561 closed

[2016-07-23 19:25] sephii opened #5562 "Unable to create an initial page when DEBUG = False"
With `DEBUG = False` whatever you do if you don't have any content in your database will lead you to a 404 page (even if you go to http://example.com/?edit), making you unable to do anything on your website. I'm not sure how I've never dealt with this issue before, having been a DjangoCMS user for quite some time now, so I might just be missing something. Anyway here's the code that fires up the "

[2016-07-23 20:29] DharienNightroad opened #5563 "Plugins not working with conditional extend tag"
I have this code at the top of a page template. With that, any placeholders and plugins don't show. I cant edit a page structure.

{% extends request.user.is_authenticated|yesno:"member_template.html,base.html" %}

If I do This

{% extends "member_template.html" %}

or this

{% extends "base.html" %}

Everything works fine. Is there a way to make the first extend work?

[2016-07-23 23:35] czpython commented on #5562
@sephii
Hi there,
which djangoCMS and Django versions are you using?

Also I assume you're accessing the page as a logged in superuser?

[2016-07-23 23:38] czpython commented on #5559
@mikedingjan
Hello,
The 2.4.x releases are no longer supported.
You can easily pin the htlm5lib version in your project requirements to avoid the CMS installing the latest.

Regarding the 3.x releases, we'll probably remove html5lib as a dependency.

[2016-07-23 23:38] #5559 closed

[2016-07-23 23:39] czpython opened #5564 "Drop html5lib as a dependency"
The new release of html5lib has caused several issues for new installations, given that we don't use this library directly (it's used by djangocms-text-ckeditor), I suggest we drop it.

/cc @divio/django-cms-core

[2016-07-24 06:16] sephii commented on #5562
Sorry, I'm using DjangoCMS 3.3.1 and Django 1.9.7. I tried going to `/admin/` first and log in, I can access the admin without any problem but going to `/?edit` (or `/en/?edit` to be precise) still returns a 404.

You can easily reproduce the issue by creating a project with djangocms-installer and set `DEBUG=False` and `ALLOWED_HOSTS`.

[2016-07-24 14:08] sephii opened #5565 "Placeholder cache doesn't depend on URL"
The plugins cache doesn't depend on the page URL, making it impossible to have a cached plugin that would behave differently based on the current page. A simple use case is a menu plugin that displays the menu of pages, with the current page having a specific class in the DOM (eg. `active`) to be able to distinguish it. The current caching system uses the same key across all URLs, thus using the s

[2016-07-24 14:28] czpython commented on #5565
Hello,
We're aware of the issue, the solution boils down to having a plugin level cache.
Currently we have page and placeholder only.

With a plugin level cache, we wouldn't have a cache key per url every time.
Instead we give the control to plugin developers, this way in your case the plugin can return one cache key when it's active and another when it's not.

[2016-07-24 23:47] amadornimbis commented on #5079
Has this been investigated further yet? This completely prevents the use of `django.core.cache.backends.db.DatabaseCache` and I've confirmed this is still a bug in django-cms v3.3.1.

[2016-07-25 07:27] FinalAngel commented on #5563
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

[2016-07-25 07:27] #5563 closed

[2016-07-25 07:27] FinalAngel commented on #5564
👍

[2016-07-25 07:51] FinalAngel commented on #3774
Closing for further discussions in:
https://groups.google.com/forum/#!topic/django-cms-developers/MIhUzcQpWrg

[2016-07-25 07:51] #3774 closed

[2016-07-25 07:58] FinalAngel commented on #5257
Hello, please submit only bug reports to GitHub issues. Feature requests for django CMS should be submitted to the django CMS developers [mailing list](https://groups.google.com/forum/#!forum/django-cms-developers) for discussion first. Afterwards a Pull Request should be submitted.

You can find additional information on our [support](https://django-cms.org/support) page.

[2016-07-25 07:58] #5257 closed

[2016-07-25 08:56] jrief commented on #5257
Well, relying on having only one item in the clipboard is not a feature request, but (at least in my opinion) a bug. Unless djangoCMS intentionally want's to support such a feature.
I'll try to reproduce it, though.

[2016-07-25 11:03] czpython commented on #5257
@jrief Agree, it's a bug. Please try to reproduce on latest (3.3.1) though.

[2016-07-25 13:26] jedie commented on #5561
https://github.com/divio/djangocms-video/issues/1 ;)

[2016-07-25 14:31] evildmp commented on #5555
Thanks, fixed in https://github.com/divio/django-cms/pull/5566.

[2016-07-25 14:31] #5555 closed

[2016-07-25 16:11] evildmp commented on #5562
I can replicate this and we have agreed it's a bug - thanks for reporting, it'll be fixed.

[2016-07-26 09:29] jedie commented on #4303
Any news here?

[2016-07-26 10:56] #5513 closed

[2016-07-26 11:00] evildmp commented on #5535
@stefanfoulis why not *Webseite* for site?

[2016-07-26 11:16] evildmp commented on #5445
@jsma Still no official release yet. Happy to have a chat about all this on IRC at some point if you like.

[2016-07-26 11:27] jezdez commented on #5535
@MarkusH and me discussed this in an unrelated issue on IRC today and agree that this should be fixed by translating "site" in Django to "Website" or "Webseite".

By the way the reason for using "Seite" has historically been caused by an overlap of meaning between "website" (a generic term for project the developers works on, or any other one on the internet) and "site" in Django's code (a data mo

[2016-07-26 11:58] jezdez commented on #5535
I've just went through all occurrences of "site" or "sites" in Django's German translation and changed it to "Website". This will be shipped with 1.10.

[2016-07-26 22:12] davidmaxs opened #5569 "Migrate from 3.0 to 3.3.1"
Hello, my problem : I migrate from 3.0 ( django 1.6 ) to 3.3 ( django 1.9 ) . In pip lifted up version of the 3.0 to 3.3.1 immediately and django to 1.9 - skipped steps 3.0 to 3.1 to 3.2 .... I use the documentation - changing mptt on Treebeard , south migrations will replace django . Then I do:
manage.py migrate cms 0002 --fake
manage.py migrate cms --run - syncdb
manage.py migrate --fake
manage.

[2016-07-27 12:04] philippeowagner opened #5570 "What about to add a page copied signal?!"
We are missing a signal that will be fired after a page was copied using `page.copy_page`?
Would this be helpful for anybody else?

[2016-07-27 12:15] czpython commented on #5570
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](django-cms.org/support) page.

In this case, I believe your question is best in the

[2016-07-27 12:15] #5570 closed

[2016-07-27 12:16] czpython commented on #5569
Hello, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your question is

[2016-07-27 12:16] #5569 closed

[2016-07-27 13:01] philippeowagner commented on #5570
I just posted on the dev mailing list as suggested: https://groups.google.com/forum/#!topic/django-cms-developers/iF4CUxyEtpo

[2016-07-27 21:22] jsma commented on #5445
Traveling for work at the moment. Btw, @dhellmann just released an update on PyPI for sphinxcontrib-spelling, so that's working again. There's also an open ticket for https://github.com/rfk/pyenchant/issues/84 requesting a new release.

[2016-07-28 09:36] jedie opened #5572 "iframe Add plugin dualog in ckeditor inusable if page is very long..."
e.g.:

* Edit a ckeditor page with very long text
* try to add a link
* Everything is ok:

![djangocms_ui 1 problems](https://cloud.githubusercontent.com/assets/71315/17207943/faca8fa8-54b6-11e6-9734-28562b425c9f.PNG)

Now the problem:

* Edit a ckeditor page with very long text
* **maximize** the edit window
* Add a link (or a other plugin)

The opened "Add CMS Plugin" dialog is unuseable, becaus

[2016-07-28 09:37] jedie commented on #5572
Django-CMS v3.3.1

[2016-07-28 09:51] philippeowagner opened #5573 "Template not showing up when having an Umlaut (äöü...), etc. in CMS_TEMPLATES."
_CMS 3.3.0_

This works:

![screen shot 2016-07-21 at 10 45 51](https://cloud.githubusercontent.com/assets/113043/17208475/33808f1c-54b9-11e6-8ee2-f65721b57c88.png)

    CMS_TEMPLATES = (
       ...
        ('cms/smarterzuegeln_index_template.html', 'Smarter Zuegeln Vorlage'),
       ...
    )

This does NOT work:

    CMS_TEMPLATES = (
       ...
        ('cms/smarterzuegeln_index_template.html',

[2016-07-28 09:56] philippeowagner opened #5574 "Page not shown in link plugin."
_CMS 3.2.x_

Page tree shows page "Prozesse & Produktivität" correctly:

![screen shot 2016-07-28 at 11 51 34](https://cloud.githubusercontent.com/assets/113043/17208705/1166a1b8-54ba-11e6-95a1-aaee4d101fab.png)

Can't choose page "Prozesse & Produktivität",  page is not present:

![screen shot 2016-07-28 at 11 53 19](https://cloud.githubusercontent.com/assets/113043/17208712/1565760e-54ba-11e6-83

[2016-07-28 12:10] philippeowagner commented on #5574
Our client had an _ä_ in the `reverse_id`. No success when changing this.

Changing title from **Having an Umlaut (äöü...), etc. in page title will not show page in link plugin.** to **Page not shown in link plugin.**.

[2016-07-28 12:23] czpython commented on #5573
@philippeowagner
I've looked into this a bit more, looks like you're using Python 2.7 if so then you need to use a unicode string to represent the non-ascii label.

So it should look like ``('cms/smarterzuegeln_index_template.html', u'Smarter Zügeln Vorlage'),``

[2016-07-28 12:23] #5573 closed

[2016-07-28 12:47] philippeowagner commented on #5574
The page was broken in some way... Dropped it and created a new one. The re-created page showed up as expected.

[2016-07-28 14:47] FabrizioA commented on #5448
This message is very annoying... please hide it soon!! :(

[2016-07-29 11:21] #3152 closed

[2016-07-29 11:24] czpython commented on #3588
Closing as duplicate of #2605

[2016-07-29 11:24] #3588 closed

[2016-07-29 11:25] czpython commented on #3585
Closing. Feel free to create a new issue if this persists on the latest djangoCMS.

[2016-07-29 11:25] #3585 closed

[2016-07-29 11:26] czpython commented on #3547
Fixed by the referenced forward ports.

[2016-07-29 11:26] #3547 closed

[2016-07-29 11:28] czpython commented on #3353
Closing. Feel free to create a new ticket if this issue can be reproduced on the latest djangoCMS.

[2016-07-29 11:28] #3353 closed

[2016-07-29 11:35] czpython commented on #4944
@vxsx Is this still a problem w/ the new real preview thing?

[2016-07-29 12:07] vxsx commented on #4944
@czpython not anymore i believe, as we no longer use images there

[2016-07-29 12:10] minotaurdsp opened #5575 "Error when removing plugin"
<div id="summary">
  <h1>KeyError at /lv/pakalpojumi/</h1>
  <pre class="exception_value">u'CMSSamplePlugin'</pre>
  <table class="meta">

    <tbody><tr>
      <th>Request Method:</th>
      <td>GET</td>
    </tr>
    <tr>
      <th>Request URL:</th>
      <td>http://127.0.0.1:8000/lv/pakalpojumi/?edit&amp;language=lv</td>
    </tr>

    <tr>
      <th>Django Version:</th>
      <td>1.8.13</td>

[2016-07-29 12:24] czpython commented on #5575
@minotaurdsp Hello there,
When removing a plugin, please use `./manage.py cms uninstall plugins CMSSamplePlugin`.

[2016-07-29 12:24] #5575 closed

[2016-07-29 12:28] czpython commented on #2951
I've been briefed on the issue by @vxsx.
Seems to me that this is more a design decision rather than a bug.
Fixing this would be quite complex.
Closing as a won't fix.

[2016-07-29 12:28] #2951 closed

[2016-07-29 12:49] minotaurdsp commented on #5575
Hello !
Yes it works
Thank you very much
Also maybe you know how to remove a custom made page templates from db ?
if i make custom_block.html and delete from setting.py CMS_TEMPLATES  the django_cms keep looking old template path.
I solved this manually change old template path from database table cms_page  but it is Hacking, can I solve it differently.

[2016-07-29 13:52] czpython commented on #4944
@vxsx hmm but we we now render the image plugin directly there.

[2016-07-29 14:16] czpython commented on #4944
Fixed by the djangocms-text-ckeditor real preview feature.

[2016-07-29 14:16] #4944 closed

[2016-07-29 20:32] saeed-222 opened #5577 "html5lib requires setuptools version 18.5 or above"
I use `django-cms==3.3.1` as a requirement in my `setup.py` and when I try to install my own package via `python setup.py install`, I get the following error:
``
html5lib requires setuptools version 18.5 or above; please upgrade before installing (you have 18.2)
``

Since `html5lib>=0.9999999` is included in django-cms `setup.py`, Can we think of a solution?

[2016-07-29 21:08] saeed-222 opened #5578 "Installing django-cms==3.2.5 tries to install html5lib==0.999999999"
`
Collecting html5lib!=0.9999,!=0.99999,>=0.90 (from django-cms==3.2.5->-r requirements/base.txt (line 1))
  Downloading html5lib-0.999999999.tar.gz (245kB)
    Complete output from command python setup.py egg_info:
    html5lib requires setuptools version 18.5 or above; please upgrade before installing (you have 18.2)
`

[2016-07-29 21:25] czpython commented on #5577
@saeed-222 We've removed html5lib as a dependency and will release 3.3.2 soon.

[2016-07-29 21:25] #5577 closed

[2016-07-29 21:38] czpython commented on #5578
Closed as duplicate of #5564

[2016-07-29 21:38] #5578 closed

[2016-07-30 17:32] macolo opened #5579 "instance.child_plugin_instances is always 'None' in ModelForm.__init__"
A plugin has direct child plugins added in the DjangoCMS Structure Mode. When I try to access these child plugins in the parent model's custom form I see that it is set to 'None'.

Shouldn't it contain the child plugin instances? All other properties are set, including `numchild` which shows 2.

The following form is configured as the custom form for `GoogleMapPlugin` in `cms_plugins.py`. GoogleMa

[2016-07-30 17:32] matzegebbe opened #5580 "How to upgrade DjangoCMS 3.2.5 -> 3.3.1"
I am new to DjangoCMS. I use Version 3.2.5. Now I want to upgrade to the newest version. How should i update my version? I tried ```django-admin.py```

But there is no update. Is this not foreseen? I tried it with just simple

```pip install --upgrade django-cms```

but after that my installation was broken. What is the offical way? I only found tutorials to install djangocms but not to upgrade it

[2016-07-30 19:02] piotrjakimiak commented on #5580
`pip install django-cms==3.3.1`
But You should also upgrade plugins to be compatible with new DjangoCms version.

[2016-07-30 19:05] czpython commented on #5580
Hello @matzegebbe, please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your

[2016-07-30 19:05] #5580 closed

[2016-07-31 10:37] matzegebbe commented on #5580
Sorry & thank you!

[2016-07-31 14:59] czpython commented on #5579
Hello @macolo , please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your qu

[2016-07-31 14:59] #5579 closed

[2016-08-01 09:14] minotaurdsp opened #5583 "After removing template from django settings.py django_cms keep looking old template path"
Hello ! ,i have some troubles with templating.
if i make custom_block.html and delete from setting.py CMS_TEMPLATES the django_cms keep looking old template path.
I solved this manually change old template path from database table cms_page but it is Hacking, can I solve it differently.

[2016-08-01 11:33] ps91 commented on #5102
I have the same problem. I want to limit the number of nested plugins a user can add. Do you still didn't have a solution in django-cms for this?

[2016-08-02 08:46] evildmp commented on #5574
Hi @philippeowagner. I still suspect the title somehow. Can you recreate the problem?

[2016-08-02 08:49] evildmp commented on #5583
I don't understand the problem as reported - can you clarify?

It would help if you showed your ``CMS_TEMPLATES`` before and after, and the contents of the field in the ``cms_page`` table.

[2016-08-02 08:56] philippeowagner commented on #5574
I'm sorry can't provide more info at this one. Due to deadlines we dropped the page and re-created it. The new page had no issues. I close this and reopen in case we can provide valuable information...

[2016-08-02 08:56] #5574 closed

[2016-08-02 11:51] #5402 closed

[2016-08-02 12:05] czpython commented on #5106
Hello @g10f , please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your ques

[2016-08-02 12:05] #5106 closed

[2016-08-02 12:17] czpython commented on #3811
Closing as we're refactoring reversion integration.

[2016-08-02 12:17] #3811 closed

[2016-08-02 12:17] czpython commented on #3494
Closing in favor of labels + individual tickets.

[2016-08-02 12:17] #3494 closed

[2016-08-02 12:18] czpython commented on #4003
@Kseoni4 Hello, is this still a problem with djangoCMS 3.3.1?

[2016-08-02 12:36] pbalazek commented on #4863
In my case the problem was with the session. I was using a custom middleware to create a session if there is a visitor. But soon as the visitor logged in as the admin, there were conflicts and both buttons disappeared. Removing the custom middleware solved the problem.

[2016-08-02 13:20] minotaurdsp commented on #5583
Thanks !
First i add new template on  settings.py file in CMS_TEMPLATES
CMS_TEMPLATES = (
    ## Customize this
    ('page.html', 'Page'),
    ('feature.html', 'Page with Feature'),
   ` ('_cms/pieces/content_primary.html', 'Content Base'),`
)
But I was not careful and I had pointed an incorrect location  ` ('_cms/pieces/content_primary.html', 'Content Base'),`
And get error template does not exit

[2016-08-02 15:45] #5564 closed

[2016-08-03 05:53] jsma commented on #5550
Should end users (as opposed to reusable app authors) just let `makemigrations` generate these migrations and apply them?

[2016-08-03 08:13] stefanfoulis commented on #5550
@jsma you should avoid creating any migrations in apps that are not part of your project sourcecode at all costs. Because they will end up somewhere in the site-packages of your virtualenv and only visible to that specific deployment of the project. So they can disappear again whenever the virtualenv (or docker container) is rebuilt. That would cause all sorts of annoying manual cleanup for your d

[2016-08-03 13:31] vxsx commented on #5572
Thanks for the report, we'll look into it

[2016-08-03 15:50] czpython opened #5587 "Incorrect language used for plugin list"
The plugin list should display the names of the plugins translated in the user's language and not the request language.

![cms_issue_5587](https://cloud.githubusercontent.com/assets/994951/17372140/876552f0-5970-11e6-8339-1acc0d434f2b.png)

[2016-08-03 15:55] czpython commented on #5583
Hello @minotaurdsp ,
This is a known caveat of the template choices.
There's no way for the CMS to know that the template it has in the database say "x.html" is now "y.html". It's a limitation of Django's field choices.

To fix this, as you pointed out, can only be done through the shell.

[2016-08-03 15:55] #5583 closed

[2016-08-04 08:10] lmanzurv opened #5588 "Aliases don't get copied correctly when using multi-language"
I have a site that has pages in 5 different languages. In the home page I have 2 style plugins which I add to 3 other pages using alias (with its corresponding children). But when I copied those 3 pages to other languages using the Copy all plugins from English, the alias that gets generated is pointing to the plugins in the English homepage, not the corresponding new language's homepage.

To fix

[2016-08-04 15:25] Flimm opened #5589 "Version 3.3.1 introduces error Cannot query "ContentType object": Must be "ContentType" instance"
I am following the instructions to how to [install Django CMS by hand](http://docs.django-cms.org/en/stable/how_to/install.html).

When I try to run `python manage.py migrate` or `python manage.py test`, I get this error:

    Traceback (most recent call last):
      File "manage.py", line 10, in <module>
        execute_from_command_line(sys.argv)
      File "/flimm/git/example/env/lib/python3.5/

[2016-08-04 16:01] czpython commented on #5588
Hello @lmanzurv ,
This was a design decision.
The alias  plugin allows content managers to reference plugins regardless of their language.
Also when the alias plugin is copied it has way to know which plugin represents it's aliased plugin in the target language as plugins are not related.

I recommend using placeholder aliases instead of plugin aliases, the advantage is that the same placeholder i

[2016-08-04 16:01] #5588 closed

[2016-08-04 21:25] czpython commented on #5493
Fixed by #5495

[2016-08-04 21:25] #5493 closed

[2016-08-05 09:33] akx opened #5590 "Plugins using filter_horizontal are broken in 3.3.1"
We have a plugin that has a `filter_horizontal` field, and it's broken since 3.3.1 due to the 1Password workaround introduced in commit 5bcb54a5fca91d5cd20deaad125aa2b34fa68ab9 (PRs #5312 #5367). See below for the gory details.

`filter_horizontal` select boxes get their "currently selected" values select-alled just before form submission by a `submit` event handler on the form by Django's SelectF

[2016-08-05 09:50] akx commented on #5590
I can also confirm that installing the 1Password extension on Firefox fixes this issue (since we then use the old code path that simulates clicking the button), so it's definitely the aforementioned commit.

[2016-08-05 10:13] akx commented on #5590
A workaround for this is to override the `admin/cms/page/plugin/change_form.html` template to add something like

[code]

to the `{% block submit_buttons_bottom %}` block.

[2016-08-05 10:16] vxsx commented on #5590
Hi, thanks for the report @akx . I don't really see how installing the extension would change the code path, it depends on the number of buttons, not on extension being present. Or am I missing something?

It seems though that this happens because we submit the form using jQuery and not using the native event, and the submit listener added by SelectField2 isn't firing because of it.

reduced testa

[2016-08-05 10:22] akx commented on #5590
I suppose the extension does something to the form (maybe adds a `<button>` to activate password retrieval, who knows).

[2016-08-05 10:24] akx commented on #5590
Oh, and this occurs even when not using jQuery to submit forms: http://codepen.io/akx/pen/grBojW (no "okay" in console).

[2016-08-05 10:40] vxsx commented on #5590
http://codepen.io/vxsx/pen/JKmrxd this should probably work (with proper fallbacks for older browsers)

[2016-08-05 12:24] takeontom commented on #5550
@stefanfoulis What's the recommended way to handle that situation? Some apps (djangocms-filer being a prime candidate) quite often don't include the necessary migrations. This has repeatedly bitten me in the ass in the ways you describe.

Is there a best practice way to handle it? Is that best practice to simply not upgrade to a version of an app with missing migrations? Or is there some way to cr

[2016-08-05 14:04] czpython commented on #5583
@minotaurdsp
If your template settings were

[code]

And you changed it to

[code]

You can update all pages that used the old template to use the new one, using the following:

[code]

[2016-08-05 14:23] minotaurdsp commented on #5583
Many many thanks !
You saves the day

[2016-08-05 19:50] czpython commented on #5494
Fixed by 0c1ef4ffbc74bd2955afecb1a843f7574f0aa9fa

[2016-08-05 19:50] #5494 closed

[2016-08-07 10:04] seogod opened #5593 "Google Search Console Is Hating On Us"
Okay this is really weird.

We are using DJANGO and for the past 8 months, our traffic has just been steady.

We get tons of links from authority sites / news networks but it's just been 'steady'.

After getting this legendary SEO on board, he started getting links, did some on-page stuff
and things started picking up. However, the growth was just too slow.

So after running some tests, he discove

[2016-08-07 15:21] czpython commented on #5593
Hello @seogod , please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your qu

[2016-08-07 15:21] #5593 closed

[2016-08-08 08:03] vxsx commented on #5590
@akx could you please check if https://github.com/divio/django-cms/pull/5594 solves the problem for you?

[2016-08-08 12:53] yml opened #5595 "PageFieldWidget is missing : bundle.admin.base.min.js"
There is a regression in 3.3.1 [PageSelectWidget](https://github.com/divio/django-cms/blob/release/3.3.x/cms/forms/widgets.py#L27) is missing the following `Media js`:

* 'cms/js/dist/bundle.admin.base.min.js'

This bug does not exist in 3.3.0.

### How to reproduce the bug ?

* Create a Model with a `PageField`
* register this model in the admin

The JS error :

[code]

### Work around

Manually

[2016-08-08 12:56] vxsx commented on #5595
Duplicate of https://github.com/divio/django-cms/issues/5476

[2016-08-08 15:48] czpython commented on #5589
Thanks! Fixed by eca00bac1e5af4ecf5b4322f5f4a1bbf4b8db964

[2016-08-10 01:36] jsma commented on #5445
A new version of pyenchant has been released (1.6.7). So now all issues with the requirements file should be resolved (should those requirements be pinned though?).

The remaining TODOs are:

1. Determine whether the documentation for *building* documentation should be more general rather than dependent on an opinionated Makefile.
1. If possible, enable automatic testing of building the docs on su

[2016-08-10 09:15] Flimm commented on #5589
Brilliant! Thanks so much @czpython .

[2016-08-10 12:18] czpython commented on #5093
@doctormo @nagyv
I've pushed a PR to fix this https://github.com/divio/django-cms/pull/5601.
I'd really appreciate it if you could test in your setups.
This will likely land on 3.3.3 as 3.3.2 is on code freeze.

[2016-08-10 17:18] Flimm commented on #5589
Hmm, I don't think this has fixed it. I tried upgrading to the last commit on master, and I got this error upon running `python manage.py migrate`:

[code]

[2016-08-11 13:46] czpython commented on #5589
Hello @Flimm ,
Based on the traceback, the cms is no longer triggering this error.
Instead it's coming from a call to the `create_permissions` command.
I think https://code.djangoproject.com/ticket/23422 is related.

Try removing revisions from installed apps just for the sake of testing.

[2016-08-11 23:17] czpython commented on #5595
Fixed on 3.3.2

[2016-08-11 23:17] #5595 closed

[2016-08-11 23:17] czpython commented on #5590
Fixed on 3.3.2

[2016-08-11 23:17] #5590 closed

[2016-08-11 23:18] czpython commented on #5518
Fixed on 3.3.2

[2016-08-11 23:18] #5518 closed

[2016-08-12 05:00] vivazzi opened #5607 "Assign result of rendering placeholder to variable in template"
I suggest to add opportunity to assign result of rendering placeholder to variable, for example like this:
[code]

Code above looks like to I need in tag page_url. With page_url I can do something like this:

[code]

If I could do same with placeholder it will be cool!

[2016-08-12 09:49] Flimm commented on #5589
I'll see if I can spend some time looking at that.

In any case, this error only happens with the newer version of django-cms. So even if the bug is elsewhere, only the newer version of django-cms is triggering it.

[2016-08-12 10:49] czpython commented on #5589
@Flimm If you don't have django-cms in your installed apps, the error no longer shows?
If so can you provide us with a pip freeze and your settings? Thanks

[2016-08-13 16:12] dimapou opened #5608 "Cache - Page is not being cached at refresh or when changing pages more than once"
Hello,

After reading this: http://docs.django-cms.org/en/release-3.3.x/how_to/caching.html

I thought that I could cache my pages (including placeholders) but as is written in the docs cache is enabled by default and I'm not on edit mode or have another plugins that contain "cache = false"

Everytime I refresh the page or change pages  mutiple database connections are being made. So my question i

[2016-08-13 16:28] czpython commented on #5608
Hello @dimapou,
Are you doing your tests as a logged in user?
If so then page level cache is disabled for authenticated users.

[2016-08-13 17:15] dimapou commented on #5608
Hello @czpython thanks for your help,

I'm not logged in and I also passed "?edit_off=true"  in the url just in case.

I pushed my app to the cloud and everytime I turn my MySQL db off  I get an error as soon as I change pages or refresh a page:

(2013, "Lost connection to MySQL server at 'reading initial communication packet', system error: 38")

So it is definitely accesing my database in each p

[2016-08-13 17:35] czpython commented on #5608
It's currently not possible for caching to completely avoid the database.
There will be queries from Django which djangoCMS has no control over, as well as query to fetch a page from the requested url path.

That said, caching should avoid most queries from the cms because it caches the entire page content for a url.

Is the mysql connection working? Try running ./manage.py dbshell and see if it c

[2016-08-13 17:51] dimapou commented on #5608
Yes @czpython the mysql is working, I was just trying to understand if I could make a single connection to mysql per user.

I understood what you said, I'm just gonna try to figure out some numbers on how much traffic a website could handle using django cms, I'm just kind worried to know what will happen if my website gets a lot of traffic.

Thanks a lot for your help I'll try to do some research

[2016-08-13 17:51] #5608 closed

[2016-08-14 11:57] heppstux opened #5609 "cms.middleware.toolbar doesn't clear menu cache properly"
Using a plugin (with cache=False) in a static placeholder on a multi-Sites instance of DjangoCMS I figured out, that the toolbar-middleware doesn't clear the menu cache respecting the current SITE_ID.

Thus in edit-mode with activated toolbar my menu-plugin would render arbitrary navigation structure from other Sites.

[2016-08-14 14:55] heppstux opened #5610 "cms.models.Page.get_absolute_url should really prefix URLs with Site domains."
Let's say we have a main Site ("example.com") and some other site ("sub.example.com"). Both running the same instance of django-cms with settings.SITE_ID set accordingly.

While the cms.models.fields.PageField offers the options to choose Pages from a different Site as target – the generated URL doesn't reflect changing from one Site to another – it'll always output relative URLs which – in the ca

[2016-08-14 17:26] fakegit opened #5613 "djangocms-installer bug with conda"
I used conda to create python env on my win7 amd64 pc.

**django-admin.py** file is in the root python's subdir '/Scripts/' folder.
but djangocms-installer try to find the **django-admin.py** in the python root.

[2016-08-15 11:19] czpython commented on #5613
Hello @fakegit,
Thanks for reporting this issue.
Please re-open in https://github.com/nephila/djangocms-installer/issues

[2016-08-15 11:19] #5613 closed

[2016-08-15 12:59] czpython commented on #5607
Hello @vivazzi , please make sure to submit questions/feature requests within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case,

[2016-08-15 12:59] #5607 closed

[2016-08-15 22:03] prefzlu opened #5614 "Creating new placeholders make them impossible to edit."
Hello everyone!

I'm trying to create multiple placeholders in my code, so later the admin could change various parts of my webpage easily.

The problem is that when I create a NEW placeholder let's say something like this:

[code]

Both examples create new placeholders but I can't edit them because they're unclickable.

here: http://docs.django-cms.org/en/release-3.3.x/introduction/templates_plac

[2016-08-15 23:11] czpython commented on #5614
Hello @prefzlu ,
Is there any JS errors on the browser console?

[2016-08-16 12:17] czpython commented on #5053
Closing due to inactivity.
Issue is likely caused by using a placeholder inside of an apphooked page.

[2016-08-16 12:17] #5053 closed

[2016-08-16 12:25] czpython commented on #4461
Closing due to inactivity.

[2016-08-16 12:25] #4461 closed

[2016-08-16 12:26] czpython commented on #4071
Closing due to inactivity.
Feel free to create a new ticket if issue is still reproducible on the latest djangoCMS (3.3.2)

[2016-08-16 12:26] #4071 closed

[2016-08-16 12:27] czpython commented on #4003
Closing due to inactivity.
Feel free to open a new ticket if the issue is still reproducible in the latest djangoCMS (3.3.2)

[2016-08-16 12:27] #4003 closed

[2016-08-16 12:46] vxsx commented on #5105
We added some useful shortcuts for 3.4
https://github.com/divio/django-cms/pull/5602
https://github.com/divio/django-cms/pull/5600

although not exactly same thing as with trello ones, but still.

It would make sense to open discussion on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms) or [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cm

[2016-08-16 12:46] #5105 closed

[2016-08-16 15:22] czpython commented on #5451
Fixed by https://github.com/divio/django-cms/pull/5532

[2016-08-16 15:22] #5451 closed

[2016-08-16 15:23] czpython commented on #4928
Fixed by https://github.com/divio/django-cms/pull/5532

[2016-08-16 15:23] #4928 closed

[2016-08-16 19:02] czpython commented on #5450
Fixed by https://github.com/divio/django-cms/pull/5532
The shift+click part will be fixed by https://github.com/divio/django-cms/pull/5617

[2016-08-16 19:02] #5450 closed

[2016-08-16 19:05] czpython commented on #5432
Fixed by https://github.com/divio/django-cms/pull/5532

[2016-08-16 19:05] #5432 closed

[2016-08-17 11:44] czpython commented on #5488
Fixed by https://github.com/divio/django-cms/pull/5532

[2016-08-17 11:44] #5488 closed

[2016-08-17 11:56] czpython commented on #5527
Closing as a won't fix.
The 3.4 release will allow admins to create page users from an existing auth.User, making this a command would introduce several issues because if a project has over 100k users and enables permissions, then this would convert all 100k users to page users which is not ideal.

[2016-08-17 11:56] #5527 closed

[2016-08-18 09:18] darshit7 opened #5622 "'site' KeyError at /admin/cms/page/2/advanced-settings/"
I got 'site' KeyError while adding Apphook to page using advance settings.
I am using django 1.9.1 and django cms 3.3.1
Here is full traceback.

Environment:

Request Method: POST
Request URL: http://127.0.0.1:8000/admin/cms/page/2/advanced-settings/?language=en

Django Version: 1.9.1
Python Version: 3.4.3
Installed Applications:
['django_admin_bootstrapped',
 'djangocms_admin_style',
 'django.con

[2016-08-18 13:14] #5587 closed

[2016-08-18 14:01] czpython commented on #5622
Thanks for reporting @darshit7

Please out the branch from https://github.com/divio/django-cms/pull/5624 to make sure it fixes your issue.

[2016-08-19 06:30] darshit7 commented on #5622
Thank you.

[2016-08-19 06:30] #5622 closed

[2016-08-19 12:07] vstoykov opened #5627 "Set session cookie on every request when `CMS_TOOLBAR_ANONYMOUS_ON` is `False`"
I found very strange problem. When I set `CMS_TOOLBAR_ANONYMOUS_ON = False` I see that for anonymous users django creates a session and not only session is created but session cookie is sent from the server on every request.

This behavior is breaking caching trough http proxy because every anonymous visitor has different session created on first load and on every request it will sent different co

[2016-08-19 12:08] bittner commented on #5550
@czpython Re https://github.com/divio/django-cms/issues/5550#issuecomment-233622904 why not release a major version finally (1.0) of all affected plugins, conveying this is for an LTS version of Django (1.8) and up, while the 0.x versions can stay backward compatible.

If this is consistently executed over all `djangocms_*` projects / plugins then that'd be any easy rule to learn for each and ever

[2016-08-19 16:09] rafalp opened #5629 "FileField and ImageField aren't supported by FrontendEditableAdminMixin"
I have pretty complex product page in a project I'm working on but because it's split into sections I've decided to simply make my products frontend editable via giving each of sections the `render_model_block`with form that will allow users to edit product section after section.

For one of sections I have text field, text area and image upload, but apparently this form can't be used for file upl

[2016-08-21 15:21] czpython opened #5631 "Unable to select page with PageField"
I'm using Aldryn Forms which has a plugin with `PageField`.
If I create a form and select a page as a redirect target, the next time I edit the form I get a JS error:

`Uncaught TypeError: Cannot read property '_pageSelectWidgets' of undefined`

Only after I publish the page, the error **sometimes** goes away.

http://xplorer-1002-stage.us.aldryn.io/en/forms/?edit&language=en

![cms_bug_with_pagef

[2016-08-21 19:28] thoreg commented on #4461
All fine now from my point of view - thanks

[2016-08-23 11:05] macolo commented on #5631
Seems to be related to this here: https://github.com/divio/django-cms/issues/5476

[2016-08-23 13:21] randomknowledge opened #5634 "Inconsistent/wrong? behavior when publishing a page with an unpublished parent"
Hi there,

according to http://docs.django-cms.org/en/release-3.3.x/topics/publishing.html when I publish a page with an unpublished parent, the page goes into a "pending" state waiting for the parent to be published.

This works as expected, but the CMS still tries to redirect to the published version:
E.g. clicking on "publish" on a page `/unpublished-parent/child-page/?edit` sets the page to pe

[2016-08-24 08:12] vxsx commented on #5631
3.2 issue is a little different (and indeed is #5476), 3.3 and 3.4 though break in this particular case because of djangocms-text-ckeditor

[2016-08-24 15:03] Flimm commented on #5589
Yes, removing `'cms'` from installed apps fixes the issue. Staying on Django CMS 3.3.0 instead of 3.3.1 works.

Here's the [output of pip freeze when it's broken](https://github.com/divio/django-cms/files/434980/frozen_broken.txt) and when Django CMS is set to 3.3.1. And here's the [output of pip freeze when it's not broken](https://github.com/divio/django-cms/files/434956/frozen.txt) and when Dja

[2016-08-24 15:31] rafalp commented on #5629
I've researched the matter and found that its caused bo two issues:

* There's no `enctype` for fileupload set on form despite having file inputs - not sure yet where this is missing.
* Form handling code is not passing `request.FILES` to form on its [initialization](https://github.com/divio/django-cms/blob/release/3.3.x/cms/admin/placeholderadmin.py#L109).

This issue isn't specific for `render_m

[2016-08-24 18:39] czpython commented on #5631
Fixed by https://github.com/divio/django-cms/pull/5637

[2016-08-24 18:39] #5631 closed

[2016-08-24 18:42] czpython commented on #5421
Closed as revision support is no longer in the core.

[2016-08-24 18:42] #5421 closed

[2016-08-25 17:57] diegoponciano commented on #1847
I created a template using a variable extend node, with a context processor like `CMS_TEMPLATE`.
My page rendered with just the static placeholders, so I stumbled upon this.
I then tried commenting out the `if is_variable_extend_node` line, and got a `TemplateSyntaxError` saying the extends tag is empty.
Any tips? Maybe I should try a different approach?

[2016-08-26 15:22] czpython commented on #4318
Fixed by https://github.com/divio/django-cms/pull/5639

[2016-08-26 15:22] #4318 closed

[2016-08-27 02:51] czpython commented on #4666
Closing as we're unable to reproduce this on the latest version.

[2016-08-27 02:51] #4666 closed

[2016-08-27 02:53] czpython commented on #4798
Closing as confirmed duplicate of https://github.com/divio/django-cms/issues/5093

[2016-08-27 02:53] #4798 closed

[2016-08-27 18:30] czpython opened #5640 "Moving unpublished page under published corrupts the tree"
http://screencast.com/t/W7w2wPNs

1. Alpha draft
2. Alpha public
3. Beta draft

**Corrupt tree**
![corrupt-tree-5640](https://cloud.githubusercontent.com/assets/994951/18029522/27576550-6c68-11e6-91eb-4b28ef1fe229.png)

**Healthy tree**
![healthy-tree-5640](https://cloud.githubusercontent.com/assets/994951/18029508/be0f83ca-6c67-11e6-861b-9a716567b67b.png)

[2016-08-27 18:35] czpython opened #5641 "Running fix-tree with a published page under an unpublished one corrupts the tree"
When a published page is moved under an unpublished page, the cms will mark the published page as pending, then it will set the parent of the moved published page draft to the draft page of the unpublished page and the parent of the moved published page public should remain the same as there's no public page for the new parent.

**Page tree**
![tree-5641](https://cloud.githubusercontent.com/assets

[2016-08-27 18:49] czpython opened #5642 "Publishing page with an unpublished direct child whose children are published fails."
When a page is published, we fetch all it's descendants and mark as published any descendant that was previously marked as pending.

The error comes when a page has an unpublished child page which in turn has a published pending child. This causes errors because the cms tries to mark the published pending child as published without checking that it's parent is not published.

**Start page tree**
!

[2016-08-27 18:53] czpython opened #5643 "Moving a published page under a published pending page does not set the page as pending"
When a user moves a published page under an unpublished one, the cms marks the published page as pending.

If the user moves a published page under a page marked as pending, the cms should mark the published page as pending.

[2016-08-28 16:36] czpython commented on #5643
Closed by https://github.com/divio/django-cms/pull/5644

[2016-08-28 16:36] #5643 closed

[2016-08-28 16:36] czpython commented on #5642
Closed by https://github.com/divio/django-cms/pull/5644

[2016-08-28 16:36] #5642 closed

[2016-08-28 16:36] czpython commented on #5641
Closed by https://github.com/divio/django-cms/pull/5644

[2016-08-28 16:36] #5641 closed

[2016-08-28 16:37] czpython commented on #5640
Closed by https://github.com/divio/django-cms/pull/5644

[2016-08-28 16:37] #5640 closed

[2016-08-29 01:21] bittner opened #5646 "KeyError for context['request'] in Admin with placeholder"
I'm using django CMS 3.3.2 and Zinnia blog 0.16 with [cmsplugin-zinnia](https://github.com/django-blog-zinnia/cmsplugin-zinnia#cmsplugin-zinnia) 0.8.1 and `EntryPlaceholder`. The blog entries use the CMS placeholders to display content.

When I'm adding content everything is fine. However, when I try to modify an existing blog entry in the Admin (say, I remove a tag) then a `KeyError` occurs in [r

[2016-08-29 15:05] czpython commented on #5646
Hello @bittner,

The `KeyError` happens of of Django 1.8 (if I remember correctly), the reason of it is that in the past calling `RequestContext()` would apply the context processors when initializing which would set the `request` key on the context. This all changed to apply context processors when a context is bound to a template, in other words only when the template is rendered.

Example:

[co

[2016-08-29 15:05] #5646 closed

[2016-08-29 15:17] bittner commented on #5646
Alright, thanks for the explanation.

For Zinnia's CMS plugin this appears not to be a blocker, because the placeholder is never rendered in the Admin interface at all. - Though it would be interesting to make rendering the CMS placeholder work in the Admin. This is missing in Zinnia since the switch from django CMS 2.4 to 3.0.

[2016-08-29 17:14] imagescape commented on #4940
Same situation. The management command worked like a charm.  Thanks for sharing.

Django==1.8.9
django-cms==3.2.0
django-reversion==1.9.3
Postgres

[2016-08-31 15:37] evildmp commented on #5634
I think I agree that the behaviour when you hit **Publish** on the child on an unpublished page is incorrect.

The question is, where should the system redirect the user? I think it should probably stay on the same page, but remain in edit mode.

For your other point, *Pending* just means *Published (but waiting for its parent to be published)*. It's not something you can apply yourself to a page.

[2016-08-31 15:54] evildmp commented on #5614
@prefzlu I think there is a misunderstanding here.

A placeholder doesn't create a clickable area *until there is anything in it that can be clicked* - i.e. a plugin.

We're looking at ways of making this easier to work with, but for now, it's expected behaviour. You have to switch to structure mode and place a plugin into the page before there will be anything to click.

[2016-08-31 15:55] #5614 closed

[2016-08-31 16:25] randomknowledge commented on #5634
Thanks four your reply, @evildmp!
I think staying in edit mode is a good idea - maybe in combination with a notification?
Regarding the other point - I know that Pending just means Published, but it's simply not possible to publish a page with an unpublished parent from within the admin page tree (the "publish" button is missing).

Thanks and all the best
Florian

[2016-09-01 12:43] benzkji opened #5650 "Current site infos in session / not possible to use shared cookie for multisite installations"
Let's say I have foo.main-domain.com and bar.main-domain.com, both configured as django-cms sites. When I try to use

[code]

so my users would not need to login for each sub domain, the system behaves strange. It seems that the session keeps infos about current site, cached menu, etc, in the session, so it show for example the wrong menu (and the wrong site name in the toolbar)? I have the same p

[2016-09-01 13:36] stefanw opened #5651 "Putting language= in querystring breaks CMS pages"
Adding a `?edit&language=` on any CMS page leads to a `NoReverseMatch` error. [See here for an example](https://www.django-cms.org/en/blog/?edit&language=).

My best guess why this happens without looking deeper: the toolbar admin language is set to the empty string which breaks language-based reversing of URLs. Solution: better sanitation of the toolbar language input.

[2016-09-01 15:35] czpython commented on #5651
Thanks for reporting @stefanw.
I know I've seen this one before.. think it got lost in time.

[2016-09-01 15:42] tdsymonds opened #5652 "Page languages somehow get set to None"
I've started up a new Django CMS project and I'm having problems with the page admin where it doesn't load the pages in the main navigation section:

![cms page error](https://cloud.githubusercontent.com/assets/7289781/18171996/c9f95b6e-705b-11e6-9d8f-95bad343fcf2.JPG)

The strange thing is when I search for my only page it shows:

![cms page home](https://cloud.githubusercontent.com/assets/728978

[2016-09-01 15:46] czpython commented on #5634
I think we should hide the Publish button from a child page if it's parent is unpublished.
To keep consistency with the behavior in the page list.

And like in the page list, if someone manually goes to the `/publish` url then we set the pending state, redirect to edit mode and display the message:

`Page not published! A parent page is not published yet.`

A more complete fix in my opinion would

[2016-09-01 16:44] mkoistinen commented on #5634
Agreed. This will also help educate users about unpublished parent pages 'hiding' children pages.

[2016-09-01 17:58] czpython commented on #5652
Hello @tdsymonds,
Thanks for reporting.

This is a known but really obscure bug which has proven very difficult to reproduce consistently.
Would you mind posting your requirements.txt and settings.py?

[2016-09-01 21:00] JacobBose opened #5653 "Massive 404s"
Hi there, we run a site with about 7000 pages indexed (On the DJANGO CMS ofcourse) - Our recent crawl showed there are about 17,000 404s that are getting picked up. Funny thing is we have less than 2400 (600 in English, rest translated in Japanese, Italian and Korean) pages on the CMS itself. Has any other DJANGO CMS owner went through such massive discrepancy in their 404s. Is Django proned to cr

[2016-09-01 22:28] czpython commented on #5653
Hello @JacobBose , please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe your

[2016-09-01 22:28] #5653 closed

[2016-09-01 22:44] JacobBose commented on #5653
Sorry about that guys. Thx for the info! :)

[2016-09-02 05:40] yakky commented on #5634
:+1:

[2016-09-02 06:01] yakky commented on #4940
django CMS 3.3 and 3.4 contains a lot of fixes regarding the tree handling. Some of them have been backported to 3.2.5. You are encouraged to upgrade to fix those

[2016-09-02 07:53] tdsymonds commented on #5652
Hi @czpython, no problem. Thanks for getting back to me so quickly.

Here are the settings:

[code]

[2016-09-02 08:13] FabrizioA opened #5654 "Django cms 3.3.1 Integrity Error Column 'creation_date' cannot be null"
Hi

I've developed a Django CMS (3.3.1) website in my local environment and then, I've deployed it in my production environment restoring a dump of my MySQL database.

Once, on my production environment, I create a new page all works ok, but when I try to publish it, I get this error:

IntegrityError at /it/admin/cms/page/96/it/publish/ (1048, "Column 'creation_date' cannot be null") Request Metho

[2016-09-02 08:38] ojii opened #5655 "show which app has deprecated files"
both the menu and apphook pool warn about old file names (`menu.py`/`cms_app.py`), but they don't tell you the offending app name (or full path to file). They probably should.

[2016-09-02 10:56] evildmp commented on #5297
The [SlugField](https://docs.djangoproject.com/en/1.9/ref/forms/fields/#slugfield) now has an optional ``allow_unicode`` parameter (default is ``False``).

Would it be possible to provide a CMS setting that controls whether django CMS slugs can accept Unicode? This way, the user of a site with Django 1.9 and newer can enable Unicode slugs, but it won't affect older versions.

[2016-09-02 11:12] FabrizioA commented on #5654
I've found the solution. The problem was the version of MySQL-python... with the 1.2.3 I had the problem then, I have updated to 1.2.5 and all works ok.

I close this issue.

[2016-09-02 11:12] #5654 closed

[2016-09-02 12:05] czpython commented on #5655
@ojii
djangoCMS 3.4 removes these warnings.
Not sure if it's worth it to change them this far down the road.

[2016-09-02 12:23] czpython commented on #5297
@evildmp
As with other features, would you mind moving this to the djangoCMS developers list for us to discuss there? Thanks!

[2016-09-02 13:40] ojii commented on #5655
Fair enough. We just ran into this issue today and thought it could be useful.

[2016-09-02 15:13] #5655 closed

[2016-09-02 15:54] czpython commented on #5441
Closing as a won't fix for the core of djangoCMS.
Instead, we'll release a third party app which will re-introduce revision support

[2016-09-02 15:54] #5441 closed

[2016-09-02 17:25] czpython commented on #5652
Hello @tdsymonds,
Thanks for the info.

I believe I've found the source of the issue, to confirm this, did you create your page using the page wizard or the admin?

[2016-09-02 23:18] czpython commented on #1206
Closing this as a won't fix.
We've made several performance improvements in 3.4 in regards to the page tree loading time on the admin.
That said, I know for a fact we're still adding the page ids as look ups in the SQL query and as such this is not fully fixed but as pointed out above, changing this would slow things down for other databases.

Feel free to create a new ticket if this is causing pr

[2016-09-02 23:18] #1206 closed

[2016-09-02 23:21] czpython commented on #1950
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:21] #1950 closed

[2016-09-02 23:24] czpython commented on #1745
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:24] #1745 closed

[2016-09-02 23:27] czpython commented on #3647
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:27] #3647 closed

[2016-09-02 23:28] czpython commented on #3898
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:28] #3898 closed

[2016-09-02 23:28] czpython commented on #3969
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:28] #3969 closed

[2016-09-02 23:31] czpython commented on #5057
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:31] #5057 closed

[2016-09-02 23:36] czpython commented on #4194
Closing as this fits our feature request criteria.
If you're still interested in this feature, please create a topic in the [Developers Mailing List](https://groups.google.com/forum/#!forum/django-cms-developers).

[2016-09-02 23:36] #4194 closed

[2016-09-03 09:43] Frigory33 commented on #3599
Please admire how the settings in our shield plugin disappeared thanks to a click on ‘Revert to Live’ from a translator after he had wrongly put his translation on the English plugin:
http://i.imgur.com/V4JixQG.png

Saved state on a local instance:
http://i.imgur.com/sKKUPgY.png

It seems the data cannot be restored by an additional revert.
Thanks for marking this bug as a blocker, hope it'll be f

[2016-09-03 12:38] tdsymonds commented on #5652
I created this page using the pop up when you login to the cms for the first time. I have however tried deleting the page and adding again via the admin, but still had no luck.

[2016-09-04 14:02] itbabu opened #5656 "IsADirectoryError error with Templates debug True"
Hello,
today I'm testing django-cms 3.4.0rc1 with Django==1.9.9 and python 3.5

When I press the edit page button I get an error (IsADirectoryError) if ```TEMPLATES['OPTIONS']['debug'] = True```

Everything seems ok if  the option is ```False```.

This happens in every page.
I've also created a new page with only a text plugin (djangocms-text-ckeditor 3.2.0rc5) and I get the same error.

I've read

[2016-09-04 15:22] czpython commented on #5656
Hello @itbabu,
Thanks for trying out the rc :)

Regarding your error, I see you're overriding the `cms/toolbar/placeholder.html` template.
On 3.4 we removed the `request.toolbar.drag_item_menu_template` attribute and replaced it with `cms_content_renderer.drag_item_menu_template`.

You can have a look at the updated template [here](https://github.com/divio/django-cms/blob/617c2c4088498ce4e76006ab9

[2016-09-04 15:22] #5656 closed

[2016-09-04 17:15] itbabu commented on #5656
whoops...  my oversight!
Thanks

[2016-09-05 22:38] #5502 closed

[2016-09-06 11:19] discopatrick opened #5661 "Creating page types programatically"
In other CMS's I've used, it's been possible to define Page Types (or "post types") programatically. This is desirable, as it allows me to commit these to code, and have them ready for use when the site has been installed - rather than going through the manual process of creating it via the admin area post-installation.

Is this possible in Django CMS? It doesn't seem to be documented. If not, ple

[2016-09-06 11:27] czpython commented on #5661
Hello @discopatrick , please make sure to submit questions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

In this case, I believe y

[2016-09-06 11:27] #5661 closed

[2016-09-06 11:37] discopatrick commented on #5661
Hi @czpython - no problem, I'll ask on the mailing list. I had come here after asking on the IRC channel, where it was said there was no API for Page Types yet, so I thought this thread could double as a feature request in that case.

[2016-09-06 21:56] czpython commented on #5629
Thanks for reporting @rafalp
I can confirm this is not working, I think it was more an oversight but definitely something we should support.

I'm not sure how soon we can tackle this, if you'd like to give this a shot, we can land it in the 3.4.2 release. /cc @divio/django-cms-core

[2016-09-07 06:23] akx commented on #3811
Just signaling that @doctormo 's fix in the first post rescued a production site for us (`django-cms==3.3.1`) :)

[2016-09-07 07:19] vivazzi opened #5663 "Template tags should be discoverable by IDEs"
Maybe add name 'placeholder' to register.tag(Placeholder) in https://github.com/divio/django-cms/blob/develop/cms/templatetags/cms_tags.py#L228 like that:

[code]

It's only for comfort: PyCharm will not be to highlight as warning and we would be jump to source code from template.

[2016-09-07 13:32] vstoykov opened #5667 "Problem with consistency of Page.publisher_public_id"
We have a problem that at some time some of the draft pages has missing value `publisher_public_id` (but there is a public version of the page which points back to the draft).

At this situation when you try to visit the public version of the page  error 500 occurs. Traceback is:

        Traceback (most recent call last):
    File "/path/to/venv/lib/python3.4/site-packages/django/core/handlers/ba

[2016-09-07 13:42] czpython commented on #5667
Hello @vstoykov,
This is a known error. I believe it comes from using revisions to recover/undo/redo a page.
There's other cases where it was happening but these are now fixed on 3.3.x

Can you try running https://gist.github.com/czpython/5c029928a73cd0243bad313cd97bafa8 locally? It's a command that finds this type of corruption and fixes it.

Afterwards run `cms fix-tree`

[2016-09-07 13:44] vstoykov commented on #5667
As a workaround I'm able to fix this with executing this code:

    for broken_page in Page.objects.filter(publisher_public=None, publisher_draft__isnull=False):
        Page.objects.filter(pk=broken_page.pk).update(publisher_public=broken_page.publisher_draft)

Probably something like that need to be placed in `fix-tree` subcommand (probably also for `Title` and all registered page and title exte

[2016-09-07 13:49] czpython commented on #5667
@vstoykov Do you mind creating a topic for this in the developers list?

[2016-09-07 13:52] czpython commented on #5667
@vstoykov Also regarding your workaround, make sure to target the titles as well for those pages, if the page has the corruption then very likely the title will too.

[2016-09-07 13:53] vstoykov commented on #5667
Now as I look close to your script It does basically the same as my workaround but says which where the  broken pages and if they were draft or public and also fixes the titles.

And both functions `_process_draft` and `_process_public` are basically the same except the message printed to stdout

[2016-09-07 13:55] czpython commented on #5667
Yes I thought about unifying them but for my own sanity I left them separate 😞

[2016-09-07 14:09] JonasT opened #5668 "Image resizing fundamentally not working in most basic page setup"
To reproduce, do the following:
1. Make a fresh virtualenv
2. Install django and django-cms from pip (latest versions)
3. Install django-cms using the djangocms installer tool
4. Add a superuser using manage.py
5. Launch django-cms and login as admin
6. Add a new page
7. Click "Edit"
8. Click "Structure"
9. Add a new "Text" content
10. In the WYSIWYG editor, insert some text and then insert an ima

[2016-09-07 14:10] vstoykov commented on #5667
Ok my final workaround is:

    from cms.models import Page, Title
    from cms.extensions import extension_pool
    from django.core.cache import cache

    for broken_page in Page.objects.filter(publisher_public=None, publisher_draft__isnull=False):
        Page.objects.filter(pk=broken_page.pk).update(publisher_public=broken_page.publisher_draft)

    for broken_title in Title.objects.filter(pu

[2016-09-07 14:13] czpython commented on #5667
@vstoykov https://groups.google.com/forum/#!forum/django-cms-developers

[2016-09-07 14:32] czpython commented on #5668
Hello @JonasT , I believe this is an issue with the image plugin you're using.
If it's cmsplugin-filer or djangocms-picture, please create a ticket there in those apps.

Thanks!

[2016-09-07 14:32] #5668 closed

[2016-09-07 14:38] JonasT commented on #5668
I used _your_ default install with _your_ default choice of Image insertion. (I literally just clicked the button for content to insert and chose "Image".) I did _zero work_ beyond just running the default installer with no extensions, other packages or _anything_

Do you expect me to know **your** internal project structure?? If this needs to be forwarded to some party, please do it yourself sinc

[2016-09-07 14:49] JonasT commented on #5668
Checking again in the editor, it seems to be in a "Filer" section, so I am going to assume it's "cmsplugin-filer"?

However, just to stress this: there is literally no other option available, and this is the most default install I could have done with pretty much zero changes, and inserting images is a super basic behavior in a CMS - I can file it somewhere else if you tell me where exactly, but I

[2016-09-07 15:10] czpython commented on #5668
Hello @JonasT,
Thanks for looking into it.
I apologize for the confusion. There's the cms core and then all the other third party integrations, as such we are constantly making sure to only file cms core issues here and distribute the other issues to their respective party. That said, I can see that we need a better strategy for this as it can sometimes be tricky to know which party the issue orig

[2016-09-07 18:36] #5651 closed

[2016-09-08 00:25] vivazzi commented on #5663
Also it may add name to other tags such as render_plugin (https://github.com/divio/django-cms/blob/develop/cms/templatetags/cms_tags.py#L251) and so on..

[2016-09-08 00:55] czpython commented on #5667
Closing as a duplicate of https://github.com/divio/django-cms/issues/4940

[2016-09-08 00:55] #5667 closed

[2016-09-08 13:56] amadornimbis commented on #5550
@czpython

Since this was introduced in the 3.3.1 release, shouldn't there a note in the changelog for v3.3.1 that mentions that this is to be expected? My organization maintains about 10 different CMS plugins, and to see that a new migration must be made for all of them because of what might appear at first glance to be a (semver) patch release was a little jarring. At first, I thought this was a

[2016-09-08 22:37] bculpepper opened #5671 "Poor UX When Switching Sites"
While working on a new project for a multi-site DjangoCMS installation I came across what I feel is  poor UX when switching between sites to edit content. I have created a quick screencast here to best show an example of what I am experiencing. Potentially the user could switch to a different site using the Site menu in the top left menu dropdown, meanwhile the site tree is still displaying the si

[2016-09-08 22:54] czpython commented on #5671
Hello @bculpepper,

Thanks for reporting this.
Please make sure to submit questions/suggestions within the appropriate channels on either the [User Mailing List](https://groups.google.com/forum/#!forum/django-cms), IRC (freenode#django-cms) or [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/supp

[2016-09-08 23:35] bculpepper commented on #5671
Thanks @czpython

I was actually pointed to this location for posting this issue by @GaretJax from the public chat room. While this may not be a "bug", I feel as though it certainly should be addressed as a UX issue.

Brandon

[2016-09-08 23:40] evildmp commented on #5671
@czpython Actually I think this is a fairly serious user-interface issue (for Sites, anyway), and I think we can definitely consider it a bug.

[2016-09-08 23:51] czpython commented on #5671
@evildmp
I don't consider this a serious bug as there's a reason for both menus to be separate.
That said, I agree we can improve the UX and so I'm happy to continue the discussion here.

PS: Removed the frontend label as this is a fully BE component.

[2016-09-08 23:58] czpython commented on #5671
The reason for the two menus is that one allows you (the content manager) to add pages in other sites and the other allows you to switch (domains and all) to the other sites.

We keep track of these using a session key that points to the site the user has picked in the admin UI.

As a solution we can set the session key when the user changes site from the toolbar menu but I need to look into it de

[2016-09-09 06:49] FinalAngel commented on #5671
👍  on adapting this

[2016-09-09 14:00] czpython commented on #5627
Merged in https://github.com/divio/django-cms/pull/5628

[2016-09-09 14:00] #5627 closed

[2016-09-09 15:57] vstoykov commented on #5447
If `request.toolbar` is a lazy object that will initialize the toolbar when needed then views which does not need it will not initialize it at all (this will also reduce CPU usage for these views). For views that need it but at later stage (after they need to access request.body) toolbar will not interfere and everything will work.

The only problem that I think can raise is the login form in the

[2016-09-09 16:30] #5652 closed

[2016-09-12 11:15] benzkji commented on #5650
has already been discovered in #5609, I guess.

[2016-09-12 13:48] czpython commented on #5401
Fixed on 3.4.0 (currently in rc)

[2016-09-12 13:48] #5401 closed

[2016-09-12 13:49] czpython commented on #5401
Django 1.10 is not officially supported yet as we're waiting on django-treebeard to be released with official Django 1.10 support.

[2016-09-12 13:55] czpython commented on #5415
This was fixed on djangocms-text-ckeditor 3.2+

[2016-09-12 13:55] #5415 closed

[2016-09-13 14:23] rafalp opened #5677 "Identifiers generated for render_model_* tag containers are not unique per model"
On my page I have two editable sections handled by two custom admin views:

[code]

However this results in both editable containes having same selectors:

[code]

As well as registering two click handlers for every selector:

[code]

This causes the double click event on any of frontend editable sections to fire two scripts, executing two ajax calls, canceling the first call and executing second

[2016-09-17 01:05] timgraham opened #5688 "Add compatibility with Django 1.10+ new-style middleware"
`cms.middleware` needs to be updated as per https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-middleware.

[2016-09-17 06:52] vstoykov opened #5690 "manage.py cms fix-tree is broken (IntegrityError: duplicate key value violates unique constraint)"
These days when I executed `manage.py cms fix-tree` I received the following error.

    fixing page tree
    Traceback (most recent call last):
    File "/path/to/virtualenv/lib/python3.4/site-packages/django/db/backends/utils.py", line 64, in execute
        return self.cursor.execute(sql, params)
    psycopg2.IntegrityError: duplicate key value violates unique constraint "cms_page_path_72b7799f

[2016-09-17 14:21] czpython commented on #5690
Hello @vstoykov,
This is not a bug in fix-tree, instead it's an unfortunate side-effect of the publisher corruption.
Please use your [script](https://github.com/divio/django-cms/issues/5667#issuecomment-245284499) to fix the publisher corruptions and then run fix-tree. If you are using revision in this project, I highly recommend to drop it for cms pages as it has a lot of issues like this.

[2016-09-17 14:21] #5690 closed

[2016-09-17 19:40] vstoykov commented on #5690
I think that this is not a publisher corruption but instead treebeard coruption because the duplicate key is in the `path` field which is from `django-treebeard`.

Also my script can't solve this problem (I executed it before `cms fix-tree`) because it only touches `publisher_public_id` and not tree related stuff.

Yes probably the main reason is reversion integration but still this is different i

[2016-09-17 20:20] sivictorallen opened #5694 "Page admin tree-view does not display sub-pages with CMS 3.4 / Django 1.9"
Noticed this issue while testing upgrade of current project to version 3.4. Tested with clean install using djangocms-installer (pip freeze and install conf below). This issue has not been present in CMS version 3.3.

The Page tree view stops displaying sub-pages (cannot expand root page to show sub-pages). This issue intermittent, and accessing the site from a different browser has restored funct

[2016-09-17 21:33] czpython commented on #5694
Thanks for reporting this @sivictorallen.
Would you mind providing us with a screencast that shows the issue?

[2016-09-17 21:37] czpython commented on #5690
Did you try checking for the publisher corruption?
I understand that the duplicate key is in the path field but in all my tests this is caused by the publisher corruption which causes the cms to incorrectly move the pages. You can confirm this yourself if you comment out [this](https://github.com/divio/django-cms/blob/release/3.4.x/cms/management/commands/subcommands/tree.py#L18) line which is the

[2016-09-18 07:14] jsma commented on #5694
I think I'm experiencing this same issue. I used to see the following page structure:

<img width="67" alt="screen shot 2016-09-17 at 4 40 35 pm" src="https://cloud.githubusercontent.com/assets/24574/18611792/b2783644-7cfa-11e6-9246-862d96ccb77a.png">

Now the first node can't be expanded:

<img width="64" alt="screen shot 2016-09-17 at 4 40 53 pm" src="https://cloud.githubusercontent.com/assets/2

[2016-09-18 09:03] #5688 closed

[2016-09-18 09:03] yakky commented on #5688
@timgraham thanks. Support for new style middleware merged.

[2016-09-18 14:35] czpython commented on #5694
Thanks for the info @jsma.

Got a few questions:

1. Is the user you're using to access the site a superuser?
2. Do you have `CMS_PERMISSIONS` set to `True` in your `settings.py
3. When you're able to reproduce this, does anything show up in the console?

[2016-09-18 16:11] sivictorallen commented on #5694
In my case the user is a super user and CMS_PERMISSIONS = True
There's no special output in the console (either the shell or the browser JS console)

[2016-09-19 11:21] rfleschenberg opened #5696 "Toolbar causes CSRF validation to fail"
This seems to be similar to #5024.

I have a DRF `APIView` that acceps data via POST. The CSRF check for that view fails. If I set `CMS_TOOLBAR_HIDE = True` in my settings, everything works fine.

At first glance, I think that the bug is here: https://github.com/divio/django-cms/blob/60d7202b73609735015504503ff1215ae1e69d77/cms/middleware/toolbar.py#L32-L33

Maybe the logic of this check should ra

[2016-09-19 13:48] vinayjulme opened #5697 "ImportError: No module named formtools.wizard.views"
I have installed django-cms==3.4.0

Form tools are also upto date.

But still getting "ImportError: No module named formtools.wizard.views"

in

File "/Users/~/lib/python2.7/site-packages/cms/wizards/views.py", line 13, in <module>
    from formtools.wizard.views import SessionWizardView

[2016-09-19 14:11] czpython commented on #5697
Hey @vinayjulme,
Did you install `django-formtools`?

[2016-09-19 16:25] vinayjulme commented on #5697
Kindly see the attached screenshot. The marked section is causing the problem.

Please suggest a solution, as this has become a blocker for me.

![screen shot 2016-09-19 at 9 49 26 pm](https://cloud.githubusercontent.com/assets/22296803/18639945/880a1228-7eb3-11e6-8d57-54bde523554d.png)

[2016-09-19 17:28] czpython commented on #5697
@vinayjulme Can you provide us with the output of `pip freeze`?

[2016-09-19 18:26] jsma opened #5698 "Keyboard shortcuts interfere with form input"
Sorry for short details at the moment but if the toolbar is enabled, I can't fill out forms on the site. The keyboard shortcut hijacks the clicks and switches to structure mode, etc. Any way to disable shortcuts globally?

[2016-09-19 19:06] vinayjulme commented on #5697
Kindly find the pip freeze output

I also tried pip install django-formtools -I
Which installed Django 1.10

So I downgraded Django back to 1.8.12.

Now it showing
django.db.utils.ProgrammingError: relation "auth_user" does not exist

Are both thing related?

[FreezeLog.txt](https://github.com/divio/django-cms/files/480871/FreezeLog.txt)

[2016-09-20 07:33] vxsx commented on #5698
There's no way to disable them, but they shouldn't be enabled when a form field is focused, thanks for the report.

[2016-09-20 12:23] rfleschenberg commented on #5696
https://github.com/tomchristie/django-rest-framework/issues/3951

[2016-09-20 12:28] rfleschenberg commented on #5696
I'm closing this issue, since the real problem seems to be in DRF, and it looks like Tom is already on it :)

[2016-09-20 12:28] #5696 closed

[2016-09-20 12:57] czpython commented on #5696
Cool, thanks for looking into it @rfleschenberg

[2016-09-20 13:08] #5698 closed

[2016-09-20 18:06] jsma commented on #5694
1. Yes, this was a superuser account
2. CMS_PERMISSIONS is not specifically set in this project
3. I do not see any errors the the browser console or the command line

[2016-09-21 08:56] vstoykov commented on #5690
I saw that it try to move the page. It is very strange that moving the page actually can't be done because of the `path` duplication. This process need to be independent from the publisher. Probably there is also bug in django-treebeard or something really strange is happening here.

[2016-09-21 08:59] vinayjulme commented on #5697
@czpython , let me know if you have any input on this?

[2016-09-21 11:00] wullerot commented on #5694
Same issue
Example project: [django-cms-vanishing-subpages](https://github.com/wullerot/django-cms-vanishing-subpages)

[2016-09-21 14:26] FilippoIOVINE commented on #5694
I was having same issue and I guess I figured out what was wrong:
**show_admin_menu_for_pages** tag (under cms/templatetags/cms_admin.py) is not returning a safe context instead it was returning escaped html text.
It is just necessary to add mark_safe wrapper to the rendering result to fix this issue:

https://github.com/FilippoIOVINE/django-cms/commit/6d762b47979f99173b49f4033240f785209a78c7

[2016-09-21 15:01] czpython commented on #5694
Thanks for info.
I think this is caused by a change in django 1.9 as we can't seem to reproduce the issue on 1.8.
I'll push a fix with tests later today.

[2016-09-21 15:08] vxsx commented on #5694
https://docs.djangoproject.com/en/1.10/releases/1.9/#simple-tag-now-wraps-tag-output-in-conditional-escape

[2016-09-21 23:53] czpython commented on #5697
@vinayjulme So you downgraded to django 1.8 and still get the import error? Or now get the db error?

[2016-09-24 11:19] #5694 closed

[2016-09-26 15:17] rednasem opened #5705 "Template tag show_admin_menu_for_pages output is sometimes escaped."
The cms admin template tag `show_admin_menu_for_pages` output is raw html. However the string returned by `cms.utils.render_admin_rows` is not marked safe. So the output is escaped by the `django.utils.html.conditional_escape` called internally by `register.simple_tag`.

Eclosing the return value of `cms.utils.render_admin_row` with `django.utils.html.mark_safe` fixed the problem.

[2016-09-26 15:23] vxsx commented on #5705
Thanks for the report, this is a duplicate of https://github.com/divio/django-cms/issues/5694

[2016-09-26 15:23] #5705 closed

[2016-09-26 20:05] darbula commented on #5460
Same thing here, using `djangocms 3.3.2` and `djangocms-text-ckeditor 3.1.0` in Django development `runserver` mode.

[2016-09-26 20:11] czpython commented on #5460
Hello @darbula,
Please use the latest djangocms-text-ckeditor version (3.2.1), there was a static file caching issue which caused the ajax calls to send old GET parameters instead of the new ones.

[2016-09-26 20:33] darbula commented on #5460
Updated to 3.2.1. and now there is `TypeError: this.editor.getSelection(...) is null` error in console when adding plugin and more or less nothing seems to work from the ckeditor toolbar with various errors in browsers console.

[2016-09-26 22:17] darbula commented on #5460
Hi @czpython it is solved, this was the static file issue in my project urls.py, sorry for the confusion.

[2016-09-27 21:03] bculpepper commented on #5671
Good afternoon. I was wondering if there are any updates on this?

[2016-09-28 01:12] vivazzi opened #5709 "How I can add shortcuts help module as button to menu?"
I want to add shortcuts help button like this:
![help module](https://cloud.githubusercontent.com/assets/11954799/18897283/72877a2c-855b-11e6-9b84-a546f601f479.png)

which opens shortcuts help dialog:
![h_2](https://cloud.githubusercontent.com/assets/11954799/18897287/76914f30-855b-11e6-90cc-13052dc0fb19.png)

[2016-09-28 03:05] racitup commented on #5448
Agreed, stuff like this should be in the debug log, info at worst
It's basically just informing the admin that it's working properly, whereas should only inform them if it's not working properly. If everything logged something on normal operation we would be in trouble!
It detracts from the django cleanliness that I have been enjoying up until now..

[2016-09-28 11:41] czpython commented on #5709
Hello @vivazzi,
This is currently not possible as the shortcuts functionality does not expose any public API.

[2016-09-28 11:41] #5709 closed

[2016-09-29 00:47] vivazzi commented on #5709
Yes, I see. I suggest to do it. I think it will be useful for administrators

[2016-09-29 09:09] Brankub opened #5710 "Exit from Edit Mode after publish"
Steps to reproduce:
1. Open page in two different languages in Edit Mode(two browser tabs).
2. Add/change something of first page, save.
3. Publish changes.
4. Switch to second tab, add/change something, save.
5. Page will be reload not in Edit Mode.

[2016-09-30 12:51] koslibpro opened #5712 "Django 1.10 support"
The pull request from django-treebeard is ready and merged (https://github.com/tabo/django-treebeard/pull/29). Can you roll out the full 3.4 version which includes the django 1.10 support?

Tried today with `pip install django-cms` but still required django 1.9.

[2016-09-30 12:59] czpython commented on #5712
Hello @koslibpro,
djangoCMS is fully compatible with Django 1.10 but we can't support it "officially" because even though that PR has been merged, there's another one needed https://github.com/tabo/django-treebeard/pull/33 and we need treebeard to be released to PyPI as well.

We're discussing this internally and will do a release with "official" Django 1.10 support in the coming weeks.

[2016-09-30 12:59] #5712 closed

[2016-09-30 13:46] lukasgarcya opened #5713 "Djangocms failed in install because timezone incorrect"
I try install the Django CMS and I receive the error: ValueError: Incorrect timezone setting: local
The installation has failed.

![error djangocms](https://cloud.githubusercontent.com/assets/1985696/18993765/2c4ac1bc-86fb-11e6-8b48-d6c8e6337848.png)

[2016-10-01 10:33] adonisnafeh opened #5715 "Static placeholders on different sites"
I'm running into the same issue from #2797 using 3.4 and the develop branch. The static placeholder is the same across multiple sites regardless of the SITE_ID. I need every site to have a different footer and sidebar. Is this on purpose or is it another bug?

[2016-10-01 14:55] czpython commented on #5715
Hello @adonisnafeh,

By default, static placeholders have their `site` field set to `None` which causes them to show up in all sites. To change this behavior, you have to add the **site** flag to the `{% staticplaceholder %}` tag, this will cause a new static placeholder record to be created for each site the static placeholder is rendered in.

Example:

`{% static_placeholder "staticplaceholder_1

[2016-10-01 16:09] adonisnafeh commented on #5715
Yep, that works. Thanks

[2016-10-01 16:09] #5715 closed

[2016-10-02 16:46] czpython commented on #5713
Thanks for reporting @lukasgarcya.
Closing this as duplicate of https://github.com/nephila/djangocms-installer/issues/291

[2016-10-02 16:46] #5713 closed

[2016-10-02 17:22] lukasgarcya commented on #5713
Thank You.
@czpython Do you have any solution?

[2016-10-02 20:16] LouWii opened #5716 "Error when running migrations on MySQL 8+ or MariaDB"
Hi there,

I have an error I'm unable to fix.

Brand new virtualenv, new database. Mysql 5.5.42

When I'm trying to run migrations for django cms, I keep having an issue with `0008_auto_20150121_0059`

Error message is `ValueError: Found wrong number (0) of constraints for cms_page(publisher_is_draft, application_namespace)`

Stack trace

[code]

Pip freeze

[code]

The migration file content (rel

[2016-10-03 11:42] vstoykov opened #5718 "PageExtension/TitleExtension.public_extension sometimes loses it's reference"
Django 1.8.14
Django CMS 3.3.2

This is probably similar to #4940 but is related to page/title extensions instead of the pages/titles.

I have disabled revision functionality as mentioned in #5690 by @czpython  but still page/title extensions 's field `public_extension` breaks every day and I need to manually fix them. Sometimes it only miss from one side to another (one of the extensions knows wh

[2016-10-03 20:37] talaniz commented on #5545
@evildmp I was interesting in contributing to this. Ok to work on it and submit a pull request?

[2016-10-04 08:25] vstoykov commented on #5718
Now when I look closer to the code I don't see the same logic as for the pages (public to point to draft and draft to public). Only draft object is pointing to the public one. I don't know if this is intentional or not.

In this situation there is no public instance which will point to the draft but sometimes even the draft does not point to the public version. And probably then the problem occurs

[2016-10-04 15:30] nmashton commented on #4512
My client has also requested this feature for the purpose of showing and hiding seasonal content, so I'm strongly in favor as well.

How should this feature interact with the new Alias plugin? Should an Alias that points to a hidden plugin always be hidden, or should its visibility always be independent of the source plugin? (I assume that if the source plugin is visible, you should be able to hid

[2016-10-04 21:39] thisispaulcyr opened #5721 "Failure during project creation using 'djangocms' command"
- Django CMS 3.4.1
- Django 1.10.2
- pip modules: http://pastebin.com/vJWvZVfA
- pip 8.1.2
- Python 2.7.12
- OS: Amazon Linux AMI release 2016.03

I'm new to Django CMS, Django, and Python. My previous CMS experience has been with WordPress and I'm try to try out Django CMS as an alternative to WordPress, but am getting an error that I can not seem to figure out. I have updated the pip modules and

[2016-10-04 21:52] czpython commented on #5721
Hello @thisispaulcyr, thanks for trying out djangoCMS.

Please reopen this in our [User Mailing List](https://groups.google.com/forum/#!forum/django-cms) or  [Stackoverflow](http://stackoverflow.com/questions/tagged/django-cms).

You can find additional information on our [support](https://www.django-cms.org/support) page.

[2016-10-04 21:52] #5721 closed

[2016-10-04 21:56] thisispaulcyr commented on #5721
Done: https://stackoverflow.com/questions/39862388/failure-during-project-creation-using-djangocms-command

[2016-10-05 01:26] LouWii commented on #5716
I've installed Django CMS 3.4 on a new virtualenv, same issue when running `migrate` for the first time.

I wonder if that's an issue with MySQL.

[2016-10-06 17:31] doctormo opened #5722 "Reversion register plugin doesn't set follow property"
Currently the code in `cms/plugin_pool.py` does not pass along any value for `follow` this means that our cms plugin which uses a reverse foreignkey breaks every time a reversion is used.

This is my suggested change:

[code]

[2016-10-06 17:53] doctormo commented on #3599
This might be related to #5722 as the plugin uses a reverse foreignkey collection for tabs. While this is covered in copy_relations, reversion doesn't know anything about it at all.

[2016-10-06 17:57] czpython commented on #5722
Revision support was removed on 3.4
We left the registration code to prevent third party apps from breaking if they had revisions created with plugins and content managers tried to revert. This shim will be removed entirely on 3.5.

As a result we're not planning to make further revision related changes to the core.

That said, we're currently working on bringing undo/redo to the cms as a third pa

[2016-10-06 17:57] #5722 closed

[2016-10-06 17:58] doctormo commented on #5722
That's not actually a surprise at all. Thanks for letting me know.

[2016-10-11 08:22] #5572 closed

[2016-10-11 09:23] Arany opened #5724 "PageField dropdown empty after other error on same admin page"
Steps to reproduce:
* Have a Model with a PageField and another field that can throw an error:

[code]

* Have some Test CMS Pages
* Open the Adminpanel and open "New ModelA"
* Leave the sometext field empty and just click save

-> An error page occurs (because the sometext field is empty), and the PageField Dropdown now only holds an empty "---" Entry:
![bildschirmfoto 2016-10-11 um 11 20 03](htt

[2016-10-11 09:38] Flimm commented on #5589
Django CMS 3.4.1 seems to fix this issue.

[2016-10-11 11:09] czpython commented on #5724
Hello @Arany,
Which djangoCMS and Django versions are you using?

[2016-10-11 11:15] ollb opened #5725 "page cache & django.contrib.messages"
The page cache seems not compatible with `django.contrib.messages`. Pages are cached with messages if any and displayed without taking current available messages in account.

As a workaround, we disabled page cache in settings (but we loose cache benefit in all other legitimate cases):

[code]

Fixes:
- A specific fix could be to check messages in set_page_cache/get_page_cache functions.
- A more

[2016-10-11 11:46] Arany commented on #5724
3.3.2, should I try it with the newest version?

[2016-10-11 11:51] czpython commented on #5724
Yes please, I believe this was fixed on 3.3.3

[2016-10-11 12:14] Arany commented on #5724
I can't reproduce it any longer in 3.3.3, thanks for your answer!

[2016-10-11 12:14] #5724 closed

[2016-10-12 06:44] FinalAngel commented on #5671
@bculpepper you are very welcome to open a UX discussion in the django CMS mailing list with maybe screenshot examples of how to solve it.

[2016-10-12 12:15] jankrnavek opened #5726 "install error django-cms 3.4.1 on windows 10 64bit"
Hello,
im not able to install  django-cms 3.4.1 on windows 10 64bit in latest Pycharms env..
(python 3.5 64bit, virtualenv enable)

I attach error log bellow.
Thank you for fix in advance,
Hanz

Collecting django-cms==3.4.1
  Using cached django_cms-3.4.1-py2.py3-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): djangocms-admin-style>=1.0 in c:\users\hanz\env-cms\lib\site-pack

[2016-10-14 16:02] derek-adair commented on #5716
Did you use the djangocms-installer or did you install this manually?

If you did so manually, this is almost certainly a config issue.  I believe if you [install manually](http://docs.django-cms.org/en/release-3.3.x/how_to/install.html) you need to define at least one page (and i think) one template associated with said page.

[2016-10-15 09:20] Misioka commented on #3080
Great man you save me a lot of debuging. Thanks ;)

[2016-10-16 11:57] yakky commented on #5725
Thanks for reporting this, we're working to improve the granularity of the cache control on django CMS.
The latter approach seems more sensible, as it allows to make use of the page cache across very different situation.
Are you willing to contribute this feature?

[2016-10-16 14:36] czpython commented on #5725
@yakky I don't consider this to be a feature, seems to me that if we support page level caching then we should account for builtin django features like the messages framework. The only feature I wouldn't support out of the box (yet) is csrf handling with caching as this is much more complex and can vary depending on the project.

Instead of building the generic solution now, I advice we first addr

[2016-10-17 08:37] yboussard opened #5728 "u'aldryn_newsblog_default' is not a registered namespace"
Hello,

I try to use aldryn_newsblog on a django-cms (django-cms==3.4.1, aldryn-newsblog==1.3.0)
I test on a fresh install (multiple time) and finally I try to setup django-cms with aldryn_newsblog extension with https://control.aldryn.com/control/ cloud system.
I have always the same error NoReverseMatch at /en/admin/r/56/1/ : u'aldryn_newsblog_default' is not a registered namespace
You can repro

[2016-10-17 11:15] czpython commented on #5728
Hello @yboussard,
I'm closing this as a duplicate of https://github.com/aldryn/aldryn-newsblog/issues/432.

[2016-10-17 11:15] #5728 closed

[2016-10-17 11:39] czpython commented on #5697
Unable to reproduce this. Please create a new ticket if this issue still persists.

[2016-10-17 11:39] #5697 closed

[2016-10-17 12:41] racitup opened #5729 "Toolbar menu links rendered with incorrect "url" href instead of blank"
I have an intermittent problem on CMS v3.3.2 whereby the toolbar top-level <a> tags used as menu links are rendered with href set to "url" instead of blank, see below for an example.

Note that "url" is the actual url rendered and not just my placeholder, meaning when I click the toolbar menu item which should just give a dropdown I get a 404 Page not found: `http://127.0.0.1:8000/en/url/` Raised

[2016-10-18 12:58] barseghyanartur opened #5730 "Support for Django template engine subclasses"
https://github.com/divio/django-cms/blob/release/3.4.x/cms/utils/setup.py#L21

[code]

This is insane! You forbid usage of customized engines.

Why don't you check if `django.template.context_processors.request` is in the list of `context_processors` instead?

[code]

[2016-10-18 13:58] yakky commented on #5730
@barseghyanartur django CMS relies on templatetags which are only available for Django template engine.
You can easily mix different engines in the same project for different applications

[2016-10-18 14:00] barseghyanartur commented on #5730
@yakky:

Yes, but what if I want to use multiple engines - all based on Django template engine - with very few modifications?

[2016-10-18 14:13] yakky commented on #5730
It's a valid use case, but checking for the context processor it's not enough to ensure all will work correctly. As there is no API to check if a template engine is compatible with the native Django one, we're stuck with checking the engine name

[2016-10-18 14:17] Arany commented on #5093
@czpython The fix does not seem to be merged into the 3.3.x branch?