[2015-08-15 10:47] yakky commented on #4356
What's your CMS_TEMPLATES configuration? Have you tested the latest support/3.1.x branch?

[2015-08-15 10:48] yakky commented on #4342
Fixed in #4232

[2015-08-15 10:48] #4342 closed

[2015-08-15 10:50] yakky commented on #4345
Which Django / django CMS versions?

[2015-08-15 11:16] yakky commented on #4357
@frague59 @czpython could you check the fix suggested in above PR?

[2015-08-15 11:57] shaojun commented on #4345
I'm using PYTHON 3 + Django 1.8.3, and not sure how to check CMS versions, but I followed the tutorial to install it at end of July.

[2015-08-15 13:49] yakky commented on #4345
@shaojun which version of the installer you used? ``pip freeze | grep 'djangocms-installer'``
Version prior to 0.7.9 may create incorrect settings

[2015-08-15 14:03] yakky commented on #4038
Closed by #4361

[2015-08-15 14:03] #4038 closed

[2015-08-15 14:03] yakky commented on #4357
@evildmp could you review the text?

[2015-08-15 14:29] shaojun commented on #4345
pip freeze
Django==1.8.3
djangorestframework==3.2.1
wheel==0.24.0

[2015-08-15 15:39] yakky commented on #4345
@shaojun but what django CMS and djangocms installer versions?

[2015-08-15 15:43] shaojun commented on #4345
@yakky I'm quite new for Django, and what I pasted is all I got from **pip freeze** under the python virtual environment, I didn't see the **djangocms-installer** listed here.

[2015-08-15 16:12] yakky commented on #4345
So, apparently some wrong happened during the tutorial. github issues is not the best place for this kind of support.
Please check http://django-cms.readthedocs.org/en/develop/contributing/index.html#development-community for the support channels (IRC and mailing list) to get help in setting up your project

[2015-08-15 16:12] #4345 closed

[2015-08-16 12:04] philippze commented on #3757
It's easy to switch off front-end editing for a CMSPlugin. Give the `frontend_edit_template` the same value as the `render_template`. Probably this makes changes to the placeholder redundant.

[2015-08-16 15:53] ojii commented on #3757
use case sounds sane.

[2015-08-16 17:37] mkoistinen commented on #3757
We already have a related capability with {% render_placeholder ... as ... %}, this allows us to render a placeholder to a var, which can then be displayed without edit capabilities. Can this not be used?

[2015-08-16 17:48] ojii commented on #3757
I think this is about ``static_placeholder``. Also ``render_placeholder ... as`` disables edit mode?

[2015-08-16 18:09] czpython commented on #3757
Yes this is about ```static_placeholder``` and afaik ```render_placeholder ... as``` does not disable edit mode :)

[2015-08-16 19:02] mkoistinen commented on #3757
I'm pretty sure it does. And I think this should be implemented in a consistent manner manner.

[2015-08-16 19:39] panosmm commented on #4360
Problem went away after I run collectstatic. Sorry about this - rookie mistake

[2015-08-16 19:39] #4360 closed

[2015-08-16 19:59] yakky commented on #4360
Thanks for the update

[2015-08-17 13:24] niceguydave commented on #4351
I'm experiencing similar issues. My site has multilingual functionality.

As with the OP, I can get things working fine when using `3.1.0` but get a 405 error when trying to publish a page on the front end using `3.1.1` and `3.1.2`:

[code]

[2015-08-17 14:16] ojii commented on #4351
multilinguality has no impact on this issue. your browser is using outdated javascript files due to your server still serving the old files and/or your browser using the old file from cache. see my reply above.

[2015-08-17 15:58] mkoistinen commented on #4357
LGTM.

[2015-08-17 15:58] mkoistinen commented on #4344
Can this be forward-ported to 3.1.x?

[2015-08-17 16:00] mkoistinen commented on #4344
I've tested this with latest develop and the issue persists.

[2015-08-17 16:13] yakky commented on #4344
@mkoistinen do we need this in 3.0.15 or we can postpone it?

[2015-08-17 16:16] mkoistinen commented on #4344
I marked it blocker, but it doesn't have to be.

[2015-08-17 20:09] dsimandl commented on #4356
Thanks for getting back to me @yakky.  The CMS_TEMPLATES configuration setting is below.  I'm using the 3.1.2 release off of pypi.

`CMS_TEMPLATES_DIR = str(PROJECT_ROOT.child('templates'))`

[2015-08-18 06:24] yakky commented on #4356
@dsimandl how about ``CMS_TEMPLATES`` http://django-cms.readthedocs.org/en/develop/reference/configuration.html#cms-templates?

[2015-08-18 06:30] yakky commented on #4357
Merging it and closing this

[2015-08-18 06:31] yakky commented on #4357
Closed by #4364

[2015-08-18 06:31] #4357 closed

[2015-08-18 10:50] leesolway opened #4367 "Language Chooser template does not respect modes"
{% language_chooser %} template tag (found in menu_tags.py) adds a context variable languages.

[code]

The first thing language_choose.html template does is to override the language variable breaking the chooser modes functionality. When moving the following line the template renders as expected:

[code]

[2015-08-18 10:53] leesolway commented on #4367
Amended title

[2015-08-18 10:55] leesolway opened #4368 "Language Chooser template incorrect variable"
The chooser template references the incorrect variable.. The link text should reference language.1, as the verbose name, not the  language.0, the language code.

***Original***
[code]

***Should read:***
[code]

[2015-08-18 10:55] yakky commented on #4367
@leesolway this has been fixed in #4217. Fix is going to be released soon for both 3.0 and 3.1

[2015-08-18 13:29] yakky commented on #4305
Fixed by #4363

[2015-08-18 13:29] #4305 closed

[2015-08-18 13:31] yakky commented on #4368
Well, sometimes you just want the language abbreviation, instead of the verbose name. Either way you a good rates of cases you'll need to customise it. Probably we should just document the behavior and provide clear information on how to customise it?

[2015-08-18 14:19] leesolway commented on #4368
The current behaviour will always render 'en' regardless of the arguments passed.
The template tag itself accepts an argument (raw, short or native) which actually changes language.1, the verbose value for this very purpose.

[2015-08-18 14:25] yakky commented on #4368
ah ok

[2015-08-19 19:32] mkoistinen opened #4371 "CMS shouldn't try to load CMSAttachMenus if they're not attached"
And, CMS should be very defensive in that if one menu breaks, it should still load the others.

[2015-08-19 19:43] jstacoder commented on #4357
so where do i add

[code]
adding to the aldryn_events migration file causes this error:

[code]

any ideas?

[2015-08-19 20:44] jstacoder commented on #4357
ahh, i had to delete the database for it to complete

[2015-08-19 22:25] ojii commented on #4371
I'd argue it should try to load them (and blow up on startup ideally) so a user notices immediately if a menu is broken, instead of the CMS suddenly not working anymore after the (broken) menu is attached to a page.

[2015-08-20 00:40] mkoistinen commented on #4371
Well, the issue is that if you have an apphooks-config'ed app, that isn't attached yet to the page tree, objects in that app won't resolve. As it is now, the CMS spews messages on-screen and, in some cases, prevents other menus from loading at all.

If the CMS were to load-and-blow-up, then you'd never get a chance to create the page and apphook.

[2015-08-20 12:44] #4254 closed

[2015-08-20 15:01] dsimandl commented on #4356
It looks like we are just using `CMS_TEMPLATES_DIR`.  We don't have `CMS_TEMPLATES` set anywhere in our settings

[2015-08-20 18:06] jstacoder commented on #4357
trying to duplicate this, i found the issue was when migrations were applied automatically when creating a project, if that was done, the tables must be dropped, including the `django_migrations` table, so it will run through them again, waiting to complete the offending migrations before doing the standard Django ones after running `cms.0003_auto_20140926_2347`

[2015-08-20 21:01] yakky commented on #4357
@jstacoder how do you create initial migrations? Which CMS version in your project?

[2015-08-20 21:08] jstacoder commented on #4357
@yakky  the initial migrations were created and applied when i created my project using the `djangocms` command, im not sure exactly what version of the CMS project it is using, when it asks during generation which version to use, i have been using the default `stable` version, and for django i have been using `version 1.7`

[2015-08-20 21:12] yakky commented on #4357
@jstacoder so, just to clarify the steps:

* pip install djangocms-installer ## version 0.7.9
* djangocms -p . testprj ## select all default, cms version = stable (==3.1), Django = 1.7
after the project setup
* pip install aldryn-events ## and patch it as above
* ... all the aldryn-events configuration setup
* python manage.py migrate
* ... error...

Am I correct?

[2015-08-20 21:24] yakky commented on #4356
@dsimandl ``CMS_TEMPLATES`` is a required documentation. See above link for details
I will close this. Feel free to reopen if updating the settings does not fix the issue

[2015-08-20 21:24] #4356 closed

[2015-08-21 10:26] cyberstar commented on #4357
@jstacoder please try to reproduce with https://github.com/aldryn/aldryn-events/pull/155 (not merged yet) applied.

@yakky the issue comes if you will migrate cms without aldryn-events listed in installed apps, then add aldryn_events+deps and try to migrate... should be fixed after mentioned pr would be merged.

[2015-08-21 13:13] oliwarner commented on #4219
Why is `django.middleware.locale.LocaleMiddleware` a requirement now? Kick it out, the code should fall back to settings.LANGUAGE_CODE (or `self.language` in that code, or something inbetween).

Please reopen and fix this.

[2015-08-21 13:30] tomtom5152 opened #4373 "clear_permission_cache raises TypeError when using SAML in Python 3"
When running in Python 3 with memcached in binary mode, clear_permission_cache throws a TypeError due to cache.incr() saving the binary value.

This could be solved either by manually incrementing the cache value, or simply casting to int before making the comparison on line 65.

[code]

[2015-08-21 16:02] jstacoder commented on #4357
Ahh, that makes sense, I've been trying to reproduce it again, with no luck, but that sounds like what I did originally. Ok I'll try to see if #155 works for the issue, I really appreciate your help and the responses.

Thank You,
Kyle Roux | Level 2 Designs Inc. | Developer
________________________________
(P: 714-888-4557<tel:714-888-4557> xtn. 307)
(F: 714-455-2115<tel:714-455-2115>)
Email: kyle

[2015-08-21 16:28] yakky commented on #4219
django CMS needs the language in the request for a **lot** of things and thus needs ``LocaleMiddleware``; this requirement won't go away

[2015-08-21 16:34] oliwarner commented on #4219
It *didn't* though. Barely a minor version ago `cms/toolbar/toolbar.py` was fine falling back on the settings as the default language. What has happened recently that makes this behaviour impossible or impractical?

[2015-08-21 23:31] AlexProfi opened #4374 "There are not managing icons in list of pages in admin"
![screenshot-10](https://cloud.githubusercontent.com/assets/5154879/9421051/6855b894-4875-11e5-91db-5f5b157dafd0.png)
It happens sometimes when I save new page or click on toggle minus button in tree of pages

[2015-08-22 17:17] jrief commented on #4005
I tested with django-cms vs 3.1.2 and here everything works fine when run under uwsgi.
Therefore we can close this.

[2015-08-22 17:17] #4005 closed

[2015-08-22 19:31] yakky commented on #4005
Thanks for the update

[2015-08-23 18:15] ZeroXn opened #4375 "Pillow is not compiled with JPEG support"
OSError: Pillow is not compiled with JPEG support, see 'Libraries installation issues' documentation section: http://djangocms-installer.readthedocs.org/en/latest/libraries.html

http://djangocms-installer.readthedocs.org/en/latest/libraries.html
says to make sure these dependencies are installed
    sudo apt-get install -y libtiff5-dev libjpeg8-dev zlib1g-dev libfreetype6-dev

but i already have

[2015-08-24 16:52] furiousdave commented on #4265
@garncarz Not sure but this may be the same as an issue I came across. When I added a new PlaceholderField to an existing model I had and migrated, I was unable to view it on any of my objects in the frontend using render_placeholder. After lots of reverting, cache clearing, trying different things, etc, I created a new object and realized the field appeared on that one, just not objects that exis

[2015-08-24 20:59] czpython commented on #4357
@yakky I believe I've encountered a similar issue but would like to clarify if it falls under the same documentation suggestion.

I've got a 3.0.14 project, upgraded it to 3.1.2, running django 1.6.11.

When running migrations, the cms ran and then aldryn-style, but it tries to migrate https://github.com/aldryn/aldryn-style/blob/master/aldryn_style/south_migrations/0004_move_additional_class_names

[2015-08-24 23:54] furiousdave opened #4376 "Plugin deleting not functional in support/3.1.x"
In the current support/3.1.x branch, the plugin delete form appears to be broken when using the modal window. First encountered in a custom project and verified by creating a clean project with djangocms-installer using django-cms 3.1 and django 1.8. Then switched to the 3.1 support branch.

Upon clicking "Yes, I'm sure" in the delete plugin form, the ajax spinner appears but no request is made in

[2015-08-25 06:34] yakky commented on #4376
I cannot reproduce this, both on plain django-cms using ``develop.py server`` and on a clean installer project (both on Django 1.7 and 1.8 with all the rest set as default, and the installing latest support/3.1)

[2015-08-25 06:37] yakky commented on #4357
@czpython yes, it's the same issue. Datamigrations needs ``needed_by``/``run_before`` on first 3.1 migration, if the plugins are meant to work both on 3.0 and 3.1 (dependency it's not enough to guarantee that the datamigration is run before 3.1 migrations)

[2015-08-25 06:38] yakky commented on #4265
@furiousdave yes, placeholderfields on existing objects are created only after saving the object once.
I feel this should go into documentation

[2015-08-25 07:19] jstacoder commented on #4357
ok @yakky , @cyberstar aldryn/aldryn-events#155 did the trick, i was able to reproduce, like you said, by applying the inital migrations, then adding aldryn-events then running migrate, there was an issue though, after running `djangocms -p . my_site`  picking all defaults, except django 1.7, when i went to install aldryn/aldryn-events#155, i got this error

[code]
but i was able to bypass that by

[2015-08-25 14:20] furiousdave commented on #4376
Thanks yakky. I'll see if I can isolate the conditions here more.

[2015-08-25 14:29] otg-sandrey opened #4377 "Page actions in admin interface are not available if I use search"
In /admin/cms/ for each page I see publish/unpublish actions in a small hint window which pops up when the mouse pointer is over of one of language specific rounds at the right side of the line.

If I search for a page, then (for the pages found by the search) the hint window is not shown, and the actions are not available.

Not really sure is it a bug or a feature request. But end-users comlains

[2015-08-25 14:37] otg-sandrey opened #4378 "create/delete context menu in /cms/page/ is not working"
In admin interface open /cms/page/.

Right click at a link to any of the pages. A context menu will open and it contains two items:
- CREATE
- DELETE

"CREATE" seems does nothing.
"DELETE" removes the page from the list, but it is back if I click F5

Also the menu is not available for all pages but last one in the list. The problem is that the menu is open behind (in Z-order) next page line frame.

[2015-08-25 14:59] yakky commented on #4377
@otg-sandrey could you check if this happens on latest support/3.1 branch? Sounds like a fixed issue

[2015-08-25 15:12] yakky commented on #4378
Which CMS version are you using?

[2015-08-25 15:13] yakky commented on #4357
@jstacoder the htmllib version issue will be fixed in next CMS release

[2015-08-25 15:25] otg-sandrey commented on #4378
django-cms==3.0.13

[2015-08-25 17:07] vladir opened #4379 "Broken layout on Firefox 40.0"
Hi fellows,

  I have been trying to set up `django-cms==3.1.2` for an existing project, and almost everything went smoothly. I just added one `plugin` to my project: `djangocms-text-ckeditor`. I'm very happy with the way `django-cms` is going. The only one detail I found is that the rich text editor (that comes from `djangocms-text-ckeditor`) does not show up properly on the version of `Firefox`

[2015-08-25 18:41] kelvan opened #4380 "haystack indexing crash after upgrade to Django 1.8"
There is a check for DJANGO_1_7 in cms.templatetags.cms_tags._show_placeholder_for_page to use request = context.get('request', False) instead of request = context.request

Using django 1.8 this function crashes as there is no context.request

Dirty quickfix:
https://github.com/kelvan/django-cms/commit/d933cc40b442fe1c0551f1f8542413109a1588ff

[2015-08-26 09:13] jankopacek opened #4382 "get_template magic inherits from root, not nearest node"
Template inheritance wrong behavior?
In models/pagemodel.py

[code]

This returns not the closer parent, but first from get_ancestors - which in MP is root node. Is this an intention?

[2015-08-26 14:47] CDAugDev commented on #3146
I'm not sure if this is still relevant, but I came up with a solution.

Create a single "cms_toolbar.html" file with only this inside:
[code]

Then, when I want it in one of my many "base.html" files, I call it with an include like so:
[code]

Seems to work fine in Django 1.8.3 / Django CMS 3.1.2

[2015-08-27 04:34] pigsign opened #4385 "Apphook permission is not working on Apache with non-root url"
My environment is:
- Django 1.8
- Django-CMS 3.1.2
- Python 2.7.5
- cms_app.py

[code]
- view.py

[code]
1. I create a page and check "login_require" on, then attach the apphook to page. But guest still can see this page without log in.
2. Top tool menu's "Page" function button is disappear.

[2015-08-27 05:44] yakky commented on #4379
@vladir cannot reproduce this. Could you provide some details on how to reproduce it and some screenshots?

[2015-08-27 05:47] yakky commented on #4375
Please reopen this on https://github.com/nephila/djangocms-installer repository

[2015-08-27 05:47] #4375 closed

[2015-08-27 05:47] yakky commented on #4382
This is fixed in #4363

[2015-08-27 05:53] yakky commented on #4378
@otg-sandrey this is actually a remnant of the past. The new UI revisions will fix the entire page tree, still not finalised yet

[2015-08-27 07:42] yakky commented on #4380
@kelvan Thanks for reporting this. Closed by #4386

[2015-08-27 07:42] #4380 closed

[2015-08-27 09:03] #4351 closed

[2015-08-28 02:40] vladir commented on #4379
Thanks for your quick response @yakky , you are totally right, it seems as it was something I had wrong on my configuration. Our front-end developer confirmed that everything was ok. I'm going to mark this as invalid. Thanks a lot again for your time.

[2015-08-28 02:41] #4379 closed

[2015-08-28 04:32] yakky commented on #4379
Thanks for the update

[2015-08-28 07:01] o-zander opened #4390 "RuntimeError while migrating a fresh database"
I just updated to django 1.8 and django-cms 3.1.2 and encountered an error while running the migrations on a fresh database (running my tests). Problem is the migration "cms.0010_migrate_use_structure".

Shortened Traceback:

In django 1.8 the content types model is changed. In this migration the ContentType Model is imported and queried directly. The new model function does not add the name field

[2015-08-28 10:31] yakky commented on #4390
@o-zander could you tast latest 3.1 support branch? This should have been fixed

[2015-08-28 19:49] jankopacek commented on #4382
It seems that fix is for get_cached_ancestors, which is not used in function mentioned. Am I missing something?

[2015-08-29 06:32] yakky commented on #4382
@jankopacek my bad, I linked this to the wrong PR. Another one for this is on the way

[2015-08-29 08:48] yakky commented on #4382
@jankopacek The above PR is the correct one :)

[2015-08-29 08:50] #4367 closed

[2015-08-29 09:05] yakky commented on #4368
Fixed by above PR

[2015-08-29 11:18] #4368 closed

[2015-08-29 14:17] #4382 closed

[2015-08-29 14:17] yakky commented on #3654
Fixed by #4229

[2015-08-29 14:17] #3654 closed

[2015-08-29 14:22] yakky commented on #4373
Above PR should fix the issue

[2015-08-29 22:24] #4029 closed

[2015-08-31 13:20] ablochs commented on #4123
the following solved the issue for me: do a fake migration back to 0002 and then migrate...
[code]

[2015-08-31 15:27] o-zander opened #4407 "Using scroll bar of plugin menu in Firefox & IE moves plugins"
A customer found a bug on Firefox (36+ verified) and IE (seems to be alls versions) while using the scroll bar of the plugin menu. When the menu is open and the scroll bar is used by dragging it with the mouse, underlying plugin is selected and moved. The problem doesn't occur in the placeholder menu and not on Chrome. django-cms 3.1 and 3.1.2 were checked.

[2015-08-31 15:55] o-zander commented on #4390
Seems to work :)

[2015-08-31 16:20] yakky commented on #4390
Awesome thanks. 3.1.3 is on the launchpad, closing this

[2015-08-31 16:20] #4390 closed

[2015-08-31 16:21] yakky commented on #4407
@FinalAngel likely target for fixing this is 3.2, right?

[2015-08-31 16:28] FinalAngel commented on #4407
@yakky most likely - /cc @vxsx

[2015-08-31 17:31] vxsx commented on #4407
@FinalAngel cannot reproduce on `preview` 3.2 branch possibly because we changed the hover trigger behaviour

[2015-09-02 10:04] DylannCordel opened #4411 "[3.1.3] AttributeError: 'User' object has no attribute 'has_perm'"
Hi,

Using orm['auth.Model'] in `0075_use_structure.py` migration can not have `has_perm` attribute:

Using "real" `User` model (like in 3.1.2) is not a good solution. What do you recognize for this ? I could write a PR but I'm not sure about which solution is the best : using real User model ? Permission queryset on user and user's groups ? other ?

[2015-09-02 10:17] adrienbrunet commented on #4039
I don't know if it's related but sometimes my modals are also a bit weird (like described in  #1215). I'm using Firefox though and django-cms 3. The modals are full width and have a really low height. The handler to resize the modal does not work everytime and the maximize button does nothing most of the time. The behavior is quite non consistant. Have I messed up the config? Any advise?

[2015-09-02 10:41] yakky commented on #4411
Not using has_perm at all but using the plain ORM methods of the historical model

[2015-09-02 10:41] #4373 closed

[2015-09-02 13:20] DylannCordel commented on #4411
But how to achieve this with south ? the "User" model could be another Model than `contrib.auth.models.User`. Do we assert that this model had a `has_perm` method with same logic than `contrib.auth.models.User` ?
Maybe we could test if this is a `contrib.auth.models.User`'s (sub)class without any overwrite of `has_perm` : if yes, we just process the new perm addition, else, we display a Warning to

[2015-09-02 13:57] jproffitt commented on #4243
I'm still seeing a couple of `RemovedInDjango19Warning`'s after upgrading to CMS 3.1.3:

    cms/models/permissionmodels.py:7: RemovedInDjango19Warning: django.utils.importlib will be removed in Django 1.9.

    cms/utils/compat/forms.py:11: RemovedInDjango19Warning: django.db.models.get_app is deprecated.

[2015-09-02 15:48] LeGast00n opened #4414 "no_signals not handled in Page.save()"
Hi there,

The pre_delete_title signal handler for the Title model is calling the corresponding page's save() with no_signal=True.

However, the no_signal argument is not handled in the page's save() method, which may run to issues when a save signal handler is hooked onto the page model (given that it then may operate on a page that has just been deleted).

OK to let me fix that ?
Note: if so, ca

[2015-09-03 07:43] donce commented on #4411
Can't upgrade to 3.1.3 because of this error. Using custom User model.

[2015-09-04 08:07] yakky commented on #4411
@donce @DylannCordel could you check above PR?

[2015-09-04 08:33] donce commented on #4411
Sorry, I've already applied this migration from 3.1.2, which seems to be working.

[2015-09-04 09:49] kelvan opened #4420 "ValueError: invalid literal for int() with base 10: 'cms/page/30/de/descendants'"
I'm using 3.1.3.

Just got a Http500 in my sentry stream, accessing not existing admin url:
/admin/cms/page/cms/page/30/de/descendants/

Sadly I don't know (yet) if there is a link to this invalid url.

However imo object_id should not match with any string, but int.

Error at cms/admin/pageadmin.py:419
obj = self.model.objects.get(pk=object_id)
where "object_id" is 'cms/page/30/de/descendants'

[2015-09-04 10:02] DylannCordel commented on #4411
@yakky : feedback on your commit [in the PR](https://github.com/divio/django-cms/pull/4419#issuecomment-137692278).
I tested your branch at 4ff7dc07301d204b78d7a7b84c41261f4f40d985 commit with django 1.6 on an existing project : it works well.

[2015-09-04 15:21] o-zander opened #4423 "Improvement: Use custom plugin queryset"
Hi, I use custom plugins which uses django-filer fields. These fields are foreign keys. I noticed multiple queries to the filer table from one plugin type, which could be avoided by using ``select_related``. But I can't find a feature to set ``select_related`` on the queryset because the queryset is build by the function ``downcast_plugins``. It would be easy to use a custom queryset since in this

[2015-09-08 17:22] foobacca opened #4430 "Unable to edit from a phone/narrow window"
When you are using a phone (or other narrow screen) and go to edit mode, the structure/content buttons disappear completely.  This means you cannot edit the structure.

Also, while you can open content to edit, often once opened the edit iframe is too large to be used - the save etc buttons are off the edge of the screen, and I can't scroll sideways to get to them.

While primarily editing via lap

[2015-09-09 06:46] yakky commented on #4430
Improving the interface for mobile devices (both in terms of layout and touch support is a goal for 3.2 and beyond CMS versions)
Old placeholder admin it's no longer available as fundamentally incompatible with the revamped 3.0 frontend editor

[2015-09-09 08:47] marksweb opened #4432 "Unsafe script warnings when saving/publishing through the front end"
I've got an issue whereby publishing pages, or saving plugins is sending a request to `/admin/` over `http://` while the site is running on `https://` which is resulting in our customer reporting that the site is 'hanging' or being slow to load.

I've seen videos/screen casts from them and have confirmed that the issue with with unsafe script warnings in the browser & given them the fix, but eithe

[2015-09-09 11:27] schneck opened #4434 "Proposal: Add "authenticated" to CMS_PUBLIC_FOR"
To make access to all CMS pages password protected by default, it would be useful to add "authenticated" as an option to the CMS_PUBLIC_FOR setting.

[2015-09-09 11:48] schneck opened #4435 "Rework logic in permission system"
I had some issues on creating proper permissions for certain groups lately, so I had a look at all permission options available and wrote a blog post about it: http://blog.webrunners.de/2015/09/08/django-cms-permission-pitfalls/ (the post originates in a SO question: http://stackoverflow.com/questions/32453846/restrict-certain-pages-in-django-cms)

Basically there are two behaviours I'd like to di

[2015-09-09 14:57] philippeowagner opened #4436 "Can't move pages"
Can't move pages in admin. Throws an internal server error (500).

    Traceback:
    File "/var/www/blank/www/local/lib/python2.7/site-packages/django/core/handlers/base.py" in get_response
      132.                     response = wrapped_callback(request, *callback_args, **callback_kwargs)
    File "/var/www/blank/www/local/lib/python2.7/site-packages/django/utils/decorators.py" in _wrapped_vie

[2015-09-10 07:10] evildmp commented on #4435
I saw your weblog article first, and the question on Stack Overflow. I think that at the very least that the permissions model could benefit from some improved documentation, but no doubt we can improve its behaviour as well.

I'd be happy to spend a bit of time looking at this with you to understand the requirements and problems more clearly, so we can come up with a definite plan for addressing

[2015-09-10 07:16] vstoykov commented on #4330
The problem is that you cant have full page cache when you want to render CSRF token. This means that you need to disable cache which is not good.

We achieve this by hitting uncached URL which is decorated with from `django.views.decorators.csrf.csrf_protect`. This URL will set the correct CSRF cookie. If your form is not AJAX form then the hidden input value need also to be set from the JavaScri

[2015-09-10 07:27] schneck commented on #4435
Sure, just get back to me when you've got time for this.

[2015-09-10 14:59] leesolway opened #4440 "Proposal - Additional setting CMS_MENU_CACHE"
I am currently working on a project where the number of menu items is to large to be entered into memcached. I would like to keep the default cache set to using memcached, and have the menu using File based caching or Redis. Currently this is not possible without forking.

Proposal: Add a settings to define which cache block to use.

[code]

[2015-09-11 12:35] creimers opened #4443 "Multiple PageFields are not possible in a single form"
[code]
I have a plugin with a PageField and an Inline, which itself also has a PageField.

Minimal example:

``models.py``
[code]

``cms_plugins.py``
[code]

When adding an instance of the plugin, I observer a strange behavior. The PageField's select works in the plugin's form:
<img width="1048" alt="bildschirmfoto 2015-09-11 um 14 26 13" src="https://cloud.githubusercontent.com/assets/6090492/981

[2015-09-11 13:31] evildmp commented on #4443
Shouldn't the title of this issue be: "Multiple PageFields are not possible in a single form"?

[2015-09-11 13:51] evildmp commented on #4436
We need to be able to replicate this, preferably in a test case.

It sounds like MP tree corruption (really not what we want to hear, but still).

Are you able to recreate the situation that causes this in a fresh database?

[2015-09-11 14:00] philippeowagner commented on #4436
It's still possible to move the pages below a certain level of depth.
No, didn't tried with a fresh database.

[2015-09-11 14:49] creimers commented on #4443
It should.

[2015-09-13 10:21] yakky commented on #4407
Fixed by #4415

[2015-09-13 10:21] #4407 closed

[2015-09-14 10:58] evildmp commented on #4436
Does it seem to implicate a particular page as the problem?

[2015-09-14 11:04] evildmp commented on #4374
Does this only happen with the runserver, or also when running a site in production? I have often encountered rendering/behaviour glitches with the runserver, especially on complex admin pages, where it struggles to serve up the static files a page needs.

[2015-09-14 11:38] AlexProfi commented on #4374
I see it on runserver but it's not permanent bug. On adding many pages I see this bug. It dissappears when I clcik on minus and then plus button to expand child pages  On production I don't check

[2015-09-15 07:31] vstoykov opened #4451 "AttributeError: 'Http404' object has no attribute 'has_header' when publish page"
This is caused by returning `Http404` instead of raising it.
https://github.com/divio/django-cms/blob/3.1.3/cms/admin/pageadmin.py#L972

This is a regression in 3.0.x caused by this commit https://github.com/divio/django-cms/commit/b37b73aa75047bdc12c4d346853cce2e443cad80

I will provide I pull request after several minutes

[2015-09-15 12:50] philippeowagner commented on #4436
@evildmp I tried several things... Yes, it seems that the target page is the problem. What could help next?

[2015-09-15 19:58] michael-mri commented on #3665
Had same problem (Django 1.8.4 and Django CMS 3.1.3).
I managed to solve it by adding: `'django.core.context_processors.static'` to `'context_processors'` in  `OPTIONS` of `TEMPLATES` setting (formerly `TEMPLATE_CONTEXT_PROCESSORS` setting).

It seems like it was not included by default by `django-admin startproject`.

[2015-09-16 06:15] FinalAngel commented on #3665
@yakky is this the case?

[2015-09-16 14:30] evildmp commented on #4432
Possibly related to https://github.com/divio/django-cms/issues/4215.

[2015-09-16 14:39] evildmp commented on #4423
Hi @o-zander, thanks for this suggestion, which looks like a useful improvement. Would you like to contribute the patch?

[2015-09-16 14:47] evildmp commented on #4432
Thanks @marksweb. We *should* have removed all the protocols (explicit references to ``http`` and so on) from the code that does this, some time ago in fact. We'd like to know more; in particular, to know if this happens all the time with all content, or just sometimes.

Can you give us more information about the set-up? Is it possible that there is a deployment configuration that's involved?

Als

[2015-09-16 14:51] evildmp commented on #4435
How about a day some time next week - Wednesday 23rd, on IRC and/or Hangout?

[2015-09-16 14:53] evildmp commented on #4436
@philippeowagner I think we're going to need to see this in action, and probably to have a copy of the data in the page tree so we can replicate it - without being able to replicate it, we're in the dark. Is there some way we could arrange that?

[2015-09-16 15:02] evildmp commented on #4215
Hi @SachaMPS have you got any further with this? We have a similar issue #4432, and again it's hard see how it could be a CMS issue rather than a server configuration matter.

[2015-09-16 15:06] SachaMPS commented on #4215
@evildmp Sorry, we since then lived with our solution to solve this via nginx.

[2015-09-16 15:52] npardington commented on #4436
I've also started getting this error on django-cms==3.1.3.

Seems that treebeard->mp_tree.py line 442

    newdepth, siblings, newpos = self.update_move_to_child_vars()

Goes on to set self.target to None on line 529

    self.target = self.target.get_last_child()

That throws an exception on treebeard->models.py 277

    try:
        return self.get_children().reverse()[0]
    except IndexError:

[2015-09-16 18:04] philippeowagner commented on #4436
@evildmp we could try to reduce our client's DB to the CMS relevant thing and provide it in an example project. Would this help?

[2015-09-16 18:13] philippeowagner commented on #4436
I duplicated the target page and then could add all the children as expected. Had the same odd delete preview as @npardington reported.

![screen shot 2015-09-16 at 20 09 40](https://cloud.githubusercontent.com/assets/113043/9913863/3de327d8-5caf-11e5-97f8-112f456252bc.png)

(reference to itself?)

[2015-09-16 20:03] evildmp commented on #4436
@npardington oh no, stop telling us this bad tree-related news! Do still have a copy of the bad data?

@philippeowagner yes please, the data in a suitably anonymised/depersonalised context would be great

[2015-09-16 20:30] npardington commented on #4436
I don't, but I did have to delete another page that had the same issue. If it comes up again I'll dump the data.

Probably un related, but I have been seeing this error come up as well

    'NoneType' object has no attribute '_inc_path'

![screen shot 2015-09-16 at 4 26 18 pm](https://cloud.githubusercontent.com/assets/2708258/9917500/f29ac98a-5c8f-11e5-9afd-2c6300165d0e.png)

Haven't had a change

[2015-09-16 20:34] philippeowagner commented on #4436
@npardington what happens when you delete the page? In my example it seem as it would remove the cloned page as well (and my example seems similar to yours....).

[2015-09-16 20:42] npardington commented on #4436
@philippeowagner yes when I deleted each page it had listed the cloned page as well.

[2015-09-16 20:43] mkoistinen opened #4456 "fix-tree unconditionally discards plugin position data."
Currently, the fix-tree management command assumes that plugin position data is irrelevant and rebuilds the plugin tree based solely on plugin id/pk.

This is very destructive (and irrecoverable) in projects where a fix-tree operation may be warranted, but suddenly, the position of all plugins is scrambled.

[2015-09-16 20:49] philippeowagner commented on #4436
What to do to prevent the cloned page to be deleted as well?

@evildmp we will clean a dump ...

[2015-09-16 22:45] marksweb commented on #4432
Thanks @evildmp - I've done searches on the entire codebase to try to track down anything that might contain a hard coded protocol but not found anything. Which is why it really annoys me that the browser won't tell you what the scripts are. That'd make debugging really easy!

It doesn't happen all the time, and I've just tried a few pages & a few plugins without reproducing it. The only thing I c

[2015-09-17 08:27] evildmp commented on #4385
@pigsign Have you restarted the Django instance after attaching the apphook?

[2015-09-17 08:31] evildmp commented on #4341
See also @timgraham's proposal https://docs.google.com/document/d/1L23KhInNHc_rK5LJIJB9ZPhslGeQNaw-X9btAYD8PRY/edit

[2015-09-17 08:33] evildmp commented on #4334
@FinalAngel Would you be able to review issue and patch please?

[2015-09-17 12:02] FinalAngel commented on #4334
I'll keep it on my radar @evildmp

[2015-09-17 12:48] philippeowagner commented on #4436
@evildmp FYA https://slack-files.com/T02BCAM2Z-F0AS1P7B3-e88fb1cea2

[2015-09-17 13:21] npardington commented on #4436
I'm using Postgres 9.3

[2015-09-18 06:49] FinalAngel commented on #4378
@otg-sandrey I tried to reproduce with the latest version and I'm getting:

![image](https://cloud.githubusercontent.com/assets/270307/9953548/106e8f3e-5de2-11e5-9474-bb5cb54a6d0c.png)

Could you provide a screenshot?

[2015-09-18 06:51] FinalAngel commented on #4377
I can confirm, this is an issue in the tree:

![image](https://cloud.githubusercontent.com/assets/270307/9953571/424da30a-5de2-11e5-884b-8421fa1304e3.png)

I cannot confirm yet if we can push a fix to 3.1 or 3.2 and will update here later. Thank you @otg-sandrey

[2015-09-18 06:59] thoreg commented on #4310
Any news here? Any work in progress?

[2015-09-18 09:18] thoreg opened #4461 "Single SQL query for each single page/plugin"
For me it is a real issue during a tutorial or a presentation, if the system is very slow - which means just to save an inserted plugin takes 5-10 seconds. Investigation with django-extensions shows that for every single page an extra query is fired against the database (tables: cms_page and cms_title). For example:

[code]

This is very annoying and I am wondering if there is already some work in

[2015-09-19 09:45] yakky commented on #4461
@thoreg any optimisation is very much welcome. We're constantly seeking into improving the CMS speed and we'll happily review and merge any patch in this area

[2015-09-19 09:45] yakky commented on #4456
Fixed by #4457

[2015-09-19 09:45] #4456 closed

[2015-09-21 06:27] FinalAngel commented on #4376
@furiousdave which jQuery version are you using and is the console throwing any errors?

[2015-09-21 06:28] FinalAngel commented on #4374
@vxsx we also had this issue, did you fix this by any chance?

[2015-09-21 06:30] FinalAngel commented on #4358
This is related to https://github.com/divio/django-cms/pull/4458

[2015-09-21 06:37] FinalAngel commented on #4341
@evildmp I'd even recommend removing the Wiki and focus on the docs - but thats just my opinion :)

[2015-09-21 07:47] pigsign commented on #4385
@evildmp Yes, I did - try to restart Apache service and reboot server.
Sorry, more environment info list below:
 * Django CMS running on Apache.
 * templates/pwd_generator_base.html
[code]

 * templates/pwd_generator_index.html
[code]

[2015-09-21 07:47] schneck commented on #4435
I'll check if 23rd works for me, maybe I'd have to re-schedule to next week, when I'm more flexible.

[2015-09-21 08:12] vxsx commented on #4374
@FinalAngel no, we didn't fix this. This can happen if the page name length is long enough to overlap the icons (e.g. combo of long page name and lots of languages) or there is yet uncatched bug in the pagetree.

@AlexProfi can you provide a bit more details? Is this behaviour consistent? What is the FF version / CMS version?

[2015-09-21 08:33] yakky commented on #4337
Fixed by #4467

[2015-09-21 08:33] #4337 closed

[2015-09-21 08:35] AlexProfi commented on #4374
django cms 3.1.2 firefox 39 on linux

[2015-09-21 12:45] mkoistinen commented on #4440
I think this is a reasonable request (esp. given the concrete use case). I don't think a design decision is required, except perhaps on the naming of the new setting(s).

@leesolway did you have a PR to go with this?

[2015-09-21 12:53] mkoistinen commented on #4436
@philippeowagner, @npardington I had a slightly similar situation recently. I was able to fix it by running `python manage.py cms fix_tree`. HOWEVER, before you do this on a live project, please apply https://github.com/divio/django-cms/pull/4457 as a patch to CMS.

Could you do this with a ***copy*** of your DB and let us know if it helps?

[2015-09-21 13:08] mkoistinen commented on #4436
Also, when this happens, the CMS is probably providing a nice stack trace, but it is "hidden". To get to it (would be massively helpful), follow these steps:

1. In Chrome, open the dev-tools and click on the network tab;
2. Attempt to move the page, if this is still an issue, then the page won't move, but at the bottom of the network tab in dev tools, you should now see a red AJAX request, click

[2015-09-21 14:26] leesolway commented on #4440
Not currently, i will however do one over the next few days.

[2015-09-22 05:26] milanhlavin opened #4475 "."

[2015-09-22 11:28] #4475 closed

[2015-09-22 12:03] philippeowagner commented on #4436
@mkoistinen my stack trace was hidden, see first comment/issue.

[2015-09-22 14:47] o-zander commented on #4423
Yes, I can do that. Maybe I can get it done this week. Any advice on forking which branch to ease the process of merging the changes?

[2015-09-23 06:27] FinalAngel commented on #4318
@vxsx is this something that has been fixed in 3.2?

[2015-09-23 06:35] vxsx commented on #4318
will check, but likely no. this is related to that problem when plugin tries to insert itself in itself

[2015-09-23 06:43] yakky commented on #4215
@SachaMPS thanks for the feedback. Closing this, then

[2015-09-23 06:43] #4215 closed

[2015-09-23 06:47] yakky commented on #3665
@michael-mri the supported way to setup django CMS is by using djangocms-installer or by following documetation at http://django-cms.readthedocs.org/en/latest/how_to/install.html where ``'django.core.context_processors.static`` is documented.
I'm surprised it's not activated by default in Django, but defaults may with versions so the best thing is following the django CMS which provides all the re

[2015-09-23 06:47] #3665 closed

[2015-09-23 06:56] vxsx commented on #4344
I think we fixed this in 3.2 preview.

[2015-09-23 07:04] vxsx commented on #4195
In 3.2 by default sideframe takes 80% of the screen.

[2015-09-23 07:06] vxsx commented on #4124
In 3.2 we changed how adding a plugin works, and removed the scroll hint.

[2015-09-23 07:24] benzkji commented on #4195
nice! thx.

[2015-09-23 12:06] vxsx commented on #4344
Should've been fixed as part of https://github.com/divio/django-cms/pull/4473 and subsequent change in https://github.com/divio/django-cms/pull/4478

[2015-09-23 13:54] yakky commented on #4334
Fixed in #4486

[2015-09-23 13:54] #4334 closed

[2015-09-23 13:59] philippeowagner commented on #4334
Thanks!

[2015-09-23 18:49] paperreduction commented on #4436
@npardington thanks for the details, that helped me find this issue. I was having the same problem. @mkoistinen the fix-tree command resolved the data problem. The actual command I ran was `python manage.py cms fix-tree`. I'd love to know what cased the problem in the first place so we could get a real fix, but right now I honestly don't know what's happening under the hood with treebeard.

[2015-09-23 18:57] paperreduction commented on #4436
By the way, I have a copy of the database BEFORE applying the fix. So I can dump the records out for inspection. Would a SQL dump from postgres work?

[2015-09-23 18:58] evildmp commented on #4461
@thoreg This will be hugely welcome!

[2015-09-23 19:00] evildmp commented on #4440
@leesolway great thanks.

[2015-09-23 19:01] evildmp commented on #4436
@paperreduction I should think so. But please make sure that it doesn't contain anything you don't want shared!

[2015-09-23 19:02] evildmp commented on #4436
I think enough people have reported this that we can accept it as a bug by the way.

[2015-09-24 07:30] yakky commented on #4411
Fixed by #4472

[2015-09-24 07:30] #4411 closed

[2015-09-24 12:22] vxsx commented on #4344
I was wrong

[2015-09-26 08:39] sephii opened #4511 "Overlapping icon in filer image selection"
Not sure if it's related to Django CMS or to the filer plugin but when inserting an image the magnifying glass icon is duplicated:

![2015-09-26-103645_465x172_scrot](https://cloud.githubusercontent.com/assets/754333/10116644/d8f094ee-643a-11e5-9041-b4d013027ec8.png)

[2015-09-26 08:43] yakky commented on #4511
@sephii are you using a retina display? Which Django / django CMS / djangocms-admin-style / django-filer versions? (My guess it is a djangocms-admin-style / django-filer issue)

[2015-09-26 09:23] sephii commented on #4511
No retina display. Versions:

[code]

This also happens with Django CMS 3.2. Looking at the HTML gives:

[code]
The `<img>` tag contains one of the magnifying glasses, and the other one is added as a background to the `<a>` element through the `related-lookup` CSS class, defined in `/admin/css/forms.css`.

[2015-09-26 11:10] creimers opened #4512 "Hide plugins (in structure mode) - feature [re]quest(ion)"
Other CMS provide the user with the possibility to 'hide' plugins, i.e. to not show them to the ordinary site visitor without having to delete them.

Is a similiar functionality in the making for djangoCMS by chance?

This might have been asked here before, in which case I apologize for my insufficient research.

[2015-09-26 16:10] yakky commented on #4512
What's the use case for this feature? (BTW you can easily create a ``HiddenPluginsPlugin`` which hides the contained plugins according to some specific rules -like: hide plugins for non staff users)

[2015-09-26 16:11] yakky commented on #4511
@FinalAngel @vxsx any hint?

[2015-09-26 16:12] yakky commented on #4344
@vxsx could you backport the fix to 3.0/3.1 ?

[2015-09-26 16:13] yakky commented on #4195
Fixed in 3.2

[2015-09-26 16:13] #4195 closed

[2015-09-26 16:14] yakky commented on #4124
Fixed in #4476

[2015-09-26 16:14] #4124 closed

[2015-09-26 16:15] yakky commented on #4423
@o-zander use develop. As it changes the models API is targeted to 3.2

[2015-09-26 16:17] yakky commented on #4385
@pigsign does this happen on runserver deployment too?

[2015-09-26 22:00] creimers commented on #4512
Use case: Some banner or image on a page that you periodically want to manually hide and show. Or some content that you need later but now happen to have the time to insert it in the CMS. You could then leave it hidden for the time being.

Can't think of anything more illustrating right now, but I have been asked this by multiple clients who were switching *to* djangoCMS and appreciated such funct

[2015-09-26 22:23] yakky commented on #4512
Looks legit. Thanks for the suggestion @creimers

[2015-09-26 22:30] creimers commented on #4512
@yakky Yes I'll be able to contribute this with some help. Is there documentation on how the structure mode works/is built?

[2015-09-26 22:36] jrief commented on #4512
You may have a look at the segmentation plugin.
https://github.com/aldryn/aldryn-segmentation

djangocms-casade also offers segmentation.

[2015-09-27 08:01] yakky commented on #4512
@creimers no need for structure mode: https://github.com/divio/django-cms/blob/develop/cms/plugin_base.py#L333-L340 use these to add items to the placeholder / plugin menu, a view in ``PlaceholderAdminMixin``, then I guess we could handle this with a field that saves whether to hide the plugin or not.
In edit mode the plugin must be rendered (eventually adding a specific class to make visible they

[2015-09-27 11:36] evildmp commented on #4512
This has been discussed before, in fact I discussed it recently with someone but I can't remember where or with whom.

In short, it's a feature I've wished for since 2.3, and it would have enormous practical and time-saving use.

Each plugin that is ``publish``-enabled (this might not be appropriate for every kind of plugin) should have a checkbox, ``Publish``, that is on by default.

Whether this

[2015-09-28 07:24] FinalAngel commented on #4511
@lory87 might you have a look? That's either within django-filer or djangocms-admin-style.

[2015-09-28 07:27] lory87 commented on #4511
@FinalAngel yep Will have a look as well. But new Filer and admin styles are not merged to master yet.

[2015-09-28 09:14] evildmp opened #4516 "Page admin should have View on site re-enabled"
Here's a typical use-case:

* I visit the CMS > Pages admin to have a look at my pages
* I decide I need a new one, so add it
* I hit Save and continue until I am happy with the Description etc
* now I want to add some content - and should be able to hit **View on site**, but it's not there. Instead I have to go back to the admin page list and (confusingly, though that's a different problem) open

[2015-09-28 09:59] evildmp opened #4517 "Make access to Page admin/frontend more consistent in Django admin"
It's odd and confusing that selecting a Page in the Pagel list ``/admin/cms/page/`` takes you to the frontend (unlike every other admin list behaviour) but to get to the actual admin you need to select the pencil icon.

I would suggest something along the lines:

[code]

where ``view on site`` is either text, or a very clear icon of some kind. It has to be short, and at the front of the line, othe

[2015-09-28 10:00] evildmp commented on #4516
Related issue: https://github.com/divio/django-cms/issues/4517

[2015-09-28 13:38] lory87 commented on #4511
This Issue is fixed on djangocms-admin-style develop branch and will be on master in the next release.
There are some changes on django-filer develop branch which are not released yet and are related to the admin styles changes on develop.

[2015-09-28 14:37] bittner opened #4519 "Python 3.2 SyntaxError with u-prefixed string in pagemodel"
The pagemodel module causes a SyntaxError with Python 3.2 (a supported version of [Django 1.8](https://pypi.python.org/pypi/Django/1.8#downloads)) due to a `u""` string [on line 144](https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py#L144). The `u`-prefix was (temporarily) not available in Python 3.2.

Should this be replaced by `title = force_text("")`, maybe? -- I can place

[2015-09-28 14:42] bittner commented on #4519
See this [example build](https://travis-ci.org/Organice/django-organice/jobs/82554136) failing with Python 3.2, passing successfully with versions 2.7, 3.3 and 3.4.

[2015-09-28 14:53] yakky commented on #4519
Python 3.2 is not supported by django CMS

[2015-09-28 14:53] #4519 closed

[2015-09-28 14:54] FinalAngel commented on #4511
@yakky this can be closed here IMO as its not a django-cms issue itself and will be fixed in further versions of admin-style and filer

[2015-09-28 16:48] yakky commented on #4511
@lory87 any specific PR I can point this issue to?

[2015-09-29 03:54] pigsign commented on #4385
@yakky thanks for your mention, it works well on runserver deployment.
so problem is my Apache config or Permission is not compatible for Apache???

my Apache conf:
[code]

Thanks for your kindly help!!!!~

[2015-09-29 17:30] jproffitt commented on #4334
I don't think the patch fixes it. Using this patch, I still get the error:

    [Error] Error: Syntax error, unrecognized expression: #id_contact_page_2 option[value=]

I just have a simple model with a `PageField`. If the jQuery is trying to get all options under the select that  have a value, I think it should be `$("#id_%(name)s_2 option[value]").attr('selected', true);` (note the MISSING `=`)

[2015-09-29 17:35] mkoistinen opened #4524 "Permissions issues"
Given a user with"Staff User" status and all available permissions, they cannot edit pages.

However, if that user goes to administration, he can then assign himself a global permission that would then allow him to add/edit/delete pages.

Very odd.

[2015-09-30 06:25] lory87 commented on #4511
@yakky unfortunately not. Do you agree @FinalAngel

[2015-09-30 06:42] FinalAngel commented on #4511
no have no pr either, would just point to https://github.com/stefanfoulis/django-filer/commit/c436c4252a604cd1fb06c0c92d17aa3cd9602d4f or https://github.com/divio/djangocms-admin-style/tree/develop

[2015-09-30 07:36] yakky commented on #4511
Thanks. Fixed in https://github.com/stefanfoulis/django-filer/commit/c436c4252a604cd1fb06c0c92d17aa3cd9602d4f

[2015-09-30 07:36] #4511 closed

[2015-10-01 09:42] evildmp commented on #4524
#4435 also raises some related questions around permissions.

[2015-10-01 14:36] evildmp commented on #4461
@thoreg don't hesitate to ask if you'd like help with this of course.

[2015-10-01 14:38] mkoistinen commented on #4443
@creimers Have you tried using the attribute `related_name="+"` in the field definitions? In not, could you try that?

[2015-10-01 17:25] creimers commented on #4443
@mkoistinen ``related_name="+"`` did **not** solve the problem for me.

[2015-10-02 21:18] MrMe99 opened #4536 "Custom User no working in 3.1.3"
I have the full overview here: http://stackoverflow.com/questions/32878728/django-cms-3-1-3-python-3-4-and-django-1-8-customuser

However, just a quick overview.  I create a Vanilla django-cms install using the installer.  I then create a new app that contains the custom user.  I then set the AUTH_USER_MODEL and place the app above the 'cms' in the INSTALLED_APPS.

I made sure I have all the requi

[2015-10-03 05:28] MrMe99 commented on #4536
Just a follow up I did figure out the problem and the workaround.  I think this is a bug in the way the django cms installer sets up the INSTALLED_APPS.

Full details can be found on the stackoverflow site.

[2015-10-03 14:00] darbula opened #4537 "CMS_TOOLBAR_HIDE causes 'WSGIRequest' object has no attribute 'toolbar'"
When `CMS_TOOLBAR_HIDE = True` then saving plugin causes `'WSGIRequest' object has no attribute 'toolbar'` `AttributeError` in `pageadmin.py`.

In `pageadmin.py`this:

[code]

should probably be replaced with:

[code]

[2015-10-04 11:33] otg-sandrey opened #4538 "Admin pane at page edit page is being refreshed - probably, too often"
In the admin interface while editing a page content the user can open an admin pane at the left side of the window.

In our scenario, the user opens the admin pane and open the pages structure view there. He/she click the site name at the top menu, and chooses "Pages".

The problem is that this pane is being refreshed from time to time. It looks like the admin frame is being reloaded.

In installa

[2015-10-04 11:34] evildmp opened #4539 "django CMS fails to run on Python 3.5/Django 1.7"
More than one user has reported a similar issue trying to get started on Python 3.5 and Django 1.7:
[code]

[2015-10-04 14:24] yakky commented on #4539
Django 1.7 does not support python 3.5

[2015-10-04 14:26] #4539 closed

[2015-10-04 15:48] yakky commented on #4536
`djangocms_admin_style` should be fine on top of the application list. `djangocms_text_ckeditor` can be safely moved down. I'll change the installer accordingly

[2015-10-04 16:02] yakky commented on #4536
@MrMe99 This is going to be fixed in the installer. Could you test the linked PR?

[2015-10-04 16:46] #4536 closed

[2015-10-05 12:23] yakky commented on #4538
@otg-sandrey there is no autoreload for the sidebar panel. does any message appear in the browser console?

[2015-10-05 14:51] MrMe99 commented on #4536
Thanks @yakky

[2015-10-05 17:34] #4443 closed

[2015-10-05 17:36] yakky commented on #4334
@jproffitt #4546 should. It will be forward ported to 3.1 in the next days

[2015-10-06 17:37] furiousdave commented on #4376
Hi @FinalAngel. Sorry for the delayed response. I'm still able to reproduce this using 3.1.3 from a clean installer project, only the cms toolbar jquery being loaded (1.11.0). It may be specifically a Firefox issue as Chrome is working with the same project.

The exact setup is Firefox 41, Ubuntu 14.04.

Oddly, as I mentioned in the original post, no console errors or requests shown.

I may try te

[2015-10-06 22:20] angelomendonca commented on #4411
I added this to forwards and it worked "from django.apps import apps"

[2015-10-07 05:14] FinalAngel commented on #4376
@furiousdave no problems, thanks taking time for debugging and providing back feedback! I'll add it to our testing list for the 3.2.0 release!

[2015-10-07 05:16] FinalAngel commented on #4538
@otg-sandrey can you provide us with additional Information such as browser and system version? As @yakky mentioned, this should not be the case. Eventually some timeout is behaving bad or there is a conflict with an addon installed within the browser.

[2015-10-07 08:39] steffenmllr opened #4552 "ValueError: invalid literal for int() with base 10: '/cms/page/7/change-navigation'"
On a fresh `django-cms==3.1.3` with `Django==1.7.10` I'm getting a ValueError when trying to remove the page from the menu. This might be a duplicate of #4420.

[code]

Traceback:
[code]

[2015-10-07 10:12] foobacca opened #4553 "message disappears too quickly - how to override CMS.Toolbar.options.messageDelay"
When a django messages object is shown, and the toolbar is visible, a message appears at the top of the screen, and is cleared after 2 seconds.  That isn't very long, so I'd like to make it longer.

Looking into the code, I see in static/cms/js/modules/cms.toolbar.js that the option `messageDelay` is used in the function `openMessage()`.

Is there a supported way to override the `messageDelay` val

[2015-10-07 14:26] foobacca commented on #4315
We put the below code at the end of our `base.html` to workaround this.  It basically finds all the boxes, and ensures they are positioned within the left/right edges of the window, and that they have a minimum width.

Probably not worth putting in the main django cms given 3.2 is coming, but could be a useful workaround for others:

[code]

And you could also make the structure areas movable by u

[2015-10-08 04:07] pigsign commented on #4385
I do deep test, find apphook permission work well if Apache httpd.conf using root url.
[code]

apphook permission is not working if Apache httpd.conf using non-root url.
[code]

[2015-10-08 08:14] donce commented on #4456
My production server content just got mixed up.. I'm a bit disappointed in django-cms - didn't expect this kind of bug could be in released cms version...

[2015-10-08 09:03] steffenmllr commented on #4552
Fixed it by appending the `/` fro admin in the urls.py and added `APPEND_SLASH`

[2015-10-08 09:03] #4552 closed

[2015-10-08 15:19] mkoistinen opened #4566 "Documentation for 3.2 features..."
This should include apphooks_reload in core, content creation wizards, etc. (see: https://github.com/divio/django-cms/pull/4563)

Also, replace any references of "click" et al, in the docs to something more touch-friendly.

Finally, review this closed PR for text changes: https://github.com/divio/django-cms/pull/4551

[2015-10-09 00:11] stefanfoulis opened #4567 "clashing dependencies between django-cms and djangocms-text-ckeditor"
[code]
These dependencies can't be fulfilled together. ``pip`` is pretty sloppy about those and will just pick a version based on the first rule it encounters. Stricter tools like ``pip-compile`` from ``pip-tools`` discover this though and complain.

Test to reproduce:

[code]

create a ``requirements.in`` file:

[code]

[code]

[2015-10-09 06:47] yakky opened #4568 "wizard formtools dependency must be declared in setup.py"

[2015-10-09 06:53] yakky commented on #4567
@stefanfoulis this is fixed in 3.1.3 ``'html5lib>=0.90,!=0.9999,!=0.99999',``

[2015-10-09 06:57] yakky commented on #4376
@FinalAngel we need to check this in 3.1 too

[2015-10-09 13:22] mkoistinen opened #4569 "Various UI/UX issues"
Here be a list of small-ish UI/UX-related issues that should be repaired before 3.2.0 final.

- [x] Page tree becomes "broken" when one clicks the menu toggle. Here's a screen-shot taken after clicking to enable the "Sample" page in the menu. Note the "columns" with the published/unpublished/changed status indicators:
![image](https://cloud.githubusercontent.com/assets/615759/10394752/269068ba-6e6

[2015-10-10 05:05] koobs commented on #4039
@adrienbrunet Does the height of the resulting modal increase as you add more test plugins to a page?

[2015-10-10 05:32] koobs commented on #4568
To add to this, the following error is observed after upgrading from 3.1.3 to 3.2.0RC1 using the installation/upgrades notes in the announcement:

[code]

Installing django-formtools and adding ''formtools' to ```INSTALLED_APPS``` resolves this.

[2015-10-10 05:43] koobs opened #4570 "3.2.0RC1 install instructions result in old djangocms-text-ckeditor being installed"
[DjangoCMS 3.2.0RC1 Install instructions](http://www.django-cms.org/en/blog/2015/10/09/rc1-release-of-django-cms-32/) calls for the following in Step 5

[code]

This results in version 2.4.2 of djangocms-text-ckeditor being installed:

[code]

This results in an AttributeError when adding a new plugin to an existing page:

![20151010 164709-home](https://cloud.githubusercontent.com/assets/1011612/

[2015-10-11 03:12] vmonteco opened #4571 "djangocms-installer : requirements.txt can't fully be reused (a dependency is not available with pip)."
I've installed djangocms with the `djangocms-installer` pip package (using default choices).

Here is the output of `pip freeze` :

    dj-database-url==0.3.0
    Django==1.7.10
    django-appconf==1.0.1
    django-classy-tags==0.6.2
    django-cms==3.1.3
    django-reversion==1.8.5
    django-sekizai==0.8.2
    Django-Select2==5.2.0
    django-treebeard==3.0
    djangocms-admin-style==0.2.8
    d

[2015-10-11 07:30] yakky commented on #4571
@vmonteco this actually belongs to https://github.com/nephila/djangocms-installer, could you reopen it there?
TL;DR: installer uses github version of plugins in some cases, use dump mode (http://djangocms-installer.readthedocs.org/en/latest/usage.html#dump-mode) in case you want to reuse requirements

[2015-10-11 07:30] #4571 closed

[2015-10-12 16:00] JostCrow opened #4575 "Publish page 500 error."
When I tried to publish a page I got a 500 error. This had to do with the fact that the target (in treebeard was set to None).

AttributeError at /admin/cms/page/222/nl/publish/
'NoneType' object has no attribute 'is_descendant_of'

I created a temp fix for this in a treebeard fork. But this is not the corerct way. Because I think this is not really a treebeard bug.

What I found that the problem

[2015-10-12 16:05] JostCrow opened #4576 "Create a new Child issue."
When creating a sub page an error occured

### recreate the bug.
1. Create a sub page (via the arrow).
2. Delete the sub page.
3. Add a sub page again.

This error has to do with the fact that treebeard still has a numchild on the parentpage. Therefor the parentpage is not a leaf so it will create the page as an extra child but it really is the first child.

[2015-10-12 17:29] yakky commented on #4575
@JostCrow which CMS version are you using?

[2015-10-12 17:29] yakky commented on #4576
@JostCrow which CMS version are you using?

[2015-10-12 19:47] JostCrow commented on #4575
I started with 3.1.2 and upgraded to 3.1.3 after the bug appeared.

On Mon, 12 Oct 2015 19:29 Iacopo Spalletti <notifications@github.com> wrote:

--

Jorik Kraaikamp

[2015-10-12 19:47] JostCrow commented on #4576
I started with 3.1.2 and upgraded to 3.1.3 after the bug appeared

On Mon, 12 Oct 2015 19:29 Iacopo Spalletti <notifications@github.com> wrote:

--

Jorik Kraaikamp

[2015-10-12 20:10] yakky commented on #4576
So you're still experiencing this in 3.1.3?

[2015-10-13 06:12] JostCrow commented on #4576
Yes

On Mon, 12 Oct 2015 22:10 Iacopo Spalletti <notifications@github.com> wrote:

--

Jorik Kraaikamp

[2015-10-13 06:54] yakky commented on #4576
While this was an issue in 3.1.2, I cannot reproduce on a  clean 3.1.3 / Django 1.7 project

[2015-10-13 06:55] yakky commented on #4575
Same underlying issue as #4576

[2015-10-13 07:38] #4569 closed

[2015-10-13 09:19] oleaha opened #4578 "Problem with adding page"
Hello!

I think i found a problem with adding and deleting pages. Used django-cms 3.1.2 and upgraded to 3.1.3 since this problem was a fix in this update.

Here is how to reproduce it:

1. Add a new page that is at least one level down from root with the following details: title: Test, slug: test
2. Publish this page
3. Delete the page
4. Now add a page at the same level with the same details.
5.

[2015-10-13 11:56] yakky commented on #4578
Same as #4576

[2015-10-13 12:17] yakky opened #4580 "[META] Dropping 1.6 and code cleanup"
Probably not fully pep8/isort compliant at first but let's tackle this

**Dropping django 1.6**:
- [x] #4581

**From #3802**:
- [x] `setup.py`: Python 2.6 classifier and minimum Django version (south also?)
- [x] `from __future__ import with_statement` (for Python 2.6)
- [x] Replace `SortedDict` with `collections.OrderedDict` (need Python 2.7 min.)
- [x] `cms.test_utils.compat` (skipIf unittest2 s

[2015-10-13 12:18] yakky opened #4581 "Drop Django 1.6 / Python 2.6 for django CMS 3.3"
How about adding Django 1.7 to the list?

[2015-10-13 12:19] yakky opened #4582 "Add a name to the admin views"
To have a cleaner way to reference them

[2015-10-13 12:36] #4516 closed

[2015-10-13 14:04] #4315 closed

[2015-10-13 14:04] FinalAngel commented on #4314
You can checkout RC3.2, this has been adapted :)

[2015-10-13 14:04] #4314 closed

[2015-10-13 14:05] FinalAngel commented on #4313
Fixed in 3.2

[2015-10-13 14:05] #4313 closed

[2015-10-13 14:07] FinalAngel commented on #4144
Correct, this needs proper event cancelation. This will be solved during the pagetree refactor in 3.3

[2015-10-13 14:15] FinalAngel commented on #3152
@mkoistinen has it been documented? And why is it flagged 3.2?

[2015-10-13 14:15] FinalAngel commented on #3153
@yakky any update here or will this be postponed for 3.3?

[2015-10-13 14:16] FinalAngel commented on #3174
@yakky I think this is just documentation that you have to use `reversion` to get it working. I think @mkoistinen added docs somewhere?

[2015-10-13 14:17] FinalAngel commented on #3204
@evildmp are you able to document this for 3.2?

[2015-10-13 14:18] FinalAngel commented on #3320
Page can be recovered on 3.2, never encountered that issue, closing until reporting otherwise

[2015-10-13 14:18] #3320 closed

[2015-10-13 14:18] FinalAngel commented on #3335
@evildmp would you be able to document this?

[2015-10-13 14:19] FinalAngel commented on #3336
We refactored copy & paste in 3.2. This has been fixed :)

[2015-10-13 14:19] #3336 closed

[2015-10-13 14:21] FinalAngel commented on #3358
This has been fixed

[2015-10-13 14:21] #3358 closed

[2015-10-14 06:32] FinalAngel commented on #4553
@foobacca the javascript is not yet publicly available / documented. We are looking to expose it in the future. What you could do is set it anew. In CMS 3.2.0:

[code]

in CMS < 3.2.0

[code]

[2015-10-14 06:40] FinalAngel commented on #2169
Added support in 3.2 :)

[2015-10-14 06:40] #2169 closed

[2015-10-14 06:42] FinalAngel commented on #3946
@avoine do you still have this issue with the latest 3.2.0 (develop) ?

[2015-10-14 06:43] FinalAngel commented on #4333
@darioalbanesi can you test this again with the latest 3.2.0 develop version?

[2015-10-14 07:18] FinalAngel commented on #4333
confirmed, still valid

[2015-10-14 14:25] avoine commented on #3946
@FinalAngel indeed it's fixed, I'll close this issue. Thanks!

[2015-10-14 14:25] #3946 closed

[2015-10-15 00:13] vivazzi opened #4591 "limit of added plugins to placeholder or to other pluigns (as child)"
This enhancement likes admin limit in inline objects using InlineModelAdmin.max_num.
It may be useful for example: I created my own cms-plugin "Popup window", which should consists of only one plugin "Wrapped plugin" and one or more "Content of popup window".

[2015-10-16 04:42] #3776 closed

[2015-10-16 04:43] yakky commented on #3776
Thanks @jsma for proposing this! Closed through #4585

[2015-10-16 04:43] #4451 closed

[2015-10-16 04:43] #4300 closed

[2015-10-19 11:10] FinalAngel commented on #4581
You mean dropping 1.7 for 3.3?

[2015-10-19 11:11] FinalAngel commented on #4568
This has been fixed in https://github.com/divio/django-cms/pull/4592

[2015-10-19 11:11] #4568 closed

[2015-10-19 11:11] #4567 closed

[2015-10-19 11:12] #4553 closed

[2015-10-19 11:13] FinalAngel commented on #4517
This has been fixed now for 3.2, whilst 3.3 will introduce a technical rewrite

[2015-10-19 11:13] #4517 closed

[2015-10-19 11:17] FinalAngel commented on #4432
@marksweb I'll close until this issue appears again, thank you for the investigations! Also refere to #4215

[2015-10-19 11:19] FinalAngel commented on #4430
This has been addressed in 3.2, though we aim for a proper support on tablet rather than phone. Yet there are some modifications on phones as well (for example the toolbar menu or fullscreen modal) to make it more usable for quick edits:

http://www.django-cms.org/en/blog/2015/10/09/rc1-release-of-django-cms-32/

[2015-10-19 11:19] #4430 closed

[2015-10-19 11:21] FinalAngel commented on #4423
@mkoistinen I assume that this hasn't been solved yet (as of the reverts)?

[2015-10-19 11:22] FinalAngel commented on #4420
Please see #4552:

``Fixed it by appending the / fro admin in the urls.py and added APPEND_SLASH``

does this solve your issue?

[2015-10-19 11:39] evildmp commented on #1498
This is fixed in 3.2

[2015-10-19 11:39] #1498 closed

[2015-10-19 11:39] evildmp commented on #1634
Fixed in 3.1 with MPTT removal.

[2015-10-19 11:39] #1634 closed

[2015-10-19 11:41] #2010 closed

[2015-10-19 11:43] evildmp commented on #2268
Closing this as the admin and frontend editing have both been vastly improved in 3.2.

[2015-10-19 11:43] #2268 closed

[2015-10-19 11:49] FinalAngel commented on #462
@stefanfoulis is this still relevant as of #3204?

[2015-10-19 11:49] FinalAngel commented on #1077
@ojii is this still relevant or might it be closed?

[2015-10-19 11:49] #1185 closed

[2015-10-19 11:50] FinalAngel commented on #1198
@yakky @mkoistinen do we still want to plan it in?

[2015-10-19 11:52] FinalAngel commented on #4537
@darbula is this still the case with django-cms 3.2?

[2015-10-19 11:57] FinalAngel commented on #4440
@leesolway thank you ver much, any progression on the PR :bow: ?

[2015-10-19 11:58] yakky commented on #4581
Yes

[2015-10-19 11:58] FinalAngel commented on #4435
@schneck any updates from your end?

[2015-10-19 11:59] FinalAngel commented on #4371
@mkoistinen what is the current status here?

[2015-10-19 12:00] FinalAngel commented on #4335
@marksweb is this still relevant to you?

[2015-10-19 12:01] FinalAngel commented on #4310
@marksweb any update?

[2015-10-19 12:01] FinalAngel commented on #4293
@ojii do we have a fix here or can it be closed?

[2015-10-19 12:02] FinalAngel commented on #4289
@yakky any idea when we could fix this?

[2015-10-19 12:02] FinalAngel commented on #4271
@boydjohnson did this answer your question?

[2015-10-19 12:02] FinalAngel commented on #4228
@mkoistinen can we implement this for 3.2?

[2015-10-19 12:03] FinalAngel commented on #4069
@HadrienMP can you provide additional information?

[2015-10-19 12:03] FinalAngel commented on #4037
@mkoistinen when do we want to plan this in?

[2015-10-19 12:07] timgraham commented on #4293
I believe one action item is to remove the `ClearURLs` mixin once support for Django 1.6 is removed.

[2015-10-19 12:09] FinalAngel commented on #4581
@yakky I wouldn't drop django 1.7 support yet (at least for 3.3) but rather think of getting to some kind of LTS django cms release where we drop 1.7 and rely on 1.8? Wouldn't this issue fit better into the djangocms developers mailing list? (just to get the issue count down) :D

[2015-10-19 12:44] yakky commented on #4581
ok for Django 1.7. Django 1.6 / 2.6 needs to be removed anyway :)

[2015-10-19 12:59] adrienbrunet commented on #4039
Somehow, I'm not able to reproduce my bug. (I haven't changed anything though). If it occurs again, I let you know asap.

[2015-10-19 13:09] FinalAngel commented on #4039
@adrienbrunet we also made significant improvements in django-cms 3-2 to the modal :)

[2015-10-19 13:21] adrienbrunet commented on #4039
:+1:

[2015-10-19 13:56] boydjohnson commented on #4271
Yes, it did.

On Mon, Oct 19, 2015 at 7:02 AM, Angelo Dini <notifications@github.com>
wrote:

[2015-10-19 14:01] #4271 closed

[2015-10-19 14:02] koobs commented on #4039
FWIW, I'm experiencing the same symptoms in the latest RC. Chrome again is fine.

[2015-10-19 14:05] FinalAngel commented on #4039
@koobs

related to:

* The "advanced settings" modal gets minimized immediatly after it pops up.
* If I click on "page settings" the modal opens also in minimized mode. Clicking on the "maximize" button (small square in the right top corner) doesn't have any effect on the modal.

??

[2015-10-19 14:07] koobs commented on #4039
@FinalAngel  Advanced settings modal gets minimized (to the height of the number of elements in the page structure) immediately after it pops up. See my https://github.com/divio/django-cms/issues/4039#issuecomment-147038825

[2015-10-19 14:23] FinalAngel commented on #4039
@koobs I cant reproduce this issue: http://screencast.com/t/nbvjofIp2

Can you try to do the following in your browsers console: ``localStorage.clear();`` and see if the issue persists?

[2015-10-19 14:34] FinalAngel opened #4597 "[META] Menus/pagetree refactor"
This issue collects related issues/ideas regarding the pagetree for a refactor in 3.3.

**Pagetree**
- [ ] #3132 UX enhancements
- [ ] #3817 Better Filter Mechanics
- [ ] #3027 How to set "Home" home page
- [ ] #3602 bulk publish all
- [ ] #3718 latin symbols
- [ ] #4000 Import / Export tree via csv or similar
- [ ] #4377 search resets
- [x] #4144 Right click not working properly

**Related**
- [

[2015-10-19 14:34] FinalAngel commented on #3817
will be fixed in #4597

[2015-10-19 14:34] #3817 closed

[2015-10-19 14:41] FinalAngel commented on #3813
@mkoistinen any updates here on what to do?

[2015-10-19 14:43] FinalAngel commented on #3254
what's the design decision here @yakky and @mkoistinen ?

[2015-10-19 14:44] FinalAngel commented on #3251
I don't think this make sense (there was never a need for it and the mac menu doesn't offer this either) @mkoistinen what do you think, is this still relevant?

[2015-10-19 14:51] FinalAngel commented on #3169
@yakky can this be closed?

[2015-10-19 14:52] FinalAngel commented on #3146
thanks for a possible solution @CDAugDev

[2015-10-19 14:52] #3146 closed

[2015-10-19 14:53] FinalAngel commented on #3132
Closed for collective issue #4597

[2015-10-19 14:53] #3132 closed

[2015-10-19 14:53] #3098 closed

[2015-10-19 14:54] FinalAngel commented on #3064
@yakky I update #4580 for this

[2015-10-19 14:54] #3064 closed

[2015-10-19 14:56] FinalAngel commented on #3027
closed and collected in #4597

[2015-10-19 14:56] #3027 closed

[2015-10-19 14:56] FinalAngel commented on #2738
@yakky @mkoistinen any way you see how to achieve it?

[2015-10-19 14:57] FinalAngel commented on #2639
If its feasible it should me a separate addon and not core. If the addon performs very good we can consider it being a core addon.

[2015-10-19 15:00] FinalAngel commented on #2521
Collected in #4597

[2015-10-19 15:01] #2321 closed

[2015-10-19 15:01] FinalAngel commented on #2300
template directory has been added

[2015-10-19 15:01] #2300 closed

[2015-10-19 15:02] FinalAngel commented on #2209
@mkoistinen @yakky any update here? should we update this on our side?

[2015-10-19 15:04] FinalAngel commented on #2020
We are still successfully using the django messaging system and there is ``Cl.API.Message()`` to open a message within the toolbar

[2015-10-19 15:04] #2020 closed

[2015-10-19 15:05] FinalAngel commented on #1873
Closed in favor of #4597

[2015-10-19 15:06] FinalAngel commented on #1546
closed in favour of #4597

[2015-10-19 15:11] FinalAngel commented on #793
-1 as well

[2015-10-19 15:11] #793 closed

[2015-10-19 15:12] FinalAngel commented on #382
@stefanfoulis is this still relevant?

[2015-10-19 16:19] marksweb commented on #4310
Unfortunately I've not had the opportunity to look back over this one.

[2015-10-19 16:19] marksweb commented on #4335
I'll close this one.

[2015-10-19 16:19] #4335 closed

[2015-10-19 18:23] yakky commented on #3169
YEah

[2015-10-19 18:23] #3169 closed

[2015-10-20 08:34] HadrienMP commented on #4069
You can probably dismiss this issue. I update to all the latests versions of my dependencies and it works. I'll do another test with djangocms out of the box on webfaction when I get a chance and let you know if it happens again

[2015-10-20 08:35] FinalAngel commented on #4069
thank you @HadrienMP

[2015-10-20 08:35] #4069 closed

[2015-10-20 09:35] FinalAngel opened #4598 "[META] Page permission refactor"
The permissions system needs an overhaul to cover edge-cases. Additionally we should think about a better UX and/or documentation.
- [ ] #4338 double click to edit
- [ ] #1430 Page permission inconsistencies
- [ ] #2321 Permissions for a large user base
- [x] #4524 Permissions issues
- [x] #4435 Rework logic in permission system
- [ ] #4322 GlobalPagePermission in the Django Admin tries to load al

[2015-10-20 09:36] FinalAngel commented on #1430
Closed in favour of #4598

[2015-10-20 09:36] 0xb35c opened #4599 "Decorator csrf_exempt won't work with CMS urls"
Hi,

at some point I include the cms urls like this
[code]
and I have a view:
[code]

This view was included in the cms and reachable. In my case this was the callback url from a payment provider, which would send confirmation data via POST. The problem is that it has no CSRF token (and should not have?!), but the CSRF cookie from the client is set and also submitted. So the check from the CSRF mi

[2015-10-20 09:37] FinalAngel commented on #1774
closed in favour of #4597

[2015-10-20 09:37] FinalAngel commented on #1847
@yakky is this still relevant?

[2015-10-20 09:38] #2051 closed

[2015-10-20 09:38] #2026 closed

[2015-10-20 10:43] FinalAngel commented on #2951
@vxsx we fixed the allow_children mechanism in 3.2 or?

[2015-10-20 10:52] FinalAngel commented on #3035
fixed in 3.2

[2015-10-20 10:52] #3035 closed

[2015-10-20 11:12] yakky commented on #1847
@FinalAngel yes, it's still relevant. No planned work on this, though

[2015-10-20 11:22] vxsx commented on #2951
no, @FinalAngel, we fixed restrictions, this is something else

[2015-10-20 14:31] jrief opened #4600 "Consider to replace cms_app.py against apps.py"
CMS developers wishing to use Apphooks, have to add a file named `cms_app.py` to their source root. This in my opinion adds a layer of magic, and should be avoided; 2nd ZEN of Python: “Explicit is better than implicit.”

With the advent of [Django Applications](https://docs.djangoproject.com/en/1.7/ref/applications/), there is no more need to use specially named files. Django, since 1.7 offers thi

[2015-10-20 15:15] thebjorn commented on #2321
Has this been fixed (or just closed)?
ps: the raw-id fix fixes the admin drop-down list, but not the user-by-user clearing of cache keys.

[2015-10-20 15:25] mfcovington commented on #1324
Redirecting to lower-case slugs would be great.

[2015-10-20 15:31] FinalAngel commented on #2321
@thebjorn we gathered in #4598

[2015-10-21 04:34] JoeJasinski commented on #4265
Nice find @furiousdave.  I was digging for quite a while to determine what was happening here.

[2015-10-21 09:32] auvipy commented on #4600
++1++

[2015-10-21 13:30] evildmp commented on #2618
Closing because no further information is available and this doesn't seem to be an issue generally.

[2015-10-21 13:30] #2618 closed

[2015-10-22 12:55] evildmp commented on #4600
I think this is a reasonable idea.

[2015-10-22 20:49] otg-sandrey commented on #4538
I can't reproduce the problem in my system but end users keep complaining. Will get more information shortly.

Are there any updates notifications sent from the server to a web browser where the sidebar panel is open? Which might force the admin UI to refresh the sidebar because somebody else is changing the site pages structure?

[2015-10-22 21:09] otg-sandrey opened #4606 "Page preview for a new page which has not been published yet"
If I create a new page, I see "draft/production" switch in the tool bar at the top of the screen.

If I click it, Django CMS tries to show the published version of the page which doesn't exist (I have not published the page yet) and returns 404 error. It seems absolutely logical but confuse users who are not software developers.

Is there a way to hide the "draft/production" switch for pages which

[2015-10-22 21:20] vxsx commented on #4538
So I'm assuming we are talking about the sideframe. If the user moves the page that is a parent of the current page (or the current page) in the tree (so path of the page the user have currently opened has changed) then the page will reload with this new url, in turn reloading the page tree in the sideframe.

E.g. I have this tree:
[code]
and i'm currently on `/foo/bar/baz`. if the `bar/baz` branc

[2015-10-23 09:05] lory87 commented on #2666
@digi604 advance settings button is styled and will be updated in the new release

[2015-10-23 12:53] FinalAngel commented on #4538
Can the end user clear their localStorage eventually and try again @otg-sandrey. A good advise is also to disable browser addons as they might interfere.

[2015-10-25 20:08] leesolway commented on #4440
Apologies, I will do my very best to schedule this is during this next working week.

[2015-10-26 03:48] vivazzi opened #4617 "no effect CACHE_MIDDLEWARE_ANONYMOUS_ONLY=True (in /cms/test_utils/cli.py) with django 1.8"
The CACHE_MIDDLEWARE_ANONYMOUS_ONLY setting is removed in django 1.8

see: http://djbook.ru/rel1.8/releases/1.8.html?highlight=settings#features-removed-in-1-8

[2015-10-26 13:30] FinalAngel commented on #4440
@leesolway no worries, also neither pressing. Just wanted to bump the matter :)

[2015-10-26 15:33] jakob-o commented on #3204
Hey,

I checked our code base and we use `MyPlugin` and `MyPluginModel` for the plugin and it's plugin model respectively. It may not be too beautiful, but it is clear what is meant when you are talking about the concepts of plugin and plugin model which where introduced and will likely stick around. So for anyone who does not know the documentation by heart it is impossible to deduce whether the

[2015-10-27 11:06] sephii opened #4620 "Link copy-pasting can lead to data loss"
When copy-pasting links a reference to the plugin is pasted instead of a copy of the plugin. Which causes issues in the following cases:

* Copying a link in a Text field (With Ctrl-C) and pasting it somewhere else and then changing it (either its title or the target) will also change the original link
* Copying the contents of a Text instance (again by selecting the text in the WYSIWYG and Ctrl-C

[2015-10-27 14:30] rajatguptarg opened #4621 "Page storage location?"
After creating a page using GUI, where the HTML file of the page get stored?

[2015-10-27 16:08] FinalAngel commented on #4621
@rajatguptarg why do you mean specifically? The pages get dynamically created according to the pages you create. /cc @mkoistinen @yakky

[2015-10-27 16:09] FinalAngel commented on #4620
@sephii that is happening within the CKEditor or?

[2015-10-27 16:26] sephii commented on #4620
Yes.

[2015-10-27 17:53] FinalAngel commented on #4620
closing > opened issue on ckeditor

[2015-10-27 17:53] #4620 closed

[2015-10-28 19:34] skirsdeda opened #4626 "Detecting if menu item is associated with a page"
So after fixing #4276 attrs['page'] is no longer available in menu nodes. My question is whether there is a way for a menu modifier (or any other code dealing with menus for that matter) to tell if a particular node points to a page.

To put this into a context, I have a use-case where I need to display images (provided by djangocms-page-meta) along with menu items. The best way to do this for me

[2015-10-29 11:33] Jc2k opened #4627 "Page cache invalidated excessively?"
We've recently upgraded to Django 1.8. We were using `django.contrib.admin.apps.SimpleAdminConfig` (with `admin.autodiscover()` in urls.py). However that doesn't let `django check` detect problems with admin models so we switched to the modern way of doing it.

Unfortunately this means every management command now initialises django cms. This invalidates the page cache.

For us that just outright

[2015-10-29 13:46] FinalAngel commented on #3282
we do not support django 1.5 anymore

[2015-10-29 13:46] #3282 closed

[2015-10-29 13:47] FinalAngel commented on #3278
This has been removed in 3.1 :)

[2015-10-29 13:47] #3278 closed

[2015-10-29 13:47] FinalAngel commented on #3274
Is this still relevant for you @granteagon in 3.1 or 3.2?

[2015-10-29 13:48] #3270 closed

[2015-10-29 13:48] FinalAngel commented on #3252
Actually this will be moved further to 3.3 @o-zander

[2015-10-29 13:50] FinalAngel commented on #3228
This has been implemented within the pagetree:
![image](https://cloud.githubusercontent.com/assets/270307/10820227/874c1b66-7e22-11e5-9cdd-290c9752b2c8.png)

[2015-10-29 13:50] #3228 closed

[2015-10-29 13:51] #3214 closed

[2015-10-29 13:54] granteagon commented on #3274
I think @avoine was right.  It has to do with command execution order.  I haven't spun up a new version of 3.1 or 3.2 recently, but I'm okay with closing this issue.

[2015-10-29 13:54] #3274 closed

[2015-10-29 13:55] FinalAngel commented on #3602
closed in favour of https://github.com/divio/django-cms/issues/4597

[2015-10-29 13:55] #3602 closed

[2015-10-29 13:56] FinalAngel commented on #3598
closed in fafour of https://github.com/divio/django-cms/issues/3598

[2015-10-29 13:59] FinalAngel commented on #3718
closed in favour of https://github.com/divio/django-cms/issues/4597

[2015-10-29 13:59] #3718 closed

[2015-10-29 13:59] FinalAngel commented on #3723
updated the rendering in 3.2 :)

[2015-10-29 13:59] #3723 closed

[2015-10-29 14:01] FinalAngel commented on #3802
aggregated in https://github.com/divio/django-cms/issues/4580

[2015-10-29 14:01] #3802 closed

[2015-10-29 14:01] FinalAngel commented on #3796
Done in 3.2 :)

[2015-10-29 14:01] #3796 closed

[2015-10-29 14:02] FinalAngel commented on #4081
closing as it is linked to #3657

[2015-10-29 14:02] #4081 closed

[2015-10-29 14:08] benjaoming commented on #3228
Great work!! :)

[2015-10-29 14:58] yakky commented on #4621
@rajatguptarg there is no such thing as "HTML file of the page". pages are generated on the fly by aggregating content from database + templates + whatever, in the same way as any django application does

[2015-10-29 15:07] #1430 closed

[2015-10-29 15:09] FinalAngel commented on #2259
closed in favour of https://github.com/divio/django-cms/issues/2259 (conversation can continue)

[2015-10-29 15:09] #2259 closed

[2015-10-29 15:11] FinalAngel commented on #2758
Any menu item can now be opened through CTRL/CMD + click in a new tab or SHIFT + clik in a new window in 3.2

[2015-10-29 15:11] #2758 closed

[2015-10-29 15:14] FinalAngel commented on #2785
@johnraz we have the following in 3.x:
![image](https://cloud.githubusercontent.com/assets/270307/10822600/42db141c-7e2e-11e5-80b3-d045be522ea5.png)

[2015-10-29 15:15] FinalAngel commented on #4333
duplicate of https://github.com/divio/django-cms/issues/2916

[2015-10-29 15:15] #4333 closed

[2015-10-29 15:20] FinalAngel commented on #3032
There are also multiple improvements in 3.x and 3.2 regarding naming and button states :) I hope this serves your needs.

[2015-10-29 15:20] #3032 closed

[2015-10-29 15:21] FinalAngel commented on #3094
@yakky or @mkoistinen what would be the state here?

[2015-10-29 15:22] FinalAngel commented on #3117
Buttons have been added in 3.2 :)

[2015-10-29 15:22] #3117 closed

[2015-10-29 15:24] FinalAngel commented on #3173
This has been fixed in 3.2

[2015-10-29 15:24] #3173 closed

[2015-10-29 15:29] FinalAngel commented on #3343
closed in favour of https://github.com/divio/django-cms/issues/4597, feel free to continue the conversation here

[2015-10-29 15:30] FinalAngel commented on #2983
duplicate of https://github.com/divio/django-cms/issues/3412

[2015-10-29 15:30] #2983 closed

[2015-10-29 15:32] FinalAngel commented on #3437
Closing in favour of divio/djangocms-text-ckeditor#143

[2015-10-29 15:32] #3437 closed

[2015-10-29 15:32] FinalAngel commented on #3449
@yakky any progress on this?

[2015-10-29 15:33] FinalAngel commented on #3459
closed in favour of https://github.com/divio/django-cms/issues/4597, feel free to continue the conversation here :)

[2015-10-29 15:33] FinalAngel commented on #3475
This has been addressed in 3.2 :)

[2015-10-29 15:33] #3475 closed

[2015-10-29 15:37] FinalAngel commented on #4210
This has been solved in 3.2 :)

[2015-10-29 15:37] #4210 closed

[2015-10-29 16:44] yakky commented on #3449
@jrief @FinalAngel we must come up with a generic framework for draft/live versions of generic django models to accomplish this. Not something that will happen soon AFAIK

[2015-10-29 21:22] FinalAngel commented on #4377
this has been fixed in 3.2

[2015-10-29 21:22] #4377 closed

[2015-10-29 21:23] FinalAngel commented on #4347
Instead of the target you can now use "CMD/CTRL + CLICK" on any toolbar entry and than the normal browser behaviour kicks in. No need for a target blank.

[2015-10-29 21:23] #4347 closed

[2015-10-29 21:30] FinalAngel commented on #3739
Fixed in 3.2

[2015-10-29 21:30] #3739 closed

[2015-10-29 21:31] FinalAngel commented on #3662
closed in favour of https://github.com/divio/django-cms/issues/4598

[2015-10-29 21:31] #3662 closed

[2015-10-29 21:32] FinalAngel commented on #3759
The cancel button is now shown anywhere >= 3.1

[2015-10-29 21:32] #3759 closed

[2015-10-29 21:33] FinalAngel commented on #3878
@Arne-Pfeilsticker did @mkoistinen comment solve your issue?

[2015-10-29 21:35] FinalAngel commented on #4000
closed in favour of https://github.com/divio/django-cms/issues/4597

[2015-10-29 21:35] #4000 closed

[2015-10-29 21:35] FinalAngel commented on #4109
Fixed in 3.2

[2015-10-29 21:35] #4109 closed

[2015-10-29 21:36] FinalAngel commented on #4115
Has been enhanced in 3.2

[2015-10-29 21:36] #4115 closed

[2015-10-29 21:36] FinalAngel commented on #4133
Closed as duplicate

[2015-10-29 21:36] #4133 closed

[2015-10-29 21:48] Moini commented on #3759
Thank you!

[2015-10-29 21:50] Moini commented on #3739
Thank you very much! :D

[2015-10-30 00:13] macalicious opened #4633 "Support for Python 3.5"
Will django-cms get support for `Python 3.5` anytime soon?
Right now trying to install throws an `AttributeError: module 'html.parser' has no attribute 'HTMLParseError'` exception, since that module has been deprecated since `Python 3.3`, but been dropped completely with `Python 3.5` now.

[2015-10-30 06:42] cimocimocimo commented on #4633
Django 1.8 doesn't currently support Python 3.5. Django 1.9 will however.

https://docs.djangoproject.com/en/dev/releases/1.9/

[2015-10-30 09:28] yakky commented on #4633
@cimocimocimo Django 1.8 works on python 3.5 (albeit is not officially supported). any lower version doesn't.
django CMS itself is compatible with 3.5

[2015-10-30 09:28] #4633 closed

[2015-10-30 11:53] yakky commented on #3094
I think we should just document that the menu emits logging messages on a specified logger. Which is on purpose, to avoid spamming logs for no good reason

[2015-10-30 12:41] FinalAngel commented on #2348
This has been resolved in the 3.x release

[2015-10-30 12:41] #2348 closed

[2015-10-30 12:51] FinalAngel commented on #4144
closed in favour of https://github.com/divio/django-cms/issues/4597, please continue the discussion here

[2015-10-30 12:51] #4144 closed

[2015-10-30 12:52] FinalAngel commented on #4338
closed in favour of https://github.com/divio/django-cms/issues/4598

[2015-10-30 12:52] #4338 closed

[2015-10-30 12:54] FinalAngel commented on #4378
duplicate of https://github.com/divio/django-cms/issues/4144

[2015-10-30 12:54] #4378 closed

[2015-10-30 12:59] FinalAngel opened #4634 "Splitting structure board from content mode"
We want to decouple the markup intrusion by the structure board for further speed improvements. The structure board will ultimately load inside an iframe after this change. The switch behaviour will still stay the same except for a slight delay in loading the structure board. The user experience should not suffer for this. The gains are:

- We are able to have a more clean setup for the preview mo

[2015-10-30 13:00] FinalAngel commented on #4606
closed in favour of https://github.com/divio/django-cms/issues/4634

[2015-10-30 13:00] #4606 closed

[2015-10-30 13:55] FinalAngel commented on #4626
@skirsdeda thank you for the report. Would you be able to open a pull request for this?

[2015-10-30 14:00] skirsdeda commented on #4626
@FinalAngel I could, but I am not sure how to better implement this.

So far I see two options:
* Add NavigationNode.is_page which would be set to True for all pages
* Add attr['is_page'] = True

Node namespaces might also be used but this might interfere with existing code so maybe it's not such a good idea.

[2015-10-30 14:03] FinalAngel commented on #4626
I would go for the second option using ``Add attr['is_page'] = True`` what do you think @yakky or @mkoistinen ?

[2015-10-30 18:32] mkoistinen commented on #2951
@yakky To clarify, as requested, the structure board does not support drag-n-drop of addons into or out of TextPlugins which contain (or have room for) child-addons.

An example use-case: You have a generic Link addon which is text-enabled. You write the link addon to accept child-plugins so that you can wrap the link around any arbitrary content (photos, etc.). This is fine in the BE code of the

[2015-11-01 22:06] jrief commented on #3725
@mobula

Using bower.json in Django projects is very straight forward and I do it all the time. Here is how it works:

In the project's ``settings.py`` add

[code]

Then in all templates, includes externally manages files with something such as
[code]

By keeping a bower.json file in your repository, you can avoid to add files to your repository which have been revisioned by another package. The l

[2015-11-02 08:55] philippze opened #4646 "details view should be class based"
The details view is a function of more than 100 lines which makes it difficult to extend it. A class based version would make it much easier to create little modifications.

This is my use case:
- Redirect to the domain listed in a page's site field if the page is called with the wrong domain.

Currently this would be done with a middleware where one must determine the requested Page object a seco

[2015-11-02 13:18] yakky commented on #4646
Why not using ``request.current_page`` in the middleware?
Anyway, while not on top of the todo list, refactoring the view to make it more modular sounds a nice improvement

[2015-11-02 13:48] philippze commented on #4646
Fine. So I put refactoring the view on my own todo list and make a pull request some time.

[2015-11-02 15:03] yakky commented on #4646
@philippze awesome!

[2015-11-02 15:38] #3174 closed

[2015-11-02 15:49] FinalAngel commented on #3191
All specific admin styles within the CMS have been removed in favour of supporting different admin themes. Themes can now control the content display of the modal or sideframe using:

- ``.cms-admin`` for global injection (wherever the cms renders an iframe)
- ``.cms-admin-modal`` only for the modal
- ``.cms-admin-sideframe`` only for the sideframe

This allows the theme developers to have more co

[2015-11-02 15:49] #3191 closed

[2015-11-02 15:53] #3747 closed

[2015-11-02 15:53] FinalAngel commented on #3747
confirmed fixed

[2015-11-02 15:55] FinalAngel commented on #3734
@jsma would you be able to open a pull request that addresses this issue?

[2015-11-02 15:56] #3732 closed

[2015-11-02 15:57] #3684 closed

[2015-11-02 15:57] FinalAngel commented on #3675
@evildmp you need to make sure that Firefox is properly installed, works so far good for me :)

[2015-11-02 15:57] #3675 closed

[2015-11-02 16:03] FinalAngel commented on #3600
done :)

[2015-11-02 16:03] #3600 closed

[2015-11-02 16:04] FinalAngel commented on #3599
@doctormo any further help would be appreciated, we cannot reproduce it this far. Would you be able to provide video captures?

[2015-11-02 16:05] #3549 closed

[2015-11-02 16:05] FinalAngel commented on #3543
Tried on 3.2, works seamlessly :)

[2015-11-02 16:05] #3543 closed

[2015-11-02 16:06] FinalAngel commented on #3521
@yakky can this be closed?

[2015-11-02 16:10] FinalAngel commented on #3447
Checked in 3.2. Works there

[2015-11-02 16:10] #3447 closed

[2015-11-02 16:11] FinalAngel commented on #3432
@DylannCordel sorry for the very late response :( Is this still relevant to you?

[2015-11-02 16:34] FinalAngel commented on #4566
done by @evildmp

[2015-11-02 16:34] #4566 closed

[2015-11-02 16:35] #4524 closed

[2015-11-02 16:35] #4435 closed

[2015-11-02 16:38] FinalAngel commented on #4228
closed in favour of https://github.com/divio/django-cms/issues/4597

[2015-11-02 16:38] FinalAngel commented on #4212
@yakky any update on this?

[2015-11-02 16:38] FinalAngel commented on #4164
This has been fixed in 3.2

[2015-11-02 16:38] #4164 closed

[2015-11-02 16:39] FinalAngel commented on #4158
This has been fixed in 3.2 (more clear now)

[2015-11-02 16:39] #4158 closed

[2015-11-02 16:39] #4120 closed

[2015-11-02 16:40] FinalAngel commented on #4108
Efforts have been made in 3.2. See also cross reference to: https://github.com/divio/django-cms/issues/3191

[2015-11-02 16:40] #4108 closed

[2015-11-02 16:41] FinalAngel commented on #4099
closed in favour of https://github.com/divio/django-cms/issues/4597, feel frea to continue the conversation here

[2015-11-02 16:43] FinalAngel commented on #3760
@olunx any additional information from your side?

[2015-11-02 17:16] yakky commented on #3521
@FinalAngel not really. At least we should investigate if any other issues remains. Let's keep it open. Assigning myself

[2015-11-02 17:18] yakky commented on #4212
It's a more hairy issue than it looks. Let's skip this to 3.3. Django itself it's changing a bit the way it handles this

[2015-11-02 17:30] benjaoming commented on #3191
@darklow :)

[2015-11-02 18:19] yakky commented on #4626
@skirsdeda @FinalAngel +1 on using attributes

[2015-11-02 18:47] FinalAngel commented on #4626
@skirsdeda would you be able to open a pull request?

[2015-11-02 19:42] FinalAngel commented on #4570
We updated the installation instructions, thank you for the hint @koobs

[2015-11-02 19:42] #4570 closed

[2015-11-02 20:17] #1905 closed

[2015-11-02 20:18] #2142 closed

[2015-11-02 20:20] FinalAngel commented on #3252
closed in favour of https://github.com/divio/django-cms/issues/4634

[2015-11-02 20:20] #3252 closed

[2015-11-02 20:21] FinalAngel commented on #3412
closed in favour of https://github.com/divio/django-cms/issues/4634

[2015-11-02 20:21] #3412 closed

[2015-11-03 00:32] sedrubal opened #4653 "djangocms-installer: CalledProcessError"
I tried to install djangocms with the **djangocms-installer** but it always failes. Tested on `fedora:22` and `ubuntu:14.04` with `python3` and `python2`. After answering the questions it takes some time and then this messages appear:

[code]

[2015-11-03 05:34] yakky commented on #4653
Please open this on https://github.com/nephila/djangocms-installer
it looks like a connection error during package install, though

[2015-11-03 05:34] #4653 closed

[2015-11-03 05:53] o-zander commented on #4634
I guess removing the markup for the structure board will not remove the inline divs necessary for the inline editing? So I can't image how this should fix #3252. But convince me ;)

[2015-11-03 11:51] sedrubal commented on #4653
Oh I'm sorry. See nephila/djangocms-installer#215

[2015-11-03 13:43] FinalAngel commented on #4634
There might be a solution using the ``template`` tag to avoid divs around, we worked on internally on a concept @o-zander

[2015-11-03 15:31] martcot commented on #4436
python manage.py cms fix-tree works for me also.

[2015-11-03 15:39] FinalAngel commented on #4436
thank you for update @martcot

@evildmp this should be resolved as ``python manage.py cms fix-tree`` is documented?

[2015-11-03 16:01] philippeowagner commented on #4436
@FinalAngel seriously? What should I tell the customer?

[2015-11-03 16:24] FinalAngel commented on #4436
I reformulated my answer on the top @philippeowagner. The goal is not to immediate resolve it via ``python manage.py cms fix-tree`` (which is a short-term fix) but rather find a proper solution.

https://github.com/divio/django-cms/pull/4457 will fix this issue in the 3.1.4 release. @yakky any comment on the release schedule there?

[2015-11-03 16:29] philippeowagner commented on #4436
@FinalAngel :+1:

[2015-11-03 23:51] #4341 closed

[2015-11-03 23:51] #3625 closed

[2015-11-05 19:24] mkoistinen opened #4661 "Dutch translations dodgy"
The CMS source code has both the Dutch ('nl') and the Dutch('nl-nl') in there while the transifex project only shows the 'nl' translations. The 'nl-nl' in the source code has only empty translation strings.
I had troubles in the past where if using the 'nl-be' language code, which isn't there, so this falls back to 'nl', picks up the wrong translation.

(As reported by Dries Desmet in G+)

[2015-11-05 19:26] #4661 closed

[2015-11-05 20:07] FinalAngel commented on #4581
closed in favour of https://github.com/divio/django-cms/issues/4580

[2015-11-05 20:07] #4581 closed

[2015-11-05 23:58] jsma opened #4665 "Touch UX issues in 3.2.0.rc4"
Testing out the new UI/UX for 3.2.0.rc4 on tablet but encountering several significant UX issues.

 On the Pages screen in the sidebar, I can't scroll the list of pages. If I attempt do so, it immediately grabs whatever page was under my thumb and unceremoniously dumps the page at a new location in the tree, no option to confirm or undo. It will also sometimes simultaneously place the input in the

[2015-11-06 10:55] lory87 opened #4666 "NamespaceAlreadyRegistered"
If I delete every page in the cms and create a new page which is named like one before like home the it appears this error. NamespaceAlreadyRegistered

[2015-11-06 18:20] ychouinard opened #4668 "show_menu_below_id with multiple sites"
I used the copy-site command to duplicate everything to another site id. We use the show_menu_below_id tag to display our sidebar menus. Now that we have two sites, there is a page with the reverse_id "news" in each site.

It seems the template tag does not take into account the current site and just takes the first page with reverse_id "news" that it finds. So randomly, we get the menu from one s

[2015-11-06 18:44] darbula commented on #4537
Sorry for the delay, after upgrading to develop I get following error https://github.com/divio/django-cms/issues/4666 so I cannot confirm if this issue is resolved.

[2015-11-07 01:32] yakky commented on #4668
@ychouinard well, situation it's a little unclear right now. Page has a unique_together constraint on ``site``, ``reverse_id`` and ``publisher_is_draft`` (https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py#L129) thus, you'll be forced to use a unique reverse_id as soon as you publish the page.
But menu templatetags are completely unaware of current site, which is fine in most

[2015-11-07 16:06] yakky opened #4669 "CMS Page Wizard assumes that TextPlugin exists"
When filling in the "Contents" field in the CMS Page wizard, a TextPlugin is automatically created, but it may not be installed. I think we should find a more general solution

[2015-11-07 16:08] yakky commented on #4669
Assigning a ``blocker`` tag because I think it might break things for no obvious reasons. We can enable the field only if ``TextPlugin`` is available in plugin_pool or let user provide a custom text plugin

[2015-11-07 20:52] Noobidoo opened #4670 "relation "cms_aliaspluginmodel" does not exist"
After uppgrading my application to cms 3.1.3 and django to 1.8.6, When i added an alias i got this:
[code]

[2015-11-08 09:01] vxsx commented on #4665
Thanks a lot for the feedback! We are addressing some of the issues already for 3.2, some will be pushed likely to next releases. The pagetree will be revamped completely, for instance, as it's way too hard to fix the current state of things. And the issues in djangocms-text-ckeditor will likely be fixed there.

The issue with the automatically focused input is known, but we decided not to touch t

[2015-11-08 16:22] sergei-maertens commented on #4143
Another use this case that fits this issue is re-using plugin content.

We have a specific use case where the end-user adds a 'Story' plugin to a certain page. It has some images, a bit of text, and nested plugins for the body of the content.

On the homepage, they need to be able to refer to this very same story, and if the initial story page (and plugin) gets updated, the homepage version has to

[2015-11-08 22:26] dsimandl opened #4672 "[3.1.3] - AttributeError: 'User' object has no attribute 'has_perm'"
Looking through the issues I understand that this has been fixed on 3.1.4.  I'm just wondering if 3.1.4 is targeted for a release soon or if there is a workaround on the 3.1.3 branch to get past this issue.

[2015-11-09 10:20] FinalAngel commented on #4665
- [ ] Make preview visible on smaller Sideframe size and remove link color:
https://github.com/divio/django-cms/pull/4674
- [ ] Remove search auto focus and improve scrollable area:
https://github.com/divio/django-cms/pull/4675
- [ ] Remove "edit this page" note, goes along with #4674 and #4675

More updates follow...

[2015-11-09 12:56] vxsx commented on #4665
refs https://github.com/divio/django-cms/pull/4677 which fixes the tooltip not showing up every time in the content mode

[2015-11-09 13:48] mkoistinen commented on #4672
@dsimandl Can you reference a ticket where it was fixed?

[2015-11-09 15:13] dsimandl commented on #4672
@mkoistinen Looks like its #4411

[2015-11-09 15:45] #4669 closed

[2015-11-09 15:51] yakky opened #4679 "Refactor the CLI commands"
Currently they have inconsitent code and interface (e.g.: options/arguments confusion)
We can refactor them to use the new argparse interface of django commands (optparse will be dropped in 1.10 anyway) and provide a better help support.

At this stage does not involve any functional change

[2015-11-09 15:52] yakky commented on #4679
@evildmp @mkoistinen @FinalAngel any comments? I can do this (I already have a draft implementation for this)

[2015-11-09 17:32] FinalAngel commented on #4679
@yakky everything that makes Travis / CLI faster is welcome

[2015-11-09 17:51] yakky commented on #4679
@FinalAngel mostly change to use argparse and options instead of the mix of arguments and options we have right now.
It's mostly an internal refactoring, except it changes the interface (aka the way the arguments are passed)

[2015-11-09 17:57] FinalAngel commented on #4679
alright its probably better for @mkoistinen to give a thumbs up than me :)

[2015-11-09 18:53] mkoistinen commented on #4679
Sounds great, @yakky!

[2015-11-09 22:13] mkoistinen commented on #4670
Can you check your actual database to confirm that you have the table "cms_aliaspluginmodel". If not, then I'm guessing the migrations did not go fine at all.

[2015-11-10 08:04] yakky opened #4681 "[META] Treebeard issues"
Fix outstanding treebeard issues

Fix #4436
Fix #4575
Fix #4576
Fix #4578

[2015-11-10 08:04] yakky commented on #4436
@philippeowagner @FinalAngel @paperreduction @martcot  I'm focusin on fixing the treebeard issues. (linked)

[2015-11-10 08:05] FinalAngel commented on #4436
awesome @yakky !

[2015-11-10 08:05] yakky commented on #2126
Closing due to inactivity

[2015-11-10 08:05] #2126 closed

[2015-11-10 08:06] yakky commented on #2653
Closing due to inactivity

[2015-11-10 08:06] #2653 closed

[2015-11-10 08:07] yakky commented on #4123
Closed as non-issue

[2015-11-10 08:07] #4123 closed

[2015-11-10 08:40] philippeowagner commented on #4436
That's great @yakky ! Thank you !!

[2015-11-10 10:49] Jc2k opened #4683 "Avoid use of _latest_ in migrations?"
If you are migrating a site from Django 1.6 to Django 1.8 then you will want to fake the initial migrations to bridge the gap between south and django migrations. For example, for `cms` this meant faking up to `0011_auto_20150419_1006`, but not faking `0012_auto_20150607_2207`. Great so far.

In Django 1.6 the models for content types were basically at `0001_initial` and the new Django version add

[2015-11-10 12:08] npardington commented on #4436
@yakky thanks for keeping up with this issue.

[2015-11-10 12:56] martcot commented on #4436
@yakky Thank you!

[2015-11-11 20:52] yakky commented on #4436
@philippeowagner @npardington @martcot would you try https://github.com/yakky/django-cms/tree/feature/treebeard?

[2015-11-11 22:04] yakky commented on #4683
@Jc2k sounds reasonable. Fixed in above PR

[2015-11-11 22:20] yakky commented on #4627
Well, plugins must be discovered whenever the django environment is set up, or you could not reliably run commands, and for good reason you'd ant to invalidate page cache whenever you discover plugins. I think we can only document this behavior
@mkoistinen @FinalAngel ?

[2015-11-12 01:05] Jc2k commented on #4627
i haven't dug into how plugin discovery interacts with the page cache. Is there an overview somewhere of how it works?

There must be some way of improving this even if we can't fix my use case - I can't believe that running 'manage.py --version' should need to invalidate the cache!

If I was making a page cache I'd make a hash of all my plugins and their versions and use it as a cache key prefix/

[2015-11-12 05:29] bethlakshmi opened #4692 "Only 1 user can see pages in edit mode"
Django Version: 1.6.5
Affected versions: django-cms==3.1.1

I have 1 user who can see all pages when working in edit mode.
Every other *with the same exact permission set* (which is all page access to the whole site) have lost access to everything except the home page.

That includes pages where the user who has lost access created some of the pages he's lost access to.

The access is not the lack

[2015-11-12 07:04] yakky commented on #4683
@Jc2k does #4690 fix the issue for you?

[2015-11-12 07:31] yakky commented on #4627
Plugins do not have a version (not necessarily) and I don't know a way to reliably hash their **code**.
A possibility here, is to move the plugin loading phase from the ``admin.py``

[2015-11-12 12:28] Jc2k commented on #4627
Delaying plugin loading would certainly fix this for my use case, so :+1: for that!

It will still purge the cache though, just later. So when my web cluster autoscales due to load it will purge the cache. Not the best time to purge caches! So hypothetically, if i could set a key prefix manually at the right time (when ive deployed?), could i remove the call to purge the cache during plugin discov

[2015-11-12 13:30] strindhaug opened #4693 "Option to disable user settings for language"
But worse when using different domains/subdomains for the different languages the url is also wrong in the toolbar and uses the language code from the user settings to make prefix the urls (with a few random exceptions) causing 404 pages every time you use the toolbar.

I've set up a few localhost aliases in my /etc/hosts filefor norwegian, danish and swedish, and a middleware to switch language b

[2015-11-12 14:35] yakky commented on #4627
@Jc2k it sounds way too depending on the deployment environment and it's not something that django CMS can handle
Probably we can discuss whether to add a setting to invalidate cache on project restart or not (enabled by default)
Then it's up to the project owner to provide a way to properly invalidate the cache upon deployment

@mkoistinen @FinalAngel what's your opinion here?

[2015-11-12 15:26] Jc2k commented on #4627
@yakky totally agree that it's project specific, and what you say sounds like exactly what i'm thinking. What i'm imagining is a new section in the cache documentation that gives some examples of how you can tie your cache invalidation to your deployment environment - which i'm happy to do a PR for. That would be accompanied by the setting that you described.

But i don't know enough about the pag

[2015-11-12 20:55] yakky commented on #4617
It will be removed when dropping support for 1.6 and 1.7

[2015-11-12 20:56] yakky commented on #4672
This will be fixed in 3.1.4. We need to fix #4681 before release

[2015-11-12 21:24] yakky commented on #4358
Fixed in #4467

[2015-11-12 21:24] #4358 closed

[2015-11-13 02:45] timgraham opened #4700 "3.2 upgrade notes incorrectly claim "no new migrations""
http://docs.django-cms.org/en/develop/upgrade/3.2.html says "There are no new migrations in this release" however `0013_urlconfrevision.py` seems to be new (added in 15af0532a9ececbbb5d29b07c954367d23633fca but seems never to be backported to 3.1.3).

[2015-11-13 06:57] yakky commented on #4575
@JostCrow would you try https://github.com/yakky/django-cms/tree/feature/treebeard?

[2015-11-13 06:57] yakky commented on #4576
@JostCrow would you try https://github.com/yakky/django-cms/tree/feature/treebeard?

[2015-11-13 06:57] yakky commented on #4578
@oleaha would you try https://github.com/yakky/django-cms/tree/feature/treebeard?

[2015-11-13 08:18] yakky commented on #3811
@doctormo @kelvan @jproffitt the best option we have to fix this is #4235, which works on sqlite and postgres and not on mysql

[2015-11-14 12:34] Noobidoo commented on #4670
In fact i did not have it, i faked the initial migration as per django guide, and that had the missing relation so i had to run each of the colliding migration manually on the database to get every thing working.

[2015-11-14 12:34] #4670 closed

[2015-11-14 20:38] otg-sandrey opened #4711 ""Revert to live" not working for brand new pages"
If you create a new page and then click "History" -> "Revert to live" you'll get HTTP 500.

The problem can be reproduced using the online demo at http://www.django-cms.org

[2015-11-14 20:39] #4692 closed

[2015-11-14 21:03] otg-sandrey opened #4712 ""Revert to live" not working if page title and page slug have been changed"
How to reproduce:
- create a new page
- publish it
- open the page again
- change the page title and the page slug
- save the changes
- go to "History" -> "Revert to live"

You'll get HTTP 404.

The problem can be reproduced using the live demo at www.django-cms.org

[2015-11-14 23:04] bethlakshmi opened #4713 "intermittent edit break for specific users"
Django CMS = 3.1.1, 3.1.2, 3.1.3
Django = 1.6.5, 1.6.11

I could use any insights for debugging that anyone can give.

The problem is:
- a user with proper access rights, who previously successfully edited a page, returns to a page, and attempts to edit it.
- he logs in
- he selects the page - in no-edit view, it loads fine
- he goes to edit view - there is absolutely no page content - static cont

[2015-11-15 18:17] itbabu opened #4714 "Uncaught TypeError: Cannot read property 'addPluginHelpTitle' of undefined"
[django cms 3.2.0.rc8]
* Create a new page
* Select structure
* Click the plus button to add a new plugin to first placeholder

Nothing happens

I've this error on the first placeholder only few times, so it can be difficult to reproduce.

These are the JS lines involved

[code]
I placed a breakpoint on the line before the error and I 've:
[code]

[2015-11-16 07:03] FinalAngel commented on #4714
thank you @itbabu for the report. @vxsx can you have a look at it?

[2015-11-16 07:10] FinalAngel commented on #4700
thank you very much to hint this out @timgraham

@evildmp can you or @mkoistinen add it to the documentation?

[2015-11-16 12:23] oleaha commented on #4578
Tested the solution, it works fine in our project! @yakky

[2015-11-16 14:34] yakky commented on #4578
@oleaha great to hear!

[2015-11-16 15:21] yakky commented on #4436
@philippeowagner @npardington @martcot tentative fix at #4717

[2015-11-16 15:21] yakky commented on #4575
@JostCrow tentative fix at #4717

[2015-11-16 15:22] yakky commented on #4576
@JostCrow tentative fix at #4717

[2015-11-16 15:31] philippeowagner commented on #4436
@yakky will check ASAP with the data given earlier

[2015-11-16 17:31] yakky commented on #4436
@philippeowagner great, thanks

[2015-11-16 19:02] philippeowagner commented on #4436
@evildmp @yakky got the same error as reported

[code]

[2015-11-16 19:31] yakky commented on #4436
@philippeowagner did you run fix-tree before that? The PR fixes a tree corruption during a page delete thus any data must be fixed before testing the pr

[2015-11-16 19:50] philippeowagner commented on #4436
No @yakky first I did not running the fix-tree command. There are still broken element/pages in the dump that I restored. Also trying to delete shows the same effects as reported without running the command.

After running `cmd fix-tree` everything works as expected for the page moving action, but the delete showed a even more wired result.

![screen shot 2015-11-16 at 20 49 19](https://cloud.gith

[2015-11-17 05:07] yakky commented on #4681
Closed by #4717

[2015-11-17 05:07] #4681 closed

[2015-11-17 05:07] yakky commented on #4578
Closed by #4717

[2015-11-17 05:07] #4578 closed

[2015-11-17 05:07] yakky commented on #4576
Closed by #4717

[2015-11-17 05:07] #4576 closed

[2015-11-17 05:07] yakky commented on #4575
Closed by #4717

[2015-11-17 05:07] #4575 closed

[2015-11-17 05:07] yakky commented on #4436
Closed by #4717

[2015-11-17 05:07] #4436 closed

[2015-11-17 05:09] yakky commented on #4683
@Jc2k see #4725 for fix on 3.1.x branch

[2015-11-17 05:10] yakky commented on #4672
Closed by #4472

[2015-11-17 05:30] yakky commented on #4376
@FinalAngel any update on this?

[2015-11-17 05:30] yakky commented on #4374
@FinalAngel @vxsx  any update on this?

[2015-11-17 05:42] yakky commented on #4344
@vxsx @FinalAngel any update on this?

[2015-11-17 06:08] vxsx commented on #4344
@yakky sadly no, had been quite busy with 3.2, but this one is still on my radar

[2015-11-17 06:12] vxsx commented on #4374
Sadly not yet @yakky.

[2015-11-17 06:31] yakky commented on #4344
@vxsx thanks

[2015-11-17 06:32] yakky commented on #4374
@vxsx thanks, postponing after 3.1.4 release

[2015-11-17 08:01] FinalAngel commented on #4376
It is a bit hard to reproduce @yakky, in fact I don't have such behaviour as our jQuery is isolated anyways. @furiousdave we did some minor changes on the loading for 3.2. Could you test latest djangocms-admin-style and django-cms develop branch?

[2015-11-17 08:02] FinalAngel commented on #4344
@qnub we fixed the on_close behaviour for modal and sideframe?

[2015-11-17 11:44] Jc2k commented on #4683
Its more awkward than i first realised, unfortunately.

We went from Django 1.6.x to Django 1.8.6, and cms went from 3.1.0 to 3.1.3. If you migrate like we did, you want to fake contenttypes up to `001_initial` and fake cms up to `0011_auto_20150419_1006`. In that case this change is absolutely required, otherwise `0002_remove_content_type_name` will never run. And then stuff will break. For examp

[2015-11-17 20:16] otg-sandrey opened #4731 "Add and delete a plugin twice in a row -> 404 error"
Steps to reproduce:
- create new page
- choose a Text (actully, I tried different plugins with the same result) plugin to add it to a placeholder
- Text plugin window will open
- click the cross in the top right corner of the plugin window to close it
- click "OK" to confirm that the plugin has to be deleted
- then again...
- choose a Text (actully, I tried different plugins with the same result)

[2015-11-17 20:18] otg-sandrey commented on #4731
I successfully reproduced the problem using the trial CMS instance at www.django-cms.org

[2015-11-18 06:51] yakky commented on #4683
@Jc2k In that case I usually don't trust the migrations dependency and I fake / apply django contrib migrations first and explicitly, and only after that i fake the others

[2015-11-20 06:57] mkoistinen commented on #4665
@vxsx what's the status of this issue?

[2015-11-20 06:57] mkoistinen commented on #4712
Closed by #4727 (et al.)

[2015-11-20 06:57] #4712 closed

[2015-11-20 07:42] vxsx commented on #4665
We addressed almost everything as far as I can see. Some things, like scrolling when keyboard pops up are almost impossible to fix, the behaviour differs from device to device, os to os, etc., so some limitations are documented [here](https://github.com/divio/django-cms/blob/develop/docs/topics/touch.rst). The issues with ckeditor should all be fixed as well.

[2015-11-20 08:08] mkoistinen commented on #4665
Closing as per all the referenced tickets. Excellent Issue, @jsma, thank you!

[2015-11-20 08:08] #4665 closed

[2015-11-20 12:11] evildmp commented on #4731
Thanks for this excellent bug report. I can't reproduce it in 3.2 though.

I do however get a slightly unclear "Plugin will be added here" placeholder showing up after the first aborted plugin:

![Plugin will be added here](https://www.dropbox.com/s/093o38snw97i27n/Screenshot%202015-11-20%2012.05.49.png?dl=0)

[2015-11-20 13:20] evildmp commented on #4731
I can reproduce in 3.1. However since we are about to release 3.2 very soon and it doesn't appear there, I think this is probably a won't fix, because of that.

[2015-11-20 13:31] #4731 closed

[2015-11-20 13:53] evildmp commented on #4714
@itbabu, @vxsx  I can't reproduce in rc12.

[2015-11-20 13:54] vxsx commented on #4714
I cannot really reproduce it. Might it be that you had cached files from some of the previous release candidates?

[2015-11-20 14:00] evildmp commented on #4700
@FinalAngel  will do.

@timgraham thanks.

[2015-11-20 15:42] itbabu commented on #4714
Hi,
I'll update to rc12 this weekend and I'll try again.

[2015-11-21 07:31] TheDeadOne opened #4755 "environment can only contain strings"
C:\Temp\mysite>virtualenv env
New python executable in env\Scripts\python2.7.exe
Also creating executable in env\Scripts\python.exe
Installing setuptools, pip, wheel...done.

C:\Temp\mysite>env\Scripts\activate
(env) C:\Temp\mysite>pip install djangocms-installer
Collecting djangocms-installer
...

(env) C:\Temp\mysite>djangocms -p . -s mysite
Database configuration (in URL format) [default sqlite

[2015-11-22 22:17] itbabu commented on #4714
I can't reproduce it again with rc12 and a new enviroment.
I'm closing this ticket.
Thanks to everyone.

[2015-11-22 22:17] #4714 closed

[2015-11-23 05:22] chengaomin commented on #4755
I have the same error

[2015-11-23 05:52] vinitkumar commented on #4672
@yakky Where is the 3.1.4 release? I don't seem to find the tags as well for this release.

[2015-11-23 07:07] FinalAngel commented on #4672
@vinitkumar I'll check with @yakky and see if we can do a release alongside 3.2.0

[2015-11-23 07:08] FinalAngel commented on #4755
Thank you for your report @TheDeadOne. @yakky is this something related to the djangocms-installer?

[2015-11-23 07:08] FinalAngel commented on #4714
thank you too @itbabu :)

[2015-11-23 09:24] #4621 closed

[2015-11-23 09:49] vxsx commented on #4318
this should be revisited when we look at alias plugin (afair we wanted to change implementation)

[2015-11-23 10:22] vinitkumar commented on #4672
@FinalAngel Thanks, I using the repo link to access the fix. It would be great if it is released soon.

[2015-11-23 10:26] FinalAngel commented on #4672
@vinitkumar I'll make a note and let you know once its out.

[2015-11-23 11:06] vxsx commented on #4039
@koobs cannot reproduce with latest develop. can you still reproduce the issue? is there anything special about the project itself?

[2015-11-23 11:38] Grimaldum opened #4756 "Cannot publish a page in pagetree, but publish available on the page"
Hello there !

I have a strange bug with django-cms. Here it is:
I have a page with 2 static placeholders. When I edit one of them, I can publish my page directly via the blue button, on the top right side, but the page cannot be published in the pagetree (the blue editing circle), in the django-cms edit page. Is this intended ?

[2015-11-23 11:46] koobs commented on #4039
@vxsx Could you reproduce with previous versions? Re: the project; I believe I tested with the verbatim templates available in the documentation: http://docs.django-cms.org/en/latest/how_to/install.html#configuring-your-project-for-django-cms

Specifically template1/template2

[2015-11-23 11:48] koobs commented on #4039
@FinalAngel localStorage was not the issue (@mkoistinen had already asked me to clear that setting while helping me debug on IRC, prior to reporting the issue here)

[2015-11-23 12:17] yakky commented on #4756
@Grimaldum while maybe a bit misleading, yes, it's intended: when changing a static placeholder you're not publishing the "page" but the static placeholder itself, which is not available in the page tree, but only in the frontend

[2015-11-23 12:17] yakky commented on #4672
I am waiting for 3.2 to be released, to avoid stealing travis time from the 3.2 release

[2015-11-23 12:18] yakky commented on #4755
Yes, it's a  djangocms-installer.
I need to get my hands on a windows machine to understand what's going on

[2015-11-23 12:26] vxsx commented on #4039
@koobs cannot reproduce with 3.1 or 3.0

[2015-11-23 12:30] Grimaldum commented on #4756
Ok, thanks for the answer :)

[2015-11-23 16:42] mkoistinen opened #4758 "Add note in release notes about sub-pages to apphooked pages."
Users may get 404 when going to subpages created with the toolbar menu or page-tree to existing apphooked pages.

[2015-11-23 17:19] teutobod commented on #4039
@all: After a fresh installation of python and django on my machine the issue didn't occur any more. I guess the problem caused by some incompatible versions in the required packages.

[2015-11-23 17:28] FinalAngel commented on #4039
thanks for the update @teutobod closing this than for now :)

[2015-11-23 17:28] #4039 closed

[2015-11-23 20:05] yakky commented on #4711
Fixed in #4727

[2015-11-23 20:05] #4711 closed

[2015-11-24 02:55] #4700 closed

[2015-11-24 10:12] jeroenweustink opened #4761 "Django 1.8.6 BadMigrationError"
When running migrations I get a the exception BadMigrationError, I think it's due to the fact that django-cms 3.2 still contains south_migrations. I'm not able to fix it even when I remove the south migrations.

[code]

[2015-11-24 11:57] jeroenweustink commented on #4761
Looks like the same issue as https://github.com/stefanfoulis/django-filer/issues/609.

[2015-11-24 12:30] yakky commented on #4761
@jeroenweustink we removed the broken wheelfile from pypi, it will come back with a 3.2.1 release
Thanks for reporting this

[2015-11-24 12:32] jeroenweustink commented on #4761
Once again, thanks @yakky

[2015-11-24 12:33] yakky commented on #4761
Closing this

[2015-11-24 12:33] #4761 closed

[2015-11-24 15:25] FinalAngel commented on #4672
@vinitkumar I'm happy to let you know that 3.1.4 has been released alongside 3.2 :) closing this now

[2015-11-24 15:25] #4672 closed

[2015-11-24 15:46] mkoistinen commented on #4758
Closed by #4753

[2015-11-24 15:46] #4758 closed

[2015-11-24 15:47] mkoistinen commented on #4756
Closing as resolved.

[2015-11-24 15:47] #4756 closed

[2015-11-24 15:49] mkoistinen commented on #4755
Closing, please see: https://github.com/nephila/djangocms-installer/issues/217

[2015-11-24 15:49] #4755 closed

[2015-11-24 15:50] mkoistinen commented on #4713
Any chance you can try this is 3.1.4 and/or 3.2.0?

[2015-11-24 15:54] mkoistinen commented on #4683
Can this be closed?

[2015-11-24 17:32] intellectronica opened #4762 "Clean-up Mercurial artifacts"
The repo still has some old Mercurial artifacts like .hgtags and .hgignore. Are they in use, now that the project uses git and github? If not, they can probably be removed.

[2015-11-24 17:56] #4762 closed

[2015-11-24 18:37] yakky commented on #4683
Yes

[2015-11-24 18:37] #4683 closed

[2015-11-24 23:53] dsimandl commented on #4356
I just tried to upgrade Django_CMS to 3.1.4 and Django to 1.8.7.  This error came up again.  Per the documentation below it doesn't state anything about needed to set `CMS_TEMPLATES`.

http://djangocms.readthedocs.org/en/latest/reference/configuration/#std:setting-CMS_TEMPLATES_DIR

[2015-11-25 11:24] vstoykov commented on #4626
I was also thinking of this and I thought about this  in order for modifier that we use https://github.com/divio/django-cms/pull/4189#issuecomment-121884209 to add page instance to menu item to be more efficient and not traverse non page menu nodes.

Probably if in https://github.com/divio/django-cms/blob/develop/cms/cms_menus.py instead of using `NavigationNode` directly, to use subclass (for exa

[2015-11-25 12:25] FinalAngel commented on #4626
@mkoistinen you had some ideas around this, what would you suggest?

[2015-11-25 12:41] yakky commented on #4626
@vstoykov we cannot add the page instance in the menu as this will make the menu memory size grow indefinitely, at the same time we cannot fetch anything from the database when working on the menu as this will be a huge performance hit

[2015-11-25 13:38] vstoykov commented on #4626
I know that we can't add the page instance to menu node before putting all nodes into cache (#4726 was reported by me). But in #4189 in comments I showed a code that we use to lazy attach page instances to nodes with modifier which is executed after nodes are nodes are saved to cache and the actual fetching from the DB will be performed when somewhere in the menu template something from the page m

[2015-11-25 15:33] kopite opened #4766 "Keyerror for language when trying to click on an item in view history"
In the history > view history Tab when you click on any item the following key error is displayed:

KeyError at /admin/cms/page/74/history/3051/

'language'

template causing the error : lib/python2.7/site-packages/cms/templates/admin/cms/page/change_form.html,

The code which seems to be causing the issue is

/var/www/django/website-wepower/lib/python2.7/site-packages/cms/templatetags/cms_admin.p

[2015-11-25 17:04] timgraham commented on #4580
I'll be happy to work on this if it's a good time to do so, however, in the past I remember you didn't want to merge similar work until sometime after the previous release so there wouldn't be as many merge conflicts. Let me know if that applies here too.

[2015-11-25 17:13] yakky commented on #4626
@vstoykov even if not in cache, the page object will still be in memory and this can be a huge hit.
Anyway I am -0 on adding an optional modifier that behaves like you describe, but I'm more fond of adding a simple attribute

[2015-11-25 17:35] bartmika opened #4767 "Docs » Tutorials » Plugins Typo"
**How to replicate:**
(1) Go to: http://docs.django-cms.org/en/latest/introduction/plugins.html
(2) Scroll down to this code:
[code]

(3) The typo exists on this line:
[code]

**How to Fix:**
Please change the line to:
[code]

[2015-11-25 18:14] bartmika opened #4768 "Docs » Tutorials » Apphooks Needs Clarification"
**Description**
I implemented the instructions for http://docs.django-cms.org/en/latest/introduction/apphooks.html and when I load up the page I ge this:

**Image**
![screen shot 2015-11-25 at 1 11 56 pm](https://cloud.githubusercontent.com/assets/5767602/11405502/268e70c6-9376-11e5-8eb7-ce669fd00131.png)

**How To Fix**
Is this the correct output I should be seeing? To improve this page, attach a

[2015-11-25 18:31] bartmika commented on #4768
Nevermind, need to click **Publish** and now I see it.

![screen shot 2015-11-25 at 1 28 55 pm](https://cloud.githubusercontent.com/assets/5767602/11405902/c694abec-9378-11e5-8428-8de746d585a0.png)

![screen shot 2015-11-25 at 1 29 42 pm](https://cloud.githubusercontent.com/assets/5767602/11405908/ca940030-9378-11e5-9f1a-e66769a7ce16.png)

[2015-11-25 18:31] #4768 closed

[2015-11-25 19:12] bartmika opened #4769 "Docs » Tutorials » Integrating a third-party application - Improvement Part 1"
**Description**
I am using _OSX El Captan_ operating system and when I entered:

[code]

I get the following error:
![screen shot 2015-11-25 at 1 56 52 pm](https://cloud.githubusercontent.com/assets/5767602/11406936/f435de4a-937d-11e5-841a-eaaf1df3b140.png)

**How-to-Fix**
In the documents webpage, may you please add a pre-requsite text or something explaining that if you are using **OSX** that yo

[2015-11-25 20:04] bartmika opened #4770 "Docs » Tutorials » Integrating a third-party application - Improvement Part 2"
**Description**
I am following the instructions on this page: http://docs.django-cms.org/en/latest/introduction/third_party.html when I run the command:
[code]

I get a huge set of errors. I am writing this ticket so the docuement maintainer could improve the steps here to save another person 1 hour of troubleshooting. So I'll explain how I fixed it and then summarize what the document maintainer

[2015-11-26 09:14] evildmp commented on #4770
Hello and thanks very much for such a detailed report.

Can you confirm which version exactly you have installed of django CMS - perhaps provide the output of ``pip list`` (or ``pip freeze``)?

[2015-11-26 09:44] FinalAngel commented on #4580
It would be very much appreciated @timgraham. we first need to decide on how to approach the branches. @yakky can we already do a ``support/3.2.x`` and use ``develop`` for 3.3?

In any case @timgraham you could start on a branch yourself and we'll see that it gets merged into the appropriate 3.3 branch once you're ready.

[2015-11-26 10:28] yakky commented on #4580
@timgraham that would be great!
given that 3.2 has almost no BE change, I think it's not worth to wait for things to settle down and you can start working on it
@FinalAngel yeah, creating the support branch for 3.2 is the best option, how many open PR must go in 3.2.x, I'd wait for them to be merged before branching

[2015-11-26 10:35] FinalAngel commented on #4580
@yakky we might want to coordinate with @mkoistinen @vxsx and @evildmp let's figure that out later today. I'll let you know asap.

[2015-11-26 12:15] marijngoedegebure opened #4771 "django.middleware.locale.LocaleMiddleware required for cms_toolbar"
From CMS version 3.1 two functions have been added to toolbar.py. These functions insert a bug for when you render the cms toolbar in a single language project.
When rendering django cms_toolbar it requires that the LANGUAGE_CODE is in the request, like this:

[code]

But as is stated in the code at the top of toolbar.py, whether language is in the request depends on whether multiple languages are

[2015-11-26 12:38] marijngoedegebure commented on #4771
I created a pull request for this issue:

https://github.com/divio/django-cms/pull/4772

[2015-11-26 15:13] bartmika commented on #4770
My results:
[code]

[2015-11-26 15:13] evildmp commented on #4770
@bartmika I've rechecked the steps in the tutorial and can't reproduce this.

Check that your django CMS installer is up-to-date (``pip install --upgrade djangocms-installer``).

When it runs, as advised (``djangocms -f -p . mysite``) in http://docs.django-cms.org/en/latest/introduction/install.html it will indeed install those components you found were missing.

I wonder if you didn't use the ``-

[2015-11-26 15:17] bartmika commented on #4770
Okay thanks @evildmp !

[2015-11-26 15:27] bartmika opened #4774 ""Add Picture" Plugin missing "class" / "width" / "height""
Hello,

I am a novice so forgive me if I make a mistake. But I am lookin at adding a "Picture" placeholder.

![screen shot 2015-11-26 at 10 19 03 am](https://cloud.githubusercontent.com/assets/5767602/11426075/740cef92-9427-11e5-9081-6908bd5c1412.png)

My problem is the picture image needs to look like this:
[code]

So I am wondering how can I input the **class** / **width** / **height** html attr

[2015-11-26 15:36] bartmika opened #4775 ""Style" Plugin needs more HTML attribute options"
I am looking to add a "Style" plugin so I can write the following code:
[code]

But when I look in the **Advanced Settings** I don't see any ways to add the particular HTML attribute.
![screen shot 2015-11-26 at 10 32 58 am](https://cloud.githubusercontent.com/assets/5767602/11426327/33a20f80-9429-11e5-9530-08d206ef27fd.png)

I would like to open up a ticket to allowm more HTML attribute options t

[2015-11-26 15:36] grwhumphries opened #4776 "Install Django CMS to existing project needs update"
Currently the instructions to install Django CMS to an existing project does not work for django 1.8 - imagine these instructions need updating. (requirements don't include django 1.7 or .8)

[2015-11-26 15:43] FinalAngel commented on #4776
@evildmp is this the case?

[2015-11-26 15:44] FinalAngel commented on #4775
thank you for the report @bartmika can you open this issue on: https://github.com/divio/djangocms-style/issues/new ?

[2015-11-26 15:44] #4775 closed

[2015-11-26 15:48] FinalAngel commented on #4774
which image plugin are you using @bartmika ? You might want to add this issue to the related plugin (as core doesn't ship with plugins). We recommend using https://github.com/aldryn/aldryn-bootstrap3 or https://github.com/stefanfoulis/cmsplugin-filer

[2015-11-26 15:49] grwhumphries commented on #4776
Just as an example - in the instructions, TEMPLATE_CONTEXT_PROCESSORS = []  is used, however, in Django 1.8+, this is deprecated.  All TEMPLATE options fall into the TEMPLATE tag now.   I tried following instructions to update my project with django CMS (I'm using django 1.8.6), but instructed me to update the TEMPLATES tag

[2015-11-26 15:52] bartmika commented on #4774
Hi @FinalAngel, I am using the generic picture that came with my djang-cms.

![screen shot 2015-11-26 at 10 50 28 am](https://cloud.githubusercontent.com/assets/5767602/11426682/b6a2d66a-942b-11e5-8202-d5a938682839.png)

[2015-11-26 16:04] evildmp commented on #4776
@grwhumphries thanks for the report, also affects template-related steps in http://docs.django-cms.org/en/latest/introduction/install.html.

[2015-11-26 16:24] FinalAngel commented on #4774
using installation instructions / djangocms-installer @bartmika is there an "advanced" section?

[2015-11-26 20:45] bartmika commented on #4774
I do not recall, no.

[2015-11-26 20:57] bartmika commented on #4774
Hi @FinalAngel, this is my screen, I don't see an advanced section.
![screen shot 2015-11-26 at 3 55 45 pm](https://cloud.githubusercontent.com/assets/5767602/11430550/5029b1da-9456-11e5-82b9-d732eef7f7df.png)

[2015-11-26 21:14] bartmika commented on #4774
Update: I deleted my old code, I installed from fresh and now I see the Picture plugin is no longer being used but the "Image" plugin. This is good as it looks like it has a lot of options I need.

![screen shot 2015-11-26 at 4 11 02 pm](https://cloud.githubusercontent.com/assets/5767602/11430704/99db0566-9458-11e5-9568-fd2bf64bc57b.png)

Question, where do I modify the image **id** and **class**?

[2015-11-27 07:02] FinalAngel commented on #4774
@bartmika in your screenshot you can set "width" and "height" right there :)

[2015-11-27 08:31] #4776 closed

[2015-11-27 08:33] evildmp commented on #4770
I added a couple of words to the installation documentation to make this a little clearer.

[2015-11-27 08:33] #4770 closed

[2015-11-27 08:42] evildmp commented on #4769
On reconsideration, I am not convinced it's appropriate to mention libraries such as libxml2, or give directions on installing them. There are too many such non-Python libraries, and too many ways to install them, and we can't cover them all.

If they are not installed, the user will get be informed by their system, and it will be up to them to deal with.

@yakky @FinalAngel your thoughts?

[2015-11-27 09:06] FinalAngel commented on #4769
I agree, listing specific installation steps (in this example osx) opens the question to add the remaining instructions for windows or linux as well. The prerequisite is to have a proper setup on your computer before you begin.

For the case at divio we use https://github.com/divio/osx-bootstrap for the automated setup on osx (which sets up xcode or libxml2) but that might differ from company to c

[2015-11-27 13:43] bartmika commented on #4770
Thanks @evildmp 😃👍🏻

[2015-11-27 21:58] quizy101 commented on #4766
I can confirm, I am having the same issue with KeyError viewing page history.

[2015-11-27 22:08] yakky commented on #4766
Install shang of reversion==1.8.7
We discovered an incompatibility with reversion 1.9.
It will be fixed in 3.1/3.2 branches, in the meantime use reversion 1.8

[2015-11-27 23:03] quizy101 commented on #4766
Thank you, that fixed the problem for me.

[2015-11-28 03:52] timgraham opened #4783 "Update Python intersphinx to point to Python 3"
In `docs/conf.py`: `'python': ('http://docs.python.org/2.6', None),`

[2015-11-28 03:53] timgraham commented on #4783
Django uses `'python': ('http://docs.python.org/3/', None),` is that okay?

[2015-11-28 08:17] yakky commented on #4783
@timgraham thanks for pointing this out. Will you do a PR?

[2015-11-28 08:18] yakky opened #4784 "Fix compatibility with reversion 1.9"
This is an issue in 3.1 and 3.2

Edit: reversion 1.10 has been released with modified API. I suggest to support only 1.8.5 (for Django 1.6) and 1.10 (for Django 1.7+ as stated in the documentation)

[2015-11-28 12:28] timgraham opened #4785 "Add strict link checking in documentation"
You can use the `-n` option (like Django's docs do) to show broken Sphinx links when building the docs. There are about 160 links that need to be fixed (or removed if the code won't be documented) as part of this.
[code]

[2015-11-28 13:01] yakky commented on #4785
Wow, nice improvement! @evildmp do you think fixing the broken links it's doable by 3.3?

[2015-11-28 14:53] timgraham opened #4787 "Add an automated check for flake8"
A couple releases ago I fixed some flake8 warnings and added the rules I didn't fix to an ignore list in  setup.cfg so that flake8 didn't emit any warnings. Since then, a lot of warnings have crept in. A pull request check or test for flake8 should be added. After that, separate issues could be created for whittling down the long list of ignored warnings in setup.cfg.

[2015-11-29 14:43] jribbens opened #4788 "django-cms still raising RemovedInDjango19Warnings"
[code]

They are actually coming from sekizai:

[code]

I know they're only warnings but it is very off-putting that django-cms, out of the box and completely unmodified, spams warnings all over the place constantly.

I am using Python 3.4.3, Django 1.8.7 and Django-CMS 3.2.0.

[2015-11-29 14:53] jribbens opened #4789 "Migrating a field to PlaceholderField fails when using Postgres"
[code]
Add `testapp` as penultimate entry in `my_demo/settings.py:INSTALLED_APPS`.
Edit `testapp/models.py`:
[code]
[code]
Edit `testapp/models.py`:
[code]
[code]

This only happens with Postgres (or rather, it doesn't happen with sqlite, i.e. if you remove the `-d` from the `djangocms` invocation above). It only happens if the column is being changed in one migration, if it's split into two migra

[2015-11-29 16:57] yakky commented on #4788
I think you should open an issue in the sekizai project to better track the issue

[2015-11-29 18:03] jribbens commented on #4788
sekizai already has issue ojii/django-sekizai#53 but they closed it as it was fixed in ojii/django-sekizai@bb3992e06339006bea67ebb37daf5992f11a0600. This doesn't actually help very much as that was back in July and there have been no new releases of sekizai since then.

[2015-11-29 18:06] yakky commented on #4789
Postgres refuse to convert any text field to integer without a casting function: ``PlaceholderField`` is a ``ForeignKey`` so its type it's an integer and you can either write a `'RunSql`` function or split the migrations in two steps.

[2015-11-29 18:06] #4789 closed

[2015-11-29 18:07] yakky commented on #4788
Still, it's a sekizai issue, nothing the CMS can do about that

[2015-11-29 18:44] jribbens commented on #4788
It seems at least possible that a request from the django-cms developers to the sekizai developer(s) might prod them into making a new release... I made a ticket here because it is an issue being experienced by django-cms users - it's not like the problem is in an unrelated optional third-party library, it's a core dependency of django-cms. Users most likely won't even realise that sekizai exists,

[2015-11-29 19:46] jribbens commented on #4789
Shouldn't 'makemigrations' be detecting this situation rather than silently producing a broken migration?

[2015-11-29 20:32] yakky commented on #4789
I don't know the internals of migrations module to provide an answer

[2015-11-29 20:43] jribbens commented on #4789
Possibly if you hadn't've closed the ticket and labelled it a non-issue, someone who does know whether it actually is an issue might answer? ;-)

[2015-11-29 20:47] yakky commented on #4789
Not being a django CMS issue I don't see any reason to keep this open.
The best option is to open an issue in Django and eventually link this here

[2015-11-29 22:43] jribbens commented on #4789
OK I have created a django ticket: https://code.djangoproject.com/ticket/25832

[2015-11-30 01:04] alanondra opened #4791 "Cannot migrate to MySQL from SQLite3"
There is an error in the migration file `cms.0012_auto_20150607_2207` which generates this message:

[code]

Running Python 3.4.3, Django-CMS 3.2.0, Django 1.8, and MySQL 5.7.2.

[2015-11-30 06:43] FinalAngel commented on #4788
@jribbens thanks for the report, it's absolutely correct that we have to work together and fix issues across multiple dependencies. @ojii might be busy but we pinged him and check if we might get release rights on it.

We keep this open and aim for a fix in the next release.

[2015-11-30 06:44] yakky commented on #4791
What do you mean with "migrate to MySQL from SQLite3"?

[2015-11-30 06:47] FinalAngel commented on #4787
@timgraham totally +1 on this. Similar to the frontend part the python code needs validation and throw warnings if anything is out of order!

[2015-11-30 06:49] FinalAngel commented on #4785
@yakky we should fix it by 3.3 if we plan cleanups across the code

[2015-11-30 06:50] FinalAngel commented on #4766
thanks @quizy101 we track the status in https://github.com/divio/django-cms/issues/4784

[2015-11-30 06:50] #4766 closed

[2015-11-30 09:58] FinalAngel commented on #4774
Added issue to: https://github.com/stefanfoulis/cmsplugin-filer/issues/205

[2015-11-30 09:58] #4774 closed

[2015-11-30 10:00] FinalAngel commented on #4767
Fixed in https://github.com/divio/django-cms/pull/4794

[2015-11-30 12:52] FinalAngel commented on #4767
closed as already merged in https://github.com/divio/django-cms/pull/4778/files

[2015-11-30 12:52] #4767 closed

[2015-11-30 14:03] evildmp commented on #4788
@ojii is very amenable and I am sure can oblige!

[2015-11-30 14:22] evildmp commented on #4787
Yes please!

[2015-11-30 14:23] evildmp commented on #4785
@FinalAngel I think we should fix this asap.

[2015-11-30 14:39] FinalAngel commented on #4785
@evildmp I'll open a PR tomorrow morning!

[2015-11-30 15:40] czpython opened #4795 "Inconsistency in url endpoints called on plugin move"
Hello,

There's an inconsistency with the endpoints called when moving a plugin.

I'm using the Aldryn News & Blog application, on the landing page there's three placeholders:

1 - Feature
2 - Newsblog Top (apphook config placeholder)
3 - Newsblog Footer (apphook config placeholder)

If I move a plugin from placeholder 1 to placeholder 2, the CMS will call the ``/en/admin/cms/page/move-plugin/`` e

[2015-11-30 19:26] czpython opened #4797 "Side Frame contents don't change"
Steps to reproduce

1. Login to /?edit
2. Click example.com > "User settings"
3. Change user settings to another one
4. Click "Save"

The steps above will show that the content is not changing in the side frame after changing the language.
This is because the javascript code from #4703 does not know what the url for the selected language is.

[2015-11-30 23:43] #4783 closed

[2015-12-01 07:52] kopite commented on #4766
Issue has been resolved by downgrading thanks @yakky !

[2015-12-01 10:50] igorkud90 opened #4798 "Column does not exist in tests with multiple databases"
I use multiple databases in my project: master and log_db. When i updated to django-cms==3.1.4 and started the tests, i've got error in 0005_auto_20140924_1039.py migration, when creating test log database:
[code]
router:
[code]

[2015-12-02 08:05] vxsx commented on #4797
fixed in #4799

[2015-12-02 08:05] #4797 closed

[2015-12-02 13:05] AlanOndra commented on #4791
Changing the database from SQLite3 to MySQL. I was unable to start a project using MySQL.

[2015-12-02 14:09] viatoriche commented on #4798
I have this problem too

[2015-12-02 14:33] evildmp commented on #4791
@AlanOndra It's not clear what's happening here.

So you have a working SQLite3 project, complete with database, and then you want to move it to MySQL? In that case, you wouldn't need to run ``cms.0012_auto_20150607_2207`` or any other migrations. Migrations are for making changes to the structure of a database, not migrating from one database to another.

If you mean something else, apologies, I

[2015-12-02 15:19] #4785 closed

[2015-12-02 15:20] FinalAngel commented on #4785
https://github.com/divio/django-cms/pull/4804#event-480243635

[2015-12-02 15:28] timgraham commented on #4785
What I envisioned was also fixing all the warnings and then failing the docs build if any warnings are introduced (this is what Django does). Should I open a separate issue?

[2015-12-02 15:31] FinalAngel commented on #4785
@timgraham I would say so @evildmp how do you want to handle this?

[2015-12-02 17:43] marts opened #4807 "Pages global permissions admin view does not honour the CMS_RAW_ID_USERS setting"
On DjangoCMS 3.1.3:

Adding/editing a Pages global permissions, all users are shown in the dropdown even when ```CMS_RAW_ID_USERS = True```

Maybe ```GlobalPagePermissionAdmin``` method needs a ```raw_id_fields``` method much like ```PagePermissionInlineAdmin```

[2015-12-02 19:27] jsma opened #4808 "Browser caches old cms.base.css when upgrading to 3.2"
Recently upgraded a site to 3.2 but staff were complaining that the admin toolbar is broken. This was due to their browser using the old `cms.bas.css` from cache since the url didn't change. Don't have time at the moment to look into this myself but is it possible to have the new build tools generate this file with the version in the file name e.g. `cms.base.3.2.css` so it forces the browser to do

[2015-12-02 22:09] furiousdave commented on #4376
Tested CMS 3.2 and admin-style 1.0.6. Oddly, all is well using Firefox 42 in both Win and OS X but I still can't delete plugins via the modal when using Ubuntu 14.04. Now I'm wondering if a browser add-on could somehow be interfering with this request. Either way; at the most it's a fringe case. It's just very unusual because it's only the delete action that fails. If I ever actually diagnose this

[2015-12-03 06:55] yakky commented on #4376
@furiousdave moving out of specific milestone, waiting for new information (possibly testing with a fresh clean firefox profile -you can create without losing your existing one- so no extension may interfere with the test?)

[2015-12-03 08:29] FinalAngel commented on #4808
@jsma thanks for the report, we are thinking of something like ``cms.base.css?randomtoken``. Just changing the filename causes reference problem inside different places.

[2015-12-03 08:37] vxsx commented on #4808
well for css we actually could use different file names but since we cannot do that for js files (because they are used in external addons) i think we'll do that consistently and use a query param (even though it's not the best solution)

[2015-12-03 10:57] marts commented on #4807
I don't if this should be raised as part of this issue, but ```GlobalPagePermissionAdmin``` also has a ```list_filter``` that includes ```user```.

```list_filter = ['user', 'group', 'can_change', 'can_delete', 'can_publish', 'can_change_permissions']```

The list of users in this filter could also get very long.

[2015-12-03 10:58] yakky commented on #4807
Thanks for reporting

[2015-12-03 10:59] marts commented on #4807
No problem :)

[2015-12-03 13:43] mkoistinen commented on #4808
Please rename the file, adding a param is not the way to go here.

[2015-12-03 13:47] mkoistinen commented on #4798
Thanks for the report @igorkud90 (and @viatoriche). Would you be able to dig into this a little deeper to be more specific about how the CMS is doing something wrong?

[2015-12-03 13:51] mkoistinen commented on #4666
The seems related to an apphook that you have/had registered. Can you repeat this in 3.2.0?

[2015-12-03 13:53] raiderrobert commented on #4120
Running 3.2 now, and this subcommand doesn't work still. I see that it's in the codebase, so I suspect whatever bug was there is still there.

[2015-12-03 13:54] FinalAngel commented on #4808
@mkoistinen we can't rename the file as it is referenced across multiple places.

[2015-12-03 14:17] yakky commented on #4120
@raiderrobert command refactoring did not make it into 3.2, but I'm working on it for 3.3

[2015-12-04 08:04] stefanfoulis commented on #462
yes. The problem still remains.

[2015-12-05 07:10] JoeJasinski opened #4816 "DjangCMS 3.2 - Unable to upgrade to django 1.9: ImportError cms.templatetags.cms_admin': cannot import name Page"
Hi all,

When trying upgrade to Django from 1.8.7 to 1.9 and django-reversion from 1.8.7 to 1.10.0, I get the following error when I migrate.  The *only* changes that I made was to upgrade these two packages.  Django CMS 3.2 was installed and running fine on Django 1.8.

	(joejasinski)cortland:joejasinski jjasinski$ ./manage.py migrate
	Traceback (most recent call last):
	  File "./manage.py", lin

[2015-12-05 07:40] yakky commented on #4816
django CMS 3.2 does not support Django 1.9 (still)

[2015-12-05 17:29] JoeJasinski commented on #4816
Thanks for that info. I'll hold off on the upgrade.

[2015-12-06 11:56] ojii commented on #4788
please upgrade to sekizai 0.9.0 or higher.

[2015-12-07 07:16] #4788 closed

[2015-12-07 07:32] FinalAngel commented on #4538
This seems to be fixed in 3.2 as we also did improvements on the iframe reloading.

[2015-12-07 07:32] #4538 closed

[2015-12-07 11:29] yakky commented on #4788
@ojii great, thanks!

[2015-12-08 00:28] rando305 opened #4825 "djangocms-placeholder-attr fails to install on python 3.4"
(Ops_python3) randy@TestSrv:~/PycharmProjects/Ops_python3$ which pip
/home/randy/PycharmProjects/Ops_python3/bin/pip
(Ops_python3) randy@TestSrv:~/PycharmProjects/Ops_python3$ pip install djangocms-placeholder-attr
Collecting djangocms-placeholder-attr
  Using cached djangocms-placeholder-attr-1.0.3.tar.gz
    Complete output from command python setup.py egg_info:
    running egg_info
    creating

[2015-12-08 06:43] yakky commented on #4825
You should file a bug in djangocms-placeholder-attr repository. It's not a plugin maintained by django cms team, so we can't do much to fix it

[2015-12-08 06:43] #4825 closed

[2015-12-08 12:27] ojii commented on #4784
The docs should probably point out that 1.9/1.10 of reversion aren't supported: http://docs.django-cms.org/en/develop/how_to/install.html#revision-management

[2015-12-08 15:19] lukasz-virtualo opened #4830 "page_url template tag fails silently when put in a custom inclusion tag"
##### Reproduction
I have defined an inclusion tag and registered it like so (example):
[code]
The file `/path/to/template.html` contains:
[code]
I use both the custom tag and ordinary reference to `page_url` in the main cms template:
[code]
Expected output:
[code]
Actual output:
[code]
Perhaps I am missing something in the tag registration...

### Configuration
Virtualenv:
[code]

[2015-12-09 15:12] lukasz-virtualo commented on #4830
##### Possible fix
Problem can be circumvented using:
[code]
in the main template, then patching the my_tag to give access to context:
[code]
and finally in /path/to/template.html:
[code]
Then it passes the test.

##### Still a bug?
Perhaps, if you consider the original circumstances.
What if I need to get multiple URLs inside the inclusion template? Rather not a very convenient thing to prepare t

[2015-12-09 20:20] czpython commented on #4795
Fixed by #4803

[2015-12-09 20:20] #4795 closed

[2015-12-10 11:35] marts opened #4842 "User lookup not working for view restrictions/page permissions when CMS_RAW_ID_USERS = True"
Tested on 3.1.4 and 3.2.0

When trying to add a single user based view restriction or page permission when via the lookup button when ```CMS_RAW_ID_USERS = True```, the 'Select user to change' popup is shown. However, if a user is selected you are taken to the edit page of the user, rather than the user pk being inserted in to the user input field.

From djangoCMS tool bar select Page->Permissions

[2015-12-11 02:24] sedrubal opened #4843 "Cannot resolve bases - Dj 1.8.7, Dj-CMS 3.2.0"
I'm currently building [a new django-cms site](https://github.com/fau-fablab/website/) and so I often reinstalled the venv and so on and migrated the db and so on but suddenly it doesn't work anymore:
When I want to migrate the db (no matter if it's an existing or a new db) (sqlite3) it always fails:

[code]

The settings are here: https://github.com/fau-fablab/website/blob/djangocms/djangocms/fab

[2015-12-11 03:06] onerro opened #4844 "Setup error from setuptools"
Command "/var/www/env/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip-build-R52Bj8/Pillow/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-NqAHLE-record/install-record.txt --single-version-externally-managed --compile --install-headers /var/www/env/include/site/python2.7/Pillow" failed with er

[2015-12-11 07:13] FinalAngel commented on #4844
@onerro can you tell us more about what your process was that lead to this error?

[2015-12-11 09:57] onerro commented on #4844
I did as the following steps:
    $ pip install --upgrade virtualenv
    $ virtualenv env
    $ source env/bin/activate
    (env) $ pip install djangocms-installer
    (env) $ mkdir myproject && cd myproject
    (env) $ djangocms -f -p . my_demo
    (env) $ python manage.py

"(env) $ djangocms -f -p . my_demo", it throw the error.
Others look normal.

[2015-12-11 15:52] Chronial commented on #4784
Which versions of reversion are supported? Do I need to downgrade to reversion 1.8?

[2015-12-11 16:52] yakky commented on #4784
@Chronial yes. currently up to 1.8.7

[2015-12-11 16:55] yakky commented on #4844
@onerro could you check if installer's documentation helps? http://djangocms-installer.readthedocs.org/en/latest/libraries.html

[2015-12-11 17:07] jribbens opened #4847 "slug regex in cms/urls.py is wrong (minor)"
https://github.com/divio/django-cms/blob/develop/cms/urls.py#L10 says:

[code]

Firstly, the second `-` in `a-z-` is a syntax error (inasmuch as it is not defined what it means in a regular expression). The `-` should be the first or the last character in the character class. Secondly the `/` is duplicated for no reason.

Finally the regex allows `/` and `.`. `/` is presumably for paths so that's

[2015-12-11 17:32] Chronial commented on #4784
thx, and yes that should definitely be somewhere in the docs ^^.

[2015-12-11 19:53] jsma opened #4848 "Toolbar javascript not compatible with django-compressor/sekizai"
I've had issues (see #4808) with the CMS CSS/JS where browsers will use the cached version of the files rather than the new versions after upgrading django-cms.

I attempted to solve this problem by using django-compressor's post processor function on the sekizai tag. However, this leads to very incorrect results since https://github.com/divio/django-cms/blob/develop/cms/templates/cms/toolbar/tool

[2015-12-12 09:51] yakky commented on #4843
Do you have  ``MIGRATION_MODULES``  set in ``settings.py``?

[2015-12-12 09:57] yakky commented on #4847
@jribbens thanks
I'd fix `-` and double `/` in 3.2.
For `.` we need to wait for 3.3 as it may break existing installations.
Ping @FinalAngel @mkoistinen @evildmp

[2015-12-12 11:18] yakky commented on #4830
@lukasz-virtualo there is a error in you templatetag.
It should be :

    @register.inclusion_tag('/path/to/template.html', takes_context=True)
    def my_tag(context):
        context.update({'foo': 'bar'})
        return context

By doing ``return {'foo': 'bar'}`` you are replacing the main context (with the data from ``page_url``) with a custom context containing only ``foo`` (or ``foo`` and ``

[2015-12-12 11:18] #4830 closed

[2015-12-12 15:29] sedrubal commented on #4843
Thanks for your reply.

Yes, I added this:

[code]

(You can see my config here: https://github.com/fau-fablab/website/blob/djangocms/djangocms/fablab_website/settings.py#L195)

[2015-12-12 15:34] yakky commented on #4843
``djangocms-teaser`` changed migration modules layout in ``0.2.0`` and ``djangocms-style`` in ``1.6.0``, so you need to remove those lines.
Probably those two new versions have been released after you create the first draft of your project and when you later recreated the virtualenv without pinning the package versions of the draft of the project

[2015-12-12 22:57] mkoistinen commented on #4847
I'd agree with that assessment, @yakky.

[2015-12-13 02:47] sedrubal commented on #4843
Oh, you're great :D have you a good tactic to prevent those issues? Is it a good idea to add a single version of each package to `requirements.txt`? Or is there a way to get informed about those changes?

[2015-12-13 06:14] yakky commented on #4843
Best option is usually is saving the output of ``pip freeze`` to the requirements file and use something like requires.io to check for updates

[2015-12-13 06:14] #4843 closed

[2015-12-13 10:11] yakky commented on #4755
@chengaomin are you using ActivePython 2.7.8.10 too? Or official python interpreter ?

[2015-12-13 10:17] yakky commented on #4755
@chengaomin @TheDeadOne could you test linked PR if it fixes the issue for you?

[2015-12-13 17:37] trawick opened #4850 "Confusing redirect-page behavior when logged in with CMS toolbar hidden"
Seen with Django CMS 3.1.3:

* Fill in Redirect on Advanced Settings for a page
* Save/publish
* View page with CMS toolbar enabled
* See "This page has no preview!/It is being redirected to: ``<target_URL>``"
* Disable toolbar
* See CMS page template rendered with empty content.

It should either display the "This page has no preview!" message or it should redirect.

[2015-12-13 17:44] yakky commented on #4850
@trawick what to you mean by "disable toolbar"? Switchting to live mode or selecting "Disable toolbar" item in the toolbar?

[2015-12-13 17:46] trawick commented on #4850
this: selecting "Disable toolbar" item in the toolbar

[2015-12-13 18:29] yakky commented on #4850
@trawick confirmed. Thanks for spotting this

[2015-12-13 21:07] yakky commented on #4850
@trawick please check above PR if fixes the issue for you

[2015-12-14 01:58] chengaomin commented on #4755
@yakky yes, using ActivePython 2.7.10.12  （32 bit）

[2015-12-14 07:18] FinalAngel commented on #4784
@evildmp would you be able to add this note?

[2015-12-14 07:24] FinalAngel commented on #4848
We are looking into replacing the javascript initialisation using a JSON object rather than a JS instance. This is though, valid FE practice. I don't know too much about django-compressor functionality. @jrief has his fair share of knowledge, can you recommend a better path?

[2015-12-14 07:39] lukasz-virtualo commented on #4830
Thank you for the explanation. However, I don't see how that affects the main topic, that is being unable to use cms_tags inside an inclusion template. On this grounds, I reopen.

[2015-12-14 08:18] lukasz-virtualo commented on #4830
Actually the context handling does not affect the submitted bug. Please refer to the example In my first post.

[2015-12-14 08:59] yakky commented on #4830
The django CMS templatetag needs the full context to be able to return the page URL. If the original context is replaced, the templatetag cannot work. In the first example you are replacing the original context with a custom one, which prevents django CMS templatetag to work

[2015-12-14 09:58] daviesattisu commented on #4755
@yakky i'm having the same issue, though am using the official python interpreter (2.7)

[2015-12-14 11:27] yakky commented on #4755
@daviesattisu have you tried the linked PR?

[2015-12-14 13:59] trawick commented on #4850
@yakky works for me; thanks so much!

[2015-12-14 14:13] yakky commented on #4850
@trawick thanks for your feedback, PR merged. Closing this, it will be included in 3.1.5 (no ETA for release, yet)

[2015-12-14 14:13] #4850 closed

[2015-12-14 14:31] lukasz-virtualo commented on #4830
Thanks. Silly me.

[2015-12-14 17:34] stephenpaulger opened #4852 "App Resolver not working in tests when using django 1.8"
I'm using django 1.8.7 and django-cms 3.1.4

In the setup of my tests pages are created with apphooks and in the tear downs they are removed. With Django 1.7 these tests were passing.

In tests after the first any requests that involve the app resolver fail with a traceback like this. If I re-order the tests they all pass provided they are the first test.

[code]

in appresolver.py the line

[code

[2015-12-15 18:42] mkoistinen commented on #4537
I'm unable to reproduce this, per se. It would appear that in v3.2.0, this setting has no effect at all (toolbar still appears when `CMS_TOOLBAR_HIDE = True`).

[2015-12-15 18:43] evildmp commented on #4537
Then we should have documented that it was removed!

[2015-12-15 19:24] mkoistinen commented on #4537
For posterity, the PR that introduced this fix/feature was committed into the 3.1.1 release as #4056. There are good tests that still run and pass, so, perhaps there's something odd happening locally for me. None-the-less, I am fixing this specific issue.

[2015-12-15 21:48] czpython opened #4856 "Treebeard error when copying/pasting plugin"
All plugins have an internal treebeard field called ``numchild`` whose value should be how many direct children does the plugin have.

Given the structure below:

![cms_plugin_copy_error](https://cloud.githubusercontent.com/assets/994951/11824945/7edebf36-a34a-11e5-8a71-d5a533eee0bb.png)

If I copy the nested Row 1 Column plugin and paste it under another plugin like the style plugin, the new plug

[2015-12-16 13:59] mkoistinen commented on #4537
Fixed by #4854.

[2015-12-16 13:59] #4537 closed

[2015-12-17 21:41] jsma commented on #3736
I just experienced this issue again on 3.2 with an orphaned `cmsplugin_filer_file.models.FilerFile` instance. Quickly reviewed #3516 but unclear to me what, if anything, needs to be updated in cmsplugin-filer or if there are still bugs lurking in django-cms.

[2015-12-18 08:19] yakky commented on #3736
@jsma #3516 is not merged, we need to wait for the effort to cleanup the frontend testing stuff before trying to get it in

[2015-12-19 11:31] zruu opened #4860 "Can't install - Why do Django CMS want to include MySQL-python with Python 3.4.3?"
Trying to install Django CMS 3.2 with Django 1.9 and Python 3.4.3 and when it's time to install dependencies it gives me an error:

`Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/n9/t1wyb5y171df9032_fykvr8h0000gn/T/pip-build-3fncvfa2/MySQL-python`

Why do Django CMS even want to include the module MySQL-python with Python 3.4.3 as it is not supported? mysqlcli

[2015-12-19 11:53] yakky commented on #4860
Django 1.9 is currently not supported. django CMS does not depend on Mysql and allows to use any mysql driver

[2015-12-19 11:55] zruu commented on #4860
OK. Thank you for the quick reply. When do you guys think you will ship out a new release that supports 1.9?

[2015-12-19 11:57] yakky commented on #4860
No official ETA, but the end of the year is a sensible timeframe

[2015-12-19 11:58] #4860 closed

[2015-12-19 12:55] omriba opened #4861 "unable to create a project"
Hey,

I am new to django CMS, I am trying to start a new project and
keep getting the following error after using
djangocms -f -p . my_site

Creating the projectFailure occurred. Do you want to cleanup by removing

Traceback (most recent call last):
  File "c:\python27\Lib\runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "c:\python27\Lib\runpy.py", line 7

[2015-12-19 14:41] yakky commented on #4861
Issue in the installer, please check the referenced PR

[2015-12-19 14:41] #4861 closed

[2015-12-19 15:07] omriba commented on #4861
great, thanks a lot!

[2015-12-20 10:22] yakky commented on #4861
@omriba could you test https://github.com/nephila/djangocms-installer/archive/feature/force_str_osenv.zip if fixes the issue for you?

[2015-12-20 19:58] omriba commented on #4861
@yakky
its already solved using the link you gave me.
removing unicode_literals from the import

[2015-12-20 22:38] yakky commented on #4580
Fixed in #4782

[2015-12-20 22:38] #4580 closed

[2015-12-21 08:25] FinalAngel commented on #4580
awesome :)

[2015-12-21 17:16] Ichag opened #4862 "Initiation of foundation() breaks "Add plugin" button"
when including foundation 6 in your project the initiation of foundations 6 javascript will break the functionality of adding new content plugins to a page. the dialog to select a content element won't show up.

[code]
to reproduce this issue: kickstart a new cms 3.2 version and include the foundation 6 javascript.
after this you can't add a new content plugin in structure editing mode.

[2015-12-22 09:51] stephenpaulger commented on #4852
It looks like this may be because the server needs restarting after the app hooks are altered, which is mentioned in the documentation. I'm not sure why it worked with django 1.7 but willing to close this anyway.

[2015-12-22 09:51] #4852 closed

[2015-12-22 11:21] momomatteo opened #4863 "Can't see django cms mode switcher after including cms toolbar from a different template"
I've upgraded my project from djangocms 3.1.3 to djangocms 3.2.0 and now I can't switch mode from content to structure.
The switcher is not visible in every page.
Is there any extra migrations I have to apply switching these versions?

Thank You

[2015-12-22 11:39] yakky commented on #4863
@momomatteo does this happen for superuser too?

[2015-12-22 13:07] momomatteo commented on #4863
Yes I'm logged with my superuser account

[2015-12-22 16:30] leesolway commented on #4862
I can confirm this as i am having the same issue.

Foundation Version:     "foundation-sites": "~6.0.6",

[2015-12-24 16:09] tdelam commented on #3884
I can reproduce this...

https://www.dropbox.com/s/xmuqfm463m6ojro/Screenshot%202015-12-24%2011.09.49.png?dl=0

[2015-12-26 13:12] jedie commented on #4784
setup.py INSTALL_REQUIREMENTS should be changed, isn't it?

[2015-12-28 09:50] vxsx commented on #4863
Hi @momomatteo, thanks for the report. There's a small chance that it might be related to the #4808 Could you please try to [refresh your browser cache](http://www.refreshyourcache.com/en/home/)?

Otherwise it might be something else, but then we would need a bit more info (and maybe a screenshot).

[2015-12-28 11:54] creimers commented on #4862
I am experiencing a similar problem. Updating from djangoCMS 3.1 to 3.2, `$(document).foundation()` crashes Firefox and IE (both latest) in edit mode (script not responding). Chrome and Safari are fine. I'm using foundation 5.5.3.

[2015-12-28 15:23] creimers opened #4873 "djangocms 3.2 | foundation 5 | firefox --> MutationEvents warning"
django==1.8.4
django-cms==3.2
foundation=5.5.3

I'm observing a peculiar behavior after updating a project from djangocms 3.1 to 3.2.

When using ...com/?edit to login, after the POST Firefox either

* crashes
* alerts that jquery is not responding
* takes forever to load the side.

In the latter case, the console gives the following warning:
`Use of Mutation Events is deprecated. Use MutationObse

[2015-12-28 17:09] vxsx commented on #4873
I can reproduce the warning on http://foundation.zurb.com/sites/docs/v/5.5.3/components/tooltips.html
But I cannot reproduce loading problems/crashing on a clean CMS installation with foundation being initialised.

The problem you're experiencing probably comes from https://github.com/zurb/foundation-sites/blob/V5/js/foundation/foundation.tooltip.js#L145
(ref https://github.com/zurb/foundation-sit

[2015-12-28 17:43] creimers commented on #4873
@vxsx I have made the exact same reproduction experience you're describing.

The project makes heavy use of many foundation components. I am under the impression that on large pages, i.e. lots of foundation, the browser struggles more than an pages with only a few foundation elements.

Will try #4870 tomorrow and will let you know.

[2015-12-28 18:52] vxsx commented on #4862
@Ichag @leesolway would you mind trying to reproduce on `release/3.2.x` branch?

[2015-12-29 07:31] creimers commented on #4873
@vxsx #4870 does the trick for me. Thanks.

[2015-12-29 07:31] #4873 closed

[2015-12-29 13:37] mkoistinen commented on #4842
@marts can you re-try this with 3.1.4, but also make sure that you've downgraded djangocms-admin-style to version 0.2.5 and let us know if that helps?

[2015-12-29 15:01] KhumpuW opened #4877 "Manage some tables in database in Django-CMS admin interface"
I'm sorry if this is a duplicated post but i cant seem to find any document on how to do this. May be a future feature?
I want to mange some specific tables in DB the same fashion way that you can manage data from Form Builder. Maybe something similar to how can you logged data and download it in .CSV format.

[2015-12-29 15:02] trawick commented on #4323
I have django-cms==3.1.4; somehow a customer created a plugin which appears as ``Text <Empty>`` and has position=None, after which rendering the page generated this error.  I guess the fix to disallow saving a plugin with position=None will eventually be in the 3.1.x branch???  For now, anyone with the issue that can't/doesn't want to figure out which plugin to delete from the failing page can try

[2015-12-29 15:36] #4877 closed

[2015-12-29 15:36] KhumpuW commented on #4877
Misunderstanding... Sorry!

[2015-12-30 16:17] creimers commented on #4074
`./manage.py cms fix-tree` also fixed this problem for me.

[2016-01-02 12:09] Chronial commented on #3961
:+1: I was very confused by the text of the documentation. It implies that I need the caching middleware for _any_ kind of caching to happen.

[2016-01-02 12:22] Chronial commented on #3961
Note that this is not just a documentation issue. At the moment, only the old setting names work. The setting variables described in the documentation have no effect: https://github.com/divio/django-cms/blob/0986c6a783535ec8a15c9b6ac2f807a663b064a3/cms/utils/conf.py#L73

So to change the content cache duration, I need to set `CMS_CONTENT_CACHE_DURATION`. `CMS_CACHE_DURATIONS` has no effect. Tested

[2016-01-02 14:11] giraffe0813 opened #4882 "Create new project via djangocms turns out an error "can not find django-admin.py""
I want to create a new django via command "djangocms -f -p . mysite" according to the tutorial (http://docs.django-cms.org/en/develop/introduction/install.html) and it occures an error.And when I create a new project via "django-admin.py startproject mysite" , it works well.Could you please help me ?
error message:
[code]
Following is my step:
1.virtaulenv --no-site-packages env
2.source env/bin/a

[2016-01-02 15:30] #4882 closed

[2016-01-02 15:37] yakky commented on #4784
@jedie djang CMS does not depend on reversion in setup.py because it's an optional dependency, so there is no way to fix this at installation phase, except pinning django-reversion==1.8.7 in your project requirements

[2016-01-03 04:36] fivethreeo commented on #4784
What about adding features to setup.py so reversion is pinned there, look at the setup.py of celery.

[2016-01-03 09:36] yakky commented on #4784
It's an option for 3.1 / 3.2 (like we did or south).
 It was not previously possible because of the different versions of reversion required according to the Django version
In 3.2 it will be fixed shortly by supporting reversion 1.9+ anyway

[2016-01-04 07:25] FinalAngel commented on #3961
@evildmp would you be able to check this?

[2016-01-04 13:35] vakorol opened #4886 "RemovedInDjango110Warning: resolve_context() must return a dict"
This is fired immediately after a new install of django-cms 3.2.0 on django 1.8.7:

[code]

[2016-01-05 10:36] jrief commented on #4856
Today I ran into the same problem in CMS-3.2, when using the function ``cms.api.add_plugin``.

Something I don't understand, if someone adds a plugin as child to an existing plugin, then ``target is not None`` and line 345 ``plugin_base = plugin_base.move(target, pos=position)`` triggers.

Wouldn't this be the right place to recalculate the ``numchild`` for the target plugin?

[2016-01-05 14:05] czpython commented on #4856
Hello,

The numchild value is calculated by treebeard automatically.
Can you post a gist of the code you're using to reproduce the problem?

[2016-01-05 14:07] marksweb commented on #4432
Just wanted to open this again with some content from the console as I've just published two pages which created requests to `http://`

First off I published a page which lead to this;
[code]
This one offered to load the unsafe scripts in chrome.

Then I published another page which didn't offer to load unsafe scripts;
[code]

[2016-01-05 14:08] FinalAngel commented on #4432
Did you try it with the 3.2 version?

[2016-01-05 14:10] marksweb commented on #4432
@FinalAngel Unfortunately I've not had time to start migrating to 3.2 yet. It's been on my todo list for a while, but customer requests come first at the moment :(

[2016-01-05 14:52] jrief commented on #4856
Sure, the working code is here: https://github.com/jrief/djangocms-cascade/blob/master/cmsplugin_cascade/clipboard/admin.py#L109

I'll try to extract the fundamental parts:

[code]

here ``root_instance.numchild`` is set to 0 despite of its initial value of 7. I could live with that, if adding children would correct the problem.

Now, if I add another instance to the current one, say

[code]

then

[2016-01-05 15:26] bbcreatv commented on #4432
I am having the same issue while publishing on the front end on an SSL enabled site. Also using Django-CMS 3.2

    Blocked loading mixed active content

[2016-01-05 17:02] marts commented on #4842
Hi @mkoistinen, I tried downgrading djangocms-admin-style from 0.2.8 to 0.2.5 but it does not seem to help. I'm a bit confused about this...I still get the problem on my development code, although I thought the problem was also happening on fresh djangocms builds. However, I now think the browser was probably caching something from the dev build and causing the error on the fresh install. Having t

[2016-01-05 17:28] evenicoulddoit opened #4890 "For Django 1.9 support: Update RegexURLResolver"
I know you don't have 1.9 support, but to help you on your way. Haven't had much time to look further, but I get:

`ImportError: No module named cms_appresolver` caused by `cms.appresolver:124`

I think this relates to upgrade notes:

    ResolverMatch.app_name was changed to contain the full namespace path in the case of nested namespaces. For consistency with ResolverMatch.namespace, the empty v

[2016-01-06 06:03] yakky commented on #4890
See #4812 for progresses on Django 1.9

[2016-01-06 08:31] evenicoulddoit commented on #4890
Awesome, thanks for the pointer :)

[2016-01-06 11:01] altryne commented on #4714
I think I found a way to reproduce.

If you place the placeholder inside something like style=

For example:
`<div style="background-image= url({% placeholder 'abc' %})"></div>`

Then clicking the + on placeholder abc will throw that exact error

[2016-01-06 14:00] vxsx commented on #4714
@altryne that's an interesting use case
should be fixed by https://github.com/divio/django-cms/pull/4810

[2016-01-06 14:12] altryne commented on #4714
@vxsx I tried to make a placeholder receive a file and inject it as background image in css. That however didn't work, as the output of the placeholder was like this :
[code]

[2016-01-06 16:27] czpython commented on #4856
@jrief which cms version are you using?
I've tested this on release/3.2.x and it's working correctly:

[code]

[2016-01-06 19:41] creimers commented on #3811
@yakky You're asking if it was  a filer plugin. We have a customer reporting that he lost an instance of some model upon changing a FilerImageField attribute. Have you heard of this before by chance?

I have not been able to reproduce the behavior so I can not say if it indeed occurred the way described by the customer. It might as well be that they did something wrong.

[2016-01-07 12:54] Vesli opened #4894 "AttributeError: 'NoneType' object has no attribute '_inc_path' after upgrading to 3.1.4"
Hi and happy new year to everyone !

As recommended recently on stackoverflow, I upgraded to django-cms 3.1.4, ran the cms fix-tree command but...

Traceback (most recent call last):
  File
 "/var/www/webapps/lib/python3.4/site-packages/django/core/handlers/base.py", line 111, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File
 "/var/www/webapps/lib/

[2016-01-07 13:09] czpython commented on #4856
@jrief I'm closing this ticket now as the original bug has been fixed in both CMS 3.2.1 and 3.1.5.
Feel free to open a new ticket if you can reproduce the issue with ``cms.api.add_plugin``

[2016-01-07 13:09] #4856 closed

[2016-01-07 13:10] czpython commented on #4894
@Vesli hello. Did the fix-tree command finish successfully?

[2016-01-07 13:12] Vesli commented on #4894
Hi @czpython !

yes, here is the report :

fixing page tree
fixing plugin tree
all done

[2016-01-07 13:24] czpython commented on #4894
Can you try a new page?

So create a cms page, add a plugin to a placeholder and then add a child plugin to the first plugin.

[2016-01-07 13:33] Vesli commented on #4894
Well, the test you ask me as always worked. Or maybe I don't get it ;

But I did it :
create an empty page with one PH, created a Multi Columns plugin -> column -> text plugin

<img width="1419" alt="screen shot 2016-01-07 at 13 32 19" src="https://cloud.githubusercontent.com/assets/10052941/12171603/25171740-b543-11e5-9bf6-084152371139.png">

[2016-01-07 13:39] czpython commented on #4894
Cool, thanks for the screenshot. Makes things easier.
Can you post one for the page where it fails?

The test has isolated the problem to only one page.

[2016-01-07 13:49] Vesli commented on #4894
You're welcome.

ok then, step by step :

I click on a text plugin

<img width="699" alt="screen shot 2016-01-07 at 13 45 58" src="https://cloud.githubusercontent.com/assets/10052941/12171904/51a64e8c-b545-11e5-953c-eae5d6540d9a.png">

I add a cms plugin :

<img width="477" alt="screen shot 2016-01-07 at 13 47 13" src="https://cloud.githubusercontent.com/assets/10052941/12171908/5d7b39d4-b545-11e5

[2016-01-07 14:51] czpython commented on #4894
@Vesli I'm not very familiar with djangocms-blog.

How is that text plugin created?
Did you create it manually by just creating an article and then adding the text plugin to the article placeholder?

Basically the problem is that your text plugin internally is marked as having children so when you add the twitter plugin it tries to get the text plugin last child and add the twitter plugin after it

[2016-01-07 14:53] Vesli commented on #4894
It's not with djangocms-blog, my apologies, it happens with every placeholder text when I want to add one of the CMS Plugins.

[2016-01-07 15:10] czpython commented on #4894
@Vesli aha so basically you create a page, add a text plugin and then while editing text try to add another plugin and it doesn't work?

If this is the case please specify the ckeditor version also just in case the django version.

[2016-01-07 15:13] Vesli commented on #4894
Hmm I feel like I am about to be the silly one haha.
Here are the versions :
djangocms-text-ckeditor==2.4.3
Django==1.7.10

[2016-01-07 15:42] czpython commented on #4894
@Vesli please upgrade to the latest 2.7 release of ckeditor, in this case it's djangocms-text-ckeditor==2.7.1

[2016-01-07 15:55] Vesli commented on #4894
youhou it works !

Well I was the silly one, thank you so much for your time spent on simply opening my eyes...

You have my gratitude. And my apologies !!

[2016-01-07 16:12] czpython commented on #4894
@Vesli Awesome. Glad it works :)

About the blog, if you can please open a ticket on the djangocms-blog repo with traceback/steps/etc.

[2016-01-07 16:12] #4894 closed

[2016-01-07 18:35] yakky commented on #3811
@creimers honestly I don't remember why I asked if it  was a filer plugin :)
anyway, this could be possibly fixed in next 3.2 version when using reversion 1.10 which uses transactions natively (imply using Django 1.7+, though)

[2016-01-09 17:43] creimers opened #4897 "Edit nested plugin: Missing inlines."
Django==1.8.4
cms==3.2

When editing the leaf plugin in the attached screenshot, its inlines are missing (`admin.StackedInline`). They are there, however, when the plugin is initialized.

<img width="960" alt="bildschirmfoto 2016-01-09 um 18 38 44" src="https://cloud.githubusercontent.com/assets/6090492/12217433/631163e8-b700-11e5-9bcc-83a07b9525c3.png">

Is this a bug? Am I missing something, e.g

[2016-01-10 08:20] altryne opened #4898 "Docs search doesn't seem to work, asks to enable JS, can't find jquery"
Hi,
Frustrated enough to open a ticket.
Search page almost never works, and searching from google sends me to the wrong version.

Search page asks to enable JS (didn't know in 2016 there's an option to disable it anymore) and opening the console shows the following errors.

![image](https://cloud.githubusercontent.com/assets/463317/12220685/d364d5ca-b783-11e5-95b8-113f209fe1db.png)

[2016-01-12 13:52] mkoistinen commented on #4898
Confirmed.

Thanks, @altryne

[2016-01-12 14:09] mkoistinen commented on #4897
The only thing that is apparent from the screen-shot here is that the Teaser plugin doesn't accept children plugins, which I believe is by design.

Your query about the Inlines is confusing to me here. Do you mean admin.ModelAdmin.inlines? If so, the Structure mode doesn't show Admin inline forms at all. You would get to them by editing the plugin where you've defined them.

It would be more usefu

[2016-01-12 14:09] #4897 closed

[2016-01-12 14:11] mkoistinen commented on #4886
Yes. This is due to the fact that we are currently supporting Django 1.6, 1.7, 1.8 and soon, 1.9. CMS 3.3 will remove support for Django < 1.8, at which point these warnings should no longer appear.

See #4812 for progress.

[2016-01-12 14:11] #4886 closed

[2016-01-12 14:12] #4890 closed

[2016-01-12 15:48] creimers commented on #4897
The teaser plugin does not accept child plugins by design, correct.

I know that the structure mode does not show any inline forms. I'm talking about inlines in the cms admin modals upon initialization/editing.

I think we are talking about the same kind of inlines.

Here's my plugin definition:

[code]

Also I have additional info from the error log when saving the instance with the missing inlin

[2016-01-12 16:16] czpython opened #4904 "Invalid translation in permissions page"
The permission settings have a formset called "View restrictions" and this formset picks up the language configured in ``settings.LANGUAGE_CODE`` and not the user (thread) language.

![cms-bug-permission](https://cloud.githubusercontent.com/assets/994951/12268584/6d4cab2a-b91b-11e5-9c36-54070b253c54.png)

To-Do:

- [x] Merge #4902 into 3.2.x
- [x] Forward port to 3.3.x
- [x] Backport to 3.1.x

[2016-01-12 16:19] czpython opened #4905 "Page wizard does not respect CMS_PERMISSION setting"
The page wizard form checks the ``GlobalPermission`` model which should only be checked then the ``CMS_PERMISSION`` setting is set to ``True``.

https://github.com/divio/django-cms/blob/develop/cms/cms_wizards.py#L36

- [x] Merge #4908 into 3.2.x
- [x] Forward port to 3.3.x

[2016-01-12 19:57] leesolway commented on #4862
Tested with the 3.2.x release branch -- seems to be working

[2016-01-12 23:18] czpython commented on #4904
Fixed by #4902

[2016-01-12 23:18] #4904 closed

[2016-01-13 07:09] #4862 closed

[2016-01-13 20:12] czpython opened #4913 "Parent restriction not respected in clipboard"
The CMS toolbar does not respect the plugin parent restrictions when the plugin is copied (into the clipboard).

This was first reported in https://github.com/divio/django-cms/pull/4559

- [x] Merge #4914 into 3.2.x
- [x] Forward port to 3.3.x (#4916)

[2016-01-14 09:46] vxsx commented on #4913
frontend tests are a thing in a fork and they will not be merged for some time, so I'd suggest mergin/forwardporting and i'll do the tests separately

[2016-01-14 13:00] #4905 closed

[2016-01-14 16:52] momomatteo commented on #4863
I've tried to refresh my browser cache but nothing changed.
Here I have my header bar before editing:
![close_bar](https://cloud.githubusercontent.com/assets/6272397/12330701/bb945cf2-bae6-11e5-8599-7e9bb4b5afe1.png)
and then after I click Edit button:
![open_bar](https://cloud.githubusercontent.com/assets/6272397/12330739/e39b0250-bae6-11e5-8934-a7b7ab8b76a1.png)

Content and structure switcher

[2016-01-14 16:58] facconi commented on #4863
I have the same issue.

Part of my requirements:

    Django==1.8.8
    django-cms==3.2.0
    djangocms-admin-style==1.0.7

[2016-01-14 17:04] facconi commented on #4863
The code is present in the html, but not shown on the page:

[code]

In cms.base.css at row 3:

```display: none;```

[2016-01-14 18:13] yakky commented on #4863
@momomatteo / @facconi superuser or staff user?

[2016-01-14 18:19] vxsx commented on #4863
@momomatteo / @facconi are there any errors in browser console?

The switcher is hidden by default and then shown when structureboard javascript is initialized.
Requirements for the switcher to be shown are:

- There is a switcher in the dom
- There are "structureboard" placeholders on the page (rendered as `<div class="cms-dragarea">`
- There are "content" placeholders on the page (rendered as `<

[2016-01-14 18:19] #4913 closed

[2016-01-14 18:24] facconi commented on #4863
superuser (and staff!)

[2016-01-14 18:32] momomatteo commented on #4863
@vxsx it seems that "structureboards" placeholders aren't on the page.
There are no elements with class "cms-dragarea".
The browser console reports no errors.

[2016-01-14 18:48] vxsx commented on #4863
@momomatteo then in your case it seems that there is nothing you can really do in the structure mode (as it has no placeholders) - that's why the switcher doesn't show up.

Is it correct that the page has no placeholders (and no plugins for that matter)?

[2016-01-15 11:31] evildmp opened #4920 "Content in static placeholders is not subject to reversion"
Changes to (say) a text plugin in placeholder will be tracked by reversion.

This appears not to be the case for static placeholders.

Reported by @ubernostrum:
- https://botbot.me/freenode/django-cms/2016-01-15/?msg=57992263&page=1
- django-cms==3.2.0
- djangocms-text-ckeditor==2.8.1
- django-reversion==1.8.7

I can reproduce the issue on django CMS 3.2.0.26.

[2016-01-15 11:34] momomatteo commented on #4863
This problems happens in all the pages.
For example in homage I have 4 placeholders and the older plugins attached to them are still present.
This is my placeholders configuration in setting:
[code]

[2016-01-15 13:10] yakky commented on #4920
@evildmp correct. Issue is that static placeholders does not have any UI by itself; even publishing / unpublishing them is demanded to any page they are attached to.
Reversion definitely needs its own UI because the history cannot be shared with a page.
In 3.2 we can only document this, I think

[2016-01-15 14:14] czpython opened #4922 "Unable to restore app hooked pages on 3.2.x"
PR #4883 introduced reversion 1.10.x support on the CMS.

Due to the way reversion 1.10.x works, the page object is restored and then saved using the change form logic but the PageAdmin's save_model assumes that the page has not yet been created and so tries to create a temporary page to get the treebeard attributes but this fails because things like application_namespace are unique at the databas

[2016-01-15 14:54] yakky commented on #4922
:+1:

[2016-01-15 14:55] yakky commented on #4922
I expect some minor (hopefully minor) regressions. 1.10 changed a awful lot of things.
In 3.3 / 3.4 it's better to rethink reversion and have a cleaner API

[2016-01-15 19:11] czpython commented on #4922
@yakky please have a look.

[2016-01-16 03:04] RocketBrain opened #4924 "Wrong Documentation On Tutorial"
http://docs.django-cms.org/en/develop/introduction/plugins.html

Inside of the cms_plugins.py I had to write the following name for it to work:

class PollPluginPublisher(CMSPluginBase):
    model = PollPluginModel  # model where plugin data are saved
    module = _("Polls")
    name = _("Poll Plugin")  # name of the plugin in the interface
    render_template = "djangocms_polls/poll_plugin.html"

[2016-01-16 19:11] creimers commented on #4897
<img width="313" alt="bildschirmfoto 2016-01-16 um 19 40 22" src="https://cloud.githubusercontent.com/assets/6090492/12373963/48fb8f78-bc8d-11e5-871a-7a4648a91617.png">

I had a `__str__` method in python2...

[2016-01-18 14:34] pawelmarkowski commented on #4323
Hello,
@trawick djangocms_text_ckeditor generates this problem (with Null position). Example from sql log:

INSERT INTO `cms_cmsplugin` (`path`, `depth`, `numchild`, `placeholder_id`, `parent_id`, `position`, `language`, `plugin_type`, `creation_date`, `changed_date`) VALUES ('07IL0001', 2, 0, 3061, 32748, NULL, 'en', 'TextPlugin', '2016-01-18 14:51:07', '2016-01-18 14:51:07')

I have to take a lo

[2016-01-18 14:51] pawelmarkowski commented on #4323
position = models.PositiveSmallIntegerField(_("position"), default = 0, editable=False) # solves my problem, but we have to investigate source

[2016-01-18 16:39] benjhastings opened #4928 "cms.utils.permissions - get_user_permission_level - AttributeError 'Page' has no attribute 'level'"
As the title suggests, the "get_user_permission_level" function in cms.utils.permissions tries to return the level of the page and falls over with an AttributeError.  I don't think this is something that I have messed up (I am adding the CMS to an existing project that was on django 1.5, upgrading to django 1.8.8 in the process so I have to contend with the new migrations).
This is using version 3

[2016-01-18 19:48] jonathanherzog opened #4929 "cms.changelist.js thinks my static files are local (?)"
I just attempted to upgrade from Django-CMS 3.0.3 to 3.2 and hit a snag. When I try to load my page, the toolbar looks like it has no styling applied to it, and Chrome's console tells me that `bundle.admin.changelist.min.js` is trying to load some CSS from the URL:

http://my-origin-dns-name.comhttp//my-s3-bucket/cms/js/jstree/themes/default/style.css

Digging into the javascript, I *think* the pr

[2016-01-18 21:42] czpython opened #4931 "Impossible to override CMS_CACHE_DURATIONS"
The [docs](http://docs.django-cms.org/en/develop/reference/configuration.html#cms-cache-durations) point out that it's possible to override the ``CMS_CACHE_DURATIONS`` setting for more control over the CMS caching. This unfortunately does not work.

The CMS completely ignores the ``CMS_CACHE_DURATIONS`` setting defined at the project level and instead will use the following defaults:

[code]

As s

[2016-01-19 08:57] vxsx commented on #4929
thanks a lot for the report!

first problem (no styling) might be related to https://github.com/divio/django-cms/issues/4808
the page tree styles being loaded from incorrect place is a bug

[2016-01-19 12:00] creimers commented on #3811
@yakky This problem persists for me in a djangocms 3.2 project. The customer changes a filer image in a custom plugin, upon which the whole plugin 'disappears' . Trying to use 'undo' results in `Page has no publisher_draft`.

If I access the concerning Page model via `manage.py shell` and restore the publisher draft, the plugin on the page indeed claims to be empty (German: 'Leer'):

<img width="4

[2016-01-19 12:22] yakky commented on #3811
@creimers reversion 1.10 natively implements transaction support.
reversion 1.10 support should be released in next 3.2 patch version (current release/3.2 already implements the basic 1.10 support, but some fixes are still in the work)
Alternatively you can check https://github.com/divio/django-cms/pull/4235 which is not going to be merged because of issues with mysql

[2016-01-19 13:45] creimers commented on #3811
@yakky Sorry, it was a layer 8 problem after all. The customer was deleting a filer image that was still used by other plugins and the respective fields did not have 'on_delete = models.SET_NULL'...

[2016-01-19 16:43] #4922 closed

[2016-01-19 19:51] Wirzi opened #4937 "Problem publishing a page"
I get this error when i try to publish a page.
Tested django-cms versions: 3.1.3, 3.1.4, 3.2

[code]

Any idea why?

*Edit*:
I don't know if it has something to do with it, but i used `python manage.py cms copy-lang de rm` before.

[2016-01-20 12:23] mikemcgowan commented on #3274
Hello.

We've experienced this sporadically in recent weeks in Django 1.7, Django-CMS 3.1. Unfortunately, it can basically bring a site down due to unhandled exceptions in `cms.api.get_page_draft`.

I've written a Django management command (tested on Python 2.7, Django 1.8.8, Django-CMS 3.2.0) to fix broken `cms_page.publisher_public_id` columns:

[code]

Note that when it's looking for the draft

[2016-01-20 12:24] mikemcgowan commented on #3274
By the way, we're using MySQL 5.6.17 in production.

[2016-01-20 12:35] dmk12 opened #4938 "No module 'cms.middleware.utils.ApphookReloadMiddleware'"
According to the [documentation of DjangoCMS 3.2.0](http://docs.django-cms.org/en/3.2.0/how_to/apphooks.html) I should add `cms.middleware.utils.ApphookReloadMiddleware` to `MIDDLEWARE_CLASSES` in my `settings.py` file in order to make the server auto reload whenever there's a changed to my AppHooks.
However, when I do this
[code]
I get an error `ImportError: No module named utils` in terminal and