[2015-03-27 11:18] mkoistinen opened #3971 "Changes in Chrome breaks ability to scroll modal dialogs on Mac OS X"
Relevant numbers:

django CMS: 3.0.12
Chrome:  41.0.2272.104
Mac OS X: 10.10.2

Continues to work as expected in Firefox and Safari.

Here's a screencast of the issue with comparison to other browsers: http://cl.ly/3W2h1V1o1g35

[2015-03-27 11:33] mkoistinen commented on #3971
Probably relevant: https://code.google.com/p/chromium/issues/detail?id=440504#c4

[2015-03-27 16:17] davidetruffo opened #3972 "Google maps API (v3) and modals on chrome"
Hi!
I have a template with a map, and I'm initialising it using gmaps API V3. So far so good.
BUT, in edit mode, when i double click on some content to edit (in the screenshot attached it's a filer-teaser plugin in a placeholder) I see the modal (to edit the teaser) but i can't see the buttons in the bottom (save, cancel, home and breadcrumbs). The weird thing is that they are in the DOM and they

[2015-03-27 16:29] davidetruffo commented on #3972
Nevermind, it magically works now. Don't know why, don't know how. Everybody is happy! :)

[2015-03-27 16:29] #3972 closed

[2015-03-28 07:10] vxsx commented on #3972
I've been running into this from time to time, it's an issue with composite layer rendering in chrome. Basically if something is being transitioned under the modal it can behave like that. Setting
[code]
solved the issue for me.

[2015-03-28 07:15] yakky commented on #3972
@vxsx is something we may consider adding to the default Django CMS styles?

[2015-03-29 20:27] jsma commented on #3655
I'm on develop and this does appear to resolve the issue.

[2015-03-29 21:18] yakky commented on #3655
@jsma thanks!

[2015-03-29 21:21] jsma commented on #3654
This appears to still be a problem on develop. Maybe there is more work required beyond applying this PR but it seems that the page is already deleted, so when it attempts `obj = ctype.get_object_for_this_type(pk=pk)` it doesn't exist and returns the empty string as the redirect url (so it just reloads the url for the deleted page, 404-ing).

[2015-03-30 10:04] jedie commented on #3654
Think this also happens if you rename a page, too. IMHO i see this with 3.0.12 but i must test it again...

[2015-03-30 14:33] davidetruffo commented on #3972
@vxsx thanks for the tip! it happened again today, but i haven't touched the code..and after a while it was gone again..

[2015-03-30 15:32] avoine commented on #3501
Just got this problem (3.0.12).

In my case, I had a page that I removed the reverse_id it but did not publish the changes.
Then I created a new page with the same id and got the error when I tried to publish it
or change the reverse_id of the old one.

I had to manually remove the old one in the database with:

  update  cms_page  set reverse_id=""  where id =....;

[2015-03-30 15:59] yakky commented on #3501
@avoine thanks for the steps to reproduce.
I've been able to reproduce myself.
We should make the publish fail in a cleaner way

[2015-03-30 17:38] avoine commented on #3274
I got this error too after a migration or maybe after the publisher_publish django command.
It's like the draft version is losing the link to his published version and vice-versa.

I got this:

mysql> SELECT id, publisher_is_draft, publisher_public_id FROM cms_page where reverse_id='services';+------+--------------------+---------------------+
| id   | publisher_is_draft | publisher_public_id |
+-

[2015-03-30 18:29] avoine commented on #3274
I tried to redo the migration and everything went fine. So I guess the problem is really to do all the commands after the migration in the right order:

1. migrate
2. cms moderator on
3. publisher_publish

[2015-03-30 20:37] jrief opened #3973 "ImportError: cannot import name PageUser"
How to reproduce:

* django-1.6.x
* django-cms==3.0.x

substitute the usermodel as described [here](https://docs.djangoproject.com/en/1.6/topics/auth/customizing/#substituting-a-custom-user-model).

Run the application in uwsgi.

Then this import error will happen:

[code]

The problem here is that model ``PageUser`` wants to inherit from a customized model. This can't work and even if, one would

[2015-03-31 09:54] jrief commented on #3973
By reading the code of **django-cms**, it seems impossible to substitute the usermodel. The reason is, that many models (``GlobalPagePermission``, ``PagePermission``, ``PageUser`` and ``UserSettings``) in django-cms refer onto the table ``auth_user``. This is hard coded and can only be changed if one would recreate all migrations for the cms. This certainly is not a very robust solution.

Therefor

[2015-03-31 16:29] leonsmith commented on #3572
I can't find any indication that there will be a 3.0.13 release so I'm presuming this fix has been rolled into 3.1?

Is there any possibility of getting a final 3.0.13 release? we have a few sites between 3.06 - 3.0.12 versions and running the upgrade path for 3.0X to 3.1 seems a little step to get a fix for this bug?

[2015-03-31 20:24] mkoistinen commented on #3973
Unable to reproduce. I've created a django CMS 3.0.12 project under Django 1.6 using a custom user model as per the docs. My code is here if anyone else wants to have a go: https://gist.github.com/mkoistinen/aae6aec979afe471e02f.

The project works as expected locally, so I then moved it to a Nginx server using µWSGI. It continues to work as expected.

I've provided this feedback to @jrief. Closin

[2015-03-31 20:24] #3973 closed

[2015-03-31 22:30] Hamms commented on #3252
Any updates on this proposed feature? I'm encountering the exact same use case as @o-zander, and would love to give my designers a simple preview mode.

[2015-04-01 06:35] FinalAngel commented on #3252
We are working on solutions for 3.2 :)

[2015-04-02 13:58] skrzypek opened #3977 "Missed migration django-cms: 3.0.12"
`./manage.py makemigrations`

Create migrate for `cms`
[code]

code:

[code]

Django-cms: 3.0.12
Dajngo: 1.7.7

It's looks like someone forgot add a migration.

[2015-04-02 21:51] Moini opened #3978 "Documentation: User tutorial - publish a page: suggestion for improvement"
I just checked out your user tutorial (to see if it contains something which should be linked from our own translators' guide).
Here (http://docs.django-cms.org/en/support-3.0.x/user/tutorial/publish_page.html) I read that
'only you can see it.' (the draft). In my experience, this is not correct, as drafts are not saved per editor.
So I think it should maybe better be something like 'only people w

[2015-04-03 00:21] mfcovington commented on #3279
@yakky

What is that command? Thanks.

[2015-04-03 06:53] yakky commented on #3572
@leonsmith 3.0.13 will be issued shortly

[2015-04-03 06:54] yakky commented on #3279
@mfcovington http://django-cms.readthedocs.org/en/support-3.0.x/reference/cli.html#additional-commands

[2015-04-03 06:55] yakky commented on #3978
@Moini thanks for the suggestions

[2015-04-03 06:56] yakky commented on #3977
Duplicate of #3572
Will be fixed in 3.0.13 due soon

[2015-04-03 06:56] #3977 closed

[2015-04-03 08:18] skrzypek opened #3979 "#TypeError: CMS.API.changeLanguage is not a function"
When i'm in the `Advanced Settings` and trying to change language (by `hvad` tab),
js console response a bug: Firefox 37.0 on Ubuntu

[code]

And sometimes :

[code]

[2015-04-03 08:30] FinalAngel commented on #3971
@Marketionist just tried with CMS 3.1 and latest Chrome and works for me, can you confirm?

[2015-04-03 08:47] FinalAngel commented on #3109
also in regards to https://github.com/divio/django-cms/issues/3110 the cms will be available as soon as ``{% cms_toolbar %}`` is available - closing

[2015-04-03 08:47] #3109 closed

[2015-04-03 08:49] FinalAngel commented on #3028
This requires more steps within the backend to give me this feedback

[2015-04-03 09:32] sephii opened #3981 "PageField lists pages available in current user language instead of page languages"
If you use a `PageField` in one of your plugins, then the only pages the user can link to are the pages that are in the same language as the preferred language of the user. The correct behaviour should be to put the pages that are in the same language as the page that is currently edited instead.

Here are the references in the code:
https://github.com/divio/django-cms/blob/38955c35a6e137343d5d1ec

[2015-04-03 15:24] glic3rinu commented on #2197
Stumbled here after googling for this error. My app produces a very similar error, not fully understanding why yet, but what I've seen is that the *order* in which Django ORM deletes related objects is non-deterministic, and I believe this explains why some times breaks and sometimes don't.

[2015-04-03 20:05] frishberg commented on #789
I just came up against something similar, though it had to do with the `unique_together` for reverse_id, publisher_is_draft, and site, as well as two other constraints. I ended up adding an `AppConfig` to my project's main app, using a `post_migrate` hook to execute queries modifying the constraints so they filter for `IS NOT NULL`. Note that you have to have a `models.py` in your app, or `post_mi

[2015-04-04 12:38] mkoistinen commented on #3936
Thanks, @yakky for the fix and all those reporting!

[2015-04-04 12:39] mkoistinen commented on #3971
This issue is for 3.0.12 and it still exists for me. I have noticed that if I move the modal (click-drag the title-bar of the window), the problem goes away. We'll still need a fix though, for 3.0.x.

[2015-04-04 12:41] #3952 closed

[2015-04-04 12:45] mkoistinen commented on #3949
Thanks for the report @timgraham and the fix @yakky!

[2015-04-04 12:45] #3949 closed

[2015-04-04 12:56] mkoistinen commented on #3921
Thanks for the documentation update, @evildmp, committed.

From what I can tell, it appears that what now needs to happen to prevent this is, when there is a new static_placeholder discovered, without the 'site' flag, we need a code-side check to make sure that there is not already an existing static placeholder with the same name and whose site_id column is set to NULL. Relying on the database to

[2015-04-04 13:01] mkoistinen commented on #3532
What's the status on this. It looks like its getting stale =(. @marksweb any chance you could supply a repeatable set of steps or, better yet, a simple project with said behaviour? I'd like to get this into 3.0.13 if we can get this quickly.

[2015-04-04 13:21] mkoistinen commented on #3663
Assigning myself to test.

[2015-04-05 13:42] yakky commented on #3028
@FinalAngel let's talk about the support you need on the backend

[2015-04-05 13:57] jkessel opened #3983 "3.2 Installer does not work with Python 3"
I tried to run the installer on Debian 7 with Python 3.2.3 and am getting the following error message

---

(env)jkessel@debian:~/djangoCMS$ vim /home/jkessel/djangoCMS/env/lib/python3.2/site-packages/djangocms_installer/config/\__init\__.py
(env)jkessel@debian:~/djangoCMS$ djangocms -p my_demo
Traceback (most recent call last):
  File "/home/jkessel/djangoCMS/env/bin/djangocms", line 7, in <modul

[2015-04-05 15:35] #3942 closed

[2015-04-05 15:37] yakky commented on #3983
Python 3.2 is not supported by django-cms  and djangocms-installer, you must upgrade to python 3.3

[2015-04-05 15:37] #3983 closed

[2015-04-05 15:39] yakky commented on #3979
Which version of django-cms?

[2015-04-05 15:40] yakky commented on #3967
Closing this as strictly not-related to django CMS core

[2015-04-05 15:40] #3967 closed

[2015-04-05 16:26] skrzypek commented on #3979
Sorry:
Django-cms==3.0.12

[2015-04-06 14:11] aholmback opened #3986 "django.db.utils.OperationalError: duplicate column name: lft"
Following the tutorial http://docs.django-cms.org/en/support-3.0.x/introduction/install_from_scratch.html, The djangocms-installer terminates with the following error (with version 3.0, it works with 2.4):
[code]
The error occurs when the script attempts creating the table cms_cmsplugin:
[code]

[2015-04-07 07:53] marksweb commented on #3532
@mkoistinen Unfortunately I've not tried to run tests on any CMS projects since this issue arose.

The next time I encounter something like this I'll try to replicate in an empty project so that it can be investigated.

[2015-04-07 10:12] samuelblattner opened #3987 "Page- and title extensions not copied properly when duplicating pages"
1. Duplicate a page that has a page extension using the cms tree copy function
2. Notice that the duplicated page seems to have copied the page extension as expected
3. Delete the duplicated page
4. Notice that the source page has lost its page extension, too.

I suppose it's because the extension copy mechanism was originally written to publish pages which works perfectly well. However, when I fo

[2015-04-07 10:12] JarrenceMelie commented on #3986
The same issue...

[2015-04-07 11:02] treavis opened #3989 "{% trans "Save and close" %} does not have translations."
There seems to be no translations in .po files for string - {% trans "Save and close" %}, from cms/templates/cms/toolbar/items/live_draft.html template line 5.

[2015-04-07 11:57] lunanoko opened #3990 "Registering a CMSAttachMenu gives unpredictable results"
**Django version 1.6.11
DjangoCMS version 3.0.12**

The following code doesn't work as expected:

[code]

When using this code either of the following 3 scenarios happen:

* In the Page admin the menu does not show up under _attached menu_
* In the Page admin the menu shows up twice under _attached menu_
* In the Page admin the menu shows up once under _attached menu_

In the first scenario, the m

[2015-04-07 12:01] kakulukia commented on #3513
even tho i have the migration modules set i still get this error, but only when i try to create a test database .. makemigrations and migrate commands work

what could cause this?

here is my traceback:

Traceback (most recent call last):
  File "./manage.py", line 17, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/andygrabow/.virtualenvs/backend/lib/python2.7/site-packages/dja

[2015-04-07 12:07] yakky commented on #3987
In which django CMS version?

[2015-04-07 12:13] yakky commented on #3989
Source on transifex has been updated.

[2015-04-07 12:32] #3989 closed

[2015-04-07 12:54] evildmp commented on #3675
I still get a lot of test failures thanks to frontend testing problems, on Mac OS X.

[2015-04-07 15:32] marksweb opened #3992 "Plugin's PlaceholderField - unexpected kwarg 'editable'"
I've added a PlaceholderField to a plugin model & it's resulted in a `TypeError: render_placeholder() got an unexpected keyword argument 'editable'`

In the template where I render the plugin I just do the usual `{% render_placeholder object.my_placeholder %}`

Is it not possible to add a PlaceholderField to a CMSPlugin model?

[2015-04-07 18:05] rando305 opened #3993 "django 1.8"
Is there an expected timeframe for support of Django 1.8?

[2015-04-07 18:37] evildmp commented on #3178
@yakky this is in the develop branch - what else needs to be done, other than close the issue?

[2015-04-07 19:29] yakky commented on #3993
Django 1.8 support will be provided in a 3.1 patch release. No commitment to a specific ETA, but should land in a few weeks. A more detailed timeframe after final 3.1 release.

[2015-04-07 19:40] yakky commented on #3178
@evildmp Nothing, closing this

[2015-04-07 19:40] #3178 closed

[2015-04-07 19:43] yakky commented on #3990
This has been fixed in #3950 and will be released in 3.0.13

[2015-04-07 19:43] #3990 closed

[2015-04-07 19:49] yakky commented on #3979
I cannot reproduce this.
Could you provided more context?

[2015-04-07 19:57] yakky commented on #3986
This is caused by django-mptt 0.7. A release to fix the mptt version will be issues soon

[2015-04-07 20:10] evildmp commented on #3178
@yakky sorry, apparently it was open so that @mkoistinen could cherry-pick it into support - but there ought to be a better way of signalling that than leaving issues open, I feel!

[2015-04-07 20:12] yakky commented on #3178
@evildmp it's been merged in develop 8 months ago, there should be no need to port it to support

[2015-04-07 20:22] #3561 closed

[2015-04-07 20:23] yakky commented on #3246
Fixed in #3980

[2015-04-07 20:23] #3246 closed

[2015-04-07 20:23] yakky commented on #3291
Fixed in #3980

[2015-04-07 20:23] #3291 closed

[2015-04-07 20:23] yakky commented on #3039
Fixed in #3980

[2015-04-07 20:23] #3039 closed

[2015-04-07 20:23] yakky commented on #3347
Fixed in #3980

[2015-04-07 20:23] #3347 closed

[2015-04-07 21:42] yakky commented on #3986
Fixed in nephila/djangocms-installer/#170

[2015-04-07 21:46] #3986 closed

[2015-04-07 22:44] #3519 closed

[2015-04-08 07:16] samuelblattner commented on #3987
3.0.12

[2015-04-08 08:06] #3784 closed

[2015-04-08 08:06] evildmp commented on #3784
Fixed in #3951

[2015-04-09 08:38] viatoriche opened #4000 "Feature request: serialization page(s) to file, and restore on another site/host"
Example: button "Save page to file" -> download this file -> :: On another site: button "Create page from file" -> upload file -> Voila

[2015-04-09 09:22] sephii opened #4001 "Document apphooks behaviour regarding publication state"
If you create (or translate) a page with an apphook, as long as you don't publish it the page will appear as a standard CMS page, because only URLconfs from apphooks of published pages are loaded.

This also leads to a tricky case: if you have a parent page that's not published, and you create a child page with an apphook, if you try to publish the child page, it will go in pending state because o

[2015-04-09 13:34] Kseoni4 opened #4003 "Atribute Error: 'NoneType' object has no attribute 'strip'"
Hi, I'm very new in python and django.
When I install Django-cms on my local server (with OpenServer) and try to add new page, I had get this error:

AttributeError at /en/admin/cms/page/add/

'NoneType' object has no attribute 'strip'

Request Method: 	POST
Request URL: 	http://127.0.0.1:8000/en/admin/cms/page/add/?language=en
Django Version: 	1.7.7
Exception Type: 	AttributeError
Exception Value

[2015-04-10 06:00] origingod opened #4004 "when using other languages, cms side iframe could not resolve correctly."
[code]

[2015-04-10 09:14] #3849 closed

[2015-04-10 09:50] jrief opened #4005 "Circular dependency problem, if auth.User has been substituted"
This is the problem:

``PageUser`` normally is derived from ``auth.User``, but if a customized User model is used, it inherits from that class.

This customized User class is loaded with other models, some of which may import models from the CMS, for instance ``PlaceholderField``. The latter imports ``PageUser`` which causes a circular dependency.

By separating the classes and moving some import

[2015-04-10 11:13] yakky commented on #4003
Could you paste the complete traceback on dpaste or similar to have more context? Did you used djangocms-installer? If so, which parameters have you provided?

[2015-04-10 11:14] yakky commented on #4004
Have you setup ``LANGUAGES`` and ``CMS_LANGUAGES`` according to the different languages?

[2015-04-10 11:23] Kseoni4 commented on #4003
No, I did't use djangocms-installer (cause of strange errors of database when I try to install). I make install from this guide http://docs.django-cms.org/en/support-3.0.x/how_to/integrate.html#installing but w/o virtualenv
And I try add new page with blank template (without any code).

So, traceback:

Environment:
Request Method: POST
Request URL: http://127.0.0.1:8000/en/admin/cms/page/add/?lang

[2015-04-10 11:48] vinitkumar commented on #2911
I still get this error on using aldyrn-newblog with django-cms: 3.0.12

[code]

[2015-04-10 11:58] yakky commented on #2911
@vinitkumar is the page 28 the page the blog is attached to? it looks so

[2015-04-10 12:03] vinitkumar commented on #2911
Yes. It is.

[2015-04-10 12:16] yakky commented on #2911
So that's correct message. When you publish a page with an apphook on it, you must restart the instance or anyway reload ROOT_URLCONF

[2015-04-10 12:33] vinitkumar commented on #2911
@yakky Uploaded the gif. Please take a look.

[2015-04-10 13:14] yakky commented on #2911
@vinitkumar apparently this depends on setting up the correct template inheritance in the blog

[2015-04-10 22:28] jproffitt opened #4007 "render_model template tag doesn't show correct change list"
Looking at the docs here http://django-cms.readthedocs.org/en/latest/how_to/frontend_models.html#model-changelist, it says you can show the model change list by using the special "changelist" field name.

But no matter what model instance I use, and no matter what view_url I pass in, the change list that shows in the modal is always the cms pages list. I would expect the change list for the model

[2015-04-11 04:34] vinitkumar commented on #2911
@yakky I am sorry, I didn't get you. How would I do that?

[2015-04-11 20:48] yakky commented on #2911
@vinitkumar your issue is unrelated and fixed in aldryn/aldryn-newsblog#169

[2015-04-11 22:28] yakky commented on #3735
@jsma addressed in #4009

[2015-04-12 04:30] vinitkumar commented on #2911
@yakky Thanks.

[2015-04-12 12:13] shadow-identity opened #4010 "docs: some of migration modules should be removed"
Looks like here http://docs.django-cms.org/en/3.1.0rc1/how_to/integrate.html#installing-and-configuring-django-cms-in-your-django-project migration modules settings of the plugins should be removed because it doesn't works with it, but works without under 3.1.0rc1.
But I can be wrong, please check it.
[code]

[2015-04-12 18:25] yakky commented on #4010
Thanks, PR submitted to fix it

[2015-04-13 00:48] linix-mod commented on #3436
Moved mentioned migration-models

from original origin in file

to initial file:

and did a sqlmigrate on both files (sqlmigrate cms 0001_initial & sqlmigrate cms 0002_auto_20140816_1918).

Works like a charm without any more modifications!

At https://docs.djangoproject.com/en/1.7/topics/auth/customizing/#substituting-a-custom-user-model  its described that:

 "PageUserGroup" and "PagePermission"

[2015-04-13 13:38] mkoistinen commented on #3957
Closed by #3997

[2015-04-13 13:38] #3957 closed

[2015-04-13 13:39] mkoistinen commented on #3931
Closed by #3947

[2015-04-13 13:39] #3931 closed

[2015-04-13 14:07] #3962 closed

[2015-04-13 14:10] #3663 closed

[2015-04-13 14:12] mkoistinen commented on #3654
Fixed by #3894

[2015-04-13 14:12] #3895 closed

[2015-04-13 14:13] mkoistinen commented on #3766
Fixed by #3894

[2015-04-13 14:13] #3766 closed

[2015-04-13 14:14] mkoistinen commented on #3655
Fixed by #3894

[2015-04-13 14:14] #3655 closed

[2015-04-13 15:19] mkoistinen commented on #3922
Closed by #4014

[2015-04-13 15:19] #3922 closed

[2015-04-13 15:19] mkoistinen commented on #3456
Closed by #4014

[2015-04-13 15:19] #3456 closed

[2015-04-13 15:29] mkoistinen commented on #3971
I'm no longer able to reproduce once #3934 is committed.

[2015-04-13 15:29] #3971 closed

[2015-04-13 15:53] mkoistinen commented on #3921
@mike The relevant code is here: https://github.com/divio/django-cms/blob/develop/cms/templatetags/cms_tags.py#L1120-L1126

I think the scenario could be something like this:

1. create a static_placeholder on site 1 constrained to the site with {% static_placeholder "sample" site %}. This should create an entry like StaticPlaceholder.objects.create(code="sample", site_id=1, ... )
2. create a seco

[2015-04-13 15:53] #3921 closed

[2015-04-14 09:39] skrzypek commented on #3979
Sure,
My position on browser : http://127.0.0.1:8000/en/admin/cms/page/1/advanced-settings/
Available languages :
[code]

And: on enter this page (advanced settings) js console return a bug
[code]

Also, when i try to click on `hvad tab` to change language, js console response a bug
[code]

[2015-04-14 10:43] marksweb commented on #3940
I'm going to close this. I believe the jtree style sheet wasn't being added on the unfiltered tree for some reason, so in the base template I simple removed the `{% if cl.is_filtered %}` block to ensure the stylesheet is always included from the template, so the JS doesn't have to add it stylesheet.

[2015-04-14 10:43] #3940 closed

[2015-04-14 11:07] mkoistinen commented on #3987
I can confirm that this is a bit of a mess right now. And that the `blocker` tag is necessary. =)

[2015-04-14 11:39] anishukserg opened #4016 "Error migrate django-cms-3.0.12"
Hi! I install django-cms-3.0.12
run python2.7 ./manage.py migrate
and recive:
ERRORS:
cms.AliasPluginModel: (models.E005) The field 'level' from parent model 'cms.cmsplugin' clashes with the field 'level' from parent model 'cms.cmsplugin'.
cms.AliasPluginModel: (models.E005) The field 'lft' from parent model 'cms.cmsplugin' clashes with the field 'lft' from parent model 'cms.cmsplugin'.
cms.AliasP

[2015-04-14 11:53] yakky commented on #4016
Please install ``django-mptt==0.6.1`` and migrate again.
This is fixed in 3.0.13

[2015-04-14 11:53] #4016 closed

[2015-04-14 13:22] #4010 closed

[2015-04-14 15:32] mkoistinen commented on #4001
Closed by #4020

[2015-04-14 15:32] #4001 closed

[2015-04-14 15:33] yakky opened #4021 "Wrong handling of multiple apphooks instances in new apphooks config implementation"

[2015-04-14 15:33] yakky commented on #4021
A fix is in the works

[2015-04-14 16:08] mkoistinen commented on #3987
Fixed by #4019

[2015-04-14 16:08] #3987 closed

[2015-04-14 22:42] ldgarcia opened #4023 "Update language middleware for Django 1.8"
The language middleware needs an update because the key `django_language` has been deprecated in Django 1.7.

From the [docs](https://docs.djangoproject.com/en/1.7/releases/1.7/#internationalization):

Django 1.8 drops backwards compatibility.

[2015-04-15 08:54] zanderle opened #4027 "context is missing 'language'"
I am using a [plugin for markdown](https://github.com/bitmazk/cmsplugin-markdown) and when I try to edit the content in the plugin, I get a key error, because the context is missing `'language'`.

The plugin is extending `templates/admin/cms/page/change_form.html` and it fails when calling `page_submit_row` template tag. The actual exception happens when trying to get `'language'` from the context

[2015-04-15 12:48] basilelegal opened #4029 "cms modal window issues"
I encounter some issues with the cms modal window on the 3.0.x version:

- If the content of a numeric input is not valid and you still try to save the model.
  The browser (recent browser with validation type) displays a "Please enter a number" error and then gets stuck on a the loading frame. I guess the loading function is attached to the onclick event of the "submit" button, instead of the sub

[2015-04-15 14:54] evildmp commented on #3978
Thanks @Moini for the suggestion.

[2015-04-15 14:54] #3978 closed

[2015-04-15 14:56] Moini commented on #3978
Thanks for the improvement :D

[2015-04-16 08:06] origingod commented on #4004
That will do. thanks

[2015-04-16 08:06] #4004 closed

[2015-04-16 08:16] #3674 closed

[2015-04-16 08:17] #3735 closed

[2015-04-16 08:18] yakky commented on #3772
Fixed by #3894 and #3901

[2015-04-16 08:18] #3772 closed

[2015-04-16 08:18] yakky commented on #3692
Clsed by #3828

[2015-04-16 08:18] #3692 closed

[2015-04-16 09:05] mkoistinen opened #4037 "Reversion 500's when placeholders have been removed"
Content managers should instead receive a warning that the reversion is not possible. Or, better yet, the reversion should revert any remaining placeholders, and ignore the ones that no longer exist.

[2015-04-16 12:09] mbi commented on #3936
I'm still seeing this in 3.0.13

[2015-04-16 19:13] samuelblattner opened #4038 "Toolbar menu Page->Add Page->Duplicate this Page does not duplicate page/title extensions"
Django-cms 3.0.13

When I duplicate a page using "Duplicate this Page", the extensions of the source page/titles are not duplicated.

[2015-04-16 20:53] teutobod opened #4039 "Edit mode modals are displayed incorrect"
Hi,

I just did a fresh installation of django cms following the "How-To-Guides". Playing around with the edit mode, I noticed that some modal windows behave very strange.
Examples:
* The "advanced settings" modal gets minimized immediatly after it pops up.
* If I click on "page settings" the modal opens also in minimized mode. Clicking on the "maximize" button (small square in the right top corne

[2015-04-16 22:00] mkoistinen commented on #3902
@pawelmarkowski I went to solve this issue, then found that it had already been solved!

https://github.com/divio/django-cms/blob/develop/menus/templatetags/menu_tags.py#L265

show_breadcrumbs takes 3 optional parameters: start_level, template and only_visible

Set the last one to False, and you should be ok =)

This is getting converted into a documentation issue as I notice that the reference se

[2015-04-16 22:06] mkoistinen opened #4041 "Breadcrumbs may disappear in one of published/draft mode"

[2015-04-17 05:11] miraculixx commented on #3940
@marksweb @FinalAngel I'm getting the very same error message, except I don't have any customizations whatsoever:

[code]

This is django-cms==3.0.5

[2015-04-17 09:56] mkoistinen commented on #4038
Hmmm, this was actually fixed, I thought, in: #4019. Previously, the extensions were copied, but incorrectly. This PR supposedly fixed that.

@samuelblattner Can you advise the Django/Python versions you are using so I can setup a test project/env?

[2015-04-17 15:55] teutobod commented on #4039
[Here](http://de.tinypic.com/r/23s93du/8) is a short screencast that demonstrates the issue.

[2015-04-17 16:51] zanderle commented on #4027
I think this can be closed, as it was a problem of calling the wrong template. Once it was changed to call `templates/admin/cms/page/plugin/change_form.html` instead, everything works fine.

[2015-04-17 16:51] #4027 closed

[2015-04-18 08:23] yakky commented on #3940
@miraculixx I suggest an upgrade to 3.0.13: a lot of fixes have been merged
From the error apparently the css is not available in the statics, anyway

[2015-04-18 10:02] miraculixx commented on #3665
+1 Having the same problem. Tried to debug but couldn't figure out where the actual URL is generated so I "solved" it by automatically redirecting any .css access:

[code]

At least it gets rid of throwing server exceptions and breaking the client code. Any hints or even better some documentation on which parts of the system are involved in generating URL/URIs would be most helpful.

[2015-04-18 10:16] miraculixx opened #4045 "Provide documentation on technical architecture of django-cms"
There is ample documentation on how to _use and extend_ django-cms. However, as a novice django-cms developer (with ample django/python experience) I find it quite difficult to debug, let alone fix bugs in the system, e.g. for such cases as #3665.

Questions such as
- how does a request get resolved, and which view is called (in general, for plugins, for apphooks, for admin in particular)?
- are t

[2015-04-18 12:51] yakky commented on #3944
Fixed in #3381

[2015-04-18 12:51] #3944 closed

[2015-04-18 17:10] sephii commented on #3981
I started working on this here: https://github.com/sephii/django-cms/commit/1d2c875db1ce0c3ae9003b0aa6331e95215d82fe

I don't know what would be the right approach to get the language from the current page in the `PageField` though. Any suggestion?

[2015-04-19 07:06] yakky opened #4046 "Add documentation for toolbar relabeling"

[2015-04-19 07:08] yakky opened #4047 "Clarifiy what "unsaved plugins" means"
delete_orphaned_plugins returns the number of "unsaved plugins", but it's not clear what an "unsaved plugin" is

[2015-04-19 07:14] yakky opened #4048 "django CMS 3.1 release checklist"
* [x] #4047
 * [x] #4046
 * [x] divio/djangocms-text-ckeditor#235
 * [x] nephila/djangocms-installer#176
 * [x] nephila/djangocms-helper#33

[2015-04-19 07:54] vad commented on #3938
there should be the same problem with the `Page.changed_by` field

[2015-04-19 09:59] pa0lin082 opened #4050 "django.views.i18n.set_language() compatibility"
implementing the default django method  to  sets a user’s language preference (POST to django.views.i18n.set_language())
on a page of django-cms the request is ignored.

django.views.i18n.set_language() save the language preference in session[LANGUAGE_SESSION_KEY] and in browser cookie settings.LANGUAGE_COOKIE_NAME
In this case, the view cms.views.details does not properly recognize the language s

[2015-04-19 14:27] #4046 closed

[2015-04-19 17:03] #3938 closed

[2015-04-19 21:44] shadow-identity opened #4058 "ImproperlyConfigured / No registered apphook u'' found"
django 1.7.7, cms 3.1.0rc2, ardlyn-newsblog 0.8.7

To reproduce:
1. edit Home Page
2. Advanced settings
3.  Application - NewsBlog
4. Application configurations - NewsBlog/blog
5. Save
6. Go to any other page
7. Get exception:

[code]

It's interesting: for one page I've got `No registered apphook u'' found`, for another one there was `No registered apphook None found`
Home Page was not affected.

[2015-04-19 22:44] astagi commented on #3747
I started working on this feature, check https://github.com/astagi/django-cms/tree/feature/openclosecascade

[2015-04-19 23:00] jsma commented on #3654
@mkoistinen see my [previous comment](https://github.com/divio/django-cms/issues/3654#issuecomment-87483086), this is not fixed in 3.1.0rc1. Please re-open.

[2015-04-19 23:07] yakky commented on #3654
@jsma fix was broken again in some way. I think this is not going to be fixed in 3.1, but of will in the next patch release

[2015-04-19 23:11] mkoistinen commented on #3747
Awesome!

[2015-04-19 23:23] jsma commented on #3775
Can no longer reproduce this bug on 3.1.0rc1.

[2015-04-19 23:23] #3775 closed

[2015-04-19 23:27] shadow-identity commented on #3775
Have same bug with 3.1.0rc2. I've installed newsblog. After moving apphook from one page to another one I can't get access to blog records by their slugs.
http://localhost/en/blog-record-2/
[code]

[2015-04-19 23:33] shadow-identity commented on #3775
please look at my comment above @yakky

[2015-04-19 23:36] shadow-identity commented on #3775
sorry, all works fine. I've restarted app before, but only now it makes all works fine.

[2015-04-19 23:52] yakky commented on #4047
Fixed in #4051

[2015-04-19 23:52] #4047 closed

[2015-04-20 00:31] yakky commented on #4058
It's not a django CMS issue, but rather in ``aldryn-apphooks-config``.
We're going to fix it there

[2015-04-20 00:31] #4058 closed

[2015-04-20 06:36] samuelblattner commented on #4038
@mkoistinen I encountered this issue with:
django-cms==3.0.13
Django==1.6.10
Python 2.7.3

The extensions are indeed copied correctly if you use the copy page function in the tree view or if you call the copy_page method of the Page class. Strangely though, using the toolbar Menu "Page->Add Page->Duplicate this Page", the extensions aren't copied at all. Maybe this is because "Duplicate a page" us

[2015-04-20 06:43] samuelblattner opened #4060 "Using search field in page tree view disrupts alignment of label columns"
In django-cms 3.0.13, when I enter a keyword in the search field and hit 'search', the label columns (language, Menu, Actions, Info) are somehow shifted to the right in the result view. (see screenshot).
![screen shot 2015-04-20 at 08 37 36](https://cloud.githubusercontent.com/assets/7140314/7224942/069ddb2e-e739-11e4-9f44-bd833e3abb3e.png)

[2015-04-20 17:52] miraculixx commented on #3940
@yakky thanks. I upgraded to 3.0.13 -- the problem persists, I still get a mixed content error as above. It all works with HTTP, but not with HTTPS. This has all sorts of bad consequences -- whenever the browser detects an ajax request to http, it basically breaks the usual JS flow. E.g. on /admin/page/, but also on pop ups, ike page settings, adding  plugin etc.

Any ideas what I could investigat

[2015-04-20 22:11] shadow-identity opened #4066 "Invalid subcommand 'fix-mptt' for 'cms'"
Hi, trying to do cms fix-mptt (http://django-cms.readthedocs.org/en/develop/upgrade/3.1.html#preliminary-steps)
Result: invalid subcommand. django-cms 3.1 from pypi

[code]

[2015-04-21 04:13] yakky commented on #4066
fix-mptt has been replaced by fix-tree

[2015-04-21 04:13] #4066 closed

[2015-04-21 04:15] yakky commented on #4048
All issue addressed

[2015-04-21 04:15] #4048 closed

[2015-04-21 04:43] yakky commented on #3940
Given that the error regards ``http://www.mydomain.com/admin/cms/page/cms/css/cms.toolbar.sideframe.css/`` (notes the ``/`` at the end) apparently **https://www.mydomain.com/admin/cms/page/cms/css/cms.toolbar.sideframe.css** (note that no ``//`` is present at the end) is not available and django redirect to non-https version appending the ``/`` (due to the related Django setting)

[2015-04-21 14:04] miraculixx commented on #3940
well it is obviously not available at `http://www.mydomain.com/admin/cms/page/cms/css/cms.toolbar.sideframe.css/` (with or without trailing /), because that path is _entirely wrong_.  It should be `http://www.mydomain.com/static/css/cms.toolbar.sideframe.css/`.

That's the source of the problem -- for some reason, the client side cms script generate the wrong URL, I just can't figure out why. The

[2015-04-21 22:32] dirtycoder commented on #3790
I wish to do it but...

Where is the best place to insert it? Maybe after the "Getting the source code" section in the Contribution doc?
Also, as this is target to 3.1 and 3.1.x I should wait for a support/3.1 branch or base this on the develop branch?

Thanks.

[2015-04-21 23:04] otakucode opened #4068 "Tutorials need several changes"
I just started getting into django-cms today and decided to follow the tutorials from django-cms.org.  This proved to be a difficult experience as the tutorials have several problems.  Here are the ones I noticed (these notes are all specific to the tutorials for Django CMS 3.1):

On the Plugins tutorial:
After bringing in the 'polls' app from github, the tutorial directs the user to execute 'pyth

[2015-04-22 07:05] yakky commented on #4068
Such a comprehensive review! Thanks for taking the time to check all this!

[2015-04-22 07:46] evildmp commented on #4068
Thanks, that is excellent feedback. Are you interested in helping patch the documentation to address these issues? We're always extremely glad to have such help.

[2015-04-22 09:06] pawelmarkowski commented on #3902
@mkoistinen  thanks ...

summarize:
show_breadcrumbs takes 3 optional parameters: start_level, template and only_visible (and "show only visible" was solution of my problem. It works perfect ... waiting for docs update, ticket closed)
example:
{% show_breadcrumb 0 'menu/breadcrumb.html' False %}

[2015-04-22 09:06] #3902 closed

[2015-04-22 09:12] mbi commented on #3936
@yakky ping?

I'm still seeing all `CMSAttachMenu` instances being suggested twice in the admin (and neither is working when attached to the page). This is happening both in 3.0.13 and 3.1.0. The latest version that doesn't seem to have this problem is 3.0.10

Am I doing something wrong?

![screen shot 2015-04-22 at 11 00 55](https://cloud.githubusercontent.com/assets/131808/7270797/ff86af12-e8de-

[2015-04-22 09:21] HadrienMP opened #4069 "ImportError: cannot import name plugin_pool"
I am trying to setup a django cms and django cascade website on Webfaction.

I have an apache setup (right I think). When I start with DEBUG=True everything works fine but when I set DEBUG=False I end up getting a 500 error with the following trace. You can checkout the source here : https://github.com/HadrienMP/duxomusic. Is this something I am doing wrong or bug ?

[Wed Apr 22 04:10:34 2015] [er

[2015-04-22 09:28] yakky commented on #3936
Have you wiped out local cache and updated aldryn-apphooks-config too?

[2015-04-22 09:32] yakky commented on #3940
@miraculixx could you paste the ``CMS.config = {..}`` which is added at the bottom of the page ?

[2015-04-22 09:38] mbi commented on #3936
I had (and just have again) cleared the local cache.

I'm not using Apphook namespaces (my apps are attached only once), nor `aldryn-apphooks-config` or any other namespace configuration mechanism. Am I supposed to? The documentation doesn't seem to imply this is required.

[2015-04-22 12:07] yakky commented on #3790
@dirtycoder thanks for your availability. I'd add a section before "Running and writing tests" called "The develop.py command" so that all the options can be properly documented
You can use http://django-cms.readthedocs.org/en/develop/reference/cli.html#command-line-interface as a template for styles and strcuture.
target develop as 3.1.1 will still be developed from it

[2015-04-22 18:20] dirtycoder commented on #3790
Thanks, I will take a look at it in the weekend.

[2015-04-23 09:17] driesdesmet opened #4070 "nl_NL translation is empty. Should be either dropped completely or copied from 'nl'"
the 'nl' language code translation is complete, but the 'nl_NL' translation is empty. On my system, without any CMS_LANGUAGES setting and LANGUAGES set to ('nl', 'Nederlands'), the nl_NL pack seems to get picked up, thus resulting in the english fallback language.

I wonder if there is a real need to maintain both 'nl' and 'nl_BE' because officially they are the same language and I've never ran in

[2015-04-23 09:37] yakky commented on #4070
Hi @driesdesmet, there is no need to maintain both, and we're going to remove the duplicated languages  on Sunday. We will release a patch version which includes this shortly

[2015-04-23 09:47] driesdesmet commented on #4070
Excellent. I'd be happy to help for Dutch (Nederlands) but that translations seems to be complete for 3.1.

[2015-04-23 09:52] yakky commented on #4070
Yes, translations are complete, but reporting bugs it's also great part of the contribution :)

[2015-04-23 10:16] miraculixx commented on #3940
[code]

For what it's worth, here's the settings.py. That's taken from the same live session as the config above:

[code]

[2015-04-23 10:37] yakky commented on #3940
That empty ``'urls': { ... 'static': '' },`` is  the culprit
Any custom template processor?

[2015-04-23 11:58] mbi commented on #3936
@yakky ping? Should this be reopened?

[2015-04-23 19:59] miraculixx commented on #3940
Well, depends on what you call _custom_ ;-)

[code]

[2015-04-23 20:58] nostalgiaz commented on #3993
I'm working on this enhancement... ;)

[2015-04-24 11:19] schneck opened #4071 ""Publish" button sometimes not available"
In the following situation, the "publish" button is not available. Reproduce:

- Create a page
- Click on "edit"
- Navigate to another page
- Button "publish" is not there
- Click "back" in browser
- Button "publish" is  there

I'm using the latest CMS 3.1 together with Django 1.6.11

[2015-04-25 18:34] dirtycoder commented on #3790
There's already a section after "Running and writing tests" covering some options for develop.py, I think it makes more sense to move it all to a separated page focusing on develop.py only.

Let me know if I can do it.

[2015-04-27 07:38] vstoykov commented on #3936
I think yes, because we also experience this problem with 3.0.13.

First I need some clarification about how CMSAttachMenu should actually work if it is registered alone or in AppHook or in AppHook attached multiple times.

 - If it is simple CMSAttachMenu it will show in a dropdown for every page  (Which is normal)
 - If it is registered and attached to page by AppHook it will show n-times, where

[2015-04-27 12:01] vstoykov commented on #3936
What I've discovered is that when `MenuPool._mark_selected` is called this is before `NavExtender` modify the tree (before setting correct parent for every attached node and before removing all useless nodes).
The result is that selected node is removed from the tree (in most cases when visiting draft version of the page) and `show_submenu` can't display any nodes because there is no selected page

[2015-04-27 12:10] mbi commented on #3936
@vstoykov I'm only using `show_menu` on this particular project.

[2015-04-27 12:21] mkoistinen commented on #3936
Please try with this branch: https://github.com/divio/django-cms/tree/issues/fix_breadcrumbs?files=1

[2015-04-27 13:09] mbi commented on #3936
@mkoistinen With that branch the menus seem to get rendered correctly (yay!) but I'm still getting duplicate entries in the "attached menu" dropdown in the page's advanced settings.

[2015-04-27 13:21] vstoykov commented on #3936
@mkoistinen for me it looks also ok.

About double rendered menus I think that the option for attaching menu when AppHook is attached need to be disabled in order people to not be confused.
Also `page.navigation_extenders` to be cleared because `CMSAttachedMenu.get_instances` will get correct pages through apphook and to prevent accidentally attaching the same menu again (which can double the menu

[2015-04-28 09:10] sephii opened #4074 "Cannot publish pages anymore since 3.1"
After upgrading to 3.1 I'm unable to publish pages. I get a 500 error with the following trace:

[code]

The weird thing is that if I dump the query and the parameters, I get this:

[code]

And if I run the query manually in a shell, the query succeeds. Maybe that's related to a transaction or something like that?

[2015-04-28 09:41] sephii commented on #4074
Running `./manage.py cms fix-tree` fixed the issue. Not sure why though. I'll reopen the issue if it persists.

[2015-04-28 09:41] #4074 closed

[2015-04-29 12:29] stephband opened #4078 "In Edit mode, structure mode opens on long-click OR modifier-click"
When hovering over an editable area (so that you get the pop-up 'Double click to edit' next to the pointer), you can long-click to open structure mode. Sometimes structure mode opens with the clicked editable area highlighted, other times not. I'm not sure what intended behaviour is exactly, but this isn't the problem.

However, a click with a modifier held also opens structure mode, and this is r

[2015-04-29 14:12] igloox opened #4079 "Duplicate admin menu entries"
I recently upgraded a couple of projects to 3.1 and noticed a bug with the admin menu, when viewing pages other than CMS page objects. I found I can replicate this cleanly:

0. Create a fresh virtualenv and install djangocms-installer

1. Use djangocms-installer to create a new project with all default settings (except specifying Django-CMS 3.1)

2. Start the development server

3. Click the 'swit

[2015-04-29 17:19] rjhelms opened #4080 "Error installing django-CMS with Django 1.7."
I am attempting to install django CMS on a Windows 7 environment, but am running into an issue when using Django 1.7 or stable.

Installation seems to fail when installing django-select2-py3 - by modifying \djangocms_installer\install\__init__.py to not run pip in quiet mode, I get this error:

[code]

This occurs when leaving all installation options at the defaults, but does not occur when I spe

[2015-04-29 22:58] jbazik opened #4081 "unit testing an app using both placeholder admin and apphook is difficult"
I'm developing an app that uses both PlaceholderAdminMixin and an apphook.  When I run my unit tests, I run into the issue from #3460 - django-cms attempts to query the database before it is created:

 OperationalError: no such table: django_site

I have a trivial app that demonstrates the problem:

https://github.com/jbazik/django-cmstest

Versions: cms 3.0.13, django 1.7.

[2015-04-30 15:43] avoine opened #4082 "Pages with restrictions are hidden in menus to anonymous user"
I want a page to be restricted in editing to a certain group but visible by anonymous users.
But with CMS_PERMISSION = True and CMS_PUBLIC_FOR = 'all'
pages with restrictions are hidden in menus to anonymous user.
But if they go to the url of the page directly they can see it.

So if I understand correctly, as soon as you restrict the edition of a page
anonymous users can't view it in the menus an

[2015-04-30 15:49] avoine commented on #4082
an other simpler idea would be to add a new value to CMS_PUBLIC_FOR for "don't show pages with restriction in the menu" and just really show all pages by default.

[2015-04-30 16:11] jbazik commented on #4081
Here's a traceback:

ImportError: Failed to import test module: cmstest.testurls
Traceback (most recent call last):
  File "/usr/lib/python2.7/unittest/loader.py", line 252, in _find_tests
    module = self._get_module_from_name(name)
  File "/usr/lib/python2.7/unittest/loader.py", line 230, in _get_module_from_name
    __import__(name)
  File "/gpfs/main/home/jsb/projects/django/django-cmstest/cm

[2015-04-30 21:37] igloox opened #4083 "Language fallbacks broken for nested plugins"
This one has stretched my tiny little mind almost to breaking point.

I have a site with 2 languages, English and French. When someone is browsing the French site and requests a page for which there isn't a French translation, I'd like to return the English page (without redirecting).

This works well enough, except when it comes to nested plugins. For example, if you have a text plugin directly i

[2015-05-01 08:27] yakky commented on #4080
django-select2-py3 is currently broken. django-select2 just released a python 3 compatible version, we will update dependencies soon

[2015-05-01 08:43] yakky commented on #4080
This should have been fixed in djangocms-link 1.6

[2015-05-01 08:43] #4080 closed

[2015-05-01 08:45] yakky commented on #4081
Duplicate of #3675

[2015-05-01 13:23] marksweb opened #4084 "Cached static_placeholder displaying draft on live & no structure/content buttons"
Just had an issue raised with me as someone's been trying to prepare new content to be published over the weekend.

I've got an app which defines static placeholders in two templates, both of which are wrapped in `{% cache %}` tags as they're very rarely changed.
[code]
One of my colleagues has been to change one of these placeholders just now, and upon making the change, has noticed the structure

[2015-05-01 14:23] yakky commented on #4084
@marksweb static placeholders are already cached by django CMS if cache is enabled, so there is not need to use custom caching. As the static placeholders are discovered only when ``static_placeholder`` templatetag is executed, wrapping in custom cache prevents it from working properly

[2015-05-01 14:23] #4084 closed

[2015-05-01 14:24] yakky commented on #4078
This behavior has been removed in 3.1

[2015-05-01 14:24] #4078 closed

[2015-05-01 14:25] yakky commented on #4070
Bogus translation removed from travis.
This will be fixed in next patch versions

[2015-05-01 14:25] #4070 closed

[2015-05-01 20:08] marksweb commented on #4084
Right, thanks. Is this documented? I don't remember ever reading that.

[2015-05-02 09:17] yakky commented on #4084
http://django-cms.readthedocs.org/en/develop/how_to/caching.html#caching

[2015-05-02 12:35] davydany commented on #3513
@yakky, This is happening because ```MIGRATION_MODULES``` doesn't have proper migrations directory for 'cms' and 'menus'. I have the latest version on PyPI and I encountered issues, and the following has fixed the issue. I'll provide the explanation below the settings.

[code]

Instead of
[code]

The reason why is because DjangoCMS's ```cms``` and ```menus``` package don't have a directory named `

[2015-05-02 18:44] jhonnrock commented on #1675
have the same problem how to solve ??

[2015-05-02 18:51] yakky commented on #3513
django CMS 3.1 has the new (proper) layout which does not require any setting in ``MIGRATION_MODULES`` as documented in upgrade guide and documentation

[2015-05-02 18:52] yakky commented on #1675
@jhonnrock please provide more information: django and django CMS versions, project settings and traceback

[2015-05-03 21:17] yakky commented on #4082
Fixed in #4076

[2015-05-03 21:17] #4082 closed

[2015-05-03 21:19] yakky commented on #4071
Publish button is present only if a page has changes to be published.
The "publish" at last step is present in the just created page, not on "another page", right?

[2015-05-03 21:21] yakky commented on #4069
Which django CMS version are you using?

[2015-05-03 21:23] yakky commented on #4045
@evildmp assigning you to this to elaborate a strategy to cover this

[2015-05-03 21:26] yakky commented on #3992
It does not have much sense, since when nested plugins became possible. Any usecase which is not covered by nested plugins?

[2015-05-04 06:57] tormenta1026 opened #4089 "I can not create the project"
I can not create the project follow the steps in the quick installation and I could not install it by any means.

http://docs.django-cms.org/en/support-3.0.x/introduction/install.html

This is the message I get:

Creating the project
Please wait while I install dependencies
Dependencies installed
Creating the projectFailure occurred. Do you want to cleanup by removing /home/user/testing? [Y/N]

I

[2015-05-04 13:49] yakky commented on #4089
could you please open on https://github.com/nephila/djangocms-installer repository? any message is reported with the failure?

[2015-05-04 13:50] #4089 closed

[2015-05-05 14:23] sergei-maertens opened #4095 "PlaceholderField in a model related to a plugin"
I think this is the easiest to explain with this example code:

[code]

When you add the plugin on the frontend, you can select the Society to link (this needs to be editable in the backend - sort of). After adding the plugin, you can double click to edit.

But, since Society has a PlaceholderField, this field cannot be edited on the backend, and as long as it's emtpy, you cannot double click this

[2015-05-05 20:04] yakky commented on #3747
@mkoistinen could you check the opened PR?

[2015-05-06 09:25] dzonder commented on #3936
I still see issues with app menus in 3.1.

Lets assume app is available as page at /shop/ and app menus contains available products.
When accessing urls which are not in app menus (i.e. /shop/addresses/, /shop/addresses/add) everything works fine and menu is visible.
But when accessing product (i.e. /shop/product/pslug1) app menus disappear.

3.0.10 worked fine but I needed Django>=1.7 support.

I

[2015-05-06 21:21] yakky commented on #4095
frontend markup for placeholderfields it's a complicated matter, subject to all kind of strange bugs because of the DOM structure.
You can sort of overcome this by using default plugins with your placeholderfield, so the field is filled with a default set of plugins upon creation. see http://django-cms.readthedocs.org/en/develop/reference/configuration.html#cms-placeholder-conf

[2015-05-06 21:22] #3786 closed

[2015-05-07 16:02] mikberg opened #4098 "Use Publishing Dates to control publishing of sub-tree"
A use case could be to create an entire sub-tree of pages, but have them held back from being viewable for visitors until a specific point in time.

If I understand the current workflow correctly, this would involve setting a publishing date for *each* of the sub pages. What I propose is to have pages in a sub-tree inherit their publishing dates from ancestors.

This would line up the "publishing

[2015-05-07 16:09] lddubeau opened #4099 "The menu modifiers system is brittle and arcane"
### The problem I was trying to solve

Suppose the following menu structure:
- "Section X" with url `/x`:
  - "A" with url `/x`
  - "B" with url `/x/b`

The parent node "Section X" shares with its child node "A" the same url. This may happen, for instance, when creating a `CMSAttachMenu` for an app that will be rooted at `/x` and for which we want to have the menu item titled "A" to serve as a way

[2015-05-07 16:42] yakky commented on #4098
@mikberg thanks for reporting this
@mkoistinen @evildmp this looks like a bug to me. If a parent page has a publish date in the future (or an end publish in the past) all the children pages should be inaccessible too, in the same way as the publish works

[2015-05-07 23:48] marty3d opened #4100 "CMS > Pages display weird when resizing window"
I'm having issues with the admin Pages, where the javascript resizes the columns way too much: `<div class="col-softroot" style="width: 0.2px; display: block;">`
![django-cms js](https://cloud.githubusercontent.com/assets/738293/7528100/fd24b452-f555-11e4-8a53-041e89d075a5.jpg)

I don't know where to start looking for the issue, so I would really appreciate if someone with knowledge about the java

[2015-05-08 19:35] lddubeau opened #4101 "Race condition in caching code"
Django 1.7
Django CMS 3.1.0

Just eyeballing the code in `cms/views.py`, it seems clear to me that the following scenario _can_ happen:
1. Worker A is executing `_cache_page()`. The version number it obtained when it executed `version = _get_cache_version()` is `N`. Its time slice ends just before executing `cache.set()`. The scheduler switches to Worker B.
2. Worker B is in the middle of serving

[2015-05-08 22:14] BertrandBordage opened #4102 "Broken tree leading to impossible page move"
Using Django 1.7.7, django CMS 3.1.0 and treebeard 3.0, and also django-cachalot 1.0.1. I’m using PostgreSQL and Redis as DB and cache on a single server.

When trying to move certain pages in the admin, a user systematically gets a 500 error. It happens on urls with this pattern: `/admin/cms/page/(?P<pk>\d+)/move-page/` and the header `HTTP_X_REQUESTED_WITH=XMLHttpRequest` can be found, confirmin

[2015-05-09 06:44] mikemcgowan opened #4103 "Django CMS appears to be incompatible with custom AdminSite classes"
No Django CMS admin URLs can be reversed when a [custom AdminSite class](
https://docs.djangoproject.com/en/1.7/ref/contrib/admin/#customizing-the-adminsite-class) is present.

The issue is described in full [here](https://github.com/mikemcgowan/djangocms-custom-adminsite).

[2015-05-09 08:23] yakky commented on #4100
Hi @marty3d when does this happens? on page load or on page resizing? the main function behind that is https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.changelist.js#L39

[2015-05-09 08:34] yakky commented on #4102
@BertrandBordage would you be able to reproduce that?
The only two parts where something can go wrong in django CMS are  https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py#L208 and https://github.com/divio/django-cms/blob/develop/cms/admin/pageadmin.py#L838
If you can reproduce that, it would be interesting to know the values of ``target`` across the whole flow

[2015-05-09 08:38] yakky commented on #4103
There is an undocumented configuration variable to set the custom admin namespace: ``CMS_ADMIN_NAMESPACE``
What if you set that?

[2015-05-09 09:16] BertrandBordage commented on #4102
I can’t reproduce it in real conditions right now, but I will simulate it by creating a script to do hundreds/thousands of moves until it breaks. I’ll let you know.

[2015-05-09 20:01] lablua opened #4104 "Alias plugin keeps causing typeerror"
I have no idea how you are supposed to use the alias plugin, but every time I have tried adding it to a page, it has completely broken that page and made it uneditable. The first time I ran some command line option to fix it, but this time neither fix-mptt or delete_orphaned_plugins is working to fix it. I finally just gave up and ran "uninstall plugins AliasPlugin" so that no editors can break en

[2015-05-09 21:13] yakky commented on #4104
I have been able to reproduce this by creating an alias out of a plugin and then pasting it from the clipboard
Tanks @lablua for raising the issue

[2015-05-09 22:40] vstoykov commented on #3936
@dzonder changes made by @mrhanlon are note merged yet and issue persist in current released versions. You can try the branch mentioned by him and tell if the problem is fixed there for you.

Until issue is resolved you can try a workaround by putting this in `menu.py` in some of your applications:

    from menus.menu_pool import menu_pool
    from menus.modifiers import Marker

    class FixNode

[2015-05-10 08:07] yakky opened #4105 "Add missing documentation for CMS_ADMIN_NAMESPACE"
Documentation is missing for `CMS_ADMIN_NAMESPACE` (https://github.com/divio/django-cms/blob/develop/cms/utils/conf.py#L62) setting

[2015-05-10 08:08] yakky commented on #4105
Related to #4103

[2015-05-10 23:23] Astone commented on #3936
Yep, same here, in version 3.1.0. I see the double entries in the advances settings, and the menu's don't show up if the actual content is below a different page as the menu.

Strangely enough it does seem to work quite fine, unpublished, published and even when I log out. But as soon as I reload apache (or restart the debug server) the menu's disappear.

@vstoykov Thanks for your suggestion, but

[2015-05-11 06:05] mikemcgowan commented on #4103
Thanks for the reply, I tried setting `CMS_ADMIN_NAMESPACE = 'fooadmin'` but it wasn't clear to me what else (if anything) I should have been setting. It didn't work.

I searched the CMS source in my virtualenv and found that that setting is only used in the function `admin_reverse` and it's unclear to me under what circumstances that function is called.

What I *did* manage to find was that I cou

[2015-05-11 12:37] mkoistinen commented on #4038
@samuelblattner thanks, this helps a lot. Looking into it...

[2015-05-11 13:10] mkoistinen commented on #4101
Wow, nice sleuthing @lddubeau. Would it be enough to make the lines https://github.com/divio/django-cms/blob/develop/cms/views.py#L243-L253 more atomic? Something like this?:

[code]

@lddubeau since you apparently have a (local) test for this, could you give this a try?

[2015-05-11 13:16] mkoistinen commented on #4100
Also @marty3d do you have any custom CSS that might be in effect here? Looks like, perhaps, the main column is inheriting a 100% width or something. I've not seen this in any of the projects I am working on, so I suspect this is something special about your project =)

[2015-05-11 13:19] mkoistinen commented on #4098
I agree. I think any other behaviour (like what is apparently the current behaviour) would be inconsistent. I think this should be fixed in 3.0.x then ported to 3.1.x, so, I am marking this for 3.0.x.

[2015-05-11 13:21] mkoistinen commented on #4021
This was fixed with #4022.

[2015-05-11 13:21] #4021 closed

[2015-05-11 13:32] lddubeau commented on #4101
@mkoistinen Unless I'm misremembering something about how `threading.Lock` works, this won't help if the application is running in a wsgi server that uses multiprocessing. Each process will have its own instance of a lock, invisible to others.

[2015-05-11 16:40] mkoistinen commented on #4104
Fixed by #4106

[2015-05-11 16:40] #4104 closed

[2015-05-11 17:18] mkoistinen commented on #3936
Awesome feedback guys. To be clear, *most* of the issue has been solved in the above-mentioned PR for the 3.0.x branch. What remains is more of an ugly cosmetic issue with the Advanced Page Settings. I'll try to fix this asap.

Once these are committed to the Support 3.0.x branch, we'll port it up to 3.1 too.

[2015-05-11 20:37] mkoistinen commented on #4095
Another suggestion is to use [{% render_model_add ... %}](http://django-cms.readthedocs.org/en/latest/reference/templatetags.html#render-model-add) or [{% render_model_add_block ... %}](http://django-cms.readthedocs.org/en/latest/reference/templatetags.html#render-model-add-block). (links go to the respective docs)

[2015-05-11 20:53] mkoistinen commented on #4039
I suspect you have old local storage or cookies? Could you try to clear all browser cookies and local storage and see if this issue persists? If so, can you also clear/bypass your cache to make sure you're loading the correct JS/CSS?

[2015-05-11 20:55] mkoistinen commented on #3965
I've seen this before, but it was because I had two or more sites using the same cache-backend and I hadn't change the value of `CMS_CACHE_PREFIX` to something unique for each site. Could this be the case here?

[2015-05-11 21:00] mkoistinen commented on #3966
And if you go to `/en/subpage/` what happens?

[2015-05-11 21:02] mkoistinen commented on #3425
@casio, can you try this in 3.0.13? Let us know!

[2015-05-11 23:48] lddubeau commented on #3153
@yakky Testing only the application's logic is a risky proposition.

I'm currently integrating django-cms to a project that has been up and running for months without django-cms. I initially followed the urlconf approach to test an app which I converted to use with django-cms. Approximately 90% of the tests passed. Some failed because I had set the tests to operate like a user would, by following

[2015-05-12 17:38] lddubeau commented on #3438
According to Django's documentation doing `@override_settings(ROOT_URLCONF='x')` is exactly the same as adding `urls = 'x'` to the test class.

However, the issue reporter here used `'myapp.tests.urls'` in one place and `'myapp.test_urls'` in the second place. Given this discrepancy, and having successfully converted test cases that used `urls` to use `@override_settings`, I'm not convinced that t

[2015-05-12 18:28] saeedsq opened #4108 "Add support for bootstrap django admin"
Other bootstrap django admin project does not work well with django-cms

[2015-05-13 05:59] yakky commented on #4103
@mikemcgowan ``admin_reverse`` is a CMS custom function to wrap the admin url reverse with ``CMS_ADMIN_NAMESPACE`` which  matches the namespace of the custom siteadmin.
Does it not work for you?

[2015-05-13 14:42] jmr0 opened #4109 "Placeholder width too small"
Some of my placeholders are too small. I saw that a CSS override was suggested for #3824, but I see that the min width is determined this way by cms.structureboard.js:

min = (item.width()) ? 0 : 150;

Do you see any problems with changing this to something like

min = item.width() < 150 ? 150 - item.width() : 0;

So that it pads say 15px placeholders with 135px instead? Happy to submit a pull req

[2015-05-13 19:27] yakky commented on #4109
The structure mode rendering is going to be adapted in the next release to overcome situation like yours. It's not an quick fix, but we'll make it better over the time

[2015-05-13 19:28] yakky commented on #4108
Theming is maneageable external from the cms (link in djangocms-admin-style)
I don't think we can ship a theme in django CMS itself

[2015-05-14 06:23] #3232 closed

[2015-05-14 06:24] yakky commented on #3426
Fixed in #4049

[2015-05-14 06:24] #3426 closed

[2015-05-14 06:27] yakky commented on #3790
Fixed in #4073

[2015-05-14 06:27] #3790 closed

[2015-05-14 06:27] yakky commented on #3889
Fixed in #3894

[2015-05-14 06:27] #3889 closed

[2015-05-14 06:37] yakky commented on #3970
Could you provide your installed apps? Have you tried with latest Django 1.7 patch release?

[2015-05-14 06:57] yakky commented on #3945
Moving to 3.0.14 as the fix is super straightforward

[2015-05-14 09:18] evildmp opened #4113 "Installation docs need to be made more foolproof"
http://docs.django-cms.org/en/develop/introduction/install.html

For example, users new to Python sometimes find themselves issuing commands in the wrong directory.

Maybe the path should be shown in the code examples.

[2015-05-15 15:46] ryanbagwell commented on #3922
@mkoistinen this still appears to be an issue, at least with Chrome. The threshold should be 247 instead of 245 to account for a 1px top and bottom border.

[2015-05-15 19:06] lsrtdavis opened #4115 "Page > advanced settings enhancements"
1. allow for the choice of a 301 redirect. currently it redirects with a 302.
2. Check box to add meta robots "noindex"

[2015-05-16 20:31] heppstux commented on #4102
I see the same issues – and even worse:

[code]

I could reproduce this by creating a subpage from a page-type beneath an existing subpage.

Since updating to CMS3.1 we have seen lot's of issues with the tree – also the plugin tree. Seems something is really broken :-(

[2015-05-17 18:21] yakky commented on #4102
@heppstux cannot reproduce this.

Steps:

1) Create an home page on an empty website
2) Save the home page as new subtype
3) Create a subpage of the home page from the page type using the page menu
4) Create another subpage of the home page from the page type using the page menu

Pages are created correctly

[2015-05-18 15:31] marksweb opened #4117 "Context passed as an arg to render_plugin()"
Django 1.7.8
CMS 3.0.13

I'm getting an error from the `render_plugin()` call from one of my plugins which is sat within the columns plugin.

Just looking at the signature of `render_plugin()` makes me wonder if it's as glaringly obvious as it seems;

`render_plugin(self, context=None, placeholder=None, admin=False, processors=None)`

So my exception is as follows;

[code]
Now correct me if I'm wr

[2015-05-19 12:45] #4117 closed

[2015-05-19 13:05] lddubeau opened #4118 "The menu system sometimes decides that the selected node is the one associated with a draft page, and then "forgets" what is selected."
### Versions

Django CMS: 3.1.0
Django: 1.7.8
### Steps to reproduce

See the "Observations" section below.
### Expected behavior.

When I click on a navigation menu item, I expect the corresponding `NavigationNode` to have its `selected` field set to `True`. (So that when I render the menu, I can indicate where the user is on the site.)
### Actual behavior.

The `selected` field of the `Navigatio

[2015-05-19 14:26] sliwowitz opened #4119 "Problem migrating to 3.1"
I have a problem running a migration from 3.0.(idontknow) to 3.1.0 After hours of fiddling with MIGRATION_MODULES, according to what I found elsewhere, I have:

[code]
which gives this error:
[code]
I noticed there are no "migrations_django" directories in either "cms" or "menus" site-packages. However changing MIGRATION_MODULES to read
[code]
produces:
[code]

Any help would be greatly appreciate

[2015-05-19 20:52] yakky commented on #4119
Are you using Django 1.7 with both the old and new  django cms versions? You can remove ``cms`` and ``menus`` from ``MIGRATION_MODULES`` (as stated in http://django-cms.readthedocs.org/en/develop/upgrade/3.1.html#migrations-moved)
Which is the first migration that's executed for the cms application? it should be ``0004_auto_20140924_1038.py``

[2015-05-19 21:00] benzkji opened #4120 "manage.py cms publisher_publish --unpublished does not recognize options"
I wonder if anyone can reproduce this?!

I'm trying to run this command:

    » ./manage.py cms publisher_publish --unpublished

on django-cms 3.1.0 and django 1.7.8

I get:

    » ./manage.py cms publisher_publish --unpublished
    Usage: ./manage.py cms [options] <subcommand>

    django CMS command line interface.

    Available subcommands:
    check
    copy-lang
    delete_orphaned_plugins

[2015-05-19 21:21] sliwowitz commented on #4119
Argh! Thanks for the pointer - I actually tried to do (django-1.6, cms-3.0) -> (django-1.7, cms-3.1). So now, one step at a time, I tried to just make the move from cms-3.0 to cms-3.1 (where the first migration is 0070, and last 0076). I've hit a problem with reversion though. When I removed reversion from installed apps, I was able to migrate the rest, now I need to solve the reversion migration,

[2015-05-20 16:24] rcorzogutierrez opened #4122 "Install via Python Wheel"
create a universal wheel distribution

[2015-05-20 17:54] yakky commented on #4119
Use ``reversion<1.8.6``, apparently 1.8.6 changed the API

[2015-05-20 17:56] yakky commented on #4122
Like https://pypi.python.org/packages/py2.py3/d/django-cms/django_cms-3.1.0-py2.py3-none-any.whl#md5=5c8f214ecce44d9dd151431e9821cf37?

[2015-05-20 18:17] sliwowitz commented on #4119
OK. Staying with reversion 1.8.5 solves the problem. Thanks for your help.

[2015-05-20 18:17] #4119 closed

[2015-05-20 19:58] yakky commented on #4120
In 3.2 we will refactor the whole subcommands to make it easier to and more consistent

[2015-05-20 20:04] yakky commented on #4117
If args are given respecting the order the parameter, it doesn't really matter if they are passed as positional args or keywords args

[2015-05-21 09:35] benzkji commented on #4120
is there any known way to run it with --unpublished? could save a lot of click work.

[2015-05-21 14:27] yakky commented on #4120
Not ATM. I can probably prepare a quick fix, but a release is a couple of week away

[2015-05-21 14:36] benzkji commented on #4120
ok then, thx.

quick fix (and a 3.0.1 release?) would be very very nice, but not at all critical for me.

[2015-05-22 13:45] mistalaba opened #4123 "manage.py migrate fails on 3.1"
I have two different sites running django-cms 3.0.13 (Django 1.7.8) and when I try to upgrade them, I get the following:

	$ python manage.py migrate
	/home/user/.virtualenvs/mysite/local/lib/python2.7/site-packages/cmsplugin_filer_utils/__init__.py:5: RemovedInDjango18Warning: `FilerPluginManager.get_query_set` method should be renamed `get_queryset`.
	  class FilerPluginManager(models.Manager):

[2015-05-22 15:51] rstalbow opened #4124 "Frontend editing issue - Plugins list not scrolling"
Hi

In a placeholder when hovering on the right to get the plugin dropdown, the scroll doesn't work for a certain number of plugins. On the submenu I have the following:

![screen shot 2015-05-22 at 16 14 11](https://cloud.githubusercontent.com/assets/1573276/7773638/c5fd8d8e-009d-11e5-9b21-7e0093b65602.png)

There is 1 plugin you cant see in the list and the scroll bar doesn't. If I add another p

[2015-05-22 19:40] yakky commented on #4123
Have you updated the ``MIGRATION_MODULES`` parameter?

[2015-05-22 21:31] yakky commented on #4124
We're going to work a lot on structure mode to avoid error like this

[2015-05-22 21:45] yakky commented on #3438
@lddubeau agree. @robertweglarek any further input on this? otherwise I'm going to close it

[2015-05-23 02:55] marty3d commented on #4123
Yes, I removed 'cms' and 'menus' as mentioned in the docs.

Is there anything else I can provide?

[2015-05-24 07:22] yakky commented on #4123
Well, I can't get where ``0004_auto_20150310_0040`` and ``0005_auto_20150420_1412`` come from.
Is ``cms`` before the other plugins in ``INSTALLED_APPS``?

[2015-05-24 11:05] Astone commented on #3936
Hi all, what is the status of this bug?

I'm developing a website that's supposed to go live on the 1st of June. It's almost finished except for the menu's.

They organize workshops, courses and trainings, so I made an application to manage these. They all share the same models, but they are divided in three categories. The urls of the courses are: /some-fixed-name/[category_slug]/[slug]. I create

[2015-05-25 14:52] kakulukia commented on #3970
somehow got it fixed but dont remember how .. closing the ticket ..

[2015-05-25 14:52] #3970 closed

[2015-05-26 03:35] jsma commented on #3936
@mkoistinen Anything we can do to help get this to the finish line? Is the only thing left to fix the fact that the menus are shown multiple times in the admin?

[2015-05-26 07:54] DylannCordel commented on #2639
Hi all,

I'll have some "free" days to work on this PR this week :-). But it would be great if I could have some advices or feed-back on the already done code in PR #3034

[2015-05-26 13:34] mkoistinen commented on #3936
Sorry all, I've been particularly consumed with personal things lately (like moving to another country in less than 1 week). However, I am going to try to focus on this again starting.... now! =)

[2015-05-26 15:10] jsma commented on #3936
Thanks @mkoistinen ! About to move 3,000 miles myself, I feel your pain. I'll watch the PR https://github.com/divio/django-cms/pull/4042 and let us know there if you need any help testing etc.

[2015-05-26 16:38] dibell commented on #4102
I can replicate both of the above errors. We have a hierarchy created by the api up to 3 levels. If you delete all the leaves in the CMS then adding a page throws the '_inc_path' error, if you add via the api you get the ''is_descendant_of'

It seems deep down in the treebeard code. Removing the last leaf leaves a node in an inconsistent state for some reason.

[2015-05-26 18:05] mkoistinen commented on #3936
Anyone care to test the updated version of this branch: https://github.com/divio/django-cms/tree/issues/fix_breadcrumbs

[2015-05-26 18:16] jsma commented on #3936
Will be able to in a couple hours, thanks!

[2015-05-27 11:52] SachaMPS opened #4126 "position of child.plugin set ton None when copied and dragged into parent plugin"
Sorry in advance if this is an duplicate but i couldnt find anything reasonable new related to that.

Django: 1.6.11
DjangoCMS: 3.1

### Steps to reproduce:
* Copy a child_plugin in structure mode
* Drag and drop the copy of the child_plugin back into the same parent_plugin in structure mode
* IMPORTANT: Don't move the plugin after drag & drop... just leave it where it has been dragged to
* Publis

[2015-05-27 13:45] darbula commented on #3966
Sorry for the delay, click on `/en/subpage/` goes to that url which makes 302 redirect back to `/hr/subpage/`, or from the user endpoint it just refreshes the same page.

[2015-05-27 14:09] lddubeau commented on #4123
Regarding the crash, I would have thought this [patch](https://github.com/divio/djangocms-link/commit/2e3f8d399e3e42fe276ed3aa3199081ae2f654e0) would have fixed the problem. `djangocms-link` 1.6 or later contains the patch.

Here's one possible scenario regarding the mysterious migrations. Sometimes the migration system will consider that a model has been changed even though it has not been change

[2015-05-27 14:20] mkoistinen commented on #3966
Hmmm, thanks for this. Looks like something needs to change.

[2015-05-27 18:03] fallenflint commented on #4068
Hello. I've found few little bugs in code examples. Not worth opening entire issue, so I just add it here:
http://django-cms.readthedocs.org/en/latest/how_to/extending_page_title.html#simplified-toolbar-api
both examples in section "Simplified toolbar api" lacks of from cms.toolbar_pool import toolbar_pool, so code throws NameError.

However, consequent examples has needed import
`from cms.toolbar

[2015-05-28 08:53] jeltoesolnce opened #4128 "Can't delete page"
Can't delte page. Server displays Error 500.

[2015-05-28 11:37] zhiqiang21 opened #4129 "test issues"

[2015-05-28 11:41] zhiqiang21 opened #4130 "这个还是很好的一个代码的"
这个还是很好的一个代码的

[2015-05-28 11:48] ygwain opened #4131 "Welcome page toolbar duplicates languages"
This issue appears only for welcome page (if no pages added yet).
IMHO: Indirect reason could be that cms_menu.BasicToolbar.add_language_menu called 2 times by cms_menu.BasicToolbar.populate

Environment: django 1.6.9, django-cms 3.1

![toolbar_langs](https://cloud.githubusercontent.com/assets/1922086/7859190/43ffbb1e-0547-11e5-95f9-074a3d1b146c.png)

[2015-05-28 19:00] yakky commented on #4130
Please write in english for all the people to understand your issue.
Closing this, feel free to reopen after changing it to engligh language

[2015-05-28 19:00] #4130 closed

[2015-05-29 16:54] #4129 closed

[2015-05-29 17:34] stefanw opened #4133 "i18n URLs do not redirect on wrong language slug"
Consider the following URLs:

- `/de/kontakt/` main language contact page
- `/en/contact/` English language contact page

However, if somehow the prefix gets changed, the following happens:
- `/en/kontakt/` serves the English contact page, but with a German URL
- `/de/contact/` serves the German contact page, but with an English URL

I believe this to be a bug. I think there should be a check if t

[2015-05-29 17:49] stefanw opened #4134 "Add setting to not show the CMS Toolbar for anonymous users"
[This line](https://github.com/divio/django-cms/blob/develop/cms/middleware/toolbar.py#L69) lets anonymous users see the CMS toolbar to login when `?edit` is added.

I wish there was a setting to disable showing the toolbar for anonymous users. My concern is that a link containing `?edit` (e.g. [a link like this](http://divio.ch/en/?edit)) will inadvertently spread around and visitors will be conf

[2015-05-29 20:10] poligarcia commented on #4123
The same thing happens while running any management task:

[code]

The problem I think is that cms.urls is calling cms.appresolver.get_app_patterns that runs a query using django's ORM, which isn't migrated yet.

[2015-05-29 20:25] lddubeau commented on #4123
@poligarcia Try with `debug_toolbar` removed from `INSTALLED_APPS`. You can always add it back later, after the migration. (I don't see migrations for it, so you won't need to migrate this app separately after you add it back.) My site is already migrated but if I have `debug_toolbar` in the installed apps, then `cms.appresolver.get_app_patterns`. If I do not have it in the installed apps, then th

[2015-05-29 20:32] poligarcia commented on #4123
Thanks, I'll give it a try and keep you posted!

[2015-05-30 04:39] marty3d commented on #4100
@mkoistinen, you're right. I had some custom css snuck in there. Removing that made everything purrdy again :) There is one ssue left, where the right side of the panel disappears in FF on load, but reapperas when resizing the window, but I'll put that in a new ticket.

Thank you!

[2015-05-30 04:39] #4100 closed

[2015-05-30 09:16] yakky commented on #4123
When using django debug toolbar bear in mind to always use explicit setup to configure it

On 29 May 2015 21:32:13 BST, "Poli García" <notifications@github.com> wrote:

-- Inviato dal mio cellulare Android con K-9 Mail.

[2015-05-30 14:53] yakky commented on #4133
Duplicate of #3548

[2015-05-30 14:55] yakky commented on #4134
I think a setting to disable the toolbar login is acceptable, but it should be off by default, as otherwise it's not possible to login from the frontend, which is a feature we want to be enabled by default

[2015-05-30 14:56] yakky commented on #4128
Could you provide more information? Django and django CMS versions plus the full traceback and settings

[2015-05-30 15:11] yakky opened #4135 "Ensure that ToolbarPool.get_watch_models is a list"
Cast ``toolbar.watch_models`` to a list at https://github.com/divio/django-cms/blob/develop/cms/toolbar_pool.py#L58

Without this change, you'll get a ``*** TypeError: can only concatenate list (not "tuple") to list`` when ``watch_models`` is a tuple.

[2015-05-30 15:20] #4122 closed

[2015-06-01 02:44] zhiqiang21 opened #4137 "how can i read this code?"
how  can i  read this code?

[2015-06-01 04:14] gt-liu opened #4138 "makemigration issue"
On the [Installing django CMS](https://django-cms.readthedocs.org/en/develop/introduction/install.html) doc page it advises us to install Django v1.6.
And on the [Plugins](https://django-cms.readthedocs.org/en/develop/introduction/plugins.html) doc page it says to execute
`python manage.py makemigrations polls`
However, `makemigrations` is not supported in Django v1.6. And when I try to run `pytho

[2015-06-01 14:03] jeltoesolnce commented on #4128
I had have forgotten that I can view the traceback if I change DEBUG on True, I'm feeling embarrassed :-). A flash plugin was dropped. Now all works fine, thank you.

On Sat, 30 May 2015 07:56:37 -0700
Iacopo Spalletti <notifications@github.com> wrote:

--
Best regards,
Vladimir Vasilenko <vladimir@shumbely.com>.

[2015-06-01 17:24] rando305 commented on #4123
django.db.utils.ProgrammingError: column cms_page.path does not exist
LINE 1: SELECT "cms_page"."id", "cms_page"."path", "cms_page"."depth...

I get this at run-time.  I don't get a migration error.

Any progress on this?

[2015-06-01 17:37] yakky commented on #4123
This looks like an incomplete migration. Are you using Django 1.7 or 1.6?

[2015-06-01 17:38] poligarcia commented on #4123
@lddubeau Disabling `debug_toolbar` makes the problem disappear.

Thanks

[2015-06-01 17:38] yakky commented on #4138
There is an inconsistency in the tutorial fixed by #4136
If you installed 1.6, you have to use ``manage.py schemamigration``

[2015-06-01 17:50] rando305 commented on #4123
1.7

[2015-06-01 17:52] rando305 commented on #4123
I have disabled debug_toolbar and it doesn't make a difference for me.
I also find the same result in the admin - when I select Pages in the  django CMS section

[2015-06-01 20:34] rando305 commented on #138
how does one go about 'reseting the db?'  I'm using postgres

[2015-06-01 20:38] #4128 closed

[2015-06-01 21:27] yakky commented on #4137
Could you provide a better description?

[2015-06-01 21:28] yakky commented on #4138
Closed by #4136

[2015-06-01 21:28] #4138 closed

[2015-06-01 21:29] yakky commented on #4128
Thanks for the update!

[2015-06-01 21:31] yakky commented on #138
@rando305 unless you use very old django CMS version, it's unlikely that this issue is related to your problem.
Could you open a new issue providing a full description of the problem?

[2015-06-01 22:06] gt-liu commented on #4138
Oh, thanks!

[2015-06-02 06:34] sephii opened #4140 "Top-level inherited X-Frame-Options are not applied"
If your page has X-Frame-Options set to INHERIT and if it's a top-level page then `get_xframe_options` for this page will return `None` (https://github.com/divio/django-cms/blob/f6277b127c463e3188b8b19c823ff4f8aac8f82b/cms/models/pagemodel.py#L1261).

The problem is, the delegation of the X-Frame-Options handler to Django is only done if the `xframe_options` is set to `INHERIT` (https://github.com

[2015-06-02 07:08] #4134 closed

[2015-06-02 07:11] yakky commented on #4140
We definitely want ponycheck stickers! This will be on top of the sprints issues

[2015-06-02 13:10] lddubeau commented on #4123
@rando305 You should post a complete stack trace. It is only through examining the trace that I was able to propose a workaround for poligarcia's problem and that I was able to formulate an hypothesis regarding marty3d's problem.

And the output of `select * from django_migrations where app='cms';` should be helpful in determining whether it is an incomplete migration.

[2015-06-02 17:10] yakky opened #4141 "Plugin breadcrumbs are in wrong order"

[2015-06-02 18:35] sephii commented on #4140
Sorry, couldn't wait for the sprints to start.

[2015-06-02 18:43] yakky commented on #4140
Never be sorry for a PR!
Thanks for your contribution

On 2 June 2015 19:35:18 BST, Sylvain Fankhauser <notifications@github.com> wrote:

-- Inviato dal mio cellulare Android con K-9 Mail.

[2015-06-02 19:17] philippze opened #4143 "copy_relations() does not work for relations between cmsplugins"
In the docs, there's a recipe for [handling relations](http://docs.django-cms.org/en/develop/how_to/custom_plugins.html#handling-relations) in custom plugins.

However, this will not work when we deal with relations from one cmsplugin to another cmsplugin.

I've written four unittests [here](https://github.com/philippze/django-cms/commit/658e67f41f9029443ed3fe36d268ef09ef5e2644). Two pass and show

[2015-06-03 18:20] lddubeau opened #4144 "cannot select menu items shown by a context mousedown (right button) on pages in the "CMS > Pages" admin"
### Versions

Django CMS 3.1
Django 1.7

I am also able to reproduce this behavior at https://control.aldryn.com/demo/get-new/

### Steps to reproduce

On a Django CMS installation that already has pages:

1. Bring up "CMS > Pages" in the admin panel. This is the admin view that shows the hierarchy of pages on the site.

2. Move the mouse over a page title. Press and hold the right mouse button. A

[2015-06-04 08:31] DylannCordel commented on #2639
Still a WIP, but I updated [documentation](https://github.com/webu/django-cms/blob/0ff5c76593f49fc63012331922077fe067e3a512/docs/how_to/custom_models.rst) and [tests specifications](https://github.com/webu/django-cms/commit/0ff5c76593f49fc63012331922077fe067e3a512#diff-bb044eb42d669c06165dad8b1802e647) about this feature (and some code but the "how" is less important than the "what")

Feedbacks ar

[2015-06-04 13:16] FinalAngel commented on #4079
I can confirm this @yakky this also happens if you follow the django CMS tutorial, add the polls urls to ``urls.py`` and than navigate to ``http://localhost:8000/polls``

[2015-06-04 13:40] sephii opened #4150 "Mention Python version support in the docs"
There is no mention whether DjangoCMS supports Python 3 or not.

[2015-06-04 14:39] daniel-yavorovich opened #4151 ""Meta Keywords" field not fund in "Change page""
Dear Sirs/Madams,

I have enabled CMS_SEO_FIELDS setting in settings.py, but "Meta Keywords" field not found in "Change page".

Software versions:
Django==1.7.8
django-cms==3.1.0

Can you help me?

Thank you.

[2015-06-04 16:04] julienp opened #4152 "CMSPlugin position vs MPTT order vs Treebeard order"
I'm having trouble wrapping my head around `CMSPlugin.position` vs MPTT order vs Treebeard order.

I have a site originally developed under 3.0 and then migrated to 3.1 (I ran the mptt fix tree manage command before migrating).

When I run fix-tree under 3.1, `CMSPlugin.position` is updated by `CMSPlugin.fix_tree` to match the order as given by the treebeard path and ends up being wrong. What is t

[2015-06-05 08:46] daniel-yavorovich commented on #4151
I found commit https://github.com/divio/django-cms/commit/7c9342276f9a8b6003fac1405494b1e094e33b3a.

This issue is closed, thank you.

[2015-06-05 08:46] #4151 closed

[2015-06-05 12:02] yakky opened #4154 "Recursive nesting of the same plugin removes the settings menu"
Recursive nesting of the same plugin in itself causes the settings menu for the inner copy of the plugin for not being initialised in structure mode
This is mostly due to some plugin rendering issue in structure mode

[2015-06-05 13:59] yakky commented on #4154
Wrong report, sorry

[2015-06-05 13:59] #4154 closed

[2015-06-05 14:04] yakky commented on #4137
Closing this due to the lack of information. Please reopen with more details

[2015-06-05 14:04] #4137 closed

[2015-06-05 14:10] yakky commented on #4060
Fixed by #4111

[2015-06-05 14:10] #4060 closed

[2015-06-05 14:15] yakky commented on #3936
reopening this as it's not fixed yet

[2015-06-05 15:21] stefanfoulis opened #4156 "delete language does not work if language is no longer in settings"
The "delete language" function on the *Page* menu of the Toolbar appears for all languages there is content for (even if the language is not configured in settings). But choosing to delete that language causes a (silent) 500 error.

Design decision:
- not display any languages that are not configured at all (even if there is content for that language in the database)
- fix deleting of that languag

[2015-06-05 21:35] yakky commented on #2639
This is just my opinion and has not been discussed within the technical board, but I'd like to have the least amount of code into the CMS core as possible, only the minimum required to get the things simpler for applications like the one you propose or ``aldryn-apphooks-config``. Monolithic projects can be very complicated to maintain and become more and more slow at evolving over the time.
Lookin

[2015-06-05 21:35] yakky commented on #2639
Sorry, I pressed the wrong button :)

[2015-06-06 12:08] FinalAngel opened #4158 "Creating an alias from placeholder doesn't make much sense"
![image](https://cloud.githubusercontent.com/assets/270307/8019560/19e42be6-0c4d-11e5-9f34-c1170efe52d6.png)

This creates an empty alias which is of no use. We might want to remove it from the menu there or create an alias from the entire placeholder.

[2015-06-06 22:18] yakky commented on #4083
@igloox Please check the above PR which should fix tihs

[2015-06-07 08:12] yakky commented on #4143
Thanks for the awesome tests and a very well described issue.
The problem with ``copy_relations`` between plugins is that while the ``copy_relations`` in https://github.com/philippze/django-cms/commit/658e67f41f9029443ed3fe36d268ef09ef5e2644#diff-f813663252f41cc6f43485a6b06e7caeR58 will work when copying the ``PluginModelWithM2MToModel``, there is no (general) way for the target plugin to change t

[2015-06-07 08:53] yakky commented on #3204
@stefanfoulis @evildmp so the agreed convention is:

 * ``SomePlugin``: the plugin model
 * ``CMSSomePlugin``: the plugin class

This must be documented and the examples in the docs must be changed accordingly

[2015-06-07 08:54] yakky commented on #3438
Closing this due to the lack of feedback

[2015-06-07 08:54] #3438 closed

[2015-06-07 09:06] yakky commented on #4131
@ygwain I cannot reproduce this. Could you provide the detailed steps?

[2015-06-07 10:04] ygwain commented on #4131
https://drive.google.com/open?id=0B_Q1NeUQqkF9a3lsdTZmZTRSZ3c&authuser=0
https://drive.google.com/open?id=0B_Q1NeUQqkF9TFhheXFGVGdCQ0U&authuser=0

[2015-06-07 10:14] yakky opened #4164 "Respect the drop order when copying a plugin from the clipboard"
Currently copying a plugin from the clipboard does not respect any specific order and the plugin is just put somewhere in the parent plugin / placeholder

[2015-06-07 12:10] yakky commented on #4079
@igloox Above PR should fix the ssue, could you test it?

[2015-06-07 12:10] yakky commented on #4131
@ygwain thanks for your screencasts, could you check the above PR? Issue should be fixed

[2015-06-07 12:12] yakky commented on #4126
@SachaMPS thanks for your detailed description
Could you check the linked PR? It should fix the issue

[2015-06-07 12:14] yakky commented on #4152
@julienp In 3.1 it's less used than it was in mptt, but it's still needed in some part of the code.
I expect it to be phased out at some point if we can efficiently use the treebeard information to substitute it
The above PR should anyway make it consistent with ``path`` and ``depth`` values set by treebeard

[2015-06-07 12:23] ygwain commented on #4131
It's fixed. Thanks.

[2015-06-07 15:46] fdik commented on #4101
OK, actally WSGI does make lots of random errors here. Any idea how to setup django-cms so it can be used?

[2015-06-07 16:12] #4079 closed

[2015-06-07 16:12] #4131 closed

[2015-06-07 16:12] yakky commented on #4131
Thanks for your contribution!

[2015-06-07 16:12] #4135 closed

[2015-06-07 16:13] #4141 closed

[2015-06-07 18:54] yakky commented on #4140
Fixed by #4168

[2015-06-07 18:54] #4140 closed

[2015-06-07 19:00] yakky commented on #4156
Fixed in #4161

[2015-06-07 19:00] #4156 closed

[2015-06-07 19:00] yakky commented on #4083
Fixed in #4160

[2015-06-07 19:00] #4083 closed

[2015-06-07 19:02] yakky commented on #4007
Fixed in #4112

[2015-06-07 19:02] #4007 closed

[2015-06-07 19:41] mkoistinen commented on #4041
Closed by #4042 and #4159.

[2015-06-07 19:41] #4041 closed

[2015-06-07 19:42] mkoistinen commented on #3945
Closed by #4170.

[2015-06-07 19:42] #3945 closed

[2015-06-07 19:44] yakky commented on #3936
This should have been fixed in #4042
@jsma @Astone @vstoykov @mbi @mrhanlon @dzonder could you please give latest ``support/3.0.x`` branch a try?

[2015-06-07 20:28] vstoykov commented on #3936
I will test these changes tomorrow at work and will told you if my problems are gone.

[2015-06-08 07:15] vstoykov commented on #3936
With current `support/3.0.x` branch a can't see the problem. For me it looks ok.

[2015-06-08 07:16] yakky commented on #3936
Thanks @vstoykov !

[2015-06-08 17:30] #3993 closed

[2015-06-08 17:30] #4023 closed

[2015-06-08 17:31] #4126 closed

[2015-06-08 17:31] #4152 closed

[2015-06-08 23:10] isnok commented on #4150
It works fine for me with python3.4 (on debian sid).
Just now i have a box (debian stable) that uses python3.2 and i don't get the djangocms command to work...

[2015-06-09 06:29] yakky commented on #4150
Only Python 3.3 and 3.4 are supported

[2015-06-09 08:27] johnraz commented on #3204
Ha \o/ finally :-)

[2015-06-09 14:27] zanderle opened #4176 "public setting in CMS_LANGUAGES is ignored"
I set `public` to `False` on two languages, yet they are displayed everywhere just the same as before. They are displayed in the toolbar as well as the language chooser.

Am I missing something or is this a bug? Might also be an unclear documentation...

Below are the settings used.
I am using Django 1.6 (I know, I know) and Django-CMS 3.0.12

[code]

[2015-06-09 17:16] jribbens opened #4179 "Instructions on front page of django-cms.org are wrong"
Right on the front page of the django-cms.org are the "see how easy it is" 5 steps to install:
[code]
Unfortunately if you actually try this, it doesn't work:
[code]
The instructions need fixing to include `-s` or to use a different directory.

[2015-06-09 17:24] evildmp commented on #4179
You're right, and in fact the docs at http://docs.django-cms.org/en/develop/introduction/install.html#use-the-django-cms-installer include an extra step:

[2015-06-09 21:01] rando305 commented on #4123
@lddubeau thank you for your help.

This is the trace:
(sorry about the ugliness.  How do I beautify this? like those above?)

ERROR:django.request: Internal Server Error: /en/ (2015-06-09 16:51:51; base.py:231)
Traceback (most recent call last):
  File "/home/randy/PycharmProjects/env_ops/local/lib/python2.7/site-packages/django/core/handlers/base.py", line 111, in get_response
    response = wra

[2015-06-09 21:30] rando305 commented on #4123
when I try and run migrations I get the following:  (again sorry for the ugly - I haven't figured out how to prettify)

Running migrations:
  Applying djangocms_file.0001_initial...Traceback (most recent call last):
  File "./manage.py", line 13, in <module>
    execute_from_command_line(sys.argv)
  File "/home/randy/PycharmProjects/env_ops/local/lib/python2.7/site-packages/django/core/management/

[2015-06-09 23:09] yakky commented on #4179
@evildmp would you handle the changes in the django-cms.org website and then close this?

[2015-06-09 23:15] yakky commented on #4123
@rando305 apparently there is something wrong with some configuration ``Cannot resolve bases for [, ]``  is a weird message (there are supposed to be Django models between breackets)
Any custom applications installed in the project?

[2015-06-09 23:21] yakky commented on #4176
Public hides languages for non-staff users, while still making them accessible for editors to create the different languages, so it's a normal behavior to have all the languages available in the toolbar as it's part of the editor interface and they are supposed to access the 'hidden' languages to populate them

[2015-06-10 07:53] zanderle commented on #4176
@yakky ok that makes sense. But why is it shown in the language chooser? I would expect it to be hidden in the language chooser.

[2015-06-10 09:36] FinalAngel commented on #3600
So after digging into deeper:

I will start now on a libsass branch where I migrate accordingly. Though using ``django-libsass`` is the wrong package for the job. In case of the CMS, we compile it on release and package it within the CMS.

Backing the django stack on the libsass compilation is the wrong move, we need to include a node / gulp (or Grunt) kinda way to compile, minify, concatenate, li

[2015-06-10 09:43] yakky commented on #3600
Agree. Decoupling the CMS deployment from any specific way to generate and serve assets it's the only viable option, while still having a more integrated option is a very welcome addition

[2015-06-10 13:43] lddubeau commented on #4123
@rando305 If you put three backticks (```) at the start and end of the stack traces, github should treat them as code blocks. I would have edited it for you but I cannot edit other user's posts.

I've tried replicating your issue here but was unsuccessful.

[2015-06-10 14:48] jproffitt opened #4184 "Cannot edit or remove plugins from placeholder outside CMS"
I have followed this guide to add a placeholder to a custom model: http://django-cms.readthedocs.org/en/latest/how_to/placeholders.html. I have a model like this:

    class MyObject(models.Model):
        ...
        content_placeholder = PlaceholderField('content_placeholder')
        ...

Then, I show the the placeholder in the template:

    {% render_placeholder my_object.content_placeholder

[2015-06-10 16:10] FinalAngel commented on #3600
Checkout https://github.com/FinalAngel/django-cms/pull/6/

[2015-06-10 19:25] evildmp commented on #4179
Thanks Jon for the report, now fixed. Easier fixing software than dealing with a J*dith...

[2015-06-10 19:25] #4179 closed

[2015-06-10 20:06] jrief commented on #3600
May I remind to evaluate this package: https://github.com/jrief/django-sass-processor
@yakky had a concern to not install libsass on the server, therefore I wrote this package. It is able to combine the compilation with compression and the concatenation step.
During development I serve all CSS files with a sourcemap making SCSS debugging a piece of cake and during production I deliver only one CSS

[2015-06-11 07:45] donce commented on #4120
Yeah, it seems subcommand is not getting argument after making it as a cms subcommand.. And it's actually not very nice that tests didn't catch that - maybe we should use different testing approach for commands?

[2015-06-11 08:43] FinalAngel commented on #3600
@jrief though it has some downsides:

- no autoprefixer support (which is a must, libsass without it is half the cake)
- no live-reload capabilities (which can easily be handled over the npm ecosystem)
- very good on a project level, but not for django-cms (as we ship the cms with precompiled css anyways)

things I'm not sure of:

- speed might be affected as you add additional static finders and

[2015-06-11 10:38] jrief commented on #3600
@FinalAngel
* what do you mean by autoprefixer support? BTW, I currently use this library together with the SASS- port from Bootstrap installed via ``npm`` into a local ``node_modules``.
* live-reload could be added directly into Django using websockets. I made this proposal to @intellectronica in another context, but got no answer until now. The benefit would be, that you then don't need any node

[2015-06-11 12:04] marty3d commented on #4123
Hi, sorry for a late reply...I've been traveling but now I'm back in one place for a while :)

So, I did a new try today. I copied my repo to a new directory and created a new virtualenv from my requirements.txt, then ran python manage.py syncdb and it works. So there's definitely something icky going on in site-packages, but I can't figure out what, and I'm a little bit concerned about clearing t

[2015-06-11 12:17] lddubeau commented on #4123
@marty3d You don't have `djangocms-link` in either lists of packages. I had suggested in [this comment](https://github.com/divio/django-cms/issues/4123#issuecomment-105925327) that upgrading it would probably fix the issue. The trace you had in your original report went through code in `djangocms-link`.

So is it just not installed in the new setup? Did you upgrade it?

[2015-06-11 12:21] marty3d commented on #4123
Oh sorry, it is present, I just removed it to show the differences between the package lists. Here's the full list in the original site-packages:
[code]

[2015-06-11 12:55] marty3d commented on #4123
Ok, new update!

@lddubeau mentioned djangocms-link and just to make sure, I uninstalled it and looked in site-packages. There was still a djangocms_link/migrations_django/0003_auto_20150310_0040.py file. Deleting the djangocms_link directory and installing djangocms-link again solved my problem! (of course there's another one now, but it's not related to django cms).

So basically, my issues wher

[2015-06-11 15:18] FinalAngel commented on #3600
@jrief just to answer your points

- autoprefixer: https://github.com/postcss/autoprefixer
- live-reload: well we want it sooner than later and there are plenty options for node
- speed: alright, still cautious about if it won't affect the live env as well
- django-libsass: sourcemaps can be generated through ``LIBSASS_SOURCE_COMMENTS``

anyhow, my proposal goes towards the node integration in htt

[2015-06-11 15:54] yakky commented on #4123
@marty3d thank you so much for your update!
@rando305 probably you could test the same cleanup

[2015-06-11 16:01] yakky commented on #4120
yeah, testing commands it's tricky.
But for 3.2 a rework of the commands is in the works that will make them easier and more consistent to use

[2015-06-11 22:32] driesdesmet commented on #3600
However supportive I would be if you could use a python only solution, after much tinkering with different methods (sekzai/django-compressor, django-bower and the like) I'm glad @FinalAngels' branch proposes the gulp
route. The python ecosystem is just not at the same level at the moment for front-end stuff. That doesn't put out my hope for improvement, but it's the right path for noe I think.

[2015-06-12 05:57] jrief commented on #3600
@driesdesmet https://github.com/jrief/django-sass-processor is a pure Python approach. That's the reason I wrote it. The second reason was, that I dislike having to run a daemon, watching some directories and then acting.
I agree with @FinalAngel that autoprefixer and live-reload are a cool features. While live-reload can be integrated into Django quite easily, autoprefixer is more tricky.

[2015-06-13 00:01] kiwiheretic opened #4193 "css not loading into template"
I managed to get it installed using instructions on website.

This is the contents of web page...

&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Home&lt;/title&gt;

    &lt;style type="text/css"&gt;
        .nav {
            padding-left: 0;
        }
        .nav li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }

[2015-06-13 10:13] yakky commented on #4193
The default template shipped with the installer has no style on purpose, to leave the users able to customise it.
If you want to start with a "styled" base template, select yes at ``Use Twitter Bootstrap Theme`` option of the installer

[2015-06-13 10:13] #4193 closed

[2015-06-14 06:43] ahaqxjl commented on #4150
I don't think django-cms v3.1..0 support python v3.4 well.

when running under python 3.4, I get error **Pillow in virtualenv missing JPEG support** while installing django-cms from command:
`djangocms -p . mysite`

But when I running under python 2.7, it works, there is no error.

[2015-06-14 07:58] yakky commented on #4150
@ahaqxjl please file an issue at https://github.com/nephila/djangocms-installer, it's unrelated to the CMS

[2015-06-15 09:14] benzkji opened #4194 "pushState and ajax support / request.is_ajax hacks"
I think the main thing that makes ajax support for django-cms not that easy, is django-sekizai's drawback that doesn't allow a `{% render_block "whatever" %}` in a block tag. otherwise, the quick and dirty solution seems to be a collection of `{% if request.is_ajax %}` tags. Like this: https://groups.google.com/forum/#!topic/django-cms/B-b3MGn8Onw

also, I wonder if this was discussed somewhere: h

[2015-06-15 13:49] leesolway commented on #4071
I am not sure if this is the same issue.. but sometimes when click publish the action seems to complete however the changes do not get applied to the live version. Going back into edit mode, making a change and republishing fixes the issue.

Seem on a few different 1.6.x projects on Django CMS 3.1. From my experience these projects have always been upgraded for CMS versions 3.0. I am not sure if t

[2015-06-15 14:40] benzkji opened #4195 "allow custom default width for sideframe"
is this somehow already possible?

reason: opening cms page tree doesnt show further actions (not in menu, add subpage, etc.), and filer for example is very strange to use (after uploading a file, the clipboard is not visible, and the file disapeared..)

I see use cases for a small initial width, but it would be nice to have this easily customized...?

[2015-06-15 16:38] yakky commented on #4195
Basically it's this setting https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.sideframe.js#L17
It's quite doable to make it customisable in some way

[2015-06-15 18:09] benzkji commented on #4195
as I get it, it's created here:
https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.toolbar.js#L439
and here (if it was open before reload):
https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.toolbar.js#L83

one could add a data-width per sideframe button/item to
https://github.com/divio/django-cms/blob/develop/cms/templates/cms/toolbar/items/

[2015-06-15 19:48] jproffitt commented on #4184
I figured out the root of the issue is one line 12 in the template `cms/toolbar/plugin.html`:

                'type': {% if generic %}'generic'{% else %}'plugin'{% endif %},

If type is `'generic', it doesn't show the edit menu for some reason. If I simply remove the if block, and just force it to type `'plugin'`, all is good.

What is the purpose of the `'generic'` type?

[2015-06-15 22:34] razisayyed opened #4197 "Can not trnslate page"
I am using version 3.1.0post1. I can not translate pAges to languages differs from LANGUAGE_CODE settings.

When I click on the language tab the page remains on the default Lang tab.

[2015-06-16 05:55] yakky commented on #4197
Thanks for reporting!

[2015-06-16 06:00] yakky commented on #4195
Adding a generic "data" attribute to the ``Button`` class (https://github.com/divio/django-cms/blob/develop/cms/toolbar/items.py#L361) is an option for custom toolbars, for the default one, tou still need to override the current default, or remove the current buttons and add it in your toolbar code.

As of now frontend tests are not required as we're in the process of completely overhauling them

[2015-06-16 06:10] yakky commented on #4184
@jproffitt ``generic`` is to support **Frontend editing for Page and Django models** (http://django-cms.readthedocs.org/en/develop/how_to/frontend_models.html) and it's not
I cannot reproduce this, though.
Could you reenable it and paste here the rendered ``CMS.Plugin`` configuration for that plugin?
You should be able to easily find it at the bottom of the HTML source of the page, by matching the

[2015-06-16 07:13] #4197 closed

[2015-06-16 12:55] jproffitt commented on #4184
This is what I have:

	(function($) {
	// CMS.$ will be passed for $
	$(document).ready(function () {
		new CMS.Plugin('cms_plugin-happenings-happening-1331', {
			'type': 'generic',
			'page_language': 'en',
			'placeholder_id': '371',
			'plugin_name': 'Text',
			'plugin_type': 'TextPlugin',
			'plugin_id': '1331',
			'plugin_language': 'en',
			'plugin_parent': 'None',
			'plugin_order': '',

[2015-06-16 12:55] kelvan commented on #4154
so is this fixed already (in 3.1.1)?
I'm a bit confused ;)

[2015-06-16 15:49] yakky commented on #4154
It was not an issue in the first place :)

[2015-06-16 16:05] kelvan commented on #4154
so I have to create different plugins for each level of the menu?
or is the plugin init problem caused by something else?

[2015-06-16 20:50] yakky commented on #4154
There was no plugin init issue just a bogus error

[2015-06-16 22:20] yakky commented on #4184
Would you test latest develop? Apparently there's an context leak in  ``render_model_block`` which incorrectly sets the type to ``generic`` for the plugins

[2015-06-16 22:33] yakky commented on #4184
@jproffitt does your app sett anything in the context using the ``generic`` variable?

[2015-06-16 22:58] jproffitt commented on #4184
Ah. I just realized I have my `{% render_placeholder my_object.content_placeholder %}` inside the `{% render_model_block %}`. Moving it out of the block fixes it. Is that expected? If so, I can work with that. But we should probably document that somewhere.

[2015-06-17 08:05] vxsx opened #4201 "Editor config"
I'd like to propose adding [editorconfig](http://editorconfig.org/) to the djangoCMS repo.

At the moment it is stated in the documentation that python files would use 4 spaces for indentation and frontend code would use tabs (even though this is going to be changed soon).

Editorconfig would help with the case when the contributor has some specific settings in her editor of choice and has to chan

[2015-06-17 08:22] FinalAngel commented on #4201
:+1:

[2015-06-17 12:18] kelvan commented on #4154
Sorry, I'm still confused. :(
So what was/is the cause of the (plugin menu not shown for childs) problem and how can I fix it?

[2015-06-17 18:39] yakky commented on #4184
@jproffitt yes probably this behavior is worth a mention in the documentation.
The behavior is totally expected. ``render_model_block`` should only contain plain markup and filters, any templatetag can trigger unexpected behavior like this

[2015-06-17 18:40] yakky commented on #4201
Big fat :+1: @vxsx

[2015-06-19 21:00] thrix commented on #3413
Hi, on my site I see that url = 'REFRESH_PAGE' and I end up with 404. So I had to fix the 'if statement' from this fix to:

    if (url && url != parent.location.href && url != 'REFRESH_PAGE') {

to get the page nicely refreshed. Any idea what could be wrong in my case? This mostly happens to me after logout via the cms toolbar on any page ...

[2015-06-19 21:59] imikael21 opened #4202 "Publishing does not correctly invalidate cache"
On Django-Cms 3.1 with Django 1.7 : when publishing a page that contains a placeholder, the live page does not reflect the changes immediately. At least not until cache expires (according to CMS_CACHE_DURATIONS). So it seems that cache invalidation does not work correctly on publish.
This can be bypassed by setting CMS_PLACEHOLDER_CACHE to False.

This bug does not appear to be existing in Django-

[2015-06-22 16:17] SachaMPS opened #4203 "Testen: Aktion Stromcheck Edit mode off dann 404"

[2015-06-22 16:24] SachaMPS opened #4204 "Hero wieder automatisch rotieren (ca alle 5 sec)"

[2015-06-22 17:17] yakky commented on #4204
Could you please post in english?

[2015-06-22 17:17] yakky commented on #4203
Could you please post in english? I'm going to close this. Feel free to reopen with english text

[2015-06-22 17:17] #4203 closed

[2015-06-22 17:17] #4204 closed

[2015-06-23 13:43] antofik opened #4206 "Placeholder in plugin"
Though it is possible to place placeholder inside plugin, when you'll try to place there any content, you not find it in edit mode. It is just not displayed.

The problem is, in edit-mode, all $(".cms-plugins") are set dispaly=none. But code, that calculates relative positions of placeholders (cms.structureboad.js => _resizeBoard) uses $("placeholder").offset() function, which will return (0,0) fo

[2015-06-23 13:51] antofik commented on #4206
Bearing in mind, that there will be plugins inside plugins, I would think, that much easier and convenient would be to show all placeholders in simple list, without trying to position them on the page.
Moreover, positioning will fail if placeholder is shown only on when condition met (say, we have overlay with "special offer", which is shown only for some visitors, and we want to mange it via plac

[2015-06-23 13:51] antofik commented on #4206
I could provide PR, if needed

[2015-06-23 14:34] antofik opened #4207 "Static placeholder recursion"
You could drag'n'drop plugin into static placeholder. If this plugin contains that very static placeholder in template, you will get infinite recursion.

The similar trick could be possible with common placeholders, were it not for another bug: placeholders in plugins are not displayed correctly in edit mode.

[2015-06-23 19:21] jproffitt commented on #3811
I hit this issue with 3.1.0, and reversion 1.8.7

[2015-06-24 08:48] antofik opened #4208 "Key error when reading cms settings"
I cannot reproduce this bug stable, it occurs time to time. And after refreshing the page is goes away.
Is there any thoughts, how it could be?
![django_cms_bug](https://cloud.githubusercontent.com/assets/2310260/8325708/4436fa34-1a64-11e5-8f15-743bba51510c.jpg)

[2015-06-24 09:03] yakky commented on #4208
I wonder how this could happen
``APP_NAME`` is not in ``COMPLEX`` dictionary
I've been unable to reproduce this in many different projects using develop branch
Could you provide more information and eventually debug that portion (which is https://github.com/divio/django-cms/blob/develop/cms/utils/conf.py#L261) by inspecting the value of ``name`` and ``COMPLEX`` variables?

[2015-06-24 09:05] yakky commented on #4207
Any kind of placeholders into a plugin it's not a supported feature.
The same use case can be solved with nested plugins.

[2015-06-24 12:22] SachaMPS opened #4209 "Wrong german translation for "meta description""
https://github.com/divio/django-cms/blob/develop/cms/locale/de/LC_MESSAGES/django.po#L88-89

This german translation desrcibes  "meta keywords" and not a "meta description". If should rather be something like: "Eine Beschreibung der Seite, welche von Suchmaschinen verwendet wird" or similar.

[2015-06-24 12:58] SachaMPS opened #4210 "Drag and Drop not possible in Structure Mode with IE10 and an open sidebar..."
I attached a screenshot which shows the UI in the state where it seems to be not possible to drag and drop plugins anymore.

##### Steps to reproduce:
* Start IE10 in a virtualbox or similar
* Open the aldryn cms demo page
* Press Structure Mode
* Open the Sidebar with Page-Tree

##### Result
It's not possible anymore to change the position via drag and drop of the plugins in the structure view

#

[2015-06-24 15:42] jproffitt opened #4211 "Adding page permission removes page from menu"
Correct me if there is already an issue for this, or if I am just misunderstanding how this is supposed to work.

What I want to do, is restrict who is allowed to EDIT a specific page. I still want all users, including anonymous users to VIEW the page.

So I add a page permission, which seems to make sense:

![screen shot 2015-06-24 at 10 38 19 am](https://cloud.githubusercontent.com/assets/222768

[2015-06-24 15:43] Moini commented on #3940
We've got a similar problem at times - not sure if it is the same:
the pages overview page looks like the screenshot above, but resizing (always) or reloading (sometimes) the page helps, so it seems more of a displaying problem, with old Django 1.6, and django-cms 3.0.6 - could anyone tell me if this is a known problem?

I have difficulties searching for this - 'page, pages, not loaded, not displa

[2015-06-24 15:45] jproffitt commented on #4211
I should clarify that the sub menu for the page gets bumped up to the top level of the menu. So when you visit the page, there is no "sub menu" anymore. It is actually as if each of the items in that sub menu are now at the top level of the menu.

[2015-06-24 18:37] yakky opened #4212 "urlifijs and slugify behaves differently"
Leading to some errors when slugifying non latin words

[2015-06-24 18:37] yakky commented on #4212
Approved solution: Vendorize https://github.com/dreikanter/python-urlify and use it instead of django slugify

[2015-06-24 18:40] yakky commented on #4211
@jproffitt which CMS version?

[2015-06-24 18:41] yakky commented on #3940
@Moini what about 3.0.13?

[2015-06-24 18:42] yakky commented on #4210
@SachaMPS which django CMS version?

[2015-06-24 18:43] yakky commented on #4209
@SachaMPS you can change it on transifex https://www.transifex.com/organization/digi604/dashboard/all_resources/de/?project=django-cms

[2015-06-24 18:49] jproffitt commented on #4211
Django CMS 3.1.0
Django 1.7.8

[2015-06-24 20:47] Moini commented on #3940
I have only ever encountered the problem on our real website, never on my local dev server.
And even on the real website, it doesn't happen consistently.
Martin Owens suspected it might be a race condition kind of thing, with some part not being loaded fully before some script tries to work with it (probably something that is called again, when the window is being resized).
I'm not sure that local

[2015-06-24 21:12] SachaMPS commented on #4210
@yakky CMS 3.1

[2015-06-24 21:24] SachaMPS commented on #4209
ah nice... I fixed it and 2 more minor spelling issues i found.

[2015-06-24 21:24] #4209 closed

[2015-06-24 21:32] yakky commented on #4209
@SachaMPS thanks! This will be included in 3.0.14/3.1.1 due to be released shortlyt

[2015-06-24 21:32] yakky commented on #4210
Thanks for the feedback

[2015-06-25 00:09] zen-zindlerb opened #4213 "sdfs"

[2015-06-25 00:10] #4213 closed

[2015-06-25 01:10] jozefsukovsky opened #4214 "unpublish page translation on multilingual site does not actually unpublish the language version"
Let's say I have a multilanguage site. My page name is
"About" for en language
"O nas" for sk language

For the first time, after the sk "O nas" has been created, but it's not published yet, I see the correct "About" fallback on site and grey indicator in the administration. After publishing sk version "O nas", everything is ok, the indicator changes to green, language version can be accessed by v

[2015-06-25 14:08] SachaMPS opened #4215 "copy_plugin in frontend leads to a 302 redirect to http:// instad of https://"
CMS: 3.1
Django: 1.6

##### Description
We have an SSL secured Site running the CMS. We couldnt copy plugins in the frondend because of the  response which is returned from django cms which contained a 302 Moved Temporarily and a unsecure http:// adress

##### The error
Browser complains about mixed content (https / http) and stops processing the response

##### The request
Request URL:https://xxx

[2015-06-25 16:17] yakky commented on #4215
@SachaMPS How is setup the Site object in the admin?

[2015-06-25 16:23] SachaMPS commented on #4215
Do you mean this:?
![image](https://cloud.githubusercontent.com/assets/305877/8359529/4734f0d4-1b67-11e5-94ed-db20637b7ed1.png)

[2015-06-25 16:31] yakky commented on #4215
Yes
I double checked, anyway, and the path to copy the plugins is domainless:

    <script>
    (function($) {
    // CMS.$ will be passed for $
    $(document).ready(function () {
    new CMS.Plugin('cms_plugin-13233', {
    'type': 'plugin',
    'page_language': 'it',
    'placeholder_id': '2377',
    'plugin_name': 'Blocco Immagine',
    'plugin_type': 'NphMediaBlock',
    'plugin_id': '13233',

[2015-06-25 16:35] SachaMPS commented on #4215
@yakky The problem is not the outgoing request from the browser... Its the response The request uses an https:// path but the response contains the 302 status code and a location to a none http:// path.

(I used firefox dev tools because they gave me the most insight what happened)

The request which produced this was:
https://xxxxxxx.de/admin/cms/page/clear-placeholder/1908/

[2015-06-25 16:50] yakky commented on #4215
This is the response I get on an example https website:

    Status: 302
    Cache-Control: max-age=0
    Connection: keep-alive
    Content-Language: it
    Content-Type: text/html; charset=utf-8
    Date: Thu, 25 Jun 2015 16:46:24 GMT
    Expires: Thu, 25 Jun 2015 16:46:24 GMT
    Last-Modified: Thu, 25 Jun 2015 16:46:24 GMT
    Location: https://example.com/admin/
    Server: nginx
    Set-Cook

[2015-06-25 16:57] SachaMPS commented on #4215
@yakky I will again look into our setup... If you're getting https it seems as it must be part of our setup and not the cms itself. Anyhow its weird because we even redirect immediately from http to https on every page load and there didn't occure any other similar errors.

Think you can close this issue and i will come back if i found somehting more specific

[2015-06-25 17:12] yakky commented on #4215
Using i18n_url_patterns is recommended, but I cannot see how this could affect the behavior (btw: the above website is a multi-site setup with only one of the website under https, both using USE_I18N and i18n_url_patterns)

[2015-06-27 07:17] wolfg1969 commented on #3018
@digi604 767 bytes means at most 191 characters in utf8mb4. I find a few fields that are large than 191 and have index: ```Page.application_urls```, ```Placeholder.slot```, ```Title.slug``` and ```Title.path```. Easily to change model, but how to deal with the migrations?

[2015-06-27 14:19] mkoistinen commented on #4176
Hi @zanderle, I've investigated this.

Can you create a new template in your project at templates/menu/language_chooser.html with these contents and let me know if it helps:

[code]

Please advise.

[2015-06-27 14:28] yakky commented on #4212
A test branch is almost ready, but I'd refrain to merge this at this later stage, pushing to 3.1.2

[2015-06-27 17:09] zanderle commented on #4176
@mkoistinen YES! Thank you so much! As soon as I remove `{% get_available_languages as languages %}` it works as expected - it shows only the translated languages vs. all of them.

This should probably be removed from the default template as well? Or at least documented somewhere...

[2015-06-27 17:12] yakky commented on #4176
Oh well, I thought the language chooser template has been fixed **ages** ago!

[2015-06-27 17:12] yakky commented on #4176
I'll fix it

[2015-06-27 18:37] mkoistinen commented on #4176
Crazy thing is, the templatetag _was_ fixed ages ago. But, for some bizarre reason, someone overrode all that work with one line in the template itself. Go figure. Amazingly, the person who did the work, was also the person who then overrode it. Weirder still.

[2015-06-27 19:18] #4202 closed

[2015-06-29 00:58] marksweb opened #4219 "Upgraded from 3.1 to 3.1.1 & I'm getting an AttributeError from the toolbar"
I've just upgraded a project to 3.1.1, cleaned pyc files, migrated & tried to load a page. This has resulted in an AttributeError;

[code]

[2015-06-29 04:23] narayanaditya95 commented on #4219
I faced the same problem. Please ensure that you have ```'django.middleware.locale.LocaleMiddleware'``` included in ```MIDDLEWARE_CLASSES```.

[2015-06-29 04:37] marksweb commented on #4219
Nice, thanks @narayanaditya95 totally missed the fact that was missing!

[2015-06-29 04:37] #4219 closed

[2015-06-29 11:08] tmiller02 opened #4220 "Incorrect logging syntax raises exception"
When failing to move a page, this line:

`Logger.warn('mptt tree may need rebuilding: run manage.py cms fix-mptt')`

in the Page model raises an exception rather than creating any log:

`TypeError: unbound method warning() must be called with Logger instance as first argument (got str instance instead)`

[2015-06-29 11:53] yakky commented on #4220
Which django CMS version are you using?

[2015-06-29 12:22] tmiller02 commented on #4220
3.0.13.
Apologies, it looks like this has already been fixed on the master branch in 27be973b025c59eb6362ac0f34a0189d5adb8cc2

[2015-06-29 17:32] yakky commented on #4220
Yes, develop it's been released as 3.1.1 two days ago

[2015-06-29 17:32] #4220 closed

[2015-06-30 17:31] jproffitt commented on #4211
This appears to be fixed in django-cms 3.1.1. I can't reproduce the issue anymore since updating to 3.1.1.

[2015-07-01 02:42] pa-jama opened #4222 "After upgrading 3.1.1, makemigrations creates a cms migration"
As in title,
after

    ./manage.py makemigrations

    Migrations for 'cms':
      0013_auto_20150701_1440.py:
      - Change managers on pageuser

...

    class Migration(migrations.Migration):

    dependencies = [
        ('cms', '0012_auto_20150607_2207'),
    ]

    operations = [
        migrations.AlterModelManagers(
            name='pageuser',
            managers=[
                ('ob

[2015-07-01 03:27] yakky opened #4223 "Placeholder cache is not cleared correctly on plugin save"

[2015-07-01 03:35] yakky commented on #4222
I can't reproduce this. Could you provide more context? Do you use custom user modules?

[2015-07-01 04:02] pa-jama commented on #4222
Yes, but even removing that app from installed_apps I still get it.
I just reproduced this by:

[new virtualenv]

    pip install "django-cms==3.1.1"
    django-admin startproject

add to settings.py:

    SITE_ID=1

    INSTALLED_APPS = (
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django

[2015-07-01 08:59] walterrenner opened #4225 "Similar field names with PageUser and my custom user model"
I have a similar problem as @jrief describes in #3973.
We use django 1.8.2 with a custom user Model and as i tried to install django-cms 3.1.1 i got the following error:

    django.core.exceptions.FieldError: Local field 'created_by' in class 'PageUser' clashes with field of similar name from base class 'Contact'

Unfortunately my custom User model already has a `created_by` Field. And [django do

[2015-07-01 15:44] jrief commented on #4225
@walterrenner do you have this problem only if running under uwsgi/gunicorn or also while developing with runserver.

[2015-07-01 23:38] yakky commented on #4102
@BertrandBordage @dibell  Could you try using current treebeard master branch? Apparently issue has been fixed

[2015-07-02 03:40] pa-jama commented on #4222
ALso,

Cloning this repo, new virtual env,
    pip install -r test_requirements/django-1.8.txt,
    python develop.py makemigrations

Also creates it? It also creates random migrations for djangocms_link too, which I didn't encounter because I'm not using it.

    Migrations for 'djangocms_link':
      0004_auto_20150702_1535.py:
        - Alter field anchor on link
        - Alter field mailto on

[2015-07-02 06:47] walterrenner commented on #4225
The error occurs already during database migration.

So when i run `./manage.py migrate cms` the field `PageUser.created_by` can not be created, because my custom user model `Contact` already has a field named `created_by`.

And because of the failed migration process either the devserver nor uwsgi/gunicorn will start up.

[2015-07-02 17:05] bsenicar opened #4228 "Wrong render of show_menu_below_id menu tag"
Hi, when I use show_menu_below_id tag in my page and want to show menu of pages which doesn't contain currently selected menu node menu is rendered improperly.

For example:
- Root
- \- Page1 <-- current page
- \- - Page11 <-- {% show_menu_below_id Page11_ID 0 100 0 1 %}
- \- - - Page111
- \- - - - Page1111
- \- - - Page112
- \- - Page12
- \- Page2

menu should be rended as:
- Page111
- Page112

B

[2015-07-02 18:59] kelvan commented on #3811
Just ran into this in 3.1.1
Deleted picture (not the ImagePlugin)
Plugin gone from page
Undo -> 500
Page broken

[2015-07-03 07:19] yakky commented on #4223
Fixed by #4224

[2015-07-03 07:19] #4223 closed

[2015-07-03 07:19] yakky commented on #4212
Moving to 3.2 as this will change the CMS behavior

[2015-07-03 07:27] yakky commented on #3811
@kelvan A filer plugin?

[2015-07-03 07:30] yakky commented on #4222
Apparently it's Django 1.87 triggering a new migration ...

[2015-07-03 07:32] yakky commented on #4222
Thanks @pa-jama

[2015-07-03 07:33] yakky commented on #4210
@FinalAngel I think we can move this to 3.2 and test this on the new frontend structure

[2015-07-03 07:33] #4207 closed

[2015-07-03 07:34] #1672 closed

[2015-07-03 07:35] yakky commented on #1757
No longer relevant

[2015-07-03 07:35] #1757 closed

[2015-07-03 07:37] yakky commented on #4201
Fixed by #4205

[2015-07-03 07:37] #4201 closed

[2015-07-03 07:43] yakky commented on #3936
Fixed in #4042

[2015-07-03 07:43] #3936 closed

[2015-07-03 07:50] FinalAngel commented on #4210
@yakky yes will track and fix it

[2015-07-03 10:19] yakky commented on #4211
@jproffitt thanks for the update. Closing this. Feel free to reopen if this happens again

[2015-07-03 10:19] #4211 closed

[2015-07-03 10:19] yakky commented on #4206
I am not a fan of placeholders in plugins. @mkoistinen @FinalAngel, any opinion?

[2015-07-03 10:20] yakky commented on #4176
Fixed by #4217

[2015-07-03 10:20] #4176 closed

[2015-07-03 10:20] kelvan commented on #3811
yes, was an filer_image

[2015-07-03 10:25] yakky commented on #4144
@FinalAngel do we need that menu in the first place?

[2015-07-03 11:36] yakky commented on #3811
@doctormo @kelvan @jproffitt could you test https://github.com/divio/django-cms/pull/4235
It's still WiP and a bit rough, but should already solve the issue

[2015-07-03 12:00] FinalAngel commented on #4144
@yakky I'm not so sure, I'll assign and have a look

[2015-07-03 12:32] kakulukia commented on #3475
hi .. i kinda have the same bug i think

i have a base template with placeholder1
and a default template with show_placeholder (which shows the header) and placeholder2

now when i switch to the structure view of any page based on the default template, the cms sometimes displays the placeholder1, but most of the times it does not and static/cms/js/modules/cms.structureboard.js fails because the dr

[2015-07-04 12:45] yakky commented on #4222
Fixed by #4232

[2015-07-04 12:45] #4222 closed

[2015-07-04 13:01] yakky commented on #3285
Fixed by #4216

[2015-07-04 13:01] #3285 closed

[2015-07-04 13:04] yakky commented on #4164
Duplicate of #3336

[2015-07-04 15:31] chiyuan-goh opened #4238 "minor typo in documentation"
under http://django-cms.readthedocs.org/en/latest/how_to/custom_plugins.html,  a good example

`{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}myplugin/css/astylesheet.css"></script>{% endaddtoblock %}`

should be just `{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}myplugin/css/astylesheet.css"/>{% endaddtoblock %}`

[2015-07-04 16:08] antofik commented on #4206
Placeholders in plugins is just more general form of "plugins in plugins", which is supported feature.
But with current scheme of "plugins in plugins" one could place children plugins in parent template only as list. Or create some hacks, like this one: create wrapper with model:

[code]

And then place each child plugin according to its type. But this looks a bit ugly, Especially since system alr

[2015-07-06 06:02] FinalAngel commented on #4206
wouldn't this be automatically solved with: https://github.com/divio/django-cms/pull/4185 as the placeholder are not absolute positioned anymore?

@antofik can you try if that works for you?

[2015-07-06 09:21] philippeowagner commented on #4225
Thanks @yakky for triage. We will provide a patch to fix this ASAP.

[2015-07-06 11:29] evildmp commented on #4215
@SachaMPS Is it it possible that your browser has remembered a permanent redirect, and is acting on that? I have had some mysterious browser/HTTP interactions of this kind that produced some very odd behaviour.

[2015-07-06 15:06] blueyed opened #4243 "RemovedInDjango19Warnings"
With Django 1.8 there are several `RemovedInDjango19Warning` warnings triggered by django-cms:

via:

    cms/admin/placeholderadmin.py
    8:from django.contrib.admin.util import get_deleted_objects

    cms/admin/pageadmin.py
    15:from django.contrib.admin.util import get_deleted_objects

    cms/tests/permmod.py
    6:from django.contrib.admin.util import unquote

And `django.utils.importlib

[2015-07-06 15:19] yakky commented on #4243
@blueyed which django CMS version are you using? With django CMS 3.1.2 there should be no warning regarding 1.9

[2015-07-06 17:52] blueyed commented on #4243
@yakky
I was using the develop branch, but it's the same with 3.1.2.

`cms/utils/django_load.py` is using `from django.utils.importlib import import_module`, for example.

[2015-07-06 18:15] blueyed opened #4244 ".sass-cache dirs included in sdist/wheel"
The following directories shouldn't be included in the wheel probably?!

 - cms/static/cms/.sass-cache
 - cms/static/cms/sass/.sass-cache

I've tried adding it to `find_packages` in `setup.py`, but that does not appear to help.  It seems to affect package names only.

    packages=find_packages(exclude=["project", "project.*", ".sass-cache"]),

[2015-07-06 18:25] yakky commented on #4244
Thanks we will clean this up in the next packaging

[2015-07-07 07:37] yakky opened #4245 "Relax html5lib dependency"
After bug fixed upstream

[2015-07-08 08:11] bharling commented on #4102
We're hitting this issue as well - same deal creating a sub-page

[2015-07-08 08:12] SachaMPS commented on #4215
@evildmp No, i am pretty sure not... To get more details on the request i switched to firefox and saw the problem directly also in Firefox. And i actually never use firefox so chances for a caching problem don't seem very probable. If you want i can give you all the details about our setup, maybe s.th. catches your eye then.

[2015-07-08 11:46] foobacca opened #4247 "Home page isn't published after upgrade to 3.0"
We're in the process of upgrading a couple of sites from 2.4 to 3.0

After the upgrade, the home page shows the "get started" page.  Going through the admin, I can find the home page as a draft, and after I publish it then it seems to be OK again.  The other pages appear to be OK, it's just the home page.

I haven't found anything similar from googling.  Anyone else come across it?  Does this seem

[2015-07-08 11:48] yakky commented on #4215
@SachaMPS that would help,, thanks

[2015-07-08 11:52] yakky commented on #4247
the upgrade behavior is correct: page are migrated unpublished. you can use http://django-cms.readthedocs.org/en/develop/reference/cli.html#cms-publisher-publish to published them all at once.
I think we failed to mention this in the upgrade guide ...

[2015-07-08 11:55] yakky commented on #4247
@mkoistinen @evildmp  probably it's worth to amend this page http://django-cms.readthedocs.org/en/develop/upgrade/3.0.html#upgrading-from-2-4 to clarify the behavior

[2015-07-08 11:57] yakky commented on #4102
@bharling @dibell @heppstux @BertrandBordage
I am now able to reproduce this constistently. Apparently it's a treebeard issue, though
But I am working on it

[2015-07-08 14:25] foobacca commented on #4247
+1 for adding to the upgrade notes

[2015-07-08 17:17] amitbend commented on #4068
otakucode you helped alot,
I started learning and had so much trouble.
thanks

[2015-07-09 23:05] boydjohnson opened #4250 "Two sites, one database: delete_orphaned_plugins finds other sites plugins and can't delete them because of foreignkey constraints"
We have two sites using django.contrib.sites with a shared database and in anticipation of upgrading to django-cms 3.1.2 I ran manage.py cms delete_orphaned_plugins on our development environment for app 2 which has 0 plugins currently and it said there were 126 uninstalled plugins (I think from the other site) but ultimately couldn't delete them because of foreignkey constraints.  Is there someth

[2015-07-10 00:29] mrsarm opened #4251 "djangocms-installer generates wrong settings.py with Django 1.8"
Te configuration is initialized with a ``TEMPLATE_CONTEXT_PROCESSORS`` removed in Django 1.8: ``django.middleware.doc.XViewMiddleware``. This cause this exception when you start the project with ``runserver`` an try to load the home page:

    Django version 1.8.3, using settings 'mrdev.settings'
    Starting development server at http://127.0.0.1:8000/
    Quit the server with CONTROL-C.
    Trac

[2015-07-10 00:46] mrsarm commented on #4251
I don't know if this is for the same reason, but after run the project, the web with the example template in Bootstrap looks fine, but after login with the admin user, the CMS toolbar doesn't show correctly, it's showed without styles, I attach an screenshot as example:

![Screenshot](https://docs.google.com/a/grayshirts.com.ar/uc?authuser=0&id=0B1v39YERCugsUDREU0htbG16b1U&export=download)

Lookin

[2015-07-10 00:52] mrsarm commented on #4251
This is my Python 3.4.0 environment (``pip freeze``):

    Django==1.8.3
    Django-Select2==4.3.1
    Pillow==2.8.0
    argparse==1.3.0
    dj-database-url==0.3.0
    django-classy-tags==0.6.2
    django-cms==3.1.2
    django-reversion==1.8.5
    django-sekizai==0.8.2
    django-treebeard==3.0
    djangocms-admin-style==0.2.7
    djangocms-column==1.5
    djangocms-file==0.1
    djangocms-flash==

[2015-07-10 03:26] mishbahr opened #4252 "ValueError: Lookup failed for model referenced by field.. for PlaceholderField"
I'm using the `PlaceholderField` on a custom app.

django==1.7.8
django-cms==3.1.0

    @python_2_unicode_compatible
    class Post(models.Model):
        [...]
        content = PlaceholderField('post content', related_name='post_content'))

When I run the `makemigrations` command.. I get something like this:

    class Migration(migrations.Migration):

        dependencies = [
            ('auth

[2015-07-10 04:01] mishbahr commented on #4252
Trying use the oldest migrations possible, using `0002_auto_20140816_1918` works!

     ('cms', '0002_auto_20140816_1918'),

Looking through the migrations files:

    https://github.com/divio/django-cms/blob/develop/cms/migrations/0002_auto_20140816_1918.py#L48

Does this mean `Placeholder` model is created in the `0002` migration? If thats the case, how is the `aldryn-newsblog` working with migr

[2015-07-10 07:17] jokerejoker opened #4253 "Template failes to load if returned as Template instance in Django 1.8"
I have problems using the cmsplugin-filer-image after upgrading to Django 1.8.x. I have traced the bug back to the way that django-cms is checking for templates, and the changes in Django 1.8 supporting multiple templating engines.

I have made a fix with the pull request #4248

[2015-07-10 18:02] frnhr commented on #3278
Seems to be missing from 3.1.2?
I found this feature useful, but agree that if would benefit from having a different trigger. Perhaps a shift+hold, or a triple-click.

[2015-07-10 18:27] frnhr commented on #3278
Yeap, here it is: https://github.com/divio/django-cms/commit/401654988b6a5bcdcd878a82f52b0740fc849895

Too bad is was just removed, without an alternative :(
I recently explained this feature to my client and he loved it. And now it's gone.

Any thoughts about implementing it again, but with a triple-click this time? What are the changes of it being accidentally trigged that way?

[2015-07-10 21:53] yakky commented on #3278
We removed this (undocumented and poorly understood) feature as we had a lot of negative feedback on it (especially with touch devices or mousepads). Structure mode UX is going to change a lot in the next releases and it may worth exploring alternatives if there is interest for it

[2015-07-11 00:41] frnhr opened #4254 "Login form on CMS Toolbar should use `USERNAME_FIELD`"
Django allows custom User models that user alternative fields instead of "username". Most common example of this is probably email-only User model, i.e. User model that does not have "username" field and instead relies on "email" field for identification.

To this end, Dajngo provides `USERNAME_FIELD`: https://docs.djangoproject.com/en/1.7/topics/auth/customizing/#django.contrib.auth.models.Custom

[2015-07-11 11:47] rfleschenberg commented on #4251
The missing toolbar CSS is caused by the fact that ``'sekizai.context_processors.sekizai'`` is not in ``CONTEXT_PROCESSORS``. Adding it fixes the issue for me.

[2015-07-11 20:26] yakky commented on #4251
This is https://github.com/nephila/djangocms-installer issue, closing here, feel free to reopen the issue there

[2015-07-11 20:26] #4251 closed

[2015-07-11 20:33] yakky commented on #4252
A "safe" migration to depend on is ``0003_auto_20140926_2347.py`` which was part of the first version of django CMS with Django 1.7 support. 0001 and 0002 have been splitted due to some issues when porting, and ``PlaceholderField`` is created in 0002

[2015-07-11 20:33] #4252 closed

[2015-07-11 20:36] yakky commented on #4250
Sites should share not only the database, but also the codebase, otherwise ``delete_orphaned_plugins`` can't correctly detects installed plugins. From your report I can't understand if sites shares both

[2015-07-11 20:56] yakky commented on #4102
Relevant treebeard issue https://bitbucket.org/tabo/django-treebeard/issues/78/attributeerror-nonetype-object-has-no.

[2015-07-11 22:04] yakky commented on #4254
Nice suggestion @frnhr would you like to contribute this enhancement?

[2015-07-11 22:14] yakky commented on #4251
@mrsarm @rfleschenberg please check nephila/djangocms-installer#188

[2015-07-11 22:16] yakky commented on #4102
@BertrandBordage @dibell @heppstux @bharling could you test yakky/django-cms@feature/treebeard_fix ?

[2015-07-11 22:29] yakky commented on #4225
@walterrenner ``PageUser`` is a way to add information to the User, and it's not mean to be a ``User`` model substitute
Long-term, they way to fix this is to use an explicit OneToOneField, rather than extending from the ``User`` model

[2015-07-11 22:39] yakky commented on #4214
I can reproduce this
Do you still see sk content on the unpublished page? have you checked the reachability of the page in an anonymous browser session?

[2015-07-12 06:55] yakky commented on #4214
@jozefsukovsky have you enabled the django cache? In that case the Django cache kicks in and there is little we can do. The only option is completely clear the cache on every page unpublish but it's an overkill, usually, as usually it's ok to wait for the cache timeout to delete the page cache.
If you need immediate deletion, you can hook to ``cms.signals.post_unpublish`` and clear the cache after

[2015-07-12 06:58] yakky commented on #4243
@blueyed #4255 should remove any deprecation warning in the django CMS codebase.
Thanks for sharing this

[2015-07-12 06:58] #4253 closed

[2015-07-12 11:24] jozefsukovsky commented on #4214
@yakky unfortunately It's still happening, with no cache in an anonymous session (a different browser).

I'm sorry, I was probably a bit confusing. If I unpublish all translations the page will hide completely as expected. If I unpublish just sk translation I start seeing en content on the sk page (vice-versa when I unpublish en translation). I expected unpublishing just one translation will hide

[2015-07-12 14:28] yakky commented on #4214
@jozefsukovsky that would be great, thanks (this happens both with runserver and wsgi deployment, right?)

[2015-07-12 17:51] mrosati84 opened #4259 "Missing 's' in polls app, "Extending the Toolbar" documentation"
Hi,
I have noticed a missing 's' character in the first snipped of example code, here:

/en/stable/introduction/toolbar.html

the correct app name is "polls" and not "poll"

Bye!
Matteo

[2015-07-12 21:40] yakky commented on #4214
@jozefsukovsky Could you test #4261 (which is based on 3.0 as I think it worth to fix the bug in 3.0 too)

[2015-07-12 23:15] jozefsukovsky commented on #4214
Attached is project as I mentioned before. I've tested with 3.0 branch and #4261 unfortunately the items are still available in the menu and opening the links shows page with no content.

https://www.dropbox.com/s/r14xfn6m923ctge/web.tgz?dl=0

[2015-07-13 00:50] garncarz commented on #381
Django Version: 	1.8.2
Python Version: 	3.4.3
django-cms version: 3.1.2

Happening again.

[2015-07-13 05:53] yakky commented on #381
@garncarz Added in #4262

[2015-07-13 06:27] yakky commented on #4214
Sorry, current of PR assumed ``'hide_untranslated': False`` and ``'redirect_on_fallback': False``
Check the updated PR (still WiP): it returns a 404 when accessing sk/kontakty and will not show it in the menu

[2015-07-13 06:39] yakky commented on #4214
@jozefsukovsky Previous version of the PR assumed ``hide_untranslated=False`` to check the general behavior. I update with a commit regarding the menu, so the ``/sk/kontakty/`` should be now not visibile in the menu
The blank page is due to ``language_fallback=False`` (or not defined) in ``CMS_PLACEHOLDER_CONF`` which does not trigger the fallback for placeholder rendering. This  is not ``True`` b

[2015-07-13 13:56] heppstux commented on #4102
Hello @yakky:

I tested https://github.com/yakky/django-cms/commit/d55d649 locally. Unfortunately I could reproduce this error:

    AttributeError at /de/admin/cms/page/add/
    'NoneType' object has no attribute '_inc_path'
    Request Method:	POST
    Request URL:	http://localhost:8000/de/admin/cms/page/add/?language=de&target=9&position=last-child
    Django Version:	1.7.8
    Exception Type:

[2015-07-13 14:59] sthzg commented on #3532
I am running into this on a `3.0.3` installation. Putting the `@receiver` from the gist on top of my test file didn't help (maybe the logout signal does not work as expected in test cases?), but I assume that I hit the same error because putting the following hack into a cleanup function called at the end of every test "fixes" the problem.

[code]
In the coming days I will try to update the setup

[2015-07-13 20:45] yakky commented on #3532
Thanks @sthzg for your efforts

[2015-07-13 21:07] yakky commented on #4102
@heppstux Thanks for your further testing
 I should have found the issue with the pages, please check https://github.com/yakky/django-cms/tree/feature/treebeard_fix branch
I think I spotted the same issue with plugins, a fix for those will follow

[2015-07-13 21:24] yakky opened #4263 "Document dependency on 1.6.9+ for django CMS 3.1 and up"
django CMS 3.1 and up requires at least Django 1.6.9 due to the use of ``six.with_metaclass`` function shipped in Django starting from 1.6.9

[2015-07-13 21:35] yakky commented on #4244
Fixed by #4528

[2015-07-13 21:35] #4244 closed

[2015-07-13 22:11] blueyed commented on #4244
Thanks!
Would be #4258 however (typo).

[2015-07-14 02:58] garncarz opened #4265 "render_placeholder doesn't work?"
Using django-cms 3.1.2, Django 1.8.2 and Python 3.4.3, I can see the CMS toolbar and log in and edit a standard placeholder on `/?edit`, but there's no rendered output for `{% render_placeholder my_instance.placeholder_field %}` on my app's `/my-view/?edit` (toolbar still working there). Even no error in `runserver`.

[2015-07-14 12:22] lddubeau commented on #3532
The problem definitely exists when using Django 1.7 and Django CMS 3.1.0. I added the `set_current_user(None)` call after test completion by using `cms.test_utils.testcases.BaseCMSTestCase` to mix it in with the problematic test cases. (Using `cms.test_utils.testcases.CMSTestCase` or `cms.test_utils.testcases.TransactionCMSTestCase` was not an option in my case.)

I've assumed that using `cms.test

[2015-07-14 16:16] yakky commented on #4214
@jozefsukovsky does the refined PR works for you?

[2015-07-14 21:18] yakky commented on #4259
Fixed by #4260

[2015-07-14 21:18] #4259 closed

[2015-07-14 21:19] yakky commented on #4243
Fixed in #4255

[2015-07-14 21:19] #4243 closed

[2015-07-14 21:19] yakky commented on #4245
Fixed by #4256

[2015-07-14 21:19] #4245 closed

[2015-07-14 21:50] ychouinard opened #4269 "Plugin position not updated when copied"
I'm using the get_position_in_placeholder() method of plugins to find their position. I noticed that the value of the 'position' field is not updated when a plugin is copied. If I copy the plugin in 3rd position, the copy will keep the value of 3 for the position no matter where it gets pasted.

I'm using 3.0.14

[2015-07-14 21:50] jozefsukovsky commented on #4214
@yakky I've tested it now, it works perfectly.

Thanks!

[2015-07-14 22:08] yakky commented on #4269
This has been fixed in #4167 released in 3.1.1

[2015-07-14 22:18] ychouinard commented on #4269
Great, I'll try to upgrade. Thanks!

[2015-07-14 22:18] #4269 closed

[2015-07-14 22:23] yakky commented on #4214
Thanks for reporting and testing!

[2015-07-14 22:23] #4214 closed

[2015-07-14 23:53] boydjohnson commented on #4250
Thanks @yakky, in our project we have a parent child relationship between the code bases where one site gets pip installed into the other and then some but not all of the apps are installed via installed apps in the settings.

[2015-07-15 00:16] boydjohnson opened #4271 "Have caching based on permissions more configurable"
My understanding is that the cms.views file uses cached content for non-logged in users and uncached content for logged-in users, so there are lines about user.is_authenticated(). Since 99% of our traffic comes from logged-in users, we copy the cms.views file and change user.is_authenticated() to user.is_staff(two lines of code in 3.0, 1 line in 3.1). It would be nice if this functionality were co

[2015-07-15 05:33] yakky commented on #4250
@boydjohnson this is not supported by django CMS which assumes that all the sites share the same codebase and configuration

[2015-07-15 05:36] yakky commented on #4271
@boydjohnson atually the cache is not used if the user is  authenticated **and** the toolbar is visible and in edit mode, so it does not affect normal users but only staff editors when working on the website

[2015-07-15 11:49] sepi2048 opened #4275 "Install Error: AttributeError: 'NoneType' object has no attribute '_meta'"
I am trying to install djangoCMS on my Ubuntu 15.04.
I installed django CMS inside the virtualenv like this:

`pip install djangocms-installer`

First I had a "pillow not compiled with jpeg" issue, but managed to solve it by installing another pip version (pip install Pillow==2.3) before running `djangocms -f -p . myproject.`

**Now, I keep getting the following error:**
`
Running migrations:

[2015-07-15 15:01] boydjohnson commented on #4250
If anyone is coming to this with the same issue, I added the other site's app that had the plugins to installed apps in the settings when I ./manage.py cms delete_orphaned_plugins and then took it out. I also had to add the plugin templates directory to the template dirs in the settings.

[2015-07-15 19:11] yakky commented on #4250
@boydjohnson Thanks for sharing  this.
Closing now

[2015-07-15 19:11] #4250 closed

[2015-07-15 20:54] vstoykov opened #4276 "Performance regression in menus in 3.0.x"
I found that in 3.0.11 there is a performance regression in menus. One of our site (with more than thousand pages) is now 4 times slower which leads to seconds to load the HTML when there is a cache miss for the whole page or the page can't be cached because some plugin has `cache=False`.

I used `git bisect` to investigate the issue and found that the problematic commit was https://github.com/div

[2015-07-15 21:18] mkoistinen commented on #4276
These changes are indeed convoluted, sadly. I can't seem to find a nicer way to support the new CMSAttachMenus. If you have any suggestions, please advise =)

[2015-07-15 21:43] vstoykov commented on #4276
I don't see a problem with having a `page` attribute in `CMSAttachMenu`, but I can't see where `node.attr['page']` is used or I'm missing something. If page instance is not used from the node then there is no need of adding it there.

One positive thing of ability to access the page instance for given node from the node itself is when you render the menu and want to get some attribute from the pag

[2015-07-15 22:08] yakky commented on #4276
@vstoykov have you tested latest 3.0.x release? After 3.0.11 changes have been to improve that part of the code.
Actually the same code is in 3.1 and develop.
I haven't noticed any sigificant impact, though

[2015-07-15 22:10] yakky commented on #4265
@garncarz I cant reproduce this.
Could you provide more information on your current setup?

[2015-07-15 22:14] yakky commented on #4275
This is apparently related to some issues in reversion / cmsplugin-filer / GenericForeignKeys

[2015-07-15 22:31] garncarz commented on #4265
I just followed https://django-cms.readthedocs.org/en/latest/how_to/placeholders.html and it doesn't work... if I have `a{% render_placeholder my_instance.placeholder_field %}b` in my template, it renders `a`, several empty lines and `b` in HTML output. No error message provided in the console when using `runserver`.

Isn't there some better example of how to use that `render_placeholder`?

[2015-07-15 22:33] yakky commented on #4275
This actually is a filer issue see stefanfoulis/django-filer#523

[2015-07-15 22:37] yakky commented on #4265
@garncarz you can check django cms applications like https://github.com/aldryn/adryn-newsblog or https://github.com/nephila/djangocms-blog to see examples of how to implement placeholder fields

[2015-07-16 06:49] vstoykov commented on #4276
I was unable to migrate the site to 3.1. There was some issues and I have not time to investigate and see if there from our end or there is something for reporting.

But if I'm right about performance is regressed because of page instances pickling and restoring (on large sites) then this is not a problem for 3.1 because this change is not present in 3.1.x branch.

This is how it looks like in 3.1

[2015-07-16 07:19] vstoykov commented on #4276
This is very strange behaviour. I'm testing the same code base (with another db but with similar records) and can not see same behaviour with what I saw yesterday on the other machine.

I will continue with investigation and tests and when I have more results will write back.

[2015-07-16 07:37] yakky commented on #4276
@mkoistinen 3.0.x and 3.1.x should behave the same. I totally missed that apparently we missed a merge back from 3.0 to 3.1
We need to investigate this

[2015-07-16 07:39] vstoykov commented on #4276
I need to clear my cache between tests (when I'm not using LocMemCache).

Now I can reproduce the same behaviour on other machines. By removing the page instance from menu node the site is now fast as before upgrade.

[2015-07-16 09:07] DylannCordel opened #4278 "Wrong page path for draft version (v3.0.x)"
Hi guys,

I'm really annoyed to report this issue because I can not reproduce it yet... Only note it...
Here is the problem :
Some pages on a live website have draft version with a wrong path : without parents and grand-parents (but the published one is okay). When saving basic infos : no change : published Title is okay but draft is still wrong (because Title instance is not updated). When saving

[2015-07-16 17:44] yakky commented on #4276
Fixed by #4277

[2015-07-16 17:51] yakky commented on #4278
Possibly some mptt concurrency issue?
Are the pages fixed when saving the "Basic form" instead of the "Advanced"?

[2015-07-16 17:52] yakky commented on #4275
Patch available at stefanfoulis/django-filer#559

[2015-07-16 20:11] marksweb opened #4280 "NoneType issue in downcast_plugins after creating a new plugin instance"
I've just created a new plugin and after saving the very first instance of it I'm getting an error from `downcast_plugins`;

[code]

At this point `instance` is None but when it's called by `plugins = downcast_plugins(plugins, non_fallback_phs)` plugins is defined as a list of my new plugin instance by itself.

I don't think there's anything particularly unusual about my plugin;

[code]

Having sa

[2015-07-16 22:50] DylannCordel commented on #4278
No fix when only saving the basic form without any modification.. This is fixed when :

* pages are drag & dropped on the tree view
* advanced form is submited (without any change)
* slug is updated to another value, saved, then set back to it's original value.

I found into ours logs "where", "who"  and "when" the problem occured. Aparently, this was an admin POST action (this confirm it's not a

[2015-07-17 00:42] miraculixx commented on #3532
that's the root cause - Django CMS caches a user object that doesn't exist after tearDown (and the db reset this entails).

the solution is either of:

1. call `set_current_user(None)` before fixtures are loaded next time (in my case, using the logout signal handler worked because my tests did a logout in tearDown).
2. Catch the exception in File "/home/patrick/projects/shrebo-ext/env/local/lib/py

[2015-07-17 06:19] yakky commented on #4280
@marksweb how about the ``Signup`` model?

[2015-07-17 06:48] marksweb commented on #4280
Sure @yakky;

[code]

[2015-07-17 10:18] marksweb commented on #4280
I've taken out the cached manager & it works, so this must be a problem with our in house caching app.

I'll probably close this, as I can't imagine it's a CMS issue now.

[2015-07-17 10:18] #4280 closed

[2015-07-17 10:31] yakky commented on #4280
Thanks for the update. Feel free to reopen this if you feel the CMS is involved

[2015-07-17 16:52] jrief opened #4282 "Illegal attempt to modify POST request"
Today I encountered a strange error.
When posting a plugin content, this line
https://github.com/divio/django-cms/blob/develop/cms/admin/placeholderadmin.py#L349
gave me a
[code]
Well, we all know that we must copy the ``QueryDict`` before modifying it. Then I looked for code using this ``request.POST['_continue']``-flag. But this flag is never used, at least I couldn't find any occurrence.

May i

[2015-07-17 17:23] heppstux commented on #4102
@yakky: checked your changes – seems to work now with pages. +1

looking forward for a patch for the plugins :)

[2015-07-17 21:56] yakky commented on #4038
@samuelblattner could you test #4283?

[2015-07-18 08:43] yakky commented on #4098
@mikberg Could you test #4284 ?

[2015-07-18 09:34] yakky commented on #4282
According to coverage its' not dead code, but probably run with non-proper request during tests

[2015-07-19 07:42] yakky commented on #4102
@heppstux could you open a separate issue for the plugins? I have not been able to reproduce any issue with them

[2015-07-19 07:44] yakky commented on #4275
Fixed in filer

[2015-07-19 07:44] #4275 closed

[2015-07-19 07:44] yakky commented on #4102
Fixed by #4264

[2015-07-19 07:44] #4102 closed

[2015-07-20 12:30] ojii opened #4289 "cms.tests.toolbar.ToolbarMiddlewareTest.test_app_setted_show_toolbar_in_cms_urls doesn't actually use nonroot urls"
Running `cms.tests.toolbar.ToolbarMiddlewareTest.test_app_setted_show_toolbar_in_cms_urls` isolated fails with:

[code]

When running non-isolated, it uses the normal urls because simply overriding `ROOT_URLCONF` does nothing.

[2015-07-20 14:25] evildmp commented on #4184
@yakky However, we have an example of exactly that in our docs: https://django-cms.readthedocs.org/en/develop/how_to/frontend_models.html#page-menu-edit:

    {% render_model_block request.current_page "changelist" %}
        <h3>Menu</h3>
        <ul>
            {% show_menu 1 100 0 1 "sidebar_submenu_root.html" %}
        </ul>
    {% endrender_model_block %}

So what's the rule?

[2015-07-20 16:12] ojii opened #4293 "urlconf switching in tests unreliable"
# Overview

Our test suite relies on the ability to be able to safely and consistently switch between urlconfs (`ROOT_URLCONF`) in different test cases to test different scenarios. However this appears to not always work.
# Why we need to switch `ROOT_URLCONF` in tests

There's two main reasons for this:
1. Different styles of `ROOT_URLCONF`, this primarily means using `i18n_patterns` or not and m

[2015-07-20 16:13] evildmp commented on #4143
@yakky @philippze Should we not also incorporate at least the passing tests and keep this open until a more general solution is available?

[2015-07-20 18:26] timgraham commented on #4293
Is the `ClearURLs` mixin in your branch meant to solve a different problem? `python manage.py test cms.tests.test_toolbar.ToolbarMiddlewareTest.test_app_setted_show_toolbar_in_cms_urls` still seems to have the same issue. That mixin seems redundant to me because of https://github.com/django/django/commit/65131911dba08dcc1451d71ae4d5101724d722f6. Was it needed only for Django 1.6?

[2015-07-20 19:36] ojii commented on #4293
It is supposed to fix this (and when I wrote it I was indeed working on fixes for 1.6), but it obviously doesn't fix it.

[2015-07-20 22:31] #4150 closed

[2015-07-20 22:31] #4238 closed

[2015-07-20 22:31] #4247 closed

[2015-07-20 22:31] #4263 closed

[2015-07-20 22:31] #3517 closed

[2015-07-21 02:04] timgraham commented on #4293
Seems to be related to `sys.modules` caching. Have some ideas and will keep looking at it.

[2015-07-21 05:09] yakky commented on #4143
@philippze I totally second @evildmp proposal. Could you open a PR?

[2015-07-21 16:29] LeGast00n opened #4297 "Subclassing models & modeladmin classes"
Hello,

I'd like to leverage Django-CMS for some specific use and subclass the Page model and related Admin model. This works after wrapping a few methods (for template names) but there is an annoying design in the current code which could be avoided:
instead of calling, in your e.g. PageModelAdmin:

    page = get_object_or_404(Page, id=object_id)

could you please instead do:

    page = get_obj

[2015-07-21 17:21] mkoistinen commented on #4098
Merged #4284. Would still like confirmation of fix from @mikberg, if possible.

[2015-07-21 18:57] yakky commented on #4297
@LeGast00n yes, we can accept a PR that makes this change. Why not contributing it? :)

[2015-07-21 18:58] LeGast00n commented on #4297
cos’ I suck with git :-(

[2015-07-21 20:36] evildmp commented on #4297
cos’ I suck with git :-(

In which case, http://dont-be-afraid-to-commit.readthedocs.org/en/latest/

And if you need any help, just ask.

[2015-07-21 20:44] evildmp commented on #1633
Now that we no longer use MPTT, this no longer applies either.

[2015-07-21 20:44] #1633 closed

[2015-07-21 20:52] evildmp commented on #2275
I hope you got to the bottom of this. We're no longer developing 2.4, so I am going to close this issue.

[2015-07-21 20:52] #2275 closed

[2015-07-21 20:52] #1675 closed

[2015-07-21 21:18] #4184 closed

[2015-07-21 21:33] #4276 closed

[2015-07-21 22:31] vstoykov commented on #4276
![djangocmsperformance](https://cloud.githubusercontent.com/assets/902381/8814031/db5a0d22-3010-11e5-9f5c-d4074c813d8d.png)

This is success story for the bug. You can see the date where we updated to 3.0.13 from 3.0.7 and also the date where the bug was fixed.

Thanks for the quick reaction.

[2015-07-21 22:32] yakky commented on #4276
@vstoykov thanks for reporting this. Expect an official release soon

[2015-07-22 05:38] yakky commented on #4282
fixed by #4299

[2015-07-22 05:38] #4282 closed

[2015-07-22 06:46] DylannCordel commented on #4278
App's pathes are not "rebuilt" when tree is updated.
1. Concerned page had wrong url : `/forums/` instead of `/community/forums/`.
2. I move then move back the "community" page to correct all child pages urls.
3. Concerned page had good url :  `/community/forums/` but its app keeped the wrong : I had `/forums/forum/1/` instead of `/community/forums/forum/1/`

I currently dunno if this is related o

[2015-07-22 06:51] LeGast00n commented on #4297
Ok, let me take it. But I need a help desk :-)
So far I have followed the tuto and:
- forked the stuff in GIT
- cloned it on my dev platform
- did `git remote add upstream git@github.com:divio/django-cms.git`
- did `git fetch upstream`
- and now I'm trying `git checkout -b ticket_4297 upstream/master`and I'm getting the following error:

    fatal: Cannot update paths and switch to branch 'ticket_

[2015-07-22 07:03] DylannCordel commented on #4278
Problem solved. There was a little migration which changed the locale from "en-us" to "en-gb".
For 2nd point, this is a "normal" behaviour : a signal is sent and console show a message to restart the server.

[2015-07-22 07:03] #4278 closed

[2015-07-22 07:28] yakky commented on #4278
Good thanks for the update

[2015-07-22 13:20] jrief commented on #4282
FYI: After some more investigation, I found out that **Django** itself uses the ``request.POST['_continue']``-flag.

[2015-07-22 13:26] jrief opened #4300 "Possible typo in docs: docs/how_to/apphooks.rst"
Not 100% sure if this is a bug, or my poor knowledge.

The docs on line 188 says

[code]

shouldn't it be ``app_name`` instead of ``app_label``?

[2015-07-22 17:51] jedie opened #4303 "about Page.template and TEMPLATE_INHERITANCE_MAGIC"
Fist: It seems that "Inherit the template of the nearest ancestor" doesn't exist in the documentation: https://github.com/divio/django-cms/search?utf8=%E2%9C%93&q=%27Inherit+the+template+of+the+nearest+ancestor%27

Then: The template inherit works like this:

[code]

cleaned, pseudo code from: https://github.com/divio/django-cms/blob/c3056443f3c26a8973489b306875d12d13c54f5e/cms/models/pagemodel.py

[2015-07-22 21:44] yakky commented on #4303
@jedie good point about documentation
Regarding the inheritance proposal, it defines a new magic and if I understand correctly a "by default magic", or do you mean to create a new "magic label" the user might choose?

[2015-07-22 21:44] yakky commented on #4303
@evildmp @mkoistinen what's your opinion?

[2015-07-23 09:02] SachaMPS opened #4305 "Placeholder inherits NOT from nearest ancestor because of wrong order in list"
**Environment**
Django==1.6.11
django-cms==3.1.1

**Issue Description**
On a page which is nested 4 levels deep in the page tree we discovered that the placeholder in the page is not inheriting from its nearest ancestor. Instead of inheriting from the nearest ancestor it inherits from the page which is the nearest to the root and contains such a plaeholder.

**Possible Section of Code which causes

[2015-07-23 12:43] jedie commented on #4303
I think the current algorithm is pretty useless.

Think another MAGIC is not a good idea. It will end in this two magic:
* Inherit template of nearest ancestor or use settings.TEMPLATE
* Inherit template of nearest ancestor or home page or use settings.TEMPLATE

This confusion, isn't it?
Maybe just say: **Inherit template** and the algorithm is:

* use self.template
* use template from nearest anc

[2015-07-23 22:54] jsma commented on #3654
Lost track of this. Just tested on develop, it appears to only refresh the side-frame for page administration but leaves the actual page untouched. This is an improvement since it doesn't immediately result in an error for the user, but if they reload the current page manually, then they'll get the 404. Was there a decision made on whether to redirect and where to redirect?

[2015-07-23 22:56] yakky commented on #3654
@jsma could you test latest 3.0.x branch? Latest fix has been merged there and will be forward ported after 3.0.15 release

[2015-07-24 07:10] LeGast00n commented on #4297
OK, so I understand why I have this problem: `upstream/master` is not a valid branch. Which branch should I base my own branch on ? `upstream/develop` ?
Thanks

[2015-07-24 09:31] marksweb opened #4310 "Static placeholder triggering a cache set on every request or always part of the SQL queries"
I've got a static_placeholder in my base template for the footer of the site.

[code]

This testing is happening on my local machine running memcache, in debug mode, without being logged in. Cache settings;

[code]

As I understand it, all static placeholders are cached, and I've had my breakpoints in PyCharm to watch what's happening with all the placeholders on my homepage & it looks as though t

[2015-07-24 17:02] leesolway opened #4313 "Disable toolbar option"
Disabling the toolbar using the button within the toolbar itself (?toolbar_off) generates lots of the following errors within the browser console.

"Uncaught ReferenceError: CMS is not defined"

Tested with:
Django 1.7
django-cms 3.1.2

[2015-07-24 17:57] marksweb opened #4314 "Structure board not positioning placeholders after 3.1.2 upgrade"
Really odd one this is, but I've just pushed an upgrade to 3.1.2 which was fine testing on my machine, but now it's on a dev server all the placeholders are rendering on top of each other in the top left side of the page & I've got a JS error on this like;

[code]
Where `item.data('settings')` is Undefined.

Dev server is essentially the same python environment as my machine as it has the same req

[2015-07-24 18:21] yakky commented on #4297
You have to split the above command in two:

    git checkout upstream/develop
    git checkout -b ticket_4297

Use ``develop`` branch. Master is just the latest PyPi release

[2015-07-24 18:23] yakky commented on #4300
@jrief indeed

[2015-07-25 14:30] vmonteco opened #4315 "Placeholder are overlapping in structure board"
I have a problem with my structure view. I want to render this piece of code in it :

    {% block content %}
    <div id="content">
      <section>
        {% placeholder "content" %}
      </section>
      <div class="aside">
        {% placeholder "aside" %}
      </div>
    </div>
    {% endblock content %}

But when I try to switch to the structure view, my placeholders appear like this :

![

[2015-07-25 15:16] ojii commented on #4293
I found a possible fix/workaround: in ``setUpClass`` in ``ClearURLs``, after calling ``clear_url_caches`` check if ``settings.ROOT_URLCONF`` is in ``sys.modules``, and if it is, delete it.

[2015-07-25 16:44] timgraham commented on #4293
My idea is to listen to the `setting_changed` signal and clear the necessary URL modules if `ROOT_URLCONF` or any of the settings that affect it change.  Of course the urlpatterns need to be fixed too so they are passing an `app_name` without a `namespace`.

[2015-07-25 17:30] ojii commented on #4293
that sounds like a sane approach.

Ignoring the caching issue, what's the actual fix for the include?

[2015-07-26 12:46] vivazzi opened #4317 "Migration '0013_auto_20150726_2129.py' is created in app 'cms' after run command 'makemigrations'"
I use Django==1.8.3, django-cms==3.1.2.
I get the creation of migration after the running comand 'python manage.py makemigrations':
[code]

[2015-07-26 19:07] LeGast00n commented on #4297
OK, so I've done my changes and submitted a PR (hopefully).
I guess I'm finished now, right ?

[2015-07-26 19:07] LeGast00n commented on #4297
OK so I've done the changes and made a PR (#4316)
I guess I'm finished now, right ?

[2015-07-26 20:18] yakky commented on #4315
3.2 will add an option to show placeholders in structure mode in a stacked layout so they won't interfere with each other

[2015-07-27 07:49] vxsx opened #4318 "When moving alias in structure mode it sometimes throws errors."
If you try to create an alias and then move alias next to the original plugin it throws
[code]

This happens because the alias plugin contains markup for the plugin that is aliased, e.g.
[code]

and when we move things in structureboard for example here https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.plugins.js#L453
what happens is it tries to insert outer div (alias

[2015-07-27 10:11] marksweb commented on #3992
I've just come across this again. This time it's a model with a PlaceholderField & the error occurs while I'm logged in & I request the page which renders the placeholder.

The error comes out from https://github.com/divio/django-cms/blob/3.1.2/cms/models/placeholdermodel.py#L137

Variables at that time are; `editable = True` and `use_cache = True`

[2015-07-27 10:40] marksweb commented on #4314
This morning this has stopped happening completely, so I've not been able to investigate any further.

[2015-07-27 10:56] marksweb commented on #4314
Ok, this seems very hit & miss. It's happening again, but still the only error comes from item.data('settings') being Undefined.

[2015-07-27 15:12] mikberg commented on #4098
I suppose this fix is not in a 3.1 branch? I tried using #4284, but that was not straight forward coming from 3.1.

[2015-07-27 16:31] ojii opened #4319 "holding down LMB on a clipboard item without moving the mouse switches to content mode"
When in structure mode with an item in the clipboard, clicking (and holding down) that item with the left mouse button while **not** moving the mouse for ~1 second switches frontend editing into content mode.

I'd expect that action to switch frontend editing into "drop" mode.

[2015-07-27 19:30] ojii commented on #4319
GIF showing the issue, the first two times I just hold down the left mouse button and don't move the mouse, the third time I move it. The first two times should have the same effect as the third time.

![cms-bug-4319](https://cloud.githubusercontent.com/assets/141122/8915664/a1449072-34a6-11e5-8db3-f207c28a9da9.gif)

[2015-07-27 20:16] isnok commented on #4150
Just a side note:

Got my project to run using python 3.2.
It was really only the installer that could not be used.
Once I had all the dependencies installed by hand, I was able to run the code that the installer had created. After that, it went on like regular django(-cms) development.

[2015-07-27 20:36] yakky commented on #4314
Can't reproduce this. In 3.2 the whole frontend will change a lot in its internals (most of the changes have already landed), with saner behavior and a new option that tiles placeholders instead of trying to map frontend position (which causes so many side effects that it's almost unfixable)

[2015-07-27 20:38] yakky commented on #4098
@mikberg #4284 is against 3.0. It will be forward ported to 3.1 soon, but it should be easily cherry-pickable

[2015-07-27 20:39] yakky commented on #4319
@ojii actually that behavior should have been removed in 3.1 I wonder if we left some remnants

[2015-07-27 20:49] ojii commented on #4319
I see this on one of my branches which is up-to-date with develop

[2015-07-27 20:54] yakky commented on #4319
@ojii Thanks, I think this needs more investigation to get rid of it completely

[2015-07-28 07:50] marksweb commented on #4314
No problem, I didn't think you would be able to @yakky. I raise these odd ones simply in the hope that someone might have come across it.

If I can clear the cache to fix, that's good enough for me.

Is there an estimated date for 3.2 yet? Don't think I've seen it on any announcements yet.

[2015-07-28 13:38] LaurensBosscher opened #4322 "GlobalPagePermission in the Django Admin tries to load all Django users even with CMS_RAW_ID_USERS = True"
Hi,

I've got a DB with ~84k users, while trying to edit the page permissions through the admin I can see in the slow query log that Django tries to get all users even when I've added "CMS_RAW_ID_USERS = True" to settings:
# Query_time: 8.327844  Lock_time: 0.000060 Rows_sent: 846227  Rows_examined: 846227

SET timestamp=1438086200;
SELECT `auth_user`.`id`, `auth_user`.`password`, `auth_user`.`las

[2015-07-28 16:05] ojii commented on #4319
@yakky could you (or @FinalAngel ) point me to where this was fixed?

[2015-07-28 16:11] ojii commented on #4319
is this the commit I'm looking for? https://github.com/divio/django-cms/commit/401654988b6a5bcdcd878a82f52b0740fc849895

[2015-07-28 16:18] ojii commented on #4319
issue actually fixed, bad merge on my part, closing.

[2015-07-28 16:18] #4319 closed

[2015-07-28 20:14] yakky commented on #4314
No date announced yet, but September is a sensible goal

[2015-07-28 21:56] pawelmarkowski opened #4323 "Django CMSPlugin.position null raises unorderable types: NoneType() < int()"
Traceback (python 33 dj 183 cms 3.1.2) latest releases of plugins from pip:

[code]

1. Restore the database
2. Run the command `manage.py cms fix-tree`
3. Make alias of plugin instance and put into the placeholder
4. Click "publish"
and the problem occures each time in my case ... after step 3 and 4. Script `manage.py cms fix-tree` is solving that problem temporary
In webbrowser console I can see

[2015-07-28 22:05] ojii commented on #4323
For the record, IRC logs: https://botbot.me/freenode/django-cms/2015-07-28/?msg=45802968&page=3

[2015-07-28 22:09] pawelmarkowski commented on #4323
A problem is not in the copy of a plugin instance but in his alias. Click right context menu in a structure view and choose option "Alias". Put alias into a placeholder and try to click publish... This steps should reproduce the error.

[2015-07-29 13:47] mikberg commented on #4098
I'm sorry, I don't have the time to test this in the near future with my current setup. I'd go ahead and trust the unit test.

[2015-07-29 17:24] ojii commented on #4323
My quick glance at this brought me to ``CMSPlugin.position``, which has ``null=True``. The ``None`` ``position`` is what causes the error above.  Why is ``position`` allowed to be ``NULL``? I can't think of a reason why it should be ``NULL`` (or what that would mean within the CMS), so why don't we enforce valid values on a DB/validation level?

/cc @yakky

[2015-07-29 20:16] pawelmarkowski commented on #4323
I changed model CMSPlugin.position - now it can not be null and here is traceback

Traceback (most recent call last):
  File "/srv/venv/py33dj183/lib/python3.3/site-packages/django/core/handlers/base.py", line 132, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "/srv/venv/py33dj183/lib/python3.3/site-packages/django/utils/decorators.py", line 110

[2015-07-29 21:25] yakky commented on #4323
@ojii ``null=True`` dates back to the very early implementation of the CMS. Being dependent on mptt/treebeard values, and given the current way ``CMSPlugin``s are created, it **must** be null.
@pawelmarkowski could this be related to #4318?

[2015-07-29 21:31] ojii commented on #4323
I know, the ``null=True`` was added back early 2009. Can't treebeard insert unsaved objects into a tree at a position? Does it need to be pre-saved?

[2015-07-29 21:39] yakky commented on #4323
After the sane add branch is merged we might consider this as we would have all the information from the very beginning and we can initialise the plugin properly, but I think it's not the root of @pawelmarkowski issue

[2015-07-29 22:24] ojii commented on #4323
@yakky sounds good, once #3706 is merged I can do some git magic and update #3804 with working tests and all those nice things.

[2015-07-29 22:46] pawelmarkowski commented on #4323
@yakky it is not the same problem. CMSPlugin position is Null in database after publishing my draft in 3.1.2

I added plugin_instance.position = new_plugin.position in CMSPlugin.copy_plugin method after line plugin_instance.depth = new_plugin.depth and it solved the problem but I am not sure is it correct way to fix that.

[2015-07-30 09:17] pawelmarkowski commented on #4323
above solution was wrong because position has to be recalculated ... but somewhere between CMSPlugin.copy_plugin (in plugin_instance) and save method error exists... I will prepare pull request with not null CMSPlugin.position in CMS and we will see which tests will fail, and where are we trying to put null value of position.

[2015-07-30 14:43] pawelmarkowski commented on #4323
CMSPlugin.position not null + default 0 passes tests and solving my issue.

[2015-07-30 15:57] saeedsq commented on #4317
I'm in the same boot.
Django==1.8.3, django-cms==3.1.2
Migrations for 'cms':
  0013_auto_20150730_2004.py:
    - Change managers on pageuser

[code]

[2015-07-30 16:10] ojii commented on #4323
Thanks for all the work/investigating you've done so far! What would be really useful would be a test that shows your problem (that ideally fails on current develop branch), so we can ensure it doesn't happen again in the future.

[2015-07-30 20:05] yakky commented on #4317
@vivazzi @saeedsq this has been fixed in support branch and will be released in 3.1.3

[2015-07-30 20:07] yakky commented on #4323
@pawelmarkowski thanks for this. We definitely need a test here: there should not be any case in which the position is not set, so another issue may be behind the first error.

[2015-07-30 20:44] pawelmarkowski commented on #4323
I am on holiday till 9th of August ... I will prepare a test or catch you at IRC

[2015-07-30 21:03] doctormo opened #4330 "CSRF token not set from cached pages as required"
When CMS_PAGE_CACHE is true our website suffered a baffling intermittent error, where some users who were visiting the site for the first time could no log in (or use any forms) because they had no csrftoken cookie set.

I made a script to test the issue, making 100 requests to dev, staging and live deployments. dev and staging had no problems, but live would not set the csrftoken cookie for 80-95

[2015-07-30 23:42] sunilsrikumar opened #4331 "Pillow is not compiled with PNG and JPEG support"
Almost tired of this error :)
1.
--------------
/venv/local/lib/python2.7/site-packages/djangocms_installer/install/__init__.py", line 56, in check_install
EnvironmentError: Pillow is not compiled with PNG support, see 'Libraries installation issues' documentation section: http://djangocms-installer.readthedocs.org/en/latest/libraries.html.
Pillow is not compiled with JPEG support, see 'Libraries

[2015-07-30 23:43] sunilsrikumar commented on #4331
I have tried all possible solution by Googling but no luck.

[2015-07-31 05:35] yakky commented on #4331
Please reopen on djangocms-installer  repository

[2015-07-31 05:35] #4331 closed

[2015-07-31 07:29] sunilsrikumar commented on #4331
Thank you @yakky , re-opened at https://github.com/nephila/djangocms-installer/issues/193

[2015-07-31 13:51] darioalbanesi opened #4333 "Redirect to another CMS Page"
Setting a redirect to another cms page is pretty simple and very good with the support of autocomplete. However there is a bug when changing the name and slug of the target page. At the moment it doesn't adapt the redirect automatically.

django CMS 3.0.13
django 1.6.11.post1

[2015-08-01 00:03] boydjohnson commented on #4275
This issue is not fixed yet. We are seeing `AttributeError: 'NoneType' object has no attribute '_meta'` when using `cms.models.fields.PageField` in any custom plugin models in our current set of migrations when we tried to upgrade from Django 1.7.x to 1.8.x. The problem also exists in the cms code base itself not just django-filer.

We have fixed the issue by using the same fix / technique that wa

[2015-08-01 20:16] yakky commented on #4275
@boydjohnson this should have been fixed in current support/3.1 branch with 40607f6d09527665c8f5dd8c9be31b0f711608a1

[2015-08-01 20:36] boydjohnson commented on #4275
@yakky Do you have a release date in mind?

[2015-08-01 20:37] yakky commented on #4275
@boydjohnson mid august, as soon as I'm back from holiday :smile:

[2015-08-02 18:55] yakky commented on #4330
Seems like the plugin with the login form does not set ``cache = False``

[2015-08-02 20:15] philippeowagner opened #4334 "Getting a JS error when using custom change_form in plugins."
Getting ``Uncaught Error: Syntax error, unrecognized expression: #id_page_link_2 option[value=]`` on this [``$("#id_%(name)s_2 option[value=]")``](https://github.com/divio/django-cms/blob/59761231b7053ab1bbb9c6a3e860a39cd1f54621/cms/forms/widgets.py#L107) when using a custom change_form for a plugin. We have another select2 in there.
Adding a ``try,catch`` around it worked for us - even omitting t

[2015-08-02 21:35] doctormo commented on #4330
There is no plugin with the login form. Is django-cms setup with the assumption that everything is a plugin and only cms things exist?

Because we have forms in base.html for login and we have app pages which aren't cms pages and the login has to be on both pages.

Plus, the cache really does help. The reason we didn't just switch it off was because we got a 10x increase in speed with the cache. A

[2015-08-04 08:23] marksweb opened #4335 "Using request.current_page in shared templates (headers/footers etc) (question)"
Over time I've built a few extensions to the `Page` and also used `request.current_page` to get page titles etc. For example...
[code]
This allows a page to have a colour assigned to it from the toolbar & sits in our base template.

During some recent load testing it became apparent that we were getting a lot of database hits where `request.current_page` wasn't set. I believe this was happening wh

[2015-08-05 05:26] antofik commented on #4206
Sorry for delay, for some reason I haven't received email notification
Unfortunately, it does not solve the problem. Please, have a look at screenshot
![django-cms-bug](https://cloud.githubusercontent.com/assets/2310260/9078791/dfdc4878-3af7-11e5-8eb4-8e40218bc0c2.jpg)

[2015-08-05 06:49] FinalAngel commented on #4206
awesome, closing than :)

[2015-08-05 06:49] #4206 closed

[2015-08-05 07:54] deluge opened #4337 "Frontend edit mode removes line breaks"
the frontend edit mode remove line breaks for example:

[code]

Daniele Procida told me that one option is to insert a `&nbsp;` until the problem is resolved ;)

[2015-08-05 18:05] ojii opened #4338 "Do not show "double click to edit" if user lacks permission to edit"
Currently, even if a user has no permission to edit a given object, when hovering that content in edit mode, they're prompted to double click.

[2015-08-05 19:37] antofik commented on #4208
I wan't able to reproduce it for some time now, but who nows when it will appear again? Unfortunately, I cannot event understand how this exception was possible in first place... By all logic, that is impossible lest someone has monkey-patched dict or COMPLEX. The funny thing it that I wasn't using any suspicious 3rd party applications, only django 1.7 +  django cms 3.1.

I suggest you close this

[2015-08-06 01:01] timgraham opened #4339 "Error in docs: include with app_name but no namespace"
https://github.com/divio/django-cms/blob/d36bdacb1d7078486e172912c60d67a63eb56e9f/docs/reference/configuration.rst

Has `include('cms.urls', app_name=settings.CMS_APP_NAME)` which will throw an error because you cannot specify `app_name` without `namespace`.

[2015-08-06 01:02] timgraham commented on #4293
I guess `app_name` could be removed (since it's unused when the test passes) or else a `namespace` should be added to `include()`. By the way, there is also a bad example in the docs: opened https://github.com/divio/django-cms/issues/4339.

[2015-08-06 21:06] PamelaM opened #4340 "StaticPlaceholder race condition when site_id is NULL"
There is a race condition window where two simultaneous requests to a page that needs to create a static_placeholder can both create such a placeholder. A StaticPlaceholder object is automatically created when a page with the static_placeholder template tag is first accessed.   If the race condition is hit, however, all later accesses will fail with ```get() returned more than one StaticPlaceholde

[2015-08-07 09:03] evildmp commented on #4340
``site_id`` should never be NULL though, should it? (``SITE_ID`` should always be configured in ``settings.py``.)

[2015-08-07 09:06] evildmp commented on #4337
Can you remind me where we discussed this, so we have a link to the other discussion?

[2015-08-07 09:11] evildmp opened #4341 "Add information to the documentation about release schedule/policy"
Should also link to Roadmap documents on the wiki https://github.com/divio/django-cms/wiki/Roadmap, which themselves need a bit of tidying up.

See https://groups.google.com/forum/#!topic/django-cms-developers/tXfDNF5XMtk

[2015-08-07 09:42] deluge commented on #4337
Yep,

here is the link: [https://groups.google.com/forum/#!topic/django-cms/oeg9f31i_C8](https://groups.google.com/forum/#!topic/django-cms/oeg9f31i_C8)

[2015-08-07 09:49] stephendwolff opened #4342 "PlaceholderField"
I have a project which i'm trying to update to use django 1.8 (and djangocms 3.1), and have come across this following issue (i realise django 1.8 isn't quite supported yet).

I have a model similar to the example in the docs here:
 - http://django-cms.readthedocs.org/en/latest/how_to/placeholders.html

[code]

When running `python manage.py migrate appname`, i get a migration created inside the d

[2015-08-07 10:43] yakky commented on #4342
@stephendwolff this is fixed in support/3.1 and will be released in 3.1.3 (due in a few days)

[2015-08-07 10:50] stephendwolff commented on #4342
ok - great. thanks for letting me know. I'll try using support/3.1 for now. Cheers

[2015-08-07 15:56] mkoistinen opened #4344 "`on_close` parameter on CMSToolbar.add_modal_item doesn't do anything"
If a URL is supplied, it should redirect to given URL on close.

[2015-08-08 08:46] yakky commented on #4344
@mkoistinen have you tested on latest support? This should have been fixed by #4229

[2015-08-08 08:47] yakky commented on #4340
@PamelaM Closing this as you are required to set SITE_ID for django CMS to work properly

[2015-08-08 08:47] #4340 closed

[2015-08-08 08:49] yakky commented on #4208
@antofik thanks for the update. Feel free to reopen this if you can reproduce it

[2015-08-08 08:49] #4208 closed

[2015-08-08 08:58] yakky commented on #4335
``request.current_page`` is retrieved in a single query (a simple get(pk) -https://github.com/divio/django-cms/blob/develop/cms/appresolver.py#L50- in case of an apphook, a slightly more complicated one -https://github.com/divio/django-cms/blob/develop/cms/utils/page_resolver.py#L64- in the case of normal pages)
You can eventually use the ``depth`` page attribute to find out the depth of the page

[2015-08-08 09:08] yakky commented on #4330
@doctormo sorry I assumed the form was in a plugin. I'll give this a second look

[2015-08-08 12:42] shaojun opened #4345 "Switch to apache2 and got errors"
I'm using PYTHON 3 + Django 1.8.3, and I've checked the site-packages folder under my python env, it shows a folder: django_cms-3.1.2.dist-info, so i understands the CMS version is 3.1.2, and I installed the CMS by following the tutorial at end of July.

The default clear (no other App installed) CMS system was running fine with **'python manage.py runserver'**, but when trying to switch to Apache

[2015-08-10 11:50] vivazzi opened #4347 "Add parameter "target" for menu.add_link_item"
Hello, django-cms developers!
Please, add parameter "target" to menu.add_link_item for such values as "_blank".

It may be like that:
[code]

[2015-08-10 17:11] yakky commented on #4347
Hi @vivazzi thanks for suggesting this.
If anyone wants to contribute this feature is very warmly welcome to do so :)

[2015-08-10 22:13] gavelino opened #4349 "django CMS Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-11 03:38] pydanny commented on #4349
Not an issue and in my opinion, abusive of the GitHub issue system. @gavelino's been spamming popular projects for hours with this text.

[2015-08-11 08:45] ojii commented on #4349
closing and locking, not an issue.

[2015-08-11 08:45] #4349 closed

[2015-08-11 10:58] linevich opened #4350 "AttributeError: 'NoneType' object has no attribute '_meta' in migration process"
I'm trying to add field darken_image to existing model Post.
models.py
[code]
Traceback
[code]
I've already try to do it with 3.1.2, support@3.1.x and @develop branches - the same result.
Also I've removed all migrations and try to repeat all step-by-step - the same result.

[2015-08-11 12:00] yakky commented on #4350
@linevich while an issue on 3.1.2, I cannot reproduce this on latest support/3.1.x. Also check latest filer (0.9.12)

[2015-08-11 15:43] linevich commented on #4350
@yakky Thanks a lot, filer upgrade fixed an issue.

[2015-08-11 15:43] #4350 closed

[2015-08-12 06:14] Max201 commented on #82
Why close. I have the same problem!

[2015-08-12 10:18] rstalbow opened #4351 "HTTP 405 Publishing pages"
In django-cms==3.1.1 and django-cms==3.1.2 I get a 405 when publishing a page;

[12/Aug/2015 11:14:06] "GET /en-gb/admin/cms/page/1/en-gb/publish/ HTTP/1.1" 405 0
[12/Aug/2015 11:14:07] "POST /en-gb/admin/cms/page/1/en-gb/publish/ HTTP/1.1" 302 0

It results in a blank page for the user, the new content is being published. I cant see an python errors, so have no more details to give sorry. I don't

[2015-08-12 12:41] ojii commented on #4351
Make sure you use the new javascript files after upgrading to 3.1.1 or above. (Make sure ``collectstatic`` is run on your server, clear browser cache etc). 3.1.1 fixed a security issue with the publish button, the two HTTP requests you're seeing indicate that it's still using the old JS.

[2015-08-12 14:16] rstalbow commented on #4351
Great, that worked. Thanks

[2015-08-12 15:02] mkoistinen opened #4352 "Documentation update re: CMSPlugins are subclasses of ModelAdmins"
This section: http://docs.django-cms.org/en/develop/how_to/custom_plugins.html#a-note-about-cms-plugin-base-cmspluginbase

We should make it clear that CMSPlugin is a subclass of admin.ModelAdmin and that because of this, some ModelAdmin options are not only supported but recommended in some circumstances.

Notable options that do work and make sense and are used commonly:
- exclude,
- fields,
- f

[2015-08-12 15:13] evildmp commented on #4352
I am pretty sure that *all* of the change view options are available and work well. A plugin admin just is a model admin, and can be treated as such, with all kinds of cunning tricks available to you.

[2015-08-12 15:30] mkoistinen commented on #4352
Well, I haven't tested, but I'm pretty sure the CMS won't know what to with "save_as" or "save_on_top"... does it? Perhaps I'll give some of these a go...

[2015-08-12 15:57] voanhcuoc opened #4354 "How to install in Openshift"
Sorry but are there any way to install Django in Openshift ? Please help me !

[2015-08-12 16:15] mkoistinen commented on #4352
Confirmed. "save_as", "save_on_top", or "view_on_site" do nothing.

Well, this isn't exactly true. Using "save_as" has the side effect of making the "delete" button disappear on the form.

[2015-08-12 16:51] mkoistinen commented on #4354
This is not the appropriate forum for a general Django on a certain service question. I would like to kindly redirect you to www.stackoverflow.com.

[2015-08-12 16:51] #4354 closed

[2015-08-12 21:01] dsimandl opened #4356 "TypeError on runserver after upgrading to Django 1.8.3 and Django-CMS 3.1.2"
I upgraded to Django 1.8.3 and Django-CMS 3.1.2 and I'm getting the below TypeError on startup.  I've double checked my new template settings but they seem ok to me.  Am I missing something?

[code]

[code]

[2015-08-13 05:20] yakky commented on #4352
Fixed by #4353

[2015-08-13 05:20] #4352 closed

[2015-08-13 13:38] evildmp opened #4357 "Unknown column 'cms_cmsplugin.level when running plugin migrations"
For example, migrating Aldryn Events:

[code]

The migration is trying to use the old (Django MPTT) ``level`` attribute, which no longer exists.

[2015-08-13 13:41] evildmp commented on #4357
@frague59 for your information.

[2015-08-14 14:50] lddubeau opened #4358 "inconsistent space handling in inline plugin templates when switching in and out of editing mode"
### Versions

Django CMS: 3.1.2, 3.1.0
Django: 1.8, 1.7

### Steps to reproduce

1. Create a project in which you have this plugin:

[code]

  The `something/something.html` file contains:

[code]

  Edit the above code as needed to make it work in your project.

2. Instantiate a Text plugin somewhere and instantiate a Something plugin in it. Save the Text plugin and switch back to "Content" view.

[2015-08-14 15:27] yakky commented on #4098
This is still relevant when a page has multiple titles

[2015-08-14 15:28] #4098 closed

[2015-08-14 15:29] yakky commented on #4098
Double checked that this is fixed by above PR

[2015-08-14 15:30] yakky commented on #4038
Above PR does not fix the case when a page has more than one language

[2015-08-14 15:38] #4317 closed

[2015-08-14 15:50] yakky commented on #3654
@jsma fix has been ported to support/3.1.x

[2015-08-14 17:52] jproffitt commented on #4254
I took a shot at fixing this in this PR: https://github.com/divio/django-cms/pull/4359

Basically, since django's `AuthenticationForm` already sets the username field's label to whatever `USERNAME_FIELD` is, we can just use that.

[2015-08-14 21:40] panosmm opened #4360 ""Only allow POST for some actions" causes problems with amazonws"
the changes introduced here:
https://github.com/divio/django-cms/commit/c210a7684287c095850feb6f521c621011fde264
(Only allow POST for some actions)

do not allow me to publish, delete, etc. when the STATIC_URL points to amazonaws.

The publish button has a GET action when STATIC_URL points to amazonaws

[2015-08-15 07:21] yakky commented on #4254
@jproffitt nice change!

[2015-08-15 10:43] yakky commented on #4305
@SachaMPS thanks for reporting this, could you test #4363?

[2015-08-15 10:46] yakky commented on #4360
Your setup is that the static files are server by a different domain than the website, right?
Could you report the messages in the inspector console? (I assume you cleared the cache)
I guess you should setup the CORS headers so that the statics are allowed to perform a POST