[2014-11-06 08:46] andrewkoltsov opened #3563 "can't edit plugins from touch devices"
plugin.html contains
`<div class="cms_plugin cms_plugin-{% if generic %}{{ generic.app_label }}-{{ generic.module_name }}-{% if attribute_name %}{{ attribute_name|slugify }}-{% endif %}{% endif %}{{ instance.pk|unlocalize }}{% if render_model_icon %} cms_render_model_icon{% elif render_model %} cms_render_model{% elif render_model_block %} cms_render_model cms_render_model_block{% elif render_mode

[2014-11-06 11:07] #3563 closed, assigned to nobody

[2014-11-06 16:42] #3562 closed, assigned to nobody

[2014-11-06 17:25] ojii opened #3566 "Allow page extensions to hook into 'advanced settings' form?"
Right now, Page Extensions need a separate toolbar menu item to be editable. However, from a site operators perspective, many of the fields in Page Extensions might be more logically grouped under 'advanced settings'.

Should we add an API to allow Page Extensions to hook into advanced settings?

/cc @evildmp @czpython @mkoistinen @digi604 @stefanfoulis @yakky

See https://botbot.me/freenode/djang

[2014-11-10 15:20] shatsinn opened #3572 "Missing migration with Django 1.7 (DjangoCMS 3.0.6)"
Starting a project with Django 1.7 and DjangoCMS 3.0.6 will result in Django's `makemigrations` creating another migration file for the `cms` app. You can see the the created migration file here:

http://paste.awesom.eu/ZnyI

This gets annoying when creating custom plugins which then automatically depend on the locally created 0004 `cms` migration: It breaks deployment on a remote machine. My curr

[2014-11-10 23:03] benjaoming opened #3575 "Monkey patching of get_models breaks"
The monkey patch doesn't work, @yakky knows what it was for.

[code]

Firstly, it doesn't work. I'm not into why partial() is used here. Secondly, it doesn't render any return value.

PR coming in......

[2014-11-10 23:16] #3351 closed, assigned to nobody

[2014-11-11 08:15] #3539 closed, assigned to nobody

[2014-11-12 10:06] manelclos opened #3581 "Uncaught Error: Bootstrap requires jQuery"
Hi, the bootstrap template is loading jquery.js from http, so it is failing as I use the admin over https.

The error on the browser console (Chrome):
[blocked] The page at 'https://xxxx.com/cms/plugins/?edit' was loaded over HTTPS, but ran insecure content from 'http://code.jquery.com/jquery.js': this content should also be loaded over HTTPS.

Grepping the installed packages shows this:
djangocms

[2014-11-12 12:08] ogrimator opened #3582 "Extending Page model is't working"
Hi,
I'm trying to extend Page model and I did follow tutorial to the dot, but when I think everything is done I cannot see new toolbar element allowing me to change extended field.
Additionally an error message shows in console:
`No handlers could be found for logger "menus"`
and `_setup_extension_toolbar` function returns `None` because `self.toolbar.get_or_create_menu('page')` in it fails.

Than

[2014-11-12 16:38] #3582 closed, assigned to nobody

[2014-11-13 06:54] kartikdanidhariya opened #3583 "Error when removing page,plugins"
I am not able to publish the any changes in django cms page,
When i click on "Publish" so it show only loading....

also not able to remove plugin

When i remove any page so it cause following error,
DatabaseError at /en/admin/cms/page/1/delete/
(1054, "Unknown column 'cmsplugin_recentplugin.category' in 'field list'")

I used django-cms 2.4.3

MY pip freeze is

Django==1.5.1
MySQL-python==1.2.5
P

[2014-11-13 07:42] #3583 closed, assigned to nobody

[2014-11-14 00:15] g3rd opened #3584 "Move the South requirement to an extra install in setup.py"
With Django 1.7 removing the dependency on South. Perhaps it is time to move South to an extra require.

Like so:
[code]

Users will install via:

```pip install django-cms[south]==3.0.5```
or in their requirement.txt file
```django-cms[south]==3.0.5 ```

[2014-11-14 11:41] marksweb opened #3585 "Issue accessing page extension on ancestors"
I've got a simple page extension designed to associate a colour with a page in order to style the page accordingly. I'm having trouble figuring out how to get page attributes in a django shop category page as it's not associated with the CMS page. You get to the category page from a CMS page, so could the referring page attribute be passed in the view context?

    class PageColourExtension(PageEx

[2014-11-14 21:28] l4rth opened #3587 "Members of children in menu.html template"
Hi,

I am currently on search for documentation of the member of the _child_ in the template for the show_menu template function.

An example of a menu.html

[code]

So what members does item may have? What I found out was _get_absolute_url_ _get_menu_title_, but what else (in particular i need the title and menu_title which should be different.

Thanks a lot

[2014-11-16 08:23] #3581 closed, assigned to nobody

[2014-11-16 08:38] #3575 closed, assigned to nobody

[2014-11-16 08:39] #3587 closed, assigned to nobody

[2014-11-16 11:19] #3314 closed, assigned to nobody

[2014-11-18 13:05] evildmp opened #3588 "Apphook's menu item fails to appear in CMS toolbar unless the Page is published"
Steps to reproduce:

1. django-cms==3.0.6, aldryn-blog==0.4.5
1. create a new Page
2. assign the Blog application to the Page

I'd expect to see the **Blog** item in the toolbar like so:

![screenshot 2014-11-18 13 04 10](https://cloud.githubusercontent.com/assets/86222/5087737/890e5a72-6f23-11e4-9285-38aa769d0296.png)

However, unless the Page is published, the **Blog** item will not appear in th

[2014-11-18 13:36] vstoykov opened #3589 "Incorrect preview URL after changing in menu state"
When change "in menu" state from pages list generated URL contains `None` instead of a language code.

Example:
Instead of `103/bg/preview/` the `href` attribute is `103/None/preview/`

Steps to reproduce:
1. Open pages list in navigation.
2. Click on the icon in the "Menu" column to change the state of a given page.
3. Click on the name of the page

This will open a 404 page with URL similar to t

[2014-11-21 02:30] doctormo opened #3598 "Root menu 'show_menu' offset"
We had a recent problem where a new editor in the cms accidentally clicked the 'show in menu' option for the root of our website (https://inkscape.org) this caused the menu cache to slowly replace the menu with all the entries from the next level.

This menu was so easy to break and caused such large problems that I really want to lock that record field away, because it's horrid. But I thought I'd

[2014-11-21 02:33] doctormo opened #3599 "Undo/history and Multi Language"
The multi-language support is causing issues with undo. We've had page's plugins all be deleted because of an edit on some other language variant for a page only for undo to delete the first language's content.

The consistency of the language system has me baffled.

[2014-11-21 11:49] jrief opened #3600 "Consider to replace Compass against libsass"
This would have many advantages:

 * Faster compilation times, some say up to 11x faster.
 * No need for Ruby gems and that stuff, everything is installable through ``pip``.
 * Files ending in ``.scss`` are referenced directly in the templates, rather than having to refer an autogenerated css-file.
 * Only one file has to be revisioned in *git*: the scss-file. The css file is generated on the fly

[2014-11-21 12:29] Lacrymology opened #3602 "Add "publish all" bulk action"
When I make changes to static placeholders defined in my base template, I seem to need to publish them page by page.

I think this shouldn't really be necessary at all, but at least, something like the `publihser_publish` management command that can be done from the admin site would be good

[2014-11-22 16:54] mkoistinen opened #3604 "`manage.py cms check` shouldn't report warning for relationship to a plugin's own "base class""
I don't know if the use of an abstract class is related here, but in this project, I define an (abstract) base plugin model class, which is then extended with a concrete class, which is itself extended for another concrete plugin model.

So, we ultimately have these models defined in modules X and Y:

- X.A (CMSPlugin), abstract
    - X.B (A), concrete
        - Y.C (B), concrete

`python manage.p

[2014-11-22 19:26] NazmulHaque opened #3606 "Warning at /en/admin/cms/page/add/"
[code]

[2014-11-23 16:05] #3589 closed, assigned to nobody

[2014-11-23 16:06] #1933 closed, assigned to nobody

[2014-11-23 16:06] #3055 closed, assigned to nobody

[2014-11-23 16:06] #3122 closed, assigned to nobody

[2014-11-23 16:06] #3161 closed, assigned to nobody

[2014-11-23 16:06] #3206 closed, assigned to nobody

[2014-11-25 14:19] #3527 closed, assigned to nobody

[2014-11-26 08:35] #3520 closed, assigned to nobody

[2014-11-26 10:01] yakky opened #3614 "A bottom line missing in the pagetree when child is selected"
In certain circumstances a border in the page tree is not shown, leaving two borderless rows as in the image below

![page_images8](https://cloud.githubusercontent.com/assets/714711/5199364/b2a6adce-755b-11e4-9896-af7ea68dfd04.png)

[2014-11-26 15:18] #3465 closed, assigned to FinalAngel

[2014-11-26 16:18] #3316 closed, assigned to FinalAngel

[2014-11-27 09:30] #3413 closed, assigned to nobody

[2014-11-27 18:01] mkoistinen opened #3620 "Modal dialog funny business"
This is related to #3111.
- In frontend preview mode, double-click a plugin to open its modal dialog.
- Minimise it.
- Now, double-click a different plugin to open its modal dialog.

Notice that the second dialog opens, centered in the screen, and already minimized.

[2014-11-27 21:00] #3461 closed, assigned to FinalAngel

[2014-11-27 21:00] #3111 closed, assigned to nobody

[2014-11-27 21:32] #3620 closed, assigned to nobody

[2014-11-28 13:09] mkoistinen opened #3625 ""Page Type" isn't documented"
Or if it is, I was unable to find it, which is another issue. =/

This should be in both the developer- and user-documentation.

[2014-12-01 00:08] mishbahr opened #3630 "Frontend glitch for get_extra_local_plugin_menu_items()"
I'm trying to add an additional item to content menu for a custom plugin. So I added this to my plugin.

        def get_extra_local_plugin_menu_items(self, request, plugin):
            return [
                PluginMenuItem(
                    _('Preview Wrapper'),
                    admin_reverse('responsive_wrapper_preview_mode'),
                    data={
                        'plugin_i

[2014-12-01 00:26] cwirz opened #3631 "Better management of fallbacks for Apphooks' languages required"
I just found out that language fallbacks for subpages of a App-Hook are not working.
# Settings

[code]
# App-Hook urls

[code]

For the first url the fallbacks are working but not for the second one.

Any idea why?

[2014-12-02 06:55] kartikdanidhariya opened #3632 "How we use httpresponse redirect in cms_plugins.py"
i am use django-cms=2.4.3 i create one application and also create cms_plugin.py file for plugin in cms

"""cmsplugins for the `multilingual_news` app."""
from django.utils.translation import ugettext_lazy as _
# from django.http import HttpResponseRedirect
# from cms.utils import CMSPluginRedirect

from cms.plugin_base import CMSPluginBase
from cms.plugin_pool import plugin_pool
from django.contr

[2014-12-02 17:25] jsma opened #3637 "Publish page does not preserve plugin order"
Add three link plugins to a placeholder in the following order and with the following names:
* Link 1
* Link 2
* Link 3

Now publish your changes to create the 'live' version. Now go back to draft mode and drag Link 3 so it comes after Link 2. Both structure and content mode show the plugins now in the correct 1,2,3 order. Click publish and note that the live version still has the plugins in the o

[2014-12-03 13:50] kartikdanidhariya opened #3640 "How we use login_required in cms_plugin.py"
i wan't to use
'@login_required'
in cms_plugin.py but it not allowed
so, how we use login_required in cms_plugin.py
if not than any alternate way for do this?
Pls help!!!

[2014-12-03 14:02] DylannCordel opened #3641 "wrong mdgid for "Are you sure you want to %s this page?""
The msgid in django.po is "Are you sure you want to %%s this page?" but the real msgid should be "Are you sure you want to %s this page?" (only one "%").

The original msgid is from here : https://github.com/divio/django-cms/blob/support/3.0.x/cms/templates/admin/cms/page/tree/base.html#L57
And the msgid in django.po is here : https://github.com/divio/django-cms/blob/support/3.0.x/cms/locale/fr/LC

[2014-12-03 15:21] jerch opened #3642 "copy plugins broken?"
After updating from 3.0.3 to 3.0.7 copying plugins to clipboard doesnt work anymore if the plugin is nested within another plugin. Seems the `request.POST['source_placeholder_id']` in `PlaceholderAdminMixin.copy_plugins` contains a totally wrong id (points to some other placeholder in the template).
A quickfix for my case was to fall back to the placeholder_id of the source_plugin since the databa

[2014-12-03 16:00] dibell opened #3643 "static placeholders and page extensions don't abide by the same permissions as the pages they are attached to."
I have a multi site django cms instance and I'm trying to set up permissions so that a group of editors can only edit one of the sites.

This works wonderfully for the pages themselves. The front end editing and the Pages part of the admin sidebar function as needed.

However, staticplaceholders and page extensions do not.  Editors need permissions to change these two models so they appear in the

[2014-12-03 17:25] LeGast00n opened #3644 "multi-site page_url fails when missing locale for other site's page"
Hi there,

Firstly, keep up the great work !!

I've got a 2-site installation running and I just discovered a bug with page resolution when one site is trying to refer to a page on the other site while this page does not exist with the required locale.

The below shows the trace of site 2 trying to reverse a page of site 1. The issue happens on line 8 of the template below, when page_url is called

[2014-12-03 21:12] dahagag opened #3645 "Making multilingual support configurable"
Referring to :
http://stackoverflow.com/questions/17959941/how-to-remove-the-language-identifier-from-django-cms-2-4-urls

Enabling/Disabling multilingual support should be configurable. In manage.py perhaps.

[2014-12-03 21:52] #3640 closed, assigned to nobody

[2014-12-04 23:00] #3632 closed, assigned to nobody

[2014-12-05 17:03] imagescape opened #3647 "Revisiting Placeholder Inheritance in frontend editing"
@piquadrat @yakky
Hoping to revisit the discussion and fix from way back in #1303

In the above issue, the decision was made to not display inherited plugins in edit mode. I wonder if an alternative solution might make sense now in version 3. For instance, I have a placeholder that looks something like this:
{% placeholder "content" inherit or %}
{% static_placeholder "global content" %}
{% endpla

[2014-12-07 03:30] jsma opened #3654 "Delete page shouldn't result in 404"
Currently when you delete a page, the user is redirected to the url of the page that was just deleted. It should instead redirect to the parent page, if one exists or to the home page rather than giving the user an error page.

[2014-12-07 03:31] jsma opened #3655 "Save after updating slug should redirect to new slug"
Currently if you change the slug for a page and save, you are redirected back to the page at the old slug, which gives a 404 error. The user should instead be redirected to the page's new slug.

[2014-12-08 23:38] wldcordeiro opened #3658 "relation "menus_cachekey" does not exist in Django 1.7"
Attempting to use Django CMS 3.0.7 with Django 1.7.1 following the install into existing project produces this error at any edit page and also produces this error when attempting to migrate.

[code]

[2014-12-09 19:33] #3658 closed, assigned to nobody

[2014-12-09 19:38] #3645 closed, assigned to nobody

[2014-12-10 00:03] jsma opened #3659 "Toolbar middleware breaks custom logout template"
If you customize the standard `registration/logged_out.html` template, this cannot inherit from a base template that has `{% cms_toolbar %}`. If you do, you'll get:

    TypeError: int() argument must be a string or a number, not 'AnonymousUser'

If you refresh the page, the error goes away. This is because the middleware sets attributes on the request object during process_request at which point

[2014-12-10 10:15] evildmp opened #3662 "static placeholders and page extensions should have more granular permissions"
See https://github.com/divio/django-cms/issues/3643.

[2014-12-10 10:16] #3643 closed, assigned to nobody

[2014-12-10 10:58] qris opened #3663 "Structureboard eats 100% CPU, overheats my laptop"
Opening structure view starts an interval timer that triggers 100 times a second, trying to replace all the placeholders, I think:

    var interval = 10;
    ...
    // setup an interval
    this.interval = setInterval(function () {
        $(window).trigger('resize.sideframe');
    }, interval);

<https://github.com/divio/django-cms/blame/develop/cms/static/cms/js/modules/cms.structureboard.js#L

[2014-12-10 15:27] frensjan opened #3665 "relative path for cms.toolbar.sideframe.css"
Hi,

In [cms/static/cms/js/modules/cms.sideframe.js](https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.sideframe.js) a css file (cms/css/cms.toolbar.sideframe.css) is referenced, but this is rendered as a relative path:
`cms/css/cms.toolbar.sideframe.css` instead of
`/static/cms/css/cms.toolbar.sideframe.css`

This causes the sidebar to shift up and under the Django-CM

[2014-12-10 17:05] darbula opened #3667 "Stuck in draft/structure mode"
When the user who has edit permission on certain page goes to draft/structure view and then navigates to some other page, one that he has no edit permission, he is stuck in draft/structure without any intuitive way back. This issue is easy to reproduce and very unfortunate for the end user.

[2014-12-11 10:37] asjego opened #3670 "Target the text editor for add specific css"
Hello, I am integrator Css, I find that it would be interesting to be able to offer to the end user a previsualization of the text editor ( draft ) identical to the published version. It would be good to be able to target the text editor or cms-modal with a Css selector to apply a specific style Css. By default, the editor has a white background and the text of a color more contrasted. But it does

[2014-12-11 14:01] #3670 closed, assigned to nobody

[2014-12-14 23:19] doctormo opened #3673 "Title model description has a low char count"
The description field in cms/models/titlemodels.py:21 limits the description to 155 instead of 255. This might be a typo-error or it might need a comment to explain why that limit was chosen.

CMS Version: 3.0.5

[2014-12-15 09:19] vectart opened #3674 "Unable to delete page after related template was removed"
After I had removed template landing.html, I've tried to delete the related pages.
In result, I'm getting such ridiculous error:

[code]

It must be possible to delete a page after template deletion!

[2014-12-16 13:49] evildmp opened #3675 "Running tests is difficult and errorful"
http://dpaste.com/3H95DX7 (following the docs at http://docs.django-cms.org/en/support-3.0.x/contributing/testing.html#running-tests)

For example: 39 sekizai failures ("TemplateDoesNotExist: with_data.html" etc)

This is probably a documentation issue, but even if there are other issues, the documentation needs to be improved.

[2014-12-16 22:04] jsma opened #3678 "Proposal: Added PageField to Title for redirects"
Currently only a hardcoded slug or full url is allowed for setting a page redirect. It would be far more flexible for internal redirects to have the option of linking to other published Page instances.

[2014-12-17 06:03] SalahAdDin opened #3679 "django.db.utils.ProgrammingError: relation "cms_pageuser" already exists"
Hi guys, now i have this error:

[code]

Yes, with all of warnings, i think that you should see the warnings, but, the most important is the bug.

My settings are this:

[code]

[2014-12-17 06:33] SalahAdDin opened #3680 "Where are Menu and Categories features?"
hi guys, me again.
I have a single question. Where are the menu creator option and where are the categories?
I believe that you have a tags, right? But, i don't see the menues and categories tools.
Thank you.

[2014-12-17 14:22] #3680 closed, assigned to nobody

[2014-12-18 10:15] evildmp opened #3684 "Test suite is fragile and error-prone"
This is intended to be a general point-of-collection for feedback on our test suite: http://docs.django-cms.org/en/support-3.0.x/contributing/testing.html#running-tests

[2014-12-18 10:43] carina21 opened #3685 "Problem with SITE_ID in settings.py with multiple sites"
Hello everyone,

by using django-cms with multiple sites i got problems with the SITE_ID setting in the settings.py.
So i asked google and also wrote a site detection middleware for setting the right SITE_ID for the actual http-host.

Here my code for the site detectio middleware:
# -_\- coding: utf-8 -_-

from django.contrib.sites.models import Site
from django.conf import settings

class SiteDet

[2014-12-18 13:43] anatolyivanov opened #3686 "PageField acts strange on form validation in latest Firefox versions"
Whenever you try to save a form that has cms.forms.fields.PageField in it, the value of the widget resets if form validation fails because of other fields in it.

The issue happens in Firefox, and doesn't in Chrome. When I dug into the code, I've noticed this snippet:
[code]

Apparently, the widget has one invisible `<select>` tag that affects the initial value passed to widget when validation fai

[2014-12-18 15:30] averymd opened #3688 "Windows 8.1/Chrome: Unable to save edits"
With Django CMS 3.0.x, once the modal to edit content is raised, it can't be closed through any mouse actions. Clicking "save", "cancel", or the "x" to close do nothing. Hitting the escape key will close the modal. There are no JS errors in the console, and no failed network requests.

I've tried disabling every Chrome plugin I have installed, clearing all cache and cookies, and working with a com

[2014-12-18 16:12] stefanfoulis opened #3689 "urls_need_reloading signal not firing when slugs are changed"
On 3.0.6, 3.0.7 and master (dabf832a10a7f0687610fb33d3103bcb984d3973) the ``urls_need_reloading`` signal does not fire in the following cases. But it should.:

* the slug of an app-hooked page changes (and the change is published)
* the app-hooked page is moved
* the slug of a parent page changes (and the change is published)

This might be a regression from #2911 .

[2014-12-18 17:23] jproffitt opened #3690 "PageField triggers validation on empty form in a Formset (Inline)"
I have a cms plugin that contains a `TabularInline` to a modal that has a `PageField`:

models.py:

    class Slide(models.Model):
        link_to = PageField()
        banner = models.ForeignKey('banner.Banner', related_name='slides')
        ...

    class Banner(CMSPlugin):
        ...

cms_plugins.py:

    class SlideInlineAdmin(admin.TabularInline):
        model = models.Slide

    class Ban

[2014-12-19 12:17] ogrimator opened #3691 "Extra slash in url pattern when app attached to home page with APPEND_SLASH=False"
As in title, when I have app attached to home page and `APPEND_SLASH=False` then I'm getting 404 error with following url pattern:
` ^ ^/post$ [name='Post'] `
where my `urls.py` for my app looks like:
[code]
Url pattern will work if I add another slash: `http://localhost:8000//post`.

[2014-12-19 13:02] stefanfoulis opened #3692 "circular import when a 3rd party app imports cms.utils.plugins from models.py"
On the develop branch (tested with https://github.com/divio/django-cms/commit/dabf832a10a7f0687610fb33d3103bcb984d3973) there seems to be a circular import if a 3rd party app imports ``cms.utils.plugins`` from its ``models.py``.

In this case the 3rd party app was after ``cms`` in ``INSTALLED_APPS``

[2014-12-20 15:49] yakky opened #3698 "Set the overflow: hidden to page row"
When pages have veery long titles we need to be sure they does not interfere with the UI buttons pushing then out the view and overflowing the text out of the page row.
A css only solution is not viable, so changes are needed in the js part: https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.changelist.js#L719

[2014-12-21 01:55] jschneier opened #3699 "better error message with custom user model"
Hi and thanks for the project.

I was trying to reorganize my installed apps settings while also using a custom user model and my app `account` (where the custom user model is defined) was placed after `cms`. With this my app failed to boot with [this exception](https://github.com/divio/django-cms/blob/develop/cms/models/permissionmodels.py#L39-L42). It might make sense to mention that the `cms` a

[2014-12-21 04:19] jsma opened #3700 "History/Undo menu should be disabled for non-CMS pages"
Consider a cms page "Blog" with a blog apphook. The Post models have PlaceholderFields so they are editable from the front end. If you navigate to a blog post detail page and double click to edit, the toolbar still shows the History menu. If you click "Undo" this **does not** undo changes on the current post instance that is being edited, but instead appears to very unhelpfully undo changes on the

[2014-12-21 04:32] jsma opened #3701 "Make toolbar history work with placeholderfields"
This is the flip-side to #3700. If the History menu remains in the toolbar at all times, then we need to document how users should integrate their custom apphook models that are editable from the front-end so that clicking 'Undo' actually impacts the model instance (e.g. blog post) being edited and not whichever Page the apphook is attached to.

[2014-12-21 08:22] #3685 closed, assigned to nobody

[2014-12-23 17:38] JasonBoyles opened #3704 "pip install django-cms fails installing django-mptt"
[code]

Looks related to pypa/pip#2258

I'm not sure where `django-mptt==0.5.2,==0.6,==0.6.1` is hiding in the dependencies.

[2014-12-23 19:02] #3704 closed, assigned to nobody

[2014-12-24 16:32] deecodameeko opened #3705 "edit block not displaying on certain page"
Hello,

I have some pages with cms content where when I turn on the edit mode, the content dissapears and I can not edit it when I hover over the block, there's no option to edit being displayed yet on all the other pages that are cms'd I can edit just fine. I know this is vague. I am running version 2.4.3.

I'm hoping I can start a discussion to help me fix this issue.

Thanks!

[2014-12-26 22:37] roysmith opened #3707 "On-line docs specify wrong version of south"
http://docs.django-cms.org/en/3.0/getting_started/installation/integrate.html says that django-cms 3.0 requires South 0.7.2 or higher.  That doesn't work.  I had South 0.7.3 and running manage.py migrate failed with:

[code]

Upgrading to South 0.7.6 gets the re-orgaganized utils layout which includes datetime_utils.  I didn't investigate if there's an intermediate version which would also work.

[2014-12-26 23:12] #3707 closed, assigned to nobody

[2014-12-27 18:10] #3673 closed, assigned to nobody

[2014-12-28 05:56] jsma opened #3711 "Get rid of 'ugly hack' for mptt"
According to [this line](https://github.com/divio/django-cms/blob/develop/cms/models/pluginmodel.py#L229), we still have an 'ugly hack' in the code to address an issue with mptt. If this problem was solved by the move to django-treebeard, let's lose this technical debt.

[2014-12-28 13:25] bkvaiude opened #3713 "Django CMS multilingual and international supports based on country or region"
I am looking out for solution for one scenario in project.

I would like to use following technologies / tools

[code]
## **_SCENARIO**_

CMS for Tourist Hotel Menu card.

I would like to add pages in CMS based on country and multiple languages

So my website need to support 15 countries and 3 languages, (for one page there will be _45_ entries)
When admin add any page to CMS, he choose english as

[2014-12-28 14:54] #3713 closed, assigned to nobody

[2014-12-29 19:37] jschneier opened #3714 "Can't register a plugin proxy model on Python 3.4"
Hi, ``.keys`` on more recent versions of Python switched to being ``KeysView`` classes instead of concrete lists which don't support indexing. I've got a model that subclasses ``CMSPlugin`` and then a few proxy models below that. This fails with
[code]

The fix is (I think) simple and I will submit a PR in a second. For reproduction purposes I am on CMS 3.0.7, Django 1.7.1 and Python 3.4.2

[2014-12-30 03:58] peterfarrell opened #3717 "Uncaught SyntaxError: Unexpected token ILLEGAL causes save to become stuck"
The following code causes Chrome to break when saving a plugin.  The plugin saves and the modal updates with "XXX was changed successfully. You may edit it again below."  The modal doesn't redirect and stalls with JS error `Uncaught SyntaxError: Unexpected token ILLEGAL`

https://github.com/divio/django-cms/blob/e2dfbf86b1a11173bff1dff6285d8d68e0631105/cms/templates/admin/cms/page/close_frame.html

[2014-12-30 07:47] ptaack opened #3718 "Update tree_component.js (idn domain problem)"
Problems loading static file (themes/style.css) when domain contains not latin symbols (not converted to IDN) - tree_component.js line 395. Please add checking on not latin symbols in domain and convert it to IDN format.
My temporary solution:
cms/templates/admin/cms/page/tree/base.html - add punycode.js:
[code]
cms/static/cms/js/jstree/tree_component.js - added conversation to IDN (may be that ba

[2014-12-30 18:01] #3679 closed, assigned to nobody

[2014-12-31 22:39] timgraham opened #3722 "Usage of deprecated mimetype parameter crashes Django 1.7+"
On the `support/3.0.x` branch, `mimetype` should be `content_type` for Django 1.6+. On `develop` where we don't need support for Django 1.4/1.5, we don't need conditional logic at all.
[code]
Apparently tests for these code paths also need to be added. Are the code paths that use `content_type` unconditionally also untested as it seems that should fail on Django 1.4/1.5? (e.g. a1650839)

[2015-01-02 10:11] marksweb commented on #3532
Back to work again after Christmas & I've tested the receiver with the server running as normal, when logging out it is hit but I do still hit the error under test mode.

[2015-01-02 16:11] #3714 closed

[2015-01-02 18:58] darbula commented on #3667
Sorry for not replying sooner.
Since currently any page editor, with or without editing permission on the current page, can switch between structure and content view by pressing spacebar it is reasonable to show content-structure button, also.
If and when restriction is introduced it must be in such way that it affects both interfaces i.e. button and keyboard shortcut.

[2015-01-02 19:38] jrief commented on #3600
@ojii so, what you say is, that there will not be any solution in the near future which can use django-compress with Sekizai.

Ok, then we have to reconsider option 1 again, or drop that feature completely.
Since that would be rather sad, I would like to emphasize again, that adding ``libsass`` to the dependency stack does not enforce anyone to use SASS instead of his preferred preprocessor such a

[2015-01-02 19:58] ojii commented on #3600
Just for clarification, you *can* use django-sekizai with django-compressor, the amazing folks over at compressor made that happen. What is not possible at the moment is offline compression because of technical (how compressor looks for files to offline compress) and logical (way of how sekizai is intended to be used) reasons.

I know offline compression + sekizai is an important topic to people,

[2015-01-02 20:05] ojii opened #3723 "[proxy] Multiple model placeholders in a custom plugin"
/cc @FinalAngel

See http://stackoverflow.com/questions/27520734/django-cms-multiple-model-placeholders-in-a-custom-plugin

Is this a bug in django CMS? Is this a CSS issue, a documentation issue?

Just wanted to get some eyeballs on this.

[2015-01-03 03:58] mobula opened #3725 "jQuery undefined in pages admin"
I'm getting the following error when browsing the pages admin:

    Uncaught TypeError: undefined is not a function  tree_component.js:476

I'm trying to get django-cms working along django-grappelli, which defines [django.jQuery](https://github.com/sehmaschine/django-grappelli/blob/master/grappelli/static/grappelli/js/grappelli.js#L12), which breaks [tree_component.js](https://github.com/divio/dj

[2015-01-03 09:11] jrief commented on #3725
As a developer I'm not a big fan of a CDN solution. This is because the software shall be self-contained and runnable without requiring any connection to the Internet.

On the other side, I also dislike the bad practice to add files into your own repository, which are revisioned in another repository.
Therefore my suggestion is to add a file ``bower.json`` to the repository. It contains all the no

[2015-01-03 10:17] johnraz commented on #3725
@mobula : I think your work around is safe enough, not 100% sure though, didn't follow latest front-end development. But AFAIK, it is a known fact that the project is not compatible with grappelli.

Regarding the CDN topic, sorry @jrief but I disagree, usage of a CDN has nothing to do with development and access to a connection ... The fact that you don't use a CDN when developing (which is what I

[2015-01-03 23:35] jrief commented on #3725
@johnraz I'am not opposed to CDNs. But it still is more important to have a self-contained app. With a bower.json file this is possible; referring to files located on a CDN it is not. Consider, that some CMSs are located in Intranets with no access to a CDN.

If you can show us a DRY solution where you can switch between files hosted locally and the *same* files hosted on a CDN, I'd be very intere

[2015-01-03 23:48] evildmp opened #3726 "Change horrifically-named publisher_public attribute"
https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py#L97 - even the code notes that it's misnamed!

[code]

Not nice. How about renaming the attribute to `publishing_complement`?

[2015-01-04 00:04] yakky commented on #3726
Agree.
Being an entirely private implementation we can proceed without deprecations

[2015-01-04 00:11] johnraz commented on #3725
Well, important it is for your specific use case, but there are plenty of scenarios where relying on a CDN is more important than relying on a local file, especially for high traffic websites.

Html5 boilerplate shows one solution here, for jQuery: https://github.com/h5bp/html5-boilerplate/blob/master/src/index.html#L25

Bower doesn't specifically use github to download its file ... it uses whatev

[2015-01-04 02:32] jsma commented on #3637
I should be clear that my pull request is against the develop branch. Your pull request #3709 is against the support/3.0.x branch which doesn't appear to do the same plugin position wackiness that was introduced after the django-treebeard change. I'm not clear on what the bug is you are fixing in your pull request, but agree that the code is confusing & possibly buggy.

[2015-01-05 07:13] FinalAngel commented on #3723
The Placeholders position within the structure view get positioned where the content would be. So currently if there are multiple placeholder at the same location, they get positioned absolute on each other..

[2015-01-05 07:29] mobula commented on #3725
I like approaches such as that used in https://github.com/dyve/django-bootstrap3/blob/develop/bootstrap3/bootstrap.py

[2015-01-05 14:50] oblalex opened #3727 "L10N of 'Settings' for Ukrainian"
Please, fix `Yалаштування` to `Налаштування`  typo.

https://github.com/divio/django-cms/blob/cb836a668b9e53a642a35b768bf60bda39ac03fa/cms/locale/uk/LC_MESSAGES/django.po#L1431

[2015-01-05 16:20] qris commented on #3663
I can typically have this view open for 10-20 minutes while editing content on the frontend. 60 seconds is on this page is enough to cause my laptop to overheat and emergency shutdown. That makes it difficult to use DjangoCMS as you can imagine!

[2015-01-05 16:22] evildmp commented on #3663
That doesn't seem unusual (having the view open for 20 minutes, not the emergency shutdown).

[2015-01-05 18:10] yakky commented on #3727
You can use transifex (https://www.transifex.com/) to update the translations

[2015-01-05 18:32] oblalex commented on #3727
Well, no, I cannot. It says `You are not a member of this project`.

[2015-01-06 11:33] ogrimator commented on #3691
Steps needed to reproduce:
1. Create new project using tutorial: [Django CMS tutorial](https://github.com/divio/django-cms-tutorial/)
2. Create new app `python manage.py startapp sampleapp`
3. Add app in settings and follow tutorial at: [Integration with app-hooks](http://django-cms.readthedocs.org/en/latest/extending_cms/app_integration.html#integration-apphooks)
4. Create home page and attach ap

[2015-01-06 16:20] yakky commented on #3642
Fixed by #3728

[2015-01-06 16:20] #3642 closed

[2015-01-07 00:32] jsma opened #3731 "Document how plugins should 'clean' child plugins on save"
I found a data corruption error in djangocms-text-ckeditor where it attempts to clean up child plugins (aka plugins that have been removed from the wysiwyg editor). See the ticket for more details on the bug https://github.com/divio/djangocms-text-ckeditor/issues/212

This ticket is to make sure there is a documented path for all plugins (divio or custom) to handle child plugin cleanup correctly w

[2015-01-07 01:22] jsma commented on #3731
The ticket mentioned above was fixed by moving the order of operations around. This seems error prone. We should strive to make this simpler so that it's foolproof. This may require users to write their own `clean_plugins` method but have this be called automatically at the bottom of `CMSPlugin.save()` instead of in `CMSPluginBase.save_model()`. This would mean that any API calls would also benefi

[2015-01-07 03:59] jsma opened #3732 "View restriction permission confusing and poorly documented"
When you go to Page->Permissions from the toolbar, you'll see global permissions display like:
![screen shot 2015-01-06 at 9 20 12 pm](https://cloud.githubusercontent.com/assets/24574/5639885/e3131744-95eb-11e4-8d4d-0146deb378d8.png)
A green checkbox under 'Can view', yay, that means that users in the Content Editors group 'can view' the page!

But when you click into the details, the language see

[2015-01-07 05:48] jsma opened #3733 "403 permission denied error when using PlaceholderField"
I've created a 'Content Editors' group and have granted all relevant permissions (not using CMS_PERMISSIONS, just the standard Django auth). They are able to edit all plugins on CMS Page instances but are not able to edit any plugins associated with PlaceholderFields.

[2015-01-07 06:05] jsma commented on #3733
Error exists between chair and keyboard. FYI, http://docs.django-cms.org/en/support-3.0.x/how_to/placeholders.html?highlight=placeholderadminmixin#admin-integration

[2015-01-07 06:05] #3733 closed

[2015-01-07 06:07] jsma opened #3734 "Automated check that PlaceholderFields use PlaceholderAdminMixin"
Haven't looked into the feasibility of this but would like for the checks framework to detect all models with PlaceholderField, if any of those models are also registered in the admin that the admin class inherits from PlaceholderAdminMixin. It's an error to ever do otherwise, so would like this to be loud instead of silent.

[2015-01-07 06:59] yakky commented on #3734
That would be a nice addition.
It's definitely feasible by getting all the models with the Django API, checking if any field is a PlaceholderField and then getting the related model from the admin registry and checking the mro() method result

[2015-01-07 07:09] yakky commented on #3731
While text plugin is really the only one that I know of needing this "special" cleanup, I like the idea of having a documented and supported way to do this, and your suggestion looks sensible

[2015-01-07 21:05] jsma opened #3735 "fix-tree command does not set position"
For some as yet unknown reason, I've found plugins that have their position set to None (will open a ticket once I trace that bug down). Calling the fix-tree command does nothing to repair this since for CMSPlugin's, it just defers to django-treebeard's `fix_tree()` method, but of course django-treebeard knows nothing about django-cms's custom 'position' field.

This breaks the page since `cms.uti

[2015-01-07 21:29] jsma commented on #3711
There is another instance in the [page model save method](https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py#L443)

[2015-01-07 21:31] jsma commented on #3735
All plugins with position == None were orphaned plugins.

[2015-01-07 21:57] jsma opened #3736 "Fix bugs that make fix-tree and delete_orphaned_plugins necessary"
Simply put, the code should not corrupt the tree or leave orphaned plugins laying around. Orphaned plugins are a frequent headache. The current situation requires developers to log in and run a command to repair the database once the site starts giving 500 errors to users. This is not a good way to run a production website.

Part of the issue is that it's possible for django-cms and plugins to ove

[2015-01-08 11:46] yakky commented on #3736
@jsma the root of the stale plugins issue should be solved by #3516

[2015-01-08 11:50] yakky commented on #3735
@jsma does this happens with #3661?
Orphaned plugins will go away in 3.1

[2015-01-08 16:31] jsma commented on #3735
Actually yes, the site is running on a branch with that PR already merged. I'm still not clear on how position got set to None, haven't had a chance to find the cause. Setting that aside, do you think there is value in making sure `position` matches what treebeard has to say about `path` in the fix-tree command?

[2015-01-08 16:36] jsma commented on #3736
Ah, I had seen that PR before but totally blanked on it yesterday, tunnel vision. I'll need some people smarter than me to weigh in on the issue where Page/CMSPlugin's can inadvertently overwrite freeboard fields with stale data.

[2015-01-08 16:39] yakky commented on #3735
@jsma definitely yes

[2015-01-08 16:43] BertrandBordage commented on #3704
You can still install `pip==1.5.6`. The install only fails with `pip>=6`.

[2015-01-08 16:43] yakky commented on #3736
Ok, let us release 3.0.8 in the next few days, sync develop with 3.0.x branch and merge all the outstanding PRs, so we have a more stable base to investigate issues like this

[2015-01-08 17:11] zerok opened #3738 "Latest on RTD isn't the latest"
It looks like the "latest" release on RTD still points to 3.0.6 instead of 3.0.7 or the 3.1.0 dev builds. Was this intentional? It's a bit confusing IMO :-)

http://docs.django-cms.org/en/latest/

[2015-01-08 17:17] yakky commented on #3738
Nope, a blunder on my side, actually :)
3.0.7 has been pushed to master so it will get back in sync

[2015-01-08 17:17] #3738 closed

[2015-01-08 18:44] jsma commented on #3736
Damn you auto-correct! *treebeard* not 'freeboard'...

Anyway, sounds good. I'll try to review #3516 in the meantime.

[2015-01-08 20:24] Moini opened #3739 "Responsive design for toolbar problematic"
Trying to have a browser window and a terminal window open at the same time on my 4:3 screen for debugging, I encounter the problem that the publish button is hidden when the browser window is too small (and there is a glitch, too, when the button is shown below the bar)

Could maybe the toolbar be extended in height instead? Or could a dropdown be added which allows to have the publish button ava

[2015-01-08 20:24] Moini commented on #3739
Pictures here:

![2](https://cloud.githubusercontent.com/assets/3240233/5670022/c2c654e6-977c-11e4-805c-30c5848823cb.png)
![gone](https://cloud.githubusercontent.com/assets/3240233/5670023/c2f312c4-977c-11e4-9969-ee8bc70cb468.png)
![in_between](https://cloud.githubusercontent.com/assets/3240233/5670024/c2f78656-977c-11e4-9c18-e770e2a6ddc7.png)

[2015-01-09 20:16] DylannCordel commented on #3641
Sorry for this answer 13 days after, but I really think there should not be two "s" (main reason is that the string is not translated ;-), only the "action word" is in french, but second is that in "https://github.com/divio/django-cms/blob/support/3.0.x/cms/templates/admin/cms/page/tree/base.html#L57", you use "trans", and trans does not support string replacement, it is blockstrans which can proc

[2015-01-09 21:06] yakky commented on #3641
Replacement of `%s` is  done on the javascript side (it happens to use the same syntax as python one, but it totally different implementation: https://github.com/divio/django-cms/blob/support/3.0.x/cms/static/cms/js/modules/cms.changelist.js#L179)
Anyway the syntax is confusing the ``trans`` templatetag

[2015-01-09 21:09] yakky commented on #3641
At this stage we can only solve this by manually changing the ``po`` files before compiling them
In the long run we should change the string format

[2015-01-10 07:05] yakky commented on #3739
@Moini thanks for reporting.
We are aware of this and working on a long term solution

[2015-01-10 07:06] yakky commented on #3698
Fixed in #3682

[2015-01-10 07:06] #3698 closed

[2015-01-10 07:08] yakky commented on #3686
Fixed in #3687

[2015-01-10 07:08] #3686 closed

[2015-01-10 07:10] #3690 closed

[2015-01-10 07:13] yakky commented on #3614
Fixed in #3682

[2015-01-10 07:13] #3614 closed

[2015-01-10 07:15] yakky commented on #3501
@marksweb closing this. Feel free to reopen if you manage to reproduce the issue

[2015-01-10 07:18] yakky commented on #3727
Fixed in transifex.
Thanks for reporting

[2015-01-10 07:18] #3727 closed

[2015-01-10 07:20] yakky commented on #3641
@FinalAngel due to interaction with template parsing by gettext, could we move to some other placeholder instead of `%s` in https://github.com/divio/django-cms/blob/support/3.0.x/cms/templates/admin/cms/page/tree/base.html#L57 (and adapt https://github.com/divio/django-cms/blob/support/3.0.x/cms/static/cms/js/modules/cms.changelist.js#L179 accordingly)?

[2015-01-10 11:50] oblalex commented on #3727
Great! Thank you very much!

[2015-01-10 13:46] Moini opened #3742 "Toolbar CSS: many languages make the bottom languages unaccessible"
Hi,
when the languages dropdown gets too long, the bottom languages flow over the bottom of the browser window and are only accessible if I zoom out (see screenshots).

![normal](https://cloud.githubusercontent.com/assets/3240233/5691777/665b3f80-98d7-11e4-8115-ce5db623ff94.png)
![zoomed_out](https://cloud.githubusercontent.com/assets/3240233/5691778/66608346-98d7-11e4-9ca3-15bc519b3c43.png)

[2015-01-10 22:31] yakky commented on #3722
@timgraham shouldn't it be ``content_type`` for Django 1.5+ (https://docs.djangoproject.com/en/1.5/topics/http/shortcuts/#django.shortcuts.render_to_response)?
I don't think we have **any** test specific for these functions
Cleanup on develop will happen after 3.0.8 relese

[2015-01-10 22:39] timgraham commented on #3722
Correct, sorry I got the version wrong on that.

[2015-01-10 22:41] yakky commented on #3722
No worries :)
Fixing the 1.4 issue (I bet we don't have much users on 1.4, though)
I'll leave this open anyway for 3.1 to help writing more tests for such functions

[2015-01-11 00:09] efedyushin commented on #3606
Hi!
I get a similar error when using mysql as database . I solved this problem by specifying the charset and collate when creating a database .
Try:
CREATE DATABASE `my_db` CHARACTER SET utf8 COLLATE utf8_general_ci;

[2015-01-11 11:11] mkoistinen opened #3747 "Disclosure triangles in the structure-mode tree should cascade with opt/alt key"
Very common UI is that when there is a collapsible tree, opt/alt-clicking the disclosure triangle will make the action cascade. So, if you click to open with the opt/alt key held, then all sub-members of the item you clicked on would open as well. Same for close.

[2015-01-11 11:26] mkoistinen opened #3748 "Misleading error when server not available for AJAX requests"
With runserver off, and attempting to edit a plugin on a page, the user gets the error message:

"SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://127.0.0.1:8000" from accessing a cross-origin frame."

[2015-01-11 23:05] ldgarcia commented on #2521
+1

[2015-01-12 10:02] mkoistinen commented on #2639
Hey all, this looks like it'd be a nice addition. @DylannCordel whats the status from your side? Been nearly a year since this was opened now.

[2015-01-12 10:17] mkoistinen commented on #3736
+1

[2015-01-12 10:20] mkoistinen commented on #3726
+1 Sentiment to rename.
-1 Sentiment to proceed without deprecation.

[2015-01-12 10:23] mkoistinen commented on #3700
@GaretJax Can you comment on this one too?

[2015-01-12 10:31] mkoistinen commented on #3688
I wonder if this is because the Surface Pro is a touch and mouse driven device. Perhaps we detect touch enabled, then not look for mouse input?. I do not have a dual-input device to test on. Anyone else?

[2015-01-12 10:33] mkoistinen commented on #3688
I've given this a blocker tag. This is end-user facing and adversely affects normal operations on affected devices.

@averymd Can you advise the version of Chrome you're using? Also, if not the very latest, can you retest on latest Chrome? Finally, can you test in other browsers (IE and Firefox, in particular). Many thanks!

[2015-01-12 10:45] mkoistinen commented on #3723
I'd like to also point out that these are the types of issues that my recent pull: #3595 aims to solve, but at the plugin level, not the placeholder level, like this one seems to require. If this was about plugins, I'd say this is a user-project implementation issue, but given that we do not supply any tools to deal with this at the placeholder level, I'm inclined to chalk this up as a CMS bug. Co

[2015-01-12 10:55] yakky commented on #3726
@mkoistinen ``publisher_public`` is totally private (the public methods being ``get_public_object``, ``get_draft_object``) I don't think we need deprecation here

[2015-01-12 11:30] yakky commented on #3604
this is actually fixed by #3611 right?

[2015-01-12 11:32] mkoistinen commented on #3742
Seems like moving the "Delete..." and "Copy all..." into sub-menus would go a long way to solving this.

[2015-01-12 12:17] mkoistinen commented on #3604
I haven't explicitly tested it, but it should now be fixed. Will test shortly, then close/comment as required.

[2015-01-12 13:10] FinalAngel commented on #3723
yeah you could build in some collision detection @mkoistinen but than I'd rather go for the updated mode on 3.2 later on (where this does not matter anymore)

[2015-01-12 13:11] FinalAngel commented on #3641
where would you suggest to move it @yakky ?

[2015-01-12 13:13] yakky commented on #3641
I mean: use a different character combination instead of "%s" and use something different so that gettext doesn't get confused

[2015-01-12 16:55] FinalAngel commented on #3641
sure, no problem to change this, but wouldn't know what to use...

[2015-01-12 20:39] yakky commented on #3513
Fixed in #3741

[2015-01-12 20:39] #3513 closed

[2015-01-12 23:31] yakky commented on #3641
Basically we can use whatever character combination
Any specific convention is common in the js world?

[2015-01-13 06:21] SalahAdDin commented on #3513
Yes, this works for me :D Thank you.

[2015-01-13 16:12] bbcreatv opened #3756 "Foreign Key Constraint"
Im getting this error while running migrations. I'm not sure if its related to #2197

    update or delete on table "cms_cmsplugin" violates foreign key constraint cmsplugin_ptr_id_refs_id_91e23e8a" on table "cmsplugin_gridcolumn"
    DETAIL:  Key (id)=(159) is still referenced from table "cmsplugin_gridcolumn".

[2015-01-13 19:33] czpython opened #3757 "render static placeholder without edit mode"
I think it makes sense to add an option to the `static_placeholder` tag to render the placeholder without the edit capabilities, in other words disable the edit mode for this one static placeholder.
@yakky @mkoistinen  thoughts ?

[2015-01-13 20:08] SalahAdDin commented on #3756
use you the MIGRATION_MODULE setting?

[2015-01-13 20:29] bbcreatv commented on #3756
I did. here are my settings:

    MIGRATION_MODULES = {
	    'cms': 'cms.migrations_django',
	    'menus': 'menus.migrations_django',

	    # Add also the following modules if you're using these plugins:
	    'djangocms_file': 'djangocms_file.migrations_django',
	    'djangocms_flash': 'djangocms_flash.migrations_django',
	    'djangocms_googlemap': 'djangocms_googlemap.migrations_django',
	    'd

[2015-01-13 21:25] bbcreatv commented on #3756
Okay. I ran --fake and now its sorted. I hope..

[2015-01-13 23:30] Moini opened #3759 "Cancel button missing"
Hi all,
we just had an issue with a less experienced member of our crew doing the following:
- clicked 'delete page' on a main menu item which has child-items
- didn't thoroughly read the warning and saw no other option than to click on 'Yes, I'm sure' anyway, because there is no 'Cancel' button shown on the warning page

(result: all pages in that submenu, including their translations gone, recov

[2015-01-14 11:56] mkoistinen commented on #3757
What would be the use-case?

[2015-01-14 13:25] olunx opened #3760 "Toolbar navigation language choose add query"
[code]

[2015-01-15 03:57] holms opened #3761 "[CRITICAL] Djangocms-installer destroys directory content"
I've been doing exactly as docs stated, and my whole directory been destroyed. Before that I've tried this in home directory, and all files were destroyed there too with this crash.

[code]
[code]

No files left..

[code]

This is the latest ubuntu instance on digital ocean.

[code]

Just checked on OSX Yosemite, it works fine, with same version of pip. On ubuntu, I've destroyed instance 3 times a

[2015-01-15 08:07] yakky commented on #3761
djangocms-installer 0.7.1 has been released with the clarification (and check at runtime) that `-p` should be an empty directory (it's where the project and the ``manage.py`` are to be created) and the installer will ask before removal in case of issues.

[2015-01-15 08:07] #3761 closed

[2015-01-15 09:02] GaretJax commented on #3700
It is definitely possible to put revision placeholder under revision control, but this needs cooperation from both plugin writers and support for it from the CMS.

[2015-01-15 12:32] mabau opened #3762 "Only superuser can edit placeholder which is outside of CMS, when not integrated into AdminInterface"
Setup when this problem occurs:
   1) defined placeholder outside of CMS
   2) no AdminIntegration defined for the model that holds the PlaceholderField

Then only a superuser can add/modify plugins that are inside the placeholder, even if the user has all rights on the model that holds the PlaceholderField. Essentially this makes it mandatory to create AdminIntegration for models with Placeholder

[2015-01-15 13:30] marksweb opened #3763 "Superuser unable to add to PERMISSION_ADMIN_INLINES in PageAdmin"
I've extended the Page with some extra settings but in the PageAdmin I appear to be missing the permission in `if obj and 'permission' in request.path:`

I've written it up on SO & I'm about to go googling for PERMISSION_ADMIN_INLINES; http://stackoverflow.com/questions/27962971/extend-django-cms-pageadmin-with-an-inline-model

[2015-01-15 16:20] holms commented on #3761
@yakky

1) it doesn't matter if it's actually removes something or not (he removes *PARENT* directory, which is definitely not what you want.)
2) You *REALLY* don't want this kind of option in django-cms guide, to avoid people destroying their home dir.
3) We've got a crash in here, not just a removal ok? Please fix a crash. Because of crash it removed, parent dir, not current dir files. This is a

[2015-01-15 16:25] holms opened #3764 "Djangocms-installer crashes when creating new project."
@yakky You clearly get me wrong.

I've got a crash when creating new project, and it also removes PARENT directory, not current one. It means. Even if you want to remove parent directory for some reason please fix a crash, cause I can't even create a project. What's wrong with this community, do you even read my text in previous issue?

[code]

Details bellow:
---------------------

I've been doin

[2015-01-15 17:03] yakky commented on #3761
Version 0.7.1 of the installer solves both the crash *and* the cleanup-without-asking first.
Actually the ``-p `` refers to the main project directory, not the directory containing projects, that's why originally the installer didn't asked for permission to remove it.
This has been clarified in the installer docs anyway and it will be updated in the django CMS docs too

[2015-01-15 17:04] yakky commented on #3764
This is related to nephila/djangocms-installer, and should be opened in that repository.
This should be fixed in 0.7.1, anyway

[2015-01-15 17:04] #3764 closed

[2015-01-15 17:14] evildmp commented on #3761
@holms Thanks for your report. It's probably not your intention, but the tone of your comments comes across as less courteous than we expect in django CMS discussions.

Please don't shout. These projects are only possible if we are careful in how we communicate, especially when we are frustrated or feel that someone else has not understood something properly. This is greatly appreciated by us all.

[2015-01-15 17:41] samuelblattner opened #3766 "404 when logging out after creating a new page without publishing"
I get a 404 with the following steps:
- Login to cms
- create a new page
- leave it unpublished
- logout via toolbar menu sitename > logout username

Might be related to #2770

[2015-01-15 20:49] yakky commented on #3757
Probably a permission based approach is more sensible here, if I understand correctly the underline use case

[2015-01-15 20:50] yakky commented on #3760
Can you elaborate what's the goal?

[2015-01-15 20:55] yakky commented on #3763
The documented API to add information and settings to page and titles is documented at http://django-cms.readthedocs.org/en/support-3.0.x/how_to/extending_page_title.html and allows adding data to both Page (language-indipendent) and Titles (language-dependent) models.
Currently there is no official way to directly extend the PageAdmin.

[2015-01-15 20:56] czpython commented on #3757
well the use case at the moment is we use the static placeholder to render a menu bar (completely customized) and we display this menu in mobile and desktop and so need to render this static placeholder twice in the same template but on different html containers (one hidden by default), problem is that on edit mode both static placeholders will render the toolbar thus causing conflicts and results

[2015-01-15 20:58] Moini opened #3767 "Admin interface: Add page in the top right corner does not always check for duplicate slugs"
I wasn't able to find this issue reported elsewhere, and I hope this is not a duplicate or already fixed.

Usually, I get a warning if I add a page with a slug which is already in use.

But I don't if I do this:
1.) In the admin interface, copy a page (I put the copy into the main menu)
2.) change the slug to 'foo'
3.) click on 'add page' in the top right corner
4.) make the new page slug 'foo'
4a

[2015-01-15 21:39] #3722 closed

[2015-01-15 21:39] #3725 closed

[2015-01-16 09:50] yakky commented on #3691
@ogrimator does #3691 fixes this?

[2015-01-16 09:51] marksweb commented on #3763
Thanks, I've extended the page link that before so ended up switching to that. It's just that I had found a SO answer & blog post from a guy making out that you could add inlines to the PageAdmin so wanted to do that to avoid the Page menu in the toolbar becoming huge & page related settings from being disjointed.

[2015-01-16 09:51] #3763 closed

[2015-01-16 09:53] yakky commented on #3763
@marksweb could you point me to the original SO answer?

[2015-01-16 09:55] marksweb commented on #3763
@yakky sure, it's old, but the theory in it seemed like it would work;
http://stackoverflow.com/a/10296046/1199464

[2015-01-16 09:58] yakky commented on #3757
Looks like a valid use-case to me

[2015-01-16 09:58] yakky commented on #3757
@ojii @evildmp what's your opinion?

[2015-01-16 10:04] yakky commented on #3763
@marksweb we can actually make it easier, please post comments on #3566 so we build a consensus on how to implement this

[2015-01-16 10:13] marksweb commented on #3566
I was trying to add to the `PageAdmin` after seeing a SO answer & blog post making it look as though adding to `PageAdmin.inlines` was possible - see #3763

I've recently had a client request to drop a menu in to a page to display it's children regardless of if those pages are hidden from menus. So I wanted to add a simple checkbox & text field to the page settings menu so that it was simple while

[2015-01-16 11:40] sveetch commented on #3767
+1 got this also on a new project, with customer it is a little risky even if we warn about this bug, they probably will make the error

[2015-01-16 11:43] sveetch commented on #3767
Seems related to #3548

[2015-01-17 09:27] yakky opened #3772 "[META] Page redirection issues when switching live/draft - logged in / logged out"
There are a few issues related to wrong / no redirection when changing context (live/draft, logged in / logged out):

Solved in 3.1 branch by #3901
 * [x] #3384

Solved in 3.0 branch by #3894
 * [x] #3766
 * [x] #3654
 * [x] #3655

[2015-01-17 13:14] Moini opened #3773 "Feature request: When deleting parent, offer to keep children and move them up one layer"
Hi,

When you delete a parent page, usually all children are deleted, too.
It would be nice if instead, django-cms asked if you want to keep the child pages and if you choose yes, just moves them into the layer where the parent page was.
This is probably not so easy to implement, but it would be really nice.

[2015-01-17 16:08] bastiW commented on #3688
I've tested with the "development" version of DjangoCMS on my Yoga Windows 8.1 Device. I've installed the development version with the djangocms-installer.

You can reproduce this issue on a Windows 7 non touch device:
1. Go to chrome://flags/#touch-events
2. Swith the flag of Toch events to "Enabled"
3. Click "Relaunch Now"
4. Go to DjangoCMS
5. Edit a text snippet
6. Try to save or close the win

[2015-01-17 16:22] averymd commented on #3688
I'm on the latest version of Chrome on my Surface. IE 11 and latest FF work perfectly fine.

[2015-01-17 22:06] Moini opened #3774 "Feature request: prevent concurrent editing"
Hi again ;)

At inkscape.org, we sometimes have more than one person trying to edit a page, although we know about the problem and try to prevent it.
We also know that there are django apps which are made for preventing this (https://www.djangopackages.com/grids/g/concurrentp-edit/).

But, according to Martin Owens, those apps are problematic for us to use.
Quote: "Most of the models require extra

[2015-01-17 23:20] evildmp commented on #3774
Hard to do, and very hard to do well.

The way I would do it is this:

Every admin/frontend editing form that wants to be aware of users will have some JS in it that pings the server once every few seconds with a query that contains the content type and id of the object being edited.

This will include every object that might be saved by the form - including those in inlines, so possibly many obje

[2015-01-17 23:40] Moini commented on #3774
"The human problems are also hard to solve. It's a pain in the neck if someone forgets to close the form and goes to lunch, for example."
- maybe a timeout that can manually be reset by the person who is editing could help? People will learn fast enough that work is lost if they don't save and leave ;)

[2015-01-18 05:45] jsma opened #3775 "500 errors after moving an apphook"
Earlier I moved an apphook from one page to another. The steps were: 1) remove the apphook from the source page, save the changes and then delete the source page so there should be no existing reference to the apphook attached to any page...then 2) add the app to the destination page and save. There were several subsequent restarts of Apache afterwards and no caching is configured at the moment. E

[2015-01-18 06:01] jsma opened #3776 "`list apphooks` should sort and clarify its output"
Currently if you run `./manage.py cms list apphooks` you'll get slightly confusing output:

    VideosApp
    EventApp
    VideosApp
    EventApp
    PressReleaseApp
    NewsApp
    PressReleaseApp
    NewsApp

This could be consolidated to something like:

    EventApp (draft/published)
    NewsApp (draft/published)
    PressReleaseApp (draft/published)
    VideosApp (draft/published)

If the dra

[2015-01-19 12:11] Hiieu opened #3777 "Path '.' already exists and is not empty, please choose a different one"
Error occurs after `djangocms -p . mysite`

[2015-01-19 14:40] yakky commented on #3777
@Hiieu : what's the content of "." directory?

[2015-01-19 16:23] marksweb opened #3778 "Enable plugins for an HTMLField within a FrontEndEditable model"
I've just been asked to add the 'CMS Plugins' button to the text editor in an existing model which appears to use the `FrontendEditableAdminMixin`.

At the moment it's a standard setup using `djangocms_text_ckeditor.fields.HTMLField` but the change form renders without the 'CMS Plugins' button. Do you need to specify plugins to allow within the field in order to get this to display?

[code]

I kno

[2015-01-19 17:34] savega commented on #3777
I have the same issue. I just tried going through the demo. The "." only contains the env folder as suggested by the demo tutorial. https://github.com/divio/django-cms-tutorial/blob/master/Step%201%20-%20Initial%20Setup.md

[2015-01-19 17:51] Hiieu commented on #3777
@yakky: The only folders with '.' in my directory are /.git/ and /.idea/

[2015-01-19 21:16] yakky commented on #3778
CMSPlugin are enabled only for text plugin, as children plugin cannot work without an underlying text plugin.
HTMLField is for "standard" models only, which does not support plugin nesting

[2015-01-19 22:46] marksweb commented on #3778
Great thanks yakky, that makes sense :)

[2015-01-19 22:46] #3778 closed

[2015-01-19 23:57] iwan933 opened #3779 "RemovedInDjango18Warning"
Hi,

i am getting the following output every time i run my manage.py:

C:\Python27\lib\site-packages\cms\publisher\manager.py:5: RemovedInDjango18Warning: `PublisherManager.get_query_set` method should be renamed `get_queryset`.
  class PublisherManager(models.Manager):

C:\Python27\lib\site-packages\cms\models\managers.py:15: RemovedInDjango18Warning: `PageManager.get_query_set` method should be

[2015-01-20 05:25] yakky commented on #3779
These are just warning for features to be removed in Django 1.8
They are going to be addressed in 3.1, but they're totally harmless

[2015-01-20 05:25] #3779 closed

[2015-01-20 06:54] yakky commented on #3777
@savega Please check the updated version at http://django-cms.readthedocs.org/en/support-3.0.x/introduction/install_from_scratch.html

[2015-01-20 07:10] yakky commented on #3777
@Hiieu would you test https://github.com/nephila/djangocms-installer/archive/feature/hidden_files.zip, please?

[2015-01-20 09:57] 00091701 commented on #3777
Hi @yakky,

I have the same problem. And your "patch" does not work for me.

(env) C:\Temp\dj\ProjectSite>djangocms --db sqlite://localhost/project.db --cms-version stable --django-version stab
le --i18n yes --reversion yes --languages de --timezone Europe/Berlin --use-tz yes --permissions yes --bootstrap yes --s
tarting-page yes -p . projekt
Database configuration (in URL format) [default sqlite:

[2015-01-20 10:29] yakky commented on #3777
@00091701 what is the content of ``ProjectSite`` directory?

[2015-01-20 10:41] jrief commented on #3600
We now have a solution to solve this:
https://github.com/ojii/django-sekizai/pull/41

[2015-01-20 10:54] 00091701 commented on #3777
Hi @yakky,

this is my template for a new cms test environment.

create a dir in "c:\Temp" or "/tmp" (and change into it)

mkdir ProjectSite
cd ProjectSite

virtualenv --no-site-packages env
source env/bin/activate
pip install pillow
pip install djangocms-installer

djangocms --db sqlite://localhost/project.db --cms-version stable --django-version stable --i18n yes --reversion yes --languages de -

[2015-01-20 11:08] yakky commented on #3777
@00091701 added a ``-s`` flag to skip the check in case like yours

[2015-01-20 11:47] 00091701 commented on #3777
@yakky ,

after a "long" time I get this error:
Failure occurred. Do you want to cleanup by removing C:\Temp\dj\ProjectSite? [Y/N]

I called:
(env) C:\Temp\dj\ProjectSite>djangocms --db sqlite://localhost/project.db --cms-version stable --django-version stable --i18n yes --reversion yes --languages de --timezone Europe/Berlin --use-tz yes --permissions yes --bootstrap yes --starting-page yes -p .

[2015-01-20 11:57] yakky commented on #3777
After ansering yes or not to that message you should get the error that triggered the failure (this can be due to problem with library compilation, etc)

[2015-01-20 11:57] Hiieu commented on #3777
I created completely empty folder and type in my console `djangocms -p . mysite` and I have no error with Path '.' already exist..., but a new error is showing:
`Failure occurred. Do you want to cleanup by removing C:\Dropbox\venv\portfolio\testing? [Y/N]`

I don't if I should create a new issue

[2015-01-20 11:58] yakky commented on #3777
See answer above :)

[2015-01-20 12:09] 00091701 commented on #3777
@yakky ,

I hope I can help you with this:
Failure occurred. Do you want to cleanup by removing C:\Temp\dj\ProjectSite? [Y/N] y
Removing everything under C:\Temp\dj_dh1\ProjectSite
Traceback (most recent call last):
  File "C:\Temp\dj\ProjectSite\env\Scripts\djangocms-script.py", line 9, in <module>
  File "C:\Temp\dj\ProjectSite\env\lib\site-packages\djangocms_installer\main.py", line 30, in exec

[2015-01-20 12:10] yakky commented on #3777
Ok, could you open an issue on nephila/djangocms-installer for this? it's a different issues

[2015-01-20 12:19] Hiieu commented on #3777
So basically I should reinstall django-cms?

[2015-01-20 12:20] yakky commented on #3777
@Hiieu ``pip install -U https://github.com/nephila/djangocms-installer/archive/feature/hidden_files.zip`` and relaunch the installer command

[2015-01-20 12:41] Hiieu commented on #3777
@yakky:

Here what I did:

Create new project directory
Create venv
(env) pip install djangocms-installer

When I try to install your hidden_files.zip from your link I got this error:

[code]

So I download `https://github.com/nephila/djangocms-installer/archive/feature/hidden_files.zip` and  unpack then install in my project.

But I still get this error after `djangocms -p . mysite`

[code]

[2015-01-20 12:44] yakky commented on #3777
Ok, this is unrelated to the original issue. Could you reopen on https://github.com/nephila/djangocms-installer ?
Actually windows support in djangocms-installer it not very well tested
Closing this and moving discussion to the installer repo

[2015-01-20 12:44] #3777 closed

[2015-01-20 13:23] Hiieu opened #3781 "Failure occurred. Do you want to cleanup by removing ..."
I did exactly everything in tutorial and I got this error:

`Failure occurred. Do you want to cleanup by removing \path\myproject? [Y/N]`

[code]

[2015-01-20 13:23] yakky commented on #3781
Please open on nephila/djangocms-installer

[2015-01-20 13:23] #3781 closed

[2015-01-20 13:25] Hiieu commented on #3781
Sorry, wrong tab

[2015-01-21 04:00] peterfarrell opened #3782 "Copying page with app hook to a different site_id fails constraint"
I have a need to copy all pages from one site to a new site id.  I have a script that uses `page.copy_page(...)` however it fails with a unique constraint error when you try to copy a page that associated with an app hook:

[code]

The problem is that the `unique_together` for the application_namespace does not include the `site`.

[code]
https://github.com/divio/django-cms/blob/1b0f7a2c9d17af6316

[2015-01-21 06:58] yakky opened #3783 "Document how to submit PR"
WRT to the use of develop.py, how to create migrations and add a warning to submit both south and django 1.7 migrations

[2015-01-21 08:37] yakky opened #3784 "Document the plugin order in INSTALLED_APPS"
Since develop **all** plugins **must** be defined **after** ``cms``
We need to add this to the documentation (both in the upgrade section and in the normal project setup.
Especially ``djangocms_text_ckeditor`` which still is documented to be installed before ``cms``

[2015-01-21 10:03] peterfarrell opened #3786 "Add management command to copy_site"
We have the ability to `copy_lang` but no ability to "clone" an entire cms site to a new site.

[2015-01-21 20:28] morganwahl opened #3788 "urls no longer take into account setting of APPEND_SLASH"
This commit: https://github.com/divio/django-cms/commit/c2cd800b4ea9038b027b1079ac3d6cc8914005c7

seems to have accidentally made the `'pages-details-by-slug'` regex the same regardless of what `APPEND_SLASH` is set to. Presumably this will re-introduce whatever problem was in this issue: https://github.com/divio/django-cms/issues/284

[2015-01-22 10:16] mkoistinen commented on #3774
Another approach could be that on "Save", the Admin (class, not person) first just verifies that the object hasn't already changed since the local change-form was first opened (either by comparing all fields, or just a single timestamp field) and if it has, indicates which fields have "collisions" and presents a dialog warning the operator of the situation allowing them to override, reload the oth

[2015-01-22 10:42] evildmp commented on #3774
See also https://groups.google.com/d/topic/django-developers/mOkvOQQGhJk/discussion

[2015-01-22 17:26] srj55 commented on #3688
I'm also having this issue.   This applies to the modal popup window buttons as well as the left window pane that opens to the django admin.  Once it's open on the left side, I can't close it without logout->login (ESC doesn't work either).

I'm using latest chrome.  Also, can confirm this works in other browsers.

Server:
Django-CMS 3.0.9
Django 1.7.3

Client:
WIndows 8.1
Chrome 40.0.2214.91 m

[2015-01-22 17:59] timgraham opened #3790 "develop.py test --xvfb option not documented"
This tip from the developers mailing list isn't documented:

"If you have some sort of X installed, you can `pip install xvfbwrapper` in the venv and run the tests with `--xvfb` and they won't need a physical display."

Any reason not to do so?

[2015-01-22 18:25] yakky commented on #3790
No reason :)
Actually just a general lack of documentation on how develop.py works
Related to #3783

[2015-01-22 18:28] yakky commented on #3788
Duplicate of #3691
Fixed by #3758

[2015-01-23 18:03] JohnKovalsky opened #3794 "CMS installer issues on Windows 7"
I wanted to install djangocms on Windows 7 (updates up to date, service pack1)
and I followed instruction on:
http://docs.django-cms.org/en/support-3.0.x/introduction/install_from_scratch.html

After I run command `djangocms -p . mysite` I got following error:
 `File "C:\Python27\Lib\runpy.py", line 162, in _run_module_as_main
   "__main__", fname, loader, pkg_name)
 File "C:\Python27\Lib\runpy.py

[2015-01-23 18:36] yakky commented on #3794
Duplicate of nephila/djangocms-installer#160

[2015-01-23 18:36] #3794 closed

[2015-01-24 12:37] mkoistinen commented on #3688
This can be naïvely "fixed" by alter this line:
    https://github.com/divio/django-cms/blob/support/3.0.x/cms/static/cms/js/modules/cms.modal.js#L35

To look like this:
    `this.click = (document.ontouchstart !== null) ? 'click.cms' : 'touchend.cms click.cms';`

The idea being that if we detect support for touch, we bind the handlers to both touch- **and** mouse-events, not just touch-events. I

[2015-01-24 13:02] mkoistinen opened #3796 "Fully touch-capable version of the CMS"
This issue relates to #3688, but is more general. We need the CMS to be 100% touch-friendly both for end-users (site-visitors) and content managers.

Ideally, someone with a dual-input capable machine will assist with this? A machine that supports both touch-input and mouse-input simultaneously.

Any takers?

[2015-01-24 18:26] mkoistinen commented on #3796
Is this something that can be tested with Selenium? Does it support emulation of dual-input devices?

[2015-01-24 23:47] srj55 commented on #3688
your fix worked for me (both touch screen and mouse):

this.click = (document.ontouchstart !== null) ? 'click.cms' : 'touchend.cms click.cms';

Also, I did this for cms.sideframe.js since the side frame is affected by this issue.

[2015-01-25 01:55] mkoistinen commented on #3688
@srj55 can you install from here: https://github.com/mkoistinen/django-cms/archive/mkoistinen-feature/fix_3688.zip and let me know if it fixes things and doesn't create any new issues?

[2015-01-25 10:49] yakky commented on #3794
@JohnKovalsky would you please check by installing https://github.com/nephila/djangocms-installer/archive/feature/hotfixes.zip?

[2015-01-25 22:08] yakky commented on #3678
This has been fixed in 3.0.9 (#3712) / develop
The page still has a link to an hardcoded URL, but the UI allows to select the proper page instead of handwriting it

[2015-01-25 22:08] #3678 closed

[2015-01-25 23:44] GabLeRoux opened #3798 "French gettext translation does not work in 3.0.9 and 3.0.8"
Hey there,
I generated a new site with the awesome [djangocms-installer](https://github.com/nephila/djangocms-installer) tool and realised after a while that django-cms is not being translated to the user's language.

## Steps to reproduce:

	$ pip install --upgrade virtualenv
	$ virtualenv env
	$ source env/bin/activate
	(env) $ pip install djangocms-installer
	(env) $ djangocms -p . omg
	Databas

[2015-01-25 23:46] yakky commented on #3798
Could you please open this on djangocms-installer repository?

[2015-01-27 01:23] timgraham opened #3802 "Cleanups when dropping Django 1.6"
When to do so hasn't been decided yet.

- [ ] `setup.py`: Python 2.6 classifier and minimum Django version (south also?)
- [ ] `from __future__ import with_statement` (for Python 2.6)
- [ ] Replace `SortedDict` with `collections.OrderedDict` (need Python 2.7 min.)
- [ ] `cms.test_utils.compat` (skipIf unittest2 stuff) (need Python 2.7 min.)
- [ ] Usage of `cms.utils.compat.DJANGO_1_6`
- [ ] Replac

[2015-01-27 15:14] jsma commented on #3637
@yakky I finally added a proper test case after all this time! If you temporarily revert 41d988e2df09da21a4567d3d612238fc30d4cba2 you'll see the tests fail due to the scrambled ordering on the live page and that with the offending lines removed, the ordering is preserved. I've punted on the question of refactoring the plugin position changing code for now.

[2015-01-27 22:15] yakky commented on #3802
South can be removed when 1.6 will be dropped
Thanks for this great todo list

[2015-01-27 23:42] jsma commented on #3655
There appears to be a javascript bug [here](https://github.com/divio/django-cms/blob/379e120659095fc54a3c51af0c141cb7072d7185/cms/static/cms/js/modules/cms.base.js#L74-L78). My javascript-fu is weak but when I use Chrome developer tools to set breakpoints, this code sets the `parent.location.href` but this does not force the browser to instantly redirect, so it always hits the `parent.location.rel

[2015-01-28 22:18] yakky commented on #3798
Apparently there is something wrong with the french translations in django CMS
Any other language combination looks fine
Could you try downgrading to django CMS 3.0.7? (``pip install django-cms==3.0.7``)

[2015-01-29 00:49] GabLeRoux commented on #3798
You are right, this works fine with `django-cms==3.0.7`, it is broken in `django-cms==3.0.8` and `django-cms==3.0.9`.

[2015-01-29 05:38] yakky commented on #3798
Thanks for checking. Will change the title for this issue

[2015-01-29 10:24] mkoistinen commented on #3688
Fixed by #3795. Also, superseded by #3796.

[2015-01-29 10:24] #3688 closed

[2015-01-29 19:42] jsma commented on #3678
That doesn't quite solve what I was aiming for in this ticket. I was envisioning something like the link plugin where you can enter a fully qualified url (for external links) or relative path (for urls handled by a Django app, e.g. /login/ etc., not a CMS page) OR you could use the page select widget to FK to an actual Page. This can be very handy in development when the slugs might change frequen

[2015-01-29 19:43] jsma commented on #3678
Hit 'comment' too soon. If the feature I proposed is agreeable, please reopen the ticket and I'll try to get a pull request put together soon.

[2015-01-30 20:28] dossan opened #3806 "Error installing aldryn-blog"
(_I have also asked this in the django-cms tutorial github issues page._)

I am following the tutorial from the django-cms official website, but I am having a problem installing _aldryn-blog_ using _pip_ (Step 5 - Installing A Blog App). This is the output when I try to install aldryn-blog:

    Collecting aldryn-blog
      Using cached aldryn-blog-0.4.6.tar.gz
    Collecting django-taggit<0.12 (f

[2015-01-31 13:47] mkoistinen commented on #3788
Fixed in 3.0.x. by commit: 49eb3b0cfbf62c5b87ef1501ac63204f763dbfbf. Removed 3.0.10 tag.

Tagged with 3.1 so it is not overlooked in that branch.

[2015-01-31 14:14] mkoistinen commented on #3798
I would like some clarity here. I've taken the steps above to produce an django-cms installation with the primary language as 'fr'. The provided sample content appears in EN, but the CMS believes this is FR ('cause it was configured as such). Also, the CMS UI (toolbar, etc.) is appropriately all in FR.

It seems to me this is simply a matter of the djangocms-installer installing the same sample co

[2015-01-31 14:34] mkoistinen commented on #3798
OK. This appears to be some sort of caching issue. I notice that it does change the admin UI to the selected language, eventually, but it seems to take a couple of attempts. I'm trying to produce a concise and repeatable sequence as this should help pinpoint the issue.

I see exactly the same behaviour in 3.0.7 as well.

[2015-01-31 19:33] yakky commented on #3667
@darbula could you check if #3808 fixes the issue for you?

[2015-02-01 00:04] mkoistinen commented on #3798
@GabLeRoux Can you see if this patch fixes it for you? Its based off latest `Support/3.0.x` branch.

    pip uninstall django-cms && pip install https://github.com/mkoistinen/django-cms/archive/mkoistinen-feature/better_handle_user_language_change.zip

Please let me know!

[2015-02-01 00:05] GabLeRoux commented on #3798
I tried what you just mentioned, but django-cms is still being displayed in english.

I opened web inspector with setting `Disable cache (while DevTools is open)` enabled so I don't have any cache issue here and did exactly this:

1. Clicked on `User settings...` http://127.0.0.1:8000/fr/admin/cms/usersettings/ (opens in the left sidebar)
2. From `fr` to `en`, hit save.
3. Refresh the hole page.

[2015-02-01 00:08] GabLeRoux commented on #3798
@mkoistinen Oh, sent this at the same time you did :P  I ran

    pip uninstall django-cms && pip install https://github.com/mkoistinen/django-cms/archive/mkoistinen-feature/better_handle_user_language_change.zip

installed fine, `pip freeze | grep django-cms`

    django-cms==3.0.10.dev1

Still in english, tried to save settings and still in english.

[2015-02-01 03:31] mkoistinen commented on #3798
OK. Hmmm, I wonder now if I've "fixed" the wrong problem. During my testing, I was looking at the menu names across the toolbar to be sure they were shown in FR or EN. They seem correct. However, now that you mention it, the menus below these are always in EN.

[2015-02-01 03:44] GabLeRoux commented on #3798
I had no difference with `3.0.10.dev1`:
![en](https://cloud.githubusercontent.com/assets/1264761/5990925/b46ea3b0-a999-11e4-8c47-1a97a862875f.png)
This is how it looks like on `3.0.7`
![fr](https://cloud.githubusercontent.com/assets/1264761/5990924/b463e218-a999-11e4-9b2f-2d68111fb2e5.png)

When you say menu names, are you talking about `Page`, `Language` and `Live`?

[2015-02-01 13:14] rossengeorgiev opened #3810 "Broken links in documentation"
'django tutorial' links on the following page: https://django-cms-exp.readthedocs.org/en/latest/extending_cms/extending_examples.html#extending-the-cms-examples

[2015-02-01 13:28] yakky commented on #3810
Those documentation repository should not existd anymore.
Has now been deleted

[2015-02-01 13:28] #3810 closed

[2015-02-01 13:32] yakky commented on #3762
Admin integration is required for placeholder to work correctly
You can exclude admin from showing into the admin dashboard by using ``get_model_perms`` (see http://stackoverflow.com/questions/2431727/django-admin-hide-a-model)

[2015-02-01 13:32] #3762 closed

[2015-02-01 13:33] #3756 closed

[2015-02-01 22:33] jrief commented on #3600
## django-sekizai-processors

I just released a package to do the ``*.scss`` to ``*.css`` conversion using Sekizai's templatetag ``addtoblock``.
Additionally all referred ``*.scss`` files can be compiled offline, using ``./manage.py compilescss`` and hence deployed onto production systems without the need of **libsass**.

Additionally it adds a sourcemap to each compiled file, so that when using e

[2015-02-01 23:08] doctormo opened #3811 "Broken undo causes corruption in page. Kills page view and page publish operations."
An undo error 'Could not revert revision, due to database integrity errors.' caused Page field 'publisher_public' to become unhinged. It's a double link between draft and live version, but if one of those links is broken (not both!) then the page is in an unstable state.

We had publisher_public==None in the draft(pk=2) and publisher_public==2 set in the live version(pk=942). This meant viewing th

[2015-02-02 10:19] BertrandBordage opened #3812 "Non-existent method Page.get_title_object"
If you specify a language to `ExtensionToolbar.get_title_extension_admin`, it calls `Page.get_title_object`, which doesn’t exist.  This should probably be `Page.get_title_obj` instead.

[2015-02-02 12:23] BertrandBordage commented on #3798
Same issue here, the toolbar stays in English while the rest of the project is correctly translated.  It was working with 3.0.7.

[2015-02-02 14:26] davidetruffo commented on #3373
Hi!
Same problem here!

Here are some screenshots to explain what i see.
Please note that i haven't done anything more than adding a video in the placeholder (all default settings).

Original view (the highlighted part should be the double-clickable one):
![screen shot 2015-02-02 at 15 21 45](https://cloud.githubusercontent.com/assets/2778867/6001989/769ee85e-aaef-11e4-89bc-0ae7dc16126d.png)

If i

[2015-02-02 19:58] pawelmarkowski opened #3813 "solid_i18_patterns in breadcrumbs"
I have found issue in breadcrumbs. If you are using solid_i18n_patterns you are receiving in link main language code (which in solid i18 is abandoned) what results 404 error page. BTW link in menu is correct.

[2015-02-03 15:39] 747project opened #3814 "New template placeholders added after page revisions break django-reversion historical view"
In `django-cms 2.4.3`, when using the package `django-reversion`, if you add a new placeholder to a template (a placeholder that did not exist in the template for previous revisions of the page), you break reversion history views on cms pages for historical revisions that did not have this new placeholder.

Error received when trying to view any version of a cms page that does not include the new

[2015-02-03 15:49] 747project opened #3815 "UnboundLocalError on django-reversion historical view of page"
In `django-cms 2.4.3`, when using the package `django-reversion`, if no placeholders match a particular reversion history page view, then the variable `placeholder` is not set.

Error received when trying to view any version of a cms page where no matching placeholders are found:

[code]

[2015-02-03 22:21] yakky commented on #3373
@FinalAngel Any chance we can do something here? If the flash area has no padding around, I think it's tricky to get click events on the plugin

[2015-02-03 22:23] yakky commented on #3600
\O/ great job @jrief !

[2015-02-04 04:15] jsma commented on #3784
I asked about `djangocms_text_ckeditor` on the [mailing list](https://groups.google.com/d/msg/django-cms-developers/On3-nFwgxeM/t3HwRhdu6kcJ) but didn't get a reply whether the recommendation to place before `cms` was valid documentation. What is happening now that requires all plugins to be listed after (sorry if I missed some announcement/changelog)?

I'm still trying to wrap my head around the

[2015-02-04 04:32] jsma commented on #3806
Should the django-cms docs instruct users to install any aldryn-* apps at the moment? I just helped steer a user on IRC away from these since the aldryn-* apps do not appear to be compatible with Python 3 even though django-cms and core plugins are. I documented some issues in [this post on the users mailing list](https://groups.google.com/d/msg/django-cms/lX8vS_aG6aU/jzfvz1RG45UJ).

I don't think

[2015-02-04 05:00] jsma commented on #3637
Anything else needed (aside from free time!) to get this merged? Let me know.

[2015-02-04 06:51] yakky commented on #3637
@jsma I should be able to review the PR in the next few days.
Thanks for your efforts

[2015-02-04 09:36] jedie opened #3816 "TypeError: 'dict_keys' object does not support indexing"
I get a "TypeError: 'dict_keys' object does not support indexing" in "cms/models/pagemodel.py", line 819, in get_admin_tree_title":

![error](https://cloud.githubusercontent.com/assets/71315/6037953/27e3778c-ac59-11e4-8da1-07d9bffe7a4c.PNG)

Maybe this has been fixed, because the current version looks completely different: https://github.com/divio/django-cms/blob/develop/cms/models/pagemodel.py

H

[2015-02-04 14:44] carina21 opened #3817 "A lot of pages (about 500) pages in django CMS - HELP!!!"
Hello, i have questions about the django CMS page tree:
- I have a lot of pages (about 500) in my django CMS an the overview of the page tree is very confusing and it takes me very long to scroll to bottom or find pages and move them in the tree. So my question is, is there a way to group/sort the pages by the creation-year or something else, automatically?
 - Does the django-cms developer Team pl

[2015-02-04 16:40] jsma opened #3818 "Logging back in via toolbar on the logout page logs the user out"
The toolbar login form is set to always redirect to the current page on submission. When the user logs out, the login form in the toolbar is displayed on the logged out page prompting users to log back in. However, if the user logs in from this page, they will be redirected back to the logged out view which of course logs them back out.

[2015-02-04 18:32] jsma opened #3820 "Exception when adding sibling page"
In a clean project if I create a Home page, then two child pages (Child 1, Child 3), then attempt to add a sibling in between (Child 2) I get the following traceback:

    Environment:

    Request Method: POST
    Request URL: http://localhost:9000/en-us/admin/cms/page/add/?language=en-us&target=3&position=right

    Django Version: 1.7.4
    Python Version: 3.4.2
    Installed Applications:

[2015-02-04 18:37] jsma commented on #3820
I've updated my bare bones [cmsdemo](https://github.com/jsma/cmsdemo/tree/django-cms-3820) app with instructions on how to reproduce.

[2015-02-04 23:53] jsma commented on #3820
This is a regression introduced in the switch from django-mptt to django-treebeard. The error does not appear in 3df86e1554208e7db4b73d529f1e6304ef3317c3 but appeared as soon as the treebeard branch was merged in c6b8b6cd96f2f5dcbfc327ed48fa971ef40c6d8f.

If you have the following tree:

    Home
    /  \
    A  C

You currently cannot add a new node 'B' to the right of 'A' since it will be given

[2015-02-05 02:32] jsma commented on #3820
I'm not smart enough at the moment to know where this is a treebeard bug or a bug in how django-cms is using it. Below is the output of stepping through with ipdb and logging all the SQL queries. I've left the noise in the SQL so its exactly the output of each corresponding line of Python.

In `pageadmin.py`, it calls save on the new page:

        224                     obj.parent_id = target.pa

[2015-02-05 11:42] StevenMapes commented on #3794
I had the same problem and downloaded and installed the hotfix which has solved the problem on my Windows 7 box (Python 3.4)

[2015-02-05 13:54] ursulachristen opened #3821 "After publishing a translated page the browser jumps back to the base language"
The page should stay in the translated language to be able to check the changes made. Publishers are confused when not seeing their changes.

[2015-02-05 22:31] percy3d opened #3822 "multiple urls pointing to same view"
Hi,

Say I have two url rules in django pointing to the same view, is there a way I can prevent having to enter the content into the cms multiple times?

For example, I have /campaign/choose_character/ but also /campaign/choose_character/2/ I enter the content for /campaign/choose_character/ but when I go to /campaign/choose_characters/2/ the content from the cms placeholders in this template disa

[2015-02-06 08:57] pawelmarkowski opened #3823 "Django Reversion + CMS"
When you try to restore deleted page (3.0.9 cms):

TransactionManagementError at /admin/cms/page/recover/1044/
An error occurred in the current transaction. You can't execute queries until the end of the 'atomic' block.
Request Method:	POST
Request URL:	http://xxxxxx/admin/cms/page/recover/1044/?language=pl
Django Version:	1.7.3
Exception Type:	TransactionManagementError
Exception Value:
An error

[2015-02-06 19:46] percy3d commented on #3822
I'm guessing this is where static_placeholders come in.

[2015-02-06 19:46] #3822 closed

[2015-02-07 07:33] lotaku opened #3824 "How to redefine the width of placeholder?"
I know the css limit the width of placeholder.
like this img:https://www.dropbox.com/s/95dev5dhe7nt9ct/small_placeholder.png?dl=0
but sometime it's width is too small.
How can i redefine the width of placeholder

Looking forward to your reply. Thanks.

[2015-02-07 08:03] yakky commented on #3824
you may force the width of a placeholder by using your own css by matching the placheholder DOM classes in structure mode (``cms_dragarea cms_dragarea-ID`` where ID is the placeholder numeric id)

[2015-02-07 08:03] #3824 closed

[2015-02-07 14:52] yakky commented on #3820
@jsma please check the linked PR

[2015-02-07 14:55] #3637 closed

[2015-02-07 15:00] yakky commented on #3823
What database backend are you using? Which reversion version?

[2015-02-07 15:02] yakky commented on #3821
Which Django / django-cms version?
Would you provide steps to reproduce this?
Can't reproduce on standard setup

[2015-02-07 15:18] yakky commented on #3817
Which django CMS version are you using?
you can use the search to go search for desired page.
There is no plan to implement a date-based listvies of the pages

[2015-02-07 15:22] yakky commented on #3816
When does this exception pops up? Which cache backend are you using?

[2015-02-07 15:29] yakky commented on #3813
Apparently solid_i18n_patterns breaks a lot of assumptions django CMS does in page urls. I am not sure we can make it compatible with django CMS

[2015-02-07 15:32] jedie commented on #3816
cache backend: ```django.core.cache.backends.locmem.LocMemCache```

Seems that this happens if no Title exist.

Think ```language = self.title_cache.keys()[0]``` is just not python 3 compatible.
Fix: ```language = list(self.title_cache.keys())[0]```

[2015-02-08 00:00] yakky commented on #3816
Which operation triggers the error?

[2015-02-08 00:08] #3820 closed

[2015-02-08 00:26] yakky commented on #3692
@stefanfoulis should be fixed by #3828
Could you please recheck?

[2015-02-08 00:29] yakky commented on #3376
@o-zander would you recheck this on current develop?

[2015-02-08 08:49] #3711 closed

[2015-02-08 16:50] jedie commented on #3816
Access the admin pages.

[2015-02-08 17:21] carina21 commented on #3817
I use django cms version 3.
I know the search function to get desired pages.
But i mean when I get the whole page tree with a lot of pages that haven't subpages the page tree is very long and confusing - i have to scroll - so i can't see easily the structure of pages that are on the end.
So it would be good to implement an easy structure to handle houndred of pages!
Do you get me?

[2015-02-08 17:32] yakky commented on #3816
Could you check the linked PR?

[2015-02-08 17:46] yakky commented on #3817
I get what you mean
At the moment there is no plan to implement such a feature, though

[2015-02-08 20:16] yakky commented on #3798
Could you check if https://github.com/yakky/django-cms/archive/feature/remove_fr_fr.zip solves the issue?

[2015-02-08 20:37] yakky commented on #2544
Closing this: we've setup a PEP440 versioning scheme

[2015-02-08 20:37] #2544 closed

[2015-02-08 20:43] yakky commented on #3183
Closing because of no feedback

[2015-02-08 20:43] #3183 closed

[2015-02-08 20:44] yakky commented on #3213
closing due to no feedback

[2015-02-08 20:44] #3213 closed

[2015-02-08 20:44] yakky commented on #3232
I'd close this as the migration is now complete

[2015-02-08 20:54] yakky commented on #2951
@mkoistinen could you clarifiy this?

[2015-02-08 20:54] yakky commented on #3278
@FinalAngel do we really need this feature? it's quite confusing, actually

[2015-02-08 20:55] yakky commented on #3279
@donce any update on this?

[2015-02-08 20:56] yakky commented on #3282
@brente is this still the case? which django CMS version?

[2015-02-08 20:56] pawelmarkowski commented on #3823
Python 3.3.2 (default, Aug 14 2014, 14:25:52)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-16)] on linux
print(reversion.__version__)
(1, 8, 5)
print(MySQLdb.__version__)
1.3.4

[2015-02-08 20:58] yakky commented on #3675
This can be closed, right?

[2015-02-08 21:01] yakky opened #3839 "[META] Redirect handling after publishing / deletion"
This is a meta-issue to group all the problems of redirection after the current URL is no longer valid (page deleted, slug modified etc)

*  [ ] #3654
*  [ ] #3655
*  [ ] #3384
* [ ] #3039

[2015-02-08 21:07] yakky commented on #3839
Duplicate

[2015-02-08 21:07] #3839 closed

[2015-02-08 21:13] yakky commented on #3823
Is the tree clean?
Could you first run ``manage.py cms delete-orphaned-plugins`` and ``manage.py cms fix-mptt`` and then retry?

[2015-02-08 21:31] pawelmarkowski commented on #3823
ad manage.py cms delete-orphaned-plugins:
 Deleted instances of:
    0 uninstalled plugins
    0 plugins with unsaved instances
all done

ad fix-mptt:
fixing mptt page tree
fixing mptt plugin tree
all done

I was testing it on fresh install of app so probably there was not any tree issues. Now I will turn off solid_i118n_patterns and use standard  django.conf.urls.i18n import i18n_patterns - to be

[2015-02-08 21:52] pawelmarkowski commented on #3823
Problem still exists (without solid_i118n_patterns). You can revert blank site (without any plugin e.q text in placeholder). When you have added text, or (probably) any other plugin then you receive the error.

Update of all pip packages do not help to solve problem.

[2015-02-08 22:21] yakky commented on #3823
Ok, I was able to reproduce:
- Python 3.4 (sorry can't test on 3.3 currently)
- Django 1.7.4
- django-cms 3.0.9
- mysqlclient 1.3.5
- django-reversion 1.8.5

Steps:
- clone django-cms: `git clone https://github.com/divio/django-cms/`
- run develop.py: `DATABASE_URL="mysql://user:pwd@localhost/djangocms_test" develop.py server`
- create home page from the splash screen
- create sub page from the pa

[2015-02-08 22:28] pawelmarkowski commented on #3823
yakky if you remove home page (which has text plugin) and try to restore it from reversion you will receive the same error (to clarify that the problem concerns every page)

[2015-02-08 22:55] yakky commented on #3823
Could you please check #3823?

[2015-02-09 01:12] lotaku commented on #3824
Thank you very much.

[2015-02-09 04:43] shobhit26 commented on #3213
Yes it is solved with the resolution you suggested. Sorry for replying so late.

[2015-02-09 09:00] pawelmarkowski commented on #3823
@yakky problem has been solved by this change.

[2015-02-09 09:29] #3823 closed

[2015-02-09 09:56] kurosato commented on #3667
quit

On Sat, Jan 31, 2015 at 8:33 PM, Iacopo Spalletti <notifications@github.com>
wrote:

[2015-02-09 11:02] darbula commented on #3667
Sorry for the delay, it works but it is not consistent. I have not been able to find some regularity. Mostly the spacebar binding does not work, regardless of editing rights. All tests were performed as user that has editing rights only to some particular pages since super user and user with no editing rights do not have this issue.

[2015-02-09 11:35] ursulachristen commented on #3821
We could fix the problem by including admin.site.urls into i18n_patterns in urls.py.
You can close the ticket.

[2015-02-09 11:42] yakky commented on #3821
@evildmp I think we should document to include admin urls in i18n_patterns
While djangocms-installer already does so and I guess it's pretty standard practice, I think it may worth be more explicit

[2015-02-09 11:43] yakky commented on #3821
@ursulachristen thanks for reporting!

[2015-02-09 13:59] donce commented on #3279
Oops sorry, I kinda forgot about it. I'll get back to it :)

[2015-02-09 14:28] ojii opened #3843 "show_uncached_placeholder uses caching with CMS_PLACEHOLDER_CACHE=True"
Using ``show_uncached_placholder`` with ``CMS_PLACEHOLDER_CACHE`` set to ``True`` (which is the default!) causes the plugin rendering system to cache the placeholder nevertheless, which can trigger issues in ``restore_sekizai_context``.

Specifically what happens is the template tag hits:

* Attempts to render the placeholder at https://github.com/divio/django-cms/blob/3.0.9/cms/templatetags/cms_t

[2015-02-09 14:29] ojii commented on #3843
While I only had a cursory look into this issue, it feels like passing a ``no_cache`` parameter to ``render_placeholder`` could solve this.

[2015-02-09 17:57] yakky commented on #3843
@ojii The revenge of the micro-features: #3768!

[2015-02-09 22:21] morganwahl opened #3845 "cms.api.publish_page not setting changed_by user on page"
The `publish_page` function in `cms.api` takes a `User` instance in order to check permissions, but the `Page` published then has it's `changed_by` field set to `'script'`.

Looking at the `Page` save method it seems it gets the user from `cms.utils.permissions._thread_locals`. My quick-fix would be to just set that attribute in the `publish_page` function, but I can't say I understand what all th

[2015-02-10 16:30] Moini opened #3847 "Question: redirect_on_fallback = False doesn't work as expected"
Hi,
I'd like to know if this is a general bug, or a problem specific to our own site.

The django-cms documentation says:

If I set it to False, I get no redirect, as expected, but also, the non-translated, non-English page which is displayed does not have the contents from the English page, but is empty.

Is this a django-cms bug, or might this be due to some special settings we have? (v3.09)

Th

[2015-02-10 19:29] morganwahl commented on #3845
Fix PR'd in #3848

[2015-02-10 22:39] yakky commented on #3847
Are the fallback languages setup correctly for the language?

[2015-02-10 22:46] Moini commented on #3847
All languages are set to fall back to English, following the documentation.

[2015-02-10 22:48] yakky commented on #3847
See ``language_fallback`` parameter in http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html

[2015-02-10 22:51] Moini commented on #3847
I copied from there ;)

[2015-02-10 22:52] yakky commented on #3847
Sorry, wrong link: http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#cms-placeholder-conf language fallback must be enabled per-placeholder

[2015-02-10 22:53] Moini commented on #3847
Okay, thanks for the hint, I will try that! :D

[2015-02-10 22:54] yakky opened #3849 "Make language_fallback enabled by default"
I think we can set to enabled by default in ``CMS_PLACEHOLDER_CONF`` as the master behavior is controlled in ``CMS_LANGUAGES`` (see http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#cms-placeholder-conf)

[2015-02-10 22:55] yakky commented on #3849
@evildmp @mkoistinen @ojii opinions?

[2015-02-10 23:31] Moini commented on #3847
Works - Thank you very much again :) You have made someone very happy today!
Maybe it would be worth to add a further "Make sure that..." to the part about CMS_LANGUAGES in the docs, so people searching for one thing cannot miss the other as I did?

[2015-02-10 23:32] yakky commented on #3847
Keep this opened to track your suggestion

[2015-02-11 05:22] yakky commented on #3798
Ping @GabLeRoux @BertrandBordage could you check PR #3841 ?

[2015-02-11 05:40] yakky commented on #3849
Linked to #3847
If we want to keep this as is, make it clearer in the `CMS_LANGUAGES` documentation (http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#fallbacks) that it needs a per-placeholder setting to work

[2015-02-11 05:51] #3047 closed

[2015-02-11 06:48] mollyStark commented on #2608
hello, did you solve this problem? cause I've got this problem too and I've no idea why....

[2015-02-11 09:46] carina21 opened #3851 "Reverse for 'sites_site_changelist' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []"
I have following Bug:
NoReverseMatch at /de/

Reverse for 'sites_site_changelist' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []

Request Method: 	GET
Request URL: 	http://iv.x-t.at/de/
Django Version: 	1.7.4
Exception Type: 	NoReverseMatch
Exception Value:

Reverse for 'sites_site_changelist' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s)

[2015-02-11 10:14] carina21 opened #3852 "I think I found a bug..."
Hello everybody,

today I updated django-cms version 3.0.6 to 3.0.9 and django 1.6 to 1.7 and got following error with existing placeholders in my templates:
I copied the full request:
[code]

[2015-02-11 10:28] carina21 commented on #3852
I use django cms 3.0.9 and django 1.7.4

[2015-02-11 10:34] carina21 commented on #3852
My solution for going on my work with django cms: Please check if I'm right.
Row: 14
Row: 112
Row: 116

# -*- coding: utf-8 -*-
from collections import defaultdict
from itertools import groupby
import operator
import warnings

from django.contrib.sites.models import Site, SITE_CACHE
from django.shortcuts import get_object_or_404
from django.template import NodeList, VariableNode, TemplateSyntaxErr

[2015-02-11 10:35] johnraz commented on #3852
Best issue ever :heart_eyes:

[2015-02-11 10:41] carina21 commented on #3852
Sorry, but i really need help -> I updated django cms 3.0.6 to 3.0.9 and django 1.6 to 1.7 and then I have the bug
To continue my work i needed to get rid of the bug...

[2015-02-11 11:36] johnraz commented on #3852
Sorry if I sound harsh but you will need to make this issue a bit more "readable" if you want any kind of help.

Start by formatting this issue's content, and please make a branch and  submit a pull request if you think you found a valid bug, then just link the pull request with this issue.

I can understand that you are not familiar with github, but if you want people to invest their "free" time

[2015-02-11 11:37] johnraz commented on #3852
ho and getting rid of those CAPS in the title would also help.

[2015-02-11 11:48] carina21 commented on #3852
Sorry, now I have edited my issue.

[2015-02-11 11:57] evildmp commented on #3852
Hi, let's see if we can help. It could be a bug, or it could be another problem. However, you need to provide us with the key information - you have given us far too much.

Let's start just with a traceback. Can you see the "Switch to copy-and-paste view" link on your error page? You need to hit that, then give us the traceback it reveals - paste it into a comment here and we'll take a look.

By t

[2015-02-11 12:16] carina21 commented on #3852
Environment:

Request Method: GET
Request URL: http://iv.x-t.at/de/?edit

Django Version: 1.7.4
Python Version: 2.7.6
Installed Applications:
('djangocms_admin_style',
 'djangocms_text_ckeditor',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.admin',
 'django.contrib.sites',
 'django.contrib.sitemaps',
 'django.contrib.staticfiles',
 'django.co

[2015-02-11 12:16] carina21 commented on #3852
Thanks in advance!

[2015-02-11 12:44] mkoistinen commented on #3843
Great job sleuthing, @ojii. Thanks for the patch, @yakky. It looks like your patch is based against 3.1.x. Does this need to be rebased to 3.0.x?

[2015-02-11 12:49] mkoistinen commented on #3812
@yakky, it appears a fix has already been merged. Can/should we close this issue, or are we keeping it open so we can ensure the same fix is in develop?

[2015-02-11 12:52] yakky commented on #3812
Uhm, autoclosing seem not consistent ...
Closing this. Merge back from support to develop it's still possible, I'd prefer going along this way

[2015-02-11 12:52] #3812 closed

[2015-02-11 12:52] mkoistinen commented on #3806
@yakky, I see this is tagged for component: configuration, but also for 3.0.10. It isn't entirely clear what changes should be made to the CMS for 3.0.10 here.... is this a documentation issue?

[2015-02-11 12:54] yakky commented on #3843
Technically speaking #3768 is a new feature, so I'd need to rework it as a patch (which means keeping 99% of the code and just removing the templatetag declaration)
I'd vote to merge it as is (but it requires docs, that I'll write shortly) given the negligible impact of the "feature" part, but I'm open to both solutions

[2015-02-11 13:04] yakky commented on #3806
@dossan is the virtualenv a Python3 one?  aldryn-blog is not python 3 compatible AFAIK
@mkoistinen error on my side: probably a tick too much

[2015-02-11 13:40] #3691 closed

[2015-02-11 13:52] BertrandBordage commented on #3798
@yakky I tested, it works :)
@GabLeRoux you can easily test using `pip install https://github.com/yakky/django-cms/archive/feature/remove_fr_fr.zip`

[2015-02-11 14:16] yakky commented on #3798
Great!

[2015-02-11 15:23] GabLeRoux commented on #3798
It seems like it is partially working, see screenshot

![django-translate](https://cloud.githubusercontent.com/assets/1264761/6149617/f2d37676-b1d7-11e4-9b13-093b8e8faa77.png)

[2015-02-11 15:48] BertrandBordage commented on #3798
@GabLeRoux I don’t have the same problem. Did you fully restart your dev server? New locales are not taken into account if you don’t stop then restart it. Is your locale `fr` or `fr_FR`?

[2015-02-11 15:55] GabLeRoux commented on #3798
Oh indeed, did not restart server. I'll do that tonight ;)

[2015-02-11 15:55] #3798 closed

[2015-02-11 16:09] mkoistinen commented on #3843
@ojii, do you have an opinion on @yakky's comment above?

[2015-02-11 16:11] mkoistinen commented on #3816
Thanks for the PR, @yakky.

[2015-02-11 16:11] #3816 closed

[2015-02-11 16:21] evildmp commented on #3852
I am not sure what was happening. Something in the templating mechanism was expecting a string, but received a variable.

When I looked later the error had gone: what was different?

[2015-02-11 16:23] johnraz commented on #3852
I wonder what ends up in `modeTemplate` too

[2015-02-11 16:29] mkoistinen commented on #3659
Since I've just merged #3755, can we close this issue? Not clear from this thread.

[2015-02-11 16:35] carina21 commented on #3852
Because I added a few code to avoid this exception to continue my work with django-cms
Yes, It ends up in ```modeTemplate``` and this is a type of ```django.template.base.FilterExpression```, but I don't know what that type is...

[2015-02-11 16:40] jsma commented on #3659
This can be closed, it appears to have been accidentally fixed in an unrelated change.

[2015-02-11 16:40] #3659 closed

[2015-02-11 17:04] johnraz commented on #3852
This line is at fault somehow:

[code]
Try to put a static string there and it should work, the filters are probably returning a proxy object or something alike.

I recommend you build this string in your view and pass it in the context for the template to use.

[2015-02-11 17:53] yakky commented on #3784
@jsma It took a while to find out the answer for the text plugin: the order is not relevant anymore.
It used to be relevant prior 3.0 for the plugin to be able to use its own templates instead of the CMS one (because it shares the template structure with the text plugin that used to be shipped with django CMS < 3).
Order **should** not be relevant anymore, but actually I find that Django 1.7 migra

[2015-02-11 18:02] jsma commented on #3784
If the documented best practice then is to put all plugins *after* `cms`, and if using a custom user model to put that *before* `cms`, I think that at least resolves the issue I mentioned on the mailing list. I'll open a ticket to clarify the docs on the text plugin side of things.

[2015-02-11 22:36] mkoistinen commented on #3630
Completely able to reproduce. Now looking for the issue...

[2015-02-11 22:51] mkoistinen commented on #3630
@mishbahr OK, this will be fixed in an upcoming release: 3.0.10, which should be soon.

It was probably the easiest fix ever. You can use this functionality now––if you only have one item to display––by returning the PluginMenuItem directly, and not a list.

I think you're the first person to ever use this poorly documented (I'm improving this now!) and under tested feature.

[2015-02-11 22:51] #3630 closed

[2015-02-11 22:55] GabLeRoux commented on #3798
I confirm that after restarting the server, this works just fine, thanks alot, you guys are the best :)

[2015-02-12 11:02] carina21 commented on #3852
Hello,
the modeTemplate-Variable includes only the string of the template name that sould be included in the next row:
[code]
In django 1.7 you can only import strings or buffer or a variable with a render() method ->
![bildschirmfoto vom 2015-02-12 11 57 53](https://cloud.githubusercontent.com/assets/5031128/6166269/0a5808fc-b2af-11e4-979e-d23d737a8a3b.png)

[2015-02-12 13:40] evildmp commented on #3847
Looking at this right now. @Moini, can you just clarify for me precisely what confused you so I can address it? Ping me on IRC if you prefer.

[2015-02-12 13:53] Moini commented on #3847
evildmp, I wasn't confused - I just didn't know I had to change two settings - and it would have helped me if the part I found would have referenced the part I also needed.

So, if this part of the page:
http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#cms-languages
would have had a link to this one
http://django-cms.readthedocs.org/en/support-3.0.x/reference/configu

[2015-02-12 14:13] mishbahr commented on #3630
Thanks @mkoistinen.

[2015-02-12 16:20] steffenmllr commented on #3811
I ran into the same issue. Any idea what's causing this and how I can prevent this from happening?

[2015-02-12 17:33] mkoistinen commented on #3843
@yakky @ojii: What's the way forward on this guys?

[2015-02-12 18:11] yakky commented on #3843
To me we can just merge #3768

[2015-02-12 18:28] ojii commented on #3843
If I read #3768 correctly, it doesn't actually fix this issue. It adds the ability to fix this issue. So after 3768 this still needs to be tested and fixed

[2015-02-12 19:06] yakky commented on #3843
Sorry, writing on the go and cannot clarify myself: I meant "to me we can merge #3768 as is and then write the fix on top of it instead of extracting the code needed to fix this and not merge #3768"
Anyway, I have the fix for this on top of #3768 ready

[2015-02-12 20:01] ojii commented on #3843
Okay that sounds like a reasonable way to do it.

[2015-02-12 20:03] yakky commented on #3843
If we don't want to **add** things in 3.0.10 we can leave the new templatetag undocumented and document it in 3.1

[2015-02-12 20:05] ojii commented on #3843
can we really not have a clean patch for 3.0.10?

[2015-02-12 20:07] yakky commented on #3843
Yeah, sure.
We can just leave the templatetag out

[2015-02-12 20:08] ojii commented on #3843
I'd really appreciate that. Sorry for always being the annoying guy being pedantic about these things but I do believe they're important.

[2015-02-12 20:10] yakky commented on #3843
@ojii I tend to agree with you, but actually I consider the new templatetag a bug fix, as the current API is missing a piece

[2015-02-12 20:11] Moini commented on #3847
Thank you!

[2015-02-13 03:10] yakky commented on #3667
@darbula this should have been fixed.
Tests performed with a non-super user with all django permissions but editing rights on one page only over the tree.
If the user go to a page with no editing rights it's forced in content mode and the spacebar is disabled.
If the user open the page which she has permission on, spacebar is enabled and structure/content selector is enabled.

[2015-02-13 11:12] pawelmarkowski commented on #3813
in admin panel I am receiving correct url. In breadcrumbs url is correct but when you switch to page edition you are seeing message. This site do not have preview. Redirection /LANG-PREFIX/url...

URL generated by solid i18n is correct but probably one of cms middlewares / redirect functions is changing the url .... adding language prefix ...

[2015-02-13 11:44] evildmp commented on #3847
Fixed!

[2015-02-13 11:44] #3847 closed

[2015-02-13 12:09] mkoistinen commented on #3843
So, can I merge #3862 and close this issue? Or do I need to do some cherry-picking or what?

[2015-02-13 12:11] yakky commented on #3843
#3682 does not fix this. I'd like to have a comment on the #3862 and the I'll push a different PR with the actual fix
I'd like a review on the API change separated from the fix for this.

[2015-02-13 12:56] evildmp commented on #3821
Fixed

[2015-02-13 12:56] #3821 closed

[2015-02-13 12:59] evildmp commented on #3817
@carina21 Are you able to use page hierarchies to mitigate this, to categorise them?

[2015-02-13 13:03] evildmp commented on #3815
I think this is going to be a low priority for the project. I have marked the issue as Accepted, but in practice I think it is unlikely that the core team is going to find the time to tackle it. We are happy to receive patches for it of course though.

[2015-02-13 13:06] carina21 commented on #3817
Yes, it would be the one and only solution, but what do you exactly mean with page hierarchies?
Should I create subpages for hierarchies?

[2015-02-13 14:14] donce opened #3863 "Application testing problems with CMS_PERMISSIONS"
The problem is with current_user (from cms.utils.permissions), which is set in CurrentUserMiddleware.process_request. During application testing, it may cause problems.

Imagine test run scenario:
* First testcase creates user, logins with it, does some testing and logouts - this sets current_user to a new user but never clears it out - logout sets current_user to the same user, because request.us

[2015-02-13 14:18] yakky commented on #3863
Have you tried ``UserLoginContext``: https://github.com/divio/django-cms/blob/develop/cms/test_utils/util/context_managers.py#L81?

[2015-02-13 14:37] donce commented on #3863
@yakky - as far as I can see, it doesn't clear current_user on exit - it just calls self.testcase.client.logout(), which is what I use in my tests as well. This logout method just sets current_user to the same user which was logged in, because set_current_user is called on process_request - and request.user is still there.
After calling this function, imagine creating user model in script without

[2015-02-13 15:45] donce commented on #3863
I think it's worth adding user_logged_out signal handler, which in turn calls set_current_user(None) - what do you think? If the problem is not clear at all, I could try making a test case for the scenario described above :)

[2015-02-13 16:13] philipplaeubli commented on #3852
I think i may have the same issue with the following template code:

    <div class="mantle--part mantle--part__main">
        <div class="mantle--header">
            <div class="mantle--content">
                {% include mantle_header %}
            </div>
        </div>
        <div class="mantle--body">
            <div class="mantle--content">
                {% include mantle_body %}

[2015-02-13 16:18] yakky commented on #3863
@donce if you use SimpleTestCase data are discarded after each test function, it shouldn't result in any permanent data to be saved

[2015-02-13 16:35] donce commented on #3863
Testcases don't discard thread data - https://github.com/divio/django-cms/blob/develop/cms/utils/permissions.py#L23 , this is kept between different test functions.

[2015-02-13 18:46] mkoistinen commented on #3689
Closed by #3853. Thanks, @ojii!

[2015-02-13 18:46] #3689 closed

[2015-02-13 21:17] mkoistinen commented on #3717
I can't seem to reproduce this. Can anyone else? Also, I've inspected the code in the repo for funny symbols, etc., that might cause JS rendering issues, but, didn't find any.

[2015-02-13 21:50] peterfarrell commented on #3717
It's certainly not because of funny symbols being committed but how certain browsers are handling the line of code I indicated.  I have over 10 confirmed computers in our company that demonstrate this behavior.  My guess it has to do with multiple script tags in a single `write`.

If I roll back enough, I see it was introduced in this commit:

https://github.com/divio/django-cms/blob/06f89bf4180d3

[2015-02-13 21:50] peterfarrell commented on #3717
@mkoistinen - are you using Chrome on Linux? That is where we are seeing the major of the issues.

[2015-02-13 21:56] peterfarrell commented on #3717
I knew I've seen this before. Here is the issue...

http://stackoverflow.com/a/20737569

Using `document.write` isn't probably the best solution in this case.

[2015-02-13 23:02] mkoistinen commented on #3717
@peterfarrell Can you see if this fixes the issue?

https://github.com/mkoistinen/django-cms/tree/mkoistinen-feature/fix_3717

[2015-02-13 23:11] peterfarrell commented on #3717
@mkoistinen just this the 3.0.x version just to double check?

[2015-02-13 23:15] mkoistinen commented on #3717
Yes please. Clearly, if this works, it will be merged into both 3.0.10, and the develop branch.

[2015-02-14 10:41] johnraz commented on #3852
According to the django documentation, this should be working:
https://docs.djangoproject.com/en/1.7/ref/templates/builtins/#include
(so my previous assumption was wrong)

I have a feeling that this is not related to django-cms but more to the setup of your app that doesn't match what django 1.7 is expecting.

Unless it's proven to be due to the ```static_placeholder``` template tag, I think this

[2015-02-14 14:41] #3843 closed

[2015-02-14 14:43] mkoistinen commented on #3717
This is now fixed for 3.0.x

[2015-02-14 14:43] #3717 closed

[2015-02-14 14:44] peterfarrell commented on #3717
I haven't had a chance to confirm. I will on Monday. Did you reproduce the
issue?
On Feb 14, 2015 8:42 AM, "Martin Koistinen" <notifications@github.com>
wrote:

[2015-02-14 15:05] mkoistinen commented on #3717
I was unable to reproduce the issue, but it is clear that this issue was introduced here: https://github.com/divio/django-cms/commit/182f17fb96b97c61fd82c16b5caa1c6e495ee10b

@jrief any comment?

[2015-02-14 17:11] #3108 closed

[2015-02-14 22:34] mkoistinen opened #3873 "Templatetag: "render_model_add" should allow you to wrap any arbitrary content"
Currently, {% render_model_add %} is sorta limited to presenting an icon, which, to be fair you can replace and re-position with CSS. I think it would be tremendously more useful if it could be used to wrap any arbitrary content. This would provide the developer a lot more options in creating frontend interfaces that are more in-keeping with the style and format of the site they are building.

[2015-02-14 23:10] helderco opened #3874 "Templatetag "render_model_add" requires a model instance"
Allow to use ``render_model_add`` by passing a class as argument instead of  an instance

[2015-02-16 21:12] peterfarrell commented on #3717
@mkoistinen ... I have tried your fix and I have been unable to repro the issue any more. I believe it has fixed the issue. Thank you for merging.

Do you know when this will hit PIP?  Our company policy is to use only stable packages from PIP if possible.

[2015-02-16 21:38] ychouinard opened #3877 "set_language_changer not documented"
I noticed that set_language_changer is no longer in the documentation. We are still using it in most of our projects and the doc from older version still applies (http://docs.django-cms.org/en/2.3.3/advanced/i18n.html#language-chooser).

Is there something that replaced it or is it just missing from the doc?

[2015-02-16 22:03] mkoistinen commented on #3717
django CMS 3.0.10 was released formally on Saturday, 14th of February, 2015. =) It included this fix.

[2015-02-17 03:27] mkoistinen commented on #3877
@yakky I see this issue is closed, but there's a reference to what appears to be a completely unrelated PR. Am I missing something?

[2015-02-17 13:09] yakky commented on #3877
Yep, sorry: the linked PR is totally unrelated, I just wrote the wrong ID there. Fixed in the PR, but still wrong link here.

[2015-02-17 14:23] Arne-Pfeilsticker opened #3878 "Some cms tags are not recognised by PyCharm"
Some cms tags are not recognized by PyCharm, because during the registration no explicit name has been assigned.

Example cms v3.0.10: cms_tag.py line 535: register.tag (PageAttribute)

If the following line is added everything is OK:
register.tag ("page_attribute", PageAttribute)

Why some tags are registered twice? One with and one without a name.

[2015-02-18 14:07] pevar opened #3880 "Placeholder "Empty all" remove plugins in all the languages"
The "Empty all" functionality in the "Draft | Structure" view, removes the plugins from the placeholder for all the localized versions of the page, while the "Delete Confirm Panel" message is only listing the plugins for the page in the current languages.

In depth:
Here https://github.com/divio/django-cms/blob/master/cms/admin/placeholderadmin.py#L542 you collect the plugins for the "Delete Confi

[2015-02-18 23:57] mkoistinen opened #3882 "Tutorial documentation should include the property "cache=False""
The plugin tutorial located here: http://django-cms.readthedocs.org/en/latest/how_to/custom_plugins.html provides example code for displaying the current, logged-in user. Unfortunately, this is cached and displays incorrect output.

Fortunately, it provides a good example of the `cache` property!

[2015-02-19 00:14] mkoistinen commented on #3878
Hi @Arne-Pfeilsticker! I suppose this would be nice to have since a number of us use PyCharm. However, as you can imagine, our goals isn't necessary to cater to one IDE or another. Having said this, if the capability is there in PyCharm, and we can exploit it, why not? It should make a great first PR to the project for someone. Are you interested in tackling this?

[2015-02-19 08:16] jmelett commented on #3274
@yakky We just experienced the same issue again, coming from
https://github.com/divio/django-cms/blame/develop/cms/models/pagemodel.py#L716

What kind of info would help?

[2015-02-19 12:39] jedie opened #3884 "Reverse for 'pages-details-by-slug' with arguments '()' and keyword arguments '{'slug': ''}' not found."
I made a simple local test. Pages looks like this:

![snapshot1](https://cloud.githubusercontent.com/assets/71315/6266569/8f9a68fc-b83b-11e4-94b0-f5b3e2fba937.PNG)

I request **/de/blog/** and get the error:
[code]

The **blog** page looks like this:
----
![snapshot2](https://cloud.githubusercontent.com/assets/71315/6266641/5779ebcc-b83c-11e4-9e2a-14f884e79a6d.PNG)
----
![snapshot3](https://cloud.

[2015-02-19 14:28] Moini commented on #2259
Hi - is there anything we can do to help? We'd also be very interesting in getting this to work.

[2015-02-19 15:06] 747project commented on #3815
Thank you @evildmp for considering this. A pull request has been submitted, which fixes this issue, as well as #3814.

[2015-02-19 16:49] yakky commented on #2259
Per-language editing permission should be feasible, even if it will require a lot of low-level checks as we cannot really leverage django built-in checks to do this.
Needed steps are:
- add language permission to ``cms.models.AbstractPagePermission``
- implement checks in the toolbar to show / hide live / draft mode according to the language and permission
- implement the checks in cms.admin.PageA

[2015-02-19 17:57] Moini commented on #2259
Silly question: what would have to happen to the history? Would it have to be deactivated for translators because of permission conflicts then?
Or can it be separated on a per-language basis, so translators can only revert changes to their own language? Or wouldn't that make any sense at all?

Currently, it's mixed-language, and doesn't show which language version was edited, which causes problems

[2015-02-19 22:07] mkoistinen commented on #3884
The template tag is attempting to find a page with the slug "" (empty). This is causing your error. It is not clear how you managed to publish a page in "en" without a name or slug. Can you tell us how that happened? Regardless, the solution would be to add a name/slug to the "en" version of your page.

Also, which version of the CMS is this? You can quickly get this by hovering with your mouse ov

[2015-02-19 23:35] timgraham opened #3885 "Usage of deprecated mimetype parameter crashes Django 1.7+ (again)"
The fix for #3722 was incomplete. On the `support/3.0.x` branch, `mimetype` should be `content_type` for Django 1.5+. On `develop` where we don't need support for Django 1.4/1.5, we don't need conditional logic at all. The `SettingsAdmin.session_store()` method still only uses `mimetype`.
[code]

[2015-02-20 07:43] jedie commented on #3884
It's CMS v3.0.9

I'm trying to reproduce. But without success...

[2015-02-20 07:43] #3884 closed

[2015-02-20 11:28] Arne-Pfeilsticker commented on #3878
Hi Martin,
sure.

After I reported the bug, I've noticed that other template tags in other files are registered without a name parameter, too.

That's why I opened a issue with JetBrains so PyCharm will be changed. I hope so.  https://youtrack.jetbrains.com/issue/PY-15105 <https://youtrack.jetbrains.com/issue/PY-15105>

What I do not understand is why some registrations are made twice. One with an

[2015-02-20 20:15] mkoistinen commented on #3878
Arne,

The reason why some are registered multiple times, for example here: https://github.com/divio/django-cms/blob/develop/cms/templatetags/cms_tags.py#L625-L626, is because sometimes, we register the tag a second time with a different name. There are different reasons for why we do this; deprecation period of the old name is common, but it could also be that the tag acts differently depending o

[2015-02-20 20:25] mkoistinen commented on #3877
Anyway, the current docs DOES have this documented here: https://django-cms.readthedocs.org/en/support-3.0.x/reference/templatetags.html#language-chooser

So, I'm closing this Issue.

[2015-02-20 20:25] #3877 closed

[2015-02-20 20:28] mkoistinen commented on #3874
I would like to see this too!

@yakky, did I hear you mention the other day that you're working on this?

[2015-02-20 20:50] mkoistinen commented on #3852
@carina21 Did you resolve this yet?

From looking at your report, it first looks like an issue with the template tags in Django itself. However, after copying your massive code block into a text editor, and looking at your lines 112 and 114, it looks like you are indeed attempting to work with a compiled template. Is this true?

I would recommend that you distal all of this down to the smallest po

[2015-02-20 20:50] #3852 closed

[2015-02-20 20:54] yakky commented on #3874
@mkoistinen right: during the weekend I'll post a PR and will take care of this

[2015-02-20 20:55] mkoistinen commented on #3851
@carina21, in all of the evidence you've provided above, this appears to be either an issue with your own code or an issue with Django itself. I see nothing that suggests this is a django CMS issue. If you feel differently, please provide some evidence suggesting that django CMS is involved, and open a new issue.

[2015-02-20 20:55] #3851 closed

[2015-02-20 21:03] mkoistinen commented on #3604
This should have gone into 3.0.10!

[2015-02-20 21:04] mkoistinen commented on #3667
@yakky, in which release/build/branch/commit should this be fixed?

[2015-02-20 21:05] yakky commented on #2259
Reversion format must  be also changed in this case, data is saved per language anyway (page, title and plugins are different records, eventually sharing the same revision_id)
But eventually changing the serialisation format is not a big deal, as one of the next big goals would be to refactor the current implementation of the reversion code and I don't think that dropping old history is a real iss

[2015-02-20 21:06] yakky commented on #3667
This has been released in 3.0.10,
@darbula could you confirm this is fixed in 3.0.10?

[2015-02-20 21:11] mkoistinen commented on #3806
Still not clear to me what is actionable on the django-cms side. Can someone make this clear?

[2015-02-20 21:15] mkoistinen commented on #3699
Actually, this is already in the docs since v3.0.3: https://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#custom-user-requirements

Closing.

[2015-02-20 21:15] #3699 closed

[2015-02-20 21:20] mkoistinen commented on #3606
@NazmulHaque, not sure if this will help, but, notice the comments in your INSTALLED_APPS above:

`djangocms_admin_style` **must** be installed before `django.contrib.admin`
`djangocms_text_ckeditor` **must** be installed before `cms`

Also, considering we haven't heard back from you in nearly 2 months, I'm closing this ticket. If you can provide the required info, please open a new ticket.

[2015-02-20 21:20] #3606 closed

[2015-02-20 21:25] mkoistinen commented on #3644
@LeGast00n is this still an issue for you in recent builds? Like, for example, 3.0.10? Please advise.

[2015-02-20 21:28] mkoistinen commented on #1198
I see that @digi604 says this is for 3.1, yet @yakky has been marking it for 3.0.x. Has this actually been addressed already and forgot to mark this as closed, or did we just overlook it for the 3.0.7 release? (Also tagging @ojii here).

[2015-02-20 21:31] mkoistinen commented on #3425
@casio, can you try this in 3.0.10 and let us know if this is still an issue? I know some changes have been committed in this general area, it'd be good to know if this is still something that we should address.

[2015-02-20 21:31] yakky commented on #1198
It's been marked as 3.0.x sooo long ago but actually forgotten.
Let's push this post 3.1, if nobody feels compelled to work on it for 3.1

[2015-02-20 21:51] mkoistinen commented on #3585
@marksweb interesting issue. I think we need to perform some troubleshooting for this one at your end. Looks like you're caching stuff for 15 minutes, it may be possible that you posted this issue during that period, and as you point out above, it could have been that the value just plain didn't exist when it was cached. Does this issue still exist?

While there may indeed be some form of issue, I

[2015-02-20 22:30] marksweb commented on #3585
Thanks @mkoistinen I'll take a look at it when I get chance next week. I've changed things somewhat since I posted this, removed the majority of template caching, improved my instance caching & added this feature to my menus.

I've just updated my sites to 3.0.10 so I'll take another look at this - currently I've still got hard coded colours in the template for the django shop pages I believe.
And

[2015-02-20 22:30] mkoistinen commented on #3125
Closing due to lack of activity. If you are affected by this issue and are confident that you have followed the migration instructions here: http://django-cms.readthedocs.org/en/latest/upgrade/3.0.html#upgrading-from-2-4, please open a new issue with details.

[2015-02-20 22:30] #3125 closed

[2015-02-20 22:37] mkoistinen commented on #3379
This appears to be an issue relating to mis-configuration. It is important that the developer is consistent in their use of language codes. Even if copy-pasting code from another (my) repo, settings should be adjusted to be consistent with your project.

Based on this issue's age: greater than 4 months without activity, I am closing this issue. If you feel like there is a genuine issue with django

[2015-02-20 22:37] #3379 closed

[2015-02-20 22:38] mkoistinen commented on #3414
Permissions are not my forte, any takers?

[2015-02-20 22:41] mkoistinen commented on #3028
@intgr Is this still an issue for you in recent builds (3.0.10, in particular)? Perhaps this was satisfied already with some commit for 3.0.6 but we forget to close this issue?

[2015-02-20 23:47] mkoistinen commented on #3110
The cms requires that {% cms_toolbar %} is installed on all pages in order to work correctly. So, I'm not really sure we support cases where a page "opts not to use" it. Having said this, patches are most certainly welcome, if you have a use-case that could benefit from this.

Closing in the meantime, please do open a PR if you so desire.

[2015-02-20 23:47] #3110 closed

[2015-02-21 00:21] mkoistinen commented on #3604
Actually, this was already fixed in 3.0.8. Closing.

[2015-02-21 00:21] #3604 closed

[2015-02-21 00:24] darbula commented on #3667
Unfortunately, I'm not able to check until next week, sorry.

[2015-02-21 00:29] mkoistinen commented on #3818
This was closed in 3.0.10.

[2015-02-21 00:29] #3818 closed

[2015-02-21 00:38] mkoistinen commented on #3116
Closing due to inactivity and relating to a condition unique to a botched upgrade. @kezabelle if you can provide a repeatable set of steps to reproduce, please open a new issue.

[2015-02-21 00:38] #3116 closed

[2015-02-21 00:43] mkoistinen commented on #3380
This was actually already reported in #3088. However, this was closed due to non-reproducibility. I'm going to close this issue too. But will keep an eye on it. I think this has been fixed in more recent builds.

[2015-02-21 00:43] #3380 closed

[2015-02-21 00:47] mkoistinen commented on #3423
@marksweb Can you let us know if this is happening still in a reproducible way? And, can you check to see if this exists in 3.0.10? I'd like to get this fixed in 3.0.11, if it is still an issue.

In addition to the hints suggested above, it is possible that the apphook has multiple views (list view, detail view) and that you saw the buttons on one of these views, but not the other? If this is poss

[2015-02-21 00:49] mkoistinen commented on #3813
Does anyone have a reference to what solid_i18_patterns is? I did a google search and all results lead back to here.

[2015-02-21 07:15] yakky commented on #3813
@mkoistinen i thin it refers to https://github.com/st4lk/django-solid-i18n-urls

[2015-02-21 07:42] #3845 closed

[2015-02-21 08:22] LeGast00n commented on #3644
Hi there,

I haven’t looked into it any further since my post. I’ll update to 3.0.10 and give it a try.

bests
LA

[2015-02-21 08:27] yakky commented on #3882
Fixed in #3883

[2015-02-21 08:27] #3882 closed

[2015-02-21 08:30] yakky commented on #3788
Fixed in #3872 by merging back support/3.0.x

[2015-02-21 08:30] #3788 closed

[2015-02-21 08:39] yakky commented on #3873
Fixed by #3875

[2015-02-21 08:39] #3873 closed

[2015-02-21 10:53] marksweb commented on #3423
@mkoistinen I need to keep track of my open issues! I think this was my misunderstanding, because I expected the buttons to almost always appear but I think I happened to be on a template in an apphook that didn't have any placeholders so that's why they weren't appearing.

However on this note, I'm fairly sure the buttons are still 'inverted', because clicking 'content' gives you the structure vi

[2015-02-21 10:56] marksweb commented on #3182
I'll close this as it's not been an issue for some time. If it occurs again and I can provide more info, I'll reopen.

[2015-02-21 10:56] #3182 closed

[2015-02-21 13:49] yakky commented on #3182
@marksweb thanks!

[2015-02-21 14:15] pawelmarkowski commented on #3813
@mkoistinen: @yakky is right, this tool isquite simple and removing default language code from URL. I think URL's are quite problematic in django cms. It is a good idea to in the same step remove problem with:
1. if you change url of existing page you will receive 404 error - becouse system will not redirect you to the new address but stay at the same page (which was pernamently moved)
2. same lik

[2015-02-21 14:52] yakky commented on #3874
@mkoistinen @helderco the linked PR should tackle the issue.
Setting ``instance.pk = 0`` looks a little hackish, but it's ok since the instance it's never really touched

[2015-02-21 15:37] mkoistinen commented on #1198
+1

[2015-02-21 17:29] yakky commented on #3885
Fixed in #3887

[2015-02-21 17:29] #3885 closed

[2015-02-21 17:30] yakky commented on #3806
@mkoistinen agree. Closing this as it's not really related to django CMS
@dossan reopen on aldryn-blog if this happens on python 2 environment

[2015-02-21 17:30] #3806 closed

[2015-02-21 17:41] yakky commented on #3039
This is actually the same as #3347

[2015-02-21 18:23] yakky opened #3889 "Document redirection API"
Redirection after editing object in the frontend requires action by the developer.
Currently documentation is kind of scattered around, and we need to fix this by providing a clear an unified documentation on how to properly implement this.

Key topics:
* implement ``toolbar.watch_models`` attribute to declare supported models
* implement ``object.get_public_url()``, ``object.get_draft_url()`` to

[2015-02-21 20:30] mkoistinen commented on #3039
Agreed that #3347 is a duplicate of this issue.

[2015-02-21 21:55] jedie opened #3890 "Bug in cms/utils/django_load.py if app is broken..."
I start a new django app and add it into INSTALLED_APPS and run the server.

But I forgot to add a ```__init__.py``` so the app is not a package and broken.

This will result in a error in ```cms/utils/django_load.py```:
[code]

I use cms 3.0.10

Because my app is broken, this maybe out of scope?!?

Feel free to just close this issues ;)

[2015-02-22 01:30] yakky commented on #3890
If app is broken, exiting as early as possible is plus, not a bug :)

[2015-02-22 01:30] #3890 closed

[2015-02-22 07:42] rmuslimov commented on #3423
I met same issue after migration 2.4.3, standard pages with placeholder and I have never seen "Structure/Content" button.  So, we cant add new pages to site.

[2015-02-22 08:26] yakky opened #3891 "db_table error in Django 1.7 on sqlite"
sqlite backend in Dajngo 1.7 implements some migrations by applying them to a temporary model with a patched db_table name and then renaming the new table (https://github.com/django/django/blob/stable/1.7.x/django/db/backends/sqlite3/schema.py#L124-L154)
``PlacheolderField`` defines a ``contribute_to_class`` method (https://github.com/divio/django-cms/blob/develop/cms/models/fields.py#L70-L78) wit

[2015-02-22 08:27] yakky commented on #3891
@mkoistinen @ojii would you recheck my findings here?
@timgraham could you review here and check if this makes sense?

[2015-02-22 13:13] timgraham commented on #3891
Unfortunately, it's difficult for me to tell what is going on from a quick glance at that code.

[2015-02-22 15:31] yakky commented on #3891
Ok, nevermind, I found a proper fix for this: default model for an extended ``ForeignKey`` should be provided as string, otherwise the fake model from migration is passed

[2015-02-22 17:06] yakky commented on #3891
Test case an fix pushed

[2015-02-22 17:45] yakky opened #3895 "Document redirection behavior"
A proper documentation for redirection when in frontend mode must be written.

Currently the behavior is the following:
- after creating or editing a new page or a model with toolbar which implements ``Toolbar.watch_models`` (see #3889) the frontend is redirected to the instance absolute URL
- after deleting the object, frontend is redirected to the home page (a better behavior would be to redirec

[2015-02-22 17:56] yakky commented on #3767
@Moini @sveetch could you check on 3.0.10? I can't reproduce this

[2015-02-22 18:01] yakky commented on #3775
Can't reproduce this. Looks like a caching issue

[2015-02-22 18:03] yakky commented on #3874
@helderco does #3888 fixes the issue for you?

[2015-02-22 18:04] yakky commented on #3701
This is not going to happen in 3.1, but definitely a much-needed improvements for django CMS

[2015-02-22 18:05] yakky commented on #3675
@evildmp is this still relevant?

[2015-02-22 18:06] yakky commented on #3662
Postponed after 3.1

[2015-02-22 18:06] yakky commented on #3655
@jsma this should be solved by #3894

[2015-02-22 18:17] helderco commented on #3874
Hey @yakky thanks!

It fixes my original idea, but this issue is actually about something else. It's about having the form pre-populated with some values by instantiating an object with those values and using it in `render_model_add`.

[2015-02-22 18:21] yakky commented on #3602
Now that the pulk-publishing has been moved to the API it should be easier to get this into some sort of UI

[2015-02-22 18:22] yakky commented on #3279
We have a proper command to publish all unpublished pages.
Closing this and leaving #3602 to track possible addition of a button in the UI

[2015-02-22 18:22] #3279 closed

[2015-02-22 18:23] yakky commented on #3602
Moving this post 3.1

[2015-02-22 18:23] yakky commented on #3561
@FinalAngel do you think we can handle this for 3.1?

[2015-02-22 18:24] yakky commented on #3548
@evildmp @ojii @mkoistinen further opinion on this?
I don't think we could handle this in 3.1

[2015-02-22 18:27] yakky commented on #3874
@helderco sorry, I read the original text and missed the update.
Postponing this after 3.1, then

[2015-02-22 18:27] helderco commented on #3874
@yakky, I thought no one would want to refactor to use the class name because you can simply create a new empty object in the view, that's why I updated this issue to mean a different situation.

Since you've done it, I want to re-edit this issue to be what it was and create a new one with what this has now, but I don't have my original description.

Have you got some sort of a notification when t

[2015-02-22 18:29] yakky commented on #3874
@helderco ok, I'll edit the description  with the oriiginal idea

[2015-02-22 18:30] helderco opened #3897 "Templatetag "render_model_add" using properties from instance"
It would be cool to be able to create a new instance with some default property values in order to have these pre-filled in the popup dialog in the frontend.

[code]

What do you guys think?

[2015-02-22 18:30] yakky commented on #3874
@helderco actually it makes sense to leave this as is as a proposed enhancement, and just let the PR fix the original idea

[2015-02-22 18:32] helderco commented on #3874
Hmm... I just created a new issue. What do you want to do? Remove the one I just created or restore this one?

[2015-02-22 18:32] yakky commented on #3285
could you check in latest 3.0.10 release if it's still the case?

[2015-02-22 18:36] yakky commented on #3874
@helderco race condition! :D no worries, I'll restore this to its original content and will close with the above PR

[2015-02-22 18:37] yakky commented on #3347
@FinalAngel do you think it's solvable / doable in some way?
For the record, this is due to https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.structureboard.js#L242 which hijacks the click to handle plugin editing

[2015-02-22 18:38] yakky commented on #3376
@o-zander closing this as switch to treebeard makes the tre much more robust.
Please reopen if you encounter any similar issue with treebeard

[2015-02-22 18:38] #3376 closed

[2015-02-22 18:41] yakky commented on #3447
Would you recheck this for 3.0.10?

[2015-02-22 18:45] yakky commented on #3423
@rmuslimov could you provide more information?
I can't replicate this
Have you followed the upgrade guide (http://django-cms.readthedocs.org/en/support-3.0.x/upgrade/3.0.html#upgrading-from-2-4)?

[2015-02-22 18:48] yakky commented on #3811
Could you please check if this is solved in 3.0.10?

[2015-02-22 21:17] Moini commented on #3767
@yakky : these screenshots are with 3.09 still:
![bildschirmfoto - 22 02 2015 - 22 00 24](https://cloud.githubusercontent.com/assets/3240233/6320504/a6307e02-badf-11e4-8a5c-0e2d346fbe36.png)

![bildschirmfoto - 22 02 2015 - 22 01 17](https://cloud.githubusercontent.com/assets/3240233/6320506/ab64732e-badf-11e4-950f-6c6eb5311d69.png)

After upgrading to 3.10, I tried the (new? didn't see it in 3.09

[2015-02-22 21:31] yakky commented on #3767
Could you try running ``manage.py cms fix-mptt``?
The three insert function and copy/paste works and no change related to these functions is in 3.0.10.
My guess is that the mptt tree is has some errors which causes the insert / copy to fail.
You can debug this by opening the inspector and looking at the messages returned by the ajax calls

[2015-02-22 21:52] Moini commented on #3767
@yakky , the fix-mptt command returns an error, in one of our own functions which is part of the cms-diff functionality. I don't know enough to give qualified info about that :( .
I'll ask doctormo if he can help here.

[2015-02-23 00:20] rmuslimov commented on #3423
@yakky Ok, I think I found solution in  my case. I have base.html in project, and cmsbase.html which extends from base.html and works for CMS pages.

cmsbase.html has:

[code]

where cms_bar.html is:

[code]

That was the way which I've chosen to step-side this:

So, now I put {% cms_toolbar %} to base.html and it works correct, but I don't know how to disable it for non-CMS pages. Thanks!

[2015-02-23 08:08] jedie commented on #3654
:+1: run into the same problem.

(Fix is https://github.com/divio/django-cms/pull/3894 isn't it?)

[2015-02-23 08:28] jedie opened #3898 "API request: add get_or_create(), too."
IMHO it would be helpful to have **get_or_create_page()**, **get_or_create_title()** etc beside the existing **create_page()**, **create_title()**...

[2015-02-23 08:47] yakky commented on #3654
@jedie yes
It will be forward ported by merging 3.0.x into develop

[2015-02-23 13:07] mkoistinen commented on #3891
lgtm... and awesome!

[2015-02-23 13:09] yakky commented on #3891
Fixed by #3892

[2015-02-23 13:09] #3891 closed

[2015-02-23 13:15] mkoistinen commented on #3874
Can't we apply this to 3.0.x? I mean, this is how it was supposed to work anyway.

[2015-02-23 13:21] mkoistinen commented on #3548
I have no further opinion, the way you outlined it above is the correct way this should be done, IMO.

[2015-02-23 14:40] Moini commented on #3767
After commenting out our own cms-modifying apps from the settings.py, I was able to run fix-mptt without errors.
I still can't copy pages.
On the terminal, what I see after clicking on one of the arrows is:
[23/Feb/2015 14:33:45] "POST /en/admin/cms/page/333/dialog/copy/ HTTP/1.1" 200 0

In the debugger in FF, I get this:
![bildschirmfoto - 23 02 2015 - 15 35 07](https://cloud.githubusercontent.co

[2015-02-23 22:32] yakky commented on #3874
Fixed in #3899

[2015-02-23 22:32] #3874 closed

[2015-02-24 06:36] yakky commented on #3782
Closed by #3785

[2015-02-24 06:36] #3782 closed

[2015-02-24 06:37] yakky commented on #3776
I like the proposal!

[2015-02-24 06:38] yakky commented on #3775
@jsma did you managed to reprodroduce this?

[2015-02-24 06:40] jsma commented on #3775
Haven't had a chance to look at it, will try to soon (traveling atm).

[2015-02-24 06:47] yakky commented on #3207
@ar4s is this still valid in latest 3.0.10?

[2015-02-24 06:49] yakky commented on #3174
@o-zander could you check if this is still the case in latest 3.0.10?

[2015-02-24 07:14] yakky commented on #3207
@mkoistinen easily reproducible. I think this should fit into 3.0.11

[2015-02-24 20:42] pawelmarkowski opened #3902 "Unclear/wrong breadcrumbs"
You have 4 sites in cascaded structure
page A
+page B
++page C
+++page D

link at page D looks like example.com/a/b/c/d/
breadcrumbs a >> b >> c >> d
you do not want to show pages C and D in menu but all pages are published.

Links still looks like in an example example.com/a/b/c/d/
but breadcrumbs are wrong (do not show a structure)
breadcrumbs a >> b >> d if you are on a page d
and breadcrumbs a

[2015-02-24 21:40] Hamms commented on #3572
I am also encountering this issue with Django 1.7 and Django-cms 3.0.9

[2015-02-24 21:44] yakky commented on #3572
What's the resulting code of the migration?

[2015-02-24 21:45] Hamms commented on #3572
[code]

[2015-02-24 22:01] yakky commented on #3572
Tried on a fresh project started with nephila/djangocms-installer and can't reproduce this on 3.0.10.
Django 1.7 is quite sensitive and errs on the safe side generating migration with no real changes.
Possibly some third-party application that for some reason triggers django db migration into thinking a database schema change has occurred

[2015-02-24 23:10] Hamms commented on #3572
The project I'm encountering this on was also created with djangocms-installer, and so far is quite simple. I believe I first encountered this error upon adding my first custom CMS plugin.

I updated my cms version to 3.0.10 and am still experiencing the error.

[2015-02-24 23:34] mkoistinen commented on #3902
That indeed sounds like a bug, thanks for reporting it, @pawelmarkowski.

[2015-02-25 06:32] yakky commented on #3551
Rescheduling for 3.0.11 as it's actually a bug fixing

[2015-02-25 10:20] rprader opened #3904 "PageField-Choices only available on first Inline"
When using the PageField() in a model which has a ForeignKey to another model, the available Page-Choices are only available on the first row in the inline-admin.

So I have for example the following models:
[code]

And defined them for admin with InlineAdmin:
[code]

With this, it's not possible to add more than one related data set, because the available pages are only listed in the first row of

[2015-02-25 11:50] intgr commented on #3028
@mkoistinen Yes, still a problem. In the 1st case I now get some cross-origin error and in the 2nd case it spins forever.

[2015-02-25 14:52] jedie opened #3905 "Doc error about"
The current doc page: http://django-cms.readthedocs.org/en/3.0.10/reference/plugins.html#change-form-template contains **admin/cms/page/plugin_change_form.html**

See also: https://github.com/divio/django-cms/search?utf8=%E2%9C%93&q=plugin_change_form.html

But this template seems to be renamed to: **admin/cms/plugin/change_form.html** isn't it?

[2015-02-25 14:56] yakky commented on #3905
@jedie not : https://github.com/divio/django-cms/blob/develop/cms/templates/admin/cms/page/plugin/change_form.html / https://github.com/divio/django-cms/blob/support/3.0.x/cms/templates/admin/cms/page/plugin/change_form.html

[2015-02-25 15:39] darbula commented on #3667
@yakky it is working as you described, thanks.

[2015-02-25 15:39] #3667 closed

[2015-02-25 18:34] Hinnack opened #3906 "page_attribute does not return its content safe"
{% page_attribute "page_title" %} returns its content not safe. So I can not use HTML in it like adding an icon <i class="fa fa-search"></i>

this does not work, too:
{% page_attribute "page_title" as title %}{{ title|safe }}

[2015-02-26 03:23] jsma commented on #3775
There seems to be a significant difference between `sudo service apache2 reload` and `sudo service apache2 restart`. The former does not sufficiently purge the old state and leads to the error above where a proper `restart` seems to fully refresh the state of the app, no errors.

Any insights on why django-cms code would still be lingering in RAM after a `reload`? This is in a production-like envi

[2015-02-26 04:34] yakky commented on #3775
ok, this worth further investigation
It's an apache+mod_wsgi setup? If so, do you use mod_wsgi daemon mode?
Does touching the wsgi file trigger the same behavior?

[2015-02-26 21:22] yakky commented on #3906
Attributes handled by ``page_attribute`` are meant to be plain text-only, I don't think we shoul mark them as safe.

[2015-02-26 21:23] Hinnack commented on #3906
any other way to get menu items with icons then?

[2015-02-26 21:25] yakky commented on #3906
Use page/title extensions (http://django-cms.readthedocs.org/en/support-3.0.x/how_to/extending_page_title.html) which allows you to add any kind of attributes to page and titles and retrieve them in the templates by following the relation

[2015-02-26 21:54] #3906 closed

[2015-02-27 08:54] tomassommar commented on #3572
I'm experiencing the same issue on djangocms 3.0.10 running on django 1.7.4, but originating from the djangocms_blog plugin.
[code]

[2015-02-27 10:50] Hamms commented on #3572
That is a different, albeit similar, problem.

[2015-02-27 21:03] jsma commented on #3775
Yak shaving at the moment, running into additional mod_wsgi errors which is preventing me from consistently replicating. Will update once I've made progress debugging this.

[2015-02-28 10:39] yakky commented on #3904
Can't reproduce, neither on develop or on 3.0.10
Could you provide more information about the setup? Do you use any custom admin skin?

[2015-02-28 10:40] yakky commented on #3766
@samuelblattner could you please test #3894?

[2015-02-28 10:40] yakky commented on #3654
@jsma @jedie  could you please test #3894?

[2015-02-28 10:40] yakky commented on #3655
@jsma  could you please test #3894?

[2015-02-28 16:21] samuelblattner commented on #3766
@yakky Tested #3894 (#3654, #3655, #3766) successfully. The issues no longer occurred.

[2015-03-01 05:54] yakky commented on #3895
Fixed by #3894

[2015-03-01 06:41] yakky commented on #3384
Fixed in #3901

[2015-03-01 06:49] yakky commented on #3880
Fixed in #3881

[2015-03-01 06:49] #3880 closed

[2015-03-01 06:56] yakky commented on #3684
Is this still relevant?

[2015-03-01 07:03] yakky commented on #3663
@evildmp @qris @FinalAngel any progress on this?

[2015-03-01 07:29] yakky commented on #3423
@marksweb closing this as the "inverted behavior" it's a different one.
Please open a new issue if you can reproduce the "inverted behavior"

[2015-03-01 07:29] #3423 closed

[2015-03-01 07:48] yakky commented on #3767
@Moini is ``CMS_PERMISSION`` enabled in the project? If so, do you get a dialog after clicking on the arrow-down icon?

[2015-03-01 08:01] yakky commented on #3767
@Moini could you test #3908? that should re-enable copy feature when permission is disabled

[2015-03-01 08:55] pgcd opened #3909 "Allow complete deactivation of frontend editing"
Apparently, nobody really cares about this - at least I couldn't find anything about it -  but I think it's a pretty simple enhancement, so...

I would propose to add a switch somewhere - it might be a session cookie, or a User field, or a server-level boolean in settings.py, it doesn't really matter - to **completely disable** frontend editing without logging out.
The reason for this is that ther

[2015-03-01 08:59] yakky commented on #3909
@pgcd seems totally legit.
Please go ahead.
I think it would be nice to have this as an toggle in the toolbar too (probably in the site menu)

[2015-03-01 09:15] #3584 closed

[2015-03-01 12:30] yakky commented on #3767
@Moini @sveetch please test #3911 for slug conflicts resolution

[2015-03-01 14:40] Moini commented on #3767
@yakky No, we don't (yet) use CMS_PERMISSION, but we might in the future. I'll try to test the fixes tomorrow. Thank you!

[2015-03-01 15:30] sveetch commented on #3767
Just checking with 3.0.10 without to set CMS_PERMISSION (so in default value at False) and when i just try to create another page with an existing slug, i have the validation error about existing slug.

But like @Moini i can't copy pages, will try to test the pull request.

[2015-03-01 16:47] qris commented on #3663
@yakky I did propose a solution already, but for some reason we're still arguing about whether it's acceptable.

Personally I think it's rather rare that placeholders should actually move around on the page (only when you save new content/delete old content on the page) and thus updating 1-4 times per second would be plenty to cope with this, while not eating 100% CPU. Or else the position detecti

[2015-03-01 17:04] sveetch commented on #3767
@yakky Well, i tested the #3911 , validation in admin allways give me an error about existing slug when i try to use an existing one when creating a new page. Didn't test with the "copy" feature because it don't work too.

[2015-03-01 19:37] yakky commented on #3767
@sveetch that's the intended behavior: parentless and first level pages share the same url space, so you can't assign the same slug to both

[2015-03-01 20:54] yakky commented on #3663
@FinalAngel do we need to move the placeholders only when resizing the sideframe, right? Can't we just use a signal to handle this (or triggering the internal only when the sideframe is moved)?

[2015-03-01 21:00] yakky commented on #3663
@qris @FinalAngel how about 65bef2e ?

[2015-03-02 05:26] Josephpaik opened #3913 "Korean and Chinese can not be added to the title page"
As if I put some Korean letters in title. the "slug" field does not react properly.
I can't make Korean title page. even if I have added 'kr' language support when create djangocms project.

I guess that urlify.js(django\contrib\admin\static\admin\js\urlify.js) in front page and slugify( django.template.defaultfilters) for the slug field do not support 2 byte characters

I know that the uuslug's s

[2015-03-02 05:44] yakky commented on #3913
Please have a look at http://django-cms.readthedocs.org/en/support-3.0.x/reference/configuration.html#unicode-support-for-automated-slugs

[2015-03-02 05:45] #3913 closed

[2015-03-02 15:28] rprader commented on #3904
I do use a custom admin skin, namely djangocms-admin-style v0.2.5
But it doesn't make a difference if I deactivate this plugin.

Here are some other of my package-versions, I'm using:

[code]

Do you need any further information?

[2015-03-02 17:17] yakky commented on #3909
Closed by #3912

[2015-03-02 17:17] #3909 closed

[2015-03-02 17:44] yakky commented on #3904
Thanks, I've been able to reproduce this in django 1.5 (likely due to outdated jquery version)

[2015-03-02 17:52] yakky commented on #3904
@rprader could you please test if #3914 fixes the error for you?

[2015-03-02 18:22] rprader commented on #3904
Yes it does, awesome! Thanks a lot!

[2015-03-02 18:33] yakky commented on #3904
Awesome, will merge shortly and it will be shipped with 3.0.11 (due in a very short timeframe)

[2015-03-02 18:47] yakky commented on #3904
Closed by #3914

[2015-03-02 18:47] #3904 closed

[2015-03-02 21:09] Hamms commented on #3572
Is there any opposition to simply adding the `0004_auto` migration to the project?

[2015-03-02 21:22] yakky commented on #3572
I'm definitely not keen adding a migration which can't be reproduced on stock django CMS project: we need to fix the issue that triggers the new (unneeded) migration, instead

[2015-03-02 21:26] yakky commented on #3551
Fixed in #3903

[2015-03-02 21:26] #3551 closed

[2015-03-02 21:30] yakky commented on #3270
@o-zander this has been fixed in #3259, right?

[2015-03-02 21:36] jsma commented on #3572
The verbose names were changed in the migrations so they are out of sync with the models. That is why there are spurious migrations. I have a fix coming in the next few seconds but read on for background.

In 3.0.10, the 0002 migration has `verbose_name='has URL overwrite'` which was changed in https://github.com/divio/django-cms/commit/89a95b7393119fdeecff9c16f9757482fdf46e00 but the model's verb

[2015-03-02 21:45] yakky commented on #3572
@jsma thanks! I must be 1.7 migration blind: I think I checked three or four times the fields attribute without spotting the difference.

[2015-03-02 21:47] jsma commented on #3572
I've been bitten by this type of issue before, so a little extra sensitive to it ;) In fact, just had to fix some migrations on another project minutes ago.

[2015-03-02 22:01] Moini commented on #3767
@yakky: #3908 works fine :) - copying is possible again.

#3911 does not work for me - I can still insert and publish a page following the pattern in the bug report.
If I *edit* the page settings via icon in the pages overview, then I immediately get a warning that the slug is already in use. But just 'add page' -> choose name -> save -> publish still gives me the double-slugs :-(

Does #3911 depe

[2015-03-02 22:04] yakky commented on #3767
@Moini probably I misunderstood your flow

[2015-03-02 22:12] yakky commented on #3767
@Moini I cannot replicate the issue.

This is the base situation:

    * Home
         * sub-1
         * sub-2
    * Another root

1. Copy ``sub-2`` by adding as child to ``Another root`` then I copy it as ``Home`` / ``Another root`` sibling
1. Edit the new ``sub-2`` page and change the slug to ``foo``
1. Click on ``Add Page``
1. The Page changeform is presented
1. Add a random title, se the slug

[2015-03-02 22:27] yakky commented on #3112
@mkoistinen @kezabelle could you check that #3918 fixes this issue?

[2015-03-02 22:30] Moini commented on #3767
@yakky I tried to make some screenshots of where I click, and of getting no warning, but now, I get warnings.
So either I found another bug - and can't remember how to trigger it now - or I forgot to restart the server after copy-pasting your fixes. I guess it was the second option :(
Sorry about that! And thank you very much for fixing this bug!

[2015-03-02 22:31] yakky commented on #3767
@Moini could you confirm that the steps in my previous comment are correct to reproduce the original issue?
I'll merge #3911 tomorrow, so feel free to experiment more with it

[2015-03-02 23:43] Moini commented on #3767
I would have liked to replay the situation with our own current trunk, but that one is broken at the moment...

But yes, the workflow you describe is almost the same I used
(only in step 1, I only copied once, directly from sub1 to sub1-copy, but the result is the same, and does not depend on the copying, but only on the slug foo being used *inside /home* and *parallel to /home* (at the same, oute

[2015-03-03 05:19] yakky commented on #3767
The never disappearing loading label means the 'move' view returned a 500 error. Could you check the traceback? You can just open the network tab of the inspector and look at the response of the failed view. I tried moving around a few pages with no issue

[2015-03-03 05:22] yakky commented on #3572
Fixed by #3916

[2015-03-03 05:22] #3572 closed

[2015-03-03 15:33] Moini commented on #3767
Okay, the problem is again in our own modifications... which I thought I had deactivated... :(
Next time, I know where to find the traceback...
Good that I didn't open a new bug.
Thank you very much, @yakky , and sorry!

[2015-03-03 21:24] mikek opened #3921 "Conflicting static_placeholder records might be created, when not using sites framework"
`unique_together = (('code', 'site'),)` that can be found in `StaticPlaceholder` model does not work as we might intuitively expect, at least on [Postgresql](http://www.postgresql.org/docs/9.4/static/indexes-unique.html):
*When an index is declared unique, multiple table rows with equal indexed values are not allowed.
Null values are not considered equal. A multicolumn unique index will only rejec

[2015-03-04 10:09] FinalAngel commented on #3663
it needs to be set on initial loading and resizing, that is correct @yakky :)

[2015-03-04 10:10] yakky commented on #3663
@FinalAngel Does the commit looks like a sane solution?

[2015-03-04 10:11] FinalAngel commented on #3347
@yakky I don't know yet. My head spinned around on this topic as there is no correct "doubleclick" event handler. So I have to prevent the normal link click. thought about adding an overlay to the links that hides. It's really tricky where I have no answer yet.

[2015-03-04 10:12] FinalAngel commented on #3561
@yakky you can add it, I'll add it to my todos so I can check it out somewhat this month.

[2015-03-04 10:19] FinalAngel commented on #3278
It was introduced to highlight which element you are handling. There should be better options as we are refining the structure board. But currently it also helps several editors to figure out where they are.

[2015-03-04 10:22] FinalAngel commented on #3373
the problem here is, that flash is not focusable by js events without adding an additional div layer on top. Shouldn't this be handeled by the plugin itself and not the cms? It's a very edge case there.

[2015-03-04 10:33] FinalAngel commented on #3663
@yakky isn't there the window event missing when resizing?

[2015-03-04 11:11] yakky commented on #3373
This is not really an issue, but a constraint. We cannot really *fix* this

[2015-03-04 11:11] #3373 closed

[2015-03-04 11:14] yakky commented on #3561
@FinalAngel thanks

[2015-03-04 12:40] mikek commented on #3921
Third column is `code`, so you can notice we have duplicate 'feed one' codes.
[code]

[2015-03-04 15:41] satyrius opened #3922 "Cannot click on a plugin to add to a aplaceholder"
I have configured content placeholder
[code]

And there is an issue with placeholder editing frontend. Look at screenshot. There are 5 plugins in the list, but the latest is hidden under scroll hint block (but there is not scroll in that control). So user cannot click on a latest plugin in a list. If I will add more plugins the scrolls appears and I can choose a plugin, but not in this case.

![20

[2015-03-04 15:51] mkoistinen commented on #3112
Fixed by #3918.

[2015-03-04 15:51] #3112 closed

[2015-03-04 15:53] mkoistinen commented on #3767
Fixed by #3911.

[2015-03-04 15:53] #3767 closed

[2015-03-04 15:53] mkoistinen commented on #3641
Fixed by #3896.

[2015-03-04 15:53] #3641 closed

[2015-03-04 16:01] mkoistinen commented on #3905
Closing.

[2015-03-04 16:01] #3905 closed

[2015-03-04 16:02] mkoistinen commented on #3207
I am pretty sure I have reported this one myself months ago..., however, it needs more attention span that we have for 3.0.11.

[2015-03-04 16:06] mkoistinen commented on #3028
@intgr thanks. We'll investigate.

[2015-03-04 22:14] corbinfanning opened #3924 "3.0.11 Breaks cms.changelist.js"
There is a typo in cms.changelist.js that prevents Page ordering in the admin from working.
https://github.com/divio/django-cms/blob/release/3.0.11/cms/static/cms/js/modules/cms.changelist.js#L17

![screen shot 2015-03-04 at 4 13 59 pm](https://cloud.githubusercontent.com/assets/1168680/6494719/82ab52a2-c289-11e4-8a1a-d4e6f6565fdc.png)

[2015-03-05 06:59] yakky commented on #3924
Fixed in #3925

[2015-03-05 06:59] #3924 closed

[2015-03-05 10:39] tlrh314 opened #3929 "jstree behavior broken: TypeError: CMS.TreeManager is not a constructor"
Using Django 1.7.5 and django-cms 3.0.12 the django-admin page list jstree table appears to not work. The drag and drop functionality does not work, subpages are not listed, expand/collapse does not work.

The following two errors are thrown:
SyntaxError: missing ) after formal parameters cms.changelist.js:17
TypeError: CMS.TreeManager is not a constructor page:56

[2015-03-05 10:55] yakky commented on #3929
This is an error in 3.0.11. It has been fixed in 3.0.12.
Cannot reproduce in 3.0.12

[2015-03-05 10:55] #3929 closed

[2015-03-05 11:56] jrclaramunt commented on #3353
To preserve order what i did was to modify the lines you are talking about using as parent the target:

[code]

This is working for my project, but unfortunatelly i don't have any tests to support this fix.

[2015-03-05 12:11] Mirodil opened #3930 "How display plugin name without underscore in admin page"
i have created custom plugin with `admin.py` file and pulgin located under `plugin_article`. On the admin page this plugin displayed under `Plugin_Article`.

How can I change display category or category name?

[2015-03-05 13:25] evildmp commented on #3929
@tlrh314 Timo, can you confirm you really meant django-cms 3.0.12 and not django-cms 3.0.11? Thanks.

[2015-03-05 16:28] evildmp commented on #3732
What actually makes it possible to obtain the link "(global)" in the permissions display?

[2015-03-05 16:29] evildmp commented on #3732
Note correct documentation URL: http://docs.django-cms.org/en/support-3.0.x/topics/permissions.html

[2015-03-05 19:13] mkoistinen commented on #3930
Can you post a link to a screenshot of this?

[2015-03-05 19:16] mkoistinen commented on #3922
Hi, thanks for reporting this. Can you tell us which browser and OS?

[2015-03-05 19:21] mkoistinen commented on #3921
The installation docs for CMS states that the Sites framework is required and that SITE_ID must be set (https://django-cms.readthedocs.org/en/support-3.0.x/how_to/integrate.html).

This seems like it'd be easy to prevent, but running without SITE_ID set is bound to expose other issues.

So, I'm not sure if this should be "won't fix" or "easy pickins".

Comments: @yakky, @ojii?

[2015-03-05 19:33] mkoistinen opened #3931 "Documentation is rather confusing when it comes to installation"
The documentation structure has a menu-item: Tutorials, which has a sub item: "Installing django CMS from scratch". However, this tutorial then goes on to instruct someone to use the django-CMS installer to install. I don't think many of us would consider this "from scratch" anymore than making a cake from a box-mix, rather than from raw ingredients.

Also, I don't think many people would consider

[2015-03-05 20:08] #3930 closed

[2015-03-05 20:54] ojii commented on #3921
maybe it should raise an exception with unset ``SITE_ID``? At the very least should be in ``cms check``

[2015-03-05 20:57] mkoistinen commented on #3921
OK, looks like I misunderstood this issue. The issue is that its unclear what to put in the optional "site_id" parameter of the templatetag. Changed to documentation issue.

[2015-03-05 21:09] mikek commented on #3921
I should have given a bit more details: SITE_ID is set in the settings. I just do not use second (optional) argument called 'site' in the static_placeholder tag.
https://github.com/divio/django-cms/blob/8a09f92/cms/templatetags/cms_tags.py#L1112
As sites framework is required fro the CMS to function properly and having this Postgres issue... Is it possible to deprecate the extra argument and alway

[2015-03-05 21:14] ojii commented on #3921
I wouldn't deprecate it as it is there to explicitly pull a placeholder from another site. but it should probably default to ``settings.SITE_ID``.

[2015-03-05 21:15] czpython commented on #3921
just about to say that.. so I agree with @ojii. it is useful to be able to pick where the placeholder comes from.

[2015-03-05 21:37] mkoistinen commented on #3921
+1

[2015-03-05 21:52] mikek commented on #3921
Looks like we can not pass explicit site id, but just indicate wether we want to link placeholder to the *current* site by suppling extra argument called 'site' (this is not a variable with actual site id).

[2015-03-05 23:31] satyrius commented on #3922
Google Chrome 40.0.2214.115, Mac OS X

[2015-03-06 11:12] evildmp commented on #3921
That is correct - you can't pass anything in ``site``; ``site`` is simply a flag that tells the static placeholder that it belongs only to the current site, not all sites.

[2015-03-06 23:39] Josephpaik commented on #3913
I got it. and solved my problem.
Thank you very much, yakky!

[2015-03-07 08:56] shatsinn commented on #3572
Sorry, but it's still broken. I just tried a fresh install:

[code]

Python is 2.7.9

[2015-03-07 09:07] shatsinn commented on #3572
I wonder where the migrations gets 'has URL overwrite' from. Grep can only find it in the english translation (and the newly created migration file):

[code]

[2015-03-07 11:16] yakky commented on #3922
Duplicate of #3456

This has been plaguing us for a very long time. I think this can be solved only by rethinking the structure mode UI (which is on our todo list)

[2015-03-07 11:17] yakky commented on #3456
Duplicate of #3922

This has been plaguing us for a very long time. I think this can be solved only by rethinking the structure mode UI (which is on our todo list)

[2015-03-07 23:35] yakky commented on #3663
@FinalAngel window resizing is handled by the same bind has ``window.resize`` has the same type as ``window.resize.sidebar`` (where sidebar is the event namespace)

[2015-03-08 08:43] FinalAngel commented on #3663
right correct! thanks for the reminder @yakky

[2015-03-08 08:54] yakky commented on #3663
Good to merge, then :)

[2015-03-08 09:31] yakky commented on #3358
@petzlux Does this still happens in latest 3.0.12?

[2015-03-08 09:31] yakky commented on #3361
Ok, closing this

[2015-03-08 09:31] #3361 closed

[2015-03-08 09:32] yakky commented on #3320
@o-zander  Does this still happens in latest 3.0.12?

[2015-03-08 09:37] yakky commented on #3475
Postponing after 3.1 as it requires rethinking of structure mode

[2015-03-08 23:08] yakky commented on #3109
@FinalAngel is this report valid? Any real fix for this?

[2015-03-09 06:59] peterfarrell commented on #3456
Shouldn't #3922 be marked as a dup and closed since this one was filed many months before?

[2015-03-09 09:03] pawelmarkowski commented on #3902
@mkoistinen if it is feature then - why are we showing home in breadcrumbs (if it is not visible in menu)

[2015-03-09 09:16] yakky commented on #3456
I think leaving both open (even if duplicated) helps in tracking issues and allows to not miss potentially useful information

[2015-03-09 14:00] mkoistinen commented on #3902
@pawelmarkowski I tend to agree with you, but, I don't know if there are any use-cases for breadcrumbs I hadn't considered, which is why I am soliciting community input here.

[2015-03-09 14:03] lucaippo commented on #3572
For what it's worth, I can confirm the issue still persists with version 3.0.12
Link to mailing list discussion: https://groups.google.com/forum/#!topic/django-cms/OYjlmOAHGeE

[2015-03-09 14:47] timgraham commented on #3572
I think the root cause is that the English translation [doesn't match doesn't match the string used in the model](https://github.com/divio/django-cms/blob/ce075ff5c690e1f47cb17268d5ad3aa8a768a971/cms/locale/en/LC_MESSAGES/django.po#L933-L935).
[code]
`makemigrations` forces the locale to `en-us` in order to generate migrations that are consistent regardless of `settings.LANGUAGE_CODE`.

[2015-03-09 17:04] jsma commented on #3572
Ah, I couldn't reproduce this in my own test project project because I had `USE_I18N = False`. I think it's just doing a no-op on `_()` calls when fetching verbose_name strings and `USE_I18N = False` so the translation string didn't enter into the equation in my setup. At any rate, attempting to get some answers on IRC so I can get the translation strings fixed. Thanks everyone for the report and

[2015-03-09 19:21] vandorjw commented on #2608
in your project's ```settings.py``` check if you have set the ```CMS_TEMPLATES``` variable.
[code]

If you did, ensure the path to that template is correct

[2015-03-10 10:53] FinalAngel commented on #3109
well cou can built in a check if CMS is available. How did you encounter that issue @kezabelle ?

[2015-03-10 14:02] mrhanlon opened #3936 "CMSAttachMenu failing to register after 3.0.12"
I noticed that after upgrading from 3.0.10 to 3.0.12 that a CMSAttachMenu was not registering on a page. It would periodically appear and disappear. In the advanced settings sometimes I would see zero, one, or two options for the same menu. I only have one CMSAttachMenu menu defined in a single app in my project. I attempted to delete and recreate the page to no avail. I noticed in the database, i

[2015-03-11 15:23] shatsinn commented on #3572
Do you want me to open a new issue or will this be reopened? :)

[2015-03-11 23:40] jesselegg opened #3938 "Long usernames in swappable user model result in insert error for cms_page.Page"
I am using Django CMS with a swappable user model. My user model allows for long-ish usernames. When my username is greater than 70 characters, I am no longer able to save CMS pages because of the exception below. This occurs while trying to insert the long username into the `created_by` field. That field is `max_length=70`. It should probably truncate the username in cases where it exceeds this l

[2015-03-12 14:29] marksweb opened #3940 "Pages tree menu not building correctly"
The project I'm working on overwrites several django and CMS templates because we're serving static files through an extra app from S3 so certain things are loaded differently.

Running Django 1.6.5, Django CMS 3.0.12

These static files haven't been maintained for many of the recent CMS releases so I've updated them whilst trying to maintain our workarounds/fixes.

Trouble is I've just found the

[2015-03-12 17:13] yakky commented on #3938
@mkoistinen @ojii how about having a longer field and cut the username at that length to be sure that this won't happen? it's just an informative field, after all

[2015-03-12 17:16] yakky commented on #3940
I guess it's a rather hairy issue: having customised styles / templates / js makes very hard to understand what's going on
My best bet is something in the css, but it's a shot in the dark

[2015-03-12 18:15] marksweb commented on #3940
Right well that gives me something to look at. For all templates I updated I was happy I'd covered our previous fixes, but not knowing enough about how the page renders makes it tough to debug when there's no errors.

I'm not sure if there's also some new content that I need to copy to our repo to override the static method to our pipeline app. Or if I can ditch that all together & rely on adminst

[2015-03-12 18:56] samluescher opened #3942 "Nested plugins are not rendered when using fallback due to recursion in assign_plugins"
Due to the recursion, `build_plugin_tree` is called twice, which on the second pass deletes all the `child_plugin_instances` that were assigned in the first pass. The result is that only the root plugins can ever be rendered.

[2015-03-12 22:12] mkoistinen commented on #3938
+1

[2015-03-13 03:08] ojii commented on #3938
+1 set to ``255`` and truncate if too long (maybe change it to ``verylongusername...(id=11121)`` or something similar.

[2015-03-13 10:10] darbula opened #3944 "Placeholder's Empty all not intuitive"
Placeholders Empty all command seems not intuitive since it empties content for all languages.

Common usecase is:

* when placeholder content is significantly modified in language A, then
    * delete all plugins for  language B and
    * copy plugins from language A and translate.

To do this users tend to click on Empty all on placeholder for language B to find that they cannot copy plugins for

[2015-03-13 10:21] marksweb commented on #3940
@yakky I've just noticed as well that I get a Mixed content error/warning because we're running over HTTPS but when saving page settings it seems the request from CMS is then only HTTP.

Is there a setting to move all CMS requests to HTTPS?

This was the message when trying to save page permissions;

[2015-03-13 13:29] #3384 closed

[2015-03-13 16:15] mbambas opened #3945 "Scanning for placeholders fails on include tags with a variable as an argument"
I believe this is the underlying problem for issue #3852. I am opening a new one as the other thread is rather noisy. Here's a concise bit of evidence that people can hopefully work with:

[code]

Running this with Django v1.7.6 and Django CMS v3.0.12, the last line will throw an AttributeError.

I suppose these nodes will have to be ignored as there's no way to resolve the variable without a cont

[2015-03-13 17:49] avoine opened #3946 "conflict between frontend editing modal and bootstrap slider"
with:
Django-cms-3.0.12
Bootstrap v3.3.2
JQuery 1.11.2

I've run into a bug where the frontend editing modal was constently rerendering (flashing white every 5 sec) and I found out that it was rendering every time bootstrap3's slider was sliding to a new image.
Not really sure can/should fix this but I'm putting it here in case someone else experience it.

[2015-03-13 17:53] yakky commented on #3940
https works by default if the admin / toolbar is accessed via https
I tested major actions (opening a standard settings form both as modal and in the sideframe), arranging pages in the sideframe on an https website and everything worked as expected

[2015-03-13 17:54] yakky commented on #3946
Thanks for reporting
We do our best to avoid conflicts with existing JS / CSS, but the very nature of the DOM makes quite hard to completely avoid this issue in any circumstance.

[2015-03-13 17:59] yakky commented on #3945
Thanks for analysis. This looks like a legit issue

[2015-03-13 18:00] yakky commented on #3944
This has been fixed in #3881
Which version of django CMS are you using?

[2015-03-13 18:00] yakky commented on #3944
Ops, sorry: this has been fixed in develop, this fix will be in 3.1

[2015-03-13 18:01] yakky commented on #3938
+1

[2015-03-13 18:03] yakky commented on #3902
Currently "in menu" it's used for both menu and breadcrumbs.
I agree that situation might worth an improvement and further work

[2015-03-13 18:38] frishberg commented on #93
In version 3.0.12, with Django 1.7.6, when I add a new page and then, in the changelist (/admin/cms/page), I click on the name of the page, it tries to redirect me to /admin/cms/page/1/preview/, which causes the ValueError:

    invalid literal for int() with base 10: '1/preview'

Copy-and-paste view output:

[code]

It looks like `pageadmin.py` is trying to retrieve the page with ID '1/preview',

[2015-03-13 18:56] frishberg commented on #93
Never mind. Problem was I specified `en_US` instead of `en-us` as my language.

[2015-03-13 19:01] evildmp commented on #3931
Pull request https://github.com/divio/django-cms/pull/3947

[2015-03-13 19:03] evildmp commented on #3931
Thanks @mkoistinen for identifying the issue.

[2015-03-14 07:37] darbula commented on #3944
Great, thank you.

[2015-03-15 00:03] timgraham opened #3949 "Placeholder.has_foo_permission() missing anonymous user check"
Regression in f6e6fd66e820f60238dff76e1d4a755401554d51. I get the following traceback when running tests. Can try to provide further steps to reproduce if needed.
[code]

[2015-03-15 10:22] yakky commented on #3936
@mrhanlon could you give #3950 a try?

[2015-03-16 08:27] evildmp commented on #3889
Does this now have the documentation it requires? There's such a tangled web of issues and patches here that it's hard to see.

[2015-03-16 12:28] evildmp opened #3952 "Incorrect admin URL can cause a Python error"
Try to reach a non-existent admin page, say http://localhost:8000/en/admin/cms/page/23/edit-plugin/408/ - you'll get a 404, as expected.

Try (say) http://localhost:8000/en/admin/cms/page/23/edit-plugin/408/edit-plugin/407/, and you'll get:

[code]

I think that this should also return a 404.

[2015-03-16 15:36] pajusmar commented on #3748
Related issue #3028

[2015-03-16 16:43] yakky commented on #3889
Current implementation (still to be merged) is https://github.com/divio/django-cms/pull/3894/files#diff-c47ae0bcfc004b5520e9654aa182096eR11

[2015-03-17 10:42] marksweb commented on #3572
I've just come across the same problem here.

We've setup two new projects recently, yesterday I had to fix an issue with a missing CMS migration on a project setup by a colleague and now I'm setting up my own new project.

Django 1.7.6, cms 3.0.12.

If I run `makemigrations` I get;

[code]

And again, the issue I fixed yesterday with a migration dependency was from CMS on a 0004 migration.

[2015-03-17 10:59] marksweb opened #3956 "New database install on Dj 1.7 with 3.0.12 - Cannot resolve bases"
I've never come across the error before but I gather it's related to model dependency.

I'm setting up a brand new project and on the initial migration with all the CMS plugins, e.g. `djangocms_text_ckeditor`, in my `INSTALLED_APPS` I'm getting an error from them all;

[code]

Which is coming from the initial `contenttypes` migration.

Is there a work around for this? At the moment, if an app caus

[2015-03-17 14:06] deecodameeko commented on #3705
I've since upgraded to the latest version of django-cms and am no longer experiencing any issues.

[2015-03-17 14:06] #3705 closed

[2015-03-17 14:35] mkoistinen opened #3957 "Documentation for 'FrontendEditableAdminMixin' should have more explanation"
The current documentation for `FrontendEditableAdminMixin` is rather declarative but doesn't tell the developer why they should add the mixin to their Admin classes. In fact, I've been using FE editing for some time without using this mixin without issue. The developer should understand the benefits (and any pitfalls) of using the mixin and the documentation should provide this.

Current docs here

[2015-03-17 14:57] jrief commented on #3957
I only converted the former ``FrontendEditableAdmin`` class (derived from ``admin.ModelAdmin``) to a mixin class, so that alternatives to the ``ModelAdmin`` can be used. I don't know myself exactly what this class is for.

[2015-03-17 17:03] mitchellrj commented on #3417
This however requires the database connection to be present every time Django is started, in situations that are completely unnecessary. For example, during collectstatic. It should catch OperationalError and fail gracefully.

[2015-03-17 19:17] yakky commented on #3417
The compatibility code will go away in 3.1

[2015-03-17 19:18] yakky commented on #3572
@marksweb 3.0.13 will solve this

[2015-03-17 19:19] yakky commented on #3956
What's the order in the apps in installed apps?

[2015-03-17 19:21] yakky commented on #3957
``FrontendEditableAdminMixin`` is the base class to allow editing standard django models using the django CMS frontend editor.
Order matters as it defines methods that can be defined in other mixin/objects the created class inherit from

[2015-03-17 19:22] yakky commented on #3957
@evildmp do you want me to handle a first draft of this one?

[2015-03-17 23:16] yakky commented on #3949
@timgraham please check linked PR

[2015-03-17 23:49] yakky commented on #3952
@evildmp please check

[2015-03-18 09:12] marksweb commented on #3956
They're in after CMS, which is what I've always had in my 1.6 projects;

[code]

[2015-03-18 12:39] darbula opened #3961 "Cache and documentation"
`CMS_CACHE_DURATIONS` dictionary does not change [cms cache durations](https://github.com/divio/django-cms/blob/develop/cms/utils/conf.py#L67), instead old `MENU_CACHE_DURATION` and `CMS_CONTENT_CACHE_DURATION` are still used.

Also, documentation is lacking info on logic behind caching Page, Placeholder and Plugins i.e if `CMS_PAGE_CACHE = True` does it mean that plugins Placeholders are cached r

[2015-03-18 14:48] timgraham opened #3962 "Broken logging call in pagemodel.py"
`Logger.warn('foo')` results in the following traceback on Python 3:
[code]
or this traceback on Python 2:
[code]
https://github.com/divio/django-cms/blob/0055edadb481233eef180aba22a5fec875817d45/cms/models/pagemodel.py#L190

[2015-03-18 15:55] mrhanlon commented on #3936
@yakky It looks like this fixed it for me. I had to edit the page to attach the menu again, but it is working as expected. Thanks!

[2015-03-18 17:11] stefanfoulis commented on #3204
What I've been doing lately:

in ``models.py``:

[code]
Setting ``related_name='+'`` prevents name clashes, because it simply does not add the reverse relation on the parent plugin. It might make sense to make this the default in cms core.

in ``cms_plugins.py``:
[code]
Prefixing the plugin name with the App name is necessary to avoid name clashes if multiple different apps use the same name. This

[2015-03-18 17:26] marksweb commented on #3940
Just looking through the javascript when the page tree is drawn I'm seeing this error for each column by the looks of it;

[code]

I'm not entirely sure what I should be looking for still, but does anyone have any ideas?

[2015-03-18 17:27] evildmp commented on #3204
I always call my classes *Editor* and *Publisher* - as in:

* ``BlackmailLetterPluginEditor`` - the model that the user configures
* ``BlackmailLetterPluginPublisher`` - the CMSPluginBase subclass

Its not brilliant, because any admin code needs to go into the  ``BlackmailLetterPluginPublisher``, which seems a bit weird, but it's better than ``ThingPlugin`` and ``ThingPluginModel`` which is hopele

[2015-03-18 20:10] yakky commented on #3940
@FinalAngel @astagi any hint?

[2015-03-18 20:22] yakky commented on #3936
@mrhanlon thanks for testing. Yes menu might need to be attached again as a spurious menu might have been attached before

[2015-03-18 20:25] yakky commented on #3962
@mkoistinen could you backport #3848 to support ?

[2015-03-18 20:26] yakky commented on #3956
What's MIGRATION_MODULES? Which djangocms_text_ckeditor version?

[2015-03-18 20:33] yakky commented on #3204
@stefanfoulis @evildmp I'm not super happy with any proposed naming convention, but anyone is actually better than none.
I like the idea of the related_name thing into core. Opening a separate issue for it

Removing the blocker tag

[2015-03-18 20:39] czpython commented on #3204
I also like the related_name approach in core, however doing this will break backwards compatibility so we should be careful.

And regarding naming conventions I usually create models prefixed with Plugin, so if it's a carousel for example the model would look like ```CarouselPlugin``` and the plugin class in ```cms_plugins.py``` would look like ```Carousel```. I do this because in my head, you wi

[2015-03-18 20:53] marksweb commented on #3956
This is taken from my requirements file but I believe that's taken from a pip freeze so should be reliable;

djangocms-column==1.3
djangocms-file==0.0.1
djangocms-flash==0.0.2
djangocms-googlemap==0.0.5
djangocms-inherit==0.0.1
djangocms-installer==0.5.2
djangocms-link==1.3.4
djangocms-picture==0.0.2
djangocms-style==1.3
djangocms-teaser==0.0.1
djangocms-text-ckeditor==2.1.6
djangocms-video==0.0.1

[2015-03-18 21:02] yakky commented on #3956
Update djangocms_text_ckeditor (and any other django cms plugin) to Django 1.7 compatible version and follow the instruction in the readme of each plugij

[2015-03-18 21:37] marksweb commented on #3956
I'll run through that process in the morning. I should of thought of that already! Thanks again @yakky!

[2015-03-18 21:37] #3956 closed

[2015-03-19 09:19] stefanfoulis commented on #2562
The reason for this change is to avoid name clashes in different apps.

Currently it is not possible for multiple apps to register a plugin with the same class name. The idea is to prefix the plugin with a full class prefix of the module where the plugin resides.
Additionally it should be possible to override the value on the plugin class.

Some relevant code points:

Where the value is saved on t

[2015-03-19 10:29] FinalAngel commented on #3940
@yakky I'm not aware of any issues there

[2015-03-19 14:57] marksweb commented on #3956
Just to finalise this, the original issue was fixed by upgrading the apps, but that uncovered this issue reported on djangocms_link with creating a new database resulting in a `no such table: cms_page`;
https://github.com/divio/djangocms-link/issues/34

[2015-03-19 19:40] slepa commented on #3922
![bug](https://cloud.githubusercontent.com/assets/807715/6739279/bcb1c8fe-ce88-11e4-9dde-59148c1b40cd.png)

I think its critical bug.
I am new to django-cms
I spend 2 hours, trying to guess how to add text to placeholder.
Text plugin always hidden by "friendly" scroll button for me.

[2015-03-19 22:28] bastiW opened #3965 "Menu shows random entries from past"
When I'm logged in. The menu (menu.html) shows totally random entries after each refresh of the page. . The entries which are shown were deleted or renamed before.
This issue doesn't occur when I'm NOT logged in.

There seems to be this issue in the past: https://groups.google.com/forum/#!topic/django-cms/_9KPqybmgWg

This happens within my production env. With the following setting:

[code]

Pyth

[2015-03-20 09:26] stefanfoulis commented on #3028
I can confirm as well, that this is still a problem.

[2015-03-20 12:57] darbula opened #3966 "Language chooser does not respect `hide_untranslated` setting"
Documentation states

On page `/hr/subpage/` that has no english translation `{% language_chooser %}` displays:

[code]

The en link should be `/` but it is `/en/subpage/`.

`settings.py`:

[code]

[2015-03-21 09:11] kkx opened #3967 "picture size"
Hi everybody,
when i added yesterday a picture plugin to a page(following the cms-installer instructions), i realized there is not any configs of the size of the added picture to be set. if the pic is bigger than the width of the page, it will surpass it and the result page looks ugly.
What i did to solve this problem is to rewrite "picture.html" in the cms/plugins and added width="100%" in the "i

[2015-03-21 09:20] jrief commented on #3967
If you use Bootstrap-3.x.x as your CSS grid system, have a look at djangocms-cascade. This handles the image and picture sizes according to the current column width.
Disclaimer: I am the author of that library, hence biased.

[2015-03-21 15:43] kkx commented on #3967
@jrief Thanks for the reply. i would give a try!

[2015-03-21 16:13] yakky commented on #3967
@kkx alternatively have a look at cmsplugin_filer which has support for thumbnails and fixed image sizes (with less options than cascade but not specific for bootstrap)

[2015-03-21 16:35] yakky commented on #3965
Any cache enabled / which backend?

[2015-03-23 12:13] marksweb commented on #3940
@yakky @FinalAngel

Just been stepping through the code chaps & we've isolated where the column(s) get hidden.
https://github.com/divio/django-cms/blob/develop/cms/static/cms/js/modules/cms.changelist.js#L757

We've got the following variables on the first loop through;
[code]
So that equates to ```29 > -50``` which will always result in ```max_reached = True``` and this is when we're looking at a

[2015-03-24 08:33] mbi commented on #3936
FWIW I also stumbled unto this issue and can confirm https://github.com/divio/django-cms/pull/3950 fixes it.

[2015-03-24 19:24] darbula opened #3969 "Granular placeholder caching"
It would be nice if placeholders caching could be controlled with more granularity, for example through `CMS_PLACEHOLDER_CONF`. This idea could be from my lack of understanding of correlation between page-placeholder-plugin caches but this is another issue #3961

[2015-03-25 08:44] kakulukia opened #3970 "unit tests and migration problems with PageUserGroup"
hi all .. i have a lil problem with migrations. Im running Django 1.7.3 and have the CMS up and running fine .. all migrations applied as far as i can tell. But when i try to run my test suite i get the following error:

django.db.migrations.state.InvalidBasesError: Cannot resolve bases for [<ModelState: 'cms.PageUserGroup'>]

how can this be resolved?
./manage.py migrate tells me there is nothing