[2020-10-23 15:28] #3598 closed

[2020-10-23 15:29] Aiky30 commented on #3731
This is fixed in a future version of ckeditor for Django CMS v4: https://github.com/django-cms/djangocms-text-ckeditor/tree/support/4.0.x

[2020-10-23 15:29] #3731 closed

[2020-10-23 15:31] Aiky30 commented on #4045
The documentation has come along way since this ticket was opened: http://docs.django-cms.org/en/latest/

[2020-10-23 15:31] #4045 closed

[2020-10-23 15:33] Aiky30 commented on #4099
Hello @lddubeau,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-10-23 15:33] #4099 closed

[2020-10-23 15:34] Aiky30 commented on #4228
Hello @bsenicar,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-10-23 15:34] #4228 closed

[2020-10-23 15:35] Aiky30 commented on #4322
Hello @LaurensBosscher,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due

[2020-10-23 15:35] #4322 closed

[2020-10-23 15:36] Aiky30 commented on #4591
Hello @vivazzi,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the a

[2020-10-23 15:36] #4591 closed

[2020-10-23 15:37] Aiky30 commented on #4693
Hello @strindhaug,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to th

[2020-10-23 15:37] #4693 closed

[2020-10-23 15:38] Aiky30 commented on #4847
Hello @jribbens,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-10-23 15:38] #4847 closed

[2020-10-23 15:39] Aiky30 commented on #4848
Hello @jsma,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 15:39] #4848 closed

[2020-10-23 15:41] Aiky30 commented on #4981
Hello @Moini,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 15:41] #4981 closed

[2020-10-23 15:42] Aiky30 commented on #5003
Hello @bxm,

I'm assuming this is fixed in a newer version, especially as the icons are now svg icons.

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and

[2020-10-23 15:42] #5003 closed

[2020-10-23 15:43] Aiky30 commented on #5016
@jrief Is this still an issue and if so can it be added to a workgroup?

[2020-10-23 15:44] Aiky30 commented on #5086
Hello @jsma,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 15:44] #5086 closed

[2020-10-23 15:45] Aiky30 commented on #5090
@evildmp Can you confirm whether this was ever documented, actioned?

[2020-10-23 15:46] Aiky30 commented on #5091
Hello @maltebeckmann,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to

[2020-10-23 15:46] #5091 closed

[2020-10-23 15:48] Aiky30 commented on #5161
Hello @petrklus,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-10-23 15:48] #5161 closed

[2020-10-23 15:48] Aiky30 commented on #5177
Hello @SteinRobert,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to t

[2020-10-23 15:48] #5177 closed

[2020-10-23 16:50] Aiky30 commented on #5251
Hello @petrklus

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the a

[2020-10-23 16:50] #5251 closed

[2020-10-23 16:51] Aiky30 commented on #5262
As the test suite runs the tests using Postgres I'm assuming this is now rectified.

[2020-10-23 16:51] #5262 closed

[2020-10-23 16:53] Aiky30 commented on #5271
Can anyone confirm if this is still an issue?

[2020-10-23 16:53] Aiky30 commented on #5275
Hello @fallenflint,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to t

[2020-10-23 16:53] #5275 closed

[2020-10-23 16:57] Aiky30 commented on #5281
Do not close this issue, this same issue is raised many times. I will collate them and concentrate on one issue for this task.

[2020-10-23 17:03] Aiky30 commented on #5342
As placeholder field is deprecated in V4 closing this for now.

[2020-10-23 17:03] #5342 closed

[2020-10-23 17:10] Aiky30 commented on #5417
I imagine that this was resolved long ago due to the fact that this feature was deprecated in Dj 1.8 and we're now supporting 3.1.

[2020-10-23 17:15] Aiky30 commented on #5417
I'm wrong, this is still an issue. Checked our docs and this isn't documented anywhere. Reopening for now.

[2020-10-23 17:16] Aiky30 commented on #5431
I haven't seen any issues regarding this so closing for now.

[2020-10-23 17:16] #5431 closed

[2020-10-23 17:18] Aiky30 commented on #5470
Hello @nolsto,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the ag

[2020-10-23 17:18] #5470 closed

[2020-10-23 17:22] Aiky30 commented on #5519
I am assuming that due to the age of this issue that this is no longer an issue,

[2020-10-23 17:22] #5519 closed

[2020-10-23 17:29] Aiky30 commented on #5677
Hello @rafalp,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the ag

[2020-10-23 17:29] #5677 closed

[2020-10-23 17:33] Aiky30 commented on #5774
Hello @Mimino666,

The Alias plugin i being replaced by djangocms-alias in the near future.

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided wh

[2020-10-23 17:33] #5774 closed

[2020-10-23 17:34] Aiky30 commented on #5824
The idea was always to simplify the core, we should aim to make djangocms-text-ckeditor an optional package.

[2020-10-23 17:35] Aiky30 commented on #5849
Need to clarify if this has been resolved.

[2020-10-23 17:39] Aiky30 commented on #5989
I guess the only solution to this issue is to check when creating a redirect if a redirect the opposite way already exists. Bulletproof.

[2020-10-23 17:40] Aiky30 commented on #6006
Hello @db654,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 17:40] #6006 closed

[2020-10-23 17:42] Aiky30 commented on #6118
As the core implementation of Alias is going to be replaced by djangocm-alias this will be irrelevant.

[2020-10-23 17:42] #6118 closed

[2020-10-23 17:44] Aiky30 commented on #6181
Hello @darkowic,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-10-23 17:44] #6181 closed

[2020-10-23 17:46] Aiky30 commented on #6186
Appears to have been rectified by the merged PR, for some reason Github didn't pick up the fixes keyword to close this.

[2020-10-23 17:46] #6186 closed

[2020-10-23 17:49] Aiky30 commented on #6249
Hello @jedie,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 17:49] #6249 closed

[2020-10-23 17:49] Aiky30 commented on #6285
Hello @rprader,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the a

[2020-10-23 17:49] #6285 closed

[2020-10-23 17:52] Aiky30 commented on #6361
Hello @gyoza,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-10-23 17:52] #6361 closed

[2020-10-23 17:53] Aiky30 commented on #6833
Hello @jonathan-s,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to th

[2020-10-23 17:53] #6833 closed

[2020-10-23 17:54] Aiky30 commented on #6833
Hoping to get you onboard @jonathan-s, we can reopen this if you feel this is still relevant.

[2020-10-23 18:04] Aiky30 commented on #6731
@jonathan-s I have a document that I can share with you regarding django-debug-toolbar setup both standalone and in the Divio cloud setup. Please reach out if that is ever required again.

[2020-10-23 18:04] #6731 closed

[2020-10-23 19:28] jonathan-s commented on #6731
Since there is such a document perhaps that should be a part of the
documentation?

Sent from my mobile

On Fri, 23 Oct 2020, 20:04 Aiky30, <notifications@github.com> wrote:

[2020-10-26 09:43] useHTML5 commented on #5342
Where I can read about new in v4 and deprecations?

[2020-10-27 09:28] chuck180 commented on #6889
that is also not the case

[2020-10-27 14:32] Aiky30 commented on #6731
@jonathan-s the information is already part of the debug toolbars docs, it needs additional settings for the cloud, it doesn't belong in the CMS as it is a third party.

[2020-10-27 14:37] Aiky30 commented on #5342
@useHTML5 v4 is still heavily in the development phase with no fully agreed approach to a community release just yet. We are however currently trying to clean the codebase and Github for the 3.x release stream. To keep up to date you may find the following information useful. :-)

If you want to learn more about the work of the technical committee, our product vision and how you can become a membe

[2020-10-28 05:46] pupattan commented on #6908
I am also facing the same issue. Is prefix_default_language=False the only option here ?

[2020-10-30 20:13] jbpenrath opened #6934 "Overwrite url field is not checked"
## Description
Overwrite url field value is not checked.
If I want to rewrite the url of a page and I fill the related field with a wrong value, I can save changes then site will encount error `NoReverseMath at <...>`. Furthermore if the concerned page is included in the main nav that appears on each page, this is the whole site that raises error.

## Steps to reproduce
1. Go to advanced settings

[2020-11-01 17:47] pupattan opened #6936 "django.db.migrations.exceptions.InvalidBasesError: Cannot resolve bases for [<ModelState: 'cms.PageUser'>]"
I am using custom user for my app.
But while migrating i am facing the below issue

django.db.migrations.exceptions.InvalidBasesError: Cannot resolve bases for [<ModelState: 'cms.PageUser'>]

[2020-11-03 07:41] #6698 closed

[2020-11-04 10:38] gauravdutt13 opened #6938 "DjangoCMS Toolbar doesn't show up without adding ?edit in the URL"
## Description

I have done djangocms setup using djangocms-installer . once my site is up I try to access it using http://domainname:8000/ and I can see the toolbar. But when I share the same URL with someone else , they can not see the toolbar and cannot edit as well anything .

I have added CMS_INTERNAL_IPS = []  and ALLOWED_HOSTS = ["*"] in settings.py . I am handling static and media files li

[2020-11-05 14:45] mike667 commented on #6936
Same error, please help.

[StackOverflow Topic](https://stackoverflow.com/questions/38701151/custom-user-model-with-django-cms-cannot-resolve-bases-for-cms-pageuser) didn't help.

[2020-11-05 15:02] mike667 commented on #6936
I had same issue, but this [article](https://vivazzi.pro/en/it/cannot-resolve-bases-for-pageuser/) help me.

[2020-11-09 23:35] wesbroadway opened #6940 "Dynamic SITE_IDs and the Advanced Settings "Template" choices"
Hi there, I think I may have run into a quirk related to using a single running instance of the CMS to serve multiple sites. In my case, I achieve this by dynamically altering the `settings.SITE_ID` value with some middleware, like so:

    class SiteIDMiddleware(MiddlewareMixin):
        def process_request(self, request):
            hostname = request.headers.get('Host').split(':')[0]

[2020-11-10 12:16] rg2609 opened #6941 "Bootstrap css and and js not getting included in the template"
## Description
I am new to this` django-csm `, my use case is to create a form template for that m using the `Django-cms` and along with this using the 'aldryn-form` for form building. I created a simple form using `djangocms-bootstrap` and `aldryn-forms`, but the styling not getting included in the UI.

![image](https://user-images.githubusercontent.com/20682661/98672537-f8f9c480-237b-11eb-9b42-3

[2020-11-11 12:47] rg2609 opened #6942 "Page permission user specific private pages"
## Description
I have put the permission on the cms as this way:
![image](https://user-images.githubusercontent.com/20682661/98812668-e7322300-2448-11eb-9358-a96c78555edc.png)

I have blocked permission for `cms_user1` in this way:
![image](https://user-images.githubusercontent.com/20682661/98813082-a5ee4300-2449-11eb-86f6-ca14fe44ba37.png)

## Expected behaviour

User `cms_user1` should be blocke

[2020-11-13 11:17] Aiky30 commented on #6940
Hi @wesbroadway,

The ability to use multiple sites is not a problem that the CMS core aims to achieve. There are packages designed for this purpose, the most popular and by far the most stable is: https://github.com/nephila/djangocms-multisite

With regards to contribution, the tests in the cms can be found here: https://github.com/django-cms/django-cms/tree/develop/cms/tests

For additional supp

[2020-11-13 11:39] Aiky30 commented on #6941
@rg2609 Which package of djangocms-bootstrap are you using (djangocms-bootstrap, djangocms-bootstrap3, djangocms-bootstrap4)?

It looks to me that the js and css files are not being included in the template. The way that this is done varies from projects i.e. djangocms-bootstrap vs djangocms-bootstrap3 vs djangocms-bootstrap4.

[2020-11-13 11:43] Aiky30 commented on #6938
@gauravdutt13 This is by design, we wouldn't want a site visitor to know that the toolbar exists, this can only happen if the admin user is already logged in. The toolbar should show if the user is already logged in and they open the link.

[2020-11-13 11:50] Aiky30 commented on #6936
This looks like a migration dependancy order issue. You can control the order by ensuring that your custom migration file runs before the cms migration that adds PageUser. The following documentation describes this in detail: https://docs.djangoproject.com/en/3.1/howto/writing-migrations/#controlling-the-order-of-migrations

The article in the post above is a hack around this issue. If any other u

[2020-11-13 12:07] Aiky30 commented on #6916
@ebugge My apologies for the delayed reply, I missed your reply somehow. I find this strange because the model structure looks ok. I can only think that the plugin model is duplicated / reused somewhere else hence why it is not allowed to be deleted.

Does the issue occur on a new page when you add the plugin from fresh? I ask this to see if the page with the issue contains an instance where you h

[2020-11-13 12:21] Aiky30 commented on #6792
Next steps for this issue is to first validate / check that the issue exists and then create a solution.

[2020-11-13 12:23] Aiky30 commented on #6049
This functionality is part of the CMS v4 milestone and a functioning example already exists,.

[2020-11-13 12:24] Aiky30 commented on #6784
This functionality is part of the CMS v4 milestone and a functioning example already exists,.

[2020-11-13 12:25] Aiky30 commented on #6783
Next steps for this issue are to verify whether the issue still exists, if it is still an issue then propose a fix.

[2020-11-13 12:59] benzkji commented on #6049
nice, thanks!

On 13.11.20 13:23, Aiky30 wrote:

[2020-11-13 14:02] victor-yunenko opened #6943 "Implement a url management backend that would allow to drop the in-text plugin support and integrate eg ckeditor5"
This is WIP.

The current draft of the specs can be seen here - https://hackmd.io/6E7nU_j1Q2ChsgHiVqeKxA?both

[2020-11-13 15:37] Aiky30 commented on #6729
This appears to have been resolved, I'm assuming that this was probably caused by the use of a different Django version than what was supported. Closing for now.

[2020-11-13 15:37] #6729 closed

[2020-11-13 15:41] Aiky30 commented on #6728
Hello @misli,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-11-13 15:41] #6728 closed

[2020-11-13 15:41] Aiky30 commented on #6725
Hello @marksweb,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the

[2020-11-13 15:41] #6725 closed

[2020-11-13 15:42] Aiky30 commented on #6722
Closing as this seems to have no actionables.

If you want to learn more about the work of the technical committee, our product vision and how you can become a member of the dCA, you can find all information here:

- [The Technical Committee of the django CMS Association](https://github.com/django-cms/django-cms-mgmt/blob/master/tech-committee/about.md)
- [Technical Roadmap and Product Vision for

[2020-11-13 15:42] #6722 closed

[2020-11-13 15:44] Aiky30 commented on #6716
Closing as this appears to have gone stale.

[2020-11-13 15:44] #6716 closed

[2020-11-13 15:46] Aiky30 commented on #6714
This is caused by not implementing the copy method, without the copy method the plugin model will just keep a link to the original model that you attached it to: http://docs.django-cms.org/en/latest/how_to/custom_plugins.html#handling-relations

[2020-11-13 15:46] #6714 closed

[2020-11-13 15:48] Aiky30 commented on #6706
This is resolved as of Python 3.7:

https://www.python.org/downloads/release/python-370/

[2020-11-13 15:48] #6706 closed

[2020-11-13 15:52] Aiky30 commented on #6684
Closing as this has happened.

[2020-11-13 15:52] #6684 closed

[2020-11-13 15:55] FinalAngel commented on #6681
closing as the email is working again

[2020-11-13 15:55] #6681 closed

[2020-11-13 15:57] Aiky30 commented on #6678
Hello @ramilS,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the ag

[2020-11-13 15:57] #6678 closed

[2020-11-13 15:57] Aiky30 commented on #6676
@FinalAngel I this still valid?

[2020-11-13 16:08] Aiky30 commented on #6666
Closing as < Django 2.2 is no longer supported. Resolved in Django 2.2+

[2020-11-13 16:08] #6666 closed

[2020-11-13 16:12] Aiky30 commented on #6664
Not enough information on this issue.

[2020-11-13 16:12] #6664 closed

[2020-11-13 16:13] Aiky30 commented on #6663
Closing as the original user has deleted their account and this issue has gone stale.

[2020-11-13 16:13] #6663 closed

[2020-11-13 16:15] Aiky30 commented on #6660
@chris542 This is very old now. If this is still an issue can you please provide your settings for languages.

[2020-11-13 16:16] Aiky30 commented on #6658
Closing this issue due to a solution being added and no response as to whether this was actually resolved. Assuming fixed.

[2020-11-13 16:16] #6658 closed

[2020-11-13 16:19] Aiky30 commented on #6657
Hello @mhavci,

It's not clear what you are trying to achieve.

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product visi

[2020-11-13 16:19] #6657 closed

[2020-11-13 16:22] Aiky30 commented on #6652
Fixed in 3.7.1:

https://github.com/django-cms/django-cms/blob/develop/CHANGELOG.rst#371-2019-11-26

[2020-11-13 16:22] #6652 closed

[2020-11-13 16:23] Aiky30 commented on #6669
Fixed in 3.7.1:

https://github.com/django-cms/django-cms/blob/develop/CHANGELOG.rst#371-2019-11-26

[2020-11-13 16:23] #6669 closed

[2020-11-13 16:24] Aiky30 commented on #6428
Fixed in 3.7.1:

https://github.com/django-cms/django-cms/blob/develop/CHANGELOG.rst#371-2019-11-26

[2020-11-13 16:24] #6428 closed

[2020-11-13 16:24] Aiky30 commented on #6164
Fixed in 3.7.1:

https://github.com/django-cms/django-cms/blob/develop/CHANGELOG.rst#371-2019-11-26

[2020-11-13 16:24] #6164 closed

[2020-11-13 16:27] Aiky30 commented on #6623
Hello @python2and3developer,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

[2020-11-13 16:27] #6623 closed

[2020-11-13 16:34] Aiky30 commented on #3207
Hello @ar4s,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-11-13 16:34] #3207 closed

[2020-11-13 16:43] stuaxo commented on #6722
Fair enough.  I don't think I'm going to get time to join the community association unless I get another role working on a djangocms project because I have too many projects already.

In case any one is, it would be good if DCMS:
- Has a principle that any new database APIs should work in batch mode.  (i.e., they are query objects that multiple items by default), this will enable composability.

C

[2020-11-13 16:47] Aiky30 commented on #6392
You can disable the toolbar using the following setting, it is stored in the server session so will stay disabled: `cms_toolbar_disabled` https://github.com/django-cms/django-cms/blob/develop/cms/toolbar/toolbar.py#L181

[2020-11-13 16:47] #6392 closed

[2020-11-13 16:53] Aiky30 commented on #4787
Still an issue.

[2020-11-13 17:25] victor-yunenko commented on #6622
I'm not sure whether I can help here. I submitted a PR with an ugly workaround in #6813 that somebody else discovered here and personally I don't have issues with using it through djangocms-helpers. If the file pagemodel.py was highly maintainable and didn't have 1600 lines of code in it I could have invested more time perhaps.

@FinalAngel, @Aiky30, you can adjust #6813 of course if you wish 👌

[2020-11-13 17:26] benzkji commented on #6392
@Aiky30 pre 3.5 allowed to collapse the toolbar with a single click. but yea...a minor issue. and for now, the structure button has taken the collapse's button position - so it would be kind of a usability issue as well...

[2020-11-13 18:10] wesbroadway commented on #6940
@Aiky30 thank you! I was not actually aware of the multisite project, so I appreciate the suggestion. Thanks again and I'll close this issue. Best regards!

[2020-11-13 18:10] #6940 closed

[2020-11-15 19:23] sampaccoud opened #6944 "Broken admin page layout with Django 3.1.2"
### Step to reproduce

Install DjangoCMS with Django>=3.1.2

### Expected behaviour

The `/admin/cms/page` page layout should be normal

### Actual behaviour

The page looks like this:

![image](https://user-images.githubusercontent.com/1427165/99194537-372e2400-2780-11eb-83f3-7c68a9e075cf.png)

### Additional information

We think this commit is the culprit: https://github.com/django/django/commi

[2020-11-15 21:20] CodeLit commented on #5271
Yep!
[code]

[2020-11-17 07:54] FinalAngel commented on #6676
We can close it for now :)

[2020-11-17 07:54] #6676 closed

[2020-11-18 12:43] rg2609 opened #6946 "Django cache framework not working with django-cms"
I am using `django 3.1` and the [database caching][1] and it is working properly, but when I included the `django-cms` in the project and ran `python3 manage.py createcachetable` as per the document of the cache framework it's giving an error
[code]
the cache table is getting created without django-cms, but not working with it.
Is there any config that I am missing to add? any help and suggestion

[2020-11-18 19:07] jmrobles commented on #6895
The same thing is happening to me.
I'm going to see if I can debug it.

[2020-11-19 01:18] davidgomezcol opened #6947 "Site header randomly changing to another site's header when navigating through pages"
## Description
The bug is annoying, when navigating through pages the header changes to the one of another site configured on Django CMS. I haven't found a solution for this. (the other site it's configured with different domain)

## Steps to reproduce
Navigate through the site

## Expected behaviour
Keep the same header, except when navigating on the other site configured on Django CMS.

## Actua

[2020-11-20 13:42] yakky opened #6948 "RTD builds are broken"
## Description

RTD builds are broken (see https://readthedocs.org/projects/django-cms/builds/12250541/ for example)

## Steps to reproduce

Push some branch on django-cms repo

## Expected behaviour

Documentation builds

## Actual behaviour

Build breaks

## Additional information

We might also:
- [ ] add RTD builds on PR
- [ ] add a `.readthedocs.yml` configuation file
- [ ] switch RTD default

[2020-11-23 13:03] #6948 closed

[2020-11-25 08:01] chris542 commented on #6660
@Aiky30  Thanks for yor response. I'm no longer working on this project :)

[2020-11-25 08:01] #6660 closed

[2020-11-25 13:09] gauravdutt13 commented on #6938
I have somehow forced the url to redirect to /?edit which solved my issue. I made changes in base.html which enables a login button for the users. they can login and can access the toolbar.

But Now I have integrated this setup with ADFS. when I try to login with some users to the CMS site, again the toolbar is getting disappeared . Can you tell me what settings to be enabled for admin users in AD

[2020-11-25 19:38] idrum4316 commented on #6908
I think I am also running into this same issue. I can mostly work around it by setting `USE_I18N = True` and `prefix_default_language=False`.

My site has a couple of cms pages that have redirects configured in the advanced settings, and those are still getting the language code prepended to the URL I set in the redirect field. For example, I have a page that is configured to redirect to "/portal"

[2020-11-26 08:00] sampaccoud commented on #6944
Fixed in [djangocms-admin-style version 2.0.2](https://github.com/django-cms/djangocms-admin-style/releases/tag/2.0.2) by PR https://github.com/django-cms/djangocms-admin-style/pull/426

[2020-11-26 08:00] #6944 closed

[2020-11-29 12:11] ebugge commented on #6916
Don't apologize :)

I just tested it on a new page and it works. I then went back to does some changes to the page where the problem originally came up and now it works on this page too! I have now idea what fixed it because I haven't worked on the site for some time now.

In any case, it works now and I can't get reproduce the error on any pages, so I am closing this issue. Thanks for your inputs

[2020-12-01 00:18] NarenderRajuB commented on #6947
I would keep the plugins inside the header in static placeholder , here static placeholders will be bound to a site.

[2020-12-08 14:36] Aiky30 commented on #4600
The "magic" of django CMS app configuration and various pools have been replaced by the new App registration / configuration system in v4, here is the logic keeping backward compatibility for < v4 packages configurations: https://github.com/django-cms/django-cms/blob/release/4.0.x/cms/app_registration.py#L152

The idea is to move all of the pools and configuration loading into the cms app configur

[2020-12-08 14:36] #4600 closed

[2020-12-08 14:53] Aiky30 commented on #4598
Closing as every issue mentioned in this issue is closed or merged.

[2020-12-08 14:53] #4598 closed

[2020-12-08 14:56] Aiky30 commented on #4626
@yakky Do you know if this is still an issue?

[2020-12-08 15:14] Aiky30 commented on #4940
Closing as this issue appears to be stale and there is no feedback that the proposed fixes in 3.4 did not work. I have never heard of this on any project 3.5+ so assuming fixed.

Due to the age of this issue we are unable to safely accept the contribution. If you feel this issue is still required please inform a member of our technical committee: [nicolai@django-cms.org](mailto:nicolai@django-cms.

[2020-12-08 15:14] #4940 closed

[2020-12-08 15:36] Aiky30 commented on #5034
Appears to have been resolved and merged in the PR referenced above.

[2020-12-08 15:36] #5034 closed

[2020-12-08 15:54] Aiky30 commented on #5311
Hello @petrklus

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the a

[2020-12-08 15:54] #5311 closed

[2020-12-08 15:57] yakky commented on #4626
@Aiky30 original requested is_page attribute has been added
Paulo's refactoring has not changed the behaviors discussed here and no decision has been made regarding them

[2020-12-08 16:02] Aiky30 commented on #5410
PlacholderAdminMixin is removed in v4.0.x, this issue will become irrelevant in the future. Closing for now.

[2020-12-08 16:02] #5410 closed

[2020-12-08 16:04] Aiky30 commented on #5448
The following PR will fix this issue.

[2020-12-08 16:09] stuaxo commented on #5448
Looks like the only issue it has is a merge issue with the ChangeLog.

[2020-12-08 16:12] yakky commented on #5448
@stuaxo fixed, thanks for reporting

[2020-12-08 16:31] Aiky30 commented on #6004
Closing as no response and linked to a possible solution.

[2020-12-08 16:31] #6004 closed

[2020-12-08 16:34] Aiky30 commented on #6290
Closing as documentation has been added and no response since 2018.

[2020-12-08 16:34] #6290 closed

[2020-12-08 16:38] Aiky30 commented on #6313
Hello @crivet

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age

[2020-12-08 16:38] #6313 closed

[2020-12-08 16:41] Aiky30 commented on #6401
Hello,

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due to the age of thi

[2020-12-08 16:41] #6401 closed

[2020-12-08 16:50] Aiky30 commented on #6478
This code appears to have been moved within a check for the length of a selector first. I'm also assuming that as no one else has added that this is an issue that is resolved. Closing due to the age, happy to reopen at anytime in the future if this is stil indeed and issue.

[2020-12-08 16:50] #6478 closed

[2020-12-08 16:51] Aiky30 commented on #6479
@macolo is this still a valid issue?

[2020-12-08 16:52] Aiky30 commented on #6485
Hello @austin-carnahan

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vision we want to go with django CMS.

Due t

[2020-12-08 16:52] #6485 closed

[2020-12-08 16:55] Aiky30 commented on #6493
Does anyone still have this issue and if so can you provide database version numbers? I have seen issues with early migrations with MySQL 5.7 and early MariaDB versions.

Closing due to the age and no activity on this issue. Happy to open it again if this affects anyone still or in the future.

Nevertheless we thank you for your participation and would like to emphasize that we do not want to disc

[2020-12-08 16:55] #6493 closed

[2020-12-08 16:56] Aiky30 commented on #6495
Assuming fixed and closing this issue due to the feedback of fixed and seeing that it was released in 3.5.

[2020-12-08 16:56] #6495 closed

[2020-12-08 16:57] Aiky30 commented on #6498
Assuming resolved due to the age of this issue and no activity.

Thank you very much for your contribution to the django CMS project. The django CMS project has recently joined forces under the banner of the newly founded django CMS Association to revive the development of django CMS. For this reason we have analyzed all pull requests and issues in detail and decided which ones fit the product vis

[2020-12-08 16:57] #6498 closed

[2020-12-08 17:49] fallenflint opened #6957 "Color input width broken by djangocms-admin.css"
## Description

Input type=color seems to be broken by djangocms-admin.css
![image](https://user-images.githubusercontent.com/6457827/101520997-44f95280-3996-11eb-9091-05de605cd067.png)
I've got color picker without color inside. A little investigation shown that issue connected to css rule `width: auto` for
`button, input, select, textarea`. Disabling it fixes color input.

## Steps to reproduce

[2020-12-08 18:55] yakky commented on #6957
@fallenflint thanks for reporting this. Could you open this issue on https://github.com/django-cms/djangocms-admin-style?

[2020-12-08 20:28] Danfeng-tmx opened #6959 "Django cms does not work with Content Security Policy without "unsafe-inline" in script-src"
In order to support CSP, we cannot use 'unsafe-inline' in script-src , but if we do not add 'unsafe-inline' (script-src: 'self' ), it will show error on each<script data-cms> div.

## Steps to reproduce
login to django cms, the main page will show the error is console.

## Expected behaviour
We would like to make CSP working without 'unsafe-inline' in script-src.

## Actual behaviour
if there is n

[2020-12-08 22:55] fallenflint commented on #6957
Ok, thanks for advice, will open it there

[2020-12-08 23:15] yakky commented on #6957
@fallenflint thanks
closing this, linked to the new one at https://github.com/django-cms/djangocms-admin-style/issues/429

[2020-12-08 23:15] #6957 closed

[2020-12-10 12:27] SteinRobert commented on #6570
**TLDR**
Static placeholders within the template used by the `show_menu` template tag do not appear within the structure mode sidebar.

**Explanation**
I also noticed that some StaticPlaceholders, not all, do not appear within the structure mode sidebar.
After digging through some code I found the cause: The static placeholder which wasn't rendered in the structure mode sidebar was part of the tem

[2020-12-14 18:11] mattgoins opened #6963 "Permissions cache sometimes breaks for non-super users"
When using a cache, the cached permissions create a problem on the Page Admin for non-super users.

Steps to reproduce:
* Create a django cms site with Redis cache
* Add a second Site to the cms
* Create an auth group, e.g. "Editors", and a non-super user with staff status, who is in the Editors group
* Create a Page on each site, and in the individual Page permissions (not the Global Permissions)

[2020-12-21 10:05] vakorol commented on #6687
This is still an issue with Django CMS 3.7.4, Django 2.2.17 and Python 3.6.8.

[2021-01-19 14:31] fp4code commented on #6622
This bug is still present in 3.8.0.

First problem, when the parent page is created in the second language, the calling to _update_title_path_recursive should be not skipped
https://github.com/django-cms/django-cms/blob/5e99e69f6b70d0d4053552105c30506c0581fd9b/cms/admin/forms.py#L476

Second problem, _update_title_path_recursive is buggy, probably here https://github.com/django-cms/django-cms/blob

[2021-01-20 12:29] benzkji commented on #6622
Any chance to add this fix (soon) in a 3.8.1 release?

[2021-01-24 08:44] sachin-metacube commented on #6895
Same issue here

django.template.base.VariableDoesNotExist: Failed lookup for key [exception_type]

[2021-01-25 15:26] adityababar07 commented on #2744
Environment:

Request Method: GET
Request URL: http://localhost:8000/profile/hacker07/

Django Version: 3.0
Python Version: 3.7.9
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'whitenoise.runserver_nostatic',
 'django.contrib.staticfiles',
 'blog.apps.BlogConfig',
 'accounts.apps.Acc

[2021-01-25 16:23] jrief commented on #2744
Please don't just paste same stack-trace without any further description. The error occurs outside of django-CMS's code, so check there.

[2021-01-25 16:32] adityababar07 commented on #2744
ok

[2021-01-27 11:20] adam-murray commented on #5824
Django CMS Admin Style tests are based on the assumption that CKEditor is installed (https://github.com/django-cms/djangocms-admin-style/blob/b11e87d6cb6765e449ce40e27a965ab43a1d8bbe/tests/requirements/base.txt)

This could be related to templating issue appearing in widgets. I will investigate further and update findings here.

[2021-01-28 12:28] zszep opened #6970 "Text plugin from django cms in the admin panel"
Is it possible to use the text plugin from django cms in the admin panel? I need some way to use some kind of html editor like the ckeditor in the admin panel. Preferably it would be ckeditor internally used from django cms for the text plugin. I have succeeded ckeditor showing instead of the standard input tag in the admin panel like this:

[code]
This is fine, but the plugins are not showing (e.

[2021-02-02 14:36] adam-murray commented on #5824
On further research this is (at least partially) down to the reliance on the 'TextPlugin' provided by djangocms_text_ck_editor.
https://github.com/django-cms/djangocms-text-ckeditor/blob/7d578cdf799aab9c01d18558776720d7693aca4c/djangocms_text_ckeditor/cms_plugins.py#L173

Taking a look at an appropriate replacement for this, current outcome of removing ckeditor is failures=3, errors=133

[2021-02-03 19:42] dannosaur commented on #6687
Until this gets merged, I found the following monkey patch to work for those that can't wait and need this to be fixed beforehand, or either can't or don't want to fork/modify CMS's core codebase:

[code]

Drop the above into anything that gets imported early on in the import sequence (an apps.py file works), and the issue is resolved.

[2021-02-05 13:23] adam-murray commented on #5824
WIP PR, still a couple of test failures to be resolved: https://github.com/django-cms/django-cms/pull/6972

[2021-02-06 11:26] #6622 closed

[2021-02-06 19:05] execut opened #6973 "get_page_from_request with the second argument is behaving unexpectedly"
## Description
I think cms.utils.page.get_page_from_request with the second argument is behaving unexpectedly

## Steps to reproduce
[code]
## Expected behaviour
[code]
## Actual behaviour
[code]

## Additional information

It seems to me that using request._current_page_cache inside a function for optimization purposes is not a very nice solution

[2021-02-07 14:30] Aiky30 commented on #6970
@zszep this is not currently possible using djangocms-ckeditor because it is heavily reliant on the cms plugin system that requires a placeholder.

There will be a ckeditor 5 package in the near future that will decouple the package from the cms plugin system. This package is still some way off but may be good to know.

[2021-02-10 15:40] gordeychuk opened #6975 "The page is still cached (by django) for anonymous user after publishing new content on the page"
## Description
The page is still cached for anonymous user after publishing new content on the page. Everything works good for logged-in users (because caching is not active for logged-in users as far as I understand). I've investigated the cache DB and cache middlewares (`django.middleware.cache.UpdateCacheMiddleware` and `django.middleware.cache.FetchFromCacheMiddleware`) source code and found t

[2021-02-12 12:26] #5448 closed

[2021-02-12 13:44] stuaxo commented on #5448
Thanks all.

[2021-02-18 10:30] peacefulseeker commented on #3279
@donce , where can I see the API for that so I can try implementing the action in CMS admin to publish all
unpublished versions for selected page. Action could live somewhere in the context menu I suppose.
![image](https://user-images.githubusercontent.com/25010454/108343807-0c22f880-71e5-11eb-9273-cbf4aad2f992.png)

[2021-02-18 10:50] nicolaslara opened #6978 "[BUG] Saving a page updates the path of all its children to `<parent-path-in-different-language>/<child-slug>/`"
## Description

I'm seeing an issue (slightly similar to #6308) where saving a page updates the path of all its children to `<parent-path-in-different-language>/<child-slug>/`.

I've narrowed it down to a combination of the form removing the active language from the cache (https://github.com/django-cms/django-cms/blob/develop/cms/admin/forms.py#L464-L479) and the page model forcing `fallback=True`

[2021-02-18 10:54] nicolaslara commented on #6978
I've managed to work around this issue by replacing the form by one that invalidates the cache:

[code]

To make that take effect, you need to reregister the page admin (in an admin.py file):

[code]

[2021-02-18 11:19] jbpenrath opened #6980 "[BUG] Treebeard 4.5 leads to major issue"
## Description

Release of `django-treebeard` 4.5 seems introduce breacking change from `django-cms`.

[code]

## Steps to reproduce

Steps to reproduce the behavior:
1. Install a fresh django-cms or update your dependencies to have treebeard 4.5 installed
2. Create a page with no content
3. Publish it
4. Edit it then add a plugin
5. Save our plugin content
6. Then boom !

## Expected behaviour

I

[2021-02-20 07:56] srinathganesh commented on #6980
We have the exact same error in a new deployment.

[2021-02-21 12:57] donce commented on #3279
@peacefulseeker I haven't used django-cms in years now, maybe @yakky could help you with this?

[2021-02-23 07:54] VeshRaazThapa commented on #6980
mine worked by rolling back to djang-treebeard==3.1.1
django==3.1.7
django-cms==3.8.0

[2021-02-23 12:42] PhilFuster commented on #6980
I am also experiencing this. This is after the install of 4.5.1.
![image](https://user-images.githubusercontent.com/15935874/108844909-b5ce0500-75aa-11eb-94e3-b9289adf8a1f.png)

[2021-02-25 10:06] yml commented on #6980
It is interesting to note that wagtail was also impacted by the recent changes https://github.com/wagtail/wagtail/issues/6820.
It looks like this ticket (  https://github.com/django-treebeard/django-treebeard/issues/211) assumes that the version `4.5.1` resolving this issue which is not what I observe (\cc @PhilFuster ).

[2021-02-25 13:15] DonkeyOatie commented on #6980
I am seeing something I believe is related and is stopping us from publishing pages

[code]

I have tried rolling back to treebeard 4.3.1 and 4.4.0 (running fix-tree at each stage) and nothing seems to resolve the issue.

[2021-02-25 15:12] PhilFuster commented on #6980
@DonkeyOatie I was working with a fresh install so I created the project over. By uninstalling treebeard and installing the 4.3.1 version of treebeard as @VeshRaazThapa said, I got it to work.
NOTE: Uninstall and install correct version of treebeard before first runserver or makemigrations/migrate command.

[2021-02-25 16:23] DonkeyOatie commented on #6980
@PhilFuster thanks for the suggestion.  That is pretty hard to do for us as we are running inside a docker container on a managed platform. I will see if I can script this to happen before the app starts.  Thanks for the info.

[2021-02-25 16:52] PhilFuster commented on #6980
Glad I could help @DonkeyOatie ! How about instead of beers, could I trouble you for some time in the future to discuss what your experiences with djangocms are? This is my first time using it for a marketing site I am building and there are some things I don't understand how I would implement.

[2021-02-25 16:55] DonkeyOatie commented on #6980
Anytime @PhilFuster my email is on my profile

[2021-02-26 12:16] vinitkumar opened #6986 "[FEATURE] Implement Github Actions for DjangoCMS"
## Feature request

DjangoCMS has an extensive test suite that runs on Travis. We need to port it to Github actions owing to the issues with super slow builds from Travis.

Here are some of the links that we can use to help the porting.

- https://developer.okta.com/blog/2020/05/18/travis-ci-to-github-actions
- https://docs.github.com/en/actions/guides/building-and-testing-python

[2021-03-01 17:22] W1ldPo1nter opened #6987 "[BUG] Plugins with models that don't directly inherit from CMSPlugin or an abstract model cannot be copied"
## Description

If a plugin model inherits from another non-abstract plugin model (which is not `CMSPlugin` itself), its plugin instances cannot be copied on CMS pages. Instead, an error is raised.

## Steps to reproduce

1. Define a plugin model structure like this
[code]
2. Define a CMS Plugin that uses the `Subclass` model
3. Use an instance of said plugin on a page
4. Try to copy the instance

[2021-03-02 20:33] WrapTheCode opened #6989 "[BUG] Menu translation dont change after disable language code for default language"
I have found a bug. It is a problem with translation of menu after disabling language code in url by "prefix_default_language=False",

1. Install  latest django-cms
2. Add " prefix_default_language=False" to urls.py
3. Create page in 3 languages
4. Switch language to the second one (i used  default menu to do this)
5. Switch back to the default language
6. Translation of the menu dont change to th

[2021-03-03 12:46] nklsw commented on #6523
I also have this issue with `CMS_TOOLBAR_HIDE = True`

@Tyrdall have you found a way to use this configuration without running into the error when adding/editing text plugin?

[2021-03-03 14:11] Tyrdall commented on #6523
@nklsw I actually don't remember. My answer sounds weird, so I'm wondering if the initial post of this thread has been changed 🤷
I guess I just removed the `CMS_TOOLBAR_HIDE` setting though.

[2021-03-04 11:45] nklsw commented on #6523
The title is still pretty accurate for the problem I am also experiencing. Solved it for now with `CMS_TOOLBAR_HIDE=False` (or just removing the setting)

[2021-03-05 13:38] #6980 closed

[2021-03-10 15:02] vinitkumar commented on #6986
Good for reference:
- https://github.com/wagtail/wagtail/blob/main/.github/workflows/test.yml

[2021-03-10 18:11] WrapTheCode commented on #6989
In my opinion the menu plugin is not fully compatible with "prefix_default_language=False". When we are going back to the page with default language(without prefix) cache don't pure and showing cashed translation. We can pure it manually by refreshing the page, then menu title is in correct language. When I switch "prefix_default_language=False" to true every thinks works. I'm not sure this is tru

[2021-03-12 07:51] JupiterWalker commented on #6831
I got the same issue T_T

[2021-03-12 10:08] skini-galaxia opened #6990 "[BUG] Uploading an image throws a 404"
## Description
Uploading an image on CMS throws a 404.

## Steps to reproduce

1. Click on Edit Page
2. Select the Image/Picture plugin
3. Upload an image

## Expected behaviour
The image should be uploaded and displayed properly.

## Actual behaviour
CMS throws a 404 - resource not found.

## Screenshots

![image](https://user-images.githubusercontent.com/76421853/110925380-1ef29e00-8349-11eb-8f7

[2021-03-12 10:15] skini-galaxia opened #6991 "[BUG] Column CSS Settings in CMS are unresponsive to mouse input."
## Description
The CSS settings for the Column widget are unresponsive to mouse input.

## Steps to reproduce
1. Create a page and click on edit
2. Select the Column widget.
3. Try and edit the css settings with the mouse (image attached) to see the error.

## Expected behaviour
CSS settings should respond properly to mouse input.

## Actual behaviour
CSS Settings are unresponsive.

## Screenshots

[2021-03-12 11:11] skini-galaxia opened #6992 "[BUG]Font awesome icons not rendering properly."
## Description
The default font awesome icon pack is not rendering properly on the CMS page.

## Steps to reproduce
1. Click on edit
2. Select the Icon widget
3. Select Icon
4. Select any icon from the 'Font awesome regular' icon pack
5. Save it

## Expected behaviour
The icons should render properly.

## Actual behaviour
Icons not rendering properly.

## Screenshots
![image](https://user-images.g

[2021-03-16 11:02] didierCH commented on #6539
Explicit is better than implizit (and because I forgot it until I needed this setting today again :-) ).
Here is the code you need to change in your `urls.py`:
From this:
[code]
To this:
[code]

[2021-03-16 11:02] #6539 closed

[2021-03-16 11:29] benzkji commented on #6539
strange, for me it works the other way round ;-)

[2021-03-16 12:43] didierCH commented on #6539
yes, that's strange.

[2021-03-18 15:57] evildmp opened #6995 "Documentation improvements"
This is a placeholder issue for tracking planned improvements to documentation.

# Work to be done

* [ ] Rename section “Development & Community” to “Contribute”
* [ ] Rename “django CMS’s development community” to “Contributor Community”
* [ ] Rewrite “Contributor Community” page (Nicolai)
* [ ] Create new sub-section (under parent Contribute) called “Contribute”
* [ ] Contribute
* [ ] Contribut

[2021-03-18 16:02] #6995 closed

[2021-03-19 02:58] rasyidev commented on #6894
I got the same error message. It is because I'm not in the right environment. So I just get into the right environment and it works.

[2021-03-19 14:23] NicolaiRidani opened #6997 "Documentation improvements"
This is a placeholder issue for tracking planned improvements to documentation by @[TiredFingers](https://github.com/TiredFingers)

# Work to be done

* [ ] Rename section “Development & Community” to “Contribute”
* [ ] Rename “django CMS’s development community” to “Contributor Community”
* [ ] Create new sub-section under parent "Contribute" called "How to contribute"
* [ ] Move sub-sections "Co

[2021-03-20 17:57] WrapTheCode commented on #6989
Solved by removing from settings.py:
`'cms.middleware.language.LanguageCookieMiddleware',`

I know that it is just partial solution and i lost a cookies an sessions possibilities to determinating language.
Maybe somebody can help figure me out why this middleware raise an mentioned bug.

[2021-03-21 14:00] WrapTheCode commented on #6989
I made it work.
File to edit: **menus/menu_pool.py**

Replace:
`from django.utils.translation import get_language_from_request, gettext_lazy as _`
With:
`from django.utils.translation import get_language, gettext_lazy as _`

And in the same file replace:
`self.request_language = get_language_from_request(request, check_path=True)`
With:
`self.request_language = get_language()`

[2021-03-21 14:02] #6989 closed

[2021-03-21 18:39] bittner commented on #6892
I can still reproduce the original error from above with the current stable version 3.7 of django CMS. See https://github.com/Organice/djangocms-maps/pull/20#issuecomment-803605341.

IIUC from https://github.com/django-cms/django-cms/issues/6893#issuecomment-705234405, there will be no backport of the fix for django CMS 3.7. Hence, Django 3.1 is supported by django CMS 3.8+ only?

[2021-03-24 07:21] jiangpuxuan commented on #6085
I encountered the same problems when I tried to publish my edit. Quite annoying.

[2021-03-24 07:24] jiangpuxuan commented on #6085
apache2.4, mod_wsgi 4.8, django 3.1.7, djangocms 3.8.0, ubuntu 20.04

[2021-03-26 09:46] TiredFingers commented on #6997
https://github.com/django-cms/django-cms/pull/6999

[2021-03-31 09:19] svenvandescheur opened #7001 "[BUG] Template name/static placeholder name combination in CMS_PLACEHOLDER_CONF does not seem to work."
## Description

When configuring `CMS_PLACEHOLDER_CONF`. A combination of the template name can be used to create a specific placeholder configuration for a specific page. This works as intended for regular placeholder and allow the CMS to, for instance create default placeholders when creating a new page.

This behaviour is also useful for static placeholders (for instance: a navigation bar which

[2021-03-31 09:53] svenvandescheur commented on #7001
I did some digging and found out that `cms.plugin_rendering.ContentRenderer.render_static_placeholder` does not take, or pass a page object to (`render_placeholder`).

As a proof of concept I changed the function to this:

[code]

This seems to result in the expected behaviour.

[2021-03-31 12:43] svenvandescheur commented on #7001
I think I misunderstood some of the concepts of the static placeholder, I would think they'd be template specific, turns out they're not and fixing this issue will not allow for various templates to have various "static" placeholders.

[2021-03-31 14:52] marksweb commented on #6992
Because you've got your own template here, you'll need to load font awesome yourself, it won't be loaded/provided by the CMS automatically.

https://fontawesome.com/start

[2021-03-31 15:11] jrief commented on #6987
This btw. is bad practice. If `Subclass` inherits from `Direct`, then `Direct` should be abstract anyway. Otherwise you get far too many joins while querying the database.

[2021-03-31 15:16] nichoski opened #7003 "[BUG] When adding plugin inside text element's table, plugin cannot be unfocused when clicking inside the table and table is non editable"
## Description
When adding a plugin inside text element's table, the plugin cannot be unfocused when clicking inside the table. This makes the table non editable. User has to click outside the table to unfocus the inserted plugin. This is bad because in many cases, especially when the table is large, the user might not come up with the idea to click outside the table, and think the whole text plug

[2021-03-31 15:26] NicolaiRidani commented on #6970
@victor-yunenko could your link to your CKeditor5 work?

[2021-03-31 16:31] #6986 closed

[2021-03-31 17:37] W1ldPo1nter commented on #6987
Generally yes, although whether it becomes "far too many" joins or not highly depends on how complex the inheritance structure is. Having one submodel like in the example above would only lead to one more join, which may be acceptable performance-wise.

The bigger problem is that the full structure may not be under one's control entirely. For example, if there's some library that offers a CMS plug

[2021-03-31 23:25] nichoski opened #7004 "[BUG] copy_plugins_to randomly throws IntegrityError / UniqueViolation error in treebeard path field"
## Description
We use copy_plugins_to, and it sometimes throws an  error like this:
[code]

This only happens sometimes, rarely, and it seems to be random.

## Steps to reproduce

Our usage of copy_plugins_to can be seen here:
https://github.com/what-digital/django-model-publisher/blob/master/publisher/models.py
The error happens in our usage of copy_plugins_to within the clone_placeholder method.

[2021-04-02 16:14] greengoaxe opened #7008 "[BUG] Incomplete command on Readme-quickstart section"
## Description
### Incomplete command reported

On the [Readme file](https://github.com/django-cms/django-cms/blob/develop/README.rst), Quick start section, the current, and incomplete, command reported is :

The right command is:

## Steps to reproduce

## Expected behaviour

To add the word "runserver" so to fix the command

## Actual behaviour

## Screenshots

## Additional information (CMS/Pyt

[2021-04-03 08:18] TiredFingers commented on #7008
Hi @greengoaxe thanks for the issue. PR is prefered =)

[2021-04-05 14:04] ebugge commented on #6916
Reopening this as it has occurred again, when I created a new plugin.

The error is the same:

`django.db.utils.IntegrityError: (1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`oekf$default`.`oekf_youtubevideo`, CONSTRAINT `oekf_youtubevideo_cmsplugin_ptr_id_c9b10230_fk_cms_cmsplugin_id` FOREIGN KEY (`cmsplugin_ptr_id`) REFERENCES `cms_cmsplugin` (`id`))')`

[2021-04-06 18:01] Aiky30 commented on #6997
This PR was failing on the Tests, why was it merged? Failures should never be merged!

[2021-04-07 15:24] jrief commented on #6987
I see your point. In general, it is possible to extend the structure below any plugin to whatever you link. Remember though, that then you have to duplicate those relation between the plugin attached to the "draft" page, when copying to the "public" page. This is described here in detail: https://docs.django-cms.org/en/latest/how_to/custom_plugins.html#handling-relations

– Disclaimer – I am the a

[2021-04-08 22:49] marksweb commented on #7004
Hi @nichoski - are you able to include the full stacktrace for this error please?

If it's only happening occasionally that'd suggest a race condition so seeing the execution stack would be ideal here.

[2021-04-08 22:53] marksweb commented on #6992
I'm closing this based on my current assumptions of what's going on.

@skini-galaxia if you could ensure that fontawesome is included in your template & test again. Failing that post here so we can open this again.

[2021-04-08 22:53] #6992 closed

[2021-04-08 23:31] marksweb commented on #6963
Hi @mattgoins thanks for raising this and putting together the PR. It's refreshing to see sufficient content in each!! 👍

[2021-04-09 09:26] nichoski commented on #7004
Here it is:
`UniqueViolation: duplicate key value violates unique constraint "cms_cmsplugin_path_4917bb44_uniq"
DETAIL:  Key (path)=(1ZUX) already exists.

  File "django/db/backends/utils.py", line 84, in _execute
    return self.cursor.execute(sql, params)
IntegrityError: duplicate key value violates unique constraint "cms_cmsplugin_path_4917bb44_uniq"
DETAIL:  Key (path)=(1ZUX) already exists.

[2021-04-09 09:54] marksweb commented on #7004
@nichoski Is there any double-click prevention in the UI? Just thinking that perhaps if 2 publish requests are sent that would also explain this.

[2021-04-09 10:21] nichoski commented on #7004
@marksweb not that I'm aware of. However, I did try pressing the publish button repeatedly just to test for this back then, but was unable to reproduce it.

[2021-04-09 13:20] openHBP commented on #5694
Same for me with

[2021-04-09 15:54] marksweb opened #7013 "[BUG] doctest not running"
## Description

Looking at the docs, `doctest` doesn't run.

## Steps to reproduce

[code]

## Expected behaviour

The `doctest` functionality should run.

## Actual behaviour

[code]

[2021-04-09 20:37] pcolmant opened #7015 "Django 3.2 use HttpResponse.headers in place of ._headers"
Hello,

As in the release notes of Django 3.2 (https://docs.djangoproject.com/en/3.2/releases/3.2/#requests-and-responses) using repsonse.headers in place of response._headers resolve

  File "xxxxx/lib/python3.9/site-packages/cms/cache/page.py", line 84, in set_page_cache
    response._headers,
AttributeError: 'TemplateResponse' object has no attribute '_headers'

https://github.com/django-cms/dj

[2021-04-12 08:40] gertjanvg commented on #7015
We are encountering the same issue. In addition we found another place where this breaks in the page admin:

https://github.com/django-cms/django-cms/blob/develop/cms/admin/pageadmin.py#L419

[2021-04-12 12:46] pdechery commented on #6687
Still happening in 3.8.0. You just can't access the advanced settings page - except if you turn the `USE_I18N` settings to "True", like noted above.

A very serious bug.

[2021-04-13 13:25] oesah commented on #7004
We have the same issue. No idea where it comes from and we tried many different solutions, but it just keeps happenening. It's also difficult to reproduce, since it seems to happen randomly. Some items work fine, but then others throw this error.

[2021-04-13 14:27] greengoaxe commented on #7003
Hi nichoski,
thank you for your effort.
We could face this unpleasant behavior in 2 steps:
1) Now: Improve our documentation setting a warning for this unpleasant behavior
2) In one of next releases, we can fix that.

Kind regards,

[2021-04-14 04:46] vinitkumar commented on #7015
These and some other known issues has been fixed in this PR:
https://github.com/django-cms/django-cms/pull/7018/files

Could you please try this branch and check if you encounter anymore bugs? Thanks

[2021-04-14 12:08] #7008 closed

[2021-04-14 15:20] macolo commented on #6914
@jrief sounds reasonable to me. I labelled this as "needs contribution".

[2021-04-14 22:08] marksweb commented on #6563
Hi @stefanw, just going over old issues.

Is this considering a `placeholder` to be like a `block` in that a block will be available in the inherited templates?

[2021-04-15 11:32] sudo-hemant opened #7022 "[BUG] In language cookie many token such as LANGUAGE_COOKIE_HTTPONLY, LANGUAGE_COOKIE_SECURE, LANGUAGE_COOKIE_PATH etc. are not being read and set in the language cookie"
## Description

In language cookie many token such as LANGUAGE_COOKIE_HTTPONLY, LANGUAGE_COOKIE_SECURE, LANGUAGE_COOKIE_PATH etc. are not being read and set in the language cookie

## Steps to reproduce
1. Go to this URL : https://github.com/django-cms/django-cms/blob/release/3.8.x/cms/middleware/language.py
2. Scroll to the 21st line (i.e., response.set_cookie(.....) )
3. You will see that the to

[2021-04-15 18:47] soerendip opened #7023 "[BUG] Delete only site leads to 'Site matching query does not exist.'"
I followed the documentation https://docs.django-cms.org/en/latest/introduction/01-install.html to install django-cms manually.

I added a superuser and was able to login.

When going to `/admin/sites` and deleting `example.com` I run into this error:

[code]

from which it seems impossible to recover without manual database manipulation.

I would expect an empty table with the option to create a

[2021-04-15 18:48] soerendip commented on #7023
Sorry, I actually did not add the label `priority high`.

[2021-04-15 20:11] TiredFingers commented on #7023
Hi, @soerendip thanks for the bug report. I tested it and have same effect. Need some discuss

[2021-04-15 23:30] marksweb commented on #6337
Closing this as I can't find "aldryn-reversion" anywhere in the current develop branch.

[2021-04-15 23:30] #6337 closed

[2021-04-15 23:57] marksweb commented on #6593
Hi @air-hand, thanks for raising. However, I think managing content, including slugs, is the responsibility of the user/content creator.

I don't believe this should cause an error. Perhaps an enhancement here would be to add a message warning that there are duplicate slugs.

[2021-04-15 23:58] marksweb commented on #6578
Closing as this appears to have been addressed in #6636

[2021-04-15 23:58] #6578 closed

[2021-04-16 00:10] marksweb commented on #7022
Hi @sudo-hemant I don't think this is an issue for CMS.

`LANGUAGE_COOKIE_HTTPONLY` is a django setting, not django-cms setting.

The feature ticket from django is here; https://code.djangoproject.com/ticket/30304

And the commit into django is here; https://github.com/django/django/commit/19fc6376ce67d01ca37a91ef2f55ef769f50513a

[2021-04-16 00:26] marksweb commented on #7023
Hi @soerendip, while this does cause an error, it's not an error from django-cms.

This is an error from django itself, and I would expect an error here.

To confirm, here's the stacktrace;

[code]

Django generally operates using `Site` objects, you'll notice `django.contrib.sites` in your `INSTALLED_APPS` if you're using the framework. Django creates the first `Site` object using the domain `exa

[2021-04-16 00:36] marksweb commented on #6946
Hi @rg2609 are you able to post the full error/stacktrace to hopefully show where CMS might be getting involved to cause this?

I've just ran this command on a project running CMS with django 2.2 and a project without CMS running django 3.2.

Both commands completed without any output or errors.

Also, on a side note because I didn't know this feature existed - what's the benefit of this? If I'm i

[2021-04-16 10:21] greengoaxe commented on #7001
Hi Sven van de Scheur,
thank you for your contributing. dCA appreciated it.
Due to your last comment, the issue will be closed soon.
Nevertheless, dCA pushes everyone to keep contributing to this project, so if you catch a bug, raise it here, on Github, make a pull request and join dCA Community on Slack looking for a reviewer. Further information in [https://github.com/django-cms/django-cms/blob/

[2021-04-16 10:21] #7001 closed

[2021-04-16 10:25] greengoaxe commented on #7001
Hi Sven van de Scheur,
thank you for your code, but, next time, you should create a pull request for that.
Kind regards,
greengoaxe

[2021-04-16 10:27] greengoaxe commented on #7003
Hi nichoski,
are you using ckeditor5 table or django-cms one(i.e. no plug-in)?

Kind regards,
greengoaxe

[2021-04-16 11:40] #7022 closed

[2021-04-16 12:18] VeshRaazThapa commented on #6889
Has anyone got any solutions ? i am also facing the same issue

[2021-04-16 12:33] macolo commented on #6997
@NicolaiRidani something that needs to be done here? Was the failing test resolved?

[2021-04-16 12:43] air-hand commented on #6593
@marksweb thanks for reply.
I agree your opinion.
At least I want to know if there are duplicates, so it doesn't have to be an error.

and, maybe #6840 is the same issue.

[2021-04-16 12:46] marksweb commented on #6593
@air-hand Yeah that does look the same, well spotted!

[2021-04-16 12:57] air-hand commented on #6593
@marksweb The issue looks like on going. should I close this?

[2021-04-16 12:59] marksweb commented on #6593
@air-hand yeah, please. The other has a PR attached as well so I've assigned that to me & I'll review that & take it from here 👍

[2021-04-16 13:04] #6593 closed

[2021-04-16 13:06] stefanw commented on #6563
Hey @marksweb, not quite sure what you mean. I stumbled upon this a while ago, but I worked around the problem.

Django supports recursive template extends: extend a template with one that has the same name, but is resolved as the next one in the template loader chain (e.g. see [skip argument to get_template](https://docs.djangoproject.com/en/3.2/ref/templates/api/#django.template.loaders.base.Loa

[2021-04-16 13:41] marksweb commented on #6563
Thanks @stefanw, I think I completely missed the PR when I was looking through here last night 🤦‍♂️

[2021-04-16 14:52] soerendip commented on #7023
I thought that is what I did. Though, if the interface becomes unusable if a user by accident or by curiosity deleted the object, maybe it would be wise to hide that functionality or at least add a comment. Or better would be to catch it.

________________________________
From: Mark Walker ***@***.***>
Sent: Thursday, April 15, 2021 6:26:34 PM
To: django-cms/django-cms ***@***.***>
Cc: Sören ***@*

[2021-04-16 15:28] greyhare commented on #6911
So is there some specific reason you need me to fix this, or is this standard practice? Because I don't have the first clue how `cms check` works internally.

[2021-04-16 21:57] marksweb commented on #7023
Yeah, I don't disagree @soerendip, but any change would be for django itself, not django-cms.

There's nothing we can do about that in this app. I'm going to close this as it's a third party issue.

[2021-04-16 21:57] #7023 closed

[2021-04-17 13:24] jiangpuxuan commented on #5694
My project is also:

Django==3.1.6/3.2.0
django-cms==3.8.0
djangocms-admin-style==2.0.2

and  I faced the similar error. The page tree appeared abnormal and I cannot add any thing.

[2021-04-17 17:15] soerendip commented on #7023
You cannot remove it from the admin pannel, for example, and set the site name with an environment variable, or a variable in settings?

[2021-04-17 18:14] TiredFingers commented on #7023
Actually we can restrict deletion of the last site

[2021-04-17 19:09] marksweb commented on #7023
Remove the sites section?

Yeah you could do that. You'd just have to unregister the model from admin. Basically the opposite of how you get your models in there.

[2021-04-17 19:10] marksweb commented on #7023
While that may be true, it would be something better done at a project level if the developers wanted to do that.

[2021-04-19 16:16] macolo commented on #6911
Hi @greyhare it is standard practice. We are actively looking for contributors, anyone can contribute. :)

[2021-04-19 18:37] greyhare commented on #6911
So what does Divio do, then?

[2021-04-20 06:32] NicolaiRidani commented on #6911
Hi @greyhare the django CMS project is now backed by the django CMS Association, an organization that was formed by the django CMS community. In other words: the django CMS project is now maintained and managed by the django CMS community. That's the reason why we are inviting everyone to contribute to the project. You can learn more about our contributor program [here](https://www.django-cms.org/

[2021-04-21 10:58] victor-yunenko commented on #6978
Hi @fp4code, it appears that this problem might be related to the fix for #6622? [The git diff](https://github.com/django-cms/django-cms/commit/6e7b0ae48159787c01fb9f8ae4de9a112495c4d6) from the PR adds the code lines in question. Is this something you could help with?

[2021-04-21 11:01] victor-yunenko commented on #6970
Yes that would make sense to close in favour of the ckeditor5 integration, since it would be resolved once we're done with it. Here's the workgroup tech brief that contains the relevant details - https://hackmd.io/@django-cms/workgroup-ckeditor5

[2021-04-21 11:01] #6970 closed

[2021-04-21 12:28] greengoaxe commented on #6947
Hi David Gomez,
thank you for your issue and your contribution. dCA appreciated it.
I read that you're using Django 1.11.8 and Django CMS 3.4.7. May you check if the issue persist again on the latest version of Django and django-cms?
Thank you in advance for your cooperation.
Kind regards,
greengoaxe

[2021-04-21 12:42] greengoaxe commented on #6942
Hi Ravinda Gupta,
thank you for your issue and your contribution. dCA appreciated it.
May you provide your fix creating a pull request?
Thank you in advance for your cooperation.
Kind regards,
greengoaxe

[2021-04-21 12:46] greengoaxe commented on #6934
Hi Ravinda Gupta,
thank you for your issue and your contribution. dCA appreciated it.
May you provide your fix creating a pull request, if you have any?
Thank you in advance for your cooperation.
Kind regards,
greengoaxe

[2021-04-21 14:11] fp4code commented on #6978
I don't know about "You'll see the page saved notification with the title in the wrong language". I see indeed the wrong notification on my local 3.7 test server but I'm not able to see this notification on my patched running server. But that's just a notification.

In contrast, the nasty "All child pages now have the path <parent-path-in-different-language>/<child-slug>/" is fixed indeed by #6968

[2021-04-21 15:38] openHBP commented on #5694
The strange thing is that it is working in dev on my PC but not in prod on line with the same DB even after backup and restore.
But by chance I've tried **with Opera Navigator and it works!** I've removed all cashed and saved data on Chrome by using 'Chrome Cleaner 1.3.2' but the TreeView is still not showing!?

[2021-04-21 16:06] jiangpuxuan commented on #5694
Thank you very much for your reply！ I will
try it tomorrow.&nbsp;

---Original---
From: ***@***.***&gt;
Date: Wed, Apr 21, 2021 23:39 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [django-cms/django-cms] Page admin tree-view does not display sub-pages with CMS 3.4 / Django 1.9 (#5694)

The strange thing is that it is working in dev on my PC but not in prod on line with the s

[2021-04-21 16:17] openHBP commented on #5178
to solve this issue, I've removed the fact that there must be an attached model in `cms.models.placeholdermodel.Placeholder`

[code]

[2021-04-22 01:33] marksweb commented on #6909
The part of the theme which builds this link is here; https://github.com/divio/docs-theme/blob/master/src/furo/theme/furo/page.html#L113

[code]

[2021-04-22 02:01] jiangpuxuan commented on #5694
I tried it on opera navigator, but it doesn't works. I have raised this issue on Stackoverflow, as well.
![image](https://user-images.githubusercontent.com/81287604/115644737-a58b9980-a351-11eb-91d5-0bf82a04bff3.png)

[2021-04-22 09:58] openHBP commented on #5694
Ok thanks, keep me informed. In my case on Firefox or Chrome a click on **Pages** at least expand the beginning of the Tree-view (level 0 and 1 but not 2, 3 & 4). Just to be sure, is the CMS_PERMISSIONS set to True in your `settings.py`? Note also that with django 3.2 I'm encountering an other issue not yet released: https://github.com/django-cms/django-cms/issues/7015. I suggest to stay with djan

[2021-04-22 14:03] jiangpuxuan commented on #5694
Thank you for your advice, but I surely keep CMS_PERMISSIONS set to True, and have been facing this problem from 3.1.6 to 3.1.7 and 3.2.0.

[2021-04-23 10:59] victor-yunenko commented on #6978
Thank you for your quick reply!

I also wasn't able to reproduce it on django-cms 3.7.4, django 2.2.17 and python 3.6.

@nicolaslara, please let me know if you find a way to reproduce it with the default (or any specific) cms config.

[2021-04-23 13:51] falconyue commented on #6941
I got same problem

[2021-04-23 14:14] crydotsnake commented on #6941
Hello @falconyue and @rg2609 !.

Try to include bootstrap itself in your project.

[2021-04-23 14:16] crydotsnake commented on #6941
The djangocms_bootstrap4 package does not include the styling for bootstrap.

djangocms_bootstrap4 README:

`django CMS Bootstrap 4 does not add the styles or javascript files to your frontend, these need to be added at your discretion.`
https://github.com/django-cms/djangocms-bootstrap4/

You will need to include the bootstrap core in your project (and also in your template of course)

[2021-04-24 03:16] falconyue commented on #6941
I included resource of bootstrap 4 in my template files, and it works. thanks @crydotsnake

[2021-04-24 13:16] crydotsnake commented on #6941
Glad i could help :) !

[2021-04-25 20:14] pcolmant opened #7026 "The file 'cms/fonts/3.8.0rc1/django-cms-iconfont.eot' could not be found"
## Description

The file 'cms/fonts/3.8.0rc1/django-cms-iconfont.eot' could not be found.
It is referenced in django-cms/cms/static/cms/css/3.8.0rc1/cms.base.css

url(../../fonts/3.8.0rc1/django-cms-iconfont.eot);src:url(../../fonts/3.8.0rc1/django-cms-iconfont.eot#iefix)

Are the 3.8.0rc1 directories still needed?

[2021-04-27 16:10] preinhart commented on #6085
I have this problem as soon as I fill placeholders with plugins:

`Attempted to add a tree node that is already in the database`

Pages without plugins can be published, only with plugins produces the error, no matter which plugins.

django_cms==3.8.0, django-treebeard==4.5.1, Python==3.6.9, django==3.1.8

[2021-04-27 16:16] marcoacierno commented on #6085
While I don't work at the company where I had this issue anymore and I also know they stopped using django-cms due this problem (which was: every time they tried to change something it would delete everything, making updating the site impossible) and many other problems, as other people are reporting that they have the same issue I think reopening this issue might be helpful

Feel free to close it

[2021-04-27 16:52] preinhart commented on #6085
For me, this problem occurs in general, after fresh installation on the first page.

`Attempted to add a tree node that is already in the database`
`Request Method: POST`
`Request URL: XXX`
`Django Version: 3.1.8`
`Exception Type: NodeAlreadySaved`
`Exception Value: Attempted to add a tree node that is already in the database`
`Exception Location: /python-app-venv/lib/python3.6/site-packages/treeb

[2021-04-27 17:33] vinitkumar commented on #6085
@preinhart Please check this thread, https://django-cmsworkspace.slack.com/archives/CQ97U91UM/p1613655590140300. The gist is that you need to pin django-treebeard to a version less than v4.5.0. Please read this thread for more details.

[2021-04-27 18:27] preinhart commented on #6085
Unfortunately no improvement with `django_treebeard==4.4`

[code]
I am trying to configure two sites with one database, the first `settings.py` with `SITE_ID = 1` and the second `settings.py` with `SITE_ID = 2`.

[2021-04-27 20:44] vinitkumar commented on #6085
That's weird. Could you please post the output for your `pip freeze`?

[2021-04-28 07:01] vinitkumar commented on #6085
@preinhart

I can spot the problem right here. You are using `django-treebeard==4.5.1`. This is a buggy version.
Switch to a version below 4.5 like this: `django-treebeard==4.4`
And you will not face these issues anymore.

[2021-04-28 08:03] preinhart commented on #6085
Both environments (`SITE_ID = 1` and `SITE_ID = 2`) are equal, but not the same.

[code]

Using `django-treebeard==4.4` in both environments resulted in `SITE_ID = 1` working, `SITE_ID = 2` unfortunately still not.

I double checked that both environments use django-treebeard==4.4 :-)

Thanks for the help!

[2021-04-28 13:10] preinhart commented on #6085
My tests have shown that the problem:

`Attempted to add a tree node that is already in the database`

occurs regularly in a multisite setup. With one site `SITE_ID = 1` it works without error, the error occurs as soon as a second environment with a new `settings.py` (`SITE_ID = 2`) uses the same database.

Maybe there is a way to set the `SITE_ID` in the `settings.py` dynamically? I tried somethi

[2021-04-28 22:46] marksweb commented on #7026
Ironically #6996 just removed similar files.

What version are you seeing this in? I can't see any refs to this path in the develop branch.

[2021-04-28 23:07] marksweb commented on #6603
Closing as the issue appears to have been resolved.

[2021-04-28 23:07] #6603 closed

[2021-04-28 23:09] marksweb commented on #6601
Hi @MacLake, did you ever resolve this?

I've never had this happen or see it reported before.

[2021-04-28 23:24] marksweb commented on #6695
@NicolaiRidani are you able to move this issue to `aldryn_newsblog`? The error is coming out of that app, not the CMS itself.

[2021-04-29 06:57] nicolaslara commented on #6978
I unfortunately don't currently have the time to chase for the config to reproduce this, but I can try to upgrade the codebase where I was seeing the problem to `develop` (minus my workaround) and see if it fixes the problem.

Based on reading the code of the linked PRs, I'd expect those to fix this issue.

[2021-04-29 17:26] vinitkumar commented on #6085
@preinhart We use this at work. https://github.com/nephila/djangocms-multisite. This might solve your issues.

[2021-04-29 21:50] marksweb commented on #7026
I've removed the high priority label as I can't see any sign of these files in the develop branch.

[2021-05-04 13:10] ReminoR opened #7029 "[BUG] User has permissions, but cannot use it."
## Description
We've created a new user (leader_project) and added his in group "leaders_project". The next permissions were setup for the group:
cms | page | Can add page
cms | page | Can change page
cms | page | Can delete page
cms | page | Can publish page
cms | page | Can view page

and also the permissions of pages
![image](https://user-images.githubusercontent.com/31583955/117003144-b0a9d680

[2021-05-04 17:36] RNCTX commented on #7015
Works for me.  Oddly the issue was only in Chrome.  Safari worked okay (on OSX Big Sur).

[2021-05-05 09:34] marksweb commented on #6085
@vinitkumar @preinhart On that note, I have a fork to fix migration from an empty database on the underlying library for that package;

https://github.com/shestera/django-multisite/compare/master...marksweb:master

I think I recall getting a `Site does not exist` type error when starting a new project with multisite support.

[2021-05-05 15:27] greengoaxe commented on #6085
Hi @preinhart,
we need the code where we can reproduce the error and then try to fix it.
Thanks for your cooperation.
greengoaxe

[2021-05-06 12:00] monim67 opened #7030 "Permission signals don't work when user model is customized"
## Description

Permission signals don't work when the user model is customized by AUTH_USER_MODEL settings.

## Steps to reproduce

Steps to reproduce the behavior:
1. Start with a fresh django-cms installation.
2. Customize the default user model by setting AUTH_USER_MODEL to your own user model.
3. Migrate and start the development server.
4. Login to CMS and create a new user.

## Expected beh

[2021-05-06 14:24] victor-yunenko opened #7031 "[BUG] All docs.django-cms.org pages "Edit on GitHub" links lead to 404"
## Steps to reproduce
- open any page on https://docs.django-cms.org/en/latest/
- scroll to the bottom of the page and click on the "Edit on GitHub" link
- it leads to https://github.com/django-cms/django-cms//develop/docs/index

[2021-05-07 09:11] #7013 closed

[2021-05-07 12:28] fp4code opened #7032 "[BUG] PosgreSQL database never tested in github actions (missing DATABASE_URL, Sqlite database is used instead)"
## Description
In actions like this
https://github.com/django-cms/django-cms/runs/2525907440?check_suite_focus=true
(database-postgres test), Sqlite is used instead of PostgreSQL.

Here `DATABASE_URL: postgres://postgres:postgres@127.0.0.1/postgres` is missing
https://github.com/django-cms/django-cms/blob/f3285b659eb5094c3a1e318e8c520aae63555c9a/.github/workflows/test.yml#L50

As the PR #7027 is n

[2021-05-07 17:00] fp4code commented on #7032
PR Accepted, thanks!

[2021-05-07 17:00] #7032 closed

[2021-05-08 11:16] marksweb commented on #7031
I saw this recently @victor-yunenko

I assume its a slash in a setting that doesn't need to be there. Perhaps in RTD for the branch name.

Need someone with access to RTD settings to have a look over them.

[2021-05-08 14:35] victor-yunenko commented on #7031
Hi @NicolaiRidani, perhaps you can ask Anatoliy to take a look?

[2021-05-12 09:19] goutnet commented on #6622
@benzkji we aim to have this merged in 3.8.1 (which is likely going to be a 3.9.0).

Could you help us testing last `develop`  branch?

[2021-05-12 09:32] benzkji commented on #6622
nice. yes, I will, ...Monday probably.

[2021-05-12 10:07] MacLake commented on #6601
HI @marksweb , no, we never resolved this, and this issue is still getting on our nerves, in the meantime with djangoCMS 3.8.0 and Django 3.1.10. Well, you can live with it, since it doesn’t affect the readers, only the editors, but it’s not nice, and also for the acceptance within our company it would be better that my colleagues don’t get the impression of a buggy CMS.

[2021-05-12 10:24] marksweb commented on #6601
@MacLake Thanks for the feedback. I'll try to gather the thoughts of other maintainers to see if we can get to the bottom of this one.

[2021-05-12 10:37] goutnet commented on #6622
ok, thanks. With that said we aim to close the merge window this weekend :)

[2021-05-12 10:43] vinitkumar commented on #6601
@MacLake Can you reliably reproduce the error? If so, can you please be kind enough to do a screen-recording and share it with us? It will greatly help us reproduce and possibly also fix it.

[2021-05-12 10:44] MacLake commented on #6601
@marksweb Thanks for taking care of this! One more thing: Our setup is a multi-site and multilingual instance. We have used the same database for all these sites. Recently we have added another site. Since we have external editors for this EU project, I use a new separate database for this new site in order to have a better separation, but still the same virtualenv. In this new site I haven’t seen

[2021-05-12 11:01] marksweb commented on #6601
@MacLake thanks for the additional info.

As a side note, I'm also running a multisite setup in multiple languages using 1 database as well 👍
This system is currently on python 3.7 or 3.8, Django 2.2 and cms 3.7 I believe.

Initially what this looks like to me is an issue related to javascript, so browser details would also be helpful.

[2021-05-12 19:52] MichaelAnckaert opened #7033 "[BUG] management command "cms check" doesn't work"
## Description

When running the command `python manage.py cms check` on the develop branch there is an issue with the argument parsing of the custom management command.

I am aware that this happens on a development branch. This issue is mainly to raise awareness and coordinate any efforts to fix this issue.

## Steps to reproduce

Run the command  `python manage.py cms check` and the following o

[2021-05-13 21:40] MacLake commented on #6601
So here is my screen recording. It took some time to capture it, as this bug only occurs every now and then, not every time, but often enough to bother the editing users. So I can’t reliably reproduce it in the sense that you see it every time after doing certain actions.

https://user-images.githubusercontent.com/9460962/118189692-63caac00-b442-11eb-9025-546b49241d9f.mp4

I agree, it seems to be

[2021-05-14 07:41] #7030 closed

[2021-05-17 02:44] goutnet commented on #7026
@pcolmant I just grepped the code, and could not find any occurrence of `3.8.0rc1`  in the code.

Can we close this?

[2021-05-18 09:07] #7015 closed

[2021-05-18 16:27] #6973 closed

[2021-05-19 01:54] goutnet commented on #6894
merged in develop (and will be released on 3.9.0) see #6919

thanks!

[2021-05-19 01:54] #6894 closed

[2021-05-19 02:38] goutnet commented on #7033
we will need to check this on the coming release 3.9.0 and fix it before release then.

@vinitkumar  @marksweb  could you help me check?

[2021-05-19 02:39] goutnet commented on #7026
Can not reproduce on develop

[2021-05-19 02:39] #7026 closed

[2021-05-19 02:48] goutnet commented on #6941
closing this issue, as solutino was provided by @crydotsnake

[2021-05-19 02:48] #6941 closed

[2021-05-19 08:23] #6413 closed

[2021-05-19 08:47] #6563 closed

[2021-05-19 09:41] #6308 closed

[2021-05-19 16:10] flutterq commented on #5885
[[Solved] PgAdmin4 - 'NoneType' object has no attribute 'value'](pgadmin4-nonetype-object-has-no-attribute-value)

[2021-05-19 17:35] marksweb commented on #7033
@goutnet absolutely. Only just seen this so will try to take a look tonight when I'm doing some work 👍

[2021-05-20 03:51] goutnet commented on #7033
now that 3.9.0rc1 is out, can we check this on that release?

[2021-05-20 10:46] marksweb commented on #7033
@goutnet I'm not seeing this with 3.9rc1

I get the following;

[code]

Not sure what that `CommandError` is yet, and I'm reminded that the middleware check annoys me because I've a subclass of `SessionMiddleware`

[2021-05-20 20:21] mbi opened #7048 "[BUG] 3.9rc1: wrong bundled js folder"
## Description

The Javascript static files in the 3.9rc1 PyPI release are bundled in [dist/3.8.0](https://github.com/django-cms/django-cms/tree/release/3.9.x/cms/static/cms/js) instead of `dist/3.9rc1`, so both the page tree admin and editing of content doesn't work because all javascript static URLs return a 404.

## Steps to reproduce

Try to edit a page or list pages in the admin.

## Expected

[2021-05-20 23:05] goutnet commented on #7048
checking this now

[2021-05-20 23:06] goutnet commented on #7048
confirmed, this is a problem with the release script and invalidates RC1.

Let me fix this now

[2021-05-21 02:39] goutnet commented on #7048
I fixed it on the branch, can you check on release/3.9.x branch?

Here is a bulid of the release:

[dist.zip](https://github.com/django-cms/django-cms/files/6519689/dist.zip)

[2021-05-21 04:46] mbi commented on #7048
Checked by installing the wheel in the zip, confirmed it fixes the problem, thanks for the quick fix! :+1:

[2021-05-21 05:03] mbi commented on #7033
Confirmed, I'm still seeing this in 3.9.0rc1 installed from the updated zip from #7048
[code]

[2021-05-21 06:27] MichaelAnckaert commented on #7033
This issue still occurs when testing on the `develop` branch. Haven't had time to test it out with the 3.9.0rc1 but I believe this should be the same result?

[2021-05-21 08:50] goutnet commented on #7048
Ok, I am releasing RC2 right now with this fix!

[2021-05-21 09:27] mbi commented on #7048
Awesome: tested the RC2, all good :+1:
Thank you for the quick fix!

[2021-05-21 09:27] #7048 closed

[2021-05-21 10:28] goutnet commented on #7033
can you share a bit more of your setup to see how we can reproduce this issue?

3.9.0rc1 and develop are very close
3.9.0rc2 (just released) only fixes the assets.

[2021-05-21 11:01] mbi commented on #7033
@goutnet if it helps, here is a very minimal test case based on our [project template](https://github.com/cruncher/project-template).

[code]

[2021-05-21 17:00] goutnet commented on #7033
using this scenario I am able to reproduce your issue, thanks for sharing, but by the look of it the execution breaks in django code (before hitting CMS). Let me check this.

[2021-05-21 17:05] goutnet commented on #7033
After upgrading treebeard to 4.5.1 seems the issue is gone, can you check on your end?

`pip install --upgrade  django-treebeard`

[2021-05-21 17:06] goutnet commented on #7033
@MichaelAnckaert @mbi can you check if upgrading treebeard in your installation fixes the issue?

[2021-05-21 17:21] marksweb commented on #7033
I have `django-treebeard==4.4` with my working example from above.

[2021-05-21 18:00] mbi commented on #7033
@goutnet

Not related, apparently:

[code]

[2021-05-21 18:06] mbi commented on #7033
@goutnet here is the bug:

https://github.com/django-cms/django-cms/blob/develop/cms/management/commands/subcommands/base.py#L40

If you also import `DJANGO_3_2`  [here](https://github.com/django-cms/django-cms/blob/develop/cms/management/commands/subcommands/base.py#L8) and then include `or DJANGO_3_2` in the test [here](https://github.com/django-cms/django-cms/blob/develop/cms/management/command

[2021-05-21 18:21] MichaelAnckaert commented on #7033
Can confirm that the fix by @mbi (#7054 ) fixes the issue.

Updating the `django-treebeard` package had no effect.

[2021-05-21 21:01] marksweb commented on #7033
Alright, I've been working on too many projects & too many upgrades to 3.2 😆

I've confirmed this bug, tested the PR and can confirm the first 👍

[2021-05-22 00:14] goutnet commented on #7033
Fixed onto `release/3.9.x` branch, thanks!

we will merge `release/3.9.x` onto develop when the release gets stable :)

[2021-05-22 00:14] #7033 closed

[2021-05-22 00:27] goutnet commented on #7029
Hi does this behavior persist for any new page created after the first point?

[2021-05-22 00:37] goutnet commented on #7029
Another question, would you be able to reproduce this with an earlier version of Django? (you are currently running 2.2)

[2021-05-22 00:49] goutnet commented on #6978
@nicolaslara  could you try to upgrade to 3.9.0rc2 to see if this issue is fixed maybe?

[2021-05-22 22:33] marksweb opened #7056 "Django/Python compatibility table out of date"
It's been raised on slack that the [Django/Python compatibility table](https://docs.django-cms.org/en/latest/#django-python-compatibility-table) section of the docs needs updating.

The latest django-cms version on there is 3.7 so the primary need for change is to get 3.8, 3.9 and maybe 4 onto this table.

It also goes back to CMS 3.0, python 2.6 and django 1.4 so I think it'd be fair to remove so

[2021-05-24 09:25] #7056 closed

[2021-05-24 09:29] marksweb commented on #7029
@ReminoR  When you say that they cannot use their permissions, what do they actually see? Are they able to login via admin & see the CMS toolbar?

[2021-05-25 04:37] ReminoR commented on #7029
Yes, this behavior persist after creation a new page, but it's good after relogin of user.

![image](https://user-images.githubusercontent.com/31583955/119439851-67690780-bd4d-11eb-85cc-5dd6ac1ba01e.png)

[2021-05-25 04:44] ReminoR commented on #7029
Yes, they can see the CMS toolbar and even they can edit page, but cannot publish it, cannot move it, cannot edit advanced settings.

![image](https://user-images.githubusercontent.com/31583955/119440320-43f28c80-bd4e-11eb-8897-96fd3eb2ca29.png)

[2021-05-25 04:46] ReminoR commented on #7029
I will try use the newest Django as soon as posible. We hope it will decide the problem.

[2021-05-25 09:06] goutnet commented on #7029
ah!! that's interesting feedback, sounds like this is an issue lying in the session Handling. Let us know if you can reproduce this on a newer version of Django, if yes we will have to investigate :)

[2021-05-26 13:52] FinalAngel opened #7061 "[BUG] add DJANGO_3_2 to certain conditions"
## Description

https://github.com/django-cms/django-cms/blob/develop/cms/management/commands/subcommands/base.py#L40

There are also some places used inside the tests.

``DJANGO_3_2`` should be added to those conditions

This only affects django CMS 3.9.x

[2021-05-27 04:06] #7061 closed

[2021-05-27 05:26] mbi commented on #6908
This looks like a dupe of #6687 (which was fixed a couple months ago)

[2021-05-28 05:17] wfehr commented on #6783
I am also having the described problem.

Versions:
- django-cms: 3.8.0
- django: 3.1.8

Problem is also a overriden "Home"-translation:
[code]

![pagetree_error](https://user-images.githubusercontent.com/24782511/119933550-9b7a3d80-bf84-11eb-822c-e9d63345a54e.png)

[2021-05-28 06:28] goutnet commented on #6783
I can fix that in the translation

[2021-05-28 06:33] goutnet commented on #6783
in the French translation the string "Home" does not map to something with a quote in there (with that said we should really fix the escaped string ).

Can you check if you still have this issue on 3.9.0rc2 ?

[2021-05-28 06:35] goutnet commented on #6783
in the last translations (on 3.9):

[code]

[2021-05-28 06:45] wfehr commented on #6783
The problem is still present and it's not because of the default translation for "Home" (as you pointed out, there is no single quote in there).

As long as you override "Home" with a string containing a single quote, the problem occurs.

That said: I made a workaround in my system by changing the translation from "Home" to something different (e.g. "foo Home"), then the page-tree works as it shou

[2021-05-29 10:30] crydotsnake commented on #7031
Would love to help out here, but its hard to test it local. Because locally you dont have the "Edit on GitHub" Button.

[2021-06-02 09:56] marcosguedes opened #7068 "[BUG] Javascript: TypeError: t is undefined when saving a plugin on a static_placeholder in an apphook"
## Description

When I attempt to save a plugin belonging to a static_placeholder inside an apphook page, the page reloads and throws a TypeError on bundle.toolbar.min.js. Reloading the page manually fixes the issue

## Steps to reproduce

1. Place a static_placeholder anywhere on base.html
2. Create CMS Page and add an apphook. Publish and reload
3. Enter edit mode and add/edit a plugin. Press Sa

[2021-06-02 10:33] ReminoR commented on #7029
Dear Goutnet, I'm checked the issue on local machine, with pure installation, on the newest Django (3.1.11) and Djangocms (3.8.0). The problem was repeated. Please, look screenshot.

![image](https://user-images.githubusercontent.com/31583955/120465789-8a885c80-c3c8-11eb-9533-62a1ab981c14.png)

[2021-06-02 12:58] goutnet commented on #7029
Hi, ok we will have to get a look at it.

For information though, the latest version of djangoCMS is `3.9.0rc2` and
django would be `3.2` at that point, but I don't see much that would have
changed in the session handling between 3.8 and 3.9 so it is likely still
there.

Let us check.
--

Florian Delizy

On Wed, Jun 2, 2021 at 6:34 PM Victor Shamakov ***@***.***>
wrote:

[2021-06-02 13:16] corentinbettiol commented on #4143
*Replying to this issue since it spawns in Google for "djangocms cmsplugin relations":*

We created a custom relation between `class 1` and `class 2` using a new class and `uuid` (the uuids are the same for the draft & live version of each plugin for each class) to be able to add ids of `class 1` in `class 2` in the `copy_relations` function of `class 1` when the page containing an instance of `cl

[2021-06-02 13:51] OneMillionCode commented on #6663
Hi， Could you please tell me how to solve time problem? I has spent a lot of time on it and I still has no idea about it.
Thank you very much.

[2021-06-02 15:40] vinitkumar commented on #6663
@OneMillionCode Are you on a slow internet connection or perhaps behind a firewall, that doesn't let you install packages from pypi? And please add any errors that you got so that we can reply looking at it.

[2021-06-02 16:42] nichoski opened #7069 "[BUG] Page becomes slow/unresponsive after plugin adding/editing/removing"
## Description

On django-cms projects with a large number of sub-sites, editing/adding/removing/changing position on plugins freezes the browser for around a minute. On some devices the page crashes or becomes unresponsive indefinitely. We identified this to be caused by diff-dom library struggling with large amounts of html elements when trying to refresh the page's toolbar content. After a plug

[2021-06-02 16:45] goutnet commented on #7069
Hi @nichoski I see you are using release 3.7.4, do you think you could also try to upgrade to 3.9.0rc2 to test? (and then maybe send a PR for this version if you are working on one?)

[2021-06-02 19:59] crydotsnake commented on #7029
I can also confirm the bug for djangoCMS Version 3.9.0-RC2

[2021-06-03 01:42] OneMillionCode commented on #6663
@vinitkumar I install packages form [https://pypi.tuna.tsinghua.edu.cn/simple]. Error as follows.

`
django-cms-study) lrc@ubuntu:~/cmsproject$ djangocms -f -p . mysite
Creating the project
Please wait while I install dependencies
If I am stuck for a long time, please check for connectivity / PyPi issues
ERROR: cmd : ['/home/lrc/.virtualenvs/django-cms-study/bin/python', '-mpip', 'install', '--dis

[2021-06-03 03:15] vinitkumar commented on #6663
@OneMillionCode I think this has definitely something to do with your mirror. Not sure, if it's possible, have you tried doing it with the main pypi mirror?

[2021-06-03 08:41] OneMillionCode commented on #6663
@vinitkumar  Thank you for your help. when I switch to the originate pip source, It download successful. Thanks again.

[2021-06-03 11:41] nichoski commented on #7069
@goutnet Unfortunately we don't have the option to upgrade the project's django-cms version to 3.9. Could this be backported in to a 3.7.x branch? Here is the pull request to develop:
https://github.com/django-cms/django-cms/pull/7070

[2021-06-04 07:57] rpep opened #7071 "[BUG] Problems integrating Django CMS into an existing Django project"
## Description

I'm starting to work on a DjangoCMS project. This is based on an older Django page and so I've followed the self install instructions. I can see the toolbar, etc. in a page I have created, but I cannot click into the 'placeholders' to edit them, and they don't show up in the structure view

My 'base' template code (excluding only a load of stylesheets that get pulled in):
[code]
a

[2021-06-04 08:14] crydotsnake commented on #7071
@rpep `{% load cms_tags sekizai_tags static %}` Should be at the top of your template

[2021-06-04 08:25] rpep commented on #7071
@crydotsnake it is; should they be in a different place?

[2021-06-04 09:03] crydotsnake commented on #7071
In the first line: 1

[2021-06-04 12:17] rpep commented on #7071
No change unfortunately

[2021-06-04 15:43] rpep commented on #7071
Fixed it! It was because an existing file was listed in urls.py which had a view that used 'home.html' (which I had modified). When I removed this, it no longer took precedence over the homepage Django CMS was using (also based on 'home.html'). Because I'd got the CMS toolbar, etc. in the 'home.html' page, it *looked* like it was a CMS editable page, but was not the correct place.

[2021-06-04 15:43] #7071 closed

[2021-06-11 11:40] fp4code opened #7072 "[BUG] Copy-paste of structure content between sites does not always work (random behavior)"
## Description

On two different sites, sharing the same database served through the same nginx, two different uwsgi,
I do a "Copy all" in structure mode from a page of the first site, and then a "Paste" in structure mode to a page of the other site. Sometimes, it's working, sometimes, for another destination page on the same second site, it's not working.

Method: 	POST
Request URL: 	https://dest

[2021-06-11 11:56] fp4code commented on #7072
It is a mistake if I put the priority: high. I think it is more a medium priority. How to change that?

[2021-06-13 09:32] CruiseDevice commented on #7072
@fp4code On the right below Assignees, there is Labels. You can edit them..

[2021-06-13 10:11] fp4code commented on #7072
If I click on it, I obtain the list of all high priority issues.

[2021-06-15 17:14] vinitkumar commented on #7072
I changed the status to priority:medium as you wanted.

[2021-06-18 14:29] robertpro commented on #7015
Is this code going to be released soon?

[2021-06-18 14:41] NicolaiRidani commented on #7015
Hi @robertpro, if you want to stay up to date on the release process, I would suggest joining the official django CMS [ Slack](www.django-cms.org/slack). We have a workgroup dedicated to the release management process. Their Slack channel is #workgroup-release-management - I'm sure they'll be happy to answer your questions.

Best
Nicolai

[2021-06-18 14:42] robertpro commented on #7015
@NicolaiRidani Thank you!

[2021-06-18 17:51] gabrielcandrade commented on #7029
@ReminoR

Hello Reminor, sorry about the delay for reaching with some others questions. But can you detail how you create these pages?

They are created by code, just like:

`page = create_page(**kwargs)?`

I'm asking this, because with create_page() method, there's some others functions that need to be called to publish their pages. Maybe this is one of the problems that you are suffering. After

[2021-06-19 07:33] vivazzi commented on #6889
I have the same problem - this bug appears when template has two or more static_placeholder with same names.

I used my workaround:

I copied `/path_to_env_of_my_project/lib/python3.8/site-packages/cms/static/cms/js/dist/3.8.0/bundle.toolbar.min.js` file to `/path_to_my_project/static/cms/js/dist/3.8.0/bundle.toolbar.min.js`.

Then I fixed `bundle.toolbar.min.js`, added `if (Array.isArray(this.ui.

[2021-06-25 06:38] pupattan opened #7080 "[BUG] Unable to edit custom plugin although permissions are set"
## Description
Unable to edit plugin although permissions are set

## Steps to reproduce

- Create user with staff
- `User.objects.create_user(email, email, password, first_name=first_name, last_name=last_name, is_staff=True)`
- Add all CMS permissions
- Create pages and add plugins (custom) using api
- CMS_PERMISSION = True is set

## Expected behaviour
User should be able to edit  plugins

## Ac

[2021-06-27 12:58] OMH-G commented on #6776
I have an suggestion that if we store the current user in an instance before login and delete that current user after login .

self.user = get_user_model().objects.create_user('a', 'b', 'pass')
self.store=get_user_model().objects.get(username='a',password='pass')#Adding line
self.client.login(username='a', password='pass')

response = self.client.post('/create_user/')

print(get_user_model().objec

[2021-06-27 12:58] OMH-G commented on #6776
I have an suggestion that if we store the current user in an instance before login and delete that current user after login .

self.user = get_user_model().objects.create_user('a', 'b', 'pass')
self.store=get_user_model().objects.get(username='a',password='pass')#Adding line
self.client.login(username='a', password='pass')

response = self.client.post('/create_user/')

print(get_user_model().objec

[2021-07-01 22:52] #7069 closed

[2021-07-02 19:16] crydotsnake commented on #7080
And if you try to upgrade your djangoCMS version?

[2021-07-05 15:16] air-hand opened #7088 "[BUG] Incorrect page permission's cache"
## Description

There are two bugs with CMS_PERMISSION.

1. Permission cache isn't updated when move page.
2. Permission cache isn't updated when add page.

## Steps to reproduce

### 1. Permission cache isn't updated when move page.
1. Create user1, user2
2. Create "visible to user1" page, "visible to user2" page
3. Assign user1's can_view + ACCESS_PAGE_AND_DESCENDANTS permission to "visible to u

[2021-07-07 03:59] #7088 closed

[2021-07-08 13:20] victor-yunenko commented on #7080
Hi @pupattan, thank you for raising this!

Could it be related to #6801? CMS permissions seem to not work at the moment in general. Or do you mean that it affects only custom plugins, not the default ones?

[2021-07-08 13:43] victor-yunenko commented on #6997
I'm assuming the tests have been fixed, @NicolaiRidani, can we close this one now?

[2021-07-15 00:24] gopackgo90 opened #7091 "[BUG] Django CMS 3.9 Isn't Supported on Python 3.6"
## Description

According to the [Django/Python compatibility table](https://github.com/django-cms/django-cms/blame/3.9.0/docs/index.rst#L166), Django CMS 3.9 isn't supported on Python 3.6. This seems odd as it currently lists that every Django CMS from 3.4.5 through 4.0 support Python 3.6, _except_ Django CMS 3.9. Also the Python 3.6 classifier is still listed in the [setup.py](https://github.com

[2021-07-15 00:42] gopackgo90 opened #7092 "[BUG] LanguageCookieMiddleware Should Respect All LANGUAGE_COOKIE_* Settings"
## Description

Today, the `django_cms.cms.middleware.language.LanguageCookieMiddleware` doesn't respect numerous Django settings such as `LANGUAGE_COOKIE_HTTPONLY`, `LANGUAGE_COOKIE_SAMESITE`, `LANGUAGE_COOKIE_SECURE`, etc.

## Steps to reproduce

1. Use `django_cms.cms.middleware.language.LanguageCookieMiddleware` in `MIDDLEWARE` in `settings.py`.
2. Set one of the unused LANGUAGE_COOKIE_* setti

[2021-07-15 02:12] goutnet commented on #7091
@marksweb thoughts?

[2021-07-15 18:40] marksweb commented on #7091
@goutnet Tests run against current python and the 2 previous so 3.7, 3.8, 3.9. ([here](https://github.com/django-cms/django-cms/blob/release/3.9.x/.github/workflows/test.yml))

Given that 3.9 didn't officially exist when I modified this table, I imagine I set the table against that. It will work in 3.6, but if we're not testing it, it shouldn't really go on that table.

That said, 3.9 does have as

[2021-07-15 18:54] marksweb commented on #7031
I can't see any settings on RTD that would have caused this so it's still a bit of a mystery.

However it seems that the new docs theme doesn't have this link, so I'm going to close this.

[2021-07-15 18:54] #7031 closed

[2021-07-16 00:51] goutnet commented on #7091
On this IMO, we should follow supported Django policy in term of python support, not sure which version is supported @marksweb ?

[2021-07-16 02:40] gopackgo90 commented on #7091
Django's Python support policy is described at https://docs.djangoproject.com/en/3.2/faq/install/#what-python-version-can-i-use-with-django.

[2021-07-16 08:42] goutnet commented on #7091
From that page:

Django version | Python versions
-- | --
2.2 | 3.5, 3.6, 3.7, 3.8 (added in 2.2.8), 3.9 (added in 2.2.17)
3.0 | 3.6, 3.7, 3.8, 3.9 (added in 3.0.11)
3.1 | 3.6, 3.7, 3.8, 3.9 (added in 3.1.3)
3.2 | 3.6, 3.7, 3.8, 3.9

 Seems we have to keep 3.5 & 3.6 since we didn't discard Django 2.2 support, right? @marksweb

[2021-07-16 08:47] marksweb commented on #7091
@goutnet I'd argue we can drop 3.5 because of it's age & not follow django exactly. Especially given that 3.9 brought in 3.2 support where django then drops 3.5.

If people really want to use python 3.5, we've got older releases of cms that support it (any release up to now).

[2021-07-16 10:14] goutnet commented on #7091
works for me then :)

as for the fix, I think this should be applied on develop, so that we pick everything from there on next release :) (targetting somewhere around August for next release, either 3.9.1 or 3.10.0 depending on what is in the pipe) :)

[2021-07-18 04:29] #7091 closed

[2021-07-18 17:43] JINAY08 commented on #4105
Is this still required(is it still open)?

[2021-07-22 13:30] victor-yunenko commented on #5710
Could need a bit of discussion, since I'm assuming that it was done to show the resulting published version to the user, and the editor mode exit is a side effect of that intention.

[2021-07-27 12:18] zkne opened #7099 "Potential performance optimization for fetching Page titles"
Hi everyone, sorry for not using a template but this is not for a bug template.

I have a technical question regarding performance optimizations for CMS. I’ve noticed that retrieving titles of the pages are not optimized and I’m wondering is there a reason why it was implemented like this. Here is an example:

`[page.get_title() for page in Page.objects.filter(id__in=[1, 2, 3, 4, 5, 6, 7])]`

Crea

[2021-07-29 13:13] victor-yunenko commented on #7099
Hi @zkne, thank you for the proposition! Indeed there are a lot of easy opportunities to improve the caching mechanism.

Probably the main reason is that the typical django CMS website isn't tremendously large, and current those issues aren't highly apparent. But I agree with your idea and a PR from you would be warmly welcome!

[2021-07-30 00:13] goutnet commented on #7029
@gabrielcandrade based of the comments before, I think they create those pages by the UI.

[2021-07-31 19:17] marksweb opened #7100 "[feat] Add Help Button to toolbar by default"
Issue to track implementation of a help menu in the toolbar (#7094)

There is currently no visible help/support to people using django-cms, so it was proposed by @NicolaiRidani in #7094 that we add something to the toolbar.

I've started on this, allowing the toolbar to be disabled and extra links to be added to a default list.

Settings for this are likely to look like;

[code]

[2021-08-01 21:50] marksweb opened #7102 "Flake8 checks being ignored"
Looking over a PR I've submitted I've noticed we're running `flake8`, but ignoring any errors. (using the `--exit-zero` flag)

This seems a bit pointless.

It's certainly something we should run, but clearly it needs better configuration. If the current state of the project is acceptable, the current failures should be added to the excluded list & the exit zero flag removed from the linting action

[2021-08-02 08:29] oko-vac commented on #6523
Same issue here.

[2021-08-02 11:58] stefanw opened #7103 "[BUG] `ProgrammingError` on migrate when system check causes db query in raw_id_fields property"
## Description

The exception (see stack trace below) is generated by a system check that checks raw id fields which in django CMS does a database query(!):

https://github.com/django-cms/django-cms/blob/release/3.9.x/cms/admin/permissionadmin.py#L158-L173

This function already expects an exception during migrate, but only an `OperationalError`. Apparently it also needs to catch a `ProgrammingErr

[2021-08-02 14:39] Aiky30 commented on #7102
Agreed, I've not seen any of the projects actively ignoring flake8 errors. If there are errors / warnings that should be ignored they are normally added to the setup.cfg file.

[2021-08-02 15:32] Aiky30 commented on #7103
I am guessing that you are extending the user model with your own extended user model, if that is indeed the case try and run the migrations with RAW_ID_USERS = False, and or removing the setting that sets the custom user model. Once you get the migrations to run the model exists it should then start to work with your current overrides / settings.

[2021-08-02 18:05] stefanw commented on #7103
@Aiky30 Thanks, it worked with `./manage.py --skip-checks`. I wanted to raise this issue given the (incomplete) workaround present in the code.

[2021-08-02 19:38] marksweb commented on #7102
@Aiky30 I'll go over things, make some sensible choices over ignoring things & changing code 👍

[2021-08-04 16:00] jbpenrath opened #7106 "[BUG] - Language Middleware does not support Django LANGUAGE_COOKIE_* settings"
## Description
Except `LANGUAGE_COOKIE_NAME`, all other `LANGUAGE_COOKIE` django settings are not take in account.

Furthermore, modern browsers will start soon to reject cookies which have same-site sets to None and are not secure. Currently it is impossible to respect this policy with Django CMS.

## Steps to reproduce

1. In your settings.py, set `LANGUAGE_COOKIE_SAMESITE='Lax'` or any other `L

[2021-08-04 18:32] jbpenrath commented on #7106
Duplicate with #7092

[2021-08-04 18:32] #7106 closed

[2021-08-05 09:31] SteveGZr opened #7108 "[BUG] django cms mode switcher disappears after plugin save"
## Description
When saving plugin while structure is open the mode switcher button disappears.

## Steps to reproduce
1. Log in as a staff user
2. Go to any site in the cms
3. Open the structure
4. Edit a plugin
5. Save it
6. Wait for cms-content-refresh
7. Structure Button disappears

## Expected behaviour
The Button should not disappear.

## Actual behaviour
The Button disappears.
The div `<div

[2021-08-06 12:26] victor-yunenko commented on #5760
Interesting, I would be curious to see how related it could be to #6433.

At some point we created a [djangocms-helpers](https://gitlab.com/what-digital/djangocms-helpers/-/tree/master/) package that among other things fixed all static placeholder publishing issues for us, could be worth trying out.

[2021-08-06 12:37] victor-yunenko commented on #5839
Personally I prefer the system to stay consistent, I wonder whether somebody could be relying on this behavior now though?

But I definitely like to idea of making that condition configurable & documenting it properly!

[2021-08-06 23:27] marksweb commented on #6934
Closing this as the linked PR has been merged.

[2021-08-06 23:27] #6934 closed

[2021-08-07 00:23] marksweb commented on #6909
Closing this as the new docs theme doesn't have this option.

[2021-08-07 00:23] #6909 closed

[2021-08-07 00:42] marksweb commented on #6902
Closing this due to insufficient info.

[2021-08-07 00:42] #6902 closed

[2021-08-09 07:44] SteveGZr commented on #7108
Additional Information:

The problem does not occur when the user has the permission to edit static placeholders.

[2021-08-09 10:24] zkne opened #7110 "Possibility to optimize downcast_plugins function"
Hello everyone I’ve noticed one potential performance improvement.

I have an issue rendering a plugin with one-to-many relations and related objects have relations to other objects. Rendering all data in the template is causing a lot of queries as every object is doing an additional query to fetch the related object.

I’ve noticed the when rendering plugin [downcast_plugins](https://github.com/dj

[2021-08-11 09:40] Aiky30 commented on #7099
@jrief Maybe worth using one of your large projects to test the performance improvements on v3.

[2021-08-11 11:49] jrief commented on #7110
Thanks @zkne for finding this. Could you please make a benchmark and test the difference in rendering a page containing a lot of plugins, once as

[code]

and once as

[code]

would be interesting to see the difference.

[2021-08-12 13:21] victor-yunenko commented on #5989
The PR from #6034 has an example solution (thank you @SteinRobert!) and just needs a bit of adjustment.

[2021-08-18 15:52] nichoski opened #7113 "[BUG] Publish button disappears after plugin editing"
## Description
The publish button blinks after editing plugins on some projects, and completely disappears on others.

## Steps to reproduce
Use django newer than 2.2.19 and any django-cms version newer than September 2014. Create a text plugin. Edit the text plugin. In most cases you will notice the publish button blink. In rare occasions (in some project not so rare, almost always) the publish b

[2021-08-19 09:35] marksweb commented on #7113
Just looking at this with;

[code]

Upon saving the text plugin, I can see that the plugin button is removed, but it does return. What you're saying about the two requests makes sense, but I'm not familiar with the details here.

Have you located where the two requests are triggered for the toolbar & page contents? I'd like to take a look at these.

[2021-08-19 09:47] nichoski commented on #7113
@marksweb yes, in `cms/static/cms/js/modules/cms.structureboard.js` in `invalidateState` method, we call `_loadToolbar()`, and `updateContent()`. The `_loadToolbar()` function is the one refreshing the toolbar, i.e. the broken one.

[2021-08-19 13:10] victor-yunenko commented on #6067
I think this is kind of expected given that the pages list has a custom interface that most likely doesn't support this django feature.

That said there might be a simple way to fix it hence a PR is warmly welcome!

[2021-08-19 13:12] victor-yunenko commented on #6194
I would expect the issue to still be there, but would be nice to confirm with the latest CMS version.

[2021-08-31 20:10] pakal opened #7117 "[BUG] delete_orphaned_plugins command might delete too many plugins from site"
## Description

DjangoCMS reported that 7 Text plugins were unsaved (in "cms check" and "cms list plugins" commands).
But when I issued "cms delete_orphaned_plugins" command, ALL plugins disappeared from DB, even the saved and sane ones.

## Steps to reproduce

I have no idea how it happened since I created all plugins normally from frontend, but it seems that an unsaved Text plugin with empty pat

[2021-09-16 13:32] victor-yunenko commented on #6357
Could it be caused by the http timeout?

[2021-09-16 13:38] victor-yunenko commented on #6360
It appears to be a configuration issue? Ie if `LANGUAGE_CODE` is set to `en-us` then yes, it has to be included in `LANGUAGES`. It's also not easy to change the `LANGUAGES` variable due to how `django-parler` works, but there isn't much we can do except maybe documenting it.

For now I'm assuming we can close this ticket. If you think that my assessment is incorrect, please feel free to submit add

[2021-09-16 13:38] #6360 closed

[2021-09-17 18:42] jbazik commented on #6665
I am seeing this, too.  I'm using

- Python 3.7
- Django 2.2.24
- Django-cms 3.9.0

It's just as @darbula says.  I have simple auth backend that provides object permissions and it stopped working when I upgraded.  It never gets passed the object.  I'm going to use `has_placeholder_change_permission` for now.  Also did not see that documented.

[2021-09-23 13:41] victor-yunenko commented on #6997
Looks like it has been handled, please feel free to reopen if needed.

[2021-09-23 13:41] #6997 closed

[2021-09-29 07:04] Kaushal-Dhungel commented on #5817
Hello. Is this issue still relevant ??

[2021-09-29 07:08] Kaushal-Dhungel commented on #5831
Hello. I would like to work on this issue.

[2021-09-29 08:21] TiredFingers commented on #5831
@jrief

[2021-09-29 11:13] zkne commented on #7110
Hey, @jrief I haven't created a public benchmark as you requested. I've checked it for a private project I've been working on and performance gains are significant if there are a lot of plugins on the page that have a complex object structure.

If I find time I will create some POC project to show the potential performance gains. 🤞

[2021-09-30 13:03] jrief commented on #5831
This should be rather easy to fix.

[2021-09-30 13:15] victor-yunenko commented on #6479
I'm assuming we're talking about a UX issue rather than a bug. If I'm not mistaken `application_namespace` is an identifier, it's awkward of course that an editor is asked to manage it.

Sounds as either a better form error message or an improved flow in general would resolve it.

[2021-09-30 13:23] NicolaiRidani commented on #5831
@Kaushal-Dhungel do you have all the information you need?

[2021-09-30 13:26] Kaushal-Dhungel commented on #5831
@NicolaiRidani I think I can get started with this one.

[2021-09-30 13:28] victor-yunenko commented on #6517
Hi @afs2015, thank you for submitting the issue! It might have been resolved in Django CMS 4.0, which uses versioning by default, hence it's worth verifying it before proceeding here.

[2021-09-30 13:34] victor-yunenko commented on #6520
Hi @ZippoLag,

Thank you for your interest in django CMS and thank you especially for raising this issue!

The django CMS project is entirely community-driven. This means that we rely on the support of contributors. Would you like to help us solve this issue? We would be very happy to receive a Pull Request from you.

Here are the next steps:
- Have a look at our contributor guidelines
- Join #con

[2021-10-03 08:34] #5831 closed

[2021-10-04 00:48] #7092 closed

[2021-10-04 04:02] vinitkumar opened #7124 "[Developer Experience] Implement black as code formatter"
To ensure the code looks consistent across all the files and remove all style related arguments from the code, I propose that we move to black as our official code formatter. Once decided, we also release instructions on how to configure it and even an example to add it as a pre-commit hook.

A lot of python projects and libraries have moved to black for formatting, and I think we should join the

[2021-10-04 08:10] marksweb commented on #7124
I'm yet to ever use black. I do see it used a lot though in OSS. Typically at work we've only ever been in fairly small teams so it's easy to get everyone to follow the same kind of structure.

I can see the benefit of it on projects like this though. Even if it might completely destroy my preferred coding styles 😆

We could also put black and flake8 into pre-commit hooks so that they're being ran

[2021-10-04 09:26] #7124 closed

[2021-10-04 18:59] markrofail commented on #3378
Why is this still open? Wasn't it resolved by #7020

[2021-10-04 19:04] marksweb commented on #3378
@markrofail Good spot, I'll close this, thanks!

[2021-10-04 19:04] #3378 closed, assigned to marksweb

[2021-10-07 16:00] NicolaiRidani commented on #7108
Hi @shahzaib-92 thx we always welcome contributions. First, you should check out our [contributor guidelines](https://docs.django-cms.org/en/latest/contributing/index.html) and also join our [Slack](https://www.django-cms.org/slack) - #contributors channel. I can then guide you through the next steps.

[2021-10-11 19:45] jpVm5jYYRE1VIKL opened #7134 "[BUG] multilanguage support"
## Description

django cms add plugins from default language to another language placeholder

## Steps to reproduce

1. Install fresh dockerised django-cms using django-cms-quickstart
2. By default django-cms-quickstart silgle language so modify urls.py for i18n support

[code]

3. Add languages in settings.py :
[code]

4. Create page Home using admin page
5. in placeholder add plugin Text and ent

[2021-10-15 22:16] marksweb opened #7137 "[feat] Identify external links in the toolbar"
#7101 introduced a new menu in the toolbar for link to external resources. I believe this is the first time there have been external links in the toolbar.

It'd be good if external links were identified, preferably by a font awesome icon;
https://fontawesome.com/v5.15/icons/external-link-alt?style=solid

The python side of this is fairly straightforward;

`cms_toolbars.py` contains `add_help_menu(

[2021-10-15 22:19] marksweb opened #7138 "[feat] Open external toolbar links in a new tab/window"
#7101 introduced a new menu in the toolbar for link to external resources. I believe this is the first time there have been external links in the toolbar.

In #7137 we're looking to identify external links. The remaining thing would be to have these external links open in a new tab or window.

Adding `target"_blank"` to the links doesn't work here. Likely due to the way the toolbar renders. Theref

[2021-10-16 09:58] #7102 closed

[2021-10-20 17:36] mike667 opened #7141 "[BUG] Django CMS 3.9.0 page_attribute meta_description doesn't work"
https://docs.django-cms.org/en/latest/reference/templatetags.html?highlight=meta_description#page-attribute
Does meta_description work in version 3.9.0? Because all the fields related to description and keywords have disappeared in my admin panel.

How did I read they were removed in release 3.0?
https://docs.django-cms.org/en/latest/upgrade/3.0.html#cms-seo-fields

I can't figure out what the end

[2021-10-23 23:14] MalikRumi opened #7143 "NameError: name 're_path' is not defined"
## Description
I am testing out the demo project and following the tutorial. When I added 'polls' to INSTALLED APPS as directed in part 3, I got the name error.

## Steps to reproduce
1. Go to project/urls.py
2. go up to the imports, where you see:  from django.urls import include, path
3. Scroll down to the urlpatterns, and you see:      re_path(r'^polls/', include('polls.urls')),
## Expected beh

[2021-10-27 15:17] #7143 closed, assigned to nobody

[2021-10-28 10:16] sureshvv opened #7146 "[DOCS] 3.9.0 docs do not explain how to install the tutorial site"
The "Templates and Placeholders" section refers to the tutorial site. Is this forked from github, may be?

## Steps to reproduce

## Expected behaviour

## Actual behaviour

## Screenshots

## Additional information (CMS/Python/Django versions)

## Do you want to help fix this issue?

* [ ] Yes, I want to help fix this issue and I will join #workgroup-pr-review on [Slack](https://www.django-cms.or

[2021-10-29 18:37] duanehutchins commented on #6569
Hi @victor-yunenko ! I wish they replied sooner. I haven't worked with django-cms for a couple years now.

However, I just looked over the 4.x branch code, and there have been some changes that might be resolved the issue already, at least in part, but I'm not sure. I'd have to test to confirm.

I'll try to get some time in the near future to test and maybe mock up a quick patch if it's not alread

[2021-10-30 06:48] air-hand commented on #6571
Hi @victor-yunenko

I think this is not related to #6801.
because this is the issue of CMS_PERMISSION (not django permission) and you wrote "with no code modifications" in that.

I think the setting of CMS_PERMISSION is False by default.

[2021-10-30 07:02] air-hand commented on #6571
If CMS_PERMISSION is True, the staff user needs both django's and cms's permission to add page, change, etc.

[code]

[2021-11-02 08:27] mike667 commented on #7141
I remember when all the meta settings were in the page settings. Now they are missing.
![Screen Shot 2021-11-02 at 10 23 20](https://user-images.githubusercontent.com/9371245/139811080-842c1c2a-8ca0-4868-acd3-f1528376b23e.png)
![Screen Shot 2021-11-02 at 10 23 36](https://user-images.githubusercontent.com/9371245/139811082-955fd0a1-0ad9-46f5-874a-d26168f49cae.png)

django==3.2.8
django-cms==3.9.0

[2021-11-04 18:25] NicolaiRidani commented on #7146
Hi @sureshvv thx. Not really sure why this is supposed to be confusing. The manual installation instructions are separate from the Getting Started Tutorial.

[2021-11-04 18:25] #7146 closed

[2021-11-05 21:00] andre-dasilva opened #7150 "[BUG] Releases json not up to date"
I found that in the djangocms-admin-style package the url:
https://raw.githubusercontent.com/divio/django-cms/releases/releases.json
is used to check for the latest django-cms version.

Two things are wrong in the json:
1. 3.9.0 is missing (latest version)
2. the links to the docs don't work anymore (are probably old)

Will this be updated? I would be glad to help if possible, I just didn't find i

[2021-11-07 11:35] crydotsnake opened #7151 "[BUG - djangoCMS 3.9.0] <li> markup disappears in source view in text plugin"
## Description

If you add a text plugin and enter a markup for an icon in the source view, the markup disappears from the source view after you save and go back to the source view.

## Steps to reproduce

- add a text plugin
- switch to the `source` view, and add a markup: `<i class="fab fa-docker" style="text-align: center; color: #0397F5;"></i>`
- Save, and go back to the text plugin -> `source

[2021-11-07 14:40] marksweb commented on #7151
My first guess would be that `i` tags aren't allowed so it gets stripped.

Would be worth checking the allowed tags.

[2021-11-08 01:28] MacLake commented on #7151
Almost. The problem is that CKEditor thinks that empty `<i></i>` tags don’t make sense and therefore removes it, but some frontend frameworks (ab)use them to display icons.

You need to configure CKEditor to allow empty `<i>` and maybe also `<span>`. My settings look like this (in the Django settings file):

[code]

And in `static/js/addons/ckeditor.wysiwyg.js` I have a copy of the standard settin

[2021-11-08 09:58] crydotsnake commented on #7151
Thanks a lot for your comment! @MacLake ! :)

[2021-11-08 09:58] #7151 closed

[2021-11-08 15:44] mbi commented on #7068
I had exactly the same issue (same behavior, same JS stacktrace) while editing a plugins inside a PlaceholderField. Turns out my the view rendering the detailview for the object with my PlaceholderField would return different templates / context when being called in an AJAX request.

Right after saving the plugin, DjangoCMS will re-request the page with an AJAX `X-Requested-With` which would retur

[2021-11-08 18:46] worthwhile-gwarner opened #7154 "djangocms-admin-style #nav-sidebar styles unreadable in dark mode"
## Description

Tested on Win 11 and macOS 11.6 in Firefox 95.0b4 and Edge 95.0.1020.44. Logging into Django admin and accessing a Pages section reveals the #nav-sidebar element and its child `tr` tags to be set with a background-color of `var(--body-bg)`, which inherits from `base.css` in Django admin (Django 3.2.6) where `@meda (prefers-color-scheme: dark)` sets the body bg to off-black. However

[2021-11-08 18:55] crydotsnake commented on #7154
Hello @worthwhile-gwarner !

Thanks a lot, for creating the issue! And welcome, to the django CMS  project :)

I will move your issue to the [djangocms-admin-style](https://github.com/django-cms/djangocms-admin-style) repository. Because this Issue is related to the djangocms-admin-style package.

[2021-11-10 05:03] vinitkumar commented on #7150
@andre-dasilva You are looking at the wrong repo. Divio doesn't maintain DjangoCMS any more, it's django-cms org.

So if you didn't find that file, it's because it's not present any more in the official repo.

[2021-11-11 10:56] marcosguedes commented on #7068
That's interesting because that just might be it! I'm using it in the same page I use django-el-pagination [which renders a different page depending on the request](https://github.com/shtalinberg/django-el-pagination/blob/3.3.0/el_pagination/views.py#L149) by using is_ajax() and it makes absolute sense that re-requesting a page using AJAX would lead to issues

[2021-11-11 11:03] mbi commented on #7068
That's definitely it. In my code I fixed it like this:
[code]

[code]

[2021-11-11 11:26] marcosguedes commented on #7068
Thank you very much for the explanation and potential fix. I'm closing this issue because it's not a bug. Here's to hoping more people can read this and avoid hitting a wall

[2021-11-11 11:26] #7068 closed

[2021-11-11 11:36] NicolaiRidani commented on #7068
Great @marcosguedes @mbi. Without knowing the context, but is this something we should consider to include in the [docs](https://docs.django-cms.org/en/latest/) as well?

[2021-11-11 11:37] mbi commented on #7068
@NicolaiRidani probably worth mentioning, yes!

[2021-11-11 11:39] NicolaiRidani commented on #7068
OK would yo be so kind and suggest an addition to the docs in #workgroup-documentation on Slack - we will then create a ticket and have a look into it! Thx @mbi

[2021-11-11 11:41] mbi commented on #7068
sure will do.

On Thu, Nov 11, 2021 at 12:39 PM Nicolai ***@***.***> wrote:

--
[image: Cruncher] <http://cruncher.ch/?s=e> Marco Bonetti ***@***.***
+41215466800 https://cruncher.ch/ <http://cruncher.ch/?s=e>

[2021-11-11 12:02] andre-dasilva commented on #7150
@vinitkumar thanks for the reply. i made a PR: https://github.com/django-cms/django-cms/pull/7156 for it. and will close this issue

[2021-11-11 12:02] #7150 closed

[2021-11-11 12:33] marcosguedes commented on #7068
IMO it'll be very hard task to document and properly explain this specific edge case [on an already long page](https://docs.django-cms.org/en/latest/how_to/placeholders.html). The best bet would be for devs to use their google-fu skills and come to this issue on their own (and maybe throw in their own solutions too)

[2021-11-11 15:14] victor-yunenko commented on #6569
Thank you!

It also might be related to #6608? If yes then the proposed override there could help.

[2021-11-11 15:26] victor-yunenko commented on #6670
True, that redirects field also has other issues, on top of that it's hard to know which pages have a redirect and which don't.

Few years ago we switched to djangocms-redirect for all redirects, where it's much easier to manage them. I would prefer to drop this redirect field completely from the core.

[2021-11-15 18:33] duanehutchins commented on #6569
Definitely related, but the proposed workaround only helps in specific cases.

[2021-11-18 20:32] fsimonjetz opened #7160 "[BUG] CSS in <noscript> is loaded when saving plugins"
## Description

In my project, I added some fallback CSS to be loaded in case the user has JavaScript disabled. Enclosed in a `<noscript>` HTML tag, the CMS should never do anything with it. However, after editing a plugin and saving it, the stylesheet defined within the `<noscript>`-tag is loaded. It happens in my own project and I can reproduce it with the Django-CMS quickstart repo.

## Steps t

[2021-11-22 07:22] changeling opened #7161 "[DOC] Please resurrect the targeted 'Integrate django CMS into an existing project' page."
## Description

It would be a tremendous asset to update/bring back the [Integrate django CMS into an existing project
](https://github.com/django-cms/django-cms/blob/3.0.12/docs/how_to/integrate.rst), separately from the install by hand section, which assumes project creation. I suspect there are quite a few potential adopters (like myself) out there who already have established projects and want

[2021-11-22 08:38] NicolaiRidani commented on #7161
thx @changeling our voluntary documentation workgroup will look into it.

[2021-11-24 22:27] dkoenigroer commented on #7113
Hi,
anyone still working on https://github.com/django-cms/django-cms/pull/7114 / https://github.com/django-cms/django-cms/pull/7115 ?

We got the same issue here where sometimes, sometimes not the "Publish" Button switches to the "Show published version" button after saving a plugin and the following reload.

[2021-11-25 17:01] Ismailtlem commented on #6665
Hi,

I am interested in working on this issue.

Do I make a PR with what @darbula suggested ?

[2021-11-28 04:01] changeling commented on #7161
Thank you, @NicolaiRidani. This is the single most useful thing I'd like to see, a streamlined integration flow, to try Django-CMS on one of my own sites as a potential blog backend. I really appreciate how responsive y'all are.

[2021-12-02 08:58] DmytroLitvinov commented on #6959
Hi @macolo ,
Any status on that issue?)

[2021-12-02 17:36] jgadelange opened #7167 "[BUG] Changing DEFAULT_AUTO_FIELD leads to generation of migrations"
## Description

When you set the `DEFAULT_AUTO_FIELD` in your `settings.py` this leads to migrations being generated for `django-cms` (and plugins).

## Steps to reproduce

1. Setup new project
2. Set `DEFAULT_AUTO_FIELD = "django.db.models.BigAutoField"`
3. Run `python manage.py makemigrations # --dry-run --check`
4. Migrations would be generated:

[code]

## Expected behaviour

No migrations sho

[2021-12-09 14:04] barsch commented on #7029
have the same issue above - pages are created via UI in the django backend by a non-admin (having all cms permissions needed). I tested to re-login the user after creating the page but no success - however over time this issue resolved and the user could move the page around etc.

so playing with some settings I figured out that setting the permission cache duration zero seems to solve the issue:

[2021-12-22 09:36] #7110 closed

[2021-12-24 08:49] mbi opened #7175 "[BUG] Admin page tree broken when on sites with more than 1000 pages and L10N turned on"
## Description
On sites that have more than 1000 pages, when rendering [admin/cms/page/tree/menu.html](https://github.com/django-cms/django-cms/blob/develop/cms/templates/admin/cms/page/tree/menu.html#L20) all the page ids and node ids are rendered localized, with e.g. commas or apostrophes for thousands separators.

When we then expand a node, those node's `data-id` are picked up and stored in lo

[2022-01-07 06:32] nferrari opened #7179 "Fix Django requirements (not compatible with Django 4 yet)"
https://github.com/django-cms/django-cms/blob/a412870ce780c383379eb33776a0017b658b6991/setup.py#L9

Django-CMS is not Django 4 compatible. This line needs to be fixed OR the project needs to become compatible (I'm not pretty familiar with the strategy).

[2022-01-07 16:46] JosephBeekmans opened #7180 "@zacqed can you provide additional information as requested in the issues template?"
@zacqed can you provide additional information as requested in the issues template?

_Originally posted by @FinalAngel in https://github.com/django-cms/django-cms/issues/6902#issuecomment-692495610_

[2022-01-07 16:51] JosephBeekmans commented on #7180
Got the same issue. See

<html>
<body>
<h1 style="padding: 0px; margin: 0px; font-weight: normal; color: rgb(0, 0, 0); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;

[2022-01-07 16:51] #7180 closed

[2022-01-07 16:52] JosephBeekmans commented on #7180
Version list
(venv) λ pip list
Package                    Version
-------------------------- -----------
asgiref                    3.4.1
cssselect2                 0.4.1
dj-database-url            0.5.0
Django                     3.0.14
django-classy-tags         2.0.0
django-cms                 3.8.0
django-debug-toolbar       3.2.4
django-filer               2.1.2
django-formtools           2.3

[2022-01-12 10:52] stefanw commented on #6004
If someone stumbles upon this issue of unpublished pages appearing in the menu when there is a published page in a different language: have a look at [the `CMS_LANGUAGES` setting](https://docs.django-cms.org/en/latest/reference/configuration.html?highlight=CMS_LANGUAGES#cms-languages), specifically make sure `hide_untranslated` and `fallbacks` are set to the values you need.

[2022-01-13 13:38] marksweb commented on #7179
#7128 has started to look at django 4.0 support.

[2022-01-14 12:42] #7167 closed

[2022-01-16 13:32] vinitkumar opened #7183 "[FEATURE] Add python 3.10 support"

[2022-01-16 19:10] TiredFingers commented on #7179
Same issue. If user will follow getting started docs and just installs django-cms - it will fail and will not work

[2022-01-16 22:13] marksweb commented on #7160
Thanks for the thorough bug report @fsimonjetz.

This feels like it'd be the fault of the browser, because it should be in control of what's being displayed & identify that `<noscript>` tag & ignore it because it knows javascript is enabled.

[2022-01-17 23:18] greyhare commented on #6911
Just ran into this again, looked it up on GitHub, and wow, deja vu.

Kind of amazing nobody else had this problem.

So does anyone know where to find the code that handles this stuff? Documentation on `cms check`? Anything?

[2022-01-17 23:21] greyhare commented on #6911
All that "how to be a contributor" stuff is personnel management. What I need is recommended debugging processes. What tools you use to instrument code. Recommended practices. That kind of thing.

[2022-01-18 18:18] crydotsnake commented on #6911
Hello @greyhare,

Have a look at our documentation about the CLI: https://docs.django-cms.org/en/latest/reference/cli.html

[2022-01-20 15:34] TiredFingers opened #7185 "[DOC] No invitations for login on localhost:8000"
## Description
If you follow getting started -> installing django cms, there is no any invitations for login. My proposal is change url to localhost:8000/admin

* [x] Yes, I want to help fix this issue and I will join #workgroup-documentation on [Slack](https://www.django-cms.org/slack) to confirm with the team that a PR is welcome.
* [ ] No, I only want to report the issue.

[2022-01-23 21:21] marksweb commented on #7179
This is now in the 3.10 RC1.

[2022-01-23 21:21] #7179 closed

[2022-01-24 08:07] marksweb commented on #7183
PR merged. #7126

[2022-01-24 08:07] #7183 closed

[2022-01-24 17:45] jpVm5jYYRE1VIKL opened #7203 "Python3.10 installation fail"
## Description

Remark:
Well. Since you switched from django-installer to docker . Django-cms became absolutely non developer friendly. if before for developement needed to spend 1 second and see resuld now need to wait till build and publish docker container.
Whole development with django cms became 10 - 30 times longer.  We really started to think to go to wagtail.
Issue:

Python3 on madjaro (py

[2022-01-24 19:01] macolo commented on #7203
hi @jpVm5jYYRE1VIKL thank you for your report.

regarding

It's not relevant to your ticket but since you brought it up I would like to help. Docker is a great concept but sometimes it's a but counterintuitive. for django CMS to recompile you don't have to rebuild the docker image / container. If you run django CMS locally with ./manage.py runserver the runserver will reload as normal upon file ch

[2022-01-24 19:38] marksweb commented on #7203
Hi @jpVm5jYYRE1VIKL

We don't yet support python 3.10 from a pypi/pip package installation.

We're in the process of releasing django-cms 3.10 which does include support for python 3.10. So this will be available soon.

[2022-01-25 07:43] crydotsnake commented on #7203
Hello @jpVm5jYYRE1VIKL,

A few words from my side

As you may know, djangoCMS is an open source project. It lives on the dCA, and on the people who participate in the project. Anyone who wants to can participate in the djangoCMS project here. We are an open community, and absolutely any help is welcome.

djangoCMS is in no way not developer friendly. I can understand that it frustrates you that yo

[2022-01-26 01:33] marksweb commented on #7141
I can confirm that I've got the meta description working as it does in django-cms 3.7 also in 3.9 having just upgraded the project between those versions.

This is what the basic page settings look like;

![Screenshot 2022-01-26 at 01 25 23](https://user-images.githubusercontent.com/1461191/151087511-32c201c9-a2b9-4bc6-a029-60016b3d9a0b.png)

The HTML uses

[code]

This renders

[code]

[2022-01-28 02:43] greyhare commented on #6911
That documentation's entire coverage of the `cms check` command:

Django itself, meanwhile, has a [good example of the](https://docs.djangoproject.com/en/4.0/topics/checks/) [kind of thing I'm looking for](https://docs.djangoproject.com/en/4.0/ref/checks/).

Anyway, I managed to determine [it's a sekizai bug](https://github.com/django-cms/django-sekizai/issues/118), so you can breathe easy.

[2022-01-28 02:49] greyhare commented on #6911
P.S. If anyone else find this on Google and needs a way to skip the check until it works, put this in your `settings.py`:

[code]

[2022-01-28 14:46] marksweb commented on #6947
@davidgomezcol Can you include some template code or more details as to how the header is built & used on the site?

For example, are you using a static placeholder, and are you passing the site object to that?

[code]

[2022-01-28 19:40] #7100 closed

[2022-01-28 19:42] marksweb commented on #6298
@jrief heres my issue raised when I hit the issue with the menu cache keys.

[2022-01-28 22:29] jrief commented on #6298
As I said during the meeting today, we shall use Redis with wildcard key deletion. There is a workaround in memcached which achieves the same result.

[2022-01-29 14:37] gopimarket opened #7214 "django.core.exceptions.FieldError: Local field 'created_by' in class 'PageUser' clashes with field of the same name from base class custom user."
Any work around for this?

[2022-01-30 12:41] marksweb commented on #7214
Hi @gopimarket

This sounds specific to your project setup. Do you have a custom user model with the same field name perhaps?

[2022-01-31 11:18] #6938 closed

[2022-01-31 16:05] marksweb commented on #7134
Hi @jpVm5jYYRE1VIKL, what do you have `CMS_LANGUAGES` set to? Do you use any fallback languages?

[2022-02-02 17:17] gopimarket commented on #7214
Yes

[2022-02-02 17:36] marksweb commented on #7214
@gopimarket in that case, defining a related name may help.
https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.ForeignKey.related_name

[2022-02-02 17:40] gopimarket commented on #7214
No, I tried it did not worked. I used **related_name="%(app_label)s_%(class)s_created_by"** for by custom user model.

[2022-02-02 18:16] marksweb commented on #7214
@gopimarket in that case I think the only solution would be to remove the field from your user model.

[2022-02-05 23:07] crydotsnake opened #7216 "[BUG] djangoCMS 3.10.0RC1 structure tree doesn't open"
## Description
The structure tree in djangoCMS 3.10.0RC1 doesn't open anymore.

## Steps to reproduce

- Install djangoCMS 3.10.0rc1
- Login to the djangoCMS backend and try to open the structure tree

![djangocms3 10 0rc1](https://user-images.githubusercontent.com/39345336/152661867-b021fd9c-99e5-4f5f-8f37-487b69a3c8c0.gif)

## Expected behaviour
The structure tree should open and list all the pl

[2022-02-06 09:51] fsbraun commented on #7216
If I try, the structure tree appears if I reduce the window size beyond some breakpoint. CSS issue?

[2022-02-06 09:55] goutnet commented on #7216
@vinitkumar @marksweb  this might be related to the new build system?  can you help check?

Does this replicates also on `develop` ?

[2022-02-06 20:10] crydotsnake commented on #7216
@fsbraun and I can confirm that the toolbar becomes visible when you minimize the browser window to a certain breakpoint. So it might be a CSS issue here.

![djangocms-toolbar-resize-window](https://user-images.githubusercontent.com/39345336/152699381-872e78f8-7cc5-42a7-89d0-685ef69bc9a6.gif)

[2022-02-07 07:37] fsbraun commented on #7216
@crydotsnake @goutnet A little inspection shows that on a wide screen the class `.cms-structure` gets annotated by an inline style `right: -1031px;` (the particular number seems to vary but is large negative) which makes the structure view disappear to the left:

    <div class="cms-structure cms-structure-condensed" style="right: -1031px; display: block;">
        ...
    </div>

In 3.9. this rea

[2022-02-07 11:16] MacLake commented on #7216
The breakpoint is 2^10. If the viewport width is 1024 px or less, the structure board becomes visible and takes the whole width instead of just a part.

Btw.: Since 3.5.3 I’ve been encountering a strange bug when opening the structure board, most likely it’s not related, but who knows?
https://github.com/django-cms/django-cms/issues/6600

[2022-02-07 14:00] fsbraun commented on #7216
It seems `this.ui.toolbar.width()` returns `0` resulting in `-this.ui.window[0].innerWidth ` being written to the `right` inline style. I have to give up here, since I do not know a thing on the inner workings of the toolbar.

[2022-02-08 01:17] marksweb commented on #7216
Just to back up what @fsbraun has said here, I'm seeing the same thing;

https://user-images.githubusercontent.com/1461191/152898690-8f407f24-f17c-4658-b265-eb72809f12d0.mov

The only change to the structure board since 2018 was in #6699 but that will have been in 3.9

I think it's time to add the expert opinion label & maybe @FinalAngel could help us out.

[2022-02-08 07:10] fsbraun commented on #7216
@marksweb There's been a change to `cms.toolbar.js `, however. Also affected is line 739:

https://github.com/django-cms/django-cms/blob/04e843337d18afe64478d09f00051ed13a49ff55/cms/static/cms/js/modules/cms.toolbar.js#L736-L740

Could it be that the DOM is changed without updating the reference in `this.ui.toolbar` leaving the latter pointing to something that is not displayed and hence has the w

[2022-02-08 09:29] petrklus opened #7220 "[BUG] Toolbar issue when on a custom page - structure mode empty when CMS page with the same slug exists."
## Description

When on a custom App (say /my-url/) with static placeholders, all works fine UNTIL there is a CMS page with a slug matching the custom app is created. Then, structure mode comes up empty.

## Steps to reproduce

1. Create a custom app that uses custom placeholders
2. Test out they work correctly
3. Now, create a CMS page with a slug matching the page
4. Structure mode is now empty,

[2022-02-08 14:56] petrklus opened #7222 "[BUG] Copying a plugin hides the "Publish page changes" and breaks "View published" button"
## Description

On a page with pending changes, using the "Copy" plugin function breaks the "View published" button and hides the "Publish changes" button.

## Steps to reproduce

1. Load up a CMS page with unpublished changes
2. Open the structure mode
3. Select "Copy" for any of the plugins
4. Toolbar updates with the buttons as per the issue above

## Expected behaviour

For the "View published

[2022-02-09 22:34] #7216 closed

[2022-02-09 23:59] benzkji opened #7225 "The fields `created_by` of PageUser, PageGroup and `user`/`group` of PagePermission can cause unwanted user/group deletion"
## Description

As all of these fields are defined as `on_delete=models.CASCADE`. That means, if I delete User A, that has previously created a `PageUser` B, the user B will be deleted as well. I never was really sure what these are anyway... see also #5517 .

## Steps to reproduce

Create User A. Log in with A, create PageUser B. Delete User A. User B is gone as well.

## Expected behaviour

User

[2022-02-12 00:27] MacLake commented on #7216
Hmm, I don’t want to spoil the party, but I still have the bug, and I even checked that the updated file has made it into my test installation.

[2022-02-12 10:01] fsbraun commented on #7216
Hi @MacLake !  Thanks for testing. Indeed, if I install the current develop branch using git, the bug is there and the updated `cms.toolbar.js` file is present. The bundle file is hard to read but it seems not to reflect the fix.

@marksweb Could it be that the bundled js files are not up to date?

@MacLake Do you have the opportunity to run the build process to check if the bug then goes away? (c

[2022-02-12 10:23] marksweb commented on #7216
@fsbraun @MacLake the static bundle is built during the release process so those files don't exist in develop.

[2022-02-12 10:42] fsbraun commented on #7216
If I install from the develop branch, there's a a folder `cms/js/dist/3.9.0` in `static` which contain bundles. It seems to me that they get accessed. Using `./manage.py runserver` my test installation gets `http://localhost:8000/static/cms/js/dist/3.9.0/bundle.toolbar.min.js`.

@marksweb Maybe this Is this an artifact? Obviously, if you just install `pip install https://github.com/django-cms/djan

[2022-02-12 10:59] marksweb commented on #7216
@MacLake ok that's not really a problem, so run `nvm use && gulp bundle` to ensure the static files have been built. Then check if it's fixed.

[2022-02-13 19:11] TiredFingers opened #7236 "[DOC] Install django-cms by hand instruction is incomplete"
## Description

If you follow the instructions - this will lead to the installation of a broken version of django-cms, because

`pip install django-cms`

will install django 4 as a dependency, which we don't support

* [x] Yes, I want to help fix this issue and I will join #workgroup-documentation on [Slack](https://www.django-cms.org/slack) to confirm with the team that a PR is welcome.
* [ ] No,

[2022-02-13 19:14] crydotsnake commented on #7236
We could change it to: `pip install django-cms==3.9.0` for a workaround.

[2022-02-13 19:16] TiredFingers commented on #7236
@crydotsnake or can add

`pip install django==3.2`

[2022-02-13 19:18] TiredFingers commented on #7185
@marksweb Hi, can we merge it?

[2022-02-13 19:18] #7185 closed

[2022-02-13 20:33] marksweb commented on #7236
That wouldn't fix it because 2.2 or above are valid versions for cms 3.9.

@TiredFingers if we've got the "latest" docs version building off develop then it might be worth adding a note that Django 3.2 is recommended and that <4 is required.

The 3.10 release will enforce this though as it includes a change I made that (I think) made the requirement `>=2.2,<4.0`

[2022-02-13 21:00] TiredFingers commented on #7236
Good point, anyway cms is for developers, so we can think that they know what to do with our recomendations

[2022-02-14 17:28] MacLake commented on #7216
@fsbraun @marksweb Thanks for explaining! I just took a small look into it. I can’t find a `package.json`, so `npm install`fails. What do need ǹvm`(Node Version Manager) for? Maybe we just need a bit more documentation on that bundling, or I have missed something. I’ll check it later.

[2022-02-14 17:42] crydotsnake commented on #7216
You need NodeJS 16. And the package.json is in the root folder.

[2022-02-15 16:34] code-review-doctor opened #7240 "Some tests misusing assertTrue for comparisons"
`assertTrue` is not for comparing arguments, should use `assertEqual` for that.

The developer's intent of the test was to compare argument 1 with argument 2, which is not happening. Really what is happening is the test is passing because first argument is truthy. The correct method to use is assertEqual. [more details](https://codereview.doctor/features/python/best-practice/avoid-misusing-unittes

[2022-02-17 20:19] YOBA1112 opened #7244 "[BUG] Some JavaScript libraries have unexpected behaviour in edit mode"
## Description

Some JavaScript plugins have unexpected behaviour in edit mode. In my case - PhotoSwipe.

## Steps to reproduce

1.Install PhotoSwipe
2.Pass some images to PhotoSwipe
3.Try to open PhotoSwipe modal window in edit and preview modes
4.See that modal window popping up only in preview mode, and opening source image in edit mode

## Expected behaviour

Photoswipe modal window opening wh

[2022-02-18 19:44] marksweb commented on #7236
Closing this as I think we resolved it.

[2022-02-18 19:44] #7236 closed

[2022-02-25 07:29] srinathganesh opened #7247 "[DOC] How-to use Django CMS inside an IFrame (from another Application)"
## Description

1. I have a Djnago Application deployed say `https://foo.com`
2. I have installed Django CMS plugin to this Application.
3. From with in  `https://foo.com` I want to add an IFrame to CMS that is located at  `https://foo.com/cms/`

## What does not work
1. Everything works just fine except, when I click on the "X" on Djnago Admin (See screenshot below)

## Javascript Error when I cl

[2022-03-03 14:09] michalnik opened #7258 "[BUG]"
## Description

running djangocms is stopped because of "ModuleNotFoundError: No module named 'pytz'" after start

## Steps to reproduce

1) python3.7 -m venv env
2) source env/bin/activate
3) pip install --upgrade pip
4) pip install djangocms-installer
5) djangocms

## Expected behaviour

Stopped after start because of "djangocms: error: the following arguments are required: project_name"

## Act

[2022-03-03 14:35] tacc-wbomar commented on #7138
To open DjangoCMS menu links in new window, I wrote a JavaScript module:
https://github.com/TACC/Core-CMS/blob/554b408/taccsite_cms/static/site_cms/js/modules/setTargetForExternalLinks.js

_That might not be a permalink, because I could replace my solution with Python via a `templatetag`._

[2022-03-03 18:43] marksweb commented on #7258
Hi @michalnik

It sounds like something in your project depends on pytz but it's not installed.

Simply add pytz to your requirements to ensure its installed.

You may also find it quicker and easier to start with our quick start project: https://github.com/django-cms/django-cms-quickstart

[2022-03-04 18:53] michalnik commented on #7258
I have nothing except django-cms installed. So if something depends on pytz it is django-cms.

[2022-03-04 18:56] michalnik commented on #7258
But it is possible and it is the clue that django-cms depends on django and it depends on pytz. But I did not inquire these possibilities in depth. Should I?

[2022-03-04 19:06] michalnik commented on #7258
Ooops, I reported the bug to wrong project. I am appologize. It belongs to djangocms-installer ...

[2022-03-04 19:06] #7258 closed

[2022-03-04 19:07] marksweb commented on #7258
@michalnik I'd just put pytz in your requirements.

There is a tool that can show you what your installed packages depend on

https://pypi.org/project/pipdeptree/

[2022-03-05 14:52] vinitkumar commented on #7203
@jpVm5jYYRE1VIKL Not sure if you are still subscribed to this thread, you might want to give `django-cms==3.10.0rc2` a try, it add python3.10 support and should just work. But we aware, 3.10.0rc2 is a release candidate and shouldn't be used in production yet.

[2022-03-09 17:21] scrapcode commented on #6518
Using `update()` only updates fields that are explicitly passed. Is passing `changed_date=django.db.models.functions.Now()` as an updated field the [CMSPlugin.move()](https://github.com/django-cms/django-cms/blob/ab1ec2c3930d127eccd23da3e9942104c6aff0fa/cms/models/pluginmodel.py#L282) return an acceptable method to solve this?

[2022-03-09 20:38] marksweb commented on #6518
@scrapcode I'm not familiar with that function so I'm not sure how it compares with what I would typically do with datetime values. I use the django timezone util which would look something like...

[code]

[2022-03-10 01:38] scrapcode commented on #6518
@marksweb I believe the difference is that [django.db.models.functions.Now()](https://docs.djangoproject.com/en/4.0/ref/models/database-functions/#now) uses the time provided by the database. I believe it's used more when time sync is much more important and I'm not sure that is that big of a deal here so I'm going to give this a shot using `django.utils.timezone`.

[2022-03-10 17:24] MacLake commented on #7216
Weeks later… I have taken a look at it and it worked to create a bundle without downgrading nodel,js with nvm. Should it be exactly node.js 16 or at least 16? I have 17.6.0.

[2022-03-10 17:28] crydotsnake commented on #7216
I would try it with nodejs 16. Just to be on the safe side.

[2022-03-10 18:53] marksweb commented on #7216
I'd recommend the use of nvm

https://github.com/nvm-sh/nvm

We have an nvmrc file which allows you to run `nvm use` to switch to the correct node version.

You can also have multiple versions installed and move between them.

[2022-03-22 11:11] fbyaguar opened #7270 "cms/toolbar/toolbar_javascript.html shows python and django version"
When we are logged in as CMS users and have access to the cms toolbar, the "toolbar_javascript.html" template source code shows version information of Django, Python, etc. I think this could lead to security issues. A good solution would be to hide this data for production when settings.DEBUG=False

![Screenshot from 2022-03-22 12-51-58](https://user-images.githubusercontent.com/84343507/159468888

[2022-03-22 11:20] DmytroLitvinov commented on #7270
Hi djangocms team,

The whole conversation is about [that line](https://github.com/django-cms/django-cms/blob/9e8eb17497edf8f40d68f7dcb53b1b2c3576313c/cms/templates/cms/toolbar/toolbar_javascript.html#L28).
Proposal is about adding hiding functionality with `debug` for [that line](https://github.com/django-cms/django-cms/blob/9e8eb17497edf8f40d68f7dcb53b1b2c3576313c/cms/templates/cms/toolbar/toolb

[2022-03-22 12:00] marksweb commented on #7270
I'd consider that very low risk, but I see your point @fbyaguar.

I'd advice always turning `CMS_TOOLBAR_ANONYMOUS_ON` off, so that you only provide the toolbar to users that you trust.

To resolve, this would likely be a case of adding the debug setting into the available CMS context processors and making that line conditional on debug as @DmytroLitvinov suggests.

[2022-03-22 12:06] DmytroLitvinov commented on #7270
@marksweb , I am ready to provide PR. Can I prepare it so it will the reviewed, merged and release in next release?

[2022-03-22 12:26] DmytroLitvinov commented on #7270
@marksweb , prepared [PR](https://github.com/django-cms/django-cms/pull/7271).

[2022-03-23 20:12] fsbraun commented on #7222
A similar but different issue is found in django CMS v4.0.0rc11. There a the toolbar shows "Edit" despite having the structure board open:
<img width="1157" alt="image" src="https://user-images.githubusercontent.com/16904477/159787350-adeb2802-99de-4fdc-975b-eb3a4024c220.png">

[2022-03-23 20:57] #7270 closed

[2022-03-31 10:53] mbi opened #7288 "[BUG] CMS Toolbar wrongly assumes the current object has get_draft_url()"
## Description

To add edit link items to the CMS toolbar for the currently displayed item, we're assigning the current detail object to the toolbar, the usual way:

[code]

Since django-cms 3.10, this now loads to an error:

[code]

The issue is triggered [here](https://github.com/django-cms/django-cms/blob/develop/cms/toolbar/toolbar.py#L329), essentially `get_object_draft_url` assumes that the

[2022-03-31 12:47] mbi commented on #7288
Closing as PR was merged.

[2022-03-31 16:29] ipmb commented on #5079
#7269 may provide a workaround for this

[2022-03-31 17:11] jdgoettsch opened #7290 "[BUG] 'Settings' object has no attribute 'LANGUAGE_COOKIE_HTTPONLY' with django-cms 3.10 and django 2.2"
## Description

Django-CMS 3.10 expects a LANGUAGE_COOKIE_HTTPONLY setting. [This setting is not part of Django in Django 2.2](https://docs.djangoproject.com/en/2.2/ref/settings/) but was [added in Django 3.0](https://docs.djangoproject.com/en/3.0/ref/settings/#language-cookie-httponly).

## Steps to reproduce

1. Install Django-CMS 3.10 with Django 2.2 LTS.

## Expected behaviour

Django-CMS shou

[2022-03-31 22:58] marksweb commented on #7290
Thanks for raising @jdgoettsch - I wasn't aware they only came in with 3.0.

Related issues which the 3.10 middleware addressed;
https://github.com/django-cms/django-cms/issues/7092
https://github.com/django-cms/django-cms/issues/7106
https://github.com/django-cms/django-cms/issues/7107

[2022-03-31 23:08] marksweb commented on #7290
@jdgoettsch incase you're not aware, it's also worth noting that django 2.2 has now reached end-of-life. 3.2 is now the LTS.

[2022-04-05 21:24] igobranco opened #7296 "[BUG] Can't change the cache ttl per page using business logic"
## Description

Can't change the cache ttl per page using business logic.
On [Richie](https://github.com/openfun/richie), CMS for Open Education built on top of Django CMS, we need to limit the cache ttl of each page given a business rule.
Example: after a time has expired the page presentation should change. So it is more efficient to limit the cache ttl for that page during its generation, so on

[2022-04-06 09:25] EdmundoDelGusto commented on #6523
Also missing is:
cms_page_delete_plugin, cms_page_move_plugin and maybe more

I solved it for me by writing my own toolbar-middleware like this:

[code]

[2022-04-21 10:58] sumit-158 commented on #7137
Hi, @marksweb Is anyone is working on this, if not can I work on this? Can you please guide me too how to setup this locally cuz this would be my first contribution to this open source.

[2022-04-21 11:02] crydotsnake commented on #7137
Hello 👋🏽
I'm working on this right now. There is already draft PR for it: #7283

But I had no time to continue working on this so far.

[2022-04-21 17:26] TiredFingers opened #7305 "[DOC] Can't clone repository with ssh public key error"
## Description

Can't clone repo with `git@github.com:django-cms/django-cms-quickstart.git`

## Do you want to help fix this documentation issue?

* [x] Yes, I want to help fix this issue and I will join #workgroup-documentation on [Slack](https://www.django-cms.org/slack) to confirm with the team that a PR is welcome.

[2022-04-21 17:27] TiredFingers commented on #7305
Is it for everybody? Or this is only for me?

The error is `git@github.com: Permission denied (publickey).`

My proposal is change it to https link

[2022-04-21 17:29] crydotsnake commented on #7305
You need a SSH Key: https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2022-04-22 12:51] jrief opened #7306 "[BUG] Remove providing_args from signal handlers"
## Description

According to the Django docs, the parameter `providing_args` is purely documentational and has been removed in Django-4. We should remove it in the signal handlers of django-CMS.

Please read the release notes: https://docs.djangoproject.com/en/4.0/releases/3.1/#miscellaneous-2

## Additional information (CMS/Python/Django versions)

One step forward to Django-4 compatibility.

##

[2022-04-22 13:07] jrief commented on #7306
Just saw that @vinitkumar fixed this in 9e8eb17497edf8f40d68f7dcb53b1b2c3576313c on March 19th.

[2022-04-22 13:07] #7306 closed

[2022-04-25 13:13] TiredFingers commented on #7305
Sure, thank you! But maybe we can change link to code with http and for installation it will be easier?

[2022-04-25 14:19] crydotsnake commented on #7305
I believe it would be better to add a note about this in the README.

[2022-04-26 15:48] fsbraun commented on #7288
This leads to an issue with djangocms_blog: https://github.com/nephila/djangocms-blog/issues/702

[2022-04-27 09:56] benzkji commented on #7288
this leads to issues for everybody who has used `set_object()` for having consistent language url in language switchers...hopefully it will be release soon.

[2022-04-29 06:31] snehlata08 opened #7310 "[BUG]"
On editing source on "text" plugin of cms loses some of the data and changes it to something else.

## Steps to reproduce

1.  Create a cms page
2.  Click on the add plugin button and  add `Text`  plugin.
3.  Click on the source button and put the source below

[code]

## Expected behaviour
![image](https://user-images.githubusercontent.com/79985986/165894654-74734b2a-d411-410c-af65-a8dee265a25a.p

[2022-04-29 08:10] marksweb commented on #7310
This is expected behaviour.

You need to explicitly allow the i tag using the `TEXT_ADDITIONAL_TAGS` setting.

[2022-04-29 08:12] #7310 closed

[2022-05-03 07:47] jrief opened #7311 "[BUG] validate_overwrite_url does not accept URLs containing an anchor"
## Description

Function `cms.forms.validators.validate_overwrite_url` does not validate URLs containing `...#anchor`.

## Steps to reproduce

Open the **Advanced settings** from the page editor and insert a URL containing an `...#anchor` into the field named **Overwrite URL**. On **Save** that field doesn't validate with "You entered an invalid link".

## Expected behaviour

Redirect URLs contain

[2022-05-03 08:06] #7311 closed

[2022-05-05 08:38] macolo opened #7312 "Django/Python compatibility table out of date (Q2 2022)"
- adding django 4
- adding python 3.10
- adding django-cms 3.10, 3.11 (future) and 4.2 (future)

## further considerations
- 3.11 should be LTS compatible with django 3.2 (dropping support for anything below django 3.2)
- python 3.6 is end of life, dropping support right away
- TBD

[2022-05-05 08:48] macolo commented on #7312
Also see https://github.com/django-cms/django-cms/issues/7056

[2022-05-05 12:56] marksweb commented on #7312
To confirm, django-cms 3.10 dropped python 3.6, added python 3.10

I can't remember where django 4 support is up to.

[2022-05-07 08:12] fsbraun opened #7314 "Requesting a page in a non-available language does not redirect as it should"
### Discussed in https://github.com/django-cms/django-cms/discussions/7309

<div type='discussions-op-text'>

<sup>Originally posted by **nstuardod** April 25, 2022</sup>
I help maintaining a site that publishes content in two languages: `es` (default) and `en`. Localized content works and non-translated content is handled properly falling back to Spanish.

This worked fine until our client attemp

[2022-05-09 12:46] #7314 closed

[2022-05-22 01:25] charris-msft opened #7319 "[BUG] After following 'How to install django CMS by hand' getting error 'TypeError: issubclass() arg 1 must be a class'"
## I followed https://docs.django-cms.org/en/latest/how_to/install.html exactly (I believe).

When I ran `manage.py cms check` I got the error:
`TypeError: issubclass() arg 1 must be a class`

I got the same error when running `manage.py runserver`

## Steps to reproduce

1. Follow the install instructions exactly: https://docs.django-cms.org/en/latest/how_to/install.html
2. Run `python manage.py

[2022-05-22 08:18] marksweb commented on #7319
What version of django-cms are you using please?

[2022-05-22 11:00] jpVm5jYYRE1VIKL opened #7320 "[BUG] Exception Type: InterfaceError Exception Value: cursor already closed"
## Description

Quite often standard django cms drop exception InterfaceError Exception Value: cursor already closed during adding new plugins during edition of pages.

## Steps to reproduce

Random but often

## Expected behaviour
have to work normally

## Actual behaviour

[code]

## Screenshots

## Additional information (CMS/Python/Django versions)

used standard django cms quickstart repo.

#

[2022-05-22 12:21] charris-msft commented on #7319
I am using version 3.10.0.

[2022-05-22 21:20] marksweb commented on #7319
Thanks for confirming @charris-msft.

I wanted to confirm that I don't have an issue with this same setup, so we'll need to reach out to the wider community on slack.

[code]

[2022-05-25 12:44] macolo commented on #7312
hi @Aiky30 I accepted the requested changes, @marksweb I updated dcms 3.10 according to your comment. Do you guys think this reflects reality? In that case I would then finalize the PR.

[2022-05-26 16:21] Aiky30 commented on #7312
@macolo I've reviewed and accepted on the basis that the v4 requirements are correct.

[2022-06-03 11:26] im-n1 opened #7334 "[BUG] Using list instead of tuple in except causes major exception and user cannot publish a page"
Here https://github.com/django-cms/django-cms/blob/develop/cms/models/pagemodel.py#L464= you guys use invalid syntax - use tuple instead of list.

Severity: IMHO critical
CMS version: latest/develop branch
Screenshot from our Sentry.

![image](https://user-images.githubusercontent.com/198654/171844673-a49c378c-8148-4103-ae1e-28aa59571824.png)

[2022-06-03 20:00] charris-msft commented on #7319
I posted this issue on the django-cms slack channel and got the following advice:

I found some good instructions for installing and using the djangocms-installer here: [Installing django CMS](https://djangocms.readthedocs.io/en/latest/introduction/install/#installing-django-cms)

[2022-06-09 12:47] lab360-ch opened #7335 "[BUG] Unpublished page stays in menu when another language is still published."
## Description

When on a page with multiple language one language gets unpublished the menu entry in the unpublished languages is still visible on the public page.

The page only disappears from the menu when all the languages of the page are unpublished.

## Steps to reproduce

1. Create a Page with at least 2 languages
2. Publish all languages
3. Unpublish one language
4. In the unpublished lan

[2022-06-09 23:29] marksweb commented on #7335
Hi @lab360-ch

Thanks for raising. Could you please include the details from your template of how you're displaying your menu?

[2022-06-10 10:19] lab360-ch commented on #7335
Hi @marksweb

We use the normal `show_menu` tag

[code]

cms_menus/main_sub_nav.html
[code]
Is this information enough, or do you need more?

Best regards

Ralf

[2022-06-14 08:28] fabien-michel opened #7336 "[BUG] Inconsistent popup width between new and edit"
## Description

The new plugin popup width seems to be defined as percent of window width whereas the edit plugin popup width seems to have a fixed width.

The later cause text plugins to be too narrow for plugin content to be well displayed (ex: file plugin)

### New Text plugin popup

Popup width around 80% of window width
![2022-06-14_101508](https://user-images.githubusercontent.com/1167556/17

[2022-06-16 11:20] marksweb commented on #7335
@lab360-ch Just debugging this one again and I think I can see where this might be happening - and it's intentional if so.

In my example, I've got a Czech site that is configured with the following language settings;

[code]

The menu nodes for rendering the site are gathered in `CMSMenu.get_nodes()`.

Here's a screenshot of that happening;
<img width="770" alt="Screenshot 2022-06-16 at 11 34 23"

[2022-06-16 11:32] lab360-ch commented on #7335
Hi @marksweb

If it's helpful for you, we can discuss the issue together in a Google hangout call

[2022-06-17 13:07] mazulo opened #7340 "[docs] Tests breaking when running with Django 4 installation"
## Description
Hi folks, I just cloned the `django-cms` project to start digging into it. So the first thing I wanted to try was to running the tests. Following the [instructions](https://docs.django-cms.org/en/latest/contributing/testing.html#running-tests) I installed the requirements for `test_requirements/django-4.0.txt` and when running the tests I got a few errors.

## Steps to reproduce
1.

[2022-06-17 13:21] MacLake commented on #7340
django-cms 3.9 and 3.10 are not compatible with Django 4. pip should complain. When I upgrade django it says:

[code]

[2022-06-17 13:44] mazulo commented on #7340
Thank you for quick answer @MacLake! I just upgraded the CMS version for 3.10. One thing that I noticed was that it also uninstalled the Django 4 version and installed `Django-3.2.13` instead. There's one thing tho that I didn't understand (sorry if is a dumb question 😅): Why I got django-cms 3.9 when running `pip install -r test_requirements/django-4.0.txt`? When checking both files `test_require

[2022-06-17 14:01] vinitkumar commented on #7340
@mazulo Can you do this? `pip install -r docs/requirements.txt` and try again?

[2022-06-17 14:13] mazulo commented on #7340
Hey @vinitkumar thank you for your answer! I found this in the project, however I was still confused on why running the `pip install -r test_requirements/django-4.0.txt` as stated on the documentation for running tests would install an outdated version of `django-cms`. I was thinking, maybe we should add either `sphinx==4.4.0` to the `test_requirements/requirements_base.txt` or `-r docs/requiremen

[2022-06-17 14:17] vinitkumar commented on #7340
@mazulo You are right. Some of those parts definitely needs an update. I have not seen this test failure before as I never run the cms tests with `--parallel`. Could you report this failure.

[2022-06-17 14:30] mazulo commented on #7340
@vinitkumar sure! I'll open another issue about this failure.

[2022-06-17 14:52] mazulo opened #7341 "[BUG] Tests breaking when running with the flag --parallel"
## Description
I was just installing and trying to run the tests following the instructions in the documentation. There we have an option saying that we can run the tests with the flag `--parallel`, which seems that it was introduced in Django 1.9. However, when running with this options there's one test erroring.

## Steps to reproduce

1. Install dependencies for tests with `pip install -r test_

[2022-06-18 00:24] marksweb commented on #7340
Ok, so I believe we, as developers, should be setting up as close to the project test environment as we can.

The project test install the test requirements for each version they test, as well as the docs requirements;

https://github.com/django-cms/django-cms/blob/develop/.github/workflows/test.yml

The test in the cms test suite which needs Sphinx does a build of the docs to test it works. This

[2022-06-22 23:55] #7296 closed

[2022-06-27 08:03] jgadelange opened #7344 "[BUG] 500 when invalid overwrite url is filled in"
## Description

From time to time some of our clients manage to put random (invalid) strings as slug in the overwrite url (in advanced settings) which results in 500s.

## Steps to reproduce

1. Go to Advanced settings
2. Enter an overwrite url containing an invalid character (for instance a space)

## Expected behaviour

A validation error is raised that says it is an invalid url.

## Actual beha

[2022-06-27 08:15] jgadelange commented on #7344
Ah, apparently this also holds for the `slug` field, not just the overwrite url.

[2022-06-27 08:25] vinitkumar commented on #7344
I agree, I have noticed these errors too.

[2022-06-27 23:41] marksweb commented on #7290
This should be resolved in the 3.10.1 release.

[2022-06-27 23:41] #7290 closed

[2022-06-28 04:21] DmytroLitvinov opened #7351 "[DOC] No changes for version 3.10.1 in CHANGELOG.md"
https://github.com/django-cms/django-cms/blob/develop/CHANGELOG.rst

[2022-06-28 09:06] marksweb commented on #7351
Correct, you'll notice the version is also not 3.10.1

There's an open PR for these changes.

[2022-06-28 09:07] #7351 closed

[2022-06-28 10:03] DmytroLitvinov commented on #7351
Hi @marksweb ,

I see there is a version 3.10.1 at PyPI: https://pypi.org/project/django-cms/#history

[2022-06-28 10:06] marksweb commented on #7351
That's correct. I built and released it last night.

[2022-06-29 10:41] Aiky30 commented on #6731
@magicproductions, to rephrase your request: @Aiky30 Can you please provide that information here?

@Aiky30: Sure.

Note: This is for a Divio Cloud project with django-cms.

**Django 2.2+**
Modify urls.py of the project by adding:

[code]

At the bottom of requirements.in
[code]

At the bottom of the settings.py file
[code]

**Django 1.11**
Modify urls.py of the project by adding:
[code]

At the b

[2022-06-29 23:08] #7141 closed

[2022-06-30 04:44] greyhare commented on #6911
Did I miss a fix for this?

[2022-06-30 04:46] fsbraun commented on #7222
Fixed in version 3.10

[2022-06-30 04:46] #7222 closed

[2022-06-30 06:23] benzkji commented on #6567
still a minor issue.

[2022-06-30 06:25] benzkji commented on #6566
this may have been resolved, as I remember recent activity in slack...a message from core devs would help?

[2022-06-30 06:29] benzkji commented on #7225
anyone? this is a candidate to shot onesels in the foot...

[2022-06-30 07:52] marksweb commented on #7225
@benzkji this needs raising in a tech committee call I think.

[2022-06-30 07:57] benzkji commented on #7225
yep, think so. removing `created_by` would be no big deal (or use on_delete=models.SET_NULL).

[2022-06-30 07:59] marksweb commented on #6566
I've not come across this issue so I think you're right @benzkji & I'll close.

[2022-06-30 08:05] marksweb commented on #7225
@benzkji i think the issue is that it was agreed no more migrations would go into v3 due to the impact that has on v4

[2022-06-30 11:03] marksweb opened #7352 "Allow page extensions to hook into 'advanced settings' form? #3566"
A feature request worthy of some consideration.

https://github.com/django-cms/django-cms/issues/3566

[2022-07-01 08:32] marksweb commented on #6754
I feel like this got fixed.

[2022-07-01 09:43] marksweb commented on #6911
@greyhare not that I'm aware of.

[2022-07-01 12:38] marksweb commented on #6914
I feel like this got done but I may be wrong

[2022-07-01 22:41] marksweb commented on #7108
I think we fixed this recently so I'll close this.

[2022-07-01 22:41] #7108 closed

[2022-07-03 10:22] marksweb commented on #6600
I think this was resolved recently

[2022-07-03 10:23] #6600 closed

[2022-07-03 10:35] marksweb commented on #7113
Believe this was resolved

[2022-07-03 10:35] #7113 closed

[2022-07-03 10:39] marksweb commented on #6959
It would be fantastic to support CSP, but the work involved is significant.

[2022-07-03 11:00] #7203 closed

[2022-07-03 13:01] #7334 closed

[2022-07-03 22:27] marksweb commented on #6607
Resolved by #7354

[2022-07-03 22:27] #6607 closed

[2022-07-04 02:35] magicproductions commented on #7015
Hi, I have this issue but when I copied the cms file from her and past it to my packages I override the existing one it solved the issue, but I'm using django 3.2 already. is this version not live yet? or how to install django=3.2 with this issue solved please?

[2022-07-04 19:07] marksweb commented on #7015
@magicproductions django-cms 3.9 brought support for Django 3.2 so you should upgrade.
3.10.1 is the latest release but we're close to 3.11 hopefully.

[2022-07-11 13:26] stuaxo commented on #6720
Hi @Aiky30 know if anybody in DjangoCMS land can look at this and decide to fix it?

Any improvements to the docs probably help.

[2022-07-11 13:34] Aiky30 commented on #6720
Hi @stuaxo, Sure thing. I'll post it into the Slack channel and get it marked with a task todo.

[2022-07-11 14:44] febsn commented on #6784
Still an issue (writing this to prevent automatic closing).

[2022-07-11 20:24] stuaxo commented on #6720
Cheers, trying not to be a drive by Dev too much these days :)

[2022-07-14 22:26] marksweb commented on #6784
@Aiky30 Can you add anything new here?

[2022-07-15 07:49] febsn commented on #6784
Also, will it be backported to 3.x?

[2022-07-25 04:34] #7305 closed

[2022-07-25 18:14] jpVm5jYYRE1VIKL commented on #7320
Same on postgre sql 14.4
django=3.2
django cms = 3.10.1

[2022-07-25 23:05] marksweb commented on #7320
@jpVm5jYYRE1VIKL This is likely a configuration issue with the web server.

Have a read of this; https://forum.djangoproject.com/t/db-connection-closed-by-uwsgi-in-the-middle-of-handling-a-request/9875/6

[2022-07-26 06:04] jpVm5jYYRE1VIKL commented on #7320
@marksweb Most probabaly. But it happens with  django-cms-quickstart standard project.  So it does not have any specific settings.

[2022-07-26 09:39] lab360-ch commented on #7335
Hi @marksweb

Are they any information about the status of the ticket?

[2022-07-26 11:38] marksweb commented on #7335
@lab360-ch nothing new. This still needs more investigation into where the query is happening to return the unpublished page that you're seeing.

One thing that just occurred to me is there's no filter on the published status in the query  captured previously.

[2022-07-26 11:43] marksweb commented on #7320
@jpVm5jYYRE1VIKL how are you running the quickstart project when you hit this error?

[2022-07-26 11:56] jpVm5jYYRE1VIKL commented on #7320
@marksweb . Quite simple steps.
Of course i added my own templates and menu.
I also updated some libs in requirements.in (compiled it with pip-compile requirements.in >> requirements.txt)
and also updated postgre separate image from 9.6-alpine to 14.4-alpine (because thought that may be issue binded with 9.6 pgre )

I build using Dockerfile image .
after it assign tag to image and publish to regis

[2022-07-27 15:11] marksweb commented on #5951
@peacefulseeker I feel like there have been some improvements for this, but I may be wrong.

There's not been any discussion of changes to this area though. Few people have sites with this many pages, at least amongst the regular contributors, so I think it's difficult to get input on this.

[2022-07-27 15:45] peacefulseeker commented on #5951
@marksweb , thanks for the quick response. At the moment we do have around 200 pages listed, and it already feels laggy.
Is there documentation about how to extend/adjust that page tree view?
For example, if I would like to:
- prevent accidental page moves, e.g. top-level page accidentally moved and became a child of another page, leading to page slug change, which is undesired.
- create/duplicate

[2022-07-28 02:48] #6601 closed

[2022-07-28 02:48] #6783 closed

[2022-07-28 02:48] #6908 closed

[2022-07-28 02:48] #6978 closed

[2022-07-28 02:48] #7072 closed

[2022-07-28 02:48] #6776 closed

[2022-07-28 02:48] #6889 closed

[2022-07-28 02:48] #5716 closed

[2022-07-28 02:48] #5732 closed

[2022-07-28 02:48] #7080 closed

[2022-07-28 02:48] #6194 closed

[2022-07-28 02:48] #6241 closed

[2022-07-28 02:48] #6243 closed

[2022-07-28 02:48] #7117 closed

[2022-07-28 02:48] #6328 closed

[2022-07-28 02:48] #6329 closed

[2022-07-28 02:49] #6357 closed

[2022-07-28 02:49] #6373 closed

[2022-07-28 02:49] #6406 closed

[2022-07-28 02:49] #6434 closed

[2022-07-28 02:49] #6451 closed

[2022-07-28 02:49] #6463 closed

[2022-07-28 02:49] #6514 closed

[2022-07-28 02:49] #6517 closed

[2022-07-28 02:49] #3548 closed

[2022-07-28 02:49] #3153 closed

[2022-07-28 02:49] #6384 closed

[2022-07-28 02:49] #6526 closed

[2022-07-28 02:49] #6895 closed

[2022-07-28 03:48] #6741 closed

[2022-07-28 03:48] #6745 closed

[2022-07-28 03:48] #6765 closed

[2022-07-28 03:48] #6774 closed

[2022-07-28 03:48] #6703 closed

[2022-07-28 03:48] #6683 closed

[2022-07-28 03:48] #6680 closed

[2022-07-28 03:48] #4627 closed

[2022-07-28 03:48] #4983 closed

[2022-07-28 03:48] #5021 closed

[2022-07-28 03:48] #5033 closed

[2022-07-28 03:48] #5297 closed

[2022-07-28 03:48] #5328 closed

[2022-07-28 03:48] #5411 closed

[2022-07-28 03:48] #5403 closed

[2022-07-28 03:48] #5565 closed

[2022-07-28 03:48] #5802 closed

[2022-07-28 03:48] #5866 closed

[2022-07-28 03:48] #6541 closed

[2022-07-28 03:48] #7004 closed

[2022-07-28 03:48] #6963 closed

[2022-07-28 03:48] #6990 closed

[2022-07-28 03:48] #6987 closed

[2022-07-28 03:48] #7003 closed

[2022-07-28 03:48] #6942 closed

[2022-07-28 03:48] #6560 closed

[2022-07-28 03:48] #6916 closed

[2022-07-28 03:48] #6621 closed

[2022-07-28 03:48] #6620 closed

[2022-07-28 04:47] #6650 closed

[2022-07-28 04:47] #6670 closed

[2022-07-28 04:47] #7175 closed

[2022-07-28 04:47] #7029 closed

[2022-07-28 04:47] #7160 closed

[2022-07-28 04:47] #6947 closed

[2022-07-28 04:48] #6946 closed

[2022-07-28 04:48] #7134 closed

[2022-07-28 04:48] #7214 closed

[2022-07-28 04:48] #7240 closed

[2022-07-28 04:48] #7244 closed

[2022-07-28 04:48] #7247 closed

[2022-07-28 07:02] #2639 closed

[2022-07-28 07:02] #3204 closed

[2022-07-28 07:02] #3367 closed

[2022-07-28 07:02] #5440 closed

[2022-07-28 07:02] #6574 closed

[2022-07-28 07:02] #5060 closed

[2022-07-28 07:02] #6685 closed

[2022-07-28 07:02] #6697 closed

[2022-07-28 07:03] #6700 closed

[2022-07-28 07:03] #6811 closed

[2022-07-28 07:03] #6865 closed

[2022-07-28 07:03] #3535 closed

[2022-07-28 07:03] #5307 closed

[2022-07-28 07:03] #5383 closed

[2022-07-28 07:03] #5849 closed

[2022-07-28 07:03] #5445 closed

[2022-07-28 07:03] #6785 closed

[2022-07-28 07:03] #6904 closed

[2022-07-28 07:03] #6800 closed

[2022-07-28 07:03] #6936 closed

[2022-07-28 07:03] #6792 closed

[2022-07-28 07:03] #6943 closed

[2022-07-28 07:04] #6763 closed

[2022-07-28 07:04] #6750 closed

[2022-07-28 07:04] #6746 closed

[2022-08-02 20:49] creyD commented on #5517
@gignosko Could you create another PR for this? @mkoistinen As far as I can see it is used for some of the permissions. So I am not quite sure about entire removal, but we could definitely rename it or opt for the One-To-One-Field instead of the PageUser inheriting from the default user.

[2022-08-02 20:54] creyD commented on #7225
Yes #5517 is a duplicate, and should probably be closed as such. As I added there removal is not even necessary, it would suffice to convert the PageUser to be connected to the AUTH_USER_MODEL by a one-to-one-field.

BTW: This issue is from 2015 originally and there were other ideas discussed in the previous tickets.

[2022-08-02 20:54] creyD commented on #5517
Further discussed in #7225 7225

[2022-08-02 20:54] #5517 closed

[2022-08-05 01:41] jamalex opened #7375 "[BUG] "django.db.utils.OperationalError: error in index cms_cmsplugin_level_0ccc318d after drop column: no such column: level""
## Description

I started a new project, following the virtualenv instructions, and sqlite. When trying to run migrations, it fails when trying to drop what appear to be old MPTT fields (level, lft, rght, etc), which don't appear to exist:

[code]

## Steps to reproduce

Followed the instructions at https://docs.django-cms.org/en/latest/how_to/install.html#installation

with settings:

[code]

##

[2022-08-05 01:54] jamalex commented on #7375
I note that commenting out these lines in the migration allow it to complete, but I'm not sure whether that would cause other issues down the line:

[code]

[2022-08-05 03:09] jamalex commented on #7375
Sorry, I missed this line in one of the callouts on the instructions page:

I downgraded to Django 3.2 and it no longer gave this error with the original migration. Sorry!

[2022-08-05 03:09] #7375 closed

[2022-08-05 12:27] marksweb commented on #7375
@jamalex I note the settings generated using django 4.1. I think django-cms 3.11 supports 4.0, but I don't think we support 4.1 yet.

[2022-08-09 15:09] adrien-delhorme commented on #6857
I just need a validation for this proposal, then I can submit a pull request to fix this, please reopen this issue 🙏

[2022-08-10 23:52] marksweb commented on #6857
@adrien-delhorme If a user is already logged in, I personally think a redirection to a login page is confusing. I know by default django's login doesn't redirect authenticated users away from the login page, but `django-allauth` does by default redirect away from login.

My preference on this would be a 403 response with a message to say that they don't have permission to access the page.

It'd be

[2022-08-17 12:10] #7137 closed

[2022-08-25 12:44] creyD commented on #6914
I tried to do this, but it doesn't work, as the reload method returns a new object from the database and the refresh_from_db returns the same object, which means a lot of the tests are failing.

[2022-08-30 09:09] lab360-ch commented on #7335
Hi @marksweb

Any news on the topic? Are there any info missing? Or are there some other things we can support you?

[2022-09-01 11:16] kat0016-k commented on #7344
I would like to solve this issue please assign me.

[2022-09-03 11:22] marksweb commented on #7344
Oh good point @jgadelange. I once had a client do this & I don't think I could fix it. I think the page just had to be hidden away in the tree.

[2022-09-08 09:19] mbi opened #7386 "[BUG] management command "cms check" doesn't work (again)."
## Description

This appears to be exactly the same bug that was fixed in #7033:

When running the subcommand, [this line](https://github.com/django-cms/django-cms/blob/develop/cms/management/commands/subcommands/base.py#L39) doesn't check for `DJANGO_4_0`, so the command fails with

[code]

## Steps to reproduce

1. Install django-cms==3.11 and Django==4.0
2. python manage.py cms check

[2022-09-12 01:42] weeser commented on #7386
I am also getting this error, but with django 4.1.1:

(venv) A:\workspace\>python manage.py cms fix-tree
Traceback (most recent call last):
  File "A:\workspace\manage.py", line 22, in <module>
    main()
  File "A:\workspace\manage.py", line 18, in main
    execute_from_command_line(sys.argv)
  File "A:\workspace\env\venv\lib\site-packages\django\core\management\__init__.py", line 446, in execute

[2022-09-12 10:33] #7386 closed

[2022-09-13 08:15] florianschieder opened #7388 "[BUG] npm dependencies seem not to be installed reproducibly"
## Description

We recently encountered unreproducible issues while editing a page within our CMS which is based on DjangoCMS 3.9.0.
I found out a possible reason: The npm dependencies seem not to be installed reproducibly.

[DjangoCMS package.json (3.9.0)](https://github.com/django-cms/django-cms/blob/release/3.9.x/package.json) defines some "compatible with"-dependencies (see [here](https://docs

[2022-09-13 11:48] marksweb commented on #7388
@florianschieder Thanks for reporting. What issue did you encounter?

I don't believe [install-npm-dependencies.sh](https://github.com/django-cms/django-cms/blob/develop/scripts/install-npm-dependencies.sh) has been used in 3.9, 3.10 or 3.11.

The release script uses `prepare-buildenv.sh`, although this still uses `npm install`, I'll admit. We're still trying to improve our build & release process

[2022-09-14 12:31] fsbraun opened #7389 "[BUG] CMS v4: Placeholder burger menu "Empty all" does not work"
## Description

If the user selects "Empty all" from the placeholder burger menu in the structure board a modal window opens with the same edit view of the page (and its own structure board).

## Steps to reproduce

![image](https://user-images.githubusercontent.com/16904477/190152685-8261c4e1-2567-4e0e-93f6-9d178b03fe51.png)

## Expected behaviour

The expected behavior is to open a modal with a

[2022-09-14 12:48] florianschieder commented on #7388
Thanks very much for your quick response.

The problem we encountered was that after we deployed our CMS based on DjangoCMS at the 8th of september, saving a plugin led to a page reload. That has been very annoying and DjangoCMS never behaved like that before.

After I rebuilt all dependencies the day before yesterday everything was fine again. Since our dependency installations are absolutely fro

[2022-09-14 15:35] Dxvid opened #7390 "Upgrading from 3.10.0 to 3.11.0 lacking asgiref"
Recently upgraded an application from django-cms 3.10.0 to 3.11.0.
asgiref isn't included as a dependency so when adding django-cms 3.11.0 I had to manually add asgiref to requirements.txt for it to install.
Even after adding asgiref it won't run and the application throws an exception already here at the import from cms.models.pluginmodel:
"from cms.models.pluginmodel import CMSPlugin"

Let me kn